Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

[Bindings] re-normalize onnx multimodal embeddings after MRL truncation
  onnx-binding/src/model_architectures/embedding/multimodal_embedding.rs
Due: cargo-fmt, cargo-check

[Dashboard] read deployed config from projection with startup bootstrap
  dashboard/backend/configprojection/store.go
  dashboard/backend/configprojection/store_test.go
  dashboard/backend/configprojection/types.go
  dashboard/backend/handlers/config.go
  dashboard/backend/handlers/config_backups.go
  dashboard/backend/handlers/config_projection_bootstrap.go
  dashboard/backend/handlers/config_projection_read.go
  dashboard/backend/handlers/config_projection_read_test.go
  dashboard/backend/handlers/deploy.go
  dashboard/backend/handlers/health.go
  dashboard/backend/handlers/status.go
  dashboard/backend/router/router.go
  deploy/helm/semantic-router/templates/dashboard-deployment.yaml
  deploy/helm/semantic-router/values.yaml
  docs/architecture/state-taxonomy-and-inventory.md
  e2e/profiles/dashboard/dashboard-deployment.yaml
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Bindings] re-normalize onnx multimodal embeddings after MRL truncation (#2188)
  onnx-binding/src/model_architectures/embedding/multimodal_embedding.rs
Due: cargo-fmt, cargo-check

docs: align homepage team with governance
  website/i18n/zh-Hans/code.json
  website/src/components/TeamCarousel/index.tsx
  website/src/components/TeamCarousel/styles.module.css
  website/src/data/teamMembers.tsx
  website/src/pages/community/team.tsx
Due: none

[Router] refactor OpenAI backend dialect handling
  src/semantic-router/pkg/extproc/req_filter_provider_dialect.go
  src/semantic-router/pkg/extproc/req_filter_provider_dialect_test.go
  src/semantic-router/pkg/extproc/req_filter_reason.go
  src/semantic-router/pkg/extproc/req_filter_request_params.go
Due: go-fmt

[Router] require embedding weights+tokenizer for download completeness
  src/semantic-router/pkg/modeldownload/config_parser.go
  src/semantic-router/pkg/modeldownload/embedding_completeness_test.go
Due: go-fmt

[CI] Auto-mark stale issues and PRs
  .github/workflows/stale.yml
Due: yaml-and-yml-fmt

[Bindings] refactor onnx multimodal output extraction
  onnx-binding/src/model_architectures/embedding/multimodal_embedding.rs
Due: cargo-fmt, cargo-check

[Router] require embedding weights+tokenizer for download completeness (#2195)
  src/semantic-router/pkg/modeldownload/config_parser.go
  src/semantic-router/pkg/modeldownload/embedding_completeness_test.go
Due: go-fmt

[Router] add unit and integration tests for looper usage aggregation
  src/semantic-router/pkg/looper/usage_integration_test.go
  src/semantic-router/pkg/looper/usage_test.go
Due: go-fmt

[Router] add TokenUsage helpers and capture per-call usage in looper client
  src/semantic-router/pkg/looper/client.go
  src/semantic-router/pkg/looper/usage.go
Due: go-fmt

[Router] aggregate and report real token usage across looper algorithms
  src/semantic-router/pkg/looper/base.go
  src/semantic-router/pkg/looper/confidence.go
  src/semantic-router/pkg/looper/looper.go
  src/semantic-router/pkg/looper/ratings.go
  src/semantic-router/pkg/looper/remom.go
  src/semantic-router/pkg/looper/rl_driven.go
  src/semantic-router/pkg/looper/rl_driven_test.go
Due: go-fmt

[Router] Report real token usage across looper algorithms (#2198)
  src/semantic-router/pkg/looper/base.go
  src/semantic-router/pkg/looper/client.go
  src/semantic-router/pkg/looper/confidence.go
  src/semantic-router/pkg/looper/looper.go
  src/semantic-router/pkg/looper/ratings.go
  src/semantic-router/pkg/looper/remom.go
  src/semantic-router/pkg/looper/rl_driven.go
  src/semantic-router/pkg/looper/rl_driven_test.go
  src/semantic-router/pkg/looper/usage.go
  src/semantic-router/pkg/looper/usage_integration_test.go
  src/semantic-router/pkg/looper/usage_test.go
Due: go-fmt

ci: ignore chrome apt source in k8s integration
  .github/workflows/integration-test-k8s.yml
Due: yaml-and-yml-fmt

fix(looper): aggregate fusion token usage
  src/semantic-router/pkg/looper/fusion.go
  src/semantic-router/pkg/looper/fusion_test.go
Due: go-fmt

feat: align fusion and auto routing entries
  config/README.md
  config/config.yaml
  dashboard/frontend/src/pages/configPageRouterDefaultsCatalog.ts
  dashboard/frontend/src/pages/configPageRouterDefaultsSupport.ts
  dashboard/frontend/src/pages/configPageSupport.ts
  docs/agent/plans/pl-0034-fusion-api.md
  src/semantic-router/pkg/apiserver/route_models.go
  src/semantic-router/pkg/apiserver/route_models_test.go
  src/semantic-router/pkg/classification/classifier_signal_decision.go
  src/semantic-router/pkg/classification/classifier_signal_decision_test.go
  src/semantic-router/pkg/config/auto_model_names_test.go
  src/semantic-router/pkg/config/canonical_export.go
  src/semantic-router/pkg/config/canonical_global.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/req_filter_classification_runtime.go
  src/semantic-router/pkg/extproc/req_filter_fusion.go
  src/semantic-router/pkg/extproc/req_filter_looper_test.go
  src/semantic-router/pkg/extproc/req_filter_models.go
  src/vllm-sr/cli/config_migration.py
  website/docs/installation/configuration.md
  website/docs/proposals/unified-config-contract-v0-3.md
  website/docs/tutorials/algorithm/looper/fusion.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Router] Enforce hard user-scope isolation in semantic cache (cross-tenant leak fix) (#2135)
  src/semantic-router/pkg/cache/cache.go
  src/semantic-router/pkg/cache/cache_scope_isolation_test.go
  src/semantic-router/pkg/cache/inmemory_cache_search.go
Due: go-fmt

[CI] Auto-mark stale issues and PRs (#2196)
  .github/workflows/stale.yml
Due: yaml-and-yml-fmt

feat: support tool calls in fusion final judge
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/req_filter_models.go
  src/semantic-router/pkg/looper/fusion.go
  src/semantic-router/pkg/looper/fusion_test.go
  src/semantic-router/pkg/looper/fusion_tool_use.go
Due: go-fmt

docs: align homepage team with governance (#2177)
  website/i18n/zh-Hans/code.json
  website/src/components/TeamCarousel/index.tsx
  website/src/components/TeamCarousel/styles.module.css
  website/src/data/teamMembers.tsx
  website/src/pages/community/team.tsx
Due: none

[Router] skip all auto_model_name aliases in /v1/models listing
  src/semantic-router/pkg/apiserver/route_models.go
  src/semantic-router/pkg/extproc/req_filter_models.go
Due: go-fmt

feat: recognize comma-separated auto_model_name aliases in IsAutoModelName
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/helper.go
Due: go-fmt

fix(openshift): custom namespace broken in deploy-to-openshift.sh
  deploy/openshift/README.md
  deploy/openshift/deploy-to-openshift.sh
Due: md-fmt

[Dashboard] remove dead legacy security header entries
  dashboard/frontend/src/components/HeaderDisplay.tsx
  dashboard/frontend/src/components/HeaderReveal.tsx
  dashboard/frontend/src/components/chatRequestSupport.ts
Due: none

[Router] drop deprecated x-vsr legacy security headers
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/headers/headers_test.go
Due: go-fmt

feat: add agent memory review CI
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/agent-memory-classifier.yml
  .github/workflows/agent-memory-review.yml
  .github/workflows/ci-changes.yml
  .prowlabels.yaml
  docs/agent/README.md
  docs/agent/reviews/2026/.gitkeep
  docs/agent/reviews/2026/2026-05-22-memory-assisted-review-bot.md
  docs/agent/reviews/README.md
  docs/agent/skill-catalog.md
  tools/agent/repo-manifest.yaml
  tools/agent/scripts/agent_memory_classifier.py
  tools/agent/scripts/agent_memory_review_gate.py
  tools/agent/scripts/agent_review_context.py
  tools/agent/scripts/tests/test_agent_memory_classifier.py
  tools/agent/scripts/tests/test_agent_memory_review_gate.py
  tools/agent/scripts/tests/test_agent_review_context.py
  tools/agent/skill-registry.yaml
  tools/agent/skills/review-brief-authoring/SKILL.md
  tools/agent/task-matrix.yaml
  tools/make/linter.mk
Due: md-fmt, yaml-and-yml-fmt

[AuthTransition] Update transition page to new UI
  dashboard/frontend/src/pages/AuthTransitionPage.module.css
  dashboard/frontend/src/pages/AuthTransitionPage.tsx
  dashboard/frontend/src/pages/authTransitionSupport.ts
Due: none

fix(onnx-binding): route classifier Auto + bound embedding CUDA arenas on NVIDIA
  onnx-binding/src/model_architectures/classification/mmbert_classifier.rs
  onnx-binding/src/model_architectures/embedding/mmbert_embedding.rs
Due: cargo-fmt, cargo-check

[Router] Re-normalize truncated FFI embeddings (#2145)
  candle-binding/src/ffi/embedding.rs
  candle-binding/src/ffi/embedding_test.rs
Due: cargo-fmt, cargo-check

[Router] emit keystone headers on looper/rate-limit/error/image-gen paths
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/processor_req_body_memory.go
  src/semantic-router/pkg/extproc/req_filter_looper_response.go
  src/semantic-router/pkg/extproc/req_filter_modality.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/utils/http/response.go
Due: go-fmt

[Router] emit v0.4 keystone headers on the upstream response path
  src/semantic-router/pkg/extproc/processor_res_header_mutation.go
  src/semantic-router/pkg/extproc/request_context.go
Due: go-fmt

[Router] emit keystone headers on cache and fast_response paths
  src/semantic-router/pkg/utils/http/response.go
Due: go-fmt

[Router] add v0.4 keystone header constants (schema-version, response-path)
  src/semantic-router/pkg/headers/headers.go
Due: go-fmt

[Dashboard] surface v0.4 keystone headers in header views
  dashboard/frontend/src/components/HeaderDisplay.tsx
  dashboard/frontend/src/components/HeaderReveal.tsx
  dashboard/frontend/src/components/chatRequestSupport.ts
Due: none

[Router] add unit tests for keystone headers on cache/fast_response
  src/semantic-router/pkg/utils/http/keystone_test.go
Due: go-fmt

[CI/Build] refresh precommit-local image before running
  tools/make/pre-commit.mk
Due: none

docs: add agentgateway GIE install tab
  deploy/kubernetes/llmd-base/inference-sim.yaml
  deploy/kubernetes/llmd-base/inferencepool-llama.yaml
  deploy/kubernetes/llmd-base/inferencepool-phi4.yaml
  website/docs/installation/k8s/gateway-api-inference-extension.md
Due: md-fmt, yaml-and-yml-fmt

[Bindings] expose SupportsBatchedEmbedding in candle-binding FFI (#2194)
  candle-binding/semantic-router.go
  candle-binding/semantic-router_mock.go
  candle-binding/semantic-router_test.go
  src/semantic-router/pkg/extproc/router_selection.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
