Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

eval(decision2): IX1 row-level contamination audit (exhaustive 13-grams, exact units, planted control)
  src/training/decision2/v2/eval/ix1/contamination.py
Due: none

research(decision2): HR2-r2 state - round-2 blind review FAILED (P2, P3: hs3_pref 7/48); publishing flagged
  src/training/decision2/v2/data/records/hr2-state.md
Due: md-fmt

research(decision2): decoder M9 state - control line read (N7C), formal-path parity exact
  src/training/decision2/v2/dec/records/m9-state.md
Due: md-fmt

feat(decision2): Decision 1.0 Transformers remote code draft, staging and parity tools
  src/training/decision2/v2/release/automap/decision1/configuration_decision.py
  src/training/decision2/v2/release/automap/decision1/decision_qwen.py
  src/training/decision2/v2/release/automap/decision1/decision_system_one.py
  src/training/decision2/v2/release/automap/decision1/decision_vela.py
  src/training/decision2/v2/release/automap/decision1/modeling_decision.py
  src/training/decision2/v2/release/automap/decision1/pipeline_decision.py
  src/training/decision2/v2/release/automap/parity1.py
  src/training/decision2/v2/release/automap/stage1.py
Due: none

eval(decision2): IX1 dual scoring and external/frontier comparison (private outputs); merge --allow-errors
  src/training/decision2/v2/eval/ix1/compare.py
  src/training/decision2/v2/eval/ix1/merge.py
  src/training/decision2/v2/eval/ix1/score.sh
Due: none

research(decision2): HR2-r2 data card and status (release_safe: false; round-2 review failed P2/P3)
  src/training/decision2/v2/data/records/hr2/r2/hf-readme.md
  src/training/decision2/v2/data/records/hr2/r2/status.json
Due: md-fmt

research(decision2): decoder M9 amendment 2 (H9 arm cap 4.8 -> 5.8 GPU-h from C9's unused budget, before any H9 readout; chain adopt mode)
  src/training/decision2/v2/dec/ops/m9/m9-chains.sh
  src/training/decision2/v2/dec/records/dec-m9-amendment-2-2026-10-01.md
Due: md-fmt

research(decision2): decoder M10 state - nine seeds training (LH / FB node F, LT2 node E)
  src/training/decision2/v2/dec/records/m10-state.md
Due: md-fmt

research(decision2): decoder M9 state - amendment 2 applied, GPU6 chain replaced (g6b adopts H9-s1)
  src/training/decision2/v2/dec/records/m9-state.md
Due: md-fmt

eval(decision2): IX1 launcher resume mode; merge sums every run interval
  src/training/decision2/v2/eval/ix1/launch.sh
  src/training/decision2/v2/eval/ix1/merge.py
Due: none

fix(decision2): IB1 build reads the SNIPS PlayMusic file, which encodes emoji as UTF-8 surrogate pairs
  src/training/decision2/v2/data/ib1/build.py
Due: none

feat(decision2): Transformers remote code for Decision 2.0 packages (auto_map / trust_remote_code)
  src/training/decision2/v2/release/automap/API.md
  src/training/decision2/v2/release/automap/__init__.py
  src/training/decision2/v2/release/automap/configuration_decision2.py
  src/training/decision2/v2/release/automap/modeling_decision2.py
  src/training/decision2/v2/release/automap/overlay.py
  src/training/decision2/v2/release/automap/pipeline_decision2.py
Due: md-fmt

feat(decision2): release builder ships the Transformers remote code; config.json auto_map; card section
  src/training/decision2/v2/release/build.py
  src/training/decision2/v2/release/card.py
  src/training/decision2/v2/release/layout.py
Due: none

feat(decision2): examples automap / automap-card / automap-parity / compare-answers
  src/training/decision2/v2/release/examples.py
Due: none

eval(decision2): IX1 audit separates familiar text from item duplicates (all item units in training)
  src/training/decision2/v2/eval/ix1/contamination.py
Due: none

feat(config): add disabled-by-default handoff gate
  config/config.yaml
  src/semantic-router/pkg/config/canonical_export.go
  src/semantic-router/pkg/config/canonical_global.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/handoff_config.go
  src/semantic-router/pkg/config/handoff_config_test.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  src/semantic-router/pkg/k8s/testdata/output/01-basic.yaml
  src/semantic-router/pkg/k8s/testdata/output/02-keyword-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/03-embedding-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/04-domain-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/05-keyword-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/06-keyword-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/07-domain-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/08-keyword-embedding-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/09-keyword-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/10-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/11-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/12-keyword-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/13-keyword-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/14-domain-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/15-keyword-embedding-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/16-keyword-embedding-domain-no-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/17-embedding-multimodal.yaml
  src/vllm-sr/tests/test_config_file_loaders.py
Due: go-fmt, yaml-and-yml-fmt

feat(handoff): add a bounded idempotency and cancellation ledger
  src/semantic-router/pkg/handoff/ledger.go
  src/semantic-router/pkg/handoff/ledger_test.go
Due: go-fmt

feat(dashboard): expose the handoff envelope gate
  dashboard/frontend/e2e/config-surface-layout.spec.ts
  dashboard/frontend/src/pages/configPageRouterDefaultsSupport.ts
  dashboard/frontend/src/pages/configPageRouterStructuredSchema.test.ts
  dashboard/frontend/src/pages/configPageRouterStructuredSchema.ts
  dashboard/frontend/src/pages/configPageSupport.ts
Due: none

test(agentgateway): cover handoff receipts, retries, and cancellation
  e2e/profiles/agentgateway/profile.go
  e2e/profiles/agentgateway/runtime.go
  e2e/testcases/agentgateway_handoff.go
  tools/test/services/provider-mocker/README.md
  tools/test/services/provider-mocker/provider_mocker/provider_boundary.py
  tools/test/services/provider-mocker/tests/test_provider_contract.py
Due: go-fmt, md-fmt

docs(handoff): document the version-1 handoff envelope
  config/README.md
  tools/agent/docs/plans/pl-0041-agent-aware-router-contracts.md
  website/docs/installation/configuration.md
  website/docs/proposals/agent-based-routing.md
  website/docs/proposals/unified-config-contract-v0-3.md
  website/docs/tutorials/global/api-and-observability.md
Due: md-fmt

feat(handoff): define the portable v1 envelope contract
  src/semantic-router/pkg/handoff/envelope.go
  src/semantic-router/pkg/handoff/envelope_test.go
Due: go-fmt

feat(extproc): admit handoff envelopes and emit receipts
  src/semantic-router/pkg/extproc/handoff_receipt_test.go
  src/semantic-router/pkg/extproc/handoff_transport.go
  src/semantic-router/pkg/extproc/handoff_transport_test.go
  src/semantic-router/pkg/extproc/processor_core.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_req_header_internal.go
  src/semantic-router/pkg/extproc/processor_res_header_mutation.go
  src/semantic-router/pkg/extproc/req_filter_skip_processing.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/status_code_mapping.go
  src/semantic-router/pkg/headers/headers.go
Due: go-fmt

research(decision2): IB1 prereg amendment 1 (expqa empty under the rule and dropped; G5 per option count for rotated families); position band and balance audit per option count
  src/training/decision2/v2/data/ib1/audit.py
  src/training/decision2/v2/data/ib1/build.py
  src/training/decision2/v2/data/records/ib1-prereg-amendment-1-2026-10-01.md
  src/training/decision2/v2/data/tests/test_ib1.py
Due: md-fmt

research(decision2): HR2-r2 state - merged into integration, gist 02 updated, worker done
  src/training/decision2/v2/data/records/hr2-state.md
Due: md-fmt

docs(decision2): sync sanitized program docs (COORDINATION, STATUS)
  src/training/decision2/v2/program/COORDINATION.md
  src/training/decision2/v2/program/STATUS.md
Due: md-fmt

feat(decision2): align Decision 1.0 remote code with the 2.0 auto_map API (decision1 family, error answers, device moves)
  src/training/decision2/v2/release/automap/decision1/configuration_decision1.py
  src/training/decision2/v2/release/automap/decision1/decision1_qwen.py
  src/training/decision2/v2/release/automap/decision1/decision1_system_one.py
  src/training/decision2/v2/release/automap/decision1/decision1_vela.py
  src/training/decision2/v2/release/automap/decision1/decision_system_one.py
  src/training/decision2/v2/release/automap/decision1/modeling_decision.py
  src/training/decision2/v2/release/automap/decision1/modeling_decision1.py
  src/training/decision2/v2/release/automap/decision1/pipeline_decision.py
  src/training/decision2/v2/release/automap/decision1/pipeline_decision1.py
  src/training/decision2/v2/release/automap/parity1.py
  src/training/decision2/v2/release/automap/run_parity1.sh
  src/training/decision2/v2/release/automap/stage1.py
  src/training/decision2/v2/release/tests/test_automap1.py
Due: none

eval(decision2): IX1 calibration study tool (CAL-only T and Noul T+b fits; rescoring transform)
  src/training/decision2/v2/eval/ix1/calib.py
Due: none

fix(decision2): package runtime refuses Transformers' remote-code prompt at once while loading
  src/training/decision2/v2/release/runtime/api.py
  src/training/decision2/v2/release/tests/test_automap.py
Due: none

eval(decision2): IX1 resume over a shard's rows minus device-aborting requests; merge reads extra reruns
  src/training/decision2/v2/eval/ix1/launch.sh
  src/training/decision2/v2/eval/ix1/merge.py
Due: none

test(decision2): automap integration through stock Transformers; build ships the remote code
  src/training/decision2/v2/release/examples.py
  src/training/decision2/v2/release/tests/automap_integration.py
  src/training/decision2/v2/release/tests/test_release.py
Due: none

docs(decision2): 27B MoE state - poll 04:12Z
  src/training/decision2/v2/27b/records/moe-state.md
Due: md-fmt

feat(decision2): Decision 1.0 encoders keep the published runtime flags (no MHA fast path, no TF32); parity chain
  src/training/decision2/v2/release/automap/chain_parity1.sh
  src/training/decision2/v2/release/automap/decision1/decision1_vela.py
  src/training/decision2/v2/release/automap/run_parity1.sh
Due: none

feat(decision2): decoder M10 readout, merge, soup, node-A scoring and rules tooling (macro retention CI; tests)
  src/training/decision2/v2/dec/ops/m10/m10-lines.sh
  src/training/decision2/v2/dec/ops/m10/m10-score.sh
  src/training/decision2/v2/dec/ops/m10/m10-soup.sh
  src/training/decision2/v2/dec/ops/m10/m10_compare.py
  src/training/decision2/v2/dec/ops/m10/m10_merge.py
  src/training/decision2/v2/dec/ops/m10/m10_probes.py
  src/training/decision2/v2/dec/ops/m10/m10_rules.py
  src/training/decision2/v2/dec/tests/test_m10.py
Due: none

eval(decision2): IX1 lease check waits for the previous container to drain; chain --only
  src/training/decision2/v2/eval/ix1/chain.sh
  src/training/decision2/v2/eval/ix1/launch.sh
Due: none

docs(decision2): 1.0 auto_map state (Kai/Lex parity, decoder runs queued)
  src/training/decision2/v2/release/records/dev1-automap-state.md
Due: md-fmt

feat(decision2): native Kai-runtime reference collector for Decision-1.0-Route-0.6B parity
  src/training/decision2/v2/release/automap/reference_kai_native1.py
  src/training/decision2/v2/release/automap/run_parity1.sh
Due: none

fix(decision2): remote code reads only the cache under HF_HUB_OFFLINE; integration skips Qwen3.5 CPU without LAPACK
  src/training/decision2/v2/release/automap/modeling_decision2.py
  src/training/decision2/v2/release/tests/automap_integration.py
Due: none

feat(decision2): release pipeline verifies the Transformers remote code; one render node per leased GPU
  src/training/decision2/v2/release/gate.py
  src/training/decision2/v2/release/release.sh
  src/training/decision2/v2/release/tests/test_automap.py
Due: none

research(decision2): IB1 state - scans, G4 (maud, medmcqa, procb, wanli dropped), stage S screen (4 / 120, no family dropped), stage R running
  src/training/decision2/v2/data/records/ib1-state.md
Due: md-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
