Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

add tests for pii and tls module
  src/semantic-router/pkg/utils/pii/policy_test.go
  src/semantic-router/pkg/utils/tls/tls_test.go
Due: go-fmt

feat: Add function tool call guard containing: (#841)
  e2e-tests/tool-verifier-demo/README.md
  e2e-tests/tool-verifier-demo/__init__.py
  e2e-tests/tool-verifier-demo/chat_client.py
  e2e-tests/tool-verifier-demo/mock_vllm_toolcall.py
  e2e-tests/tool-verifier-demo/run_demo.sh
  e2e/testcases/testdata/jailbreak_detection_cases.json
  src/semantic-router/pkg/classification/tool_verifier.go
  src/semantic-router/pkg/config/tool_verifier.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/res_filter_tool_verifier.go
  src/semantic-router/pkg/extproc/tool_verifier_test.go
  src/training/tool_verifier_training/.gitignore
  src/training/tool_verifier_training/README.md
  src/training/tool_verifier_training/data_generation/__init__.py
  src/training/tool_verifier_training/data_generation/base.py
  src/training/tool_verifier_training/data_generation/cli.py
  src/training/tool_verifier_training/data_generation/config.py
  src/training/tool_verifier_training/data_generation/datasets.py
  src/training/tool_verifier_training/data_generation/entities.py
  src/training/tool_verifier_training/data_generation/generators/__init__.py
  src/training/tool_verifier_training/data_generation/generators/adversarial.py
  src/training/tool_verifier_training/data_generation/generators/authentication.py
  src/training/tool_verifier_training/data_generation/generators/code_execution.py
  src/training/tool_verifier_training/data_generation/generators/email.py
  src/training/tool_verifier_training/data_generation/generators/filesystem.py
  src/training/tool_verifier_training/data_generation/generators/financial.py
  src/training/tool_verifier_training/data_generation/generators/injection.py
  src/training/tool_verifier_training/data_generation/generators/jailbreak_patterns.py
  src/training/tool_verifier_training/data_generation/generators/network.py
  src/training/tool_verifier_training/data_generation/generators/sysadmin.py
  src/training/tool_verifier_training/data_generation/loaders/__init__.py
  src/training/tool_verifier_training/data_generation/loaders/huggingface.py
  src/training/tool_verifier_training/data_generation/orchestrator.py
  src/training/tool_verifier_training/requirements.txt
  src/training/tool_verifier_training/train_both.sh
  src/training/tool_verifier_training/train_parallel.sh
  src/training/tool_verifier_training/train_sentinel.py
  src/training/tool_verifier_training/train_tool_verifier.py
Due: go-fmt, md-fmt

try fix integration test dynamic config test install kubectl fail
  .github/workflows/integration-test-dynamic-config.yml
Due: yaml-and-yml-fmt

Adding new tests for reasoning filter
  src/semantic-router/pkg/extproc/req_filter_reason_test.go
Due: go-fmt

e2e: add Response API basic operations tests
  e2e/README.md
  e2e/profiles/response-api/profile.go
  e2e/profiles/response-api/values.yaml
  e2e/testcases/response_api_basic.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

ci: add Response API tests to Docker Compose CI
  .github/workflows/integration-test-docker.yml
  config/config.yaml
Due: yaml-and-yml-fmt

review feedback
  bench/hallucination/README.md
  bench/hallucination/datasets.py
  bench/hallucination/evaluate.py
Due: md-fmt

feat: add configurable port support for Open WebUI iframe
  dashboard/frontend/src/pages/PlaygroundPage.tsx
  dashboard/frontend/src/vite-env.d.ts
Due: none

fix: regenerate package-lock.json with official npm registry
  dashboard/frontend/package-lock.json
Due: none

Sponsor: Add AMD Partnership
  README.md
  website/static/img/amd-logo.svg
Due: md-fmt

Sponsor: Add AMD Partnership Blog
  website/blog/2025-12-10-amd.md
  website/static/img/amd-vsr.png
Due: md-fmt

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Due: none

add fin benchmark
  bench/hallucination/__init__.py
  bench/hallucination/datasets.py
Due: none

feat: All-in-One Docker image for single-container
  Dockerfile.all-in-one
  deploy/all-in-one/config.all-in-one.yaml
  deploy/all-in-one/entrypoint-all-in-one.sh
  deploy/all-in-one/envoy.template.yaml
  deploy/all-in-one/grafana-dashboard.yaml
  deploy/all-in-one/grafana-datasource.yaml
  deploy/all-in-one/prometheus.yaml
  deploy/all-in-one/supervisord.all-in-one.conf
  deploy/all-in-one/vllm_semantic_router_pipe.py
Due: yaml-and-yml-fmt

🔧 chore(docker): simplify base images and remove Chinese mirrors from Dockerfile.all-in-one
  Dockerfile.all-in-one
Due: none

🤖 ci: add workflow for all-in-one multi-arch Docker build
  .github/workflows/docker-all-in-one.yml
Due: yaml-and-yml-fmt

📝 docs(all-in-one): add all-in-one deployment README.md
  deploy/all-in-one/README.md
Due: md-fmt

💄 style(deploy): add shellcheck disable comment for envsubst line
  deploy/all-in-one/entrypoint-all-in-one.sh
Due: none

🔧 chore(ci): improve disk space cleanup in docker workflow using action
  .github/workflows/docker-all-in-one.yml
Due: yaml-and-yml-fmt

🔧 chore(ci): optimize docker-all-in-one workflow performance and caching
  .github/workflows/docker-all-in-one.yml
Due: yaml-and-yml-fmt

feat: add upstream request span and trace context propagation for distributed tracing
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/observability/tracing/tracing_test.go
Due: go-fmt

refactor: remove unused MappingPath from FactCheckModelConfig
  bench/hallucination/config-7b.yaml
  bench/hallucination/config.yaml
  config/prompt-guard/prompt_guard.yaml
  config/semantic-cache/config.redis.yaml
  config/testing/config.hallucination.yaml
  src/semantic-router/pkg/classification/fact_check_classifier.go
  src/semantic-router/pkg/classification/hallucination_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/helper.go
Due: go-fmt, yaml-and-yml-fmt

fix: StatefulSet readiness detection and add Dynamo demo video
  deploy/kubernetes/dynamo/dynamo-resources/README.md
  e2e/profiles/dynamo/profile.go
Due: go-fmt, md-fmt

🔧 chore(docker-stack): change code name from all-in-one to stack.
  .github/workflows/docker-stack.yml
  Dockerfile.stack
  deploy/stack/README.md
  deploy/stack/config.stack.yaml
  deploy/stack/entrypoint-stack.sh
  deploy/stack/envoy.template.yaml
  deploy/stack/grafana-dashboard.yaml
  deploy/stack/grafana-datasource.yaml
  deploy/stack/prometheus.yaml
  deploy/stack/supervisord.stack.conf
  deploy/stack/vllm_semantic_router_pipe.py
Due: md-fmt, yaml-and-yml-fmt

Fix Domain Classifier Returns Empty or Wrong Classifications
  deploy/helm/semantic-router/values.yaml
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/dynamic-config/profile.go
  e2e/profiles/dynamic-config/values.yaml
  e2e/profiles/llm-d/values.yaml
  e2e/profiles/production-stack/values.yaml
  e2e/profiles/routing-strategies/values.yaml
  e2e/testcases/decision_fallback.go
  e2e/testcases/plugin_config_variations.go
  e2e/testcases/testdata/decision_fallback_cases.json
  e2e/testcases/testdata/domain_classify_cases.json
  e2e/testcases/testdata/plugin_config_cases.json
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/mapping.go
  src/semantic-router/pkg/classification/mcp_classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_pii.go
  src/semantic-router/pkg/utils/http/response.go
  src/semantic-router/pkg/utils/http/response_test.go
  src/training/classifier_model_fine_tuning/ft_linear.py
Due: go-fmt, yaml-and-yml-fmt

Fix Playground tab to use backend proxy route instead of direct URL
  dashboard/backend/handlers/static.go
  dashboard/backend/proxy/proxy.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/pages/PlaygroundPage.tsx
  dashboard/frontend/src/vite-env.d.ts
Due: go-fmt

🔧 chore(ci): disable arm64 build in docker-stack workflow due to buildx limitations
  .github/workflows/docker-stack.yml
Due: yaml-and-yml-fmt

feat: Add dashboard checks and CI workflow
  .github/workflows/dashboard-test.yml
  Makefile
  dashboard/backend/handlers/config.go
  dashboard/backend/handlers/health.go
  dashboard/backend/router/router.go
  dashboard/frontend/eslint.config.js
  dashboard/frontend/package-lock.json
  dashboard/frontend/package.json
  tools/make/dashboard.mk
Due: go-fmt, yaml-and-yml-fmt, js-lint

feat(hf-playground): replace dissatisfaction models with new feedback and tool call models
  tools/hf-playground/app.py
Due: none

fix(hf-playground): correct label mappings for feedback-detector model
  tools/hf-playground/app.py
Due: none

feat(hf-playground): add support for simple token classification
  tools/hf-playground/app.py
Due: none

feat(hf-playground): implement proper toolcall-verifier support
  tools/hf-playground/app.py
Due: none

fix: refactor documentation and improve clarity across multiple doc files
  candle-binding/README.md
  deploy/kubernetes/istio/README.md
  deploy/kubernetes/llmd-base/README.md
  deploy/kubernetes/llmd-base/llmd+public-llm/README.md
  deploy/openshift/README-DYNAMIC-IPS.md
  e2e-tests/hallucination-demo/README.md
  examples/candle-binding/README.md
  examples/mcp-classifier-server/README.md
  perf/testdata/examples/README.md
  src/training/dual_classifier/DUAL_CLASSIFIER_SYSTEM_TEST_SUMMARY.md
  website/README.md
  website/blog/2025-10-20-q4-roadmap-iris.md
  website/docs/api/classification.md
  website/docs/installation/k8s/gateway-api-inference-extension.md
  website/docs/overview/categories/overview.md
  website/docs/overview/semantic-router-overview.md
  website/docs/tutorials/intelligent-route/domain-routing.md
  website/docs/tutorials/intelligent-route/embedding-routing.md
  website/docs/tutorials/intelligent-route/keyword-routing.md
  website/docs/tutorials/intelligent-route/lora-routing.md
  website/docs/tutorials/intelligent-route/mcp-routing.md
  website/docs/tutorials/observability/overview.md
  website/docs/tutorials/semantic-cache/in-memory-cache.md
Due: md-fmt

fix: resolve variable shadowing lint errors in tool selection tests
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/req_filter_tools_test.go
Due: go-fmt

fix: update test expectation to match corrected BERT model ID
  src/semantic-router/pkg/extproc/extproc_test.go
Due: go-fmt

fix: recreate router after modifying similarity threshold in tests
  src/semantic-router/pkg/extproc/req_filter_tools_test.go
Due: go-fmt

fix: use correct BERT model ID in test config to match initialization
  src/semantic-router/pkg/extproc/extproc_test.go
Due: go-fmt

Created comprehensive test coverage in req_filter_tools_test.go with 27 test cases covering
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/req_filter_tools_test.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
