Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

test(sessiontools): split TestMemoryStore_ExpiredReadmission_ABARace to satisfy gocognit
  src/semantic-router/pkg/sessiontools/store_memory_test.go
Due: go-fmt

fix(dashboard): tidy backend go.sum and satisfy fingerprint test staticcheck
  src/semantic-router/pkg/tools/fingerprint_test.go
Due: go-fmt

fix(config): reject sticky tool selection until runtime integration
  src/semantic-router/pkg/config/tool_selection_plugin_validation.go
  src/semantic-router/pkg/config/tool_selection_plugin_validation_test.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_build_test.go
Due: go-fmt

refactor(dashboard): extract plugin field schemas from dslSchemas
  dashboard/frontend/src/lib/dslPluginSchemas.ts
  dashboard/frontend/src/lib/dslSchemas.ts
Due: none

[Feature] Add analysis_mode property to router configuration schema
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
Due: none

[Bug] Fix Dashboard user edit dialog keep user editor actions visible within the viewport (#3735)
  dashboard/frontend/src/pages/UsersPageUserDialog.module.css
  dashboard/frontend/src/pages/UsersPageUserDialog.tsx
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
Due: none

[Fix] Keep LoRA identity in success-estimate candidates
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  src/semantic-router/pkg/configschema/schema.go
  src/semantic-router/pkg/extproc/router_learning_success_estimate_test.go
  src/semantic-router/pkg/extproc/router_learning_success_observe.go
Due: go-fmt

[Feature] Harden tool-result PII replay boundaries
  src/semantic-router/pkg/classification/classifier_pii_ops.go
  src/semantic-router/pkg/classification/classifier_signal_pii.go
  src/semantic-router/pkg/classification/classifier_signal_pii_source_test.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/replay_tool_trace.go
  src/semantic-router/pkg/extproc/replay_tool_trace_test.go
  src/semantic-router/pkg/routerreplay/redaction/redaction.go
  src/semantic-router/pkg/routerreplay/store/store.go
Due: go-fmt

test: cover workflow resume response handling
  e2e/testcases/workflow_resume.go
  src/semantic-router/pkg/extproc/req_filter_looper_response.go
  src/semantic-router/pkg/extproc/req_filter_looper_workflow_resume_test.go
  src/semantic-router/pkg/extproc/router_build_workflow_test.go
Due: go-fmt

fix(responsestore): read a page's cursor and window from one snapshot
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_list_cleanup_test.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

fix(responsestore): fail a listing closed past an unreadable payload
  src/semantic-router/pkg/responsestore/errors.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_list_cleanup_test.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

Added ClassifyMmBert32KFeedbackWithProbs
  onnx-binding/semantic-router.go
Due: go-fmt

[CI/Build] Fix E2E Rust cache workspace
  .github/workflows/integration-test-k8s.yml
Due: yaml-and-yml-fmt

[Fix] Preserve ModelRef token ceilings through save, decompile, and Looper hops
  dashboard/frontend/src/pages/ConfigPageDecisionsSection.tsx
  dashboard/frontend/src/pages/configPageDecisionFormSupport.test.ts
  dashboard/frontend/src/pages/configPageDecisionFormSupport.ts
  src/semantic-router/pkg/dsl/decompiler_decisions.go
  src/semantic-router/pkg/dsl/dsl_test.go
  src/semantic-router/pkg/extproc/output_token_limit_test.go
  src/semantic-router/pkg/looper/attempt_trace.go
  src/semantic-router/pkg/looper/attempt_trace_test.go
  src/semantic-router/pkg/looper/confidence_test.go
  src/semantic-router/pkg/looper/stage_context.go
  src/semantic-router/pkg/looper/stage_context_test.go
Due: go-fmt

fix(onnx): add feedback probability APIs
  onnx-binding/semantic-router.go
  onnx-binding/semantic-router_test.go
Due: go-fmt

[CI/Build] Remove unused Rust setup from E2E
  .github/workflows/integration-test-k8s.yml
Due: yaml-and-yml-fmt

[Fix] Publish ModelRef max_completion_tokens in the generated config schema
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
Due: none

fix: resolve compile errors in circuit breaker wiring
  src/semantic-router/pkg/classification/classifier_option_backends.go
Due: go-fmt

feat: add per-backend circuit breaker for remote classifiers
  config/config.yaml
  src/semantic-router/pkg/classification/circuit_breaker.go
  src/semantic-router/pkg/classification/circuit_breaker_logging.go
  src/semantic-router/pkg/classification/circuit_breaker_metrics.go
  src/semantic-router/pkg/classification/circuit_breaker_test.go
  src/semantic-router/pkg/classification/classifier_option_backends.go
  src/semantic-router/pkg/config/classifier_backend.go
  src/semantic-router/pkg/config/classifier_backend_test.go
  src/semantic-router/pkg/config/model_config_types.go
Due: go-fmt, yaml-and-yml-fmt

fix: address reviewer inline comments on circuit breaker
  src/semantic-router/pkg/classification/circuit_breaker.go
  src/semantic-router/pkg/classification/circuit_breaker_test.go
  src/semantic-router/pkg/classification/classifier_option_backends.go
  src/semantic-router/pkg/config/classifier_backend.go
Due: go-fmt

Sweep real score bands only and bind every input to the commit
  src/semantic-router/cmd/image-routing-calibration/main.go
  src/semantic-router/cmd/image-routing-calibration/main_test.go
Due: go-fmt

fix: preserve generation boundaries during shutdown
  src/semantic-router/cmd/main.go
  src/semantic-router/cmd/main_shutdown_test.go
  src/semantic-router/pkg/apiserver/route_classification_metrics.go
  src/semantic-router/pkg/apiserver/route_classification_platform_test.go
  src/semantic-router/pkg/apiserver/route_classify.go
  src/semantic-router/pkg/apiserver/route_model_info.go
  src/semantic-router/pkg/apiserver/route_model_info_classifiers.go
  src/semantic-router/pkg/apiserver/runtime_service.go
  src/semantic-router/pkg/routerruntime/classification_acquire_test.go
  src/semantic-router/pkg/routerruntime/registry.go
Due: go-fmt

[CI/Build] Restore ONNX feedback probability API
  onnx-binding/semantic-router.go
Due: go-fmt

Resolve the manifest and rules paths before validating and reading them
  src/semantic-router/cmd/image-routing-calibration/main.go
  src/semantic-router/cmd/image-routing-calibration/main_test.go
Due: go-fmt

fix(dashboard): keep Live verification column width stable across status changes
  dashboard/frontend/src/pages/ConfigPageModelsSection.module.css
Due: none

test(dashboard): assert Pricing column position stays fixed across Live states
  dashboard/frontend/e2e/model-live-verification.spec.ts
Due: none

style(dashboard): restore blank line between test blocks
  dashboard/frontend/e2e/model-live-verification.spec.ts
Due: none

Resolve input paths through symlinks before any lexical cleaning
  src/semantic-router/cmd/image-routing-calibration/main.go
  src/semantic-router/cmd/image-routing-calibration/main_test.go
Due: go-fmt

[CI/Build] Pin golangci-lint once and upgrade to v2.13.2
  .github/workflows/dashboard-test.yml
  .github/workflows/operator-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/precommit-publish.yml
  .github/workflows/test-and-build.yml
  .golangci-version
  dashboard/backend/handlers/model_verification_service.go
  deploy/operator/controllers/semanticrouter_controller.go
  tools/agent/domains.yaml
  tools/docker/Dockerfile.precommit
  tools/linter/go/.golangci.yml
  tools/make/agent.mk
Due: go-fmt, yaml-and-yml-fmt

Avoid shadowing err in the resolve-input test
  src/semantic-router/cmd/image-routing-calibration/main_test.go
Due: go-fmt

[Feature] Add info-level per-request signal/decision phase timing events (#3701)
  src/semantic-router/pkg/extproc/req_filter_classification_runtime.go
  src/semantic-router/pkg/extproc/req_filter_classification_runtime_timing_test.go
Due: go-fmt

style(bench): wrap long line
  bench/reasoning/router_reason_bench_multi_dataset.py
Due: none

style(responsestore): satisfy the upstream Go lint harness
  src/semantic-router/pkg/responsestore/redis_cascade_delete.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
Due: go-fmt

[Feature] Admit Writer / Palmyra (Palmyra X6, Palmyra X5) to the Model Card catalog
  config/catalog/README.md
  config/catalog/manifest.yaml
  config/catalog/resources/benchmarks.yaml
  config/catalog/resources/evaluations/single/writer.yaml
  config/catalog/resources/models/single/writer.yaml
  config/catalog/resources/providers/writer.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Preserve calibrated outcomes and validate report destinations
  src/semantic-router/cmd/image-routing-calibration/main.go
  src/semantic-router/cmd/image-routing-calibration/output_paths.go
  src/semantic-router/cmd/image-routing-calibration/output_paths_test.go
Due: go-fmt

[CI/Build] Split normalizedReplayRows literals so gofmt and gofumpt agree
  dashboard/backend/evaluationplane/report_normalized_workload_test.go
Due: go-fmt

feat(router): cost and latency headers (#3729)
  src/semantic-router/pkg/extproc/processor_res_accounting_headers_test.go
  src/semantic-router/pkg/extproc/processor_res_body_pipeline.go
  src/semantic-router/pkg/extproc/processor_res_header_mutation.go
  src/semantic-router/pkg/extproc/processor_res_usage.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/headers/headers_test.go
  website/docs/troubleshooting/vsr-headers.md
Due: go-fmt, md-fmt
