Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

feat(decision2): C1 event 3 custodian overlap scan with a tested PASS/FAIL verdict, event interlock on it; 27B peers card-eligible (default AutoJev-27B + Eikos-27B)
  src/training/decision2/v2/eval/sealed/event3-models.json
  src/training/decision2/v2/eval/sealed/event3-recheck-scan.sh
  src/training/decision2/v2/eval/sealed/event3.sh
  src/training/decision2/v2/eval/sealed/scanverdict.py
  src/training/decision2/v2/eval/sealed/tests/test_event3.py
  src/training/decision2/v2/eval/sealed/tests/test_scanverdict.py
Due: none

docs(decision2): C1 event 3 prep record: independence recheck (confirmatory scan as a gated custodian step), 27B peers decided, new trigger sequence
  src/training/decision2/v2/eval/records/m4-c1-event3-prep-2026-09-29.md
Due: md-fmt

research(decision2): DEV2.0-8B (9B K-a13) release state file (name by loaded count, scored-run facts, plan)
  src/training/decision2/v2/release/records/dev2-8b-release-2026-09-29/STATE.md
Due: md-fmt

research(decision2): 9B K-a13 card-support aggregates helper (mlx-diag Choice/Noul, long inputs, per-task deltas)
  src/training/decision2/v2/eval/records/m4-dev2-9b-gates/card_aggregates_9b.py
Due: none

docs(decision2): sync sanitized program docs (COORDINATION, STATUS)
  src/training/decision2/v2/program/COORDINATION.md
  src/training/decision2/v2/program/STATUS.md
Due: md-fmt

feat(decision2): C1 event 3 optional 9B slot for K-a13 (off until its release package is frozen; --c9b-* package parameters), Lux 1.0 16K adopted + Nimble v2 (card-eligible)
  src/training/decision2/v2/eval/sealed/event3-models.json
  src/training/decision2/v2/eval/sealed/event3.py
  src/training/decision2/v2/eval/sealed/event3.sh
  src/training/decision2/v2/eval/sealed/tests/test_event3.py
Due: none

[Bug] Reject response toolset_name until a native tool loop can replay it
  src/semantic-router/pkg/extproc/processor_protocol_matrix_test.go
  src/semantic-router/pkg/protocolcodec/codec_anthropic_content.go
  src/semantic-router/pkg/protocolcodec/codec_anthropic_content_rules_test.go
  src/semantic-router/pkg/protocolcodec/stream_anthropic.go
  src/semantic-router/pkg/protocolcodec/stream_contract_anthropic_test.go
Due: go-fmt

docs(decision2): C1 event 3 prep record: optional 9B slot (K-a13, Lux 1.0 adopted 16K, Nimble v2 card-eligible), totals with 9B, new mirror and trigger
  src/training/decision2/v2/eval/records/m4-c1-event3-prep-2026-09-29.md
Due: md-fmt

research(decision2): DEV2.0-26B (27B F1) private package verified, stopped before --collect - 5683c6f0, verified draft decision 9b025912
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29.md
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/DEV2.0-26B.decision.draft.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/build-check/build.log.txt
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/failed-attempt/launcher.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/failed-attempt/pre-a-tail.txt
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/failed-attempt/release.log.txt
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/gates/GATE-TYPES-F1.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/ops/release-upload.sh
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/extra/autotune-cache-copy.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/extra/autotune-cache-post.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/extra/card-http.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/extra/gate-evaluate.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/extra/hub-links.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/extra/launcher-output.txt
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/extra/release.log.txt
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/package-text/ATTRIBUTIONS.md
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/package-text/MODEL_MANIFEST.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/package-text/NOTICE
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/package-text/README.md
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/package-text/config.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/package-text/evaluation/EVALUATION.md
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/package-text/evaluation/manifest.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/receipts/RELEASE-RECEIPT.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/receipts/build.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/receipts/card-post.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/receipts/card-pre.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/receipts/download.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/receipts/ensure.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/receipts/launcher.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/receipts/parity-post.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/receipts/parity-pre.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/receipts/post.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/receipts/pre-a.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/receipts/pre-b.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/receipts/readback.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/receipts/repeat-post.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/receipts/repeat-pre.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/receipts/spec.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/receipts/tree.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/receipts/upload.json
Due: md-fmt

feat(decision2): v2.release.bf16_copy - BF16-storage copy of a full Qwen3.5-text checkpoint (autocast-rounded Linear weights only; everything else FP32 bit for bit) with tests
  src/training/decision2/v2/release/bf16_copy.py
  src/training/decision2/v2/release/tests/test_bf16_copy.py
Due: none

research(decision2): 9B K-a13 gate checks and overlap exposure (all gates pass; no exposure; card disclosures)
  src/training/decision2/v2/eval/records/m4-dev2-9b-gates-2026-09-29.md
Due: md-fmt

research(decision2): DEV2.0-8B ops - T = 1 derivation of the K-a13 scored run and the BF16-storage copy launcher
  src/training/decision2/v2/release/records/dev2-8b-release-2026-09-29/ops/bf16-copy.sh
  src/training/decision2/v2/release/records/dev2-8b-release-2026-09-29/ops/derive-t1.sh
Due: none

research(decision2): record decoder Milestone 5 results (no successor; N5BN partial non-English Noul gain .752 vs .725 at equal v3, diagnostic; N5N / N5B lose typed reasoning)
  src/training/decision2/v2/dec/records/dec-m5-results-2026-09-29.md
Due: md-fmt

feat(decision2): card evaluation page lists paired intervals against the other shown peers (card.paired_peers; shared release module)
  src/training/decision2/v2/release/build.py
  src/training/decision2/v2/release/card.py
  src/training/decision2/v2/release/tests/test_no_own_1_0.py
Due: none

fix(decision2): DEV2.0-26B card follows the eval track's 27B gate record (familiarity sentence, memory, public-231 and peer disclosures)
  src/training/decision2/v2/release/specs/dev2-26b-release.json
Due: none

feat(decision2): release builder can vendor the exact inference sources from a pinned mirror (vendor_source; shared release module)
  src/training/decision2/v2/release/build.py
  src/training/decision2/v2/release/tests/test_vendor_source.py
Due: none

fix(decision2): DEV2.0-26B spec vendors the inference sources from F1's scored source mirror 35fa052d2 (training.model.infer changed on the integration branch after scoring)
  src/training/decision2/v2/release/specs/dev2-26b-release.json
Due: none

feat(decision2): DEV2.0-8B owl banner (9B-tier Lux owl relabelled to the loaded-count name; banner.py --label 9B=8B, 9B banner reproduced bit for bit first)
  src/training/decision2/v2/release/brand/BANNERS.json
  src/training/decision2/v2/release/brand/DEV2.0-8B-owl-banner.png
Due: none

feat(decision2): DEV2.0-8B release spec (K-a13 at T = 1, BF16-storage package pending parity, name by loaded count) and the no-upload BF16 parity staging spec + launcher
  src/training/decision2/v2/release/records/dev2-8b-release-2026-09-29/ops/bf16-parity.sh
  src/training/decision2/v2/release/specs/dev2-8b-bf16-parity-staging.json
  src/training/decision2/v2/release/specs/dev2-8b-release.json
Due: none

research(decision2): DEV2.0-26B card-only revision 50772fb3 follows the eval track's 27B gate record; verified draft 17891a2e; still stopped before --collect
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29.md
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/DEV2.0-26B.decision.draft-5683c6f0.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/extra/autotune-cache-post.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/extra/card-http.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/extra/gate-evaluate.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/extra/hub-links.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/extra/launcher-output.txt
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/extra/release.log.txt
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/package-text/ATTRIBUTIONS.md
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/package-text/MODEL_MANIFEST.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/package-text/NOTICE
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/package-text/README.md
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/package-text/config.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/package-text/evaluation/EVALUATION.md
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/package-text/evaluation/manifest.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/receipts/RELEASE-RECEIPT.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/receipts/build.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/receipts/card-post.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/receipts/card-pre.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/receipts/download.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/receipts/ensure.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/receipts/launcher.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/receipts/parity-post.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/receipts/parity-pre.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/receipts/post.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/receipts/pre-a.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/receipts/pre-b.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/receipts/readback.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/receipts/repeat-post.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/receipts/repeat-pre.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/receipts/spec.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/receipts/tree.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/card2/receipts/upload.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/failed-attempt-card2/build-tail.txt
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/failed-attempt-card2/release.log.txt
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/release/extra/autotune-cache-copy.json
Due: md-fmt

research(decision2): DEV2.0-8B BF16 storage adopted (0 answer changes on all four panels) - build-draft decision, spec gate receipt, upload launcher, state
  src/training/decision2/v2/release/records/dev2-8b-release-2026-09-29/DEV2.0-8B.decision.build-draft.json
  src/training/decision2/v2/release/records/dev2-8b-release-2026-09-29/STATE.md
  src/training/decision2/v2/release/records/dev2-8b-release-2026-09-29/ops/release-upload.sh
  src/training/decision2/v2/release/specs/dev2-8b-release.json
Due: md-fmt

Synchronize Grafana admin password on existing volumes
  e2e/testing/vllm-sr-cli/test_integration_grafana_credentials.py
  src/vllm-sr/cli/container_support_services.py
  src/vllm-sr/tests/test_grafana_credentials.py
Due: none

fix(decision2): DEV2.0-8B card states typed ECE as 0.016 vs 0.017 (matches the score table), shorter name note, parity drift bound, proxy marked development-only
  src/training/decision2/v2/release/specs/dev2-8b-release.json
Due: none

[Feature] Fit KMeans selectors on unique queries with a v2 artifact contract
  ml-binding/tests/fixtures/python_kmeans.json
  src/training/model_selection/ml_model_selection/README.md
  src/training/model_selection/ml_model_selection/models.py
  src/training/model_selection/ml_model_selection/tests/generate_native_fixtures.py
  src/training/model_selection/ml_model_selection/tests/test_kmeans_selector.py
  src/training/model_selection/ml_model_selection/tests/test_native_parity.py
  src/training/model_selection/ml_model_selection/train.py
Due: md-fmt

Restore action and urgent routing decision priorities to 30
  e2e/profiles/ai-gateway/values.yaml
Due: yaml-and-yml-fmt

research(decision2): preregister PN1 paraphrase-style non-English Noul arm and dev slice (Tatoeba CC BY 2.0 FR; swap twins; validity check vs N4XF / Nox 1.0)
  src/training/decision2/v2/data/records/m4-pn1-prereg-2026-09-29.md
Due: md-fmt

[Feature] Plan trainer, architecture, hardware, and runtime capabilities
  dashboard/frontend/src/generated/trainingContract.ts
  dashboard/frontend/src/utils/trainingContract.test.ts
  src/semantic-router/pkg/trainingcontract/capability.go
  src/semantic-router/pkg/trainingcontract/planner.go
  src/semantic-router/pkg/trainingcontract/planner_test.go
  src/semantic-router/pkg/trainingcontract/schema.go
  src/semantic-router/pkg/trainingcontract/testdata/capabilities.json
  src/semantic-router/pkg/trainingcontract/training-v1.openapi.yaml
  src/semantic-router/pkg/trainingcontract/training-v1.schema.json
  src/training/README.md
  src/training/control_plane/test_contracts.py
  tools/codegen/trainingcontract/main.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat(decision2): C1 event 3 trigger-ready: F1 = DEV2.0-26B@5683c6f0, 9B rows on, F2 drop-in tools
  src/training/decision2/v2/eval/sealed/event3-models.json
  src/training/decision2/v2/eval/sealed/event3-stage-nodeA.sh
  src/training/decision2/v2/eval/sealed/event3.py
  src/training/decision2/v2/eval/sealed/event3.sh
  src/training/decision2/v2/eval/sealed/tests/test_event3.py
Due: none

research(decision2): Score5-typed-DEV v1 node A build driver (training-corpora scan, panel build, install into the panel root, leak audit, SHA256SUMS)
  src/training/decision2/v2/eval/records/score5t-dev/build.sh
Due: none

[Feature] Record streamed body arrival and prompt compression metrics (#4206)
  src/semantic-router/pkg/extproc/observability_routing.go
  src/semantic-router/pkg/extproc/processor_core.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/processor_req_body_streamed.go
  src/semantic-router/pkg/extproc/processor_req_body_streamed_metrics_test.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/req_filter_classification_signal.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/observability/metrics/routing_recipe_metrics.go
  src/semantic-router/pkg/observability/metrics/routing_recipe_metrics_test.go
  website/docs/installation/k8s/streamed-extproc.md
  website/docs/tutorials/global/api-and-observability.md
Due: go-fmt, md-fmt

feat(decision2): register the frozen Score5-typed-DEV v1 development panel (score5t-dev, 800 items in fit/check halves, leak audit CLEAN)
  src/training/decision2/v2/eval/panels.py
  src/training/decision2/v2/eval/tests/test_panels.py
  src/training/decision2/v2/eval/tests/test_score5t.py
Due: none

fix(decision2): C1 event 3 waits for the previous job's VRAM to drain before the next job (27B smokes tripped the runner idle check)
  src/training/decision2/v2/eval/sealed/event3.sh
Due: none

research(decision2): DEV2.0-8B final release decision 7666fd7c (coordinator 15:49), spec gate_receipt -> final decision, collect launcher (--already-collected; size-ordered collection)
  src/training/decision2/v2/release/records/dev2-8b-release-2026-09-29/DEV2.0-8B.decision.json
  src/training/decision2/v2/release/records/dev2-8b-release-2026-09-29/ops/final-collect.sh
  src/training/decision2/v2/release/specs/dev2-8b-release.json
Due: none

docs(decision2): C1 event 3 staged and preflighted (F1 = DEV2.0-26B@5683c6f0, 9B rows on, trigger needs), 27B peers' mlx-diag record
  src/training/decision2/v2/eval/records/m4-c1-event3-prep-2026-09-29.md
  src/training/decision2/v2/eval/records/m4-dev2-27b-f1-gates-2026-09-29.md
  src/training/decision2/v2/eval/records/m5-mlx-diag-27b-peers-2026-09-29.md
Due: md-fmt

feat(decision2): DEV2.0-26B final decision bea9795b (coordinator 16:00: F2 fails, F1 final); card-only finalization adds F1's card-eligible mlx-diag lines and the A7-effect sentence; C1 pending
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/DEV2.0-26B.decision.json
  src/training/decision2/v2/release/records/dev2-26b-release-2026-09-29/ops/release-upload.sh
  src/training/decision2/v2/release/specs/dev2-26b-release.json
Due: none
