Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

[Router] make recipe boundaries deterministic under stress
  config/recipes/multi-objective/README.md
  config/recipes/multi-objective/config.yaml
  config/recipes/multi-objective/probes.yaml
  config/recipes/multi-objective/recipe.dsl
Due: md-fmt, yaml-and-yml-fmt

[Dashboard] cover every maintained routing label
  dashboard/frontend/src/components/routingMetadataDisplay.test.ts
Due: none

[Docs] record complete looper and recipe acceptance
  website/blog/2026-08-05-multi-objective-mom-on-amd-developer-cloud.md
Due: md-fmt

fix(cache): honor canonical store in local runtime
  src/vllm-sr/cli/service_defaults.py
  src/vllm-sr/tests/test_storage_backends.py
  website/docusaurus.config.ts
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/api/crd-reference.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/community/translation-guide.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/configuration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/dynamo.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/operator.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/collective-intelligence.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/semantic-router-overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/unified-config-contract-v0-3.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/global/overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/global/stores-and-tools.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/plugin/overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/plugin/response-cache.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/plugin/semantic-cache.md
Due: md-fmt

replace O(N) redis scan with secondary index
  config/runtime/response-api/redis-simple.yaml
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt, yaml-and-yml-fmt

follow up comment and tests
  config/runtime/response-api/redis-simple.yaml
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt, yaml-and-yml-fmt

fix(cli): check env sensitivity against the source config, add a discovery denylist
  src/vllm-sr/cli/commands/runtime_support.py
  src/vllm-sr/cli/config_translator.py
  src/vllm-sr/cli/k8s_backend.py
  src/vllm-sr/tests/test_deployment_backend.py
  src/vllm-sr/tests/test_runtime_support.py
Due: none

[Router] lease in-flight requests and unify graceful shutdown
  src/semantic-router/cmd/main.go
  src/semantic-router/cmd/runtime_bootstrap.go
  src/semantic-router/pkg/extproc/router_lease.go
  src/semantic-router/pkg/extproc/router_lease_test.go
  src/semantic-router/pkg/extproc/server.go
  src/semantic-router/pkg/extproc/server_reload_runtime_test.go
  src/semantic-router/pkg/extproc/server_shutdown_test.go
Due: go-fmt

[Router] close every resource OpenAIRouter owns, with rollback on partial construction failure
  src/semantic-router/pkg/apiserver/runtime_dependencies.go
  src/semantic-router/pkg/apiserver/runtime_globals_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/cache/inmemory_cache_lifecycle.go
  src/semantic-router/pkg/classification/classifier_lifecycle.go
  src/semantic-router/pkg/classification/classifier_lifecycle_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_close_leak_test.go
  src/semantic-router/pkg/extproc/router_components_mapping_gate_test.go
  src/semantic-router/pkg/extproc/router_selection.go
  src/semantic-router/pkg/looper/rl_driven.go
  src/semantic-router/pkg/looper/rl_driven_test.go
  src/semantic-router/pkg/ratelimit/chain.go
  src/semantic-router/pkg/routerruntime/generation.go
  src/semantic-router/pkg/routerruntime/generation_test.go
  src/semantic-router/pkg/selection/factory.go
  src/semantic-router/pkg/selection/selection_result_test.go
  src/semantic-router/pkg/selection/selector.go
  src/semantic-router/pkg/selection/selector_test.go
  src/semantic-router/pkg/selection/tier_test.go
  src/semantic-router/pkg/tools/tools.go
Due: go-fmt

[Router] close the remaining lifecycle gaps in generation-owned shutdown
  src/semantic-router/pkg/classification/classifier_lifecycle_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_close_leak_test.go
  src/semantic-router/pkg/extproc/router_components_mapping_gate_test.go
  src/semantic-router/pkg/extproc/router_lease.go
  src/semantic-router/pkg/extproc/router_lease_test.go
  src/semantic-router/pkg/extproc/server.go
  src/semantic-router/pkg/extproc/server_reload_runtime_test.go
  src/semantic-router/pkg/extproc/server_shutdown_test.go
  src/semantic-router/pkg/ratelimit/chain.go
  src/semantic-router/pkg/routerruntime/generation_test.go
  src/semantic-router/pkg/selection/selector.go
  src/semantic-router/pkg/tools/tools.go
Due: go-fmt

[Router] free the ML selectors' native handles when a generation retires
  src/semantic-router/pkg/modelselection/native_handle_test.go
  src/semantic-router/pkg/modelselection/persistence.go
  src/semantic-router/pkg/modelselection/selector.go
  src/semantic-router/pkg/selection/ml_adapter.go
  src/semantic-router/pkg/selection/ml_adapter_close_test.go
Due: go-fmt

[Router] give cmd back the process signal handler, leaving Server its resources
  src/semantic-router/cmd/main.go
  src/semantic-router/cmd/runtime_bootstrap.go
  src/semantic-router/cmd/signal_shutdown_test.go
  src/semantic-router/pkg/extproc/server.go
  src/semantic-router/pkg/extproc/server_shutdown_test.go
Due: go-fmt

[Router] let the generation own the Response API store
  src/semantic-router/pkg/extproc/req_filter_response_api.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_components_mapping_gate_test.go
  src/semantic-router/pkg/responsestore/memory_store.go
  src/semantic-router/pkg/responsestore/memory_store_lifecycle_test.go
Due: go-fmt

[Router] roll back the classifier's runtime init when a later task fails
  src/semantic-router/pkg/classification/classifier_lifecycle.go
  src/semantic-router/pkg/classification/classifier_lifecycle_test.go
  src/semantic-router/pkg/extproc/router_components.go
Due: go-fmt

[Router] close the tool databases loaded lazily per decision
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_close_leak_test.go
  src/semantic-router/pkg/extproc/tool_db_cache.go
Due: go-fmt

[Router] publish process-wide state only once a build commits
  src/semantic-router/pkg/extproc/router_global_publication_test.go
  src/semantic-router/pkg/extproc/router_memory.go
  src/semantic-router/pkg/extproc/router_selection.go
  src/semantic-router/pkg/extproc/server.go
Due: go-fmt

[Router] extend generation ownership to every routing recipe
  src/semantic-router/pkg/classification/classifier_lifecycle_test.go
  src/semantic-router/pkg/classification/recipe_classifiers.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_close_leak_test.go
  src/semantic-router/pkg/extproc/router_selection.go
Due: go-fmt

[Docs] add search to the docs website (#2816)
  website/README.md
  website/docusaurus.config.ts
  website/i18n/zh-Hans/code.json
  website/package-lock.json
  website/package.json
  website/src/css/custom.css
  website/src/css/search.css
Due: md-fmt

[Router] simplify comments
  src/semantic-router/cmd/main.go
  src/semantic-router/cmd/runtime_bootstrap.go
  src/semantic-router/pkg/cache/inmemory_cache_lifecycle.go
  src/semantic-router/pkg/classification/classifier_lifecycle.go
  src/semantic-router/pkg/classification/recipe_classifiers.go
  src/semantic-router/pkg/extproc/req_filter_response_api.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_components.go
  src/semantic-router/pkg/extproc/router_lease.go
  src/semantic-router/pkg/extproc/router_memory.go
  src/semantic-router/pkg/extproc/router_selection.go
  src/semantic-router/pkg/extproc/server.go
  src/semantic-router/pkg/extproc/tool_db_cache.go
  src/semantic-router/pkg/modelselection/selector.go
  src/semantic-router/pkg/ratelimit/chain.go
  src/semantic-router/pkg/responsestore/memory_store.go
  src/semantic-router/pkg/routerruntime/generation.go
  src/semantic-router/pkg/selection/ml_adapter.go
  src/semantic-router/pkg/selection/selector.go
  src/semantic-router/pkg/tools/tools.go
Due: go-fmt

[Router] persist router replay recipe identity in PostgreSQL
  src/semantic-router/pkg/routerreplay/store/postgres.go
  src/semantic-router/pkg/routerreplay/store/postgres_record_row.go
Due: go-fmt

[Router] pin recipe round trip and insert/select column alignment
  src/semantic-router/pkg/routerreplay/store/postgres_insert_query_test.go
  src/semantic-router/pkg/routerreplay/store/postgres_recipe_column_test.go
Due: go-fmt

[Router] drop per-domain policy structs superseded by decision plugins
  bench/cpu-vs-gpu/config-bench-candle.yaml
  deploy/kubernetes/observability/dashboard/config.yaml
  src/semantic-router/pkg/config/signal_config.go
Due: go-fmt, yaml-and-yml-fmt

[Router] pin the domain signal contract in maintained config assets
  src/semantic-router/pkg/config/maintained_asset_contract_test.go
Due: go-fmt

[Router] require classifier runtime weights for completeness
  src/semantic-router/pkg/modeldownload/config_parser.go
Due: go-fmt

[Router] cover classifier completeness and the LoRA carve-out
  src/semantic-router/pkg/modeldownload/classifier_completeness_test.go
Due: go-fmt

fix: report the jailbreak classifier's backend under its own key, not model_type
  src/semantic-router/pkg/apiserver/route_model_info_classifiers.go
Due: go-fmt

fix(looper): refactor state store complexity to pass CI gates
  e2e/pkg/fixtures/chat.go
  e2e/pkg/framework/profile_registry.go
  e2e/pkg/framework/runner.go
  e2e/profiles/all/imports.go
  e2e/profiles/response-api-redis/profile.go
  e2e/profiles/response-api-redis/values.yaml
  e2e/profiles/response-api-shared/redis_profile.go
  e2e/testcases/workflow_resume.go
  src/semantic-router/pkg/looper/looper.go
  src/semantic-router/pkg/looper/workflows_state_store.go
  src/semantic-router/pkg/looper/workflows_state_store_test.go
  tools/mock-vllm/app.py
Due: go-fmt, yaml-and-yml-fmt

fix(cli): forward the api keys a config actually names (#2784)
  src/vllm-sr/cli/commands/runtime.py
  src/vllm-sr/cli/commands/runtime_support.py
  src/vllm-sr/cli/config_translator.py
  src/vllm-sr/cli/k8s_backend.py
  src/vllm-sr/tests/test_deployment_backend.py
  src/vllm-sr/tests/test_runtime_support.py
Due: none

[Dashboard] fix double slash in knowledge base source path
  dashboard/frontend/src/pages/ConfigPageTaxonomyClassifierDetail.tsx
  dashboard/frontend/src/pages/configPageTaxonomyClassifierSupport.test.ts
  dashboard/frontend/src/pages/configPageTaxonomyClassifierSupport.ts
Due: none

fix(looper): update type checks and error handling in state store
  src/semantic-router/pkg/looper/workflows_state_store.go
  src/semantic-router/pkg/looper/workflows_state_store_test.go
  tools/mock-vllm/app.py
Due: go-fmt

style: run gofmt on E2E testcases and python files
  e2e/testcases/workflow_resume.go
  tools/mock-vllm/app.py
Due: go-fmt

[Dashboard] fix unreadable dropdown options in the user dialog
  dashboard/frontend/src/app/graphiteThemeContract.test.ts
  dashboard/frontend/src/pages/UsersPageUserDialog.module.css
Due: none

[Router] Persist router replay recipe identity in PostgreSQL (#2818)
  src/semantic-router/pkg/routerreplay/store/postgres.go
  src/semantic-router/pkg/routerreplay/store/postgres_insert_query_test.go
  src/semantic-router/pkg/routerreplay/store/postgres_recipe_column_test.go
  src/semantic-router/pkg/routerreplay/store/postgres_record_row.go
Due: go-fmt

[Dashboard] fix double slash in knowledge base source path (#2824)
  dashboard/frontend/src/pages/ConfigPageTaxonomyClassifierDetail.tsx
  dashboard/frontend/src/pages/configPageTaxonomyClassifierSupport.test.ts
  dashboard/frontend/src/pages/configPageTaxonomyClassifierSupport.ts
Due: none

[CLI][Dashboard] make local serving topology-aware and claimable
  dashboard/frontend/e2e/auth-flow.spec.ts
  src/vllm-sr/cli/commands/runtime_looper.py
  src/vllm-sr/cli/commands/runtime_support.py
  src/vllm-sr/cli/container_start.py
  src/vllm-sr/tests/test_runtime_support.py
  website/docs/installation/configuration.md
Due: md-fmt

[Router] make recipe-owned model readiness truthful
  src/semantic-router/pkg/apiserver/route_model_info_classifiers.go
  src/semantic-router/pkg/apiserver/route_model_info_runtime.go
  src/semantic-router/pkg/apiserver/route_model_info_test.go
  src/semantic-router/pkg/apiserver/runtime_service.go
  src/semantic-router/pkg/classification/classifier_fact_hallucination_lifecycle.go
  src/semantic-router/pkg/classification/classifier_feedback_lifecycle.go
  src/semantic-router/pkg/classification/classifier_lifecycle.go
  src/semantic-router/pkg/classification/classifier_lifecycle_test.go
  src/semantic-router/pkg/classification/classifier_signal_context.go
  src/semantic-router/pkg/classification/hallucination_test.go
  src/semantic-router/pkg/classification/native_capabilities.go
  src/semantic-router/pkg/classification/native_capabilities_test.go
  src/semantic-router/pkg/classification/recipe_classifiers.go
  src/semantic-router/pkg/classification/recipe_classifiers_test.go
  src/semantic-router/pkg/classification/unified_classifier_cgo_candle.go
  src/semantic-router/pkg/classification/unified_classifier_cgo_onnx.go
  src/semantic-router/pkg/classification/unified_classifier_stub.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/module_runtime_helpers.go
  src/semantic-router/pkg/config/recipes.go
  src/semantic-router/pkg/config/recipes_registry_test.go
  src/semantic-router/pkg/config/routing_signal_usage.go
  src/semantic-router/pkg/config/routing_signal_usage_test.go
  src/semantic-router/pkg/config/testdata/generic-multi-recipe-model-needs.yaml
  src/semantic-router/pkg/modeldownload/config_parser.go
  src/semantic-router/pkg/modeldownload/config_parser_test.go
  src/semantic-router/pkg/modeldownload/feature_gates.go
  src/semantic-router/pkg/modeldownload/named_recipe_test.go
  src/semantic-router/pkg/services/classification_readiness.go
Due: go-fmt, yaml-and-yml-fmt

[Router] calibrate maintained multi-objective routing
  config/recipes/multi-objective/README.md
  config/recipes/multi-objective/config.yaml
  config/recipes/multi-objective/probes.yaml
  config/recipes/multi-objective/recipe.dsl
  src/semantic-router/pkg/config/multi_objective_asset_test.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
