Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

docs: sharpen project positioning
  README.md
Due: md-fmt

[Router] feat: pluggable hallucination detector backend (endpoint) (#2526)
  candle-binding/semantic-router.go
  candle-binding/semantic-router_mock.go
  config/README.md
  config/config.yaml
  deploy/kubernetes/hallucination/gwapi-resources.yaml
  deploy/kubernetes/hallucination/mock-hallucination-detector.yaml
  deploy/kubernetes/hallucination/mock-vllm.yaml
  e2e/README.md
  e2e/config/README.md
  e2e/profiles/all/imports.go
  e2e/profiles/hallucination/profile.go
  e2e/profiles/hallucination/values.yaml
  e2e/testcases/hallucination_detection.go
  e2e/testcases/testdata/hallucination_detection_cases.json
  onnx-binding/semantic-router.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_fact_hallucination_lifecycle.go
  src/semantic-router/pkg/classification/hallucination_detector_endpoint.go
  src/semantic-router/pkg/classification/hallucination_detector_endpoint_test.go
  src/semantic-router/pkg/classification/hallucination_detector_nli.go
  src/semantic-router/pkg/config/model_config_types.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_hallucination.go
  src/semantic-router/pkg/config/validator_hallucination_test.go
  src/semantic-router/pkg/services/classification_readiness.go
  src/vllm-sr/tests/test_config_migrate.py
  tools/agent/e2e-profile-map.yaml
  tools/mock-vllm/app.py
  website/docs/installation/configuration.md
  website/docs/proposals/unified-config-contract-v0-3.md
  website/docs/tutorials/global/safety-models-and-policy.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[CI/Build] allow Related keyword for linked-issue PR check (#2726)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/check-linked-issue.yml
Due: md-fmt, yaml-and-yml-fmt

docs: make Mixture-of-Models positioning programmable
  README.md
Due: md-fmt

docs: search the whole blog archive, not just the current page
  website/docusaurus.config.ts
  website/src/plugins/blogSearchIndex.ts
  website/src/theme/BlogListPage/index.tsx
Due: none

fix(dashboard): allow partial deploy previews
  dashboard/backend/handlers/deploy.go
  dashboard/backend/handlers/deploy_test.go
Due: go-fmt

[Docs] add Chinese translations for Router Learning tutorials (#2732)
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/learning/adaptations.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/learning/decision-adaptations.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/learning/memory-and-replay.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/learning/overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/learning/protection.md
Due: md-fmt

fix(dashboard): allow partial deploy previews (#2755)
  dashboard/backend/handlers/deploy.go
  dashboard/backend/handlers/deploy_test.go
Due: go-fmt

[Dashboard] preserve policy editing and isolate CLI tests
  dashboard/frontend/src/lib/dslPolicySignalSchemas.ts
  dashboard/frontend/src/lib/dslSchemaCatalogs.ts
  dashboard/frontend/src/lib/dslSchemas.ts
  dashboard/frontend/src/lib/dslStructuredSchemas.test.ts
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/ConfigPageDecisionPluginsEditor.test.tsx
  dashboard/frontend/src/pages/ConfigPageDecisionPluginsEditor.tsx
  dashboard/frontend/src/pages/ConfigPageDecisionsSection.tsx
  dashboard/frontend/src/pages/ConfigPageSignalsSection.tsx
  dashboard/frontend/src/pages/configPageDecisionPreservation.test.ts
  dashboard/frontend/src/pages/configPageSignalFormFields.tsx
  dashboard/frontend/src/pages/configPageSignalFormSupport.test.ts
  dashboard/frontend/src/pages/configPageSignalFormSupport.ts
  dashboard/frontend/src/pages/configPageSignalStructuredEditors.tsx
  dashboard/frontend/src/pages/configPageSupport.ts
  e2e/profiles/routing-strategies/profile.go
  e2e/testing/vllm-sr-cli/cli_test_base.py
  e2e/testing/vllm-sr-cli/test_integration.py
  e2e/testing/vllm-sr-cli/test_unit_runtime_topology.py
Due: go-fmt

[Router] align CLI and validation permissions
  src/semantic-router/pkg/apiserver/route_router_config_validate_test.go
  src/semantic-router/pkg/apiserver/routes_catalog.go
  src/vllm-sr/cli/algorithms.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_algorithm_config.py
  src/vllm-sr/tests/test_router_signal_extensions.py
Due: go-fmt

[Router] align generic classifier binding APIs
  onnx-binding/semantic-router.go
Due: go-fmt

[CLI/Docs] align policy config validation
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/validator.py
  src/vllm-sr/cli/validator_latency.py
  src/vllm-sr/cli/validator_prompt.py
  src/vllm-sr/cli/validator_workflows.py
  src/vllm-sr/tests/test_router_signal_extensions.py
  website/docs/tutorials/algorithm/selection/prompt.md
  website/docs/tutorials/global/api-and-observability.md
  website/docs/tutorials/signal/heuristic/metadata.md
  website/docs/tutorials/signal/heuristic/structure.md
  website/docs/tutorials/signal/learned/classifier.md
Due: md-fmt

[Router][E2E] validate configs and cover metadata routing
  e2e/config/config.testing.yaml
  e2e/testcases/metadata_routing.go
  src/semantic-router/pkg/apiserver/route_router_config_validate.go
  src/semantic-router/pkg/apiserver/route_router_config_validate_test.go
  src/semantic-router/pkg/apiserver/routes_catalog.go
  website/docs/tutorials/global/api-and-observability.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Dashboard] preserve prompt policy edits
  _conflicts.txt
  dashboard/frontend/src/lib/dslAlgorithmSchemas.ts
  dashboard/frontend/src/lib/dslStructuredSchemas.test.ts
  dashboard/frontend/src/pages/ConfigPageDecisionsSection.tsx
  dashboard/frontend/src/pages/configPageDecisionPreservation.test.ts
  dashboard/frontend/src/pages/configPageSupport.ts
Due: none

[Router] remove per-leaf signal map allocations
  src/semantic-router/pkg/decision/engine.go
Due: go-fmt

[Router][Dashboard] preserve policy isolation across recipes
  dashboard/frontend/src/pages/ConfigPageEntrypointsRecipesSection.tsx
  dashboard/frontend/src/pages/ConfigPageRecipeDecisionsEditor.tsx
  dashboard/frontend/src/pages/ConfigPageRecipePolicyEditor.tsx
  dashboard/frontend/src/pages/configPageEntrypointsRecipesSupport.test.ts
  dashboard/frontend/src/pages/configPageEntrypointsRecipesSupport.ts
  e2e/config/config.testing.yaml
  e2e/testcases/metadata_routing.go
  src/semantic-router/pkg/apiserver/route_config_deploy.go
  src/semantic-router/pkg/classification/classifier_signal_recipe_scope_test.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_classifier_signal.go
  src/semantic-router/pkg/config/validator_classifier_signal_test.go
  src/semantic-router/pkg/dsl/decompiler_decisions.go
  src/semantic-router/pkg/dsl/policy_signal_roundtrip_test.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/req_filter_classification_selector.go
  src/semantic-router/pkg/services/classification_handlers_misc.go
  src/semantic-router/pkg/services/classification_recipe_test.go
  src/semantic-router/pkg/services/classification_runtime_config.go
  src/semantic-router/pkg/services/classification_signal_contract.go
  src/semantic-router/pkg/services/classification_test.go
  src/semantic-router/pkg/services/intent_request_messages.go
  src/vllm-sr/cli/container_services.py
  src/vllm-sr/cli/validator_classifier.py
  src/vllm-sr/tests/test_container_services.py
  src/vllm-sr/tests/test_router_classifier_contracts.py
  website/docs/tutorials/global/entrypoints-and-recipes.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[E2E] exercise recipe-local metadata routing
  e2e/profiles/ai-gateway/values.yaml
Due: yaml-and-yml-fmt

[CI/Build] decouple CLI unit tests from Docker
  e2e/testing/vllm-sr-cli/cli_test_base.py
  e2e/testing/vllm-sr-cli/run_cli_tests.py
  e2e/testing/vllm-sr-cli/test_unit_runtime_topology.py
Due: none

[CI/Build] isolate model-dependent precommit tests
  tools/make/build-run-test.mk
  tools/make/pre-commit.mk
Due: none

[CI/Build] make integration cleanup noninteractive
  tools/make/milvus.mk
  tools/make/qdrant.mk
  tools/make/redis.mk
  tools/make/valkey.mk
Due: none

[CI/Build] isolate the container precommit venv
  tools/make/pre-commit.mk
Due: none

[CI/Build] make the read-only path test root-aware
  src/semantic-router/pkg/startupstatus/status_test.go
Due: go-fmt

[E2E] stabilize dashboard deploy preview
  e2e/testcases/dashboard_deploy_preview.go
Due: go-fmt

[Docs] add blog post: LettuceDetect v2 generative hallucination detection via vLLM endpoint
  website/blog/2026-08-05-lettucedetect-v2-generative-hallucination-detection.md
  website/blog/authors.yml
  website/static/img/blog/lettucedetect-v2-demo.gif
  website/static/img/blog/lettucedetect-v2-detection.png
  website/static/img/blog/lettucedetect-v2-results.png
Due: md-fmt, yaml-and-yml-fmt

[Router] gate quickstart config invariants with package tests (#2690)
  src/semantic-router/pkg/config/quickstart_config_test.go
Due: go-fmt

[Router] add minimal validator-valid quickstart config (#2690)
  config/README.md
  config/quickstart.yaml
Due: md-fmt, yaml-and-yml-fmt

[Docs] list quickstart config in the repository config assets (#2690)
  website/docs/installation/configuration.md
Due: md-fmt

[Router] test the semantic-cache polarity guard
  src/semantic-router/pkg/cache/cache_scope_isolation_test.go
  src/semantic-router/pkg/cache/negation_regression_test.go
  src/semantic-router/pkg/cache/polarity_test.go
  src/semantic-router/pkg/cache/polarity_wiring_test.go
Due: go-fmt

[Router] reject negation/antonym false-hits in the semantic cache
  src/semantic-router/pkg/cache/inmemory_cache_search.go
  src/semantic-router/pkg/cache/polarity.go
Due: go-fmt

[Docs] add blog author entries to the zh-Hans authors map
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/authors.yml
Due: yaml-and-yml-fmt

[Docs] blog: promote established-benchmark results to a table, fix chart legend overlap, add mascot
  website/blog/2026-08-05-lettucedetect-v2-generative-hallucination-detection.md
  website/static/img/blog/lettucedetect-v2-results.png
Due: md-fmt

[CI/E2E] test checkout dashboard image
  e2e/profiles/all/imports.go
  e2e/profiles/all/imports_test.go
  e2e/profiles/dashboard/dashboard-deployment.yaml
Due: go-fmt, yaml-and-yml-fmt

[Tests] use vendor-neutral routing fixtures
  src/semantic-router/pkg/services/classification_recipe_test.go
  src/vllm-sr/tests/test_container_services.py
Due: go-fmt

feat: expose full class-probability distribution from SecurityLoRAClassifier
  candle-binding/src/classifiers/lora/security_lora.rs
  candle-binding/src/classifiers/lora/security_lora_test.rs
Due: cargo-fmt, cargo-check

feat: wire jailbreak with-probabilities FFI functions into the Go binding layer
  candle-binding/semantic-router.go
  candle-binding/semantic-router_mock.go
  candle-binding/semantic-router_mock_test.go
  candle-binding/semantic-router_test.go
Due: go-fmt
