Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

feat(ml-binding): add MLP with GPU support for model selection (#1299)
  candle-binding/semantic-router.go
  candle-binding/src/classifiers/mlp_selector.rs
  candle-binding/src/classifiers/mod.rs
  candle-binding/src/ffi/mlp.rs
  candle-binding/src/ffi/mod.rs
  e2e/profiles/ml-model-selection/README.md
  e2e/profiles/ml-model-selection/profile.go
  e2e/profiles/ml-model-selection/values.yaml
  e2e/testcases/model_selection.go
  e2e/testcases/testdata/model_selection_cases.json
  ml-binding/Cargo.lock
  ml-binding/Cargo.toml
  ml-binding/README.md
  ml-binding/ml_binding.go
  ml-binding/src/ffi.rs
  ml-binding/src/lib.rs
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/modelselection/README.md
  src/semantic-router/pkg/modelselection/selector.go
  src/semantic-router/pkg/modelselection/selector_test.go
  src/semantic-router/pkg/selection/factory.go
  src/semantic-router/pkg/selection/ml_adapter.go
  src/semantic-router/pkg/selection/selector.go
  src/semantic-router/pkg/selection/selector_test.go
  src/training/ml_model_selection/README.md
  src/training/ml_model_selection/models.py
  src/training/ml_model_selection/train.py
  src/training/ml_model_selection/validate.go
  website/docs/training/ml-model-selection.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt, cargo-fmt, cargo-check

fix(docs): fix garbled text in zh-Hans training-overview (#1263)
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/training-overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/training/training-overview.md
Due: md-fmt

feat: support differentiated multi endpoint configurations (#1323)
  .github/workflows/ci-changes.yml
  .github/workflows/integration-test-k8s.yml
  config/testing/config.multi-endpoint.yaml
  e2e/cmd/e2e/main.go
  e2e/profiles/multi-endpoint/gateway-resources/backend.yaml
  e2e/profiles/multi-endpoint/gateway-resources/gwapi-resources.yaml
  e2e/profiles/multi-endpoint/profile.go
  e2e/profiles/multi-endpoint/values.yaml
  scripts/multi-endpoint/demo-multi-endpoint.sh
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/extproc/processor_req_body.go
Due: go-fmt, yaml-and-yml-fmt

feat(cli): add Python CLI support for RAG plugin (#1282)
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/templates/config.template.yaml
  src/vllm-sr/cli/validator.py
  src/vllm-sr/tests/test_plugin_parsing.py
  src/vllm-sr/tests/test_plugin_yaml_generation.py
Due: yaml-and-yml-fmt

feat(keyword): add dynamic confidence scoring and fuzzy matching (#1258)
  config/intelligent-routing/in-tree/keyword.yaml
  e2e/profiles/routing-strategies/config.yaml
  e2e/profiles/routing-strategies/values.yaml
  e2e/testcases/keyword_routing.go
  e2e/testcases/testdata/keyword_routing_cases.json
  src/semantic-router/pkg/classification/keyword_accuracy_test.go
  src/semantic-router/pkg/classification/keyword_classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/headers/headers.go
  src/vllm-sr/cli/templates/config.template.yaml
  tools/linter/codespell/.codespell.ignorewords
Due: go-fmt, yaml-and-yml-fmt

fix(validator): add support for complexity signal validation (#1320)
  src/vllm-sr/cli/validator.py
Due: none

[CI] test(response-api): add edge case e2e coverage (#1367)
  e2e/pkg/profiles/responseapi/redis_profile.go
  e2e/profiles/response-api/profile.go
  e2e/testcases/response_api_edge_cases.go
Due: go-fmt

feat(dashboard): add Elo ratings page and feedback UI for model selection (#1338)
  .gitignore
  dashboard/frontend/e2e/feedback-buttons.spec.ts
  dashboard/frontend/e2e/ratings-full-verify.spec.ts
  dashboard/frontend/e2e/ratings.spec.ts
  dashboard/frontend/playwright.live.config.ts
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/FeedbackButtons.module.css
  dashboard/frontend/src/components/FeedbackButtons.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/components/RatingsTable.module.css
  dashboard/frontend/src/components/RatingsTable.tsx
  dashboard/frontend/src/pages/Ratings.module.css
  dashboard/frontend/src/pages/RatingsPage.tsx
Due: none

[DOC] Add multi-protocol adaptor design doc (#1316)
  website/docs/proposals/multi-protocol-adaptor.md
  website/sidebars.ts
Due: md-fmt

feat: optimize InMemoryCache.UpdateWithResponse lookup path (#1365)
  src/semantic-router/pkg/cache/inmemory_cache.go
Due: go-fmt

feat(decision): add tree of boolean operator support across AND/OR/NOT/NAND/NOR/XOR/NXOR (#1352)
  config/intelligent-routing/in-tree/ast-operator.yaml
  config/intelligent-routing/in-tree/boolean-operators.yaml
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/topology/types.ts
  dashboard/frontend/src/pages/topology/utils/signalMatcher.ts
  dashboard/frontend/src/pages/topology/utils/topologyParser.ts
  dashboard/frontend/src/types/config.ts
  deploy/operator/api/v1alpha1/semanticrouter_types.go
  deploy/operator/config/crd/bases/vllm.ai_semanticrouters.yaml
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/types_route.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/decision/engine.go
  src/semantic-router/pkg/decision/engine_test.go
  website/docs/installation/configuration.md
  website/docs/overview/signal-driven-decisions.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/configuration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/signal-driven-decisions.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

White Paper for vLLM Semantic Router (#1332)
  .github/workflows/paper-build.yml
  paper/.gitattributes
  paper/.gitignore
  paper/Makefile
  paper/main.tex
  paper/references.bib
  paper/sections/abstract.tex
  paper/sections/architecture.tex
  paper/sections/conclusion.tex
  paper/sections/decision_engine.tex
  paper/sections/deployment.tex
  paper/sections/evaluation.tex
  paper/sections/extproc_pipeline.tex
  paper/sections/halugate.tex
  paper/sections/introduction.tex
  paper/sections/lora_mom.tex
  paper/sections/memory_rag.tex
  paper/sections/ml_inference.tex
  paper/sections/model_selection.tex
  paper/sections/observability.tex
  paper/sections/plugins.tex
  paper/sections/related_work.tex
  paper/sections/safety.tex
  paper/sections/signal_engine.tex
  tools/linter/codespell/.codespell.skip
Due: yaml-and-yml-fmt

inject user_id from auth layer (#1301)
  e2e/testing/09-memory-features-test.py
  src/semantic-router/pkg/extproc/memory_helpers.go
  src/semantic-router/pkg/extproc/memory_helpers_test.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/user_id_dev.go
  src/semantic-router/pkg/extproc/user_id_dev_test.go
  src/semantic-router/pkg/extproc/user_id_prod.go
  src/semantic-router/pkg/extproc/user_id_prod_test.go
  src/semantic-router/pkg/extproc/user_id_test.go
  tools/make/build-run-test.mk
Due: go-fmt

feat: Add Usage Ratelimit Support (#1356)
  e2e/profiles/authz-rbac/profile.go
  e2e/profiles/authz-rbac/values.yaml
  e2e/testcases/ratelimit.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/ratelimit/chain.go
  src/semantic-router/pkg/ratelimit/envoy_provider.go
  src/semantic-router/pkg/ratelimit/local_provider.go
  src/semantic-router/pkg/ratelimit/provider.go
  src/semantic-router/pkg/ratelimit/ratelimit_test.go
Due: go-fmt, yaml-and-yml-fmt

docs(paper): expand RAG backends, add Llama Stack and hybrid search, enrich Response API (#1372)
  paper/sections/memory_rag.tex
Due: none

feat: support hybrid memory search (#1366)
  e2e/cmd/e2e/main.go
  e2e/profiles/rag-hybrid-search/manifests/llama-stack.yaml
  e2e/profiles/rag-hybrid-search/profile.go
  e2e/profiles/rag-hybrid-search/values.yaml
  e2e/testcases/rag_vectorstore_hybrid.go
  src/semantic-router/pkg/apiserver/route_vectorstore.go
  src/semantic-router/pkg/vectorstore/hybrid.go
  src/semantic-router/pkg/vectorstore/hybrid_test.go
  src/semantic-router/pkg/vectorstore/memory_backend.go
  src/semantic-router/pkg/vectorstore/types.go
  tools/make/e2e.mk
Due: go-fmt, yaml-and-yml-fmt

[v0.2-Athena] Pre-train base model with longer context window - Issue #995 (#1359)
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/examples/benchmark_concurrent.rs
  candle-binding/examples/benchmark_performance.rs
  candle-binding/examples/list_safetensors_keys.rs
  candle-binding/examples/test_32k_classifier_inference.rs
  candle-binding/examples/test_classifier_compatibility.rs
  candle-binding/examples/test_full_inference_32k.rs
  candle-binding/examples/test_long_text_inference_32k.rs
  candle-binding/examples/test_lora_compatibility_32k.rs
  candle-binding/examples/test_lora_inference_32k.rs
  candle-binding/examples/test_modernbert_32k_validation.rs
  candle-binding/src/ffi/init.rs
  candle-binding/src/model_architectures/traditional/base_model.rs
  candle-binding/src/model_architectures/traditional/candle_models/mod.rs
  candle-binding/src/model_architectures/traditional/candle_models/modernbert.rs
  candle-binding/src/model_architectures/traditional/mod.rs
  candle-binding/src/model_architectures/traditional/modernbert.rs
  candle-binding/src/model_architectures/traditional/modernbert_test.rs
  src/semantic-router/pkg/config/registry.go
  src/semantic-router/pkg/config/registry_max_context_test.go
  website/docs/tutorials/performance-tuning/modernbert-32k-docs/modernbert-32k-big-batch-test-plan.md
  website/docs/tutorials/performance-tuning/modernbert-32k-docs/modernbert-32k-deployment-guide.md
  website/docs/tutorials/performance-tuning/modernbert-32k-docs/modernbert-32k-long-context-test-plan.md
  website/docs/tutorials/performance-tuning/modernbert-32k-docs/modernbert-32k-performance-validation.md
  website/docs/tutorials/performance-tuning/modernbert-32k-performance.md
Due: go-fmt, md-fmt, cargo-fmt, cargo-check

feat: add --minimal flag to vllm-sr serve (#1329) (#1355)
  src/vllm-sr/cli/core.py
  src/vllm-sr/cli/docker_cli.py
  src/vllm-sr/cli/main.py
  src/vllm-sr/start-dashboard.sh
Due: none

feat(vectorstore): add Llama Stack as a VectorStoreBackend for RAG
  Makefile
  config/config-rag-example.yaml
  e2e/cmd/e2e/main.go
  e2e/profiles/rag-llama-stack/manifests/llama-stack.yaml
  e2e/profiles/rag-llama-stack/profile.go
  e2e/profiles/rag-llama-stack/values.yaml
  e2e/testcases/rag_vectorstore.go
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/apiserver/route_vectorstore.go
  src/semantic-router/pkg/config/vectorstore.go
  src/semantic-router/pkg/extproc/req_filter_rag_vectorstore.go
  src/semantic-router/pkg/vectorstore/config_test.go
  src/semantic-router/pkg/vectorstore/factory.go
  src/semantic-router/pkg/vectorstore/llama_stack_backend.go
  src/semantic-router/pkg/vectorstore/llama_stack_backend_test.go
  src/semantic-router/pkg/vectorstore/memory_backend_test.go
  src/semantic-router/pkg/vectorstore/types.go
  tools/make/build-run-test.mk
  tools/make/e2e.mk
  tools/make/llama-stack.mk
  website/docs/installation/configuration.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

docs(paper): add ModernBERT-base-32k extended context window section (#1371)
  paper/references.bib
  paper/sections/ml_inference.tex
Due: none

onboard eval
  src/training/model_eval/onboard_eval.py
Due: none

fix(training): update stale paths in go.mod, Makefile, and scripts after training dir refactor (#1391)
  scripts/train-mmbert32k-gpu.sh
  src/training/model_selection/ml_model_selection/go.mod
  tools/make/models.mk
Due: none

fix(onnx-binding): add missing stubs and fix go.onnx.mod for ONNX build (#1381)
  ml-binding/src/svm.rs
  onnx-binding/semantic-router.go
  onnx-binding/src/ffi/unified.rs
  src/semantic-router/go.onnx.mod
Due: go-fmt, cargo-fmt, cargo-check

fix(e2e): correct ml-model-selection download output-dir path after training dir restructure (#1389)
  e2e/profiles/ml-model-selection/profile.go
  src/semantic-router/pkg/imagegen/integration_test.go
Due: go-fmt

Reorgnize the top bar to group analyses features and Operations into drop down menu (#1392)
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
Due: none

feat(jailbreak): contrastive embedding detection method for multi-turn jb (#1394)
  config/prompt-guard/contrastive-jailbreak.yaml
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/types/config.ts
  paper/sections/safety.tex
  paper/sections/signal_engine.tex
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/contrastive_jailbreak_classifier.go
  src/semantic-router/pkg/config/config.go
  src/vllm-sr/cli/merger.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/templates/config.template.yaml
  website/docs/installation/configuration.md
  website/docs/overview/signal-driven-decisions.md
  website/docs/tutorials/content-safety/jailbreak-protection.md
  website/docusaurus.config.ts
  website/src/pages/index.tsx
  website/static/vllm-semantic-router.pdf
Due: go-fmt, md-fmt, yaml-and-yml-fmt

paper: update memory part (#1398)
  .github/workflows/paper-build.yml
  paper/Makefile
  paper/main.tex
  paper/sections/abstract.tex
  paper/sections/evaluation.tex
  paper/sections/introduction.tex
  paper/sections/memory_rag.tex
  website/src/pages/white-paper.module.css
  website/src/pages/white-paper.tsx
  website/static/img/vllm-logo-text-light.png
  website/static/vllm-semantic-router.pdf
  website/static/white-paper.pdf
Due: yaml-and-yml-fmt

docs(paper): fix ReMoM description accuracy and add hybrid search figure (#1376)
  paper/main.tex
  paper/references.bib
  paper/sections/memory_rag.tex
  paper/sections/model_selection.tex
Due: none

docs(i18n): sync zh-Hans translation files (#1396)
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/configuration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/goals.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/signal-driven-decisions.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/ml-model-selection.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/troubleshooting/common-errors.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/content-safety/jailbreak-protection.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/content-safety/pii-detection.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/intelligent-route/keyword-routing.md
Due: md-fmt

feat: prometheus metrics for memory operations to enable monitoring and alerting (#1378)
  src/semantic-router/pkg/memory/extractor.go
  src/semantic-router/pkg/memory/metrics.go
  src/semantic-router/pkg/memory/metrics_test.go
  src/semantic-router/pkg/memory/milvus_store.go
Due: go-fmt

chore: normalize streaming options during looper (#1397)
  src/semantic-router/pkg/looper/client.go
Due: go-fmt

feat(vectorstore): enable hybrid search in Llama Stack via Milvus vector_io (#1370)
  e2e/profiles/rag-hybrid-search/manifests/llama-stack.yaml
  e2e/profiles/rag-hybrid-search/values.yaml
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/config/vectorstore.go
  src/semantic-router/pkg/vectorstore/config_test.go
  src/semantic-router/pkg/vectorstore/llama_stack_backend.go
  src/semantic-router/pkg/vectorstore/llama_stack_backend_test.go
  src/vllm-sr/cli/templates/config.template.yaml
  tools/make/llama-stack.mk
  website/docs/installation/configuration.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat: add confidence on tool call arg (#1409)
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/looper/client.go
  src/semantic-router/pkg/looper/client_token_filter_test.go
  src/semantic-router/pkg/looper/confidence.go
Due: go-fmt

feat(signals): sync modality and authz signals across all components (#1401)
  dashboard/frontend/src/pages/topology/constants.ts
  dashboard/frontend/src/pages/topology/types.ts
  dashboard/frontend/src/pages/topology/utils/signalMatcher.ts
  dashboard/frontend/src/pages/topology/utils/topologyParser.ts
  dashboard/frontend/src/types/config.ts
  paper/main.tex
  src/vllm-sr/cli/models.py
  website/docs/overview/signal-driven-decisions.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/signal-driven-decisions.md
  website/src/pages/white-paper.tsx
  website/static/white-paper.pdf
Due: md-fmt

fix(validator,dashboard): fix complexity signal validation and optimize dashboard UI (#1406)
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/DashboardPage.module.css
  dashboard/frontend/src/pages/DashboardPage.tsx
  src/vllm-sr/cli/validator.py
Due: none

fix(website): improve white-paper desktop page layout (#1402)
  README.md
  website/src/pages/white-paper.module.css
  website/src/pages/white-paper.tsx
Due: md-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
