Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

feat(playground): add file attachments with 10MB limit
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ChatComponentInputBar.tsx
  dashboard/frontend/src/components/ChatComponentMessages.tsx
  dashboard/frontend/src/components/ChatComponentTypes.ts
  dashboard/frontend/src/components/chatRequestSupport.ts
  dashboard/frontend/src/components/chatTaskExecution.ts
  dashboard/frontend/src/components/playgroundFileAttachments.test.ts
  dashboard/frontend/src/components/playgroundFileAttachments.ts
Due: none

fix the break test cases for the use case
  dashboard/frontend/src/components/playgroundFileAttachments.test.ts
  dashboard/frontend/src/components/playgroundFileAttachments.ts
Due: none

feat: add file attachments feature on the playground (#1971)
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ChatComponentInputBar.tsx
  dashboard/frontend/src/components/ChatComponentMessages.tsx
  dashboard/frontend/src/components/ChatComponentTypes.ts
  dashboard/frontend/src/components/chatRequestSupport.ts
  dashboard/frontend/src/components/chatTaskExecution.ts
  dashboard/frontend/src/components/playgroundFileAttachments.ts
  dashboard/frontend/src/components/useChatConversationState.ts
  dashboard/frontend/src/components/usePlaygroundAttachments.ts
  dashboard/frontend/src/components/usePlaygroundConversationMessages.ts
Due: none

docs: keep maintainer ops out of release tasks
  docs/agent/maintainer-ops.md
  docs/agent/plans/pl-0033-v0-3-themis-release-closure.md
Due: md-fmt

[Dashboard] refactor: add room collaboration event bus with unified WS/SSE fan-out
  dashboard/backend/handlers/openclaw.go
  dashboard/backend/handlers/openclaw_room_automation.go
  dashboard/backend/handlers/openclaw_room_collaboration.go
  dashboard/backend/handlers/openclaw_room_collaboration_test.go
  dashboard/backend/handlers/openclaw_rooms.go
  dashboard/backend/handlers/openclaw_websocket.go
  dashboard/backend/handlers/openclaw_websocket_test.go
Due: go-fmt

docs: clarify v0.3 release tasks
  docs/agent/plans/pl-0033-v0-3-themis-release-closure.md
Due: md-fmt

docs: ground v0.3 plan in release blockers
  docs/agent/architecture-scorecard.md
  docs/agent/plans/pl-0033-v0-3-themis-release-closure.md
  docs/agent/tech-debt/README.md
  docs/agent/tech-debt/td-015-weakly-typed-config-and-dsl-contracts.md
  docs/agent/tech-debt/td-028-operator-config-contract-boundary-collapse.md
  docs/agent/tech-debt/td-030-dashboard-frontend-config-and-interaction-slice-collapse.md
  docs/agent/tech-debt/td-031-router-runtime-bootstrap-and-shared-service-registry-global-state.md
  docs/agent/tech-debt/td-032-training-evaluation-artifact-contract-drift.md
  docs/agent/tech-debt/td-033-native-binding-runtime-parity-and-lifecycle-gap.md
  docs/agent/tech-debt/td-034-runtime-and-dashboard-state-durability-and-telemetry-contract.md
  docs/agent/tech-debt/td-037-dev-integration-env-ownership-and-shared-suite-topology.md
  docs/agent/tech-debt/td-039-control-plane-contract-ownership-collapse.md
  tools/agent/repo-manifest.yaml
Due: md-fmt, yaml-and-yml-fmt

bench: add agentic routing experiment matrix
  bench/agentic_routing_experiment.py
Due: none

docs: include anthropic shim in release contract
  .github/workflows/release.yml
  website/docs/installation/upgrade-rollback.md
Due: md-fmt, yaml-and-yml-fmt

fix: lift observability out of helm resources
  deploy/helm/semantic-router/values.yaml
Due: yaml-and-yml-fmt

fix: request identity-encoded upstream responses
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_req_header_test.go
Due: go-fmt

fix: reject native windows docker runtime
  src/vllm-sr/README.md
  src/vllm-sr/cli/docker_runtime.py
  src/vllm-sr/tests/test_docker_runtime.py
  website/docs/installation/installation.md
Due: md-fmt

bench: add agentic routing policy ablations
  bench/agentic_routing_experiment.py
Due: none

feat: harden agentic routing context portability
  bench/agentic_routing_experiment.py
  config/README.md
  config/algorithm/selection/session-aware.yaml
  config/config.yaml
  src/semantic-router/pkg/config/selection_config.go
  src/semantic-router/pkg/config/validator_model_switch_gate.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/req_filter_classification_selection_test.go
  src/semantic-router/pkg/extproc/router_selection.go
  src/semantic-router/pkg/extproc/session_context_portability.go
  src/semantic-router/pkg/selection/agentic_session_context.go
  src/semantic-router/pkg/selection/session_aware.go
  src/semantic-router/pkg/selection/session_aware_scoring.go
  src/semantic-router/pkg/selection/session_aware_test.go
  src/semantic-router/pkg/selection/session_policy_trace.go
  src/vllm-sr/cli/algorithms.py
  website/docs/installation/configuration.md
  website/docs/tutorials/algorithm/selection/session-aware.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix: preserve agentic tool-loop hard lock
  src/semantic-router/pkg/classification/classifier_signal_conversation.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/req_filter_classification_selection_test.go
  src/semantic-router/pkg/extproc/req_filter_classification_signal.go
  src/semantic-router/pkg/extproc/request_signal_history.go
  src/semantic-router/pkg/extproc/request_signal_history_test.go
  src/semantic-router/pkg/extproc/utils_fast.go
  src/semantic-router/pkg/extproc/utils_fast_anthropic.go
  src/semantic-router/pkg/extproc/utils_fast_test.go
Due: go-fmt

fix: record session header usage telemetry
  src/semantic-router/pkg/extproc/session_telemetry.go
  src/semantic-router/pkg/extproc/session_transition_last_model_test.go
Due: go-fmt

feat: use remaining turn priors in session routing
  config/README.md
  src/semantic-router/pkg/selection/session_aware.go
  src/semantic-router/pkg/selection/session_aware_scoring.go
  src/semantic-router/pkg/selection/session_aware_test.go
  src/semantic-router/pkg/selection/session_policy_trace.go
  website/docs/tutorials/algorithm/selection/session-aware.md
Due: go-fmt, md-fmt

bench: add remaining-prior agentic ablations
  bench/agentic_routing_experiment.py
  bench/test_agentic_routing_experiment.py
Due: none

[Router] defer KB exemplar preloading when no backend override is set
  src/semantic-router/pkg/classification/category_kb_classifier.go
  src/semantic-router/pkg/classification/category_kb_classifier_test.go
Due: go-fmt

[Router] validate mmbert_model_path rejects classic BERT models at config-load time
  src/semantic-router/pkg/config/validator_embedding.go
  src/semantic-router/pkg/config/validator_embedding_test.go
Due: go-fmt

fix: price session cache pressure by input checkout cost
  src/semantic-router/pkg/selection/session_aware_scoring.go
  src/semantic-router/pkg/selection/session_aware_test.go
Due: go-fmt

fix: preserve explicit zero session-aware config
  config/README.md
  src/semantic-router/pkg/config/selection_config.go
  src/semantic-router/pkg/config/validator_model_switch_gate.go
  src/semantic-router/pkg/config/validator_model_switch_gate_test.go
  src/semantic-router/pkg/extproc/req_filter_classification_selection_test.go
  src/semantic-router/pkg/extproc/router_selection.go
  src/semantic-router/pkg/extproc/router_selection_config_test.go
  src/vllm-sr/cli/algorithms.py
  website/docs/tutorials/algorithm/selection/session-aware.md
Due: go-fmt, md-fmt

feat: add context portability to session-aware routing
  config/README.md
  config/algorithm/selection/session-aware.yaml
  config/config.yaml
  src/semantic-router/pkg/config/selection_config.go
  src/semantic-router/pkg/config/validator_model_switch_gate.go
  src/semantic-router/pkg/config/validator_model_switch_gate_test.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/req_filter_classification_selection_test.go
  src/semantic-router/pkg/extproc/router_selection.go
  src/semantic-router/pkg/extproc/session_context_portability.go
  src/semantic-router/pkg/selection/agentic_session_context.go
  src/semantic-router/pkg/selection/session_aware.go
  src/semantic-router/pkg/selection/session_aware_scoring.go
  src/semantic-router/pkg/selection/session_aware_test.go
  src/semantic-router/pkg/selection/session_policy_trace.go
  src/vllm-sr/cli/algorithms.py
  website/docs/installation/configuration.md
  website/docs/proposals/unified-config-contract-v0-3.md
  website/docs/tutorials/algorithm/selection/session-aware.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat: gate remaining-turn priors by replay confidence
  config/README.md
  config/algorithm/selection/session-aware.yaml
  config/config.yaml
  src/semantic-router/pkg/config/selection_config.go
  src/semantic-router/pkg/config/validator_model_switch_gate.go
  src/semantic-router/pkg/config/validator_model_switch_gate_test.go
  src/semantic-router/pkg/extproc/router_selection.go
  src/semantic-router/pkg/selection/session_aware.go
  src/semantic-router/pkg/selection/session_aware_scoring.go
  src/semantic-router/pkg/selection/session_aware_test.go
  src/semantic-router/pkg/selection/session_policy_trace.go
  src/vllm-sr/cli/algorithms.py
  website/docs/installation/configuration.md
  website/docs/proposals/unified-config-contract-v0-3.md
  website/docs/tutorials/algorithm/selection/session-aware.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Router] defer KB exemplar preloading when no backend override is set (#1985)
  src/semantic-router/pkg/classification/category_kb_classifier.go
  src/semantic-router/pkg/classification/category_kb_classifier_test.go
Due: go-fmt

fix: preserve agentic tool-loop hard lock (#1980)
  src/semantic-router/pkg/classification/classifier_signal_conversation.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/req_filter_classification_selection_test.go
  src/semantic-router/pkg/extproc/req_filter_classification_signal.go
  src/semantic-router/pkg/extproc/request_signal_history.go
  src/semantic-router/pkg/extproc/request_signal_history_test.go
  src/semantic-router/pkg/extproc/utils_fast.go
  src/semantic-router/pkg/extproc/utils_fast_anthropic.go
  src/semantic-router/pkg/extproc/utils_fast_test.go
Due: go-fmt

[Dashboard] refactor: add room collaboration event bus with unified WS/SSE fan-out (#1973)
  dashboard/backend/handlers/openclaw.go
  dashboard/backend/handlers/openclaw_room_automation.go
  dashboard/backend/handlers/openclaw_room_collaboration.go
  dashboard/backend/handlers/openclaw_room_collaboration_test.go
  dashboard/backend/handlers/openclaw_rooms.go
  dashboard/backend/handlers/openclaw_websocket.go
  dashboard/backend/handlers/openclaw_websocket_test.go
Due: go-fmt

fix: request identity-encoded upstream responses (#1977)
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_req_header_test.go
Due: go-fmt

fix: record session header usage telemetry (#1982)
  src/semantic-router/pkg/extproc/session_telemetry.go
  src/semantic-router/pkg/extproc/session_transition_last_model_test.go
Due: go-fmt

feat: gate remaining-turn priors by replay confidence (#1983)
  config/README.md
  config/algorithm/selection/session-aware.yaml
  config/config.yaml
  src/semantic-router/pkg/config/selection_config.go
  src/semantic-router/pkg/config/validator_model_switch_gate.go
  src/semantic-router/pkg/config/validator_model_switch_gate_test.go
  src/semantic-router/pkg/extproc/router_selection.go
  src/semantic-router/pkg/selection/session_aware.go
  src/semantic-router/pkg/selection/session_aware_scoring.go
  src/semantic-router/pkg/selection/session_aware_test.go
  src/semantic-router/pkg/selection/session_policy_trace.go
  src/vllm-sr/cli/algorithms.py
  website/docs/installation/configuration.md
  website/docs/proposals/unified-config-contract-v0-3.md
  website/docs/tutorials/algorithm/selection/session-aware.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

bench: add remaining-prior agentic ablations (#1984)
  bench/agentic_routing_experiment.py
  bench/test_agentic_routing_experiment.py
Due: none

[Router] validate mmbert_model_path rejects classic BERT models at config-load time (#1981)
  src/semantic-router/pkg/config/validator_embedding.go
  src/semantic-router/pkg/config/validator_embedding_test.go
Due: go-fmt

feat: harden session-aware agentic routing
  bench/agentic_routing_experiment.py
  config/README.md
  config/algorithm/selection/session-aware.yaml
  config/config.yaml
  docs/agent/plans/pl-0033-v0-3-themis-release-closure.md
  src/semantic-router/pkg/config/selection_config.go
  src/semantic-router/pkg/config/validator_model_switch_gate.go
  src/semantic-router/pkg/config/validator_model_switch_gate_test.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/req_filter_classification_selection_test.go
  src/semantic-router/pkg/extproc/router_selection.go
  src/semantic-router/pkg/selection/agentic_session_context.go
  src/semantic-router/pkg/selection/session_aware.go
  src/semantic-router/pkg/selection/session_aware_scoring.go
  src/semantic-router/pkg/selection/session_aware_test.go
  src/semantic-router/pkg/selection/session_policy_trace.go
  src/semantic-router/pkg/sessiontelemetry/router_memory.go
  src/semantic-router/pkg/sessiontelemetry/router_memory_test.go
  src/vllm-sr/cli/algorithms.py
  src/vllm-sr/cli/commands/runtime_paths.py
  src/vllm-sr/tests/test_runtime_support.py
  website/docs/installation/configuration.md
  website/docs/proposals/unified-config-contract-v0-3.md
  website/docs/tutorials/algorithm/selection/session-aware.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

bench: add live agentic routing benchmark
  bench/README.md
  bench/agentic_routing_live_benchmark.py
  bench/test_agentic_routing_live_benchmark.py
Due: md-fmt

bench: compare live router overhead
  bench/README.md
  bench/agentic_routing_live_benchmark.py
  bench/test_agentic_routing_live_benchmark.py
Due: md-fmt

fix: harden agentic routing recovery paths
  bench/README.md
  bench/agentic_routing_live_benchmark.py
  bench/test_agentic_routing_live_benchmark.py
  src/semantic-router/pkg/config/endpoint_selection.go
  src/semantic-router/pkg/config/endpoint_selection_test.go
  src/semantic-router/pkg/config/helper.go
Due: go-fmt, md-fmt
