Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

lint
  candle-binding/src/model_architectures/traditional/modernbert.rs
  onnx-binding/src/model_architectures/classification/mmbert_classifier.rs
  onnx-binding/src/model_architectures/embedding/mmbert_embedding.rs
Due: cargo-fmt, cargo-check

lint
  src/semantic-router/pkg/extproc/processor_core_panic_test.go
Due: go-fmt

fix(onnx-binding): resolve clippy warnings in mmbert_embedding
  onnx-binding/src/model_architectures/embedding/mmbert_embedding.rs
Due: cargo-fmt, cargo-check

feat: Bundle KB asset files into Helm chart
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/values.yaml
Due: yaml-and-yml-fmt

fix(model_switch_gate): avoid mutating informational slice via append aliasing
  src/semantic-router/pkg/selection/model_switch_gate.go
Due: go-fmt

fix: ci error
  src/semantic-router/pkg/config/validator.go
Due: go-fmt

fix: address review feedback — stable sort, method default, reference config coverage
  config/config.yaml
  src/semantic-router/pkg/classification/classifier_projections.go
  src/semantic-router/pkg/config/reference_config_public_surface_test.go
  src/semantic-router/pkg/k8s/testdata/output/01-basic.yaml
  src/semantic-router/pkg/k8s/testdata/output/02-keyword-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/03-embedding-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/04-domain-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/05-keyword-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/06-keyword-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/07-domain-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/08-keyword-embedding-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/09-keyword-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/10-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/11-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/12-keyword-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/13-keyword-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/14-domain-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/15-keyword-embedding-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/16-keyword-embedding-domain-no-plugin.yaml
  src/vllm-sr/cli/models.py
Due: go-fmt, yaml-and-yml-fmt

feat: support hierarchical projection composition and dependency ordering (#1758)
  dashboard/frontend/src/pages/ConfigPageProjectionsSection.tsx
  src/semantic-router/pkg/classification/classifier_projections.go
  src/semantic-router/pkg/classification/classifier_projections_test.go
  src/semantic-router/pkg/classification/classifier_signal_eval.go
  src/semantic-router/pkg/config/validator_projection.go
  src/semantic-router/pkg/config/validator_projection_test.go
  src/semantic-router/pkg/dsl/validator_conflicts.go
  src/semantic-router/pkg/dsl/validator_projection_deps.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/validator.py
  website/docs/tutorials/projection/scores.md
Due: go-fmt, md-fmt

fix(extproc): wrap background goroutines with panic recovery (#1843)
  src/semantic-router/pkg/extproc/processor_res_memory.go
  src/semantic-router/pkg/extproc/req_filter_modality.go
  src/semantic-router/pkg/extproc/router_selection.go
  src/semantic-router/pkg/extproc/safego.go
  src/semantic-router/pkg/extproc/safego_test.go
  src/semantic-router/pkg/extproc/server.go
Due: go-fmt

fix(event-context): address PR review comments from Copilot and rootfs
  src/semantic-router/pkg/classification/event_context_classifier.go
  src/semantic-router/pkg/config/canonical_export.go
  website/docs/tutorials/signal/heuristic/event-context.md
Due: go-fmt, md-fmt

docs: update Table 1 with measured B200 results
  src/fleet-sim/studies/context-length-power-efficiency/data/b200_table1_measurements/B200_env.txt
  src/fleet-sim/studies/context-length-power-efficiency/data/b200_table1_measurements/final_results.csv
  src/fleet-sim/studies/context-length-power-efficiency/data/b200_table1_measurements/nmax.txt
  src/fleet-sim/studies/context-length-power-efficiency/main.pdf
  src/fleet-sim/studies/context-length-power-efficiency/main.tex
Due: none

fix(stability,signals): recover signal dispatcher panics + configurable language threshold
  config/config.yaml
  src/semantic-router/pkg/classification/classifier_signal_context.go
  src/semantic-router/pkg/classification/classifier_signal_dispatch.go
  src/semantic-router/pkg/classification/classifier_signal_dispatch_panic_test.go
  src/semantic-router/pkg/classification/classifier_signal_language.go
  src/semantic-router/pkg/classification/language_classifier.go
  src/semantic-router/pkg/config/signal_config.go
  src/semantic-router/pkg/observability/metrics/signal_decision_plugin_metrics.go
Due: go-fmt, yaml-and-yml-fmt

feat(api): expose POST /api/v1/nli — Natural Language Inference endpoint
  src/semantic-router/pkg/apiserver/route_classify_eval_test.go
  src/semantic-router/pkg/apiserver/route_nli.go
  src/semantic-router/pkg/apiserver/route_nli_test.go
  src/semantic-router/pkg/apiserver/runtime_service.go
  src/semantic-router/pkg/apiserver/runtime_state_test.go
  src/semantic-router/pkg/apiserver/server.go
  src/semantic-router/pkg/services/classification.go
Due: go-fmt

style: apply gofumpt formatting to route_nli_test.go
  src/semantic-router/pkg/apiserver/route_nli_test.go
Due: go-fmt

fix(hnsw): replace timestamp-based fake randomness with math/rand/v2 in selectLevel
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/hnsw/hnsw.go
Due: go-fmt

Fix lint error
  src/semantic-router/pkg/hnsw/hnsw.go
Due: go-fmt

[Router] Support image-modality queries in embedding signals
  config/README.md
  config/config.yaml
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/classification/embedding_classifier_integration_test.go
  src/semantic-router/pkg/classification/embedding_classifier_test.go
  src/semantic-router/pkg/config/signal_config.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_embedding.go
  src/semantic-router/pkg/config/validator_embedding_test.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/validator.py
  src/vllm-sr/tests/test_embedding_modality_validation.py
  website/docs/installation/configuration.md
  website/docs/tutorials/signal/learned/embedding.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

config: add decision-level dynamic tool retrieval contract (#1832)
  src/semantic-router/pkg/config/tools_plugin.go
  src/semantic-router/pkg/config/tools_plugin_test.go
  src/semantic-router/pkg/config/tools_plugin_validation.go
Due: go-fmt

test: split validation specs to clear funlen lint limit
  src/semantic-router/pkg/config/tools_plugin_test.go
Due: go-fmt

style: gofmt struct literal alignment
  src/semantic-router/pkg/config/tools_plugin_test.go
Due: go-fmt

[Router] Correct canonical config path and tighten classifier internals
  config/README.md
  config/config.yaml
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/config/signal_config.go
  src/semantic-router/pkg/config/validator_embedding.go
  src/vllm-sr/cli/models.py
  website/docs/installation/configuration.md
  website/docs/tutorials/signal/learned/embedding.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

refactor(signals): remove panic handler per maintainer request
  src/semantic-router/pkg/classification/classifier_signal_dispatch.go
  src/semantic-router/pkg/classification/classifier_signal_dispatch_panic_test.go
  src/semantic-router/pkg/observability/metrics/signal_decision_plugin_metrics.go
Due: go-fmt

fix(classification): cache BM25/N-gram results to eliminate O(N²) classify amplification
  src/semantic-router/pkg/classification/keyword_classifier.go
  src/semantic-router/pkg/classification/keyword_classifier_n2_test.go
Due: go-fmt

Implement test for config path loading
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt

chore(cli): support nvidia gpu for vsr cli
  src/vllm-sr/cli/commands/runtime.py
  src/vllm-sr/cli/config_generator.py
  src/vllm-sr/cli/consts.py
  src/vllm-sr/cli/docker_run_command.py
  src/vllm-sr/cli/docker_start.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/templates/envoy.template.yaml
  tools/make/docker.mk
Due: yaml-and-yml-fmt

[Router] Wire image-modality embedding signals through the request path
  e2e/config/config.embedding-image-routing.yaml
  e2e/testcases/embedding_signal_image_routing.go
  e2e/testcases/testdata/embedding_signal_image_cases.json
  src/semantic-router/pkg/classification/classifier_signal_context.go
  src/semantic-router/pkg/classification/classifier_signal_dispatch.go
  src/semantic-router/pkg/classification/classifier_signal_embedding_helpers.go
  src/semantic-router/pkg/classification/classifier_signal_image_dispatch_test.go
Due: go-fmt, yaml-and-yml-fmt

fix(signals): address PR #1868 review (image FFI dedup, empty-text skip, per-modality metrics)
  e2e/config/config.embedding-image-routing.yaml
  e2e/testcases/embedding_signal_image_routing.go
  e2e/testcases/testdata/embedding_signal_image_cases.json
  src/semantic-router/pkg/classification/classifier_signal_context.go
  src/semantic-router/pkg/classification/classifier_signal_dispatch.go
  src/semantic-router/pkg/classification/classifier_signal_embedding_helpers.go
  src/semantic-router/pkg/classification/classifier_signal_image_dispatch_test.go
  src/semantic-router/pkg/classification/complexity_classifier.go
  src/semantic-router/pkg/classification/complexity_classifier_support.go
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/classification/request_image_embedding_cache.go
  src/semantic-router/pkg/classification/request_image_embedding_cache_test.go
Due: go-fmt, yaml-and-yml-fmt

fix(signals): satisfy CI lint + add real concurrent dispatcher dedup test
  src/semantic-router/pkg/classification/classifier_signal_context.go
  src/semantic-router/pkg/classification/classifier_signal_image_dispatch_test.go
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/classification/request_image_embedding_cache_test.go
Due: go-fmt

Add unit coverage for python config file loader
  src/vllm-sr/tests/test_config_file_loaders.py
Due: none

[Operator] Expose queryModality on IntelligentRoute EmbeddingSignal CRD
  deploy/helm/semantic-router/crds/vllm.ai_intelligentroutes.yaml
  deploy/kubernetes/crds/vllm.ai_intelligentroutes.yaml
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/types_route.go
  src/semantic-router/pkg/k8s/converter.go
  src/semantic-router/pkg/k8s/converter_embedding_modality_test.go
  src/semantic-router/pkg/k8s/testdata/input/17-embedding-multimodal.yaml
  src/semantic-router/pkg/k8s/testdata/output/17-embedding-multimodal.yaml
Due: go-fmt, yaml-and-yml-fmt

[Dashboard] Honor TARGET_ROUTER_API_URL when frontend sends placeholder eval endpoint
  dashboard/backend/handlers/evaluation_create.go
  dashboard/backend/handlers/evaluation_test.go
Due: go-fmt

skip vsr processing based on header
  src/semantic-router/pkg/extproc/processor_core.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/extproc/req_filter_skip_processing.go
  src/semantic-router/pkg/extproc/req_filter_skip_processing_test.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/headers/headers_test.go
Due: go-fmt

Add random routing signal
  config/README.md
  config/config.yaml
  config/signal/random/digit.yaml
  src/semantic-router/pkg/classification/classifier_composers.go
  src/semantic-router/pkg/classification/classifier_projections.go
  src/semantic-router/pkg/classification/classifier_signal_context.go
  src/semantic-router/pkg/classification/classifier_signal_dispatch.go
  src/semantic-router/pkg/classification/classifier_signal_eval.go
  src/semantic-router/pkg/classification/classifier_signal_random.go
  src/semantic-router/pkg/classification/classifier_signal_random_test.go
  src/semantic-router/pkg/config/canonical_config.go
  src/semantic-router/pkg/config/canonical_export.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/docs_contract_signal_test.go
  src/semantic-router/pkg/config/reference_config_public_surface_test.go
  src/semantic-router/pkg/config/reference_config_routing_surface_test.go
  src/semantic-router/pkg/config/routing_surface_catalog.go
  src/semantic-router/pkg/config/signal_config.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_projection.go
  src/semantic-router/pkg/config/validator_random.go
  src/semantic-router/pkg/config/validator_random_test.go
  src/semantic-router/pkg/decision/engine.go
  src/semantic-router/pkg/decision/engine_random_test.go
  website/docs/installation/configuration.md
  website/docs/proposals/unified-config-contract-v0-3.md
  website/docs/tutorials/signal/heuristic/random.md
  website/docs/tutorials/signal/overview.md
  website/sidebars.ts
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat(dsl): harden EMIT retention validation
  config/README.md
  src/semantic-router/pkg/config/decision_config.go
  src/semantic-router/pkg/config/validator_decision.go
  src/semantic-router/pkg/config/validator_decision_emit.go
  src/semantic-router/pkg/config/validator_decision_emit_test.go
  src/semantic-router/pkg/dsl/ast.go
  src/semantic-router/pkg/dsl/ast_json.go
  src/semantic-router/pkg/dsl/compiler.go
  src/semantic-router/pkg/dsl/emit_retention_test.go
  src/semantic-router/pkg/dsl/parser.go
  src/semantic-router/pkg/dsl/parser_emit.go
  src/semantic-router/pkg/dsl/validator_emit.go
  src/semantic-router/pkg/extproc/processor_res_cache.go
  src/semantic-router/pkg/extproc/processor_res_cache_retention_test.go
  website/docs/installation/configuration.md
  website/docs/proposals/unified-config-contract-v0-3.md
Due: go-fmt, md-fmt

feat(extproc): wire EMIT retention drop gate into cache write path and document the directive
  src/semantic-router/pkg/extproc/processor_res_cache.go
  src/semantic-router/pkg/extproc/processor_res_cache_retention.go
  src/semantic-router/pkg/extproc/processor_res_cache_retention_test.go
  src/semantic-router/pkg/extproc/req_filter_classification_runtime.go
  src/semantic-router/pkg/extproc/request_context.go
  website/sidebars.ts
Due: go-fmt

fix: harden retention docs and observability coverage
  src/semantic-router/pkg/config/validator_decision_emit.go
  src/semantic-router/pkg/extproc/processor_res_cache_retention.go
  src/semantic-router/pkg/extproc/processor_res_cache_retention_test.go
Due: go-fmt

feat(dsl): add EMIT retention directive contract
  config/config.yaml
  src/semantic-router/pkg/config/decision_config.go
  src/semantic-router/pkg/dsl/ast.go
  src/semantic-router/pkg/dsl/ast_json.go
  src/semantic-router/pkg/dsl/compiler.go
  src/semantic-router/pkg/dsl/decision_tree.go
  src/semantic-router/pkg/dsl/decompiler.go
  src/semantic-router/pkg/dsl/emit_retention_test.go
  src/semantic-router/pkg/dsl/parser.go
  src/semantic-router/pkg/dsl/validator.go
  src/semantic-router/pkg/dsl/validator_emit.go
Due: go-fmt, yaml-and-yml-fmt

fix docs build
  config/README.md
  website/docs/installation/configuration.md
  website/docs/tutorials/decision/overview.md
  website/docs/tutorials/decision/retention.md
Due: md-fmt

Add DSL support for tools dynamic retrieval
  src/semantic-router/pkg/dsl/compiler.go
  src/semantic-router/pkg/dsl/decompiler.go
  src/semantic-router/pkg/dsl/decompiler_plugin_config_test.go
  src/semantic-router/pkg/dsl/taxonomy_dsl_test.go
Due: go-fmt

Centralize Helm release defaults in deployer
  e2e/pkg/helm/deployer.go
  e2e/pkg/helm/deployer_test.go
  e2e/pkg/stacks/gateway/stack.go
  e2e/pkg/stacks/gateway/stack_test.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
