Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

Migrate reask-routing onto the shared signal-routing helper
  e2e/testcases/reask_routing.go
Due: go-fmt

docs(decision2): record official 9B short-train development hold
  src/training/decision2/research/qwen35-9b-shorttrain-full-development-result-2026-09-28.md
Due: md-fmt

To resolve issue with image requests, and audio-only requests
  e2e/testcases/service_readiness_503.go
  src/semantic-router/pkg/apiserver/embedding_media_test.go
  src/semantic-router/pkg/apiserver/route_embeddings.go
  src/semantic-router/pkg/apiserver/route_embeddings_test.go
Due: go-fmt

docs(decision2): record private 0.6B product card readback
  src/training/decision2/research/qwen3-06b-product-card-refresh-2026-09-28.md
Due: md-fmt

research(decision2): match ordinal arm against old Score rows
  src/training/decision2/training/data/score_4b_fresh_ordinal.py
Due: none

research(decision2): document held 4B Score CPU candidate
  src/training/decision2/research/qwen35-4b-fresh-ordinal-cpu-hold-2026-09-28.md
Due: md-fmt

research(decision2): stage fresh ordinal Score CPU candidate builder
  src/training/decision2/training/data/score_4b_fresh_ordinal.py
  src/training/decision2/training/data/tests/test_score_4b_fresh_ordinal.py
Due: none

research(decision2): include earlier Score packets in overlap audit
  src/training/decision2/training/data/score_4b_fresh_ordinal.py
Due: none

research(decision2): record policy-free Score shortcut
  src/training/decision2/training/data/score_4b_fresh_ordinal.py
  src/training/decision2/training/data/tests/test_score_4b_fresh_ordinal.py
Due: none

research(decision2): screen human ordinal Score sources
  src/training/decision2/research/qwen35-4b-human-ordinal-source-feasibility-2026-09-28.md
Due: md-fmt

research(decision2): preregister official 9B Base source contrast
  src/training/decision2/research/qwen35-9b-base-init-contrast-prereg-2026-09-28.md
  src/training/decision2/scripts/audit_qwen35_9b_tokenizers.py
Due: md-fmt

research(decision2): scope human evidence Score source contrast
  src/training/decision2/research/score-evidence-nli-source-proposal-2026-09-28.md
Due: md-fmt

feat(decision2): preregister 0.6B candidate interaction head ablation
  src/training/decision2/research/small06-candidate-interaction-gate-lock-2026-09-28.json
  src/training/decision2/research/small06-candidate-interaction-prereg-2026-09-28.md
  src/training/decision2/scripts/preflight_qwen06_candidate_interaction.py
  src/training/decision2/training/model/candidate_interaction_head.py
  src/training/decision2/training/model/decision_model.py
  src/training/decision2/training/model/infer.py
  src/training/decision2/training/model/tests/test_candidate_interaction_head.py
  src/training/decision2/training/model/tests/test_candidate_interaction_integration.py
  src/training/decision2/training/model/train.py
Due: md-fmt

research(decision2): record 9B Base technical admission
  src/training/decision2/research/qwen35-9b-base-init-admission-result-2026-09-28.md
Due: md-fmt

research(decision2): preregister external teacher train screen
  src/training/decision2/research/eikos4b-external-teacher-train-screen-prereg-2026-09-28.md
  src/training/decision2/research/eikos_teacher_train_pilot.py
  src/training/decision2/research/test_eikos_teacher_train_pilot.py
Due: md-fmt

research(decision2): freeze 0.6B paired order roster before GPU
  src/training/decision2/research/small06-candidate-interaction-prereg-2026-09-28.md
  src/training/decision2/scripts/freeze_qwen06_order_roster.py
Due: md-fmt

Audit HelpSteer2 human ordinal source for Decision 2
  src/training/decision2/research/helpsteer2-human-ordinal-train-audit-2026-09-28.md
  src/training/decision2/training/data/audit_helpsteer2_score.py
  src/training/decision2/training/data/tests/test_audit_helpsteer2_score.py
Due: md-fmt

docs(decision2): record 9b official base arm runtime hold
  src/training/decision2/research/qwen35-9b-base-init-contrast-result-2026-09-28.md
Due: md-fmt

research(decision2): lock external teacher train roster
  src/training/decision2/research/eikos4b-external-teacher-train-screen-prereg-2026-09-28.md
Due: md-fmt

docs(decision2): record bounded external teacher TRAIN screen
  src/training/decision2/research/eikos4b-external-teacher-train-screen-result-2026-09-28.md
Due: md-fmt

docs(decision2): audit 9B Base native runtime fault
  src/training/decision2/research/qwen35-9b-base-runtime-audit-2026-09-28.md
Due: md-fmt

research(decision2): audit HelpSteer2 blind ordinal construct
  src/training/decision2/research/helpsteer2-human-ordinal-blind-result-2026-09-28.md
  src/training/decision2/training/data/compare_helpsteer2_blind.py
  src/training/decision2/training/data/tests/test_compare_helpsteer2_blind.py
Due: md-fmt

docs(decision2): clarify ROCm device runtime wording
  src/training/decision2/research/qwen35-9b-base-runtime-audit-2026-09-28.md
Due: md-fmt

research(decision2): record 0.6B interaction head SELECT hold
  src/training/decision2/research/small06-candidate-interaction-full466-result-2026-09-28.md
Due: md-fmt

research(decision2): freeze AutoJev CPU roster and native package
  src/training/decision2/research/autojev27-external-teacher-train-screen-prereg-2026-09-28.md
Due: md-fmt

research(decision2): preregister native AutoJev teacher TRAIN screen
  src/training/decision2/research/autojev27-external-teacher-train-screen-prereg-2026-09-28.md
  src/training/decision2/research/autojev_teacher_train_pilot.py
  src/training/decision2/research/test_autojev_teacher_train_pilot.py
Due: md-fmt

research(decision2): record AutoJev TRAIN teacher source screen
  src/training/decision2/research/autojev27-external-teacher-train-screen-prereg-2026-09-28.md
Due: md-fmt

research(decision2): audit human NLI evidence Score sources
  src/training/decision2/research/score-evidence-nli-source-audit-2026-09-28.md
  src/training/decision2/training/data/audit_nli_evidence_score.py
  src/training/decision2/training/data/tests/test_audit_nli_evidence_score.py
Due: md-fmt

research(decision2): add full TRAIN Score teacher audit harness
  src/training/decision2/research/autojev_score_train_audit.py
  src/training/decision2/research/test_autojev_score_train_audit.py
Due: none

research(decision2): freeze 516-row AutoJev Score audit before GPU
  src/training/decision2/research/autojev27-score-train-516-audit-prereg-2026-09-28.md
Due: md-fmt

Preregister official Qwen3 0.6B posttrained source contrast
  src/training/decision2/research/small06-official-posttrained-source-prereg-2026-09-28.md
  src/training/decision2/research/small06-official-posttrained-technical-lock-2026-09-28.json
  src/training/decision2/scripts/audit_qwen06_posttrained_source.py
  src/training/decision2/scripts/preflight_qwen06_posttrained_source.py
Due: md-fmt

docs(decision2): record private first-release tradeoff policy
  src/training/decision2/research/first-release-tradeoff-policy-2026-09-28.md
Due: md-fmt

research(decision2): record full AutoJev TRAIN Score coverage
  src/training/decision2/research/autojev27-score-train-516-audit-prereg-2026-09-28.md
Due: md-fmt

research(decision2): add fixed-result CPU language slices
  src/training/decision2/research/autojev_score_train_posthoc.py
  src/training/decision2/research/test_autojev_score_train_posthoc.py
Due: none

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
