Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

Fix traditional Candle BERT classifier registration
  candle-binding/src/ffi/init.rs
Due: cargo-fmt, cargo-check

feat: calibrated token counter with online regression from LLM usage
  src/semantic-router/pkg/classification/calibrated_token_counter.go
  src/semantic-router/pkg/classification/calibrated_token_counter_test.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/extproc/processor_res_body_pipeline.go
  src/semantic-router/pkg/extproc/processor_res_body_streaming.go
Due: go-fmt

fix: claw room chat history management
  dashboard/backend/handlers/openclaw_room_context_test.go
  dashboard/backend/handlers/openclaw_room_history.go
  dashboard/backend/handlers/openclaw_room_session.go
  dashboard/backend/handlers/openclaw_rooms.go
  dashboard/backend/handlers/openclaw_stream.go
  dashboard/backend/handlers/openclaw_test.go
Due: go-fmt

fix: claw room chat history management
  dashboard/backend/handlers/openclaw_mcp.go
  dashboard/backend/handlers/openclaw_mcp_test.go
  dashboard/backend/handlers/openclaw_mcp_tools.go
  dashboard/backend/handlers/openclaw_room_context_test.go
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ChatComponentControls.tsx
  dashboard/frontend/src/components/ChatComponentMessages.tsx
  dashboard/frontend/src/components/ChatComponentToolCards.tsx
  dashboard/frontend/src/components/ChatComponentTypes.ts
  dashboard/frontend/src/components/chatToolCardPresentation.ts
  dashboard/frontend/src/components/useChatTranscriptAutoScroll.ts
  dashboard/frontend/tests/hireclaw-prompt.test.mjs
  deploy/amd/README.md
Due: go-fmt, md-fmt

fix: claw room chat history management
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/src/components/ChatComponentMessages.tsx
Due: none

fix: claw room chat history management
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ChatComponentConversationViewport.tsx
  dashboard/frontend/src/components/ChatComponentMessages.tsx
  dashboard/frontend/src/components/ChatComponentToolCards.tsx
  dashboard/frontend/src/components/ChatComponentWebToolCards.tsx
Due: none

fix: claw room chat history management
  dashboard/frontend/src/components/useChatTranscriptAutoScroll.ts
Due: none

fix: claw room chat history management
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponentMessages.tsx
  dashboard/frontend/src/components/HeaderDisplay.module.css
  dashboard/frontend/src/components/ThinkingBlock.module.css
Due: none

fix: claw room chat history management
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/src/components/ChatComponent.module.css
Due: none

fix: claw room chat history management
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/src/components/ChatComponentMessages.tsx
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/useChatTranscriptAutoScroll.ts
Due: none

fix: claw room chat history management
  dashboard/frontend/e2e/feedback-buttons.spec.ts
  dashboard/frontend/e2e/openclaw-readonly.spec.ts
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ChatComponentConversationViewport.tsx
  dashboard/frontend/src/components/ChatComponentInputBar.tsx
  dashboard/frontend/src/components/ClawRoomChat.module.css
  dashboard/frontend/src/components/ClawRoomChat.tsx
  dashboard/frontend/src/components/FeedbackButtons.module.css
  dashboard/frontend/src/components/FeedbackButtons.tsx
Due: none

fix: claw room chat history management
  dashboard/frontend/src/components/ChatComponent.module.css
Due: none

fix: claw room chat history management
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ChatComponentSidebarShell.tsx
  dashboard/frontend/src/components/ChatConversationSidebar.tsx
  dashboard/frontend/src/components/ClawRoomChat.module.css
Due: none

fix: claw room chat history management
  dashboard/frontend/e2e/openclaw-readonly.spec.ts
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponentSidebarShell.tsx
  dashboard/frontend/src/components/ClawRoomChat.module.css
  dashboard/frontend/src/components/ClawRoomChat.tsx
  dashboard/frontend/src/components/ClawRoomSidebar.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/components/LayoutAccountControl.module.css
  dashboard/frontend/src/components/LayoutAccountControl.tsx
  dashboard/frontend/src/components/PlaygroundRailAccountControl.tsx
Due: none

fix: claw room chat history management
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ClawRoomChat.module.css
Due: none

fix: claw room chat history management
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/src/components/OnboardingGuide.tsx
  dashboard/frontend/src/components/ThinkingBlock.tsx
Due: none

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Due: none

fix: claw room chat history management
  dashboard/frontend/e2e/openclaw-readonly.spec.ts
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/src/components/ClawRoomChat.module.css
  dashboard/frontend/src/components/ClawRoomChat.tsx
  dashboard/frontend/src/components/ClawRoomMessageMeta.tsx
  dashboard/frontend/src/components/ClawRoomSidebar.tsx
  dashboard/frontend/src/components/ClawRoomTeamDetailsModal.tsx
  dashboard/frontend/src/components/LayoutAccountControl.tsx
  dashboard/frontend/src/components/ThinkingBlock.tsx
Due: none

fix: claw room chat history management
  dashboard/backend/handlers/openclaw.go
  dashboard/backend/handlers/openclaw_context_test.go
  dashboard/backend/handlers/openclaw_helpers.go
  dashboard/frontend/e2e/openclaw-readonly.spec.ts
  dashboard/frontend/src/components/ClawRoomChat.module.css
  dashboard/frontend/src/components/ClawRoomChat.tsx
  dashboard/frontend/src/components/ClawRoomSidebar.tsx
  dashboard/frontend/src/components/ClawRoomTeamDetailsModal.tsx
  dashboard/frontend/src/components/LayoutAccountControl.module.css
  dashboard/frontend/src/components/LayoutAccountControl.tsx
Due: go-fmt

fix: claw room chat history management
  dashboard/backend/handlers/openclaw.go
  dashboard/backend/handlers/openclaw_context_test.go
  dashboard/frontend/e2e/openclaw-readonly.spec.ts
  dashboard/frontend/src/components/ClawRoomChat.module.css
Due: go-fmt

fix: claw room chat history management
  dashboard/backend/handlers/openclaw.go
  dashboard/backend/handlers/openclaw_clawhub.go
  dashboard/backend/handlers/openclaw_clawhub_test.go
  dashboard/backend/handlers/openclaw_image_test.go
  dashboard/backend/handlers/openclaw_provision.go
  dashboard/backend/handlers/openclaw_rooms.go
  dashboard/backend/handlers/openclaw_stream.go
  dashboard/backend/handlers/openclaw_worker_chat.go
  dashboard/backend/handlers/openclaw_worker_chat_test.go
  docs/agent/tech-debt/README.md
  docs/agent/tech-debt/td-012-openclaw-room-automation-queueing-and-feedback.md
Due: go-fmt, md-fmt

fix: claw room chat history management
  dashboard/backend/handlers/openclaw_clawhub.go
  dashboard/backend/handlers/openclaw_clawhub_test.go
  dashboard/backend/handlers/openclaw_provision.go
Due: go-fmt

fix: claw room chat history management
  dashboard/backend/handlers/openclaw_websocket.go
Due: go-fmt

fix: claw room chat history management
  dashboard/backend/handlers/openclaw_helpers.go
  dashboard/backend/handlers/openclaw_rooms.go
  dashboard/backend/handlers/openclaw_stream.go
  dashboard/backend/handlers/openclaw_test.go
  dashboard/backend/handlers/openclaw_worker_chat_test.go
Due: go-fmt

fix: claw room chat history management
  dashboard/backend/handlers/openclaw_rooms.go
  dashboard/backend/handlers/openclaw_stream.go
  dashboard/backend/handlers/openclaw_worker_chat.go
  dashboard/backend/handlers/openclaw_worker_chat_test.go
Due: go-fmt

fix: claw room chat history management
  dashboard/frontend/src/components/RouterModelInventory.module.css
  dashboard/frontend/src/pages/StatusPage.module.css
  docs/agent/tech-debt/README.md
  docs/agent/tech-debt/td-012-openclaw-room-automation-queueing-and-feedback.md
Due: md-fmt

fix(dashboard): stop setup wizard validation loop
  dashboard/frontend/e2e/setup-wizard.spec.ts
  dashboard/frontend/src/pages/SetupWizardPage.tsx
Due: none

fix(dashboard): stop setup wizard validation loop (#1504)
  dashboard/frontend/e2e/setup-wizard.spec.ts
  dashboard/frontend/src/pages/SetupWizardPage.tsx
Due: none

project: add v0.3 roadmap
  .github/workflows/ci-changes.yml
  AGENTS.md
  docs/agent/README.md
  docs/agent/change-surfaces.md
  docs/agent/governance.md
  docs/agent/skill-catalog.md
  tools/agent/context-map.yaml
  tools/agent/repo-manifest.yaml
  tools/agent/skill-registry.yaml
  tools/agent/skills/maintainer-issue-pr-management/SKILL.md
  tools/agent/task-matrix.yaml
  website/blog/2026-01-23-mom-on-amd-gpu.md
  website/blog/2026-03-10-v0-2-athena-release.md
  website/blog/2026-03-12-v0-3-themis-roadmap.md
  website/static/img/blog/api.png
  website/static/img/blog/athena-0.png
  website/static/img/blog/clawos.png
  website/static/img/blog/mom-3.png
  website/static/img/blog/research.png
  website/static/img/blog/themis.png
Due: md-fmt, yaml-and-yml-fmt

project: add v0.3 roadmap
  website/blog/2026-03-12-v0-3-themis-roadmap.md
Due: md-fmt

project: add roadmap for v0.3 (#1527)
  .github/workflows/ci-changes.yml
  AGENTS.md
  docs/agent/README.md
  docs/agent/change-surfaces.md
  docs/agent/governance.md
  docs/agent/skill-catalog.md
  tools/agent/context-map.yaml
  tools/agent/repo-manifest.yaml
  tools/agent/skill-registry.yaml
  tools/agent/skills/maintainer-issue-pr-management/SKILL.md
  tools/agent/task-matrix.yaml
  website/blog/2026-01-23-mom-on-amd-gpu.md
  website/blog/2026-03-10-v0-2-athena-release.md
  website/blog/2026-03-12-v0-3-themis-roadmap.md
  website/static/img/blog/api.png
  website/static/img/blog/athena-0.png
  website/static/img/blog/clawos.png
  website/static/img/blog/mom-3.png
  website/static/img/blog/research.png
  website/static/img/blog/themis.png
Due: md-fmt, yaml-and-yml-fmt

Fix traditional Candle BERT classifier registration (#1496)
  candle-binding/src/ffi/init.rs
Due: cargo-fmt, cargo-check

test(memory): align e2e tests with direct per-turn storage flow
  config/testing/config.memory-user.yaml
  e2e/testing/09-memory-features-test.py
  e2e/testing/memory_tests/__init__.py
  e2e/testing/memory_tests/base.py
  e2e/testing/memory_tests/test_isolation.py
  e2e/testing/memory_tests/test_pipeline.py
  e2e/testing/memory_tests/test_storage.py
Due: yaml-and-yml-fmt

refactor(metrics): split metrics.go to satisfy 800-line structure limit
  src/semantic-router/pkg/observability/metrics/cache_metrics.go
  src/semantic-router/pkg/observability/metrics/context_token_metrics.go
  src/semantic-router/pkg/observability/metrics/image_gen_metrics.go
  src/semantic-router/pkg/observability/metrics/metrics.go
  src/semantic-router/pkg/observability/metrics/rag_metrics.go
  src/semantic-router/pkg/observability/metrics/reasoning_metrics.go
  src/semantic-router/pkg/observability/metrics/signal_decision_plugin_metrics.go
Due: go-fmt

observability: add Prometheus metric and tracing for cache write skips
  src/semantic-router/pkg/extproc/processor_res_body_pipeline.go
  src/semantic-router/pkg/extproc/processor_res_body_streaming.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/observability/metrics/metrics.go
  src/semantic-router/pkg/observability/tracing/tracing.go
Due: go-fmt

style(metrics): fix gofumpt in context_token_metrics.go (single var declaration)
  src/semantic-router/pkg/observability/metrics/context_token_metrics.go
Due: go-fmt

Expand memory support to Chat Completions API
  e2e/testing/09-memory-features-test.py
  src/semantic-router/pkg/config/runtime_config.go
  src/semantic-router/pkg/extproc/memory_helpers.go
  src/semantic-router/pkg/extproc/memory_helpers_test.go
  src/semantic-router/pkg/extproc/processor_req_body_memory.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/req_filter_memory_test.go
  src/semantic-router/pkg/extproc/user_id_dev.go
  src/semantic-router/pkg/extproc/utils.go
  src/semantic-router/pkg/headers/headers.go
Due: go-fmt
