Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

[Security] Constrain OpenClaw provisioning paths, assets, images, and runtime
  dashboard/backend/handlers/openclaw_helpers.go
  dashboard/backend/handlers/openclaw_image_policy.go
  dashboard/backend/handlers/openclaw_provision.go
  dashboard/backend/handlers/openclaw_provision_security_test.go
  dashboard/backend/handlers/openclaw_skillpacks.go
  dashboard/backend/handlers/openclaw_skills.go
Due: go-fmt

fix(openclaw): preserve configured image tag case
  dashboard/backend/handlers/openclaw_image_policy.go
Due: go-fmt

fix(openclaw): clear containment helper lint warning
  dashboard/backend/handlers/openclaw_skillpacks.go
Due: go-fmt

test(openclaw): normalize security test formatting
  dashboard/backend/handlers/openclaw_provision_security_test.go
Due: go-fmt

[Security] Close destination-containment and image-policy bypasses
  dashboard/backend/handlers/openclaw_image_policy.go
  dashboard/backend/handlers/openclaw_provision.go
  dashboard/backend/handlers/openclaw_provision_security_test.go
  dashboard/backend/handlers/openclaw_skillpacks.go
Due: go-fmt

fix(protocol): accept Anthropic direct tool caller
  src/semantic-router/pkg/extproc/processor_protocol_matrix_test.go
  src/semantic-router/pkg/protocolcodec/codec_anthropic_content.go
  src/semantic-router/pkg/protocolcodec/official_schema_request_test.go
  src/semantic-router/pkg/protocolcodec/stream_anthropic.go
Due: go-fmt

test(e2e): cover Anthropic direct tool caller
  e2e/testcases/protocol_codec_tool_lifecycle.go
  e2e/testcases/protocol_codec_tool_lifecycle_anthropic.go
  tools/test/services/provider-mocker/provider_mocker/messages_wire.py
  tools/test/services/provider-mocker/tests/test_messages_observation.py
  tools/test/services/provider-mocker/tests/test_native_protocols.py
Due: go-fmt

Copy pkg/fallback and pkg/llmprotocol into Dashboard backend-builder
  dashboard/backend/Dockerfile
Due: none

feat(training): define shared resources and API contracts
  dashboard/frontend/src/generated/trainingContract.ts
  dashboard/frontend/src/utils/trainingContract.test.ts
  src/semantic-router/pkg/trainingcontract/api.go
  src/semantic-router/pkg/trainingcontract/contract_test.go
  src/semantic-router/pkg/trainingcontract/fixtures.go
  src/semantic-router/pkg/trainingcontract/schema.go
  src/semantic-router/pkg/trainingcontract/testdata/invalid.json
  src/semantic-router/pkg/trainingcontract/testdata/neural.json
  src/semantic-router/pkg/trainingcontract/testdata/selector.json
  src/semantic-router/pkg/trainingcontract/training-v1.openapi.yaml
  src/semantic-router/pkg/trainingcontract/training-v1.schema.json
  src/semantic-router/pkg/trainingcontract/types.go
  src/semantic-router/pkg/trainingcontract/validate.go
  src/semantic-router/pkg/trainingcontract/worker.go
  src/training/control_plane/__init__.py
  src/training/control_plane/contracts.py
  src/training/control_plane/provenance.py
  src/training/control_plane/test_contracts.py
  tools/agent/domains.yaml
  tools/codegen/trainingcontract/main.go
  tools/make/docs.mk
  tools/make/golang.mk
  tools/make/models.mk
  website/docs/training/control-plane-contract.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(dashboard): include fallback build dependencies
  dashboard/backend/Dockerfile
  dashboard/backend/handlers/openclaw_skillpacks.go
Due: go-fmt

fix(apiserver): guard the classification service resolution against typed nils
  src/semantic-router/pkg/apiserver/runtime_service.go
  src/semantic-router/pkg/apiserver/runtime_service_nil_test.go
Due: go-fmt

Sort the engine import block
  src/vllm-sr/cli/sr_bench/engine.py
Due: none

[Website] Fix the comparison table's accent column and text casing (#4066)
  website/src/pages/index.module.css
  website/src/pages/index.tsx
Due: none

[Docs] Align documentation entry points
  config/README.md
  config/recipes/README.md
  website/docs/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/installation.md
Due: md-fmt

fix(ci): satisfy changed-source Go lint
  e2e/profiles/sticky-tool-selection-expiry/profile.go
  e2e/profiles/sticky-tool-selection-redis/profile.go
  e2e/testcases/sticky_tool_selection.go
  e2e/testcases/sticky_tool_selection_expiry.go
  e2e/testcases/sticky_tool_selection_provider_prefix.go
  e2e/testcases/sticky_tool_selection_recovery.go
  e2e/testcases/sticky_tool_selection_redis_recovery.go
  e2e/testcases/sticky_tool_selection_restart.go
  src/semantic-router/pkg/extproc/sticky_tool_selection_runtime.go
  src/semantic-router/pkg/sessiontools/store_memory_test.go
  src/semantic-router/pkg/sessiontools/store_redis.go
  src/semantic-router/pkg/sessiontools/store_redis_integration_test.go
Due: go-fmt

fix(training): expose run outputs and named artifact files
  dashboard/frontend/src/generated/trainingContract.ts
  dashboard/frontend/src/utils/trainingContract.test.ts
  src/semantic-router/pkg/trainingcontract/contract_test.go
  src/semantic-router/pkg/trainingcontract/schema.go
  src/semantic-router/pkg/trainingcontract/testdata/invalid.json
  src/semantic-router/pkg/trainingcontract/testdata/neural.json
  src/semantic-router/pkg/trainingcontract/testdata/selector.json
  src/semantic-router/pkg/trainingcontract/training-v1.openapi.yaml
  src/semantic-router/pkg/trainingcontract/training-v1.schema.json
  src/semantic-router/pkg/trainingcontract/types.go
  src/semantic-router/pkg/trainingcontract/validate.go
  src/training/README.md
  src/training/control_plane/provenance.py
  src/training/control_plane/test_contracts.py
  src/training/model_eval/provenance/crossref.py
  tools/agent/domains.yaml
  website/docs/training/control-plane-contract.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Avoid code-spell dictionary words in the route suite
  src/vllm-sr/tests/test_sr_bench_request_fields.py
Due: none

[Router] Register Vela Shield as a selectable safety model
  src/semantic-router/pkg/config/registry.go
  src/semantic-router/pkg/config/registry_vela_test.go
  src/semantic-router/pkg/config/vela_shield_selection_test.go
  src/semantic-router/pkg/modeldownload/vela_shield_test.go
  src/training/model_eval/constants.py
Due: go-fmt

[E2E] Add a vela-shield profile covering Shield as the safety model
  e2e/pkg/framework/prebuilt_profiles_test.go
  e2e/profiles/all/imports.go
  e2e/profiles/vela-shield/profile.go
  e2e/profiles/vela-shield/profile_test.go
  e2e/profiles/vela-shield/values.yaml
  e2e/testcases/vela_shield.go
  e2e/testcases/vela_shield_test.go
  tools/agent/domains.yaml
  tools/ci/tests/test_model_contract_selection.py
  tools/ci/tests/test_pr_change_classifier.py
  tools/ci/verification_catalog.yaml
Due: go-fmt, yaml-and-yml-fmt

[Docs] Document selecting Vela Shield for the safety signal
  website/docs/installation/runtime/safety.md
  website/docs/training/model-catalog.md
  website/docs/tutorials/signal/learned/safety.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/model-catalog.md
Due: md-fmt

[E2E] Use an over-refusal prompt Shield classifies as safe
  e2e/testcases/vela_shield.go
Due: go-fmt

test(e2e): update baseline inventory counts for reliability-timeouts
  e2e/pkg/testmatrix/testcases_test.go
Due: go-fmt

Copy the fallback and llmprotocol packages into the dashboard image
  dashboard/backend/Dockerfile
Due: none

[Docs] Add Decision 1.0 Tetris demo
  website/blog/2026-09-22-introduce-decision.md
  website/src/components/ArticleMedia/index.tsx
  website/src/components/ArticleMedia/styles.module.css
  website/static/img/blog/decision-1-0/SOURCES.json
  website/static/img/blog/decision-1-0/tetris-poster.png
  website/static/videos/decision-1-0/decision-1-0-tetris.mp4
Due: md-fmt

[Docs] Keep community snapshots out of site builds
  .github/workflows/pre-commit.yml
  website/README.md
  website/docs/community/documentation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/community/documentation.md
  website/package.json
  website/scripts/check-generated.mjs
  website/scripts/lib/generated-source.test.mjs
Due: md-fmt, yaml-and-yml-fmt

[Docs] Add Decision 1.0 speed demo and deterministic docs builds (#4074)
  .github/workflows/pre-commit.yml
  website/README.md
  website/blog/2026-09-22-introduce-decision.md
  website/docs/community/documentation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/community/documentation.md
  website/package.json
  website/scripts/check-generated.mjs
  website/scripts/lib/generated-source.test.mjs
  website/src/components/ArticleMedia/index.tsx
  website/src/components/ArticleMedia/styles.module.css
  website/static/img/blog/decision-1-0/SOURCES.json
  website/static/img/blog/decision-1-0/tetris-poster.png
  website/static/videos/decision-1-0/decision-1-0-tetris.mp4
Due: md-fmt, yaml-and-yml-fmt

Copy pkg/fallback and pkg/llmprotocol into Dashboard backend-builder (#4063)
  dashboard/backend/Dockerfile
Due: none

[Docs] Link the zh-Hans catalog to the English Shield selection guide
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/model-catalog.md
Due: md-fmt

[Dashboard] Strengthen the seeded-timestamp regression test
  dashboard/backend/configprojection/store_test.go
Due: go-fmt

[Dashboard] Avoid shadowing err in the seeded-timestamp test
  dashboard/backend/configprojection/store_test.go
Due: go-fmt

Accept Ollama tool call index (#4049)
  src/semantic-router/pkg/protocolcodec/codec_openai_chat.go
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_execution_metadata_test.go
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_response.go
  src/semantic-router/pkg/protocolcodec/testdata/contracts/chat-nested-fields.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/response/004-chat-tool-call-in.json
Due: go-fmt

[Bug] Accept Anthropic direct tool caller provenance (#4065)
  e2e/testcases/protocol_codec_tool_lifecycle.go
  e2e/testcases/protocol_codec_tool_lifecycle_anthropic.go
  src/semantic-router/pkg/extproc/processor_protocol_matrix_test.go
  src/semantic-router/pkg/protocolcodec/codec_anthropic_content.go
  src/semantic-router/pkg/protocolcodec/official_schema_request_test.go
  src/semantic-router/pkg/protocolcodec/stream_anthropic.go
  tools/test/services/provider-mocker/provider_mocker/messages_wire.py
  tools/test/services/provider-mocker/tests/test_messages_observation.py
  tools/test/services/provider-mocker/tests/test_native_protocols.py
Due: go-fmt

[Bug] Preserve HPA-managed Deployment replicas (#4059)
  deploy/operator/controllers/semanticrouter_reconcile_resources.go
Due: go-fmt

Record provider dispatch receipts in Router Replay
  e2e/testcases/router_replay_restart_recovery.go
  src/semantic-router/pkg/apiserver/route_router_replay_test.go
  src/semantic-router/pkg/extproc/processor_dispatch_replay_test.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/extproc/recorder_route_diagnostics.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/routerreplay/recorder.go
  src/semantic-router/pkg/routerreplay/redaction/redaction.go
  src/semantic-router/pkg/routerreplay/redaction/redaction_test.go
  src/semantic-router/pkg/routerreplay/store/prepared_dispatch_test.go
  src/semantic-router/pkg/routerreplay/store/store.go
  tools/test/services/provider-mocker/provider_mocker/chat.py
  tools/test/services/provider-mocker/provider_mocker/images.py
  tools/test/services/provider-mocker/provider_mocker/messages.py
  tools/test/services/provider-mocker/provider_mocker/provider_boundary.py
  tools/test/services/provider-mocker/provider_mocker/responses.py
  tools/test/services/provider-mocker/tests/test_provider_contract.py
  website/docs/tutorials/plugin/router-replay.md
  website/static/openapi/apiserver/apiserver.openapi.json
Due: go-fmt, md-fmt

docs: draft v0.4 Hermes release story
  website/blog/2026-09-24-v0.4-vllm-sr-hermes-release.md
  website/static/img/blog/vllm/2026-09-24-v0.4-hermes-release/agentic-context.png
  website/static/img/blog/vllm/2026-09-24-v0.4-hermes-release/data-plane.png
  website/static/img/blog/vllm/2026-09-24-v0.4-hermes-release/developer-experience.png
  website/static/img/blog/vllm/2026-09-24-v0.4-hermes-release/enterprise-environment.png
  website/static/img/blog/vllm/2026-09-24-v0.4-hermes-release/evaluation-quality.png
  website/static/img/blog/vllm/2026-09-24-v0.4-hermes-release/hero.png
  website/static/img/blog/vllm/2026-09-24-v0.4-hermes-release/mom-routing.png
  website/static/img/blog/vllm/2026-09-24-v0.4-hermes-release/router-models.png
  website/static/img/blog/vllm/2026-09-24-v0.4-hermes-release/workgroups-mechanism.png
Due: md-fmt

fix(dashboard): reflect router readiness in routing status
  dashboard/backend/handlers/status_collectors.go
  dashboard/backend/handlers/status_collectors_readiness_test.go
Due: go-fmt

docs: expand Hermes story with model launches and community welcome
  website/blog/2026-09-24-v0.4-vllm-sr-hermes-release.md
  website/static/img/blog/vllm/2026-09-24-v0.4-hermes-release/welcome-community-1.png
  website/static/img/blog/vllm/2026-09-24-v0.4-hermes-release/welcome-community-2.png
Due: md-fmt

fix(k8s): bound status updates to preserve activation progress
  src/semantic-router/pkg/k8s/reconciler.go
  src/semantic-router/pkg/k8s/reconciler_status_transport_test.go
Due: go-fmt

feat(runtime): add strict Decision SystemOne API
  src/vllm-sr/README.md
  src/vllm-sr/decision_runtime/__init__.py
  src/vllm-sr/decision_runtime/api.py
  src/vllm-sr/decision_runtime/backend.py
  src/vllm-sr/decision_runtime/confidence.py
  src/vllm-sr/decision_runtime/contracts.py
  src/vllm-sr/decision_runtime/engine.py
  src/vllm-sr/decision_runtime/entrypoint.py
  src/vllm-sr/decision_runtime/fake_backend.py
  src/vllm-sr/decision_runtime/metrics.py
  src/vllm-sr/decision_runtime/scheduler.py
  src/vllm-sr/decision_runtime/server.py
  src/vllm-sr/pyproject.toml
  src/vllm-sr/tests/fixtures/decision_confidence_oracle.v1.json
  src/vllm-sr/tests/test_decision_runtime_api.py
  src/vllm-sr/tests/test_decision_runtime_contracts.py
  src/vllm-sr/tests/test_decision_runtime_engine.py
  src/vllm-sr/uv.lock
  tools/agent/domains.yaml
  tools/make/docker.mk
Due: md-fmt, yaml-and-yml-fmt

feat(catalog): add Decision runtime models
  config/catalog/README.md
  config/catalog/manifest.yaml
  config/catalog/resources/models/single/llm-semantic-router.yaml
  config/catalog/resources/models/virtual/vllm-sr.yaml
  config/catalog/resources/protocols.yaml
  config/catalog/resources/providers/decision-runtime.yaml
  config/catalog/schemas/catalog-resources-v1.schema.json
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_contract.go
  dashboard/backend/handlers/model_catalog_test.go
  dashboard/frontend/src/pages/modelProviderCatalog.test.ts
  dashboard/frontend/src/pages/modelProviderCatalog.ts
  dashboard/frontend/src/types/modelCatalog.ts
  dashboard/frontend/src/utils/modelCatalogApi.test.ts
  dashboard/frontend/src/utils/modelCatalogApi.ts
  src/semantic-router/pkg/catalog/registry.go
  src/semantic-router/pkg/catalog/types.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  src/vllm-sr/cli/model_catalog.py
  src/vllm-sr/cli/model_catalog_types.py
  src/vllm-sr/cli/model_catalog_validation.py
  src/vllm-sr/tests/test_model_catalog.py
  tools/catalog/audit_model_catalog.py
  tools/catalog/generate_model_catalog.py
  tools/catalog/tests/test_audit_model_catalog.py
  tools/catalog/tests/test_generate_model_catalog.py
  tools/catalog/tests/test_generate_model_catalog_validation.py
  tools/catalog/tests/test_model_catalog_security_validation.py
  website/src/data/modelHubCatalogTypes.ts
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt
