Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

style: fix formatting issues in redis_cache.go
  src/semantic-router/pkg/cache/redis_cache.go
Due: go-fmt

[Feat][Router] Migrate custom Chat Completions structs to official SDK types
  docs/agent/architecture-guardrails.md
  docs/agent/tech-debt/README.md
  docs/agent/tech-debt/td-012-custom-chat-completions-structs.md
  src/semantic-router/pkg/anthropic/compat_test.go
  src/semantic-router/pkg/classification/vllm_client.go
  src/semantic-router/pkg/extproc/openai_compat_test.go
  src/semantic-router/pkg/extproc/req_filter_response_api.go
  src/semantic-router/pkg/mcp/types.go
  src/semantic-router/pkg/mcp/types_test.go
  src/semantic-router/pkg/modelselection/benchmark_runner.go
  src/semantic-router/pkg/responseapi/roundtrip_test.go
  src/semantic-router/pkg/responseapi/translator.go
  src/semantic-router/pkg/responseapi/translator_test.go
  tools/agent/repo-manifest.yaml
  tools/agent/structure-rules.yaml
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat(router): harden RAG and memory usability for production workflows
  config/memory-rag/config-rag.yaml
  src/semantic-router/pkg/config/plugin_config.go
  src/semantic-router/pkg/config/plugin_config_test.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_rag_test.go
  src/semantic-router/pkg/extproc/cache_personalization_pipeline_test.go
  src/semantic-router/pkg/extproc/processor_req_body_memory.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_rag.go
Due: go-fmt, yaml-and-yml-fmt

fix(router): wrong /v1-suffixed OpenAI base URLs for vector store search
  src/semantic-router/pkg/config/rag_plugin.go
  src/semantic-router/pkg/extproc/req_filter_rag_openai.go
  src/semantic-router/pkg/openai/vectorstore.go
  src/semantic-router/pkg/openai/vectorstore_test.go
Due: go-fmt

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Due: none

fix(router): wrong /v1-suffixed OpenAI base URLs for vector store search (#1541)
  src/semantic-router/pkg/config/rag_plugin.go
  src/semantic-router/pkg/extproc/req_filter_rag_openai.go
  src/semantic-router/pkg/openai/vectorstore.go
  src/semantic-router/pkg/openai/vectorstore_test.go
Due: go-fmt

feat(classification): improve domain signal accuracy with real confidence scores and entropy-based multi-category matching (#1380) (#1497)
  config/config.yaml
  src/semantic-router/pkg/classification/category_classifier.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_domain_test.go
  src/semantic-router/pkg/services/classification.go
  tools/agent/structure-rules.yaml
Due: go-fmt, yaml-and-yml-fmt

observability: add Prometheus metric and tracing for cache write skips (#1529)
  src/semantic-router/pkg/extproc/processor_res_body_pipeline.go
  src/semantic-router/pkg/extproc/processor_res_body_streaming.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/observability/metrics/cache_metrics.go
  src/semantic-router/pkg/observability/metrics/context_token_metrics.go
  src/semantic-router/pkg/observability/metrics/image_gen_metrics.go
  src/semantic-router/pkg/observability/metrics/metrics.go
  src/semantic-router/pkg/observability/metrics/rag_metrics.go
  src/semantic-router/pkg/observability/metrics/reasoning_metrics.go
  src/semantic-router/pkg/observability/metrics/signal_decision_plugin_metrics.go
  src/semantic-router/pkg/observability/tracing/tracing.go
Due: go-fmt

feat(domain-signal): add UseModernBERT factory branch for category classifier (#1532)
  src/semantic-router/pkg/classification/classifier.go
Due: go-fmt

[Doc] Update the instruction of config.yaml validation command
  src/vllm-sr/README.md
  src/vllm-sr/cli/commands/init.py
  website/docs/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/installation/installation.md
  website/versioned_docs/version-v0.1/installation/installation.md
Due: md-fmt

feat(onboard): add CLI and partial system signal evaluation (WIP)
  src/training/model_eval/README.md
  src/training/model_eval/onboard/README.md
  src/training/model_eval/onboard/__main__.py
  src/training/model_eval/onboard/cli.py
  src/training/model_eval/onboard/constants.py
  src/training/model_eval/onboard/system_eval.py
  src/training/model_eval/onboard/thresholds.py
  src/training/model_eval/onboard_eval.py
Due: md-fmt

fix(plugin): enforce per-decision semantic-cache opt-out on store paths
  src/semantic-router/pkg/extproc/processor_res_body_pipeline.go
  src/semantic-router/pkg/extproc/processor_res_body_pipeline_test.go
  src/semantic-router/pkg/extproc/processor_res_body_streaming.go
  src/semantic-router/pkg/extproc/processor_res_body_streaming_test.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
Due: go-fmt

refactor(plugin): extract cache lookup and pending store into separate functions
  src/semantic-router/pkg/extproc/req_filter_cache.go
Due: go-fmt

feat: add per-decision request parameter validation and stripping plugin
  src/semantic-router/pkg/config/plugin_config.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/extproc/req_filter_request_params.go
  src/semantic-router/pkg/observability/metrics/request_params_metrics.go
Due: go-fmt

fix: restore perf toolchain usability and compilation
  perf/cmd/perftest/main.go
  perf/pkg/benchmark/runner.go
Due: go-fmt

fix: restore perf toolchain usability and compilation (#1560)
  perf/cmd/perftest/main.go
  perf/pkg/benchmark/runner.go
Due: go-fmt

Revert "feat(domain-signal): add UseModernBERT factory branch for category cl…"
  src/semantic-router/pkg/classification/classifier.go
Due: go-fmt

Revert "feat(domain-signal): add UseModernBERT factory branch for category cl…" (#1561)
  src/semantic-router/pkg/classification/classifier.go
Due: go-fmt

[Bugfix][Router] Enforce per-decision semantic-cache opt-out on store paths (#1558)
  src/semantic-router/pkg/extproc/processor_res_body_pipeline.go
  src/semantic-router/pkg/extproc/processor_res_body_pipeline_test.go
  src/semantic-router/pkg/extproc/processor_res_body_streaming.go
  src/semantic-router/pkg/extproc/processor_res_body_streaming_test.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
Due: go-fmt

[Doc] Fix deprecated instruction for config.yaml validation command (#1554)
  src/vllm-sr/README.md
  src/vllm-sr/cli/commands/init.py
  website/docs/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/configuration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/signal-driven-decisions.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/installation/installation.md
  website/versioned_docs/version-v0.1/installation/installation.md
Due: md-fmt

update
  reactbits
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/api/router.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/goals.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/semantic-router-overview.md
Due: md-fmt

fix: unblock rebased config rollout CI
  deploy/operator/controllers/helpers.go
  deploy/operator/controllers/helpers_test.go
  docs/agent/tech-debt/td-006-structural-rule-target-vs-legacy-hotspots.md
  e2e/config/config.memory-user.yaml
  perf/cmd/perftest/main.go
  src/training/model_eval/result_to_config.py
  src/vllm-sr/cli/bootstrap.py
  src/vllm-sr/cli/commands/serve.py
  src/vllm-sr/cli/commands/show_config.py
  src/vllm-sr/cli/config_generator.py
  tools/agent/scripts/structure_check.py
  tools/agent/structure-rules.yaml
  tools/linter/python/.ruff.toml
  tools/make/linter.mk
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix cache bypass for personalized request flows
  src/semantic-router/pkg/extproc/processor_res_body_pipeline.go
  src/semantic-router/pkg/extproc/processor_res_body_streaming.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_cache_personalization_test.go
Due: go-fmt

fix semantic cache personalization follow-up issues
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_cache_personalization_test.go
Due: go-fmt

fix: remove invalid isCacheEnabledForDecision function and fix shouldLookupSemanticCache
  src/semantic-router/pkg/extproc/req_filter_cache.go
Due: go-fmt

test(memory): add per-decision plugin E2E tests
  config/testing/config.memory-user.yaml
  e2e/testing/09-memory-features-test.py
  e2e/testing/memory_tests/__init__.py
  e2e/testing/memory_tests/test_per_decision.py
  perf/cmd/perftest/main.go
Due: go-fmt, yaml-and-yml-fmt

fix: remove unused storePendingCacheRequest and performCacheLookup functions
  src/semantic-router/pkg/extproc/req_filter_cache.go
Due: go-fmt

Add PRISM 153-key legitimacy layer proposal for v0.3
  website/docs/proposals/Prism-153key.md
Due: md-fmt

Update design principle section in Prism-153key.md
  website/docs/proposals/Prism-153key.md
Due: md-fmt

fix: unblock remaining rebased CI checks
  deploy/operator/config/crd/bases/vllm.ai_semanticrouters.yaml
  docs/agent/tech-debt/td-006-structural-rule-target-vs-legacy-hotspots.md
  src/semantic-router/pkg/config/canonical_config.go
  src/semantic-router/pkg/config/canonical_global.go
  src/semantic-router/pkg/config/canonical_loader_test.go
  src/semantic-router/pkg/config/loader.go
  tools/agent/structure-rules.yaml
  tools/linter/go/.golangci.agent.yml
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Update design principles in Prism-153key.md
  website/docs/proposals/Prism-153key.md
Due: md-fmt

test: enforce exhaustive canonical config reference
  config/README.md
  config/config.yaml
  config/decision/single/domain-computer-science.yaml
  config/plugin/image-gen/basic.yaml
  config/plugin/rag/milvus.yaml
  config/signal/modality/multimodal.yaml
  docs/agent/tech-debt/README.md
  docs/agent/tech-debt/td-012-canonical-lora-catalog-gap.md
  src/semantic-router/pkg/config/AGENTS.md
  src/semantic-router/pkg/config/docs_contract_test.go
  src/semantic-router/pkg/config/reference_config_contract_test.go
  src/semantic-router/pkg/config/reference_config_global_test.go
  src/semantic-router/pkg/config/reference_config_public_surface_test.go
  src/semantic-router/pkg/config/reference_config_routing_surface_test.go
  src/semantic-router/pkg/config/reference_config_test_helpers_test.go
  tools/agent/repo-manifest.yaml
  tools/agent/scripts/agent_gate.py
  tools/agent/scripts/agent_support.py
  tools/make/agent.mk
  website/docs/installation/configuration.md
  website/docs/proposals/nvidia-dynamo-integration.md
  website/docs/proposals/unified-config-contract-v0-3.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/cookbook/pii-policy.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/training-overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/troubleshooting/vsr-headers.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat(promptcompression): pluggable domain-aware NLP compression pipeline
  config/prompt-compression/coding.yaml
  config/prompt-compression/default.yaml
  config/prompt-compression/medical.yaml
  config/prompt-compression/multi-turn.yaml
  config/prompt-compression/security.yaml
  src/semantic-router/cmd/compressdemo/main.go
  src/semantic-router/pkg/config/model_config_types.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/extproc/req_filter_inference_compression.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/promptcompression/README.md
  src/semantic-router/pkg/promptcompression/compressor.go
  src/semantic-router/pkg/promptcompression/config_claude_code.yaml
  src/semantic-router/pkg/promptcompression/config_default.yaml
  src/semantic-router/pkg/promptcompression/opt_builtin.go
  src/semantic-router/pkg/promptcompression/opt_extensions.go
  src/semantic-router/pkg/promptcompression/optimizer.go
  src/semantic-router/pkg/promptcompression/pipeline.go
  src/semantic-router/pkg/promptcompression/pipeline_selector.go
  src/semantic-router/pkg/promptcompression/pipeline_test.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
