Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

[Feature] binding: Admit shares only a deployment's admission gate
  src/semantic-router/pkg/modelruntime/binding/resource.go
  src/semantic-router/pkg/modelruntime/binding/resource_test.go
Due: go-fmt

[Refactor] serving, classification: admission gates instead of placeholder resources
  src/semantic-router/pkg/classification/remote_task_binding.go
  src/semantic-router/pkg/modelruntime/serving/embedding.go
  src/semantic-router/pkg/modelruntime/serving/embedding_test.go
  src/semantic-router/pkg/modelruntime/serving/prepare.go
  src/semantic-router/pkg/modelruntime/serving/relevance.go
  src/semantic-router/pkg/modelruntime/serving/serving_test.go
Due: go-fmt

Revert "[Feat] model-runtime: pin one FLA kernel choice set for every model of a process"
  src/model-runtime/docs/design.md
  src/model-runtime/tests/test_readiness.py
  src/model-runtime/vllm_sr_runtime/accel/autotune.py
  src/model-runtime/vllm_sr_runtime/runtime.py
  website/docs/model-runtime/deploy.md
Due: md-fmt

docs(decision2): sync sanitized program docs (COORDINATION)
  src/training/decision2/v2/program/COORDINATION.md
Due: md-fmt

[Refactor] modelservice: Span is the generated span type
  src/semantic-router/pkg/modelservice/surfaces.go
Due: go-fmt

fix(sr-bench): bind fault attribution and fail-closed exemption to provider receipt
  src/vllm-sr/cli/sr_bench/engine.py
  src/vllm-sr/cli/sr_bench/report.py
  src/vllm-sr/tests/test_sr_bench_fault_schedule.py
Due: none

[Docs] model-runtime: embed records, WIP at the pause
  src/model-runtime/docs/records/embed-parity.md
  src/model-runtime/docs/records/embed-performance.md
Due: md-fmt

[Bug] Name the output-total omission beside a known reasoning count (#4458)
  src/semantic-router/pkg/protocolcodec/codec_anthropic_response.go
  src/semantic-router/pkg/protocolcodec/stream_anthropic.go
  src/semantic-router/pkg/protocolcodec/usage_cache.go
  src/semantic-router/pkg/protocolcodec/usage_output_omission_test.go
Due: go-fmt

fix(memory): keep distinct facts when amounts swap in reflection dedup
  src/semantic-router/pkg/memory/reflection.go
  src/semantic-router/pkg/memory/reflection_test.go
Due: go-fmt

[Bug] Re-encode a runtime request only when it escapes a surrogate
  src/model-runtime/tests/test_api_contract.py
  src/model-runtime/vllm_sr_runtime/api/app.py
Due: none

[Bug] Send nothing to a runtime client that has disconnected
  src/model-runtime/tests/test_api_contract.py
  src/model-runtime/vllm_sr_runtime/api/app.py
Due: none

[Bug] Score the fact-check baseline on the corpus-matched suite test
  src/training/model_eval/README.md
  src/training/model_eval/baseline_manifests.py
  src/training/model_eval/baseline_tasks.py
  src/training/model_eval/quality_baseline.py
  src/training/model_eval/tests/test_dataset_contracts.py
Due: md-fmt

[Bug] Write the bench checker's int64 bounds with bit shifts
  bench/agent_crew/check_provider.py
Due: none

[Feature] Gate hosted image tool on deny and keep the outcome for Replay
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/req_filter_looper_trusted_test.go
  src/semantic-router/pkg/extproc/req_filter_tools_trusted.go
  src/semantic-router/pkg/extproc/req_filter_tools_trusted_test.go
  src/semantic-router/pkg/extproc/request_context.go
Due: go-fmt

[Feature] Return runtime meta only when a client asks for it (#4531)
  src/model-runtime/docs/design.md
  src/model-runtime/tests/test_api_contract.py
  src/model-runtime/vllm_sr_runtime/api/openapi.yaml
  src/model-runtime/vllm_sr_runtime/runtime.py
  src/semantic-router/pkg/modelservice/api/openapi.gen.go
  src/semantic-router/pkg/modelservice/client.go
  src/semantic-router/pkg/modelservice/modelservice.go
  src/semantic-router/pkg/modelservice/modelservice_test.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[CI/Build] Read merged and PR runs from the workflow-runs API
  .github/workflows/flaky-tests.yml
  .github/workflows/maintenance.yml
  tools/ci/flaky_report.py
  tools/ci/tests/test_flaky_report.py
Due: yaml-and-yml-fmt

[Bug] Remove unused internal symbols and orphan IP tests
  dashboard/backend/handlers/websearch.go
  dashboard/frontend/src/hooks/useMLPipeline.ts
  dashboard/frontend/src/types/config.ts
  dashboard/frontend/src/utils/mlPipelineApi.ts
  deploy/operator/controllers/constants.go
  e2e/profiles/agentgateway/runtime.go
  e2e/profiles/dynamo/profile.go
  e2e/testcases/streaming_body.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/extproc/router_learning_policy_fields.go
Due: go-fmt

[Docs] Add Vela 2.0 launch blog post
  website/blog/2026-10-06-vela-2-0-open-foundation-routing-models.md
  website/static/img/blog/vela2-family.jpg
  website/static/img/blog/vela2-hero.jpg
  website/static/img/blog/vela2-one-read.png
  website/static/img/blog/vela2-span-heads.png
  website/static/img/blog/vela2-training.png
  website/static/img/blog/vela2-your-labels.jpg
Due: md-fmt

[Docs] Compress the Vela 2.0 diagrams and link them to full size
  website/blog/2026-10-06-vela-2-0-open-foundation-routing-models.md
  website/static/img/blog/vela2-one-read.png
  website/static/img/blog/vela2-span-heads.png
  website/static/img/blog/vela2-training.png
Due: md-fmt

[Bug] Report the backend failure reason when the Config page reads fail (#4459)
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/configPageRequestErrors.test.ts
  dashboard/frontend/src/pages/configPageRequestErrors.ts
Due: none

feat(sessiontools): add deterministic bounded sticky planner
  src/semantic-router/pkg/config/tool_selection_plugin_validation.go
  src/semantic-router/pkg/extproc/req_tool_selection_catalog_test.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/sessiontools/manager.go
  src/semantic-router/pkg/sessiontools/manager_test.go
  src/semantic-router/pkg/sessiontools/merge.go
  src/semantic-router/pkg/sessiontools/merge_builder.go
  src/semantic-router/pkg/sessiontools/merge_input.go
  src/semantic-router/pkg/sessiontools/merge_test.go
  src/semantic-router/pkg/sessiontools/merge_validation_test.go
  src/semantic-router/pkg/sessiontools/selection.go
  src/semantic-router/pkg/sessiontools/state.go
  src/semantic-router/pkg/sessiontools/state_test.go
  src/semantic-router/pkg/sessiontools/store.go
  src/semantic-router/pkg/sessiontools/store_memory.go
  src/semantic-router/pkg/sessiontools/store_memory_bounds_test.go
  src/semantic-router/pkg/sessiontools/store_memory_revision.go
  src/semantic-router/pkg/sessiontools/store_memory_test.go
  src/semantic-router/pkg/tools/catalog.go
  src/semantic-router/pkg/tools/catalog_load.go
  src/semantic-router/pkg/tools/catalog_test.go
  src/semantic-router/pkg/tools/tools.go
  src/semantic-router/pkg/tools/tools_remote_provider_test.go
  tools/agent/docs/plans/pl-0042-sticky-tool-selection.md
  website/docs/tutorials/plugin/tool-selection.md
Due: go-fmt, md-fmt

[Feature] Add stage-2 distillation for KV mapper artifacts (#4497)
  src/training/README.md
  src/training/kv_mapper/README.md
  src/training/kv_mapper/distill.py
  src/training/kv_mapper/distill_run.py
  src/training/kv_mapper/tests/test_distill.py
  website/docs/troubleshooting/vsr-headers.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/troubleshooting/vsr-headers.md
Due: md-fmt

fix(sr-bench): account for router cache-write tokens (#4495)
  src/vllm-sr/cli/sr_bench/transport.py
  src/vllm-sr/tests/test_sr_bench.py
  src/vllm-sr/tests/test_sr_bench_accounting.py
Due: none

[CI/Build] Read merged and PR runs from the workflow-runs API (#4420)
  .github/workflows/flaky-tests.yml
  .github/workflows/maintenance.yml
  tools/ci/flaky_report.py
  tools/ci/tests/test_flaky_report.py
Due: yaml-and-yml-fmt

[Bug] Remove unused internal symbols and orphan IP tests (#4346)
  dashboard/backend/handlers/websearch.go
  dashboard/frontend/src/hooks/useMLPipeline.ts
  dashboard/frontend/src/types/config.ts
  dashboard/frontend/src/utils/mlPipelineApi.ts
  deploy/operator/controllers/constants.go
  e2e/profiles/agentgateway/runtime.go
  e2e/profiles/dynamo/profile.go
  e2e/testcases/streaming_body.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/extproc/router_learning_policy_fields.go
Due: go-fmt

[Feature] Report first false step and context seen per trajectory step (#4248)
  bench/hallucination/README.md
  bench/hallucination/evaluate_trajectories.py
  bench/hallucination/test_trajectories.py
  bench/hallucination/testdata/agent_trajectories.json
  bench/hallucination/trajectories.py
Due: md-fmt

sr-bench: send a per-task session ID on subject calls
  src/vllm-sr/cli/sr_bench/contracts.py
  src/vllm-sr/cli/sr_bench/engine.py
  src/vllm-sr/cli/sr_bench/report.py
  src/vllm-sr/cli/sr_bench/service.py
  src/vllm-sr/cli/sr_bench/transport.py
  src/vllm-sr/tests/test_sr_bench_reporting.py
  src/vllm-sr/tests/test_sr_bench_session_identity.py
  website/docs/benchmarking/sr-bench/results.md
  website/docs/benchmarking/sr-bench/tasks-and-targets.md
Due: md-fmt

[CLI] vllm-sr serve: the --platform help no longer mentions MIGraphX
  src/vllm-sr/cli/commands/runtime.py
  src/vllm-sr/cli/commands/runtime_config_mutation.py
  website/docs/api/cli.md
Due: md-fmt

[Harness] model-runtime: the scheduler's answer helpers take typed futures
  src/model-runtime/vllm_sr_runtime/scheduler/scheduler.py
Due: none

[Harness] model-runtime: the parity and benchmark tools bind the profiles they run
  src/model-runtime/tools/gpu_bench.py
  src/model-runtime/tools/gpu_parity.py
  src/model-runtime/tools/vela2_bench.py
Due: none

[Docs] model-runtime: design 9 says which models mix lengths in exact's shared batches
  src/model-runtime/docs/design.md
Due: md-fmt

[Test] model-runtime: the package JSON reader test matches its message literally
  src/model-runtime/tests/test_registry.py
Due: none

[Feature] model-runtime: the legacy A/B saves every finished round and can resume or grow a run
  src/model-runtime/tests/test_legacy_parity.py
  src/model-runtime/tools/legacy_parity.py
Due: none

[Feature] model-runtime: decision1 parity serves more built-in models in the same process
  src/model-runtime/tools/decision1_parity.py
Due: none

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
