Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

fix: update tests for decisionWillPersonalize signature change
  src/semantic-router/pkg/extproc/cache_personalization_pipeline_test.go
  src/semantic-router/pkg/extproc/req_filter_cache_personalized_test.go
Due: go-fmt

revert: remove zh legacy doc (#1682)
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/model-performance-eval.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/cookbook/classifier-tuning.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/cookbook/pii-policy.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/cookbook/vllm-endpoints.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/training/model-performance-eval.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/troubleshooting/common-errors.md
Due: md-fmt

fix(make): bootstrap agent tooling via .venv-agent to avoid PEP 668 on Homebrew Python
  .gitignore
  tools/make/agent.mk
  tools/make/linter.mk
  tools/make/pre-commit.mk
Due: none

chore(ci): trigger pre-commit rerun
  website/sidebars.ts
Due: none

fix lint error: has too many statements (41 > 40) (funlen)
  src/semantic-router/pkg/selection/elo.go
Due: go-fmt

fix lint error: function starting at line 399 has 112 lines (limit 100)
  src/semantic-router/pkg/selection/elo.go
Due: go-fmt

fix(selection): prevent data races in Elo rating updates with deep copies and locking
  src/semantic-router/pkg/selection/elo.go
Due: go-fmt

fix: set VSRSelectedDecisionName in global memory cache test
  src/semantic-router/pkg/extproc/req_filter_cache_personalization_test.go
Due: go-fmt

fix: remove user-scoped cache E2E test and simplify extractUserID
  e2e/profiles/ai-gateway/values.yaml
  e2e/testcases/cache.go
  src/semantic-router/pkg/extproc/processor_res_cache.go
  src/semantic-router/pkg/extproc/semantic_cache_scope.go
  src/semantic-router/pkg/extproc/user_id_dev.go
  src/semantic-router/pkg/extproc/user_id_prod.go
  src/semantic-router/pkg/extproc/user_id_test.go
Due: go-fmt, yaml-and-yml-fmt

ci: add automated skill review for SKILL.md pull requests
  .github/workflows/skill-review.yml
Due: yaml-and-yml-fmt

docs: zh-Hans documentation about api part (#1679)
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/api/router.md
Due: md-fmt

docs: zh-Hans documentation about intro and installation part (#1678)
  website/docs/installation/k8s/operator.md
  website/docs/installation/milvus.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/configuration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/dynamo.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
Due: md-fmt

[Bugfix](selection): prevent data races in Elo rating updates with deep copies and locking (#1673)
  src/semantic-router/pkg/selection/elo.go
Due: go-fmt

fix(e2e): add security fix for authz-rbac integration test (#1565)
  e2e/pkg/cluster/kind_scheduling.go
  e2e/pkg/framework/runner_lifecycle.go
  e2e/pkg/helm/deployer.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/authz-rbac/README.md
  e2e/profiles/authz-rbac/gateway-resources/gwapi-resources.yaml
  e2e/profiles/authz-rbac/profile.go
  e2e/profiles/authz-rbac/values.yaml
  e2e/profiles/response-api-redis-cluster/values.yaml
  e2e/profiles/response-api-redis/values.yaml
  e2e/profiles/response-api/values.yaml
  e2e/testcases/authz_header_spoofing.go
  src/semantic-router/pkg/classification/authz_fail_open.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_signal_eval.go
  tools/agent/structure-rules.yaml
  website/sidebars.ts
Due: go-fmt, md-fmt, yaml-and-yml-fmt

ci: add automated skill review for SKILL.md pull requests (#1684)
  .github/workflows/skill-review.yml
Due: yaml-and-yml-fmt

fix(make): bootstrap agent tooling via .venv-agent to avoid PEP 668 on Homebrew Python (#1680)
  .gitignore
  tools/make/agent.mk
  tools/make/linter.mk
  tools/make/pre-commit.mk
Due: none

[Bugfix] isolate semantic cache entries by user (#1538)
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/values.yaml
  e2e/testcases/cache.go
  src/semantic-router/pkg/cache/cache.go
  src/semantic-router/pkg/cache/cache_user_scope_test.go
  src/semantic-router/pkg/extproc/processor_res_cache.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/extproc/user_id_header.go
  src/semantic-router/pkg/extproc/user_id_test.go
Due: go-fmt, yaml-and-yml-fmt

feat(dsl): LLM-generation-proof DSL and NL-to-DSL pipeline
  dashboard/frontend/src/components/DslGuide.tsx
  dashboard/frontend/src/lib/dslLanguage.ts
  dashboard/frontend/src/lib/dslSchemas.ts
  src/semantic-router/pkg/dsl/ast.go
  src/semantic-router/pkg/dsl/decision_tree.go
  src/semantic-router/pkg/dsl/dsl_test.go
  src/semantic-router/pkg/dsl/llm_tolerance_test.go
  src/semantic-router/pkg/dsl/nl.go
  src/semantic-router/pkg/dsl/nl_live_test.go
  src/semantic-router/pkg/dsl/nl_test.go
  src/semantic-router/pkg/dsl/parser.go
  src/semantic-router/pkg/dsl/sanitize.go
  src/semantic-router/pkg/dsl/sanitize_test.go
  src/semantic-router/pkg/dsl/schema.go
  src/semantic-router/pkg/dsl/validator.go
Due: go-fmt

update
  src/semantic-router/cmd/dsl/generate.go
  src/semantic-router/cmd/dsl/main.go
  src/semantic-router/internal/nlgen/generate.go
  src/semantic-router/internal/nlgen/generate_live_test.go
  src/semantic-router/internal/nlgen/generate_test.go
  src/semantic-router/internal/nlgen/openai_client.go
  src/semantic-router/internal/nlgen/sanitize.go
  src/semantic-router/internal/nlgen/sanitize_test.go
  src/semantic-router/internal/nlgen/schema.go
Due: go-fmt

update
  src/semantic-router/cmd/dsl/generate.go
  src/semantic-router/internal/nlgen/openai_client.go
Due: go-fmt

review feedback
  dashboard/frontend/src/lib/dslLanguage.ts
  dashboard/frontend/src/lib/dslSchemas.ts
  src/semantic-router/internal/nlgen/generate_test.go
  src/semantic-router/internal/nlgen/sanitize.go
  src/semantic-router/internal/nlgen/sanitize_test.go
  src/semantic-router/pkg/dsl/parser.go
  src/semantic-router/pkg/dsl/validator.go
Due: go-fmt

lint
  src/semantic-router/cmd/dsl/generate.go
  src/semantic-router/internal/nlgen/generate.go
  src/semantic-router/internal/nlgen/openai_client.go
  src/semantic-router/internal/nlgen/sanitize.go
Due: go-fmt

feat(dsl): LLM-generation-proof DSL and NL-to-DSL pipeline (#1686)
  dashboard/frontend/src/components/DslGuide.tsx
  dashboard/frontend/src/lib/dslLanguage.ts
  dashboard/frontend/src/lib/dslSchemas.ts
  src/semantic-router/cmd/dsl/generate.go
  src/semantic-router/cmd/dsl/main.go
  src/semantic-router/internal/nlgen/generate.go
  src/semantic-router/internal/nlgen/generate_live_test.go
  src/semantic-router/internal/nlgen/generate_test.go
  src/semantic-router/internal/nlgen/openai_client.go
  src/semantic-router/internal/nlgen/sanitize.go
  src/semantic-router/internal/nlgen/sanitize_test.go
  src/semantic-router/internal/nlgen/schema.go
  src/semantic-router/pkg/dsl/ast.go
  src/semantic-router/pkg/dsl/decision_tree.go
  src/semantic-router/pkg/dsl/dsl_test.go
  src/semantic-router/pkg/dsl/llm_tolerance_test.go
  src/semantic-router/pkg/dsl/parser.go
  src/semantic-router/pkg/dsl/validator.go
Due: go-fmt

fix: dashboard onboard defaults
  src/semantic-router/pkg/apiserver/route_classify_eval_test.go
Due: go-fmt

fix: use agent venv for harness python lint
  tools/agent/scripts/agent_support.py
Due: none

fix: satisfy reask precommit structure checks
  src/semantic-router/pkg/classification/signal_skip_test.go
  src/semantic-router/pkg/routerreplay/recorder.go
  src/semantic-router/pkg/routerreplay/recorder_test.go
Due: go-fmt

fix: enable memory response api backend in memory e2e config
  e2e/config/config.memory-user.yaml
Due: yaml-and-yml-fmt

docs: complete model selection algorithm
  config/algorithm/selection/mlp.yaml
  website/docs/tutorials/algorithm/looper/confidence.md
  website/docs/tutorials/algorithm/looper/ratings.md
  website/docs/tutorials/algorithm/looper/remom.md
  website/docs/tutorials/algorithm/overview.md
  website/docs/tutorials/algorithm/selection/automix.md
  website/docs/tutorials/algorithm/selection/elo.md
  website/docs/tutorials/algorithm/selection/gmtrouter.md
  website/docs/tutorials/algorithm/selection/hybrid.md
  website/docs/tutorials/algorithm/selection/kmeans.md
  website/docs/tutorials/algorithm/selection/knn.md
  website/docs/tutorials/algorithm/selection/latency-aware.md
  website/docs/tutorials/algorithm/selection/mlp.md
  website/docs/tutorials/algorithm/selection/rl-driven.md
  website/docs/tutorials/algorithm/selection/router-dc.md
  website/docs/tutorials/algorithm/selection/static.md
  website/docs/tutorials/algorithm/selection/svm.md
  website/docusaurus.config.ts
  website/package-lock.json
  website/package.json
  website/src/css/custom.css
Due: md-fmt, yaml-and-yml-fmt

chore: polish router logging format
  src/semantic-router/pkg/classification/category_kb_classifier.go
  src/semantic-router/pkg/classification/classifier_composers.go
  src/semantic-router/pkg/classification/complexity_classifier.go
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/classification/keyword_classifier.go
  src/semantic-router/pkg/extproc/processor_res_body_streaming.go
  src/semantic-router/pkg/extproc/processor_res_usage.go
  src/semantic-router/pkg/extproc/req_filter_reason.go
  src/semantic-router/pkg/extproc/req_filter_tools.go
  src/semantic-router/pkg/modeldownload/downloader.go
  src/semantic-router/pkg/selection/gmtrouter.go
  src/vllm-sr/cli/commands/runtime.py
  src/vllm-sr/cli/commands/runtime_support.py
  src/vllm-sr/tests/test_cli_main.py
  src/vllm-sr/tests/test_deployment_backend.py
  src/vllm-sr/tests/test_runtime_support.py
  website/docs/installation/installation.md
  website/docs/tutorials/algorithm/selection/elo.md
  website/docs/tutorials/algorithm/selection/rl-driven.md
  website/docs/tutorials/algorithm/selection/svm.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1.json
  website/sidebars.ts
Due: go-fmt, md-fmt

fix(extproc): satisfy changed-file lint gates
  src/semantic-router/pkg/extproc/processor_core.go
  src/semantic-router/pkg/extproc/req_filter_header_mutation.go
  src/semantic-router/pkg/extproc/req_filter_rag.go
  src/semantic-router/pkg/extproc/req_filter_response_api.go
  src/vllm-sr/tests/test_deployment_backend.py
Due: go-fmt

docs(agent): register dashboard NL mode governance docs
  tools/agent/repo-manifest.yaml
Due: yaml-and-yml-fmt

chore: narrow polish-log diff and tighten navbar spacing
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/classification/complexity_classifier.go
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/classification/hallucination_detector.go
  src/semantic-router/pkg/classification/keyword_classifier.go
  src/semantic-router/pkg/extproc/req_filter_modality.go
  src/semantic-router/pkg/extproc/req_filter_reason.go
  src/semantic-router/pkg/extproc/req_filter_tools.go
  src/semantic-router/pkg/extproc/utils_fast.go
  src/semantic-router/pkg/observability/logging/logging.go
  src/semantic-router/pkg/selection/automix.go
  src/semantic-router/pkg/selection/factory.go
  src/semantic-router/pkg/selection/gmtrouter.go
  src/semantic-router/pkg/selection/hybrid.go
  src/semantic-router/pkg/selection/rl_driven.go
  website/src/css/shell.css
Due: go-fmt

docs: satisfy tutorial contract checks
  src/semantic-router/pkg/config/docs_contract_algorithm_plugin_test.go
  website/docs/tutorials/algorithm/looper/confidence.md
  website/docs/tutorials/algorithm/looper/ratings.md
  website/docs/tutorials/algorithm/looper/remom.md
  website/docs/tutorials/algorithm/selection/automix.md
  website/docs/tutorials/algorithm/selection/elo.md
  website/docs/tutorials/algorithm/selection/gmtrouter.md
  website/docs/tutorials/algorithm/selection/hybrid.md
  website/docs/tutorials/algorithm/selection/kmeans.md
  website/docs/tutorials/algorithm/selection/knn.md
  website/docs/tutorials/algorithm/selection/latency-aware.md
  website/docs/tutorials/algorithm/selection/mlp.md
  website/docs/tutorials/algorithm/selection/rl-driven.md
  website/docs/tutorials/algorithm/selection/router-dc.md
  website/docs/tutorials/algorithm/selection/static.md
  website/docs/tutorials/algorithm/selection/svm.md
  website/sidebars.ts
Due: go-fmt, md-fmt

add natural language mode to dashboard builder
  dashboard/backend/handlers/builder_nl.go
  dashboard/backend/handlers/builder_nl_service.go
  dashboard/backend/handlers/builder_nl_service_test.go
  dashboard/backend/router/core_routes.go
  dashboard/frontend/src/pages/BuilderPage.tsx
  dashboard/frontend/src/pages/builderPageDashboardViews.tsx
  dashboard/frontend/src/pages/builderPageNaturalLanguagePanel.module.css
  dashboard/frontend/src/pages/builderPageNaturalLanguagePanel.tsx
  dashboard/frontend/src/pages/builderPageToolbar.tsx
  dashboard/frontend/src/stores/dslStore.ts
  dashboard/frontend/src/stores/dslStoreTypes.ts
  dashboard/frontend/src/types/dsl.ts
Due: go-fmt

refine builder nl panel layout
  dashboard/frontend/src/pages/builderPageNaturalLanguagePanel.module.css
  dashboard/frontend/src/pages/builderPageNaturalLanguagePanel.tsx
Due: none

fix(dashboard): stabilize builder nl page layout
  dashboard/frontend/src/pages/builderPageNaturalLanguagePanel.module.css
  dashboard/frontend/src/pages/builderPageNaturalLanguagePanel.tsx
  dashboard/frontend/src/pages/builderPageNaturalLanguageProgress.tsx
  dashboard/frontend/src/stores/dslStore.ts
Due: none

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
