Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

[Router] calibrate multi-objective signals under stress
  config/recipes/multi-objective/README.md
  config/recipes/multi-objective/config.yaml
  config/recipes/multi-objective/probes.yaml
  config/recipes/multi-objective/recipe.dsl
  src/semantic-router/pkg/config/multi_objective_asset_test.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Docs] record comprehensive multilingual pool acceptance
  website/blog/2026-08-05-multi-objective-mom-on-amd-developer-cloud.md
Due: md-fmt

[Router] align model roles with measured pool behavior
  config/recipes/multi-objective/README.md
  config/recipes/multi-objective/config.yaml
  config/recipes/multi-objective/probes.yaml
  config/recipes/multi-objective/recipe.dsl
  src/semantic-router/pkg/config/multi_objective_asset_test.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Docs] record measured economy replica utilization
  website/blog/2026-08-05-multi-objective-mom-on-amd-developer-cloud.md
Due: md-fmt

test(e2e): allow valid semantic cache reuse
  e2e/testcases/testdata/plugin_config_cases.json
Due: none

[Dashboard] preserve tool execution across turns
  dashboard/frontend/src/components/chatRequestSupport.test.ts
  dashboard/frontend/src/components/chatRequestSupport.ts
  dashboard/frontend/src/components/chatTaskExecution.ts
  dashboard/frontend/src/components/chatTaskToolLoop.ts
  dashboard/frontend/src/components/chatToolCallSupport.test.ts
  dashboard/frontend/src/components/chatToolCallSupport.ts
Due: none

[Dashboard] scope visual editing to entrypoint recipes
  dashboard/frontend/src/pages/BuilderPage.module.css
  dashboard/frontend/src/pages/BuilderPage.tsx
  dashboard/frontend/src/pages/builderPageRoutingScopeBar.tsx
  dashboard/frontend/src/pages/builderPageRoutingScopeSupport.test.ts
  dashboard/frontend/src/pages/builderPageRoutingScopeSupport.ts
  dashboard/frontend/src/pages/builderPageVisualShell.tsx
  dashboard/frontend/src/pages/useBuilderScopedEntityMutations.ts
Due: none

[Docs] align frontier tool parser with model protocol
  config/recipes/multi-objective/README.md
  website/blog/2026-08-05-multi-objective-mom-on-amd-developer-cloud.md
Due: md-fmt

[Router] keep model-pool assertions within lint limits
  src/semantic-router/pkg/config/multi_objective_asset_test.go
Due: go-fmt

[CI/E2E] route anthropic-shim traffic via HTTPRoute
  e2e/profiles/anthropic-shim/gateway-resources/backend.yaml
  e2e/profiles/anthropic-shim/gateway-resources/gwapi-resources.yaml
  e2e/profiles/anthropic-shim/profile.go
Due: go-fmt, yaml-and-yml-fmt

[Docs] surface the AMD model-pool deployment guide
  website/blog/2026-08-05-multi-objective-mom-on-amd-developer-cloud.md
  website/sidebars.ts
Due: md-fmt

[Dashboard] clear normalized tool markup from chat
  dashboard/frontend/src/components/chatRequestSupport.test.ts
  dashboard/frontend/src/components/chatRequestSupport.ts
  dashboard/frontend/src/components/chatTaskExecution.ts
  dashboard/frontend/src/components/chatTaskToolLoop.ts
  dashboard/frontend/src/components/chatToolCallSupport.test.ts
  dashboard/frontend/src/components/chatToolCallSupport.ts
Due: none

[CI/E2E] declare anthropic api_format for the shim profile model
  e2e/profiles/anthropic-shim/values.yaml
Due: yaml-and-yml-fmt

[Router] cache: propagate request cancellation out of remote backend searches
  src/semantic-router/pkg/cache/cache_context_backend_test.go
  src/semantic-router/pkg/cache/cache_context_error_test.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/cache/milvus_cache_similar.go
  src/semantic-router/pkg/cache/qdrant_cache.go
  src/semantic-router/pkg/cache/redis_cache.go
  src/semantic-router/pkg/cache/valkey_cache.go
Due: go-fmt

[Router] cache: tell a Hybrid cross-model miss from a Milvus fetch failure
  src/semantic-router/pkg/cache/hybrid_cache_lookup.go
  src/semantic-router/pkg/cache/hybrid_cache_lookup_regression_test.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/cache/milvus_cache_fetch.go
Due: go-fmt

[Router] cache: return zero similarity on every miss
  src/semantic-router/pkg/cache/cache_cancellation_test.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/cache_isolation_test.go
  src/semantic-router/pkg/cache/inmemory_cache_search.go
  src/semantic-router/pkg/cache/milvus_cache_similar.go
  src/semantic-router/pkg/cache/redis_cache.go
  src/semantic-router/pkg/cache/valkey_cache.go
Due: go-fmt

[Router] cache: harden the E2E similarity assertion and drop its lint exclusion
  e2e/testcases/cache.go
  e2e/testcases/cache_test.go
  tools/linter/go/.golangci.agent.yml
Due: go-fmt, yaml-and-yml-fmt

[Router] cache: correct three claims the code makes about itself
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
Due: go-fmt

[Router] cache: make the constructor cleanup contract provable
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/constructor_cleanup_test.go
  src/semantic-router/pkg/cache/redis_cache.go
  src/semantic-router/pkg/cache/valkey_cache.go
Due: go-fmt

[Router] cache: keep the E2E gate on assertions, not on hit rate
  e2e/testcases/cache.go
  e2e/testcases/cache_test.go
Due: go-fmt

[Router] cache: assert cancellation in the cache E2E
  e2e/testcases/cache.go
Due: go-fmt

[Router] cache: narrow the benchmark.go lint exclusion
  src/semantic-router/pkg/cache/benchmark.go
  tools/agent/structure-rules.yaml
  tools/linter/go/.golangci.agent.yml
Due: go-fmt, yaml-and-yml-fmt

[Router] cache: pin the cancellation specs to the guard under test
  src/semantic-router/pkg/cache/cache_cancellation_test.go
  src/semantic-router/pkg/cache/cache_context_backend_test.go
Due: go-fmt

[Router] cache: cut the comment weight added by this work
  e2e/testcases/cache.go
  src/semantic-router/pkg/cache/cache_cancellation_test.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/cache_isolation_test.go
  src/semantic-router/pkg/cache/constructor_cleanup_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/cache/milvus_cache_similar.go
  src/semantic-router/pkg/cache/qdrant_cache.go
  src/semantic-router/pkg/cache/redis_cache.go
  src/semantic-router/pkg/cache/valkey_cache.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
Due: go-fmt

[E2E] make the anthropic stop-sequence sentinel unconditional
  e2e/testcases/anthropic_messages_stop_sequence.go
Due: go-fmt

replace O(N) redis scan with secondary index
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_integration_test.go
Due: go-fmt

fixing deletation
  src/semantic-router/pkg/responsestore/redis_store.go
Due: go-fmt

[E2E] correct llama-server stop_reason in the anthropic shim
  e2e/testing/anthropic-shim/anthropic_shim/app.py
  e2e/testing/anthropic-shim/anthropic_shim/translate.py
  e2e/testing/anthropic-shim/tests/test_translate.py
Due: none

[Router] make frontier escalation explicit and selective
  config/recipes/multi-objective/README.md
  config/recipes/multi-objective/config.yaml
  config/recipes/multi-objective/probes.yaml
  config/recipes/multi-objective/recipe.dsl
  src/semantic-router/pkg/config/multi_objective_asset_test.go
  src/semantic-router/pkg/looper/confidence.go
  src/semantic-router/pkg/looper/confidence_response.go
  src/semantic-router/pkg/looper/confidence_test.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Dashboard] present routing metadata as readable labels
  dashboard/frontend/src/components/HeaderDisplay.tsx
  dashboard/frontend/src/components/HeaderMetadata.test.tsx
  dashboard/frontend/src/components/HeaderReveal.tsx
  dashboard/frontend/src/components/routingMetadataDisplay.test.ts
  dashboard/frontend/src/components/routingMetadataDisplay.ts
  dashboard/frontend/src/pages/ConfigPageEntrypointsRecipesSection.tsx
  dashboard/frontend/src/pages/ConfigPageMoMTopologyDialog.tsx
  dashboard/frontend/src/pages/ConfigPageSignalsSection.tsx
  dashboard/frontend/src/pages/InsightsPage.tsx
  dashboard/frontend/src/pages/builderPageDashboardViews.tsx
  dashboard/frontend/src/pages/builderPageVisualShell.tsx
  dashboard/frontend/src/pages/configPageDecisionTable.tsx
  dashboard/frontend/src/pages/insightsPageSupport.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/DecisionNode.tsx
  dashboard/frontend/src/pages/topology/utils/ruleTree.ts
Due: none

[Docs] explain reachable frontier execution paths
  website/blog/2026-08-05-multi-objective-mom-on-amd-developer-cloud.md
Due: md-fmt

[Docs] style the docs search to match the site shell
  website/src/css/custom.css
  website/src/css/search.css
Due: none

[Docs] document the local docs search setup
  website/README.md
Due: md-fmt

[Docs] drop npm 11 libc metadata from the website lockfile
  website/package-lock.json
Due: none

[Router] feat: introduce native model runtime contract
  src/semantic-router/pkg/modelruntime/native/adapter.go
  src/semantic-router/pkg/modelruntime/native/ffi_layout_test.go
  src/semantic-router/pkg/modelruntime/native/registry.go
  src/semantic-router/pkg/modelruntime/native/registry_test.go
  src/semantic-router/pkg/modelruntime/native/request.go
Due: go-fmt

[Router] isolate unsupported looper tool trajectories
  src/semantic-router/pkg/looper/base.go
  src/semantic-router/pkg/looper/fusion.go
  src/semantic-router/pkg/looper/ratings.go
  src/semantic-router/pkg/looper/remom.go
  src/semantic-router/pkg/looper/remom_test.go
  src/semantic-router/pkg/looper/rl_driven.go
  src/semantic-router/pkg/looper/tool_policy.go
  src/semantic-router/pkg/looper/tool_policy_test.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
