Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

fix(decision2): align legacy bundle System One response schema
  src/training/decision2/publication/runtime_api.py
  src/training/decision2/publication/tests/test_full_systemone_contract.py
  src/training/decision2/research/systemone-package-schema-parity-2026-09-28.md
Due: md-fmt

Prepare private ANLI Score blind-review packet
  src/training/decision2/training/data/prepare_anli_score_blind_review.py
  src/training/decision2/training/data/tests/test_prepare_anli_score_blind_review.py
Due: none

Fix preregistration spelling before source label access
  src/training/decision2/research/anli-score-train-source-prereg-2026-09-28.md
Due: md-fmt

Record ANLI TRAIN Score source audit hold
  src/training/decision2/research/anli-score-train-source-audit-2026-09-28.md
Due: md-fmt

Add preregistered ANLI TRAIN source audit
  src/training/decision2/training/data/audit_anli_score_train_source.py
  src/training/decision2/training/data/tests/test_anli_score_train_source.py
Due: none

Account for frozen ANLI source quarantine upper bound
  src/training/decision2/training/data/audit_anli_score_train_quarantine.py
  src/training/decision2/training/data/tests/test_anli_score_train_quarantine.py
Due: none

Preregister ANLI Score TRAIN source screen
  src/training/decision2/research/anli-score-train-source-prereg-2026-09-28.md
Due: md-fmt

docs(decision2): record ANLI TRAIN source hold
  src/training/decision2/research/release-status-2026-09-28.md
Due: md-fmt

docs(decision2): record bounded RACE Choice source hold
  src/training/decision2/research/race06-choice-source-screen-2026-09-28.md
Due: md-fmt

research(decision2): add bounded RACE Choice source screen
  src/training/decision2/training/data/audit_race06_choice_source.py
  src/training/decision2/training/data/tests/test_audit_race06_choice_source.py
Due: none

docs(decision2): record independent RACE Choice review hold
  src/training/decision2/research/race06-choice-source-screen-2026-09-28.md
  src/training/decision2/research/release-status-2026-09-28.md
Due: md-fmt

fix(decision2): bound ANLI rubric review to 24 blinded inputs
  src/training/decision2/training/data/prepare_anli_score_blind_review.py
  src/training/decision2/training/data/tests/test_prepare_anli_score_blind_review.py
Due: none

docs(decision2): record ANLI rubric blind packet
  src/training/decision2/research/anli-score-train-source-audit-2026-09-28.md
Due: md-fmt

docs(decision2): contrast Bosun decision-token design and data scale
  src/training/decision2/research/jev-inventory-synthesis-2026-09-26.md
Due: md-fmt

docs(decision2): record independent ANLI Score rubric hold
  src/training/decision2/research/anli-score-train-source-audit-2026-09-28.md
  src/training/decision2/research/release-status-2026-09-28.md
Due: md-fmt

docs(decision2): extract Kev source-mix hypotheses
  src/training/decision2/research/jev-inventory-synthesis-2026-09-26.md
Due: md-fmt

[Feature] Add extraContainers to the semantic-router Helm chart
  deploy/helm/check-extra-containers.py
  deploy/helm/semantic-router/README.md
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/values.yaml
  deploy/helm/testdata/extra-containers-values.yaml
  tools/make/helm.mk
Due: md-fmt, yaml-and-yml-fmt

docs(decision2): frame option-isolated native scorer experiment
  src/training/decision2/research/architecture-gap-paper-2026-09-28.md
Due: md-fmt

docs(training): audit 0.6B source exposure and next gate
  src/training/decision2/research/small06-source-exposure-diagnosis-2026-09-28.md
  src/training/decision2/training/data/audit_small06_train_balance.py
  src/training/decision2/training/data/tests/test_audit_small06_train_balance.py
Due: md-fmt

feat(decision2): plan prospective pooled 27b schedule
  src/training/decision2/training/data/plan_27b_pooled_schedule.py
  src/training/decision2/training/data/tests/test_plan_27b_pooled_schedule.py
Due: none

docs(decision2): record 0.6b exposure and 27b pooled schedule
  src/training/decision2/research/qwen38-27b-pooled-schedule-candidate-2026-09-28.md
  src/training/decision2/research/release-status-2026-09-28.md
Due: md-fmt

research(decision2): preregister bounded Kev teacher signal screen
  src/training/decision2/research/kev4b-external-teacher-train-screen-prereg-2026-09-28.md
  src/training/decision2/research/kev_teacher_train_pilot.py
  src/training/decision2/research/test_kev_teacher_train_pilot.py
Due: md-fmt

research: record 9B score cardinality development hold
  src/training/decision2/research/qwen35-9b-score-cardinality-residual-result-2026-09-28.md
Due: md-fmt

experiment: preregister 9B score cardinality readout
  src/training/decision2/research/qwen35-9b-score-cardinality-residual-prereg-2026-09-28.md
  src/training/decision2/scripts/preflight_qwen35_9b_score_cardinality.py
  src/training/decision2/training/model/decision_model.py
  src/training/decision2/training/model/infer.py
  src/training/decision2/training/model/score_cardinality_head.py
  src/training/decision2/training/model/tests/test_score_cardinality_head.py
  src/training/decision2/training/model/train_score_cardinality.py
Due: md-fmt

fix: match official Qwen shard filenames in preflight
  src/training/decision2/scripts/preflight_qwen35_9b_score_cardinality.py
Due: none

docs(decision2): record 9b cardinality transfer hold
  src/training/decision2/research/release-status-2026-09-28.md
Due: md-fmt

audit(decision2): hold pooled 27b schedule on group and near-input checks
  src/training/decision2/research/qwen38-27b-pooled-admission-result-2026-09-28.md
  src/training/decision2/training/data/audit_27b_pooled_admission.py
  src/training/decision2/training/data/tests/test_audit_27b_pooled_admission.py
Due: md-fmt

test(decision2): seal gold-free AutoJev peer panels
  src/training/decision2/scripts/seal_autojev27_v3_peer.py
  src/training/decision2/scripts/tests/test_seal_autojev27_v3_peer.py
Due: none

docs(decision2): preregister AutoJev 27B formal peer run
  src/training/decision2/research/autojev27-v3-public-peer-prereg-2026-09-28.md
Due: md-fmt

docs(decision2): report AutoJev 27B same-panel peer
  src/training/decision2/research/autojev27-v3-public-peer-result-2026-09-28.md
Due: md-fmt

fix(decision2): bind peer seal to prior public panel hash
  src/training/decision2/research/autojev27-v3-public-peer-prereg-2026-09-28.md
  src/training/decision2/scripts/seal_autojev27_v3_peer.py
  src/training/decision2/scripts/tests/test_seal_autojev27_v3_peer.py
Due: md-fmt

docs(decision2): record 27b pooled hold and external peer
  src/training/decision2/research/release-status-2026-09-28.md
Due: md-fmt

research(decision2): record Kev teacher screen hold
  src/training/decision2/research/kev4b-external-teacher-train-screen-result-2026-09-28.md
Due: md-fmt

audit(decision2): bound future 27b group-atomic capacity
  src/training/decision2/research/qwen38-27b-group-atomic-capacity-2026-09-28.md
  src/training/decision2/training/data/audit_27b_group_atomic_capacity.py
  src/training/decision2/training/data/tests/test_audit_27b_group_atomic_capacity.py
Due: md-fmt

docs(decision2): audit Sol 2B formal gaps and next admission
  src/training/decision2/research/sol2b-formal-gap-next-arm-2026-09-28.md
Due: md-fmt

docs(decision2): summarize teacher and source capacity screens
  src/training/decision2/research/release-status-2026-09-28.md
Due: md-fmt

research(decision2): preregister disjoint Kev teacher screen v2
  src/training/decision2/research/kev4b-teacher-train-screen-v2-prereg-2026-09-28.md
  src/training/decision2/research/kev_teacher_train_pilot_v2.py
  src/training/decision2/research/tests/test_kev_teacher_train_pilot_v2.py
Due: md-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
