Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

fix: C ABI links and registry substitutions
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
Due: cargo-fmt, cargo-check

[Refactor] Update Model Hub page
  website/src/components/community/CommunityLayout/index.tsx
  website/src/components/model-hub/ModelHubBenchmark.tsx
  website/src/components/model-hub/ModelHubDetail.tsx
  website/src/components/model-hub/ModelHubDirectory.tsx
  website/src/components/model-hub/ModelHubPrimitives.tsx
  website/src/components/model-hub/modelHubBenchmark.module.css
  website/src/components/model-hub/modelHubDetail.module.css
  website/src/components/model-hub/modelHubDirectory.module.css
  website/src/components/model-hub/modelHubProviders.module.css
  website/src/components/model-hub/modelHubShared.module.css
  website/src/components/research/ResearchLayout/index.tsx
  website/src/components/research/ResearchLayout/styles.module.css
  website/src/components/site/BrowseLayout/index.tsx
  website/src/components/site/BrowseLayout/styles.module.css
  website/src/components/site/PageHeader/index.tsx
  website/src/pages/models.module.css
  website/src/pages/models.tsx
Due: none

[Test] Assert canonical fixture identity on dashboard config reads
  e2e/go.mod
  e2e/testcases/dashboard_config_read.go
Due: go-fmt

[Bug] Fix Candle embedding contract FFI ownership
  candle-binding/embedding_contract_test.go
  candle-binding/semantic-router.go
  src/vllm-sr/Dockerfile
Due: go-fmt

Type context band token counts at the CLI YAML boundary the way the Router's yaml.v2 loader does and pin YAML-to-Pydantic-to-Router parity cases in the shared fixture
  src/semantic-router/pkg/config/testdata/token_count_cases.json
  src/semantic-router/pkg/config/token_count_test.go
  src/vllm-sr/cli/config_yaml.py
  src/vllm-sr/cli/context_bands.py
  src/vllm-sr/cli/goyaml_scalars.py
  src/vllm-sr/cli/parser.py
  src/vllm-sr/cli/utils.py
  src/vllm-sr/tests/test_context_signal_bands.py
  website/docs/tutorials/signal/heuristic/context.md
Due: go-fmt, md-fmt

Defer context band limits that reference the environment to the Router with a CLI warning, type explicitly tagged plain scalars like yaml.v2, and pin more YAML spellings in the shared fixture
  src/semantic-router/pkg/config/testdata/token_count_cases.json
  src/semantic-router/pkg/config/token_count_test.go
  src/vllm-sr/cli/config_yaml.py
  src/vllm-sr/cli/context_bands.py
  src/vllm-sr/cli/parser.py
  src/vllm-sr/tests/test_context_signal_bands.py
  website/docs/tutorials/signal/heuristic/context.md
Due: go-fmt, md-fmt

[Fix] Resolve context transformation test lint failures
  src/semantic-router/pkg/contextcompression/transform_plan_test.go
  src/semantic-router/pkg/contextcompression/transform_protocol_test.go
Due: go-fmt

[Core] Add Router Learning evaluation benchmark
  dashboard/backend/evaluationplane/catalog.go
  dashboard/backend/evaluationplane/catalog_registry.go
  dashboard/backend/evaluationplane/executor_contract_registry.go
  dashboard/backend/evaluationplane/method_metric_attestation.go
  dashboard/backend/evaluationplane/method_record_reducer.go
  dashboard/backend/evaluationplane/method_record_types.go
  dashboard/backend/evaluationplane/method_record_validation.go
  dashboard/backend/evaluationplane/method_router_learning_reducer.go
  dashboard/backend/evaluationplane/method_router_learning_reducer_test.go
  dashboard/backend/evaluationplane/metric_analysis_catalog.v1.json
  dashboard/backend/evaluationplane/metric_analysis_catalog_test.go
  dashboard/backend/evaluationplane/record_validation.go
  dashboard/frontend/src/contracts/metric_analysis_catalog.v1.json
  src/vllm-sr/cli/evaluation/builtin_executors.py
  src/vllm-sr/cli/evaluation/catalog_suites.py
  src/vllm-sr/cli/evaluation/constants.py
  src/vllm-sr/cli/evaluation/evidence.py
  src/vllm-sr/cli/evaluation/execution_contract.py
  src/vllm-sr/cli/evaluation/executor_contracts.py
  src/vllm-sr/cli/evaluation/golden/metric_analysis_catalog.v1.json
  src/vllm-sr/cli/evaluation/metric_methods.py
  src/vllm-sr/cli/evaluation/metric_router_learning.py
  src/vllm-sr/cli/evaluation/resources/router_learning_core.v1.json
  src/vllm-sr/cli/evaluation/router_learning_corpus.py
  src/vllm-sr/cli/evaluation/router_learning_evidence.py
  src/vllm-sr/cli/evaluation/router_learning_executor.py
  src/vllm-sr/cli/evaluation/target_capabilities.py
  src/vllm-sr/pyproject.toml
  src/vllm-sr/tests/fixtures/evaluation/catalog.json
  src/vllm-sr/tests/test_evaluation_contracts.py
  src/vllm-sr/tests/test_metric_analysis_catalog_contract.py
  src/vllm-sr/tests/test_router_learning_benchmark.py
  website/docs/benchmarking/evaluation-plane.md
Due: go-fmt, md-fmt

fix: update Router Learning metric family test expectation
  dashboard/frontend/src/contracts/metricAnalysisCatalog.test.ts
Due: none

[Research] Match production Router Learning scoring and validate trials
  .github/workflows/dashboard-test.yml
  .github/workflows/router-learning-eval.yml
  dashboard/backend/evaluationplane/catalog.go
  dashboard/backend/evaluationplane/method_record_validation.go
  dashboard/backend/evaluationplane/method_router_learning_plan.go
  dashboard/backend/evaluationplane/method_router_learning_plan_test.go
  dashboard/backend/evaluationplane/method_router_learning_reducer.go
  dashboard/backend/evaluationplane/method_router_learning_reducer_test.go
  dashboard/backend/evaluationplane/process_integration_test.go
  dashboard/backend/evaluationplane/process_replay_test_support_test.go
  dashboard/backend/evaluationplane/process_router_learning_integration_test.go
  dashboard/backend/evaluationplane/record_validation.go
  src/semantic-router/pkg/extproc/router_learning_adaptation.go
  src/semantic-router/pkg/extproc/router_learning_experience.go
  src/semantic-router/pkg/extproc/router_learning_numeric.go
  src/semantic-router/pkg/extproc/router_learning_runtime.go
  src/semantic-router/pkg/extproc/router_learning_sampling_parity_test.go
  src/semantic-router/pkg/extproc/router_learning_sampling_score.go
  src/semantic-router/pkg/extproc/router_learning_telemetry.go
  src/vllm-sr/cli/evaluation/catalog_suites.py
  src/vllm-sr/cli/evaluation/metric_router_learning.py
  src/vllm-sr/cli/evaluation/resources/router_learning_core.v1.json
  src/vllm-sr/cli/evaluation/resources/router_learning_core.v2.json
  src/vllm-sr/cli/evaluation/router_learning_corpus.py
  src/vllm-sr/cli/evaluation/router_learning_evidence.py
  src/vllm-sr/cli/evaluation/router_learning_executor.py
  src/vllm-sr/cli/evaluation/router_learning_policy.py
  src/vllm-sr/pyproject.toml
  src/vllm-sr/tests/fixtures/evaluation/catalog.json
  src/vllm-sr/tests/router_learning_parity_support.py
  src/vllm-sr/tests/test_metric_analysis_catalog_contract.py
  src/vllm-sr/tests/test_router_learning_benchmark.py
  src/vllm-sr/tests/test_router_learning_policy_parity.py
  tools/agent/domains.yaml
  tools/ci/tests/test_pr_change_classifier.py
  tools/make/dashboard.mk
  website/docs/benchmarking/evaluation-plane.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix: prepare evaluation CI dependencies and dashboard checksums
  .github/workflows/pre-commit.yml
  tools/agent/docs/testing-strategy.md
Due: md-fmt, yaml-and-yml-fmt

fix: align Router Learning estimator IDs with Student t
  dashboard/backend/evaluationplane/metric_analysis_catalog.v1.json
  dashboard/frontend/src/contracts/metric_analysis_catalog.v1.json
  src/vllm-sr/cli/evaluation/golden/metric_analysis_catalog.v1.json
  src/vllm-sr/tests/test_router_learning_benchmark.py
Due: none

fix: avoid shadowed error in Router Learning parity test
  src/semantic-router/pkg/extproc/router_learning_sampling_parity_test.go
Due: go-fmt

fix(responsestore): report a lease loss Redis confirmed, however late it lands
  src/semantic-router/pkg/responsestore/redis_scan_lease.go
  src/semantic-router/pkg/responsestore/redis_scan_lease_test.go
Due: go-fmt

fix(responsestore): keep a conversation index alive as long as its payloads
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_backfill_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_index_ttl_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_helpers.go
  src/semantic-router/pkg/responsestore/redis_migration.go
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_response_store_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
Due: go-fmt

fix(responsestore): never delete a conversation index a write just landed in
  src/semantic-router/pkg/responsestore/redis_cascade_delete.go
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_store.go
Due: go-fmt

test(responsestore): benchmark listing against two dataset sizes
  src/semantic-router/pkg/responsestore/redis_list_test.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

Fix prompt cache lint failures
  e2e/testcases/anthropic_prompt_cache_policy.go
  src/semantic-router/pkg/dsl/compiler_plugin_configs.go
  src/semantic-router/pkg/extproc/processor_protocol_contract.go
  src/semantic-router/pkg/extproc/processor_req_prompt_cache_test.go
Due: go-fmt

test(e2e): derive the execution graph from runtime registration (#2379)
  e2e/cmd/e2e-audit/main.go
  e2e/pkg/verification/inventory.go
Due: go-fmt

test(e2e): gate execution-graph drift with a bounded unreachable-debt ratchet (#2379)
  e2e/go.mod
  e2e/pkg/verification/debt.go
  e2e/pkg/verification/gates_test.go
Due: go-fmt

build(e2e): run the coverage drift gates from build-e2e (#2379)
  tools/make/e2e.mk
Due: none

fix(responsestore): resolve errorlint formatting verb issues
  src/semantic-router/pkg/responsestore/redis_response_store.go
Due: go-fmt

style(responsestore): separate adjacent top-level funcs for gofumpt
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_helpers.go
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

test(e2e): derive explicit CI selection overrides and gate their drift (#2379)
  e2e/cmd/e2e-audit/main.go
  e2e/pkg/verification/ciexclusions.go
  e2e/pkg/verification/cioverrides.go
  e2e/pkg/verification/gates_ci_test.go
  e2e/pkg/verification/gates_test.go
  tools/make/e2e.mk
Due: go-fmt

fix(responsestore): roll back a half-applied write on a detached context
  src/semantic-router/pkg/responsestore/redis_response_repair_test.go
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_store.go
Due: go-fmt

fix(responsestore): verify ownership before dropping a conversation membership
  src/semantic-router/pkg/responsestore/redis_response_repair_test.go
  src/semantic-router/pkg/responsestore/redis_response_store.go
Due: go-fmt

chore: add rishabhsinha17 to evaluation workgroup
  website/src/data/workGroups.ts
Due: none

[Test] Prove guardrail short-circuit does not dispatch upstream (#3356)
  .github/workflows/integration-test-k8s.yml
  e2e/pkg/fixtures/session.go
  e2e/pkg/testmatrix/testcases.go
  e2e/testcases/plugin_short_circuit_dispatch.go
Due: go-fmt, yaml-and-yml-fmt

fix(dashboard): tidy backend dependency checksums
  dashboard/backend/go.sum
Due: none

fix(e2e): keep selector coverage checks in the E2E layer
  e2e/pkg/testcases/selector_algorithm_coverage_test.go
  e2e/pkg/testcases/testdata/README.md
  e2e/pkg/testcases/testdata/algorithm_catalog.go
  src/semantic-router/pkg/config/routing_surface_catalog_test.go
  tools/make/e2e.mk
Due: go-fmt, md-fmt

fix(looper): validate call metadata counters
  src/semantic-router/pkg/extproc/router_close_leak_test.go
  src/semantic-router/pkg/looper/base.go
  src/semantic-router/pkg/looper/client.go
  src/semantic-router/pkg/looper/client_call_options.go
  src/semantic-router/pkg/looper/client_call_options_test.go
  src/semantic-router/pkg/looper/confidence.go
  src/semantic-router/pkg/looper/fusion.go
  src/semantic-router/pkg/looper/ratings.go
  src/semantic-router/pkg/looper/remom.go
  src/semantic-router/pkg/looper/workflows.go
Due: go-fmt

fix: avoid generated cgo capability lint errors
  candle-binding/embedding_capabilities_native.go
  onnx-binding/embedding_capabilities_native.go
Due: go-fmt

fix: use bundled ONNX build dependencies
  src/vllm-sr/Dockerfile.cuda
  src/vllm-sr/Dockerfile.rocm
Due: none

[Feature] Record the split rule in the evaluation manifest
  src/training/model_eval/provenance/README.md
  src/training/model_eval/provenance/emit.py
  src/training/model_eval/provenance/schemas/router-model-evaluation-v1.schema.json
  src/training/model_eval/test_provenance.py
Due: md-fmt

[Test] Reformat the rule tree corpus, rename the ADN typo case that misspell rejects, and move the multi-child NOT fixture to the canonical providers.defaults.model key
  src/semantic-router/pkg/config/validator_rule_operator_test.go
Due: go-fmt

[Test] Run the provenance manifest tests in the training contract lane
  src/training/model_classifier/prompt_guard_fine_tuning_lora/test_jailbreak_provenance.py
  src/training/model_eval/provenance/emit.py
  src/training/model_eval/requirements.txt
  tools/agent/requirements.txt
  tools/make/models.mk
Due: none

style(mock-vllm): format test_reliability_controls with black and configure test linter
  tools/linter/python/.ruff.toml
  tools/mock-vllm/tests/test_reliability_controls.py
Due: none

refactor(mock-vllm): remove default stall fallback and require explicit duration
  tools/mock-vllm/app.py
  tools/mock-vllm/tests/test_reliability_controls.py
Due: none

Fix gci import grouping in signal-routing test files
  e2e/testcases/event_routing.go
  e2e/testcases/language_routing.go
  e2e/testcases/signal_routing_contract_test.go
  e2e/testcases/signal_routing_helpers.go
Due: go-fmt

[Test] Add E2E coverage for the language signal.
  .github/workflows/integration-test-k8s.yml
  e2e/pkg/testmatrix/testcases.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/testcases/language_routing.go
  e2e/testcases/signal_routing_contract_test.go
  e2e/testcases/testdata/language_routing_cases.json
Due: go-fmt, yaml-and-yml-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
