Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

[Feat] Dashboard: add System One testing and model monitoring
  dashboard/README.md
  dashboard/backend/go.mod
  dashboard/backend/go.sum
  dashboard/backend/handlers/decision_model.go
  dashboard/backend/handlers/decision_model_test.go
  dashboard/backend/router/core_routes.go
  dashboard/backend/router/route_policy_test.go
  dashboard/backend/routercontract/management.go
  dashboard/frontend/e2e/decision-model-management.spec.ts
  dashboard/frontend/e2e/system-one-playground.spec.ts
  dashboard/frontend/src/app/AuthenticatedAppRoutes.tsx
  dashboard/frontend/src/app/routeLoaders.ts
  dashboard/frontend/src/app/routeManifest.test.ts
  dashboard/frontend/src/app/routeManifest.ts
  dashboard/frontend/src/components/LayoutNavSupport.test.ts
  dashboard/frontend/src/components/LayoutNavSupport.ts
  dashboard/frontend/src/pages/DecisionModelMonitoringCharts.tsx
  dashboard/frontend/src/pages/DecisionModelPage.module.css
  dashboard/frontend/src/pages/DecisionModelPage.tsx
  dashboard/frontend/src/pages/DecisionModelRuntimePanel.tsx
  dashboard/frontend/src/pages/SystemOnePlaygroundPage.module.css
  dashboard/frontend/src/pages/SystemOnePlaygroundPage.tsx
  dashboard/frontend/src/pages/SystemOneResults.tsx
  dashboard/frontend/src/pages/decisionModelMetrics.test.ts
  dashboard/frontend/src/pages/decisionModelMetrics.ts
  dashboard/frontend/src/pages/systemOnePlayground.test.ts
  dashboard/frontend/src/pages/systemOnePlayground.ts
  dashboard/frontend/src/pages/useDecisionModelMetrics.ts
  dashboard/frontend/src/pages/useSystemOnePlayground.ts
  src/semantic-router/pkg/apiserver/route_systemone.go
  src/semantic-router/pkg/apiserver/route_systemone_test.go
  src/semantic-router/pkg/apiserver/routes.go
  src/semantic-router/pkg/modelservice/systemone.go
  src/semantic-router/pkg/modelservice/systemone_test.go
  website/docs/api/apiserver.md
  website/static/openapi/apiserver/apiserver.openapi.json
Due: go-fmt, md-fmt

[Fix] Dashboard: include model runtime API in container builds
  dashboard/backend/Dockerfile
Due: none

[Bug] Release: default the source chart to the development image and pin the 0.5.0 performance base (#4729)
  deploy/helm/README.md
  deploy/helm/semantic-router/Chart.yaml
  deploy/helm/semantic-router/README.md
  deploy/helm/semantic-router/templates/NOTES.txt
  e2e/pkg/cluster/kind_images.go
  e2e/pkg/cluster/kind_images_test.go
  e2e/pkg/helm/deployer.go
  e2e/profiles/standalone/profile.go
  e2e/testcases/standalone_gateway.go
  perf/README.md
  src/vllm-sr/scripts/release.sh
  src/vllm-sr/tests/test_release_script.py
  tools/agent/docs/maintainer-ops.md
  tools/agent/domains.yaml
  tools/ci/ci_plan.py
  tools/ci/tests/test_pr_change_classifier.py
  tools/ci/tests/test_release_catalog_contract.py
  tools/ci/tests/test_release_version_contract.py
  tools/release/check_version_contract.py
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Bug] Router: ask a Vela 2.0 deployment one call per request stage
  e2e/testing/vllm-sr-cli/test_integration_decisions_one_call.py
  src/model-runtime/docs/design.md
  src/model-runtime/docs/records/vela2-router-signals.md
  src/model-runtime/tests/test_decision_states.py
  src/model-runtime/vllm_srun/api/app.py
  src/model-runtime/vllm_srun/api/openapi.yaml
  src/model-runtime/vllm_srun/plugins/base.py
  src/model-runtime/vllm_srun/plugins/decisions.py
  src/model-runtime/vllm_srun/runtime.py
  src/semantic-router/pkg/admission/admission.go
  src/semantic-router/pkg/admission/semaphore.go
  src/semantic-router/pkg/classification/classifier_jailbreak_input_test.go
  src/semantic-router/pkg/classification/classifier_signal_bundle_test.go
  src/semantic-router/pkg/classification/classifier_signal_context.go
  src/semantic-router/pkg/classification/classifier_signal_decision_model.go
  src/semantic-router/pkg/classification/classifier_signal_dispatch.go
  src/semantic-router/pkg/classification/classifier_signal_dispatch_join_test.go
  src/semantic-router/pkg/classification/classifier_signal_dispatch_policy.go
  src/semantic-router/pkg/classification/classifier_signal_one_call_test.go
  src/semantic-router/pkg/classification/classifier_signal_questions.go
  src/semantic-router/pkg/modelruntime/binding/identity.go
  src/semantic-router/pkg/modelruntime/serving/signal_question.go
  src/semantic-router/pkg/modelruntime/serving/span_question.go
  src/semantic-router/pkg/modelservice/api/openapi.gen.go
  src/semantic-router/pkg/modelservice/bundle.go
  src/semantic-router/pkg/modelservice/bundle_questions_test.go
  src/semantic-router/pkg/modelservice/cache.go
  src/semantic-router/pkg/modelservice/client.go
  src/semantic-router/pkg/modelservice/decisions_labelled_test.go
  src/semantic-router/pkg/modelservice/fusion.go
  src/semantic-router/pkg/modelservice/fusion_decisions.go
  src/semantic-router/pkg/modelservice/lease.go
  src/semantic-router/pkg/modelservice/metrics.go
  src/semantic-router/pkg/modelservice/runtimetest/labelled.go
  src/semantic-router/pkg/modelservice/runtimetest/runtimetest.go
  website/docs/model-runtime/reference.md
  website/docs/release-notes/built-in-model-runtime.md
  website/docs/tutorials/signal/learned/decision.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/model-runtime/troubleshooting.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Fix] Dashboard: preserve low-rate chart precision
  dashboard/frontend/e2e/decision-model-management.spec.ts
  dashboard/frontend/e2e/system-one-playground.spec.ts
  dashboard/frontend/src/pages/DecisionModelMonitoringCharts.tsx
  dashboard/frontend/src/pages/SystemOnePlaygroundPage.tsx
  dashboard/frontend/src/pages/decisionModelMetrics.test.ts
  dashboard/frontend/src/pages/decisionModelMetrics.ts
Due: none

docs: clarify workflow scope when updating PR branches
  CONTRIBUTING.md
Due: md-fmt

[Bug] CI: fix the main failures left by PRs merged before their CI (#4743)
  .github/workflows/security-scan.yml
  dashboard/backend/safefetch/address.go
  e2e/testing/memory_tests/test_persistence_receipts.py
  e2e/testing/memory_tests/test_persistence_receipts_unit.py
  src/semantic-router/pkg/classification/classifier_jailbreak_risk_realmodel_test.go
  src/semantic-router/pkg/classification/classifier_pii_long_text_realmodel_test.go
  src/semantic-router/pkg/classification/fact_check_classifier_test.go
  src/semantic-router/pkg/classification/feedback_detector_realmodel_test.go
  src/semantic-router/pkg/classification/generic_classifier_local_test.go
  src/semantic-router/pkg/classification/real_model_test.go
  src/semantic-router/pkg/classification/unified_classifier_integration_test.go
  tools/agent/domains.yaml
  tools/ci/tests/test_domain_registry.py
  tools/security/scan_sensitive_paths.toml
  tools/security/test_self_exclusion.py
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/learned/jailbreak.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/learned/pii.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Docs] Model runtime: rerun the decision-model latency on a clean host (#4730)
  src/model-runtime/docs/records/vela2-decision-model-sizes.json
  src/model-runtime/docs/records/vela2-decision-model-sizes.md
  website/docs/model-runtime/choose-a-model.md
  website/docs/release-notes/decision-model.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/model-runtime/choose-a-model.md
Due: md-fmt

[Bug] Router: ask a Vela 2.0 deployment one call per request stage (#4745)
  e2e/testing/vllm-sr-cli/test_integration_decisions_one_call.py
  src/model-runtime/docs/design.md
  src/model-runtime/docs/records/vela2-router-signals.md
  src/model-runtime/tests/test_decision_states.py
  src/model-runtime/vllm_srun/api/app.py
  src/model-runtime/vllm_srun/api/openapi.yaml
  src/model-runtime/vllm_srun/plugins/base.py
  src/model-runtime/vllm_srun/plugins/decisions.py
  src/model-runtime/vllm_srun/runtime.py
  src/semantic-router/pkg/admission/admission.go
  src/semantic-router/pkg/admission/semaphore.go
  src/semantic-router/pkg/classification/classifier_jailbreak_input_test.go
  src/semantic-router/pkg/classification/classifier_signal_bundle_test.go
  src/semantic-router/pkg/classification/classifier_signal_context.go
  src/semantic-router/pkg/classification/classifier_signal_decision_model.go
  src/semantic-router/pkg/classification/classifier_signal_dispatch.go
  src/semantic-router/pkg/classification/classifier_signal_dispatch_join_test.go
  src/semantic-router/pkg/classification/classifier_signal_dispatch_policy.go
  src/semantic-router/pkg/classification/classifier_signal_one_call_test.go
  src/semantic-router/pkg/classification/classifier_signal_questions.go
  src/semantic-router/pkg/modelruntime/binding/identity.go
  src/semantic-router/pkg/modelruntime/serving/signal_question.go
  src/semantic-router/pkg/modelruntime/serving/span_question.go
  src/semantic-router/pkg/modelservice/api/openapi.gen.go
  src/semantic-router/pkg/modelservice/bundle.go
  src/semantic-router/pkg/modelservice/bundle_questions_test.go
  src/semantic-router/pkg/modelservice/cache.go
  src/semantic-router/pkg/modelservice/client.go
  src/semantic-router/pkg/modelservice/decisions_labelled_test.go
  src/semantic-router/pkg/modelservice/fusion.go
  src/semantic-router/pkg/modelservice/fusion_decisions.go
  src/semantic-router/pkg/modelservice/lease.go
  src/semantic-router/pkg/modelservice/metrics.go
  src/semantic-router/pkg/modelservice/runtimetest/labelled.go
  src/semantic-router/pkg/modelservice/runtimetest/runtimetest.go
  website/docs/model-runtime/reference.md
  website/docs/release-notes/built-in-model-runtime.md
  website/docs/tutorials/signal/learned/decision.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/model-runtime/troubleshooting.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Bug] model_eval: resolve model_ref through the decision model
  src/training/model_eval/artifact_inventory.py
  src/training/model_eval/constants.py
  src/training/model_eval/test_artifact_inventory.py
Due: none

[Bug] model_eval: resolve model_ref through the decision model (#4746)
  src/training/model_eval/artifact_inventory.py
  src/training/model_eval/constants.py
  src/training/model_eval/test_artifact_inventory.py
Due: none

docs(decision2): sync sanitized program docs (COORDINATION)
  src/training/decision2/v2/program/COORDINATION.md
Due: md-fmt

[Bug] Model runtime: sort an import and name the status join_states returns
  src/model-runtime/vllm_srun/plugins/decisions.py
  src/model-runtime/vllm_srun/runtime.py
Due: none

[Bug] Model runtime: sort an import and name the status join_states returns (#4747)
  src/model-runtime/vllm_srun/plugins/decisions.py
  src/model-runtime/vllm_srun/runtime.py
Due: none

[Bug] Router: fail a bundled call cut short at its caller's own deadline
  src/semantic-router/pkg/modelservice/bundle.go
  src/semantic-router/pkg/modelservice/bundle_questions_test.go
Due: go-fmt

[Bug] Router: fail a bundled call cut short at its caller's own deadline (#4748)
  src/semantic-router/pkg/modelservice/bundle.go
  src/semantic-router/pkg/modelservice/bundle_questions_test.go
Due: go-fmt

[Bug] Normalize Decision-2.0 native-runtime fingerprint paths (#4564)
  src/model-runtime/tests/test_package_fingerprints.py
  src/model-runtime/vllm_srun/families/decision2/package.py
Due: none

[Feature] Move Ecosystem & partnerships into Community
  website/docusaurus.config.ts
  website/i18n/zh-Hans/code.json
  website/src/components/community/CommunityLayout/index.tsx
  website/src/components/ecosystem/EcosystemGrid.module.css
  website/src/components/ecosystem/EcosystemGrid.tsx
  website/src/components/homepage/EcosystemSection.module.css
  website/src/components/homepage/EcosystemSection.tsx
  website/src/pages/community/ecosystem.module.css
  website/src/pages/community/ecosystem.tsx
  website/static/img/ecosystem/README.md
Due: md-fmt

[Bug] Accept Ollama's timings object on streamed Chat chunks
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_provider_extensions_test.go
  src/semantic-router/pkg/protocolcodec/stream_chat.go
  src/semantic-router/pkg/protocolcodec/testdata/contracts/chat-nested-fields.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/039-chat-nested-stream-fields-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/039-chat-nested-stream-fields-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/039-chat-nested-stream-fields-in.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/039-chat-nested-stream-fields-responses-out.json
Due: go-fmt

fix(ci): isolate CLI output test and format KV imports
  src/semantic-router/pkg/kvtransfer/coordinator.go
  src/semantic-router/pkg/kvtransfer/coordinator_test.go
  src/semantic-router/pkg/kvtransfer/eligibility.go
  src/vllm-sr/tests/test_human_output_contract.py
Due: go-fmt

fix(dashboard): let nested selectors handle Escape before dialogs
  dashboard/frontend/e2e/decision-model-management.spec.ts
  dashboard/frontend/src/hooks/useAccessibleDialog.ts
Due: none

[Router] fix images codec to accept integer error codes from vLLM
  src/semantic-router/pkg/protocolcodec/images_codec.go
  src/semantic-router/pkg/protocolcodec/images_codec_test.go
Due: go-fmt

[Bug] Accept Mistral's p field in Chat stream chunks
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_provider_extensions_test.go
  src/semantic-router/pkg/protocolcodec/stream_chat.go
  src/semantic-router/pkg/protocolcodec/testdata/contracts/chat-nested-fields.json
  src/semantic-router/pkg/protocolcodec/testdata/contracts/mistral-chat-stream-in.json
Due: go-fmt

[Bug] Reject non-finite and out-of-band model_scores at config load
  src/semantic-router/pkg/config/validator_domain.go
  src/semantic-router/pkg/config/validator_model_scores.go
  src/semantic-router/pkg/config/validator_model_scores_test.go
Due: go-fmt

[Bug] Keep RAG block-mode 503 responses generic
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/req_filter_looper_internal.go
  src/semantic-router/pkg/extproc/req_filter_rag_block_response_test.go
Due: go-fmt

[Test] Model runtime: check Vela 2.0's real answers and the fused decisions call in Published Models
  .github/workflows/test-platform.yml
  CONTRIBUTING.md
  src/semantic-router/pkg/classification/real_model_vela2_test.go
  src/semantic-router/pkg/classification/testdata/vela2_published_answers.json
  src/semantic-router/pkg/classification/vela2_published_realmodel_test.go
  src/semantic-router/pkg/classification/vela2_systemone_parity_test.go
  tools/agent/docs/testing-strategy.md
  tools/agent/domains.yaml
  tools/ci/core_test_profiles.json
  tools/ci/run_model_tests.py
  tools/ci/tests/test_domain_registry.py
  tools/ci/tests/test_model_test_results.py
  tools/make/models.mk
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Bug] Fix ML pipeline download fixture
  dashboard/backend/handlers/mlpipeline_download_test.go
Due: go-fmt

[Bug] Preserve parallel Responses tool history in Chat requests (#4655)
  e2e/testcases/protocol_codec_parallel_history.go
  e2e/testcases/protocol_codec_parallel_history_test.go
  e2e/testcases/protocol_codec_tool_lifecycle.go
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_encode.go
  src/semantic-router/pkg/protocolcodec/responses_parallel_tool_history_test.go
Due: go-fmt

[Test] Model runtime: check Vela 2.0's real answers and the fused decisions call in Published Models (#4761)
  .github/workflows/test-platform.yml
  CONTRIBUTING.md
  src/semantic-router/pkg/classification/real_model_vela2_test.go
  src/semantic-router/pkg/classification/testdata/vela2_published_answers.json
  src/semantic-router/pkg/classification/vela2_published_realmodel_test.go
  src/semantic-router/pkg/classification/vela2_systemone_parity_test.go
  tools/agent/docs/testing-strategy.md
  tools/agent/domains.yaml
  tools/ci/core_test_profiles.json
  tools/ci/run_model_tests.py
  tools/ci/tests/test_domain_registry.py
  tools/ci/tests/test_model_test_results.py
  tools/make/models.mk
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Bug] Accept Ollama's timings object on streamed Chat chunks (#4759)
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_provider_extensions_test.go
  src/semantic-router/pkg/protocolcodec/stream_chat.go
  src/semantic-router/pkg/protocolcodec/testdata/contracts/chat-nested-fields.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/039-chat-nested-stream-fields-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/039-chat-nested-stream-fields-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/039-chat-nested-stream-fields-in.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/039-chat-nested-stream-fields-responses-out.json
Due: go-fmt

[Router] fix images codec to accept integer error codes from vLLM (#4754)
  src/semantic-router/pkg/protocolcodec/images_codec.go
  src/semantic-router/pkg/protocolcodec/images_codec_test.go
Due: go-fmt

[Bug] Return PII and security results for batch task_type "all"
  e2e/testing/03-classification-api-test.py
  src/semantic-router/pkg/apiserver/config.go
  src/semantic-router/pkg/apiserver/route_classify.go
  src/semantic-router/pkg/apiserver/route_classify_test.go
  website/static/openapi/apiserver/apiserver.openapi.json
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
