Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

fix: group operator test imports per gci sections
  deploy/operator/controllers/openshift_integration_test.go
Due: go-fmt

test: remove redundant provider-mocker e2e test from cli unit suite
  src/vllm-sr/tests/test_sr_bench_fault_schedule.py
Due: none

[Bug] Remove the inert MCP Auto Reconnect control (#4359)
  dashboard/backend/mcp/manager_options_compat_test.go
  dashboard/backend/mcp/types.go
  dashboard/frontend/src/components/MCPServerDialog.tsx
  dashboard/frontend/src/components/mcpConfigPanelUtils.test.ts
  dashboard/frontend/src/components/mcpConfigPanelUtils.ts
  dashboard/frontend/src/tools/mcp/types.ts
Due: go-fmt

[Bug] Keep NOT groups when the Builder saves a route
  dashboard/frontend/e2e/builder-route-not-group.spec.ts
  dashboard/frontend/src/lib/dslMutations.test.ts
  dashboard/frontend/src/lib/dslMutations.ts
Due: none

fix(extproc): emit a provider auth resolution failure event
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/extproc/processor_req_body_routing_test.go
Due: go-fmt

[Bug] Calibrate the production-stack jailbreak threshold for Vela Guard
  e2e/profiles/production-stack/values.yaml
Due: yaml-and-yml-fmt

[Bug] Leave out judge pairs whose request fails its digest
  src/semantic-router/pkg/shadowdataset/judging.go
  src/semantic-router/pkg/shadowdataset/judging_test.go
Due: go-fmt

[Docs] Name the judge task counts for a request that fails its digest
  website/docs/tutorials/plugin/shadow-dispatch.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/plugin/shadow-dispatch.md
Due: md-fmt

[Docs] Regenerate the API reference for the judge task selection
  website/static/openapi/apiserver/apiserver.openapi.json
Due: none

[Bug] Check judge tasks against the manifest before publishing
  tools/calibration/shadow-dataset/main.go
  tools/calibration/shadow-dataset/main_test.go
  website/docs/tutorials/plugin/shadow-dispatch.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/plugin/shadow-dispatch.md
Due: go-fmt, md-fmt

fix(dashboard): close MCP clients during shutdown
  dashboard/backend/router/mcp_routes_test.go
  dashboard/backend/router/router.go
Due: go-fmt

[Research] Record malformed Kai responses instead of stopping the run
  bench/jev/pilot-v0.1/kai/run_kai.py
  bench/jev/pilot-v0.1/tests/test_kai_runner.py
Due: none

docs(jev): record Kai failure-preservation review fix
  bench/jev/pilot-v0.1/PAIRED-REVIEW.md
  bench/jev/pilot-v0.1/kai/kai-run.md
Due: md-fmt

docs(decision2): sync sanitized program docs (COORDINATION)
  src/training/decision2/v2/program/COORDINATION.md
Due: md-fmt

fix(dashboard): include training contracts in backend image
  dashboard/backend/Dockerfile
Due: none

[Test] stores: temporary recorders for the keyword and selector binding fixtures
  src/semantic-router/pkg/classification/internal/bindingfixtures/record_test.go
  src/semantic-router/pkg/modelselection/internal/bindingfixtures/record_test.go
Due: go-fmt

[Feature] model-runtime: native ModernBERT encoder backbone
  src/model-runtime/tests/test_modernbert.py
  src/model-runtime/vllm_sr_runtime/engines/native/models/__init__.py
  src/model-runtime/vllm_sr_runtime/engines/native/models/modernbert.py
  src/model-runtime/vllm_sr_runtime/testing/fixtures.py
Due: none

[Feature] config: serve task bindings from model_runtime deployments
  src/semantic-router/pkg/config/model_binding_classifier.go
  src/semantic-router/pkg/config/model_binding_reranker.go
  src/semantic-router/pkg/config/model_deployments.go
  src/semantic-router/pkg/config/model_runtime_deployment.go
  src/semantic-router/pkg/config/model_runtime_deployment_test.go
  src/semantic-router/pkg/config/pii_window.go
  src/semantic-router/pkg/config/validator_decision_signal.go
  src/semantic-router/pkg/config/validator_decision_signal_test.go
  src/semantic-router/pkg/config/validator_prompt_guard.go
Due: go-fmt

[Feature] model-runtime: share System One parsing, the tokenizer and the candidate head across families
  src/model-runtime/tests/test_reference_parity.py
  src/model-runtime/tests/test_renderer.py
  src/model-runtime/vllm_sr_runtime/families/decision2/answers.py
  src/model-runtime/vllm_sr_runtime/families/decision2/family.py
  src/model-runtime/vllm_sr_runtime/families/decision2/package.py
  src/model-runtime/vllm_sr_runtime/families/decision2/renderer.py
  src/model-runtime/vllm_sr_runtime/heads/__init__.py
  src/model-runtime/vllm_sr_runtime/heads/candidate.py
  src/model-runtime/vllm_sr_runtime/systemone.py
  src/model-runtime/vllm_sr_runtime/testing/fixtures.py
  src/model-runtime/vllm_sr_runtime/text/__init__.py
  src/model-runtime/vllm_sr_runtime/text/tokenizer.py
Due: none

[Feature] model-runtime: per-family built-in tables and pinned downloads for packages without a manifest
  src/model-runtime/tests/test_registry.py
  src/model-runtime/vllm_sr_runtime/registry/builtin.py
  src/model-runtime/vllm_sr_runtime/registry/resolve.py
  src/model-runtime/vllm_sr_runtime/registry/tables/__init__.py
  src/model-runtime/vllm_sr_runtime/registry/tables/common.py
  src/model-runtime/vllm_sr_runtime/registry/tables/decision1.py
  src/model-runtime/vllm_sr_runtime/registry/tables/decision2.py
  src/model-runtime/vllm_sr_runtime/registry/tables/omni.py
  src/model-runtime/vllm_sr_runtime/registry/tables/vela1.py
  src/model-runtime/vllm_sr_runtime/registry/tables/vela2.py
Due: none

[Feature] model-runtime: serve several models per process, with the classify, embeddings, rerank and bundle surfaces
  src/model-runtime/tests/test_cli.py
  src/model-runtime/tests/test_placement.py
  src/model-runtime/tests/test_readiness.py
  src/model-runtime/tests/test_scheduler.py
  src/model-runtime/vllm_sr_runtime/api/app.py
  src/model-runtime/vllm_sr_runtime/api/openapi.yaml
  src/model-runtime/vllm_sr_runtime/cli.py
  src/model-runtime/vllm_sr_runtime/config.py
  src/model-runtime/vllm_sr_runtime/errors.py
  src/model-runtime/vllm_sr_runtime/placement.py
  src/model-runtime/vllm_sr_runtime/plugins/base.py
  src/model-runtime/vllm_sr_runtime/profiles/exact.py
  src/model-runtime/vllm_sr_runtime/runtime.py
  src/model-runtime/vllm_sr_runtime/scheduler/scheduler.py
  src/model-runtime/vllm_sr_runtime/supervision/metrics.py
  src/model-runtime/vllm_sr_runtime/supervision/readiness.py
Due: yaml-and-yml-fmt

[Feature] model-runtime: plugin slots for Decision 1.0, encoder task heads, Vela 2.0, Omni, ONNX Runtime, XPU and MPS
  src/model-runtime/pyproject.toml
  src/model-runtime/vllm_sr_runtime/accel/mps.py
  src/model-runtime/vllm_sr_runtime/accel/xpu.py
  src/model-runtime/vllm_sr_runtime/engines/native/engine.py
  src/model-runtime/vllm_sr_runtime/engines/onnxruntime/__init__.py
  src/model-runtime/vllm_sr_runtime/engines/onnxruntime/engine.py
  src/model-runtime/vllm_sr_runtime/families/decision1/__init__.py
  src/model-runtime/vllm_sr_runtime/families/decision1/family.py
  src/model-runtime/vllm_sr_runtime/families/decision2/family.py
  src/model-runtime/vllm_sr_runtime/families/multimodal_embedding/__init__.py
  src/model-runtime/vllm_sr_runtime/families/multimodal_embedding/family.py
  src/model-runtime/vllm_sr_runtime/families/task_heads/__init__.py
  src/model-runtime/vllm_sr_runtime/families/task_heads/family.py
  src/model-runtime/vllm_sr_runtime/families/vela2/__init__.py
  src/model-runtime/vllm_sr_runtime/families/vela2/family.py
  src/model-runtime/vllm_sr_runtime/plugins/registry.py
Due: none

[Feature] model-runtime: a documented third-party plugin example, tested on every surface
  src/model-runtime/README.md
  src/model-runtime/examples/third_party_plugin/README.md
  src/model-runtime/examples/third_party_plugin/pyproject.toml
  src/model-runtime/examples/third_party_plugin/vllm_sr_example/__init__.py
  src/model-runtime/examples/third_party_plugin/vllm_sr_example/engine.py
  src/model-runtime/examples/third_party_plugin/vllm_sr_example/family.py
  src/model-runtime/tests/test_third_party_plugin.py
Due: md-fmt

[Feature] modelservice: typed classify, embeddings and rerank calls and request bundles
  src/semantic-router/pkg/modelservice/api/openapi.gen.go
  src/semantic-router/pkg/modelservice/bundle.go
  src/semantic-router/pkg/modelservice/bundle_test.go
  src/semantic-router/pkg/modelservice/client.go
  src/semantic-router/pkg/modelservice/modelservice.go
  src/semantic-router/pkg/modelservice/surfaces.go
  src/semantic-router/pkg/modelservice/surfaces_test.go
Due: go-fmt

[Docs] model-runtime: shared building blocks, descriptors, job groups, the result cache and the performance plan
  src/model-runtime/docs/design.md
Due: md-fmt

[Feature] vllm-sr: config migrate moves the native providers onto the model runtime
  src/vllm-sr/cli/commands/config.py
  src/vllm-sr/cli/config_migration.py
  src/vllm-sr/cli/config_migration_legacy_models.py
  src/vllm-sr/cli/config_migration_model_runtime.py
  src/vllm-sr/cli/config_migration_notes.py
  src/vllm-sr/tests/test_config_migrate_model_runtime.py
Due: none

[Feature] cli: vllm-sr serve takes several models and a models file
  src/vllm-sr/cli/commands/runtime.py
  src/vllm-sr/cli/commands/runtime_engine.py
  src/vllm-sr/tests/test_cli_serve_engine_mode.py
  website/docs/api/cli.md
Due: md-fmt

[Harness] model-runtime: name the graph an encoder batch runs, and normalized exits
  src/model-runtime/vllm_sr_runtime/plugins/base.py
Due: none

[Feature] model-runtime: the onnxruntime engine
  src/model-runtime/tests/test_onnxruntime_engine.py
  src/model-runtime/vllm_sr_runtime/engines/onnxruntime/engine.py
  src/model-runtime/vllm_sr_runtime/engines/onnxruntime/graphs.py
  src/model-runtime/vllm_sr_runtime/engines/onnxruntime/providers.py
  src/model-runtime/vllm_sr_runtime/testing/onnx_graphs.py
Due: none

[Feature] model-runtime: the shared /v1/embeddings surface
  src/model-runtime/tests/test_embedding_surface.py
  src/model-runtime/vllm_sr_runtime/heads/embedding.py
Due: none

[Feature] model-runtime: pin the Vela 1.0 Omni source revisions
  src/model-runtime/vllm_sr_runtime/registry/tables/omni.py
Due: none

[Feature] model-runtime: fixture packages for every family from one command
  src/model-runtime/tests/test_cli.py
  src/model-runtime/vllm_sr_runtime/cli.py
  src/model-runtime/vllm_sr_runtime/testing/fixtures.py
Due: none

[Feature] model-runtime: the multimodal_embedding family for Vela 1.0 Omni
  src/model-runtime/tests/test_multimodal_embedding.py
  src/model-runtime/tests/test_omni_audio.py
  src/model-runtime/vllm_sr_runtime/families/multimodal_embedding/audio.py
  src/model-runtime/vllm_sr_runtime/families/multimodal_embedding/bundle.py
  src/model-runtime/vllm_sr_runtime/families/multimodal_embedding/family.py
  src/model-runtime/vllm_sr_runtime/families/multimodal_embedding/processors.py
  src/model-runtime/vllm_sr_runtime/testing/omni.py
Due: none

[Feature] model-runtime: Omni Mini's query and document instructions
  src/model-runtime/tests/test_multimodal_embedding.py
  src/model-runtime/vllm_sr_runtime/families/multimodal_embedding/family.py
  src/model-runtime/vllm_sr_runtime/families/multimodal_embedding/processors.py
Due: none

[Feature] model-runtime: embed parity driver, Omni against the bundle goldens
  src/model-runtime/tools/embed_parity.py
Due: none

[Build] scratch: router image graph (test only, not for integration)
  tools/docker/Dockerfile.extproc
Due: none

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
