Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

docs(decision2): sync sanitized program docs (COORDINATION, STATUS)
  src/training/decision2/v2/program/COORDINATION.md
  src/training/decision2/v2/program/STATUS.md
Due: md-fmt

dec M16: results (no model passes items 1-7; releases unchanged)
  src/training/decision2/v2/dec/records/dec-m16-results-2026-10-01.md
  src/training/decision2/v2/dec/records/dec-m16-state.md
Due: md-fmt

docs(decision2): sync sanitized program docs (COORDINATION)
  src/training/decision2/v2/program/COORDINATION.md
Due: md-fmt

[Feature] Parallelize independent model artifact fingerprinting (#4000)
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/modelruntime/native/runtime.go
  src/semantic-router/pkg/modelruntime/native/runtime_test.go
Due: go-fmt

[Bug] Exit non-zero when Ctrl-C interrupts a vllm-sr command (#4438)
  src/vllm-sr/cli/commands/common.py
  src/vllm-sr/tests/test_command_interrupts.py
Due: none

[Research] Make agent task benchmark protocol-correct (#4082)
  bench/README.md
  bench/agent_task_live_benchmark.py
  bench/test_agent_task_live_benchmark.py
Due: md-fmt

fix(memory): preserve unaffected facts during correction
  e2e/testing/memory_tests/test_pipeline.py
  src/semantic-router/pkg/extproc/req_filter_memory_supersede_milvus_test.go
  src/semantic-router/pkg/extproc/req_filter_memory_supersede_test.go
  src/semantic-router/pkg/memory/milvus_store_columns.go
  src/semantic-router/pkg/memory/milvus_store_parse.go
  src/semantic-router/pkg/memory/milvus_store_retrieve.go
  src/semantic-router/pkg/memory/milvus_store_test.go
  src/semantic-router/pkg/memory/reflection_supersede.go
  src/semantic-router/pkg/memory/reflection_supersede_test.go
  tools/test/services/provider-mocker/provider_mocker/memory.py
  tools/test/services/provider-mocker/tests/test_memory_content.py
Due: go-fmt

fix(decision2): 27B M6 contrast guard reads the finalists m4_contrast writes (score_levels); m6_report reads G6 B_dev as written
  src/training/decision2/v2/27b/m6/m6-contrast-guard.sh
  src/training/decision2/v2/27b/m6/m6_report.py
  src/training/decision2/v2/27b/tests/test_m6_tools.py
Due: none

dec M17: preregistration (4B IB swap at LH's token count, typed SD, MLX-DEV2 guard, both successor paths)
  src/training/decision2/v2/dec/records/dec-m17-prereg-2026-10-02.md
Due: md-fmt

feat(decision2): product-card banner with the gradient codename as its focal point (concept A)
  src/training/decision2/v2/release/README.md
  src/training/decision2/v2/release/card_assets.py
  src/training/decision2/v2/release/tests/test_card_banner.py
Due: md-fmt

feat(decision2): round-4 banner revision ops; Kai 0.6B spec and decision
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/Decision-2.0-Kai-0.6B.decision.card4.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/ops/card4.sh
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/ops/make_card4.py
  src/training/decision2/v2/release/specs/dev2-0p6b-card4.json
Due: none

docs(decision2): 27B M6 prereg amendment 6 (MLX-DEV2 guard for every M6 finalist, before any M6 MLX-DEV2 result)
  src/training/decision2/v2/27b/records/m6-prereg-2026-10-01.md
Due: md-fmt

dec M17: data builder (IB swap at LH's token count) and node-F training chains, with tests
  src/training/decision2/v2/dec/ops/m17/m17-arm.sh
  src/training/decision2/v2/dec/ops/m17/m17-chains.sh
  src/training/decision2/v2/dec/ops/m17/m17-launch.sh
  src/training/decision2/v2/dec/ops/m17/m17-prep.sh
  src/training/decision2/v2/dec/ops/m17/m17_data.py
  src/training/decision2/v2/dec/ops/m17/m17_gpuh.py
  src/training/decision2/v2/dec/tests/test_m17.py
Due: none

docs(decision2): 27B M6 poll 15 (worker 5): gap 20:10Z-01:32Z reconstructed; M6-IB Index-path candidate staged, parity and MLX-DEV2 running
  src/training/decision2/v2/27b/records/m6-state.md
Due: md-fmt

dec M17: data lock (byte-identical builds on nodes E and F)
  src/training/decision2/v2/dec/records/dec-m17-datalock-2026-10-02.md
Due: md-fmt

dec M17: state 02:00Z (data locked, training chains launched)
  src/training/decision2/v2/dec/records/dec-m17-state.md
Due: md-fmt

research(decision2): IX1 diagnostic entries for the 4B Index-first candidates (BF16 copies restaged on 13d42143)
  src/training/decision2/v2/eval/ix1/launch.sh
Due: none

docs(decision2): record the round-4 banner revision of Kai 0.6B
  src/training/decision2/v2/release/records/dev2-card-state.md
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02.md
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/card-assets.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/extra/card-http.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/extra/gate-evaluate.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/extra/hub-links.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/automap-card-pre.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/automap-hub-tf518.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/automap-hub.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/automap-post.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/automap-pre.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/build.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/card-post.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/card-pre.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/collect.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/download.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/ensure.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/gate.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/launcher.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/post.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/pre-a.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/pre-b.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/readback-collected.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/readback.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/repeat-post.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/repeat-pre.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/spec.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/tree.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/0p6b/release/receipts/upload.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/ops/verify_card4.py
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/verify/expected.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/verify/revisions.json
  src/training/decision2/v2/release/records/dev2-card4-2026-10-02/verify/verify-card4.json
Due: md-fmt

research(decision2): 4B Index-first Index-run driver (bf16 copy, restage, parity, run, score, paired bootstraps)
  src/training/decision2/v2/dec/ops/4bif/ix4b.sh
  src/training/decision2/v2/dec/ops/4bif/lanes.sh
Due: none

research(decision2): Lux-9B release record: the committed Hub-state check reproduces its receipt from the exact mirror 004d065fd
  src/training/decision2/v2/release/records/dev2-9b-ka13ib-2026-10-02.md
Due: md-fmt

dec 0.8B / 2B Index path: state 02:10Z (Index runs complete, bootstraps done, Index-first rule)
  src/training/decision2/v2/dec/records/dec-08bfast-indexpath-state.md
Due: md-fmt

research(decision2): Lux-9B release record: standing under the 09:55 Index-first rule; banner concept A pending (card round 4)
  src/training/decision2/v2/release/records/dev2-9b-ka13ib-2026-10-02.md
Due: md-fmt

docs(decision2): 27B M6 M6-IB MLX-DEV2 guard PASS and Index parity PASS (amendment 6 order: before its Index run)
  src/training/decision2/v2/27b/records/m6-state.md
Due: md-fmt

research(decision2): Index sweep prereg and tooling (IX1 entries for the 0.8B / 2B / 9B breadth candidates, node-side chain, paired_boot --exclude from the 9B track)
  src/training/decision2/v2/dec/ops/index-sweep/chain.sh
  src/training/decision2/v2/dec/ops/index-sweep/ix.sh
  src/training/decision2/v2/dec/records/dec-index-sweep-prereg-2026-10-02.md
  src/training/decision2/v2/eval/ix1/launch.sh
  src/training/decision2/v2/eval/ix1/paired_boot.py
Due: md-fmt

research(decision2): 4B Index-first driver builds the BF16 copy on the Index node (node B has no host2 image)
  src/training/decision2/v2/dec/ops/4bif/ix4b.sh
Due: none

eval(decision2): IX1 entries and driver for the Index runs of the 0.8B / 2B Index-path winners on their BF16 release weights
  src/training/decision2/v2/dec/records/dec-08bfast-indexpath-2026-10-02/ops/ix.sh
  src/training/decision2/v2/eval/ix1/launch.sh
Due: none

dec M17: post-training chain, MLX-DEV2 reads (restage onto LH's IX1 package), node-A scoring and rules
  src/training/decision2/v2/dec/ops/m17/m17-lines.sh
  src/training/decision2/v2/dec/ops/m17/m17-mlx2.sh
  src/training/decision2/v2/dec/ops/m17/m17-post.sh
  src/training/decision2/v2/dec/ops/m17/m17-score.sh
  src/training/decision2/v2/dec/ops/m17/m17-soup.sh
  src/training/decision2/v2/dec/ops/m17/m17_rules.py
  src/training/decision2/v2/dec/tests/test_m17.py
Due: none

research(decision2): 4B Index-first driver relays node D results to node C through node B
  src/training/decision2/v2/dec/ops/4bif/ix4b.sh
Due: none

fix(decision2): collection check is read-only and knows the Decision-2.0 names
  src/training/decision2/v2/release/records/dev2-rename-9b-27b-2026-09-29/ops/collection_order.py
Due: none

eval(decision2): Index-path release runs on node C GPU2-7 (GPU1 holds the 27B M6 Index run)
  src/training/decision2/v2/dec/records/dec-08bfast-indexpath-2026-10-02/ops/ix.sh
Due: none

fix(decision2): 27B M6 m6-index.sh run starts every node of a split plan (ssh no longer reads the plan's other lines)
  src/training/decision2/v2/27b/m6/m6-index.sh
  src/training/decision2/v2/27b/tests/test_m6_tools.py
Due: none

dec M17: formal collection and scoring (two bars), successor with the Index path's public items, anchors
  src/training/decision2/v2/dec/ops/m17/m17-anchor.sh
  src/training/decision2/v2/dec/ops/m17/m17-formal.sh
  src/training/decision2/v2/dec/ops/m17/m17-fscore.sh
  src/training/decision2/v2/dec/ops/m17/m17_successor.py
  src/training/decision2/v2/dec/tests/test_m17.py
Due: none

research(decision2): 4B Index-first driver: lanes on any free GPUs, void for refused parity attempts; contamination audit driver
  src/training/decision2/v2/dec/ops/4bif/audit4b.sh
  src/training/decision2/v2/dec/ops/4bif/ix4b.sh
Due: none

research(decision2): Index sweep state 02:25Z (nine candidates restaged on nodes A / C; chains running); driver panel / relay stages
  src/training/decision2/v2/dec/ops/index-sweep/ix.sh
  src/training/decision2/v2/dec/records/dec-index-sweep-state.md
Due: md-fmt

dec M17: state 02:30Z (all preflights PASS; post chains queued)
  src/training/decision2/v2/dec/records/dec-m17-state.md
Due: md-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
