Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

fix(context): use codespell-approved spelling in context range messages
  src/semantic-router/pkg/config/validator_context.go
  src/semantic-router/pkg/config/validator_context_test.go
  src/semantic-router/pkg/dsl/dsl_test.go
  src/semantic-router/pkg/dsl/validator.go
  website/docs/tutorials/signal/heuristic/context.md
Due: go-fmt, md-fmt

feat(context): support open-ended context signal bands and validate token ranges
  dashboard/frontend/src/lib/dslSchemas.ts
  dashboard/frontend/src/pages/ConfigPageSignalsSection.tsx
  dashboard/frontend/src/pages/configPageSignalFormFields.tsx
  dashboard/frontend/src/pages/configPageSupport.ts
  dashboard/frontend/src/types/config.ts
  deploy/helm/semantic-router/crds/vllm.ai_intelligentroutes.yaml
  deploy/kubernetes/crds/vllm.ai_intelligentroutes.yaml
  src/semantic-router/internal/nlgen/schema.go
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/types_route.go
  src/semantic-router/pkg/classification/context_classifier.go
  src/semantic-router/pkg/classification/context_classifier_test.go
  src/semantic-router/pkg/config/signal_config.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_context.go
  src/semantic-router/pkg/config/validator_context_test.go
  src/semantic-router/pkg/dsl/decompiler_convert_ast_roundtrip_test.go
  src/semantic-router/pkg/dsl/dsl_test.go
  src/semantic-router/pkg/dsl/validator.go
  src/semantic-router/pkg/dsl/validator_conflicts.go
  src/semantic-router/pkg/dsl/validator_signal_guard_semantics.go
  src/semantic-router/pkg/k8s/converter_test.go
  website/docs/tutorials/signal/heuristic/context.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

refactor(dsl): move context band conflict check into its own file
  src/semantic-router/pkg/dsl/validator_conflicts.go
  src/semantic-router/pkg/dsl/validator_context_bands.go
Due: go-fmt

refactor(context): split context band validation into smaller helpers
  src/semantic-router/pkg/config/validator_context.go
  src/semantic-router/pkg/config/validator_context_test.go
Due: go-fmt

fix(openvino): ship and honor the router backend
  src/semantic-router/pkg/modelruntime/router_runtime.go
  src/semantic-router/pkg/modelruntime/router_runtime_test.go
  tools/docker/Dockerfile.extproc
  tools/docker/entrypoint.sh
Due: go-fmt

Add route action for prompt attack decisions
  config/config.yaml
  src/semantic-router/pkg/config/decision_config.go
  src/semantic-router/pkg/config/validator_decision.go
  src/semantic-router/pkg/config/validator_decision_action_test.go
  src/semantic-router/pkg/extproc/req_filter_classification_runtime.go
  src/semantic-router/pkg/extproc/req_filter_model_eligibility.go
  src/semantic-router/pkg/extproc/req_filter_route_action_test.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_cli_models.py
Due: go-fmt, yaml-and-yml-fmt

Fail closed and round-trip the route action
  deploy/kubernetes/route-action/gwapi-resources.yaml
  deploy/kubernetes/route-action/jailbreak-mapping-configmap.yaml
  e2e/profiles/all/imports.go
  e2e/profiles/route-action/profile.go
  e2e/profiles/route-action/values.yaml
  e2e/testcases/route_action.go
  src/semantic-router/pkg/dsl/ast.go
  src/semantic-router/pkg/dsl/compiler_routes.go
  src/semantic-router/pkg/dsl/decompiler_convert.go
  src/semantic-router/pkg/dsl/decompiler_decisions.go
  src/semantic-router/pkg/dsl/parser.go
  src/semantic-router/pkg/dsl/route_action_test.go
  src/semantic-router/pkg/dsl/validator.go
  src/semantic-router/pkg/extproc/req_filter_classification_runtime.go
  src/semantic-router/pkg/extproc/req_filter_model_eligibility.go
  src/semantic-router/pkg/extproc/req_filter_route_action_test.go
  src/vllm-sr/tests/test_cli_models.py
Due: go-fmt, yaml-and-yml-fmt

Extract diagnostic helper to satisfy gocognit
  src/semantic-router/pkg/dsl/route_action_test.go
Due: go-fmt

Register route-action profile for affected E2E
  e2e/README.md
  tools/agent/test-domain-registry.yaml
Due: md-fmt, yaml-and-yml-fmt

Split action validators to satisfy file size limit
  src/semantic-router/pkg/config/validator_decision.go
  src/semantic-router/pkg/config/validator_decision_action.go
  src/semantic-router/pkg/dsl/validator.go
  src/semantic-router/pkg/dsl/validator_route_action.go
Due: go-fmt

[CI/Build] Preserve validation for every main push
  .github/workflows/main.yml
  tools/agent/docs/testing-strategy.md
  tools/ci/tests/test_main_workflow_contract.py
Due: md-fmt, yaml-and-yml-fmt

test(extproc): pin forced include_usage on replay-eligible streaming dispatch
  src/semantic-router/pkg/extproc/processor_protocol_matrix_test.go
Due: go-fmt

feat(modelruntime): add shared remote connector (#3328)
  src/semantic-router/pkg/classification/category_remote_backend_test.go
  src/semantic-router/pkg/classification/classifier_lifecycle.go
  src/semantic-router/pkg/classification/generic_classifier_sequence.go
  src/semantic-router/pkg/classification/generic_classifier_sequence_test.go
  src/semantic-router/pkg/classification/http_classifier.go
  src/semantic-router/pkg/classification/http_classifier_limits_test.go
  src/semantic-router/pkg/classification/http_classifier_test.go
  src/semantic-router/pkg/classification/remote_connector.go
  src/semantic-router/pkg/classification/remote_connector_lifecycle_test.go
  src/semantic-router/pkg/classification/remote_connector_test.go
  src/semantic-router/pkg/modelruntime/connector/connector.go
  src/semantic-router/pkg/modelruntime/connector/connector_test.go
  src/semantic-router/pkg/modelruntime/connector/errors.go
  src/semantic-router/pkg/modelruntime/connector/retry.go
Due: go-fmt

Collapse repeated version segment in ResolveChatPath (#3324)
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/helper.go
  website/docs/troubleshooting/common-errors.md
Due: go-fmt, md-fmt

[Bug] Align ONNX and Candle image preprocessing (#2166) (#3319)
  onnx-binding/Cargo.lock
  onnx-binding/Cargo.toml
  onnx-binding/semantic-router.go
  onnx-binding/src/ffi/multimodal.rs
  onnx-binding/test_data/image_resize_parity_reference.json
  tools/agent/docs/tech-debt/README.md
  tools/agent/docs/tech-debt/td-056-onnx-candle-image-resize-duplication.md
  tools/agent/repo-manifest.yaml
Due: go-fmt, md-fmt, yaml-and-yml-fmt, cargo-fmt, cargo-check

[Bug] fix BERT weight load transpose bug (#3318)
  candle-binding/src/model_architectures/lora/bert_lora.rs
  candle-binding/src/model_architectures/lora/bert_lora_test.rs
  candle-binding/src/model_architectures/traditional/bert.rs
  candle-binding/src/model_architectures/traditional/bert_test.rs
Due: cargo-fmt, cargo-check

fix(openvino): ship and honor the router backend (#3316)
  src/semantic-router/pkg/modelruntime/router_runtime.go
  src/semantic-router/pkg/modelruntime/router_runtime_test.go
  tools/docker/Dockerfile.extproc
  tools/docker/entrypoint.sh
Due: go-fmt

fix: update version labels to use arrow notation in contributor ranges
  website/i18n/zh-Hans/code.json
  website/scripts/generate-contributor-rank.mjs
  website/src/data/contributorRank.generated.ts
  website/src/pages/community/contributors.module.css
  website/src/pages/community/contributors.tsx
Due: none

[CI/Build] Fix workflow contract test imports
  tools/ci/tests/test_main_workflow_contract.py
Due: none

[Feature] Support open-ended context signal ranges and overflow-safe routing (#3299)
  dashboard/frontend/src/lib/dslSchemas.ts
  dashboard/frontend/src/pages/ConfigPageSignalsSection.tsx
  dashboard/frontend/src/pages/configPageSignalFormFields.tsx
  dashboard/frontend/src/pages/configPageSupport.ts
  dashboard/frontend/src/types/config.ts
  deploy/helm/semantic-router/crds/vllm.ai_intelligentroutes.yaml
  deploy/kubernetes/crds/vllm.ai_intelligentroutes.yaml
  src/semantic-router/internal/nlgen/schema.go
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/types_route.go
  src/semantic-router/pkg/classification/context_classifier.go
  src/semantic-router/pkg/classification/context_classifier_test.go
  src/semantic-router/pkg/config/signal_config.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_context.go
  src/semantic-router/pkg/config/validator_context_test.go
  src/semantic-router/pkg/dsl/decompiler_convert_ast_roundtrip_test.go
  src/semantic-router/pkg/dsl/dsl_test.go
  src/semantic-router/pkg/dsl/validator.go
  src/semantic-router/pkg/dsl/validator_conflicts.go
  src/semantic-router/pkg/dsl/validator_context_bands.go
  src/semantic-router/pkg/dsl/validator_signal_guard_semantics.go
  src/semantic-router/pkg/k8s/converter_test.go
  website/docs/tutorials/signal/heuristic/context.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

docs: add Chinese documentation entrypoint in README
  README.md
Due: md-fmt

To resolve e2e and multi modal problems
  dashboard/backend/Dockerfile
Due: none

To resolve e2e and multi modal problems
  tools/agent/repo-manifest.yaml
Due: yaml-and-yml-fmt

To resolve docker build problems
  candle-binding/semantic-router.go
Due: go-fmt

To resolve docker build and integration test problems
  candle-binding/semantic-router.go
  onnx-binding/semantic-router.go
  src/semantic-router/go.onnx.mod
  src/semantic-router/pkg/apiserver/route_embeddings.go
  src/semantic-router/pkg/apiserver/route_embeddings_test.go
Due: go-fmt

To resolve docker build and integration test problems
  onnx-binding/semantic-router.go
  src/semantic-router/go.mod
  src/semantic-router/pkg/apiserver/route_embeddings.go
Due: go-fmt

[Bug] Make local-up-router.sh work without Authorino (#3186)
  .github/workflows/test-and-build.yml
  bench/grounded_fusion/run_ab.sh
  deploy/local/envoy.yaml
  tools/ci/classify_pr_changes.py
  tools/ci/tests/test_pr_change_classifier.py
  tools/dev/local-up-router.sh
  tools/smoke/test-local-up-router.sh
Due: yaml-and-yml-fmt

To resolve issues with CI workflow Qwen3 issue
  e2e/profiles/no-model/values.yaml
Due: yaml-and-yml-fmt

To resolve issues with CI workflow no-model issue
  e2e/profiles/no-model/values.yaml
  src/semantic-router/pkg/config/maintained_asset_contract_test.go
Due: go-fmt, yaml-and-yml-fmt

[CI] Isolate Community Label Sync concurrency (#3259)
  .github/workflows/community-labels.yml
  tools/ci/tests/test_workflow_permissions.py
Due: yaml-and-yml-fmt

fix: update version labels to use arrow notation in contributor ranges (#3338)
  website/i18n/zh-Hans/code.json
  website/scripts/generate-contributor-rank.mjs
  website/src/data/contributorRank.generated.ts
  website/src/pages/community/contributors.module.css
  website/src/pages/community/contributors.tsx
Due: none

test: add local soak baseline harness
  .gitignore
  Makefile
  bench/README.md
  bench/openai_fault_proxy.py
  bench/test_openai_fault_proxy.py
  e2e/cmd/soak/main.go
  e2e/pkg/soak/benchfmt.go
  e2e/pkg/soak/prompts.go
  e2e/pkg/soak/requests.go
  e2e/pkg/soak/rounds.go
  e2e/pkg/soak/rounds_test.go
  e2e/pkg/soak/sampler.go
  e2e/pkg/soak/samples.go
  e2e/pkg/soak/samples_test.go
  tools/agent/test-domain-registry.yaml
  tools/make/soak.mk
  tools/soak/README.md
  tools/soak/run-soak-local.sh
Due: go-fmt, md-fmt, yaml-and-yml-fmt

test: quiet shellcheck 0.9.0 on the soak script
  tools/soak/run-soak-local.sh
Due: none

[Bug] Honor configured llm_timeout_seconds in VLLMClient HTTP timeout
  src/semantic-router/pkg/classification/preference_classifier_external.go
  src/semantic-router/pkg/classification/vllm_classifier.go
  src/semantic-router/pkg/classification/vllm_client.go
  src/semantic-router/pkg/classification/vllm_client_timeout_test.go
  src/semantic-router/pkg/config/model_config_limits.go
Due: go-fmt

[Bug] Rank the FP32 graph first on the CPU provider (#3303)
  onnx-binding/src/model_architectures/classification/mmbert_classifier.rs
  onnx-binding/src/model_architectures/embedding/mmbert_embedding.rs
Due: cargo-fmt, cargo-check

Resolve on_error in a single evaluation pass
  src/semantic-router/pkg/classification/classifier_signal_context.go
  src/semantic-router/pkg/classification/classifier_signal_decision.go
  src/semantic-router/pkg/classification/classifier_signal_decision_test.go
  src/semantic-router/pkg/classification/classifier_signal_results.go
  src/semantic-router/pkg/decision/engine.go
  src/semantic-router/pkg/decision/engine_unknown.go
  src/semantic-router/pkg/decision/engine_unknown_test.go
  src/semantic-router/pkg/decision/trace.go
  src/semantic-router/pkg/extproc/processor_decision_unresolved_replay_test.go
  src/semantic-router/pkg/extproc/recorder_route_diagnostics.go
  src/semantic-router/pkg/extproc/req_filter_classification_runtime.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/services/classification_signal_response.go
Due: go-fmt

[Feature] Split eval 503 rendering tests into own file
  src/vllm-sr/tests/test_eval_command.py
  src/vllm-sr/tests/test_eval_decision_error.py
Due: none

[Feature] Keep legacy 503 handling for clients
  src/vllm-sr/tests/test_eval_command.py
  tools/agent/scripts/tuning/client.py
  tools/agent/scripts/tuning/tests/test_client.py
Due: none

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
