Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

Remove unused live connector test lint suppression
  src/kv_connector/tests/vllm_live_connector_integration.py
Due: none

[Bug] Log config read errors instead of returning them to the caller
  dashboard/backend/handlers/config.go
Due: go-fmt

fix(memory): apply hybrid and adaptive ranking on Qdrant retrieve
  src/semantic-router/pkg/memory/milvus_store_retrieve.go
  src/semantic-router/pkg/memory/qdrant_retrieve_policy_test.go
  src/semantic-router/pkg/memory/qdrant_store.go
  src/semantic-router/pkg/memory/redis_cache_test.go
  src/semantic-router/pkg/memory/valkey_store.go
  src/semantic-router/pkg/memory/valkey_store_helpers.go
Due: go-fmt

feat(valkey): tag Valkey GLIDE client lib-name for adoption attribution
  src/semantic-router/go.mod
  src/semantic-router/go.sum
  src/semantic-router/pkg/cache/valkey_cache.go
  src/semantic-router/pkg/extproc/router_memory_valkey.go
  src/semantic-router/pkg/vectorstore/valkey_backend.go
Due: go-fmt

[Docs] model-runtime: Vela 2.0 ROCm records re-timed in the shipped image (release PyTorch), 10 interleaved rounds
  src/model-runtime/docs/records/vela2-performance.md
  src/model-runtime/docs/records/vela2-reduced.json
Due: md-fmt

[Docs] model-runtime: Vela 2.0 parity on the shipped ROCm image (release PyTorch): 360/360 against the release
  src/model-runtime/docs/records/vela2-parity.md
Due: md-fmt

[Docs] model-runtime: Vela 2.0 span-quality deltas of the official-wheel stack against the release
  src/model-runtime/docs/records/vela2-parity.md
Due: md-fmt

docs(decision2): sync sanitized program docs (COORDINATION)
  src/training/decision2/v2/program/COORDINATION.md
Due: md-fmt

[Feat] model-runtime: Vela-2.0-0.8B in the built-in table (pinned revision, file digests, its base's FLA kernel choices, CPU golden answers)
  src/model-runtime/vllm_sr_runtime/registry/golden_answers_vela2.json
  src/model-runtime/vllm_sr_runtime/registry/kernel_choices.json
  src/model-runtime/vllm_sr_runtime/registry/tables/vela2.py
Due: none

[Feature] model-runtime: pin Vela 2.0 0.3B / 4B / 9B to their current Hub heads (card-only commits; loaded files unchanged)
  src/model-runtime/vllm_sr_runtime/registry/golden_answers_vela2.json
  src/model-runtime/vllm_sr_runtime/registry/kernel_choices.json
  src/model-runtime/vllm_sr_runtime/registry/tables/vela2.py
Due: none

[Feature] Add a conversational Domain slice to the quality baseline
  src/training/model_eval/README.md
  src/training/model_eval/baseline_manifests.py
  src/training/model_eval/baseline_tasks.py
  src/training/model_eval/quality_baseline.py
  src/training/model_eval/tests/test_dataset_contracts.py
Due: md-fmt

[Feat] model-runtime: Vela-2.0-0.8B ROCm golden answers, recorded in the shipped ROCm image (a580be6b9)
  src/model-runtime/vllm_sr_runtime/registry/golden_answers_vela2.json
Due: none

[Test] model-runtime: Vela 2.0 registry tests for every size, and the decoder tests on a 0.8B-shaped backbone
  src/model-runtime/tests/test_vela2_family.py
  src/model-runtime/tests/test_vela2_registry.py
  src/model-runtime/vllm_sr_runtime/testing/fixtures.py
  src/model-runtime/vllm_sr_runtime/testing/vela2.py
Due: none

[Docs] model-runtime: Vela-2.0-0.8B in the model guide, the design and the vela2 docstrings
  src/model-runtime/docs/design.md
  src/model-runtime/tests/test_vela2_heads.py
  src/model-runtime/tests/test_vela2_layout.py
  src/model-runtime/tools/vela2_bench.py
  src/model-runtime/tools/vela2_parity.py
  src/model-runtime/vllm_sr_runtime/families/vela2/decoder_layout.py
  src/model-runtime/vllm_sr_runtime/families/vela2/dispatch.py
  src/model-runtime/vllm_sr_runtime/families/vela2/family.py
  src/model-runtime/vllm_sr_runtime/families/vela2/members.py
  src/model-runtime/vllm_sr_runtime/families/vela2/package.py
  src/model-runtime/vllm_sr_runtime/heads/span.py
  website/docs/model-runtime/choose-a-model.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/model-runtime/choose-a-model.md
Due: md-fmt

[Feature] Sort train.py imports as CI resolves them
  src/training/model_selection/ml_model_selection/train.py
Due: none

[Feature] Give the slice test a numpy stub with ndarray
  src/training/model_eval/tests/test_dataset_contracts.py
Due: none

[Docs] model-runtime: decision1 performance records the CPU A/B at ten rounds and the ROCm A/B on the official-wheel stack
  src/model-runtime/docs/records/decision1-performance.json
  src/model-runtime/docs/records/decision1-performance.md
Due: md-fmt

[Docs] model-runtime: Decision 1.0 parity on the router's ROCm image is byte-identical to the release
  src/model-runtime/docs/records/decision1-parity.json
  src/model-runtime/docs/records/decision1-parity.md
Due: md-fmt

[Docs] model-runtime records: embed ROCm rows in the shipped image, six interleaved rounds with intervals
  src/model-runtime/docs/records/embed-performance.md
Due: md-fmt

[Test] model-runtime: the legacy A/B tool passes ruff
  src/model-runtime/tools/embed_legacy.py
Due: none

[Docs] model-runtime: embed records at e0e0e2850, ten Omni rounds, and goldens on the router's ROCm image
  src/model-runtime/docs/records/embed-parity.md
  src/model-runtime/docs/records/embed-performance.md
Due: md-fmt

[Docs] model-runtime records: Vela-2.0-0.8B parity (byte-identical to its engine on CPU and ROCm, and to the release image) and its ROCm timing in the shipped image
  src/model-runtime/docs/records/rocm-router-image.md
  src/model-runtime/docs/records/vela2-parity.md
  src/model-runtime/docs/records/vela2-performance.md
  src/model-runtime/docs/records/vela2-reduced.json
Due: md-fmt

[Docs] model-runtime: embed's open Nano text cell names what each candidate costs
  src/model-runtime/docs/records/embed-performance.md
Due: md-fmt

fix(selection): seed Elo category ratings without overwriting restored state
  src/semantic-router/pkg/selection/elo.go
  src/semantic-router/pkg/selection/elo_category_seed_test.go
Due: go-fmt

[Test] model-runtime: the Vela 2.0 registry and family tests pass the repository's ruff rules (pairwise; no shadowed parameter)
  src/model-runtime/tests/test_vela2_family.py
  src/model-runtime/tests/test_vela2_registry.py
Due: none

[Feature] model-runtime: /health/live gets its own Liveness schema, and Health keeps only the readiness states
  e2e/pkg/modelruntime/client.go
  e2e/pkg/modelruntime/types.go
  e2e/testcases/model_runtime_lifecycle.go
  src/model-runtime/docs/design.md
  src/model-runtime/tests/test_api_contract.py
  src/model-runtime/vllm_sr_runtime/api/app.py
  src/model-runtime/vllm_sr_runtime/api/openapi.yaml
  src/semantic-router/pkg/modelservice/api/openapi.gen.go
  website/docs/model-runtime/reference.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Docs] model-runtime records: Vela 1.0 ROCm A/B re-timed in the shipped image, five interleaved rounds
  src/model-runtime/docs/records/vela1-performance.json
  src/model-runtime/docs/records/vela1-performance.md
Due: md-fmt
