Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

send a descriptive User-Agent when fetching image URLs in the Go binding
  candle-binding/semantic-router.go
Due: go-fmt

repair Wikimedia fixtures so multimodal tests fail only for real reasons
  candle-binding/examples/test_multimodal_embed.rs
  candle-binding/semantic-router_test.go
  candle-binding/src/model_architectures/embedding/multimodal_embedding.rs
Due: go-fmt, cargo-fmt, cargo-check

add hermetic multimodal tests to the minimal binding lane and a manual receipt target
  tools/make/rust.mk
Due: none

export MULTIMODAL_MODEL_PATH in the Test And Build job
  .github/workflows/test-and-build.yml
Due: yaml-and-yml-fmt

document the multimodal model-gated test lanes
  docs/agent/testing-strategy.md
Due: md-fmt

Add backend telemetry contract
  config/README.md
  config/config.yaml
  dashboard/frontend/src/pages/ConfigPageModelsSection.tsx
  dashboard/frontend/src/pages/configPageCanonicalization.ts
  dashboard/frontend/src/pages/configPageSupport.ts
  dashboard/frontend/src/types/config.ts
  src/semantic-router/pkg/backend/policy.go
  src/semantic-router/pkg/backend/policy_test.go
  src/semantic-router/pkg/backend/registry.go
  src/semantic-router/pkg/backend/registry_test.go
  src/semantic-router/pkg/backend/store.go
  src/semantic-router/pkg/backend/store_test.go
  src/semantic-router/pkg/backend/types.go
  src/semantic-router/pkg/config/canonical_config.go
  src/semantic-router/pkg/config/canonical_export.go
  src/semantic-router/pkg/config/canonical_loader_test.go
  src/semantic-router/pkg/config/canonical_providers.go
  src/semantic-router/pkg/config/model_config_types.go
  src/vllm-sr/cli/config_migration.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_config_file_loaders.py
  src/vllm-sr/tests/test_config_migrate.py
  website/docs/installation/configuration.md
  website/docs/proposals/unified-config-contract-v0-3.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/configuration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/unified-config-contract-v0-3.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.3/installation/configuration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.3/proposals/unified-config-contract-v0-3.md
  website/versioned_docs/version-v0.3/installation/configuration.md
  website/versioned_docs/version-v0.3/proposals/unified-config-contract-v0-3.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat: refactor contrastive jailbreak embedding handling with structured tasks and results
  src/semantic-router/pkg/classification/contrastive_jailbreak_classifier.go
Due: go-fmt

To resolve issues with embeddings
  candle-binding/semantic-router.go
  candle-binding/semantic-router_mock.go
  src/semantic-router/pkg/apiserver/route_embeddings.go
  src/semantic-router/pkg/apiserver/route_embeddings_test.go
Due: go-fmt

To resolve issues with linting
  onnx-binding/semantic-router.go
  src/semantic-router/go.onnx.sum
  src/semantic-router/pkg/apiserver/route_embeddings_test.go
Due: go-fmt

To resolve issues with onnx
  src/semantic-router/go.onnx.sum
Due: none

bench(router-learning): add threshold profiles + pass/fail gate for the architecture eval
  .github/workflows/router-learning-eval.yml
  bench/agentic_routing_experiment.py
  bench/profiles/router_learning/README.md
  bench/profiles/router_learning/pr.json
  bench/profiles/router_learning/release.json
  bench/test_agentic_routing_experiment.py
  tools/make/build-run-test.mk
Due: md-fmt, yaml-and-yml-fmt

Add Envoy backend selection contract
  config/README.md
  deploy/operator/controllers/semanticrouter_envoy.go
  src/semantic-router/pkg/extproc/backend_feedback.go
  src/semantic-router/pkg/extproc/backend_selection.go
  src/semantic-router/pkg/extproc/backend_selection_test.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/processor_req_body_anthropic.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/extproc/processor_res_header_mutation.go
  src/semantic-router/pkg/extproc/processor_res_header_mutation_test.go
  src/semantic-router/pkg/extproc/recorder_route_diagnostics.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/headers/headers_test.go
  src/semantic-router/pkg/routerreplay/recorder.go
  src/semantic-router/pkg/routerreplay/store/memory.go
  src/semantic-router/pkg/routerreplay/store/milvus.go
  src/semantic-router/pkg/routerreplay/store/postgres.go
  src/semantic-router/pkg/routerreplay/store/qdrant.go
  src/semantic-router/pkg/routerreplay/store/record_projection_trace_test.go
  src/semantic-router/pkg/routerreplay/store/redis.go
  src/semantic-router/pkg/routerreplay/store/store.go
  src/vllm-sr/cli/config_generator.py
  src/vllm-sr/cli/templates/envoy.template.yaml
  src/vllm-sr/tests/test_config_generator.py
  website/docs/troubleshooting/vsr-headers.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(embedding): derive mmBERT early-exit layers from model manifest
  onnx-binding/src/model_architectures/embedding/mmbert_embedding.rs
  src/semantic-router/pkg/apiserver/route_embeddings.go
  src/semantic-router/pkg/apiserver/route_embeddings_test.go
  src/semantic-router/pkg/config/embedding_layers.go
  src/semantic-router/pkg/config/embedding_layers_test.go
Due: go-fmt, cargo-fmt, cargo-check

Fix Envoy upstream metadata formatter
  src/vllm-sr/cli/templates/envoy.template.yaml
  src/vllm-sr/tests/test_config_generator.py
Due: yaml-and-yml-fmt

[Bench] add ml-binding to LD_LIBRARY_PATH in all performance targets
  tools/make/performance.mk
Due: none

[CI/Build] fail performance-test on benchmark failure and report honest per-suite results
  .github/workflows/performance-test.yml
Due: yaml-and-yml-fmt

[CI/Build] build and publish the vllm-sr-cuda image
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
Due: yaml-and-yml-fmt

[CI/Build] wire VLLM_SR_PLATFORM=nvidia to the CUDA image and Dockerfile
  tools/make/docker.mk
Due: none

Fix auto-discovery for mmbert32k merged models (#2302)
  candle-binding/src/classifiers/lora/pii_lora.rs
  perf/benchmarks/classification_bench_test.go
  src/semantic-router/pkg/classification/model_discovery.go
  src/semantic-router/pkg/classification/model_discovery_scan.go
Due: go-fmt, cargo-fmt, cargo-check

Add MIGraphX mmBERT provider validation
  onnx-binding/Cargo.toml
  onnx-binding/Dockerfile.migraphx-bench
  onnx-binding/examples/benchmark_mmbert_ort_providers.rs
  onnx-binding/scripts/run_mmbert_migraphx_bench.sh
  onnx-binding/src/core/mod.rs
  onnx-binding/src/core/ort_migraphx.rs
  onnx-binding/src/model_architectures/classification/mmbert_classifier.rs
  onnx-binding/src/model_architectures/embedding/mmbert_embedding.rs
  onnx-binding/src/model_architectures/embedding/multimodal_embedding.rs
Due: cargo-fmt, cargo-check

[Router] Extend external embedding provider across text embedding consumers (#2390)
  src/semantic-router/pkg/classification/category_kb_classifier.go
  src/semantic-router/pkg/classification/category_kb_embeddings.go
  src/semantic-router/pkg/classification/classifier_construction.go
  src/semantic-router/pkg/classification/classifier_option_rules.go
  src/semantic-router/pkg/classification/classifier_preference_lifecycle.go
  src/semantic-router/pkg/classification/complexity_candidate_embeddings.go
  src/semantic-router/pkg/classification/complexity_classifier.go
  src/semantic-router/pkg/classification/complexity_query_embeddings.go
  src/semantic-router/pkg/classification/contrastive_jailbreak_classifier.go
  src/semantic-router/pkg/classification/contrastive_preference_classifier.go
  src/semantic-router/pkg/classification/contrastive_preference_embeddings.go
  src/semantic-router/pkg/classification/contrastive_preference_scoring.go
  src/semantic-router/pkg/classification/preference_classifier.go
  src/semantic-router/pkg/classification/preference_classifier_contrastive.go
  src/semantic-router/pkg/classification/reask_classifier.go
  src/semantic-router/pkg/classification/remote_provider_consumers_test.go
  src/semantic-router/pkg/extproc/req_tool_selection_filter_embed.go
  src/semantic-router/pkg/extproc/req_tool_selection_filter_embed_test.go
  src/semantic-router/pkg/extproc/req_tool_selection_plugin.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_components.go
  src/semantic-router/pkg/extproc/tool_db_cache.go
  src/semantic-router/pkg/tools/tools.go
  src/semantic-router/pkg/tools/tools_remote_provider_test.go
Due: go-fmt

[Community] track committer PR review and merge metrics
  website/i18n/zh-Hans/code.json
  website/package.json
  website/scripts/generate-committer-review-stats.mjs
  website/src/data/committerReviewStats.generated.ts
  website/src/pages/community/contributors.tsx
Due: none

[Bindings] close MIGraphX provider strategy loop
  deploy/amd/README.md
  onnx-binding/Cargo.toml
  onnx-binding/Dockerfile.migraphx-bench
  onnx-binding/Dockerfile.rocm
  onnx-binding/MIGRAPHX_PROVIDER_STRATEGY.md
  onnx-binding/README.md
  onnx-binding/examples/benchmark_mmbert_ort_providers.rs
  onnx-binding/scripts/build_rocm.sh
  onnx-binding/scripts/run_mmbert_migraphx_bench.sh
  onnx-binding/src/core/ort_migraphx.rs
  onnx-binding/src/model_architectures/classification/mmbert_classifier.rs
  onnx-binding/src/model_architectures/embedding/mmbert_embedding.rs
  onnx-binding/src/model_architectures/embedding/multimodal_embedding.rs
  src/vllm-sr/Dockerfile.rocm
  tools/docker/Dockerfile.extproc-rocm
Due: md-fmt, cargo-fmt, cargo-check

[Inference] Add TensorRT-LLM / Triton backend telemetry adapter
  config/config.yaml
  dashboard/frontend/src/types/config.ts
  src/semantic-router/cmd/backend_telemetry.go
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/backend/registry.go
  src/semantic-router/pkg/backend/runner.go
  src/semantic-router/pkg/backend/runner_test.go
  src/semantic-router/pkg/backend/store.go
  src/semantic-router/pkg/backend/tensorrtllm/adapter.go
  src/semantic-router/pkg/backend/tensorrtllm/adapter_test.go
  src/semantic-router/pkg/backend/tensorrtllm/mapping.go
  src/semantic-router/pkg/backend/tensorrtllm/mapping_test.go
  src/semantic-router/pkg/backend/tensorrtllm/targets.go
  src/semantic-router/pkg/backend/tensorrtllm/targets_test.go
  src/semantic-router/pkg/config/canonical_config.go
  src/semantic-router/pkg/config/canonical_export.go
  src/semantic-router/pkg/config/canonical_providers.go
  src/semantic-router/pkg/config/model_config_types.go
  src/semantic-router/pkg/config/observability_config.go
  src/vllm-sr/cli/config_migration.py
  src/vllm-sr/cli/models.py
  website/docs/proposals/tensorrt-llm-backend-adapter.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat(embedding): integrate embedding provider status into router runtime and startup status
  dashboard/backend/handlers/status.go
  dashboard/backend/handlers/status_runtime.go
  dashboard/backend/handlers/status_runtime_test.go
  dashboard/frontend/src/utils/routerRuntime.ts
  src/semantic-router/cmd/main.go
  src/semantic-router/cmd/main_test.go
  src/semantic-router/cmd/runtime_bootstrap.go
  src/semantic-router/pkg/apiserver/route_config_deploy_test.go
  src/semantic-router/pkg/apiserver/route_startup_status_test.go
  src/semantic-router/pkg/config/validator_embedding.go
  src/semantic-router/pkg/config/validator_embedding_test.go
  src/semantic-router/pkg/modelruntime/router_runtime.go
  src/semantic-router/pkg/modelruntime/router_runtime_test.go
  src/semantic-router/pkg/startupstatus/status.go
Due: go-fmt

[Community] fold review metrics into contributor leaderboard Remove the separate Committer Activity section. Add a Reviews column and Sort by (Commits | Reviews) to the main contributor leaderboard.
  website/i18n/zh-Hans/code.json
  website/src/pages/community/contributors.module.css
  website/src/pages/community/contributors.tsx
Due: none

[Inference] go mod tidy: promote prometheus/common to direct dep
  src/semantic-router/go.mod
Due: none

[Docs] Fix Netlify build: register TRT-LLM proposal in sidebar, locale-safe link
  website/docs/proposals/tensorrt-llm-backend-adapter.md
  website/sidebars.ts
Due: md-fmt

[Bindings] harden MIGraphX bench image
  onnx-binding/Dockerfile.migraphx-bench
  onnx-binding/Dockerfile.migraphx-bench.dockerignore
Due: none

[CI/Build] Build and publish the vllm-sr-cuda image (#2405)
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
  tools/make/docker.mk
Due: yaml-and-yml-fmt

[Bindings] prefer SDPA classifier artifact on AMD
  onnx-binding/MIGRAPHX_PROVIDER_STRATEGY.md
  onnx-binding/README.md
  onnx-binding/src/model_architectures/classification/mmbert_classifier.rs
Due: md-fmt, cargo-fmt, cargo-check

test(bindings): run the SigLIP load-contract tests in the CI-safe Rust lane
  tools/make/rust.mk
Due: none

send a descriptive User-Agent when fetching image URLs in the onnx binding
  onnx-binding/semantic-router.go
Due: go-fmt

test(bindings): verify the model works in the input-validation test and scope the docs claim
  candle-binding/semantic-router_test.go
  docs/agent/testing-strategy.md
Due: go-fmt, md-fmt

split the known-red Rust baseline out of the multimodal receipt target
  docs/agent/testing-strategy.md
  tools/make/rust.mk
Due: md-fmt

[Bindings] close MIGraphX classifier matrix gaps
  onnx-binding/MIGRAPHX_PROVIDER_STRATEGY.md
  onnx-binding/README.md
  onnx-binding/examples/benchmark_mmbert_ort_providers.rs
  onnx-binding/src/model_architectures/classification/mmbert_classifier.rs
Due: md-fmt, cargo-fmt, cargo-check

[CI/Build] add scheduled maintainer board workflow
  .github/workflows/maintainer-board.yml
  docs/agent/maintainer-ops.md
  tools/agent/scripts/run_maintainer_board_ci.sh
  tools/agent/skills/maintainer/release-ops/SKILL.md
Due: md-fmt, yaml-and-yml-fmt
