Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

test the classification and fix the remaining issues
  config/config.onnx-classifiers-test.yaml
  onnx-binding/semantic-router.go
  onnx-binding/src/model_architectures/classification/mmbert_classifier.rs
  scripts/export_classifiers_to_onnx.py
  tools/make/build-run-test.mk
  tools/make/models.mk
Due: go-fmt, yaml-and-yml-fmt, cargo-fmt, cargo-check

add signal and direct api tests
  config/config.onnx-classifiers-test.yaml
  scripts/test_direct_api.sh
  scripts/test_signal_api.sh
Due: yaml-and-yml-fmt

lint
  onnx-binding/README.md
Due: md-fmt

use candle-binding in docker on ci
  .github/workflows/docker-publish.yml
  tools/docker/Dockerfile.extproc
Due: yaml-and-yml-fmt

fix docker build on ci
  .github/workflows/docker-publish.yml
  tools/docker/Dockerfile.extproc
Due: yaml-and-yml-fmt

defaul to candle binding in make
  src/semantic-router/go.mod
  src/semantic-router/pkg/classification/unified_classifier.go
  tools/docker/Dockerfile.extproc
  tools/make/build-run-test.mk
Due: go-fmt

use go build tag to choose between candle and onnx
  src/semantic-router/go.onnx.mod
  src/semantic-router/go.onnx.sum
  src/semantic-router/pkg/classification/unified_classifier.go
  src/semantic-router/pkg/classification/unified_classifier_cgo_candle.go
  src/semantic-router/pkg/classification/unified_classifier_cgo_onnx.go
  tools/make/build-run-test.mk
Due: go-fmt

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Due: none

fix(models): download mmBERT embedding to canonical registry path
  tools/make/models.mk
Due: none

feat: sidebar
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
Due: none

toggle to fold sidebar
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
Due: none

initial commit
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/hooks/index.ts
  dashboard/frontend/src/hooks/useConversationStorage.ts
Due: none

scrollable
  dashboard/frontend/src/components/ChatComponent.module.css
Due: none

Chore: Adjust The History Sidebar for Mobile
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
Due: none

Chore: Adjust The History Sidebar for Mobile
  dashboard/frontend/src/components/ChatComponent.module.css
Due: none

feat(selection): implement RL-driven model selection with paper algorithms
  e2e/testcases/rl_driven_selection.go
  e2e/testcases/testdata/rl_driven_selection_cases.json
  examples/rl_driven_selection.yaml
  src/semantic-router/pkg/apiserver/route_feedback.go
  src/semantic-router/pkg/apiserver/server.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/looper/looper.go
  src/semantic-router/pkg/looper/rl_driven.go
  src/semantic-router/pkg/looper/rl_driven_test.go
  src/semantic-router/pkg/selection/automix.go
  src/semantic-router/pkg/selection/factory.go
  src/semantic-router/pkg/selection/gmtrouter.go
  src/semantic-router/pkg/selection/gmtrouter_test.go
  src/semantic-router/pkg/selection/metrics.go
  src/semantic-router/pkg/selection/paper_benchmark_test.go
  src/semantic-router/pkg/selection/pomdp_solver.go
  src/semantic-router/pkg/selection/rl_driven.go
  src/semantic-router/pkg/selection/rl_driven_test.go
  src/semantic-router/pkg/selection/router_r1_client.go
  src/semantic-router/pkg/selection/selector.go
  src/training/rl_model_selection/README.md
  src/training/rl_model_selection/automix_verifier.py
  src/training/rl_model_selection/configs/gmtrouter_config.yaml
  src/training/rl_model_selection/configs/router_r1_config.yaml
  src/training/rl_model_selection/data/eval_routing.json
  src/training/rl_model_selection/data/interactions.json
  src/training/rl_model_selection/data/sample_routing_data.json
  src/training/rl_model_selection/data/train_routing.json
  src/training/rl_model_selection/requirements.txt
  src/training/rl_model_selection/router_r1_server.py
  src/training/rl_model_selection/scripts/train_gmtrouter_gpu.sh
  src/training/rl_model_selection/scripts/train_router_r1_gpu.sh
  src/training/rl_model_selection/train_gmtrouter.py
  src/training/rl_model_selection/train_router_r1.py
Due: go-fmt, md-fmt, yaml-and-yml-fmt

implement memory decision filter with tests
  src/semantic-router/pkg/extproc/req_filter_memory.go
  src/semantic-router/pkg/extproc/req_filter_memory_test.go
Due: go-fmt

Adding POC doc
  docs/agentic-memory-poc.md
Due: md-fmt

memory injection implementation
  src/semantic-router/pkg/extproc/req_filter_memory.go
  src/semantic-router/pkg/extproc/req_filter_memory_test.go
  src/semantic-router/pkg/memory/types.go
Due: go-fmt

implement rewriting query
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/req_filter_memory.go
  src/semantic-router/pkg/extproc/req_filter_memory_test.go
Due: go-fmt

feat(memory): memory retrieval using milvus with threshold filter
  src/semantic-router/pkg/memory/milvus_store.go
  src/semantic-router/pkg/memory/milvus_store_test.go
  src/semantic-router/pkg/memory/types.go
Due: go-fmt

feat(memory): memory retrieval using milvus with threshold filter
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/memory/milvus_store.go
  src/semantic-router/pkg/memory/milvus_store_test.go
  src/semantic-router/pkg/memory/types.go
Due: go-fmt

implement fact extraction
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/memory/extractor.go
  src/semantic-router/pkg/memory/extractor_test.go
  src/semantic-router/pkg/memory/types.go
Due: go-fmt

fix: run go mod tidy to fix dependency ordering
  src/semantic-router/go.mod
Due: none

feat(memory): memory retrieval using milvus with threshold filter
  src/semantic-router/pkg/memory/milvus_store.go
Due: go-fmt

fix: documentation and code fixes
  docs/agentic-memory-poc.md
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/memory/inmemory_store.go
Due: go-fmt, md-fmt

feat: Implement memory retrieval integration
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/router.go
Due: go-fmt

fix: make tests handle missing model files gracefully
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/hallucination_test.go
  src/semantic-router/pkg/extproc/req_filter_tools_test.go
Due: go-fmt

implement milvus write operations
  src/semantic-router/pkg/extproc/req_filter_memory.go
  src/semantic-router/pkg/memory/milvus_store.go
  src/semantic-router/pkg/memory/milvus_store_test.go
Due: go-fmt

chore: merge changes
  src/semantic-router/pkg/config/config.go
Due: go-fmt

Doc and cod fixes
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/hallucination_test.go
  src/semantic-router/pkg/extproc/req_filter_tools_test.go
Due: go-fmt

fix(config): move Extraction field from MemoryEmbeddingConfig to MemoryConfig
  src/semantic-router/pkg/config/config.go
Due: go-fmt

feat(memory): implement deduplication logic
  src/semantic-router/pkg/memory/deduplication.go
  src/semantic-router/pkg/memory/deduplication_test.go
  src/semantic-router/pkg/memory/extractor.go
  src/semantic-router/pkg/memory/inmemory_store.go
  src/semantic-router/pkg/memory/store.go
Due: go-fmt

Doc and cod fixes
  src/semantic-router/pkg/memory/inmemory_store.go
Due: go-fmt

feat(threshold_tests): threshold test coverage
  src/semantic-router/pkg/memory/inmemory_store_test.go
  src/semantic-router/pkg/memory/milvus_store_test.go
Due: go-fmt

feat(memory): implement ConversationID auto-generation and async memory extraction
  src/semantic-router/pkg/extproc/memory_helpers.go
  src/semantic-router/pkg/extproc/memory_helpers_test.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/req_filter_response_api.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/responseapi/id.go
  src/semantic-router/pkg/responseapi/types.go
Due: go-fmt

feat(threshold_tests): threshold test coverage
  src/semantic-router/pkg/memory/deduplication_test.go
Due: go-fmt

Add agentic Memory support to vllm-sr cli
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/memory_helpers.go
  src/semantic-router/pkg/extproc/memory_helpers_test.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/req_filter_memory.go
  src/semantic-router/pkg/extproc/req_filter_response_api.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/memory/extractor.go
  src/semantic-router/pkg/memory/milvus_store.go
  src/semantic-router/pkg/memory/types.go
  src/semantic-router/pkg/responseapi/types.go
  src/vllm-sr/cli/merger.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/templates/router-defaults.yaml
  tools/make/milvus.mk
Due: go-fmt, yaml-and-yml-fmt
