Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

disable cuda build on ci
  .github/workflows/pre-commit.yml
  .github/workflows/test-and-build.yml
  tools/make/build-run-test.mk
  tools/make/rust.mk
Due: yaml-and-yml-fmt

fix precommit
  .pre-commit-config.yaml
  src/semantic-router/pkg/cache/hybrid_cache_test.go
Due: go-fmt, yaml-and-yml-fmt

precommit fix
  src/semantic-router/pkg/cache/comprehensive_benchmark_test.go
  src/semantic-router/pkg/cache/hybrid_cache_test.go
  src/semantic-router/pkg/cache/large_scale_benchmark_test.go
  src/semantic-router/pkg/cache/milvus_cache.go
  website/docs/tutorials/semantic-cache/hybrid-cache.md
Due: go-fmt, md-fmt

review feedback
  src/semantic-router/pkg/cache/comprehensive_benchmark_test.go
  src/semantic-router/pkg/cache/hybrid_cache.go
  src/semantic-router/pkg/cache/hybrid_vs_milvus_benchmark_test.go
Due: go-fmt

rebuild index upon restart
  src/semantic-router/pkg/cache/hybrid_cache.go
  src/semantic-router/pkg/cache/milvus_cache.go
  website/docs/tutorials/semantic-cache/hybrid-cache.md
  website/docs/tutorials/semantic-cache/in-memory-cache.md
Due: go-fmt, md-fmt

review feedback
  src/semantic-router/pkg/cache/hybrid_cache.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/cache/simd_benchmark_test.go
Due: go-fmt

review feedback
  src/semantic-router/pkg/cache/hybrid_cache.go
Due: go-fmt

review feedback
  src/semantic-router/pkg/cache/comprehensive_benchmark_test.go
Due: go-fmt

fix: Fix duplicate UNIFIED_CLASSIFIER definition and optimize lock contention
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
Due: cargo-fmt, cargo-check

Fix: The caller information points to the wrapper function instead of the actual call location
  src/semantic-router/pkg/observability/logging.go
Due: go-fmt

fix: Fix duplicate UNIFIED_CLASSIFIER definition and optimize lock contention (#516)
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
Due: cargo-fmt, cargo-check

feat:unit tests for candle refactoring (#296)
  candle-binding/Cargo.toml
  candle-binding/src/classifiers/lora/intent_lora_test.rs
  candle-binding/src/classifiers/lora/mod.rs
  candle-binding/src/classifiers/lora/pii_lora_test.rs
  candle-binding/src/classifiers/lora/security_lora_test.rs
  candle-binding/src/classifiers/lora/token_lora_test.rs
  candle-binding/src/classifiers/mod.rs
  candle-binding/src/classifiers/traditional/batch_processor_test.rs
  candle-binding/src/classifiers/traditional/mod.rs
  candle-binding/src/classifiers/traditional/modernbert_classifier_test.rs
  candle-binding/src/classifiers/unified_test.rs
  candle-binding/src/core/config_loader_test.rs
  candle-binding/src/core/mod.rs
  candle-binding/src/core/unified_error_test.rs
  candle-binding/src/ffi/classify_test.rs
  candle-binding/src/ffi/memory_safety_test.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/lib.rs
  candle-binding/src/model_architectures/config.rs
  candle-binding/src/model_architectures/lora/bert_lora_test.rs
  candle-binding/src/model_architectures/lora/mod.rs
  candle-binding/src/model_architectures/mod.rs
  candle-binding/src/model_architectures/model_factory_test.rs
  candle-binding/src/model_architectures/routing_test.rs
  candle-binding/src/model_architectures/traditional/base_model_test.rs
  candle-binding/src/model_architectures/traditional/bert_test.rs
  candle-binding/src/model_architectures/traditional/mod.rs
  candle-binding/src/model_architectures/traditional/modernbert_test.rs
  candle-binding/src/model_architectures/unified_interface_test.rs
  candle-binding/src/test_fixtures.rs
  candle-binding/src/utils/memory.rs
  tools/make/build-run-test.mk
  tools/make/common.mk
  tools/make/rust.mk
Due: cargo-fmt, cargo-check

fix:Improve rust unit test and optimize concurrent tests with rayon (#471)
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/core/mod.rs
  candle-binding/src/core/similarity_test.rs
  candle-binding/src/core/tokenization_test.rs
  candle-binding/src/ffi/init_test.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/ffi/state_manager_test.rs
  candle-binding/src/ffi/validation_test.rs
  candle-binding/src/model_architectures/lora/lora_adapter_test.rs
  candle-binding/src/model_architectures/lora/mod.rs
Due: cargo-fmt, cargo-check

fix: resolve syntax errors after rebase
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/api/server.go
Due: go-fmt

fix:Implement Comprehensive Rayon Parallelization for LoRA Classifiers (#464)
  candle-binding/Cargo.toml
  candle-binding/src/classifiers/lora/intent_lora.rs
  candle-binding/src/classifiers/lora/mod.rs
  candle-binding/src/classifiers/lora/parallel_engine.rs
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/classifiers/lora/pii_lora.rs
  candle-binding/src/classifiers/lora/security_lora.rs
  candle-binding/src/model_architectures/embedding/qwen3_embedding_test.rs
  candle-binding/src/model_architectures/lora/bert_lora.rs
  candle-binding/src/model_architectures/traditional/base_model.rs
Due: cargo-fmt, cargo-check

Change label count params to c_int (#494)
  candle-binding/src/ffi/init.rs
Due: cargo-fmt, cargo-check

add additional update
  candle-binding/Cargo.lock
Due: none

update embedding setting in config (#489)
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/src/model_architectures/embedding/qwen3_embedding.rs
  config/config.yaml
  deploy/kubernetes/config.yaml
  deploy/openshift/config-openshift.yaml
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/filter_types.go
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/caching_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/test_utils_test.go
  tools/make/rust.mk
Due: go-fmt, yaml-and-yml-fmt, cargo-fmt, cargo-check

make CUDA and Flash Attention 2 optional features (#511)
  candle-binding/Cargo.toml
  tools/make/rust.mk
Due: none

Milvus initial connection and test
  config/config.e2e.yaml
  config/config.yaml
  src/semantic-router/pkg/vectordb/milvus_vectordb.go
  src/semantic-router/pkg/vectordb/milvus_vectordb_test.go
Due: go-fmt, yaml-and-yml-fmt

feat: add knob for /v1/models to control if respond real models. (#476)
  .github/workflows/docker-publish.yml
  examples/mcp-classifier-server/bench/data/mmlu_pro_categories.json
  examples/mcp-classifier-server/bench/data/mmlu_pro_test.csv
  examples/mcp-classifier-server/bench/data/regex_categories.json
  examples/mcp-classifier-server/bench/data/regex_test.csv
Due: yaml-and-yml-fmt

feat: add knob for /v1/models to control if respond real models. (#476)
  .gitignore
  config/config.yaml
  src/semantic-router/pkg/api/server.go
  src/semantic-router/pkg/api/server_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/models_endpoint_test.go
  src/semantic-router/pkg/extproc/request_handler.go
Due: go-fmt, yaml-and-yml-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
