Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

docs(decision2): sync sanitized program docs (COORDINATION)
  src/training/decision2/v2/program/COORDINATION.md
Due: md-fmt

[Test] e2e: fix the Redis Responses profiles (#4652)
  e2e/profiles/response-api-redis-cluster/values.yaml
  e2e/profiles/response-api-redis/values.yaml
  e2e/testcases/workflow_resume.go
Due: go-fmt, yaml-and-yml-fmt

docs(website): clarify Vela 2.0 positioning and launch guide
  website/blog/2026-10-06-vela-2-0-open-foundation-routing-models.md
Due: md-fmt

[Docs] Refresh Vela 2.0 blog and architecture diagrams (#4650)
  website/blog/2026-10-06-vela-2-0-open-foundation-routing-models.md
  website/src/components/ArticleMedia/index.tsx
  website/src/components/ArticleMedia/styles.module.css
  website/static/img/blog/vela-2-0/architecture/01-vela-2.0-0.3b-architecture.svg
  website/static/img/blog/vela-2-0/architecture/02-vela-2.0-0.8b-architecture.svg
  website/static/img/blog/vela-2-0/architecture/03-vela-2.0-4b-architecture.svg
  website/static/img/blog/vela-2-0/architecture/04-vela-2.0-9b-architecture.svg
  website/static/img/blog/vela-2-0/architecture/05-encoder-attention-geglu.svg
  website/static/img/blog/vela-2-0/architecture/06-encoder-readouts.svg
  website/static/img/blog/vela-2-0/architecture/07-gated-deltanet.svg
  website/static/img/blog/vela-2-0/architecture/08-gated-gqa-swiglu.svg
  website/static/img/blog/vela-2-0/architecture/09-decoder-candidate-head.svg
  website/static/img/blog/vela-2-0/architecture/10-decoder-span-heads.svg
  website/static/img/blog/vela-2-0/architecture/11-state-prefix-and-question-isolation.svg
  website/static/img/blog/vela-2-0/architecture/README.md
  website/static/img/blog/vela-2-0/architecture/architecture-spec.json
  website/static/img/blog/vela-2-0/architecture/architecture_svg.py
  website/static/img/blog/vela-2-0/architecture/figures_encoder.py
  website/static/img/blog/vela-2-0/architecture/figures_heads.py
  website/static/img/blog/vela-2-0/architecture/figures_hybrid.py
  website/static/img/blog/vela-2-0/architecture/generate_all.py
Due: md-fmt

[Bug] Calibrate the production-stack jailbreak threshold for Vela Guard (#4502)
  e2e/profiles/production-stack/values.yaml
Due: yaml-and-yml-fmt

docs(i18n): translate the recipe lifecycle and shell completion pages
  website/i18n/translation-coverage-baseline.txt
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/recipe-lifecycle.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/shell-completion.md
Due: md-fmt

WIP: Router asks Vela 2.0 the built-in signals' questions
  src/semantic-router/pkg/modelruntime/serving/classify.go
  src/semantic-router/pkg/modelruntime/serving/prepare.go
  src/semantic-router/pkg/modelruntime/serving/signal_question.go
  src/semantic-router/pkg/modelruntime/serving/signal_question_test.go
  src/semantic-router/pkg/modelruntime/serving/span_question_test.go
  src/semantic-router/pkg/modelruntime/serving/windows.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
