Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

fix(decision2): decoder M7 relay hashes before piping (an ssh inside the put arguments read the piped file) and re-runs the HT-DEV v2 relay idempotently
  src/training/decision2/v2/dec/ops/m7/m7-relay.sh
Due: none

fix(decision2): F-b packages the CAL698 file with its autotune-cache path withheld (calibration.public.json; temperatures and bindings identical), so the public-file screen passes
  src/training/decision2/v2/release/records/dev2-27b-fb-release-2026-09-30/inputs/calibration.public.json
  src/training/decision2/v2/release/records/dev2-27b-fb-release-2026-09-30/ops/make_spec.py
Due: none

fix(decision2): F-b specs name calibration.public.json (regenerated drafts)
  src/training/decision2/v2/release/records/dev2-27b-fb-release-2026-09-30/ops/make_spec.py
  src/training/decision2/v2/release/specs/dev2-27b-fb-c1pkg.json
  src/training/decision2/v2/release/specs/dev2-27b-fb-draft.json
Due: none

fix(decision2): 27B M5 launch3 accepts other tracks' free-text released co-tenant leases (prereg amendment 1; the first launch was refused before any container)
  src/training/decision2/v2/27b/m4b/launch3.py
  src/training/decision2/v2/27b/m4b/tests/test_m4b_launch3.py
  src/training/decision2/v2/27b/records/m5-prereg-2026-09-30.md
Due: md-fmt

Exclude quoted task content from corrections and recognize continue/remain reaffirmations
  e2e/testing/memory_tests/test_pipeline.py
  src/semantic-router/pkg/memory/reflection_supersede.go
  src/semantic-router/pkg/memory/reflection_supersede_test.go
Due: go-fmt

feat(decision2): bf16z end-to-end check launcher on DEV2.0-0.8B's BF16 checkpoint (compress + verify, then a no-upload release run through the runtime restore)
  src/training/decision2/v2/release/records/dev2-bf16z-codec-2026-09-30/ops/e2e-0p8b.sh
Due: none

research(decision2): bf16z end-to-end spec on DEV2.0-0.8B's BF16 checkpoint (receipts pinned; no upload)
  src/training/decision2/v2/release/records/dev2-bf16z-codec-2026-09-30/e2e-0p8b/bf16z-verify.json
  src/training/decision2/v2/release/records/dev2-bf16z-codec-2026-09-30/e2e-0p8b/bf16z.json
  src/training/decision2/v2/release/specs/dev2-0p8b-bf16z-e2e.json
Due: none

research(decision2): DEV2.0-27B A20r item 8 PASS (C1 v1.2 post-key 57.56 vs 57.33, +0.23 [-1.22, +1.70]); final spec and decision (successor profile R1-R8)
  src/training/decision2/v2/release/records/dev2-27b-a20r-release-2026-09-30/DEV2.0-27B.decision.a20r.json
  src/training/decision2/v2/release/records/dev2-27b-a20r-release-2026-09-30/c1/GATE-C1-dev2-27b-a20r-vs-5683c6f0.json
  src/training/decision2/v2/release/records/dev2-27b-a20r-release-2026-09-30/c1/PARITY-preflight-dev2-27b-a20r.json
  src/training/decision2/v2/release/records/dev2-27b-a20r-release-2026-09-30/c1/PARITY-smoke-dev2-27b-a20r.json
  src/training/decision2/v2/release/records/dev2-27b-a20r-release-2026-09-30/c1/SUMMARY-dev2-27b-a20r.json
  src/training/decision2/v2/release/records/dev2-27b-a20r-release-2026-09-30/c1/VERIFY-dev2-27b-a20r.json
  src/training/decision2/v2/release/specs/dev2-27b-a20r-release.json
Due: none

fix(decision2): no-1.0 card summary names the reference as the strongest other same-size model shown
  src/training/decision2/v2/release/card.py
  src/training/decision2/v2/release/tests/test_no_own_1_0.py
Due: none

research(decision2): C1 post-key job backup tool (gold-free files to the private eval-artifacts dataset)
  src/training/decision2/v2/release/records/dev2-27b-a20r-release-2026-09-30/ops/backup_c1.py
Due: none

research(decision2): 9B M6 KH stopped by its preregistered early rule (P -0.43, rule_precedence 327 < 346); state
  src/training/decision2/v2/9b/records/m6-state.md
Due: md-fmt

feat(decision2): 27B M5 post-training chain (wait for both seeds, pull the node A seed, soup, readout, development gates; M5-SX with FF20H) and state update
  src/training/decision2/v2/27b/m5/m5-chain.sh
  src/training/decision2/v2/27b/records/m5-state.md
Due: md-fmt

docs(decision2): sync sanitized program docs (COORDINATION)
  src/training/decision2/v2/program/COORDINATION.md
Due: md-fmt

docs(decision2): 27B M5 state - G1 passed (projection 53.5 of 72 GPU-h), A20r node B reference, FF20 chain running
  src/training/decision2/v2/27b/records/m5-state.md
Due: md-fmt

feat(decision2): 27B M5 mlx-diag relay over the node link and node-A scoring + item-4 pairing vs A20r (m8_scorebias mlx-paired)
  src/training/decision2/v2/27b/m5/m5-mlx-nodeA.sh
  src/training/decision2/v2/27b/m5/m5-tail.sh
Due: none

[Bug] Refuse an unscorable artifact before downloading it
  src/training/model_eval/baseline_artifact.py
  src/training/model_eval/quality_baseline.py
  src/training/model_eval/test_baseline_artifact.py
  src/training/model_eval/tests/test_dataset_contracts.py
Due: none

research(decision2): 9B M6 formal lock, finalist K5-a12 (1/2 five-seed K soup + 1/2 Lux 1.0; the only rule pick after KA and KH stopped early)
  src/training/decision2/v2/9b/records/lux9b-m6-formal-lock-2026-09-30.md
Due: md-fmt

research(decision2): 9B M6 state (rules: finalist K5-a12; formal run launched)
  src/training/decision2/v2/9b/records/m6-state.md
Due: md-fmt

research(decision2): decoder M7 state (2B done: S7H soup -2.76 vs DEV2.0-2B, no successor; 4B formal armed)
  src/training/decision2/v2/dec/records/m7-state.md
Due: md-fmt

Update src/semantic-router/pkg/extproc/fallback_dispatch_test.go
  src/semantic-router/pkg/extproc/fallback_dispatch_test.go
Due: go-fmt

docs(decision2): sync sanitized program docs (COORDINATION, STATUS)
  src/training/decision2/v2/program/COORDINATION.md
  src/training/decision2/v2/program/STATUS.md
Due: md-fmt

feat(decision2): 27B M5 branch-B1 L128 launcher (rank-128 LoRA on a20, M4 template; refuses unless BRANCH-B1 exists)
  src/training/decision2/v2/27b/m5/m5-l128.sh
Due: none

docs(decision2): 27B M5 state - hand-off ready resume file (running lanes and chains, B1 procedure, next steps)
  src/training/decision2/v2/27b/records/m5-state.md
Due: md-fmt

[Test] State why the pinned dispatch stays plugin-free
  e2e/testcases/streaming_usage_settlement.go
Due: go-fmt

[Test] Expect the 41-case baseline inventory after the merge
  e2e/pkg/testmatrix/testcases_test.go
Due: go-fmt

[Bug] Flag missing values for every escalation risk feature and apply Black
  src/training/model_classifier/escalation_risk/fixtures.py
  src/training/model_classifier/escalation_risk/tests/test_escalation_risk.py
  src/training/model_classifier/escalation_risk/train.py
Due: none

[Bug] Budget context compression in the engine's own token unit (#4324)
  src/semantic-router/pkg/contextcompression/compressor.go
  src/semantic-router/pkg/contextcompression/current_user.go
  src/semantic-router/pkg/contextcompression/token_units_test.go
Due: go-fmt

fix(decision2): 9B M7 data builder passes the spec to eval_only.guard without its free-text note (the guard stat()s every string; the long note raised ENAMETOOLONG before any output)
  src/training/decision2/v2/9b/lux9b/m7_data.py
Due: none

docs(decision2): 27B M5 poll 02:27Z
  src/training/decision2/v2/27b/records/m5-state.md
Due: md-fmt

fix(decision2): 9B M7 MLX-DEV-9B state screen reads structured states (strings nested in dicts / lists), with test
  src/training/decision2/v2/9b/lux9b/m7_data.py
  src/training/decision2/v2/9b/tests/test_m7_data.py
Due: none

[Research] Add the Kai arm records for pilot v0.1
  bench/jev/pilot-v0.1/kai/kai-results.jsonl
  bench/jev/pilot-v0.1/kai/kai-run.md
  bench/jev/pilot-v0.1/kai/kai-warmup.jsonl
  bench/jev/pilot-v0.1/kai/pip-freeze.txt
  bench/jev/pilot-v0.1/kai/prepare_artifact.py
  bench/jev/pilot-v0.1/kai/run_kai.py
Due: md-fmt

docs: record Kai pilot integration and Vela dependency gap
  bench/jev/README.md
  bench/jev/pilot-v0.1/README.md
Due: md-fmt

docs(decision2): 27B M5 poll 02
  src/training/decision2/v2/27b/records/m5-state.md
Due: md-fmt

Pass Grafana admin password via stdin and stop container on reset failure
  e2e/testing/vllm-sr-cli/test_integration_grafana_credentials.py
  src/vllm-sr/cli/container_support_services.py
  src/vllm-sr/tests/test_grafana_credentials.py
Due: none

feat(decision2): 9B M7 amendment-1 tooling - half-dose arm Q (PN1-r2 once, replay bisected to C's tokens via replay_match_tokens), early.sh / rules.sh take the arm, chain m7-g6q
  src/training/decision2/v2/9b/lux9b/m7/chains/m7-g6q.sh
  src/training/decision2/v2/9b/lux9b/m7/early.sh
  src/training/decision2/v2/9b/lux9b/m7/rules.sh
  src/training/decision2/v2/9b/lux9b/m7_data.py
  src/training/decision2/v2/9b/lux9b/specs/m7-topup-q.json
Due: none

research(decision2): 9B M7 state (P stopped by its early rule; amendment-1 arm Q and control C running on node A GPU6-7; hand-off steps)
  src/training/decision2/v2/9b/records/m7-state.md
Due: md-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
