Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

[Docs] records: the Phase 1 records say so
  src/model-runtime/docs/records/profiles-rocm-mi325x.md
  src/model-runtime/docs/records/rocm-mi325x-parity.md
  src/model-runtime/docs/records/rocm-mi325x-perf.md
  src/model-runtime/docs/records/rocm-mi325x-repeatability.md
Due: md-fmt

[Test] model-runtime: the two-thread capture test hands the GIL over every 10 µs
  src/model-runtime/tests/test_decision1_gpu.py
Due: none

[Docs] model runtime: a model that failed to load is retried; devices and profiles take plugin names
  website/docs/model-runtime/deploy.md
  website/docs/model-runtime/reference.md
  website/docs/model-runtime/troubleshooting.md
Due: md-fmt

[Docs] zh-Hans: troubleshooting follows its source on retried model loads
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/model-runtime/troubleshooting.md
Due: md-fmt

[Bug] Fix home page 'View raw skill' link opening Page Not Found
  website/src/components/InstallQuickStartSection/index.tsx
Due: none

[Docs] model runtime: keep ONNX Runtime and PyTorch CPU models in their own processes
  website/docs/model-runtime/deploy.md
Due: md-fmt

[Test] model-runtime: vela2_bench --trace records how each profile batched the callers
  src/model-runtime/tools/vela2_bench.py
Due: none

[Docs] records: keyword rules and selectors against the bindings, six rounds with intervals
  src/model-runtime/docs/records/stores-algorithms.md
Due: md-fmt

[Test] model-runtime: drop the two-thread capture test, which passes without the device lock
  src/model-runtime/tests/test_decision1_gpu.py
Due: none

[Feature] model-runtime: decision1 parity asks a shared process's models concurrently
  src/model-runtime/tools/decision1_parity.py
Due: none

[Test] vllm-sr: the fingerprint cache test tampers with a later write
  src/vllm-sr/tests/test_sr_bench_dataset_fingerprints.py
Due: none

[Feature] config: refuse the retired gemma and bert embedding models
  config/config.yaml
  src/semantic-router/pkg/apiserver/route_model_info_classifiers.go
  src/semantic-router/pkg/apiserver/route_model_info_prepared_test.go
  src/semantic-router/pkg/config/canonical_loader_test.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/embedding_needs.go
  src/semantic-router/pkg/config/loader_model_execution.go
  src/semantic-router/pkg/config/loader_model_execution_test.go
  src/semantic-router/pkg/config/model_config_types.go
  src/semantic-router/pkg/config/reference_config_global_test.go
  src/semantic-router/pkg/config/validator_embedding.go
  src/semantic-router/pkg/config/validator_embedding_test.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/router_memory.go
  src/semantic-router/pkg/k8s/testdata/output/01-basic.yaml
  src/semantic-router/pkg/k8s/testdata/output/02-keyword-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/03-embedding-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/04-domain-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/05-keyword-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/06-keyword-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/07-domain-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/08-keyword-embedding-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/09-keyword-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/10-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/11-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/12-keyword-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/13-keyword-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/14-domain-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/15-keyword-embedding-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/16-keyword-embedding-domain-no-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/17-embedding-multimodal.yaml
  src/semantic-router/pkg/modeldownload/binding_inventory.go
  src/semantic-router/pkg/modeldownload/binding_inventory_test.go
  src/semantic-router/pkg/modeldownload/config_parser.go
  src/semantic-router/pkg/modeldownload/config_parser_test.go
  src/semantic-router/pkg/modeldownload/download_scope_test.go
  src/semantic-router/pkg/modeldownload/embedding_completeness_test.go
  src/semantic-router/pkg/modeldownload/feature_gates.go
  src/semantic-router/pkg/modeldownload/registry_alias_provisioning_test.go
Due: go-fmt, yaml-and-yml-fmt

[Refactor] dashboard: editors offer only the runtime's embedding models and devices
  dashboard/frontend/src/components/RouterModelInventory.test.tsx
  dashboard/frontend/src/components/routerModelPresentation.ts
  dashboard/frontend/src/pages/configPageCanonicalization.ts
  dashboard/frontend/src/pages/configPageEmbeddingModelsSupport.test.ts
  dashboard/frontend/src/pages/configPageEmbeddingModelsSupport.ts
  dashboard/frontend/src/pages/configPageRouterDefaultsCatalog.ts
  dashboard/frontend/src/pages/configPageRouterDefaultsSupport.ts
  dashboard/frontend/src/pages/configPageSupport.ts
  dashboard/frontend/src/pages/topology/types.ts
Due: none

[Harness] model-runtime: a GPU runs one model's device work at a time
  src/model-runtime/tests/test_placement.py
  src/model-runtime/vllm_sr_runtime/accel/gpu.py
Due: none

[Bug] model-runtime: encoder graphs capture in thread-local mode
  src/model-runtime/vllm_sr_runtime/engines/native/encoder.py
Due: none

[Harness] model-runtime: the models of one GPU run their device work one call at a time
  src/model-runtime/tests/test_decision1_gpu.py
  src/model-runtime/tests/test_gpu_execute.py
  src/model-runtime/vllm_sr_runtime/accel/gpu.py
Due: none

[Test] model-runtime: the CPU invariance assertion holds on the images' PyTorch only
  src/model-runtime/tests/test_task_heads.py
Due: none

[Docs] model-runtime: design 9 says a GPU's device calls are serialized
  src/model-runtime/docs/design.md
Due: md-fmt

[Test] modelservice: a managed process takes a body above the runtime's default bound
  src/semantic-router/pkg/modelservice/modelservice_test.go
  src/semantic-router/pkg/modelservice/runtimetest/runtimetest.go
Due: go-fmt

[Test] vllm-sr: the fingerprint test's imports are sorted as the repository root sees them
  src/vllm-sr/tests/test_sr_bench_dataset_fingerprints.py
Due: none

[Bug] Report hallucination spans at the chunk they were found in
  src/semantic-router/pkg/classification/hallucination_detector.go
  src/semantic-router/pkg/classification/hallucination_detector_offsets_test.go
Due: go-fmt

[Perf] model-runtime: Vela 2.0 0.3B on CPU packs only short sequences of concurrent requests together
  src/model-runtime/tests/test_vela2_family.py
  src/model-runtime/vllm_sr_runtime/families/vela2/family.py
Due: none

[Refactor] embedding: the set's priority order names each model once
  src/semantic-router/pkg/embedding/set.go
Due: go-fmt

[Docs] model-runtime: decision1 parity records two decoders asked at once in one GPU process
  src/model-runtime/docs/records/decision1-parity.json
  src/model-runtime/docs/records/decision1-parity.md
Due: md-fmt

[Feature] vllm-sr: refuse the retired embedding models like the router
  src/vllm-sr/cli/model_runtime_retired.py
  src/vllm-sr/tests/test_embedding_modality_validation.py
  src/vllm-sr/tests/test_model_runtime_retired.py
Due: none

[Refactor] model-runtime: one positive-integer option parser and one decisions golden request
  src/model-runtime/vllm_sr_runtime/families/decision2/family.py
  src/model-runtime/vllm_sr_runtime/families/vela2/family.py
  src/model-runtime/vllm_sr_runtime/heads/embedding.py
  src/model-runtime/vllm_sr_runtime/heads/relevance.py
  src/model-runtime/vllm_sr_runtime/heads/task.py
  src/model-runtime/vllm_sr_runtime/registry/builtin.py
Due: none

[Test] vllm-sr: the legacy catalog migration writes the detector binding
  src/vllm-sr/tests/test_config_migrate_legacy_catalog.py
Due: none

Revert "[Harness] model-runtime: a GPU runs one model's device work at a time"
  src/model-runtime/tests/test_placement.py
  src/model-runtime/vllm_sr_runtime/accel/gpu.py
Due: none

[Docs] model runtime: the models of one GPU take turns on it
  website/docs/model-runtime/deploy.md
  website/docs/model-runtime/profiles.md
Due: md-fmt

[Docs] model runtime: the embeddings guide asks for meta.representation
  website/docs/model-runtime/guides/embeddings.md
Due: md-fmt

[Feature] router_latency: summarize interleaved rounds with paired intervals
  src/model-runtime/tools/router_latency.py
Due: none

[Docs] model-runtime records: router latency on CPU, five interleaved rounds with intervals
  src/model-runtime/docs/records/router-latency-cpu.json
  src/model-runtime/docs/records/router-latency-cpu.md
Due: md-fmt

[Docs] model-runtime: decision1 performance records what per-model kernel choices cost on ROCm
  src/model-runtime/docs/records/decision1-performance.json
  src/model-runtime/docs/records/decision1-performance.md
Due: md-fmt

Trial for P2-20: router-ip3 56279a165 with vela1 f3c09121d (encoder graphs capture thread-local)
  src/model-runtime/vllm_sr_runtime/engines/native/encoder.py
Due: none

[Harness] model-runtime: decoder graphs capture in thread-local mode too
  src/model-runtime/vllm_sr_runtime/engines/native/fast.py
Due: none

[Fix] kserve deploy, dashboard e2e: no EmbeddingGemma or MiniLM paths
  dashboard/frontend/e2e/config-surface-layout.spec.ts
  deploy/kserve/deploy.sh
Due: none

[Docs] model-runtime: design 13.3 says how a flush fuses and splits a stage's calls
  src/model-runtime/docs/design.md
Due: md-fmt

[Docs] model-runtime: Decision 1.0 parity at the head, and models sharing a GPU process
  src/model-runtime/docs/records/decision1-parity.json
  src/model-runtime/docs/records/decision1-parity.md
Due: md-fmt

[Bug] Normalize Decision-2.0 native-runtime fingerprint paths
  src/model-runtime/tests/test_package_fingerprints.py
  src/model-runtime/vllm_sr_runtime/families/decision2/package.py
Due: none
