Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

chore(phase4): remove docs/issue-995-phase4-testing-validation.md from PR
  docs/issue-995-phase4-testing-validation.md
Due: md-fmt

feat(phase4): update test results with GPU performance metrics
  candle-binding/Cargo.lock
  candle-binding/examples/test_phase4_comprehensive.rs
Due: cargo-fmt, cargo-check

docs: add ModernBERT-base-32k POC document
  docs/issue-995-modernbert-32k-poc.md
Due: md-fmt

feat(config): update model registry for ModernBERT-base-32k
  src/semantic-router/pkg/config/registry.go
  src/semantic-router/pkg/config/registry_max_context_test.go
Due: go-fmt

feat(candle-binding): add LoRA compatibility tests for ModernBERT-base-32k
  candle-binding/Cargo.toml
  candle-binding/examples/list_safetensors_keys.rs
  candle-binding/examples/test_long_text_inference_32k.rs
  candle-binding/examples/test_lora_compatibility_32k.rs
  candle-binding/examples/test_lora_inference_32k.rs
Due: cargo-fmt, cargo-check

feat(performance): implement Flash Attention 2 for ModernBERT
  candle-binding/examples/benchmark_performance.rs
  candle-binding/examples/list_safetensors_keys.rs
  candle-binding/examples/test_32k_classifier_inference.rs
  candle-binding/examples/test_classifier_compatibility.rs
  candle-binding/examples/test_full_inference_32k.rs
  candle-binding/examples/test_long_text_inference_32k.rs
  candle-binding/examples/test_lora_compatibility_32k.rs
  candle-binding/examples/test_lora_inference_32k.rs
  candle-binding/src/model_architectures/traditional/base_model.rs
  candle-binding/src/model_architectures/traditional/candle_models/mod.rs
  candle-binding/src/model_architectures/traditional/candle_models/modernbert.rs
  candle-binding/src/model_architectures/traditional/mod.rs
  candle-binding/src/model_architectures/traditional/modernbert.rs
  candle-binding/src/model_architectures/traditional/modernbert_test.rs
Due: cargo-fmt, cargo-check

feat(phase4): add comprehensive testing and validation for ModernBERT-base-32k
  candle-binding/Cargo.toml
  candle-binding/examples/test_32k_classifier_inference.rs
  candle-binding/examples/test_classifier_compatibility.rs
  candle-binding/examples/test_full_inference_32k.rs
  candle-binding/examples/test_phase4_comprehensive.rs
  docs/issue-995-phase4-testing-validation.md
Due: md-fmt, cargo-fmt, cargo-check

feat: update PII classifier integration tests and documentation
  candle-binding/examples/benchmark_concurrent.rs
  candle-binding/examples/benchmark_performance.rs
  candle-binding/examples/test_32k_classifier_inference.rs
  candle-binding/examples/test_classifier_compatibility.rs
  candle-binding/examples/test_full_inference_32k.rs
  candle-binding/examples/test_modernbert_32k.rs
  candle-binding/src/model_architectures/traditional/mod.rs
  candle-binding/src/model_architectures/traditional/modernbert.rs
  website/docs/tutorials/performance-tuning/modernbert-32k-docs/modernbert-32k-performance-validation.md
  website/docs/tutorials/performance-tuning/modernbert-32k-performance.md
Due: md-fmt, cargo-fmt, cargo-check

chore: update modernbert.rs doc comment and revert unrelated files
  candle-binding/src/model_architectures/traditional/candle_models/modernbert.rs
Due: cargo-fmt, cargo-check

feat(phase6): add concurrent request benchmark for chunking threshold analysis
  candle-binding/Cargo.toml
  candle-binding/examples/benchmark_concurrent.rs
Due: cargo-fmt, cargo-check

feat(performance-tuning): cleanup example files and add validation test
  candle-binding/Cargo.toml
  candle-binding/examples/benchmark_performance.rs
  candle-binding/examples/embedding_benchmark.rs
  candle-binding/examples/list_safetensors_keys.rs
  candle-binding/examples/test_32k_classifier_inference.rs
  candle-binding/examples/test_classifier_compatibility.rs
  candle-binding/examples/test_full_inference_32k.rs
  candle-binding/examples/test_long_text_inference_32k.rs
  candle-binding/examples/test_lora_compatibility_32k.rs
  candle-binding/examples/test_lora_inference_32k.rs
  candle-binding/examples/test_mmbert_lora.rs
  candle-binding/examples/test_modernbert_32k.rs
  candle-binding/examples/test_modernbert_32k_validation.rs
  website/docs/tutorials/performance-tuning/modernbert-32k-docs/modernbert-32k-big-batch-test-plan.md
  website/docs/tutorials/performance-tuning/modernbert-32k-docs/modernbert-32k-deployment-guide.md
  website/docs/tutorials/performance-tuning/modernbert-32k-docs/modernbert-32k-long-context-test-plan.md
  website/docs/tutorials/performance-tuning/modernbert-32k-docs/modernbert-32k-performance-validation.md
  website/docs/tutorials/performance-tuning/modernbert-32k-performance.md
Due: md-fmt, cargo-fmt, cargo-check

chore: revert embedding_benchmark and test_mmbert_lora to main
  candle-binding/examples/embedding_benchmark.rs
  candle-binding/examples/test_mmbert_lora.rs
Due: cargo-fmt, cargo-check

lint
  src/semantic-router/pkg/extproc/router.go
Due: go-fmt

refactor: merge test_modernbert_32k into validation and remove duplicates
  candle-binding/Cargo.toml
  candle-binding/examples/test_modernbert_32k.rs
  candle-binding/examples/test_modernbert_32k_validation.rs
  candle-binding/examples/test_phase4_comprehensive.rs
Due: cargo-fmt, cargo-check

feat: Add Usage Ratelimit Support (#1356)
  e2e/profiles/authz-rbac/profile.go
  e2e/profiles/authz-rbac/values.yaml
  e2e/testcases/ratelimit.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/ratelimit/chain.go
  src/semantic-router/pkg/ratelimit/envoy_provider.go
  src/semantic-router/pkg/ratelimit/local_provider.go
  src/semantic-router/pkg/ratelimit/provider.go
  src/semantic-router/pkg/ratelimit/ratelimit_test.go
Due: go-fmt, yaml-and-yml-fmt

Feat: Support Tree
  config/intelligent-routing/in-tree/boolean-operators.yaml
  website/docs/installation/configuration.md
  website/docs/overview/signal-driven-decisions.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/configuration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/signal-driven-decisions.md
Due: md-fmt, yaml-and-yml-fmt

Feat: Support Tree
  deploy/operator/api/v1alpha1/semanticrouter_types.go
Due: go-fmt

Feat: Support Tree
  deploy/operator/config/crd/bases/vllm.ai_semanticrouters.yaml
Due: yaml-and-yml-fmt

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Due: none

test: add graceful degradation test for memory backend unavailability
  e2e/profiles/response-api/profile.go
  e2e/testcases/memory_graceful_degradation.go
Due: go-fmt

Feat: Support Tree
  config/intelligent-routing/in-tree/boolean-operators.yaml
Due: yaml-and-yml-fmt

Feat: Support Tree
  src/semantic-router/pkg/decision/engine_test.go
Due: go-fmt

feat: optimize InMemoryCache.UpdateWithResponse lookup path
  src/semantic-router/pkg/cache/inmemory_cache.go
Due: go-fmt

feat(decision): add tree of boolean operator support across AND/OR/NOT/NAND/NOR/XOR/NXOR (#1352)
  config/intelligent-routing/in-tree/ast-operator.yaml
  config/intelligent-routing/in-tree/boolean-operators.yaml
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/topology/types.ts
  dashboard/frontend/src/pages/topology/utils/signalMatcher.ts
  dashboard/frontend/src/pages/topology/utils/topologyParser.ts
  dashboard/frontend/src/types/config.ts
  deploy/operator/api/v1alpha1/semanticrouter_types.go
  deploy/operator/config/crd/bases/vllm.ai_semanticrouters.yaml
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/types_route.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/decision/engine.go
  src/semantic-router/pkg/decision/engine_test.go
  website/docs/installation/configuration.md
  website/docs/overview/signal-driven-decisions.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/configuration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/signal-driven-decisions.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

paper: add authors and update figures
  paper/figures/evaluation_flow.pdf
  paper/figures/lora_architecture.pdf
  paper/main.tex
  paper/sections/architecture.tex
  paper/sections/evaluation.tex
  paper/sections/lora_mom.tex
  paper/vllm-semantic-router.pdf
Due: none

chore: update paper structure and add to ci build
  .github/workflows/paper-build.yml
  paper/.gitattributes
  paper/.gitignore
  paper/Makefile
  paper/main.aux
  paper/main.bbl
  paper/main.blg
  paper/vllm-semantic-router.pdf
Due: yaml-and-yml-fmt

Add Paper for vLLM Semantic Router
  paper/Makefile
  paper/figures/PLACEHOLDER
  paper/main.aux
  paper/main.bbl
  paper/main.blg
  paper/main.pdf
  paper/main.tex
  paper/references.bib
  paper/sections/abstract.tex
  paper/sections/architecture.tex
  paper/sections/conclusion.tex
  paper/sections/decision_engine.tex
  paper/sections/deployment.tex
  paper/sections/evaluation.tex
  paper/sections/extproc_pipeline.tex
  paper/sections/halugate.tex
  paper/sections/introduction.tex
  paper/sections/lora_mom.tex
  paper/sections/memory_rag.tex
  paper/sections/ml_inference.tex
  paper/sections/model_selection.tex
  paper/sections/observability.tex
  paper/sections/plugins.tex
  paper/sections/related_work.tex
  paper/sections/safety.tex
  paper/sections/signal_engine.tex
  tools/linter/codespell/.codespell.skip
Due: none

[Doc][Paper]: Add adaptor abrastraction desgin doc to future work (#1357)
  paper/sections/conclusion.tex
Due: none

[DOC] Update white paper: Implement MoM evaluation and LoRA architecture sections (#1345)
  paper/figures/evaluation_flow.svg
  paper/figures/lora_architecture.svg
  paper/sections/evaluation.tex
  paper/sections/lora_mom.tex
Due: none

docs(paper): expand memory section with lifecycle figure and retention scoring (#1343)
  paper/references.bib
  paper/sections/memory_rag.tex
Due: none

paper: update figures
  paper/sections/evaluation.tex
  paper/sections/lora_mom.tex
  paper/vllm-semantic-router.pdf
Due: none

chore: add BM25 and n-gram feature to keyword signal (#1349)
  paper/sections/signal_engine.tex
Due: none

add figures and add tree of decision
  .github/workflows/paper-build.yml
  paper/figures/PLACEHOLDER
  paper/figures/evaluation_flow.pdf
  paper/figures/evaluation_flow.svg
  paper/figures/lora_architecture.pdf
  paper/figures/lora_architecture.svg
  paper/main.tex
  paper/sections/architecture.tex
  paper/sections/decision_engine.tex
  paper/sections/evaluation.tex
  paper/sections/extproc_pipeline.tex
  paper/sections/halugate.tex
  paper/sections/lora_mom.tex
  paper/sections/memory_rag.tex
  paper/sections/model_selection.tex
  paper/sections/signal_engine.tex
  paper/vllm-semantic-router.pdf
Due: yaml-and-yml-fmt

paper: update ml section; update authors
  paper/main.tex
  paper/sections/ml_inference.tex
Due: none

paper: update authors
  paper/main.tex
Due: none

paper: update references
  paper/references.bib
  paper/sections/conclusion.tex
  paper/sections/deployment.tex
  paper/sections/extproc_pipeline.tex
  paper/sections/model_selection.tex
  paper/sections/related_work.tex
  paper/sections/safety.tex
  paper/sections/signal_engine.tex
Due: none

feat: optimize InMemoryCache.UpdateWithResponse lookup path (#1365)
  src/semantic-router/pkg/cache/inmemory_cache.go
Due: go-fmt

feat: support hybrid memory search
  e2e/cmd/e2e/main.go
  e2e/profiles/rag-hybrid-search/manifests/llama-stack.yaml
  e2e/profiles/rag-hybrid-search/profile.go
  e2e/profiles/rag-hybrid-search/values.yaml
  e2e/testcases/rag_vectorstore_hybrid.go
  src/semantic-router/pkg/apiserver/route_vectorstore.go
  src/semantic-router/pkg/vectorstore/hybrid.go
  src/semantic-router/pkg/vectorstore/hybrid_test.go
  src/semantic-router/pkg/vectorstore/memory_backend.go
  src/semantic-router/pkg/vectorstore/types.go
  tools/make/e2e.mk
Due: go-fmt, yaml-and-yml-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
