Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

fix(decision2): gate types check accepts the typed gold keyed by id
  src/training/decision2/v2/eval/gates.py
Due: none

[Bug] Fall through to state-home when XDG_RUNTIME_DIR is unusable (#4288)
  src/vllm-sr/cli/runtime_lifecycle_lock.py
  src/vllm-sr/tests/test_runtime_lifecycle_lock.py
  tools/make/docker.mk
Due: none

feat(decision2): C1 scorer reports per-language accuracy and per-type paired intervals
  src/training/decision2/v2/eval/sealed/score.py
  src/training/decision2/v2/eval/sealed/tests/test_score.py
Due: none

research(decision2): 9B M3 amendment 1 (arm B AutoJev inputs, same-renderer Lux1 16K control)
  src/training/decision2/v2/9b/lux9b/m3/formal.sh
  src/training/decision2/v2/9b/lux9b/m3/wave2.sh
  src/training/decision2/v2/9b/lux9b/specs/m3-b-full-M-autojev.json
  src/training/decision2/v2/9b/lux9b/specs/m3-c-full-L-lux.json
  src/training/decision2/v2/9b/records/lux9b-m3-prereg-amendment-1-2026-09-28.md
Due: md-fmt

fix(decision2): keep 9B M3 host-side scoring from writing bytecode into mirrors
  src/training/decision2/v2/9b/lux9b/m3/formal.sh
Due: none

feat(decision2): release verification reproduces the scored Qwen3.5 kernel runtime
  src/training/decision2/v2/release/README.md
  src/training/decision2/v2/release/examples.py
  src/training/decision2/v2/release/release.sh
  src/training/decision2/v2/release/summary.py
  src/training/decision2/v2/release/tests/test_release.py
Due: md-fmt

feat(decision2): decoder M3 tooling (recipe-id mixtures, sharded own-teacher labels, label merge, M3 v2-M + A7 retention spec)
  src/training/decision2/v2/dec/build_mixture.py
  src/training/decision2/v2/dec/drive_arm.sh
  src/training/decision2/v2/dec/merge_labels.py
  src/training/decision2/v2/dec/specs/m3-v2m-ret.json
  src/training/decision2/v2/dec/teacher_label.py
  src/training/decision2/v2/dec/tests/test_dec.py
Due: none

research: prepare shared pilot and captured Jev evidence
  bench/jev/README.md
  bench/jev/REPRODUCING.md
  bench/jev/adapter_test.go
  bench/jev/collect_test.go
  bench/jev/mapping.go
  bench/jev/mapping_test.go
  bench/jev/pilot-v0.1/README.md
  bench/jev/pilot-v0.1/inputs.jsonl
  bench/jev/pilot-v0.1/jev-results.jsonl
  bench/jev/pilot-v0.1/jev-run.md
  bench/jev/pilot-v0.1/protocol.json
  bench/jev/pilot-v0.1/question.json
  bench/jev/pilot_evidence_test.go
  bench/jev/pilot_test.go
  bench/jev/report.py
  bench/jev/run.go
  bench/jev/test_report.py
  bench/jev/testdata/report.mock.jsonl
  bench/jev/testdata/shared-pilot.diagnostic-v0.1.jsonl
  bench/jev/testdata/shared-pilot.draft-v0.1.jsonl
  bench/jev/testdata/shared-pilot.draft-v0.1.question.json
Due: go-fmt, md-fmt

feat(decision2): card score table with T/H, public tiers, mlx-diag and calibration
  src/training/decision2/v2/release/card.py
  src/training/decision2/v2/release/tests/test_release.py
Due: none

feat(decision2): draft release decisions drive private verification, never the collection
  src/training/decision2/v2/release/README.md
  src/training/decision2/v2/release/build.py
  src/training/decision2/v2/release/gate.py
  src/training/decision2/v2/release/tests/test_release.py
Due: md-fmt

research(decision2): record 0.6B Milestone 4 results (release threshold met by m4-t-a7-soup, post-key v3 43.54)
  src/training/decision2/v2/06b/records/arms/m4-t-a7-soup.json
  src/training/decision2/v2/06b/records/arms/m4-v2-soup.json
  src/training/decision2/v2/06b/records/m4-results-2026-09-28.md
  src/training/decision2/v2/06b/records/m4/contrast-t-c.json
  src/training/decision2/v2/06b/records/m4/contrast-v2-s1.json
  src/training/decision2/v2/06b/records/m4/contrast-v2.json
  src/training/decision2/v2/06b/records/m4/formal/m4-t-a7-soup/PAIRED-vs-bosun06.json
  src/training/decision2/v2/06b/records/m4/formal/m4-t-a7-soup/PAIRED-vs-causal-control.json
  src/training/decision2/v2/06b/records/m4/formal/m4-t-a7-soup/PAIRED-vs-gliner25.json
  src/training/decision2/v2/06b/records/m4/formal/m4-t-a7-soup/PAIRED-vs-kai1-8k.json
  src/training/decision2/v2/06b/records/m4/formal/m4-t-a7-soup/PAIRED-vs-kai1.json
  src/training/decision2/v2/06b/records/m4/formal/m4-t-a7-soup/PAIRED-vs-lex.json
  src/training/decision2/v2/06b/records/m4/formal/m4-t-a7-soup/REPORT.json
  src/training/decision2/v2/06b/records/m4/formal/m4-t-a7-soup/REPORT.md
  src/training/decision2/v2/06b/records/m4/formal/m4-t-a7-soup/SOUP.json
  src/training/decision2/v2/06b/records/m4/formal/m4-t-a7-soup/STAGING.json
  src/training/decision2/v2/06b/records/m4/formal/m4-t-a7-soup/mlx-diag.score.json
  src/training/decision2/v2/06b/records/m4/formal/m4-v2-soup/PAIRED-vs-bosun06.json
  src/training/decision2/v2/06b/records/m4/formal/m4-v2-soup/PAIRED-vs-causal-control.json
  src/training/decision2/v2/06b/records/m4/formal/m4-v2-soup/PAIRED-vs-gliner25.json
  src/training/decision2/v2/06b/records/m4/formal/m4-v2-soup/PAIRED-vs-kai1-8k.json
  src/training/decision2/v2/06b/records/m4/formal/m4-v2-soup/PAIRED-vs-kai1.json
  src/training/decision2/v2/06b/records/m4/formal/m4-v2-soup/PAIRED-vs-lex.json
  src/training/decision2/v2/06b/records/m4/formal/m4-v2-soup/REPORT.json
  src/training/decision2/v2/06b/records/m4/formal/m4-v2-soup/REPORT.md
  src/training/decision2/v2/06b/records/m4/formal/m4-v2-soup/SOUP.json
  src/training/decision2/v2/06b/records/m4/formal/m4-v2-soup/mlx-diag.score.json
  src/training/decision2/v2/06b/records/m4/readouts/m4-a2-soup.READOUT.json
  src/training/decision2/v2/06b/records/m4/readouts/m4-c-rs-s1.READOUT.json
  src/training/decision2/v2/06b/records/m4/readouts/m4-c-rs-s2.READOUT.json
  src/training/decision2/v2/06b/records/m4/readouts/m4-t-a7-s1.READOUT.json
  src/training/decision2/v2/06b/records/m4/readouts/m4-t-a7-s2.READOUT.json
  src/training/decision2/v2/06b/records/m4/readouts/m4-t-a7-s3.READOUT.json
  src/training/decision2/v2/06b/records/m4/readouts/m4-t-a7-soup.READOUT.json
  src/training/decision2/v2/06b/records/m4/readouts/m4-v2-s1.READOUT.json
  src/training/decision2/v2/06b/records/m4/readouts/m4-v2-s2.READOUT.json
  src/training/decision2/v2/06b/records/m4/readouts/m4-v2-s3.READOUT.json
  src/training/decision2/v2/06b/records/m4/readouts/m4-v2-soup.READOUT.json
Due: md-fmt

fix(decision2): screen MODEL_MANIFEST.json for private text before a package is sealed
  src/training/decision2/v2/release/build.py
  src/training/decision2/v2/release/tests/test_release.py
Due: none

research(decision2): 9B M3 amendment 2 (arm D: E8F-style full fine-tuning on full-M + A7 + v1)
  src/training/decision2/v2/9b/lux9b/m3/wave3.sh
  src/training/decision2/v2/9b/lux9b/m3_data.py
  src/training/decision2/v2/9b/lux9b/specs/m3-d-full-M-a7-v1.json
  src/training/decision2/v2/9b/records/lux9b-m3-prereg-amendment-2-2026-09-28.md
  src/training/decision2/v2/9b/tests/test_m3_data.py
Due: md-fmt

research(decision2): DEV2.0-0.8B release spec and build-time draft decision
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/DEV2.0-0.8B.decision.build-draft.json
  src/training/decision2/v2/release/specs/dev2-0p8b-release.json
Due: none

docs(decision2): sync sanitized program docs (COORDINATION, STATUS)
  src/training/decision2/v2/program/COORDINATION.md
  src/training/decision2/v2/program/STATUS.md
Due: md-fmt

research(decision2): record published AutoJev-27B targets AJ-M, AJ-A0s (pk1), AJ-SL (node A)
  src/training/decision2/v2/data/records/m3a-autojev-targets-2026-09-28.md
  src/training/decision2/v2/data/records/m3a-summary-2026-09-28.md
  src/training/decision2/v2/data/records/m3a/autojev27/A0s-train.report.json
  src/training/decision2/v2/data/records/m3a/autojev27/aj-m.report.json
  src/training/decision2/v2/data/records/m3a/autojev27/aj-sl.report.json
Due: md-fmt

fix(decision2): give the DEV2.0-0.8B Qwen licence copy a .txt name the package screen accepts
  src/training/decision2/v2/release/specs/dev2-0p8b-release.json
Due: none

research(decision2): decoder M3 preregistration (2B/4B full fine-tuning on v2 full-M + A7 retention, own-1.0 trust region vs AutoJev targets; 0.8B release support)
  src/training/decision2/v2/dec/merge_labels.py
  src/training/decision2/v2/dec/records/dec-m3-0p8b-release-support-2026-09-28.md
  src/training/decision2/v2/dec/records/dec-m3-prereg-2026-09-28.md
  src/training/decision2/v2/dec/teacher_label.py
  src/training/decision2/v2/dec/tests/test_dec.py
Due: md-fmt

feat(decision2): card runtime sentence can state the verified device scope
  src/training/decision2/v2/release/card.py
  src/training/decision2/v2/release/tests/test_release.py
Due: none

research(decision2): DEV2.0-0.8B card states GPU-verified runtime, CPU limit and seed recipe
  src/training/decision2/v2/release/specs/dev2-0p8b-release.json
Due: none

[Docs] Mark DASHBOARD_SETUP_MODE deprecated in the runtime-configuration table (#4322)
  dashboard/README.md
Due: md-fmt

research(decision2): preregister M3b (A0s-strict, XL release recipes, own-Lux XL targets) and add builders
  src/training/decision2/v2/data/m3/strict.py
  src/training/decision2/v2/data/m3/xl.py
  src/training/decision2/v2/data/records/m3b-prereg-2026-09-28.md
  src/training/decision2/v2/data/tests/test_m3.py
Due: md-fmt

feat(decision2): decoder M3 0.8B follow-up mixture spec (E8F data with A7 v3 + pk1 A0s, plus the v2 full-M pools)
  src/training/decision2/v2/dec/specs/m3-e8f-v2m.json
Due: none

research(decision2): M3b amendment 1 - XL English cap shares and target-reusing group order
  src/training/decision2/v2/data/m3/xl.py
  src/training/decision2/v2/data/records/m3b-prereg-amendment-1-2026-09-28.md
Due: md-fmt

research(decision2): decoder M3 amendment 1 (0.8B follow-up E8V = E8F recipe + v2 full-M pools, three seeds)
  src/training/decision2/v2/dec/records/dec-m3-amendment-1-2026-09-28.md
Due: md-fmt

feat(decision2): DEV2.0-0.6B release spec and a row-for-row pk1 check for builder-renumbered base rows
  src/training/decision2/v2/release/pk1_rows.py
  src/training/decision2/v2/release/specs/dev2-0p6b-release.json
  src/training/decision2/v2/release/tests/test_pk1_rows.py
Due: none

research(decision2): DEV2.0-0.6B pk1 row-for-row check (PASS) and build-time draft decision
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/DEV2.0-0.6B.decision.build-draft.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/pk1-rows.json
Due: none

research(decision2): DEV2.0-0.8B gate checks and JevArena-C1 scoring event 1; node-B comparator re-validation plan
  src/training/decision2/v2/eval/records/m4-dev2-08b-gates-and-c1-event1-2026-09-28.md
  src/training/decision2/v2/eval/records/m4-nodeB-revalidation-plan-2026-09-28.md
Due: md-fmt

feat(decision2): XL teacher prompt waves for rows without targets
  src/training/decision2/v2/data/m3/xl_prompts.py
Due: none

feat(decision2): frozen runner writes a named lease entry on a shared GPU; runtime probe records causal_conv1d
  src/training/decision2/v2/eval/run_same_panel.sh
  src/training/decision2/v2/eval/same_panel.py
Due: none

test(decision2): HTTP readback of a private release card's images, links and access
  src/training/decision2/v2/release/tests/hub_card_http_check.py
  src/training/decision2/v2/release/tests/test_release.py
Due: none

test(decision2): check private collection links through the collections API
  src/training/decision2/v2/release/tests/hub_card_http_check.py
Due: none

research(decision2): DEV2.0-0.6B card states the measured CPU difference and the harmless tokenizer warning
  src/training/decision2/v2/release/specs/dev2-0p6b-release.json
Due: none

feat(decision2): hub_links follows every card link and image on the Hub at the uploaded revision
  src/training/decision2/v2/release/hub_links.py
  src/training/decision2/v2/release/tests/test_hub_links.py
Due: none

fix(decision2): gate evaluate counts a successful hf download receipt
  src/training/decision2/v2/release/gate.py
  src/training/decision2/v2/release/hub.py
  src/training/decision2/v2/release/tests/test_release.py
Due: none

research(decision2): record 27B milestone 2 order amendment after the Score arm's seed-1 pass
  src/training/decision2/v2/27b/records/m2-prereg-2026-09-28.md
Due: md-fmt

research(decision2): 0.6B Milestone 5 preregistration part 1 (cross-soup, arms a-c, promotion rule) and builder/teacher-alignment tools
  src/training/decision2/v2/06b/m5_arm.sh
  src/training/decision2/v2/06b/m5_formal.sh
  src/training/decision2/v2/06b/mixture.py
  src/training/decision2/v2/06b/records/arms/m5-x-soup.json
  src/training/decision2/v2/06b/records/m5-prereg-2026-09-28.md
  src/training/decision2/v2/06b/records/mixtures/m5-mix-a.json
  src/training/decision2/v2/06b/records/mixtures/m5-mix-b.json
  src/training/decision2/v2/06b/teacher_align.py
  src/training/decision2/v2/06b/tests/test_mixture_s2.py
Due: md-fmt

research(decision2): record 27B milestone 2 seed-1 Score-arm pass
  src/training/decision2/v2/27b/records/m2-results-2026-09-28.md
Due: md-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
