Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

[CI/Build] Avoid failing Mergify check before approval
  .mergify.yml
Due: yaml-and-yml-fmt

[Router] authenticate the internal looper leg trust boundary
  src/semantic-router/pkg/config/canonical_global.go
  src/semantic-router/pkg/config/runtime_config.go
  src/semantic-router/pkg/config/runtime_config_test.go
  src/semantic-router/pkg/extproc/processor_req_body_full_duplex_test.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_req_header_test.go
  src/semantic-router/pkg/extproc/req_filter_internal_trust.go
  src/semantic-router/pkg/extproc/req_filter_internal_trust_test.go
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/looper/client.go
  src/semantic-router/pkg/looper/client_forward_auth_test.go
  src/semantic-router/pkg/looper/internal_auth.go
Due: go-fmt

[Docs] fix markdownlint MD032 in complexity tutorial
  website/docs/tutorials/signal/learned/complexity.md
Due: md-fmt

[Router] strip looper trust headers from the wire, not just in memory
  deploy/local/envoy.yaml
  docs/architecture/security-hardening.md
  src/semantic-router/pkg/config/canonical_defaults.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/req_filter_internal_trust.go
  src/semantic-router/pkg/extproc/req_filter_internal_trust_test.go
  src/semantic-router/pkg/looper/internal_auth.go
  src/vllm-sr/cli/templates/envoy.template.yaml
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Router] warn on a short internal looper auth secret
  src/semantic-router/pkg/looper/internal_auth.go
Due: go-fmt

[Bindings] cache complexity classifier init error
  candle-binding/semantic-router.go
Due: go-fmt

[Router] validate complexity method and require model-mode classifier config
  src/semantic-router/pkg/classification/classifier_option_backends.go
  src/semantic-router/pkg/config/validator_complexity.go
  src/semantic-router/pkg/config/validator_complexity_test.go
Due: go-fmt

[Router] validate complexity mapping labels and index coverage
  src/semantic-router/pkg/classification/classifier_complexity_model_test.go
  src/semantic-router/pkg/classification/mapping.go
Due: go-fmt

[Router] drop unused module-level complexity classifier threshold
  config/config.yaml
  src/semantic-router/pkg/config/model_config_types.go
  website/docs/tutorials/signal/learned/complexity.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[CLI] add method to complexity rule and make hard/easy conditional
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_complexity_rule.py
Due: none

[Docs] document complexity method: model in canonical config docs
  config/config.yaml
  website/docs/installation/configuration.md
Due: md-fmt, yaml-and-yml-fmt

[Docs] Add balance preset README (part of #2378) Document the maintained balance routing preset with route order, model assumptions, run/eval commands, and customization points.
  deploy/recipes/README.md
  deploy/recipes/balance/README.md
Due: md-fmt

[Router] enforce forward-auth per-leg, not decision-wide
  src/semantic-router/pkg/config/authorization_forwarding.go
  src/semantic-router/pkg/config/canonical_loader_test.go
  src/semantic-router/pkg/extproc/processor_req_body_forward_auth_test.go
  src/semantic-router/pkg/extproc/req_filter_looper.go
Due: go-fmt

[Router][CLI] complete the forward-auth config contract
  src/semantic-router/pkg/config/canonical_config.go
  src/semantic-router/pkg/config/canonical_loader_test.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_forward_authorization_header.py
Due: go-fmt

[Router][CLI] round-trip forward_authorization_header on export and migration
  src/semantic-router/pkg/config/canonical_export.go
  src/semantic-router/pkg/config/canonical_loader_test.go
  src/vllm-sr/cli/config_migration.py
  src/vllm-sr/tests/test_forward_authorization_header.py
Due: go-fmt

[Bench] add halugate pipeline baseline eval and detector comparison results
  bench/hallucination/README.md
  bench/hallucination/evaluate_halugate.py
Due: md-fmt

[Bench] add standalone hallucination detector benchmark
  bench/hallucination/evaluate_detectors.py
Due: none

[Router] make inbound-Authorization strip opt-in, default unchanged
  config/config.yaml
  src/semantic-router/pkg/config/canonical_export.go
  src/semantic-router/pkg/config/canonical_global.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/extproc/processor_req_body_strip_auth_test.go
  src/semantic-router/pkg/extproc/req_filter_skip_processing.go
  src/semantic-router/pkg/extproc/req_filter_skip_processing_test.go
  website/docs/installation/configuration.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[E2E] register a forward-authorization acceptance gate
  .github/workflows/ci-changes.yml
  .github/workflows/integration-test-k8s.yml
  e2e/profiles/all/imports.go
  e2e/profiles/forward-auth/gateway-resources/backend.yaml
  e2e/profiles/forward-auth/gateway-resources/gwapi-resources.yaml
  e2e/profiles/forward-auth/profile.go
  e2e/profiles/forward-auth/values.yaml
  e2e/testcases/forward_authorization.go
  src/semantic-router/pkg/config/maintained_asset_contract_test.go
Due: go-fmt, yaml-and-yml-fmt

[E2E][Router] register forward-auth in the harness inventory; fix comment drift
  e2e/README.md
  e2e/profiles/forward-auth/gateway-resources/gwapi-resources.yaml
  e2e/profiles/forward-auth/profile.go
  src/semantic-router/pkg/looper/internal_auth.go
  tools/agent/e2e-profile-map.yaml
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(rag): validate external API templates safely
  config/README.md
  src/semantic-router/pkg/config/env_substitution.go
  src/semantic-router/pkg/config/env_substitution_test.go
  src/semantic-router/pkg/config/rag_external_api_loader_test.go
  src/semantic-router/pkg/config/rag_external_api_template.go
  src/semantic-router/pkg/config/rag_external_api_template_test.go
  src/semantic-router/pkg/config/rag_plugin_backends.go
  src/semantic-router/pkg/config/rag_plugin_test.go
  src/semantic-router/pkg/config/rag_plugin_validation.go
  src/semantic-router/pkg/extproc/req_filter_rag_external.go
  src/semantic-router/pkg/extproc/req_filter_rag_external_test.go
  tools/agent/e2e-profile-map.yaml
  website/docs/installation/configuration.md
  website/docs/proposals/unified-config-contract-v0-3.md
  website/docs/tutorials/plugin/rag.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Router][CI/Build] fix CI: suppress gosec G101 on env-var name; copy pkg/headers into dashboard build
  dashboard/backend/Dockerfile
  src/semantic-router/pkg/looper/internal_auth.go
Due: go-fmt

[Router] fix deepseek official thinking mode (#2175)
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/extproc/req_filter_provider_dialect.go
  src/semantic-router/pkg/extproc/req_filter_provider_dialect_test.go
  src/semantic-router/pkg/extproc/req_filter_reason.go
  src/semantic-router/pkg/extproc/req_filter_reason_deepseek_test.go
  src/semantic-router/pkg/extproc/req_filter_reason_test.go
  src/semantic-router/pkg/extproc/req_filter_request_params.go
  src/semantic-router/pkg/extproc/req_filter_request_params_test.go
Due: go-fmt

fix(rag): align external API request formats
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_plugin_parsing.py
  src/vllm-sr/tests/test_plugin_tool_selection.py
Due: none

fix: address maintainer feedback on native runtime contract (Phase 1)
  src/semantic-router/pkg/modelruntime/native/adapter.go
  src/semantic-router/pkg/modelruntime/native/ffi_layout_test.go
  src/semantic-router/pkg/modelruntime/native/registry.go
  src/semantic-router/pkg/modelruntime/native/registry_test.go
  src/semantic-router/pkg/modelruntime/native/request.go
Due: go-fmt

feat: migrate Candle adapter and Rust registry (Phase 2)
  candle-binding/src/ffi/state_manager.rs
  candle-binding/src/registry.rs
  src/semantic-router/pkg/modelruntime/native/candle/adapter.go
Due: go-fmt, cargo-fmt, cargo-check

fix: resolve nil pointer panic in tests and fix trailing whitespace
  src/semantic-router/pkg/modelruntime/native/adapter.go
  src/semantic-router/pkg/modelruntime/native/candle/adapter.go
  src/semantic-router/pkg/modelruntime/native/registry.go
  src/semantic-router/pkg/modelruntime/native/request.go
  src/semantic-router/pkg/modelruntime/native/taxonomy.go
Due: go-fmt

fix: export registry module in lib.rs
  candle-binding/src/lib.rs
Due: cargo-fmt, cargo-check

test: update hallucination backend validation test case and document new e2e coverage requirements
  candle-binding/semantic-router.go
  candle-binding/semantic-router_mock.go
  config/README.md
  deploy/kubernetes/hallucination/gwapi-resources.yaml
  e2e/README.md
  e2e/config/README.md
  e2e/pkg/cluster/kind.go
  e2e/testcases/hallucination_detection.go
  src/semantic-router/pkg/classification/hallucination_detector_endpoint.go
  src/semantic-router/pkg/classification/hallucination_detector_endpoint_test.go
  src/semantic-router/pkg/classification/hallucination_detector_nli.go
  src/semantic-router/pkg/config/validator_hallucination.go
  src/semantic-router/pkg/config/validator_hallucination_test.go
  website/docs/installation/configuration.md
  website/docs/proposals/unified-config-contract-v0-3.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Router][CI/Build] fix ruff I001 import sorting in forward-auth CLI test
  src/vllm-sr/tests/test_forward_authorization_header.py
Due: none

test: update hallucination detection test case to reference George Washington
  e2e/testcases/testdata/hallucination_detection_cases.json
Due: none

fix: address Phase 2 maintainer review
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/embedding.rs
  candle-binding/src/ffi/generative_classifier.rs
  candle-binding/src/ffi/generative_guard.rs
  candle-binding/src/ffi/init.rs
  candle-binding/src/ffi/similarity.rs
  candle-binding/src/ffi/state_manager.rs
  candle-binding/src/ffi/tokenization.rs
  candle-binding/src/lib.rs
  candle-binding/src/model_architectures/traditional/bert.rs
  candle-binding/src/model_architectures/traditional/deberta_v3.rs
  candle-binding/src/model_architectures/traditional/modernbert.rs
  candle-binding/src/registry.rs
  src/semantic-router/pkg/modelruntime/native/candle/adapter.go
Due: go-fmt, cargo-fmt, cargo-check

feat: implement ONNX and OpenVINO native adapters (Phase 3)
  src/semantic-router/pkg/modelruntime/native/onnx/adapter.go
  src/semantic-router/pkg/modelruntime/native/openvino/adapter.go
Due: go-fmt

fix: address Phase 3 maintainer review
  src/semantic-router/pkg/modelruntime/native/onnx/adapter.go
  src/semantic-router/pkg/modelruntime/native/onnx/adapter_test.go
  src/semantic-router/pkg/modelruntime/native/openvino/adapter.go
  src/semantic-router/pkg/modelruntime/native/openvino/adapter_test.go
Due: go-fmt

fix: resolve test compilation errors
  candle-binding/semantic-router_mock.go
  src/semantic-router/pkg/modelruntime/native/candle/adapter.go
  src/semantic-router/pkg/modelruntime/native/onnx/adapter_test.go
  src/semantic-router/pkg/modelruntime/native/openvino/adapter_test.go
Due: go-fmt

feat: migrate embedding model info route to native registry (Phase 4)
  src/semantic-router/pkg/apiserver/route_model_info_embeddings.go
Due: go-fmt

fix: define NLIUnknown locally instead of referencing non-existent candle field
  src/semantic-router/pkg/classification/hallucination_detector_nli.go
Due: go-fmt

fix: address Phase 4 maintainer feedback
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/apiserver/route_model_info_embeddings.go
  src/semantic-router/pkg/apiserver/route_model_info_test.go
  src/semantic-router/pkg/modelruntime/native/adapter.go
  src/semantic-router/pkg/modelruntime/native/candle/adapter.go
  src/semantic-router/pkg/modelruntime/native/onnx/adapter.go
  src/semantic-router/pkg/modelruntime/native/openvino/adapter.go
Due: go-fmt

To resolve e2e and multi modal problems
  candle-binding/semantic-router.go
  candle-binding/semantic-router_mock.go
  e2e/pkg/testmatrix/testcases.go
  e2e/profiles/all/imports.go
  e2e/profiles/no-model/profile.go
  e2e/profiles/no-model/values.yaml
  e2e/testcases/service_readiness_503.go
  onnx-binding/semantic-router.go
  src/semantic-router/go.mod
  src/semantic-router/go.onnx.mod
  src/semantic-router/pkg/apiserver/route_embeddings.go
  src/semantic-router/pkg/apiserver/route_embeddings_test.go
  src/semantic-router/pkg/services/errors.go
  tools/agent/e2e-profile-map.yaml
Due: go-fmt, yaml-and-yml-fmt

To resolve e2e and multi modal problems
  .github/workflows/ci-changes.yml
  dashboard/backend/Dockerfile
  e2e/README.md
  tools/agent/repo-manifest.yaml
Due: md-fmt, yaml-and-yml-fmt
