Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

fix(e2e): add global.model_catalog.kbs: [] to dashboard profile
  e2e/profiles/dashboard/values.yaml
Due: yaml-and-yml-fmt

fix(e2e): replace fixed sleep with CRD Ready condition check in dynamic-config
  e2e/profiles/dynamic-config/profile.go
Due: go-fmt

ci: retry docker pull
  .github/workflows/integration-test-k8s.yml
  .github/workflows/test-and-build.yml
Due: yaml-and-yml-fmt

ci: disable auth for db
  e2e/profiles/dashboard/dashboard-deployment.yaml
Due: yaml-and-yml-fmt

docs: zh-Hans documentation about fleet-sim part
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/fleet-sim/dashboard-integration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/fleet-sim/getting-started.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/fleet-sim/guide.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/fleet-sim/overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/fleet-sim/power-model.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/fleet-sim/related-work.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/fleet-sim/sim-algorithms.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/fleet-sim/use-cases.md
Due: md-fmt

docs: zh-Hans documentation about fleet-sim part (#1676)
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/fleet-sim/dashboard-integration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/fleet-sim/getting-started.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/fleet-sim/guide.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/fleet-sim/overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/fleet-sim/power-model.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/fleet-sim/related-work.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/fleet-sim/sim-algorithms.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/fleet-sim/use-cases.md
Due: md-fmt

fix(request_params): precommit, metrics cardinality, and cap validation
  src/semantic-router/pkg/config/plugin_config.go
  src/semantic-router/pkg/extproc/req_filter_request_params.go
  src/semantic-router/pkg/extproc/req_filter_request_params_test.go
  src/semantic-router/pkg/observability/metrics/request_params_metrics.go
  website/docs/tutorials/plugin/request-params.md
Due: go-fmt, md-fmt

fix(cache): E2E poll for user-scoped hits; scope string + logging
  e2e/testcases/cache.go
  src/semantic-router/pkg/cache/cache.go
  src/semantic-router/pkg/cache/cache_user_scope_test.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
Due: go-fmt

fix(e2e): avoid PII false positives in user-scoped cache prompt
  e2e/testcases/cache.go
Due: go-fmt

fix(extproc): cache writes when auto-routing keeps MoM (no trackVSRDecision)
  src/semantic-router/pkg/extproc/processor_res_cache.go
  src/semantic-router/pkg/extproc/semantic_cache_scope.go
Due: go-fmt

fix(e2e): user-scoped cache probe uses psychology (semantic-cache enabled)
  e2e/testcases/cache.go
Due: go-fmt

fix(extproc): resolve x-authz-user-id case-insensitively for cache user scope
  src/semantic-router/pkg/extproc/user_id_dev.go
  src/semantic-router/pkg/extproc/user_id_header.go
  src/semantic-router/pkg/extproc/user_id_prod.go
  src/semantic-router/pkg/extproc/user_id_test.go
Due: go-fmt

docs: zh-Hans documentation about training and proposal part
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/Prism-153key.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/advanced-tool-filtering.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/agentic-memory.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/agentic-rag.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/multi-protocol-adaptor.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/unified-config-contract-v0-3.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/model-performance-eval.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/training-overview.md
Due: md-fmt

fix(cache): E2E fallback user header when authz header is stripped
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/values.yaml
  e2e/profiles/ai-gateway/values.yaml
  e2e/testcases/cache.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/user_id_header.go
  src/semantic-router/pkg/extproc/user_id_test.go
Due: go-fmt, yaml-and-yml-fmt

fix(cache): E2E cache user scope from OpenAI user field when env enabled
  e2e/profiles/ai-gateway/values.yaml
  e2e/testcases/cache.go
  src/semantic-router/pkg/extproc/user_id_header.go
  src/semantic-router/pkg/extproc/user_id_test.go
Due: go-fmt, yaml-and-yml-fmt

feat: add per-decision request parameter validation and stripping plugin (#1559)
  config/config.yaml
  config/plugin/request-params/budget-tier.yaml
  src/semantic-router/pkg/config/docs_contract_algorithm_plugin_test.go
  src/semantic-router/pkg/config/plugin_config.go
  src/semantic-router/pkg/config/reference_config_routing_surface_test.go
  src/semantic-router/pkg/config/routing_surface_catalog.go
  src/semantic-router/pkg/dsl/compiler.go
  src/semantic-router/pkg/dsl/decompiler.go
  src/semantic-router/pkg/dsl/dsl_test.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/extproc/req_filter_request_params.go
  src/semantic-router/pkg/extproc/req_filter_request_params_test.go
  src/semantic-router/pkg/observability/metrics/request_params_metrics.go
  website/docs/tutorials/plugin/overview.md
  website/docs/tutorials/plugin/request-params.md
  website/sidebars.ts
Due: go-fmt, md-fmt, yaml-and-yml-fmt

docs: zh-Hans documentation about training and proposal part (#1677)
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/Prism-153key.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/advanced-tool-filtering.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/agentic-memory.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/agentic-rag.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/multi-protocol-adaptor.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/unified-config-contract-v0-3.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/model-performance-eval.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/training-overview.md
Due: md-fmt

docs: zh-Hans documentation about intro and installation part
  website/docs/installation/k8s/operator.md
  website/docs/installation/milvus.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/configuration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/dynamo.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
Due: md-fmt

docs: zh-Hans documentation about api part
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/api/router.md
Due: md-fmt

revert: remove zh legacy doc
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/model-performance-eval.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/cookbook/classifier-tuning.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/cookbook/pii-policy.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/cookbook/vllm-endpoints.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/training/model-performance-eval.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/troubleshooting/common-errors.md
Due: md-fmt

refactor: break long functions in ft_qwen3_generative_lora.py to pass agent lint
  src/training/model_classifier/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
Due: none

style: apply black formatting to ft_qwen3_generative_lora.py
  src/training/model_classifier/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
Due: none

fix: use config.MustStructuredPayload for DecisionPlugin.Configuration in tests
  src/semantic-router/pkg/extproc/req_filter_cache_personalization_test.go
Due: go-fmt

fix: align struct fields in user_id_test.go and add cache scope debug logging
  src/semantic-router/pkg/extproc/user_id_header.go
  src/semantic-router/pkg/extproc/user_id_test.go
Due: go-fmt

fix: remove zh-Hans model-performance-eval.md to pass docs taxonomy test
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/model-performance-eval.md
Due: md-fmt

fix: prefix unused device variable to satisfy ruff RUF059
  src/training/model_classifier/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
Due: none

fix: embed SimilarityTracker in mock to satisfy CacheBackend interface
  src/semantic-router/pkg/extproc/req_filter_cache_personalization_test.go
Due: go-fmt

fix(authz-rbac): add JWT validation security fix for Issue #1447
  e2e/pkg/cluster/kind_scheduling.go
  e2e/pkg/framework/runner_lifecycle.go
  e2e/pkg/helm/deployer.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/authz-rbac/README.md
  e2e/profiles/authz-rbac/gateway-resources/gwapi-resources.yaml
  e2e/profiles/authz-rbac/profile.go
  e2e/profiles/authz-rbac/values.yaml
  e2e/testcases/authz_header_spoofing.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(e2e): satisfy codespell in deployer comment (reuse)
  e2e/pkg/helm/deployer.go
Due: go-fmt

fix(classification): honor authz.fail_open when identity header empty
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/authz-rbac/README.md
  e2e/profiles/authz-rbac/profile.go
  e2e/profiles/response-api-redis-cluster/values.yaml
  e2e/profiles/response-api-redis/values.yaml
  e2e/profiles/response-api/values.yaml
  src/semantic-router/pkg/classification/authz_fail_open.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_signal_eval.go
  tools/agent/structure-rules.yaml
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix: extract model/query before personalization skip in handleCaching
  src/semantic-router/pkg/extproc/req_filter_cache.go
Due: go-fmt

refactor: split long functions and trim docstrings to pass agent lint
  src/training/model_classifier/classifier_model_fine_tuning_lora/ft_linear_lora.py
  src/training/model_classifier/classifier_model_fine_tuning_lora/ft_linear_lora_consistency.py
  src/training/model_classifier/classifier_model_fine_tuning_lora/ft_qwen3_generative_lora.py
Due: none

fix: limit decisionWillPersonalize to per-decision plugins only
  src/semantic-router/pkg/extproc/req_filter_cache.go
Due: go-fmt
