Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

[Harness] model-runtime: Decision 1.0's ROCm golden answers are the shipped stack's own
  src/model-runtime/docs/records/decision1-parity.md
  src/model-runtime/vllm_sr_runtime/registry/golden_answers_decision1.json
Due: md-fmt

[Feature] Add Ministral 3 14B Instruct Model Card (#4111)
  config/catalog/resources/evaluations/single/mistral.yaml
  config/catalog/resources/models/single/mistral.yaml
  config/catalog/resources/providers/mistral.yaml
  config/catalog/resources/providers/vllm.yaml
  config/recipes/built-in/latest/catalog.yaml
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

[Bug] model-runtime: MIOpen picks convolution solvers without timing them, so cold processes agree
  src/model-runtime/tests/test_package_environment.py
  src/model-runtime/vllm_sr_runtime/__init__.py
Due: none

[Docs] model-runtime: design 12 lists MIOpen's find mode among the import-time defaults
  src/model-runtime/docs/design.md
Due: md-fmt

[Docs] model-runtime: Vela 2.0 parity on the router image's ROCm stack, MIOpen's find mode and the goldens kept
  src/model-runtime/docs/records/vela2-parity.md
Due: md-fmt

docs(decision2): sync sanitized program docs (COORDINATION)
  src/training/decision2/v2/program/COORDINATION.md
Due: md-fmt

[Bug] Keep single-condition decision rules intact on the Config page
  dashboard/frontend/e2e/config-decision-rules.spec.ts
  dashboard/frontend/src/pages/ConfigPageDecisionRulesEditor.test.tsx
  dashboard/frontend/src/pages/ConfigPageDecisionRulesEditor.tsx
  dashboard/frontend/src/pages/configPageDecisionFormSupport.ts
  dashboard/frontend/src/pages/configPageDecisionPreservation.test.ts
  dashboard/frontend/src/pages/configPageDecisionTable.tsx
  dashboard/frontend/src/pages/configPageSupport.ts
  dashboard/frontend/src/pages/topology/types.ts
  dashboard/frontend/src/pages/topology/utils/topologyParser.test.ts
  dashboard/frontend/src/pages/topology/utils/topologyParser.ts
Due: none

[Feature] Add DeepSeek V4.1 Flash to the model catalog (#4093)
  config/catalog/resources/evaluations/single/deepseek.yaml
  config/catalog/resources/models/single/deepseek.yaml
  config/catalog/resources/providers/deepseek.yaml
  config/catalog/resources/providers/vllm.yaml
  config/recipes/built-in/latest/catalog.yaml
  src/semantic-router/pkg/catalog/compiler_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

[Docs] model-runtime: Vela 2.0 4B / 9B ROCm records with MIOpen's FAST find mode
  src/model-runtime/docs/records/vela2-performance.md
  src/model-runtime/docs/records/vela2-reduced.json
Due: md-fmt

[Docs] Rewrite the Vela 2.0 post as a research article (#4580)
  website/blog/2026-10-06-vela-2-0-open-foundation-routing-models.md
  website/src/components/ArticleMedia/index.tsx
  website/static/img/blog/vela-2-0/evidence.png
  website/static/img/blog/vela-2-0/jev-index.png
  website/static/img/blog/vela-2-0/latency.png
  website/static/img/blog/vela-2-0/launch-poster.jpg
  website/static/img/blog/vela-2-0/router-tasks.png
  website/static/img/blog/vela-2-0/safety-family.png
  website/static/img/blog/vela-2-0/source/make_charts.py
  website/static/img/blog/vela2-training.png
  website/static/img/blog/vela2-your-labels.jpg
  website/static/videos/vela-2-0/vela-2-0-launch.mp4
Due: md-fmt

[Bug] Let the Embedding Models editor save the shipped config
  dashboard/frontend/e2e/remote-embedding-provider.spec.ts
  dashboard/frontend/src/pages/configPageEmbeddingModelsSupport.test.ts
  dashboard/frontend/src/pages/configPageEmbeddingModelsSupport.ts
  dashboard/frontend/src/pages/configPageEmbeddingStructuredSchema.ts
Due: none

[Build] model-runtime: the ROCm image serves with vLLM's ROCm PyTorch, which gives the released decoders' answers bit for bit
  src/vllm-sr/tests/test_router_dockerfile.py
  tools/docker/Dockerfile.extproc
Due: none

[Bug] Let the External Models editor save the shipped config
  dashboard/frontend/src/pages/configPageRouterStructuredSchema.test.ts
  dashboard/frontend/src/pages/configPageRouterStructuredSchema.ts
Due: none

Admit Gemini 3.1 Pro to the built-in model catalog (#4095)
  config/catalog/resources/evaluations/single/google.yaml
  config/catalog/resources/models/single/google.yaml
  config/catalog/resources/providers/gemini.yaml
  config/recipes/built-in/latest/catalog.yaml
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  src/semantic-router/pkg/config/canonical_catalog_capabilities_test.go
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

docs(jev): record Kai transport-read regression fix
  bench/jev/pilot-v0.1/PAIRED-REVIEW.md
  bench/jev/pilot-v0.1/kai/kai-run.md
Due: md-fmt

test(jev): declare shared HTTP fixture queue as ClassVar
  bench/jev/pilot-v0.1/tests/test_kai_runner.py
Due: none

Remove unused connector test lint suppression
  src/kv_connector/tests/vllm_connector_integration.py
Due: none

[Feature] Add fail-closed cross-model KV connector foundation
  src/kv_connector/README.md
  src/kv_connector/__init__.py
  src/kv_connector/paged_cache.py
  src/kv_connector/runtime.py
  src/kv_connector/tests/test_paged_cache.py
  src/kv_connector/tests/test_runtime.py
  src/kv_connector/tests/test_vllm_connector.py
  src/kv_connector/transform.py
  src/kv_connector/vllm_connector.py
  tools/agent/domains.yaml
  tools/make/models.mk
Due: md-fmt, yaml-and-yml-fmt

Keep optional vLLM check separate from training contracts
  src/kv_connector/README.md
  src/kv_connector/paged_cache.py
  src/kv_connector/runtime.py
  src/kv_connector/tests/vllm_connector_integration.py
  src/kv_connector/transform.py
Due: md-fmt

[Bug] Validate target layer count on verified mapper
  src/kv_connector/tests/test_vllm_connector.py
  src/kv_connector/vllm_connector.py
Due: none

[Bug] Mutate vLLM transfer config in connector test
  src/kv_connector/tests/test_vllm_connector.py
Due: none

[Docs] model-runtime records: the router on the shipped ROCm image (release PyTorch), five interleaved rounds
  src/model-runtime/docs/records/router-latency-rocm.json
  src/model-runtime/docs/records/router-latency-rocm.md
Due: md-fmt

[Feature] Add Cohere North Micro Vision Instruct model card (#4098)
  config/catalog/resources/evaluations/single/cohere.yaml
  config/catalog/resources/models/single/cohere.yaml
  config/catalog/resources/providers/vllm.yaml
  config/recipes/built-in/latest/catalog.yaml
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

[Docs] model-runtime: the ROCm image record and design 11 describe vLLM's ROCm PyTorch and the byte-identical answers
  src/model-runtime/docs/design.md
  src/model-runtime/docs/records/rocm-router-image.md
Due: md-fmt

[Feature] Add same-host KV mapper handoff probe
  src/kv_connector/README.md
  src/kv_connector/handoff.py
  src/kv_connector/paged_cache.py
  src/kv_connector/snapshot.py
  src/kv_connector/tests/test_handoff.py
Due: md-fmt

[Bug] Keep published KV snapshots immutable
  src/kv_connector/handoff.py
  src/kv_connector/snapshot.py
  src/kv_connector/tests/test_handoff.py
Due: none

test(kv): use vLLM cache layout in live connector fixture
  src/kv_connector/tests/test_vllm_live_connector.py
Due: none

Fix default Qwen3 RoPE metadata in live connector
  src/kv_connector/tests/test_vllm_live_connector.py
  src/kv_connector/vllm_connector.py
Due: none

test(kv): add model-backed mapper handoff probe
  src/kv_connector/model_probe.py
Due: none

docs(kv): describe connector setup and handoff directly
  src/kv_connector/README.md
Due: md-fmt

Keep optional vLLM check separate from training contracts
  src/kv_connector/README.md
  src/kv_connector/gpu_probe.py
  src/kv_connector/handoff.py
  src/kv_connector/paged_cache.py
  src/kv_connector/snapshot.py
  src/kv_connector/tests/vllm_live_connector_integration.py
  src/kv_connector/vllm_connector.py
Due: md-fmt

test(kv): use lint-compliant handoff test kwargs
  src/kv_connector/tests/test_handoff.py
Due: none

feat(kv): enable same-host vLLM mapper cache reuse
  src/kv_connector/README.md
  src/kv_connector/paged_cache.py
  src/kv_connector/tests/test_paged_cache.py
  src/kv_connector/tests/test_vllm_live_connector.py
  src/kv_connector/tests/vllm_connector_integration.py
  src/kv_connector/vllm_connector.py
Due: md-fmt

fix(kv): fail closed on unsafe snapshot and cache layouts
  src/kv_connector/README.md
  src/kv_connector/gpu_probe.py
  src/kv_connector/handoff.py
  src/kv_connector/model_probe.py
  src/kv_connector/paged_cache.py
  src/kv_connector/snapshot.py
  src/kv_connector/tests/test_handoff.py
  src/kv_connector/tests/test_paged_cache.py
  src/kv_connector/tests/test_vllm_live_connector.py
  src/kv_connector/tests/vllm_connector_integration.py
  src/kv_connector/vllm_connector.py
Due: md-fmt

[Bug] Verify tenant and cache identity at handoff
  src/kv_connector/handoff.py
  src/kv_connector/tests/test_handoff.py
Due: none

Preserve pinned model identity for offline vLLM loading
  src/kv_connector/tests/test_vllm_live_connector.py
  src/kv_connector/vllm_connector.py
Due: none

[Test] Probe published KV mapper across two GPUs
  src/kv_connector/README.md
  src/kv_connector/gpu_probe.py
Due: md-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
