Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

feat: support inferencepool v1
  deploy/kubernetes/ai-gateway/README.md
  deploy/kubernetes/ai-gateway/configuration/config.yaml
  deploy/kubernetes/ai-gateway/configuration/rbac.yaml
  deploy/kubernetes/ai-gateway/inference-pool/inference-pool.yaml
  website/docs/installation/kubernetes.md
Due: md-fmt, yaml-and-yml-fmt

add config viewer
  dashboard/backend/Dockerfile
  dashboard/backend/go.mod
  dashboard/backend/go.sum
  dashboard/backend/main.go
  dashboard/frontend/src/pages/ConfigPage.module.css
  dashboard/frontend/src/pages/ConfigPage.tsx
  deploy/docker-compose/docker-compose.yml
Due: go-fmt, yaml-and-yml-fmt

refine config
  dashboard/frontend/src/components/ConfigNav.module.css
  dashboard/frontend/src/components/ConfigNav.tsx
  dashboard/frontend/src/pages/ConfigPage.module.css
  dashboard/frontend/src/pages/ConfigPage.tsx
Due: none

docs(config): add accuracy/latency/token-efficiency recipes and guide
  config/RECIPES.md
  config/config.recipe-accuracy.yaml
  config/config.recipe-latency.yaml
  config/config.recipe-token-efficiency.yaml
  website/docs/installation/configuration.md
Due: md-fmt, yaml-and-yml-fmt

Add Semantc Rtr support for Istio-Envoy ExtProc gw
  deploy/kubernetes/istio/README.md
  deploy/kubernetes/istio/config.yaml
  deploy/kubernetes/istio/destinationrule.yaml
  deploy/kubernetes/istio/envoyfilter.yaml
  deploy/kubernetes/istio/httproute-llama3-8b.yaml
  deploy/kubernetes/istio/httproute-phi4-mini.yaml
  deploy/kubernetes/istio/kustomization.yaml
  deploy/kubernetes/istio/tools_db.json
  deploy/kubernetes/istio/vLlama3.yaml
  deploy/kubernetes/istio/vPhi4.yaml
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/request_handler.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat: publish and release dashboard image
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
  dashboard/README.md
  dashboard/backend/Dockerfile
  dashboard/deploy/kubernetes/deployment.yaml
  deploy/docker-compose/docker-compose.yml
  tools/make/docker.mk
Due: md-fmt, yaml-and-yml-fmt

fix lint
  src/semantic-router/pkg/extproc/request_handler.go
Due: go-fmt

feat: add dashboard landing page
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/pages/LandingPage.module.css
  dashboard/frontend/src/pages/LandingPage.tsx
  deploy/docker-compose/docker-compose.yml
  website/src/components/ChainOfThoughtTerminal.module.css
  website/src/components/ChainOfThoughtTerminal.tsx
  website/src/pages/index.module.css
  website/src/pages/index.tsx
Due: yaml-and-yml-fmt

more
  dashboard/frontend/src/pages/LandingPage.module.css
  dashboard/frontend/src/pages/LandingPage.tsx
Due: none

docs: Add the tag to the unclear mermaid diagrams
  website/docs/intro.md
  website/docs/overview/mixture-of-models.md
  website/docs/overview/semantic-router-overview.md
  website/docs/proposals/nvidia-dynamo-integration.md
  website/docs/proposals/prompt-classification-routing.md
Due: md-fmt

chore: add rootfs and yuluo-yx as website owners
  CODEOWNERS
  website/OWNER
Due: none

feat: add auto to online demo
  dashboard/frontend/src/pages/LandingPage.tsx
  website/src/components/ChainOfThoughtTerminal.tsx
  website/src/components/TypewriterCode.tsx
Due: none

infra: add golangci lint check
  .github/workflows/pre-commit.yml
  .github/workflows/test-and-build.yml
  Dockerfile.precommit
  tools/linter/go/.golangci.yml
  tools/make/build-run-test.mk
  tools/make/golang.mk
Due: yaml-and-yml-fmt

feat(dashboard): add comprehensive configuration editing UI
  dashboard/backend/main.go
  dashboard/frontend/src/components/ConfigNav.tsx
  dashboard/frontend/src/components/EditModal.module.css
  dashboard/frontend/src/components/EditModal.tsx
  dashboard/frontend/src/pages/ConfigPage.module.css
  dashboard/frontend/src/pages/ConfigPage.tsx
  deploy/docker-compose/docker-compose.yml
Due: go-fmt, yaml-and-yml-fmt

fi
  src/semantic-router/go.mod
  src/semantic-router/go.sum
Due: none

fix
  .github/workflows/test-and-build.yml
Due: yaml-and-yml-fmt

infra: add golang ci lint for precommit hook
  .pre-commit-config.yaml
Due: yaml-and-yml-fmt

fix test and build ci error
  src/semantic-router/go.mod
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/mmlu_categories_test.go
  tools/linter/go/.golangci.yml
Due: go-fmt, yaml-and-yml-fmt

infra: add tx and tsx support for precommit hook
  .pre-commit-config.yaml
Due: yaml-and-yml-fmt

fix: fix precommit parallel golangci-lint run error
  .pre-commit-config.yaml
Due: yaml-and-yml-fmt

update README
  dashboard/README.md
  dashboard/frontend/src/pages/MonitoringPage.tsx
Due: md-fmt

update README & delete network config
  Dockerfile.extproc
  dashboard/README.md
  deploy/docker-compose/docker-compose.yml
Due: md-fmt, yaml-and-yml-fmt

add owner
  dashboard/OWNER
Due: none

add dashboard demo to k8s
  dashboard/README.md
  dashboard/deploy/kubernetes/deployment.yaml
Due: md-fmt, yaml-and-yml-fmt

feat(dashboard): enhance UI with navigation improvements and layout optimizations
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/EditModal.tsx
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/ConfigPage.module.css
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/MonitoringPage.tsx
  dashboard/frontend/src/pages/PlaygroundPage.tsx
Due: none

add Xunzhuo to owner
  dashboard/OWNER
Due: none

feat: enable system prompt inject from mcp server based classifier
  config/config-mcp-classifier-example.yaml
  examples/mcp-classifier-server/README.md
  examples/mcp-classifier-server/server.py
  src/semantic-router/pkg/connectivity/mcp/api/types.go
  src/semantic-router/pkg/utils/classification/classifier.go
  src/semantic-router/pkg/utils/classification/mapping.go
  src/semantic-router/pkg/utils/classification/mcp_classifier.go
  src/semantic-router/pkg/utils/classification/mcp_classifier_test.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat: add topology for vllm dash
  dashboard/frontend/package-lock.json
  dashboard/frontend/package.json
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/ConfigNav.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/TopologyPage.module.css
  dashboard/frontend/src/pages/TopologyPage.tsx
  website/src/components/AcknowledgementsSection/data.json
Due: none

update paper
  website/docusaurus.config.ts
  website/src/components/TypewriterCode.module.css
  website/src/css/custom.css
  website/src/pages/publications.js
  website/src/pages/publications.module.css
Due: js-lint

more
  website/src/components/ChainOfThoughtTerminal.tsx
Due: none

docs: add missing observability articles to sidebar
  website/docs/tutorials/observability/metrics.md
  website/docs/tutorials/observability/tracing-quickstart.md
  website/sidebars.ts
Due: md-fmt

refactor(config): remove models field from vLLM endpoints
  config/config-mcp-classifier-example.yaml
  config/config.development.yaml
  config/config.e2e.yaml
  config/config.production.yaml
  config/config.recipe-accuracy.yaml
  config/config.recipe-latency.yaml
  config/config.recipe-token-efficiency.yaml
  config/config.testing.yaml
  config/config.yaml
  config/examples/system_prompt_example.yaml
  dashboard/frontend/src/pages/ConfigPage.tsx
  deploy/kubernetes/config.yaml
  deploy/kubernetes/istio/config.yaml
  deploy/openshift/config-openshift.yaml
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/validation_test.go
  src/semantic-router/pkg/extproc/endpoint_selection_test.go
  src/semantic-router/pkg/extproc/models_endpoint_test.go
  src/semantic-router/pkg/extproc/test_utils_test.go
Due: go-fmt, yaml-and-yml-fmt

more
  website/docs/tutorials/semantic-cache/in-memory-cache.md
  website/docs/tutorials/semantic-cache/milvus-cache.md
Due: md-fmt

refactor(config): move reasoning fields from Category to ModelScore
  config/config.e2e.yaml
  dashboard/frontend/src/pages/ConfigPage.tsx
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/reason_mode_config_test.go
  src/semantic-router/pkg/extproc/reason_mode_selector.go
  src/semantic-router/pkg/extproc/reasoning_integration_test.go
  src/semantic-router/pkg/extproc/request_handler.go
  src/training/model_eval/result_to_config.py
Due: go-fmt, yaml-and-yml-fmt

fix(test): move ReasoningEffort to ModelScore in classification test
  src/semantic-router/pkg/utils/classification/generic_category_mapping_test.go
Due: go-fmt

fix
  src/semantic-router/pkg/utils/entropy/entropy.go
Due: go-fmt

fix
  CODEOWNERS
Due: none
