Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

[Feature] Admit Hunyuan 7B Instruct to the Model Card catalog
  config/catalog/README.md
  config/catalog/resources/evaluations/single/tencent.yaml
  config/catalog/resources/models/single/tencent.yaml
  config/catalog/resources/providers/vllm.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Feature] Add the ERNIE 4.5 21B A3B Model Card
  config/catalog/README.md
  config/catalog/resources/evaluations/single/baidu.yaml
  config/catalog/resources/models/single/baidu.yaml
  config/catalog/resources/providers/baidu-ai-studio.yaml
  config/catalog/resources/providers/vllm.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

test(decision): pin bounded timed archive sizes
  bench/decision_runtime/test_semantic.py
Due: none

test(decision): align drun default queue assertion
  src/vllm-sr/tests/test_decision_drun_catalog_adapter.py
Due: none

[Feature] Add GPT-5.4 mini to the model catalog
  config/catalog/README.md
  config/catalog/resources/evaluations/single/openai.yaml
  config/catalog/resources/models/single/openai.yaml
  config/catalog/resources/providers/openai.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Feature] Add Phi-4-reasoning-plus to the Model Card catalog
  config/catalog/README.md
  config/catalog/resources/evaluations/single/microsoft.yaml
  config/catalog/resources/models/single/microsoft.yaml
  config/catalog/resources/providers/vllm.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(decision): bound row credits through backend drain
  src/vllm-sr/decision_runtime/api.py
  src/vllm-sr/decision_runtime/physical_batching.py
  src/vllm-sr/decision_runtime/row_executor.py
  src/vllm-sr/decision_runtime/runtime_factory.py
  src/vllm-sr/decision_runtime/scheduler.py
  src/vllm-sr/tests/test_decision_physical_batching.py
  src/vllm-sr/tests/test_decision_runtime_api.py
  src/vllm-sr/tests/test_decision_runtime_engine.py
  src/vllm-sr/tests/test_decision_runtime_server.py
Due: none

fix(decision): queue bursty drun requests behind row credits
  src/vllm-sr/cli/decision_runtime/catalog_adapter.py
  src/vllm-sr/tests/test_decision_drun_catalog_adapter.py
Due: none

fix(decision): hard floor every paired throughput cell
  tools/ci/decision-perf-release-gate.md
  tools/ci/decision_perf_release_gate.py
  tools/ci/tests/test_decision_perf_release_gate.py
Due: md-fmt

fix(decision): bind c1 throughput to timed semantic evidence
  bench/decision_runtime/README.md
  bench/decision_runtime/semantic_runner.py
  bench/decision_runtime/test_semantic.py
  tools/ci/decision-perf-release-gate.md
  tools/ci/decision_perf_release_gate.py
  tools/ci/decision_timed_semantics.py
  tools/ci/tests/test_decision_perf_release_gate.py
Due: md-fmt

fix(decision): bind new timed arrivals to own audit
  bench/decision_runtime/README.md
  bench/decision_runtime/semantic_arrival_parity.py
  bench/decision_runtime/test_semantic_arrivals.py
Due: md-fmt

feat(decision): add paired fixed-arrival benchmark mode
  bench/decision_runtime/README.md
  bench/decision_runtime/semantic_arrivals.py
  bench/decision_runtime/semantic_runner.py
  bench/decision_runtime/test_semantic_arrivals.py
Due: md-fmt

feat(decision): validate paired arrival timed semantics
  bench/decision_runtime/README.md
  bench/decision_runtime/semantic_arrival_parity.py
  bench/decision_runtime/semantic_arrivals.py
  bench/decision_runtime/test_semantic_arrivals.py
Due: md-fmt

[Feature] Add StepFun Step 5 Preview Model Card
  config/catalog/README.md
  config/catalog/resources/evaluations/single/stepfun.yaml
  config/catalog/resources/models/single/stepfun.yaml
  config/catalog/resources/providers/stepfun.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Feature] Admit Amazon Nova Lite to the built-in catalog
  config/catalog/README.md
  config/catalog/resources/evaluations/single/amazon.yaml
  config/catalog/resources/models/single/amazon.yaml
  config/catalog/resources/providers/bedrock.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

test(decision): include arrival benchmark in focused target
  tools/make/docker.mk
Due: none

test(decision): cover all runtime and drun contracts in focused target
  tools/make/docker.mk
Due: none

fix(decision): attest release scheduler row-credit policy
  tools/ci/decision-perf-release-gate.md
  tools/ci/decision-rocm-qualification.md
  tools/ci/decision_perf_release_gate.py
  tools/ci/decision_perf_release_producer.py
  tools/ci/decision_rocm_qualify.py
  tools/ci/tests/test_decision_perf_release_gate.py
  tools/ci/tests/test_decision_perf_release_producer.py
  tools/ci/tests/test_decision_rocm_qualify.py
Due: md-fmt

test(decision): align graph cancellation test with row executor
  src/vllm-sr/tests/test_decision_qwen35_rocm_graph.py
Due: none

[Feature] Add the Grok 4.7 Model Card to the built-in catalog
  config/catalog/README.md
  config/catalog/resources/evaluations/single/xai.yaml
  config/catalog/resources/models/single/xai.yaml
  config/catalog/resources/providers/xai.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  src/semantic-router/pkg/config/canonical_router_replay_test.go
  tools/catalog/tests/test_generate_model_catalog.py
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Bug] Point the Seed2.0 Pro Ark mapping at a live Volcengine doc
  config/catalog/resources/providers/volcengine-ark.yaml
  config/recipes/built-in/latest/catalog.yaml
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

fix(e2e): match the byte-limit error the runtime actually emits
  e2e/testcases/rag_external_api.go
Due: go-fmt

test(decision): patch active benchmark module for archive bounds
  bench/decision_runtime/test_semantic.py
Due: none

fix(bench): align looper executor with repository lint rules
  bench/looper_tts/accounting.py
  bench/looper_tts/executor.py
  bench/looper_tts/test_accounting.py
  bench/looper_tts/test_executor.py
Due: none

docs(decision): distinguish local validation images from release digests
  src/vllm-sr/decision_runtime/image/README.md
Due: md-fmt

[Docs] Add layer examples to the homepage comparison
  website/docs/installation/k8s/gateway-testing.md
  website/docs/installation/k8s/gateways.md
  website/docs/installation/k8s/llm-d.md
  website/docs/overview/semantic-router-overview.md
  website/src/pages/index.tsx
Due: md-fmt

[Feature] Add Ministral 3 14B Instruct Model Card
  config/catalog/README.md
  config/catalog/resources/evaluations/single/mistral.yaml
  config/catalog/resources/models/single/mistral.yaml
  config/catalog/resources/providers/mistral.yaml
  config/catalog/resources/providers/vllm.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Use the Bedrock output limit for the Nova Lite card
  config/catalog/resources/models/single/amazon.yaml
  config/recipes/built-in/latest/catalog.yaml
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

[Feature] Validate judge verdicts and report position bias per pair
  src/semantic-router/pkg/shadowdataset/judgments.go
  src/semantic-router/pkg/shadowdataset/judgments_test.go
Due: go-fmt

fix(decision): accept protected prerelease refs for image promotion
  tools/ci/decision_rocm_promotion.py
  tools/ci/tests/test_decision_rocm_promotion.py
Due: none

feat: admit Ai2 OLMo models to catalog (#3605)
  config/catalog/README.md
  config/catalog/manifest.yaml
  config/catalog/resources/benchmarks.yaml
  config/catalog/resources/evaluations/single/ai2.yaml
  config/catalog/resources/models/single/ai2.yaml
  config/catalog/resources/providers/vllm.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  tools/catalog/tests/test_generate_model_catalog.py
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix: satisfy OLMo catalog CI checks
  dashboard/frontend/src/pages/modelHubArenaSupport.test.ts
  tools/catalog/tests/test_generate_model_catalog.py
Due: none

fix: withhold estimated OLMo anchor results
  config/catalog/resources/evaluations/single/ai2.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/frontend/src/pages/modelHubArenaSupport.test.ts
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  tools/catalog/tests/test_generate_model_catalog.py
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

fix(decision): qualify published CPU image before release lock
  .github/workflows/decision-qualified-package.yml
  .github/workflows/pypi-publish.yml
  src/vllm-sr/decision_runtime/image/README.md
  tools/ci/decision_cpu_qualify.py
  tools/ci/decision_cpu_receipt.py
  tools/ci/decision_image_lock_release.py
  tools/ci/tests/test_decision_cpu_qualify.py
  tools/ci/tests/test_decision_image_lock_release.py
  tools/ci/tests/test_decision_release_workflow.py
Due: md-fmt, yaml-and-yml-fmt

[Feature] Serve blinded judge tasks from the replay dataset
  e2e/profiles/router-replay/profile.go
  e2e/profiles/router-replay/values.yaml
  e2e/testcases/shadow_dataset_judge_tasks.go
  src/semantic-router/pkg/apiserver/route_router_replay.go
  src/semantic-router/pkg/extproc/router_replay_api.go
  src/semantic-router/pkg/extproc/router_replay_dataset.go
  src/semantic-router/pkg/extproc/router_replay_judge_tasks.go
  src/semantic-router/pkg/extproc/router_replay_judge_tasks_test.go
  website/docs/api/apiserver.md
  website/docs/tutorials/plugin/shadow-dispatch.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/plugin/shadow-dispatch.md
  website/static/openapi/apiserver/apiserver.openapi.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(decision): clean partial ROCm qualification launches
  tools/ci/decision_rocm_qualify.py
  tools/ci/tests/test_decision_rocm_qualify.py
Due: none

fix(dashboard): isolate training job artifacts (#4083)
  dashboard/backend/mlpipeline/runner.go
  dashboard/backend/mlpipeline/runner_http.go
  dashboard/backend/mlpipeline/runner_subprocess_train.go
  dashboard/backend/mlpipeline/runner_train_isolation_test.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
