Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

feat(installer): simplify post-install next steps
  install.sh
Due: none

feat(installer): auto-start the first local session
  install.sh
  website/docs/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/installation.md
Due: md-fmt

style(installer): simplify terminal header
  install.sh
Due: none

fix(installer): simplify first-run install UX
  install.sh
  website/docs/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/installation.md
Due: md-fmt

fix(installer): quiet first-run serve logs
  install.sh
Due: none

style(installer): enlarge terminal wordmark
  install.sh
Due: none

style(installer): align first-run logging
  install.sh
Due: none

style(installer): simplify final ready output
  install.sh
Due: none

style(installer): use unicode block wordmark
  install.sh
Due: none

style(installer): use literal block logo
  install.sh
Due: none

style(installer): show env in block logo
  install.sh
Due: none

style(installer): enlarge sr wordmark
  install.sh
Due: none

Revert "build: include both candle and ONNX bindings in container image (#1463)"
  src/vllm-sr/Dockerfile
  src/vllm-sr/start-router.sh
Due: none

style(installer): refine block sr glyphs
  install.sh
Due: none

style(installer): drop logo env sidecar
  install.sh
Due: none

style(installer): simplify vllm header
  install.sh
Due: none

style(cli): align serve banner with installer
  src/vllm-sr/cli/logo.py
  src/vllm-sr/tests/test_logo.py
Due: none

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Due: none

fix release versioning and publish tags
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
  .github/workflows/helm-publish.yml
  .github/workflows/operator-ci.yml
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  deploy/helm/semantic-router/Chart.yaml
  deploy/helm/semantic-router/templates/configmap.yaml
  deploy/helm/semantic-router/values.yaml
  src/vllm-sr/cli/__init__.py
  src/vllm-sr/cli/consts.py
  src/vllm-sr/cli/templates/router-defaults.yaml
  src/vllm-sr/pyproject.toml
  src/vllm-sr/tests/test_cli_main.py
  src/vllm-sr/uv.lock
Due: yaml-and-yml-fmt

fix release publish workflow failures
  .github/workflows/publish-crate.yml
  .github/workflows/pypi-publish.yml
  candle-binding/Cargo.toml
  candle-binding/tests/classification_output_demo.rs
  candle-binding/tests/qwen3_classification_api_test.rs
Due: yaml-and-yml-fmt, cargo-fmt, cargo-check

onboard eval
  src/training/model_eval/onboard_eval.py
Due: none

onboard eval modelize
  src/training/model_eval/onboard/__init__.py
  src/training/model_eval/onboard/arc_eval.py
  src/training/model_eval/onboard/constants.py
  src/training/model_eval/onboard/evaluator.py
  src/training/model_eval/onboard/mmlu_eval.py
  src/training/model_eval/onboard/report.py
  src/training/model_eval/onboard/system_eval.py
  src/training/model_eval/onboard/types.py
Due: none

feat(dashboard): add login-first Get Started flow
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/contexts/AuthContext.tsx
  dashboard/frontend/src/pages/LandingPage.tsx
  dashboard/frontend/src/pages/LoginPage.module.css
  dashboard/frontend/src/pages/LoginPage.tsx
Due: none

feat(dashboard): add auth service + middleware integration
  dashboard/backend/auth/handlers.go
  dashboard/backend/auth/middleware.go
  dashboard/backend/auth/schema.go
  dashboard/backend/auth/service.go
  dashboard/backend/auth/store.go
  dashboard/backend/config/config.go
  dashboard/backend/go.mod
  dashboard/backend/router/router.go
Due: go-fmt

feat(dashboard): implement users admin CRUD UI and method-level RBAC
  dashboard/backend/auth/handlers.go
  dashboard/frontend/src/pages/UsersPage.tsx
Due: go-fmt

style(dashboard): align login page with landing hero visual system
  dashboard/frontend/src/pages/LoginPage.module.css
  dashboard/frontend/src/pages/LoginPage.tsx
Due: none

style(dashboard): redesign users page with dashboard UI system and audit view
  dashboard/frontend/src/pages/UsersPage.module.css
  dashboard/frontend/src/pages/UsersPage.tsx
Due: none

fix(dashboard): add missing go.sum modules and resolve auth bootstrap signature
  dashboard/backend/auth/service.go
  dashboard/backend/go.mod
  dashboard/backend/go.sum
Due: go-fmt

fix(dashboard): ensure auth db path is auto-created and expose auth unavailable fallback
  dashboard/backend/auth/store.go
  dashboard/backend/router/router.go
Due: go-fmt

[Doc] Update paper: Add author, Kubernetes note
  paper/main.tex
  paper/sections/deployment.tex
  website/static/white-paper.pdf
Due: none

fix(dashboard): normalize auth login path handling for trailing slash and public matcher
  dashboard/backend/auth/middleware.go
  dashboard/backend/router/router.go
Due: go-fmt

fix(auth): hide sql no rows with generic invalid credentials
  dashboard/backend/auth/service.go
Due: go-fmt

feat(auth): enable first-run self-register admin bootstrap flow
  dashboard/backend/auth/handlers.go
  dashboard/backend/auth/middleware.go
  dashboard/backend/auth/service.go
  dashboard/frontend/src/pages/LoginPage.tsx
Due: go-fmt

fix(auth): route bootstrap auth endpoints through mux in both auth init modes
  dashboard/backend/router/router.go
Due: go-fmt

fix(auth): ensure bootstrap auth endpoints remain publicly routable
  dashboard/backend/auth/middleware.go
  dashboard/backend/router/router.go
Due: go-fmt

update
  dashboard/backend/router/auth_routes.go
  dashboard/backend/router/core_routes.go
  dashboard/backend/router/openclaw_routes.go
  dashboard/backend/router/proxy_routes.go
  dashboard/backend/router/router.go
  dashboard/backend/router/service_html.go
  dashboard/frontend/src/components/MCPAvailableToolsSection.tsx
  dashboard/frontend/src/components/MCPConfigPanel.tsx
  dashboard/frontend/src/components/MCPServerDialog.tsx
  dashboard/frontend/src/components/MCPServersSection.tsx
  dashboard/frontend/src/components/MCPToolDetailModal.tsx
  dashboard/frontend/src/components/MCPToolParameterList.tsx
  dashboard/frontend/src/components/mcpConfigPanelTypes.ts
  dashboard/frontend/src/components/mcpConfigPanelUtils.ts
Due: go-fmt

Revise online playground credentials section
  README.md
Due: md-fmt

docs: tolerate README admonition list style
  README.md
Due: md-fmt
