Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

test(kv): use vLLM cache layout in live connector fixture
  src/kv_connector/tests/test_vllm_live_connector.py
Due: none

[Bug] Accept vLLM Chat stop_reason strings over 128 bytes
  e2e/testcases/protocol_codec_vllm_stop_sequence.go
  src/semantic-router/pkg/extproc/processor_res_semantic_stream_stop_sequence_test.go
  src/semantic-router/pkg/protocolcodec/chat_matched_stop_sequence_test.go
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_response_wire.go
  src/semantic-router/pkg/protocolcodec/testdata/providers/vllm-chat-long-stop-sequence-out.json
  src/semantic-router/pkg/protocolcodec/testdata/providers/vllm-chat-long-stop-sequence-stream.sse
Due: go-fmt

Track the complexity scoring sources in the e2e domain
  tools/agent/domains.yaml
Due: yaml-and-yml-fmt

[Bug] Stop evaluating VLLM_SR_PORT_OFFSET when the CLI is imported
  src/vllm-sr/cli/commands/recipe_learning.py
  src/vllm-sr/tests/test_cli_main.py
  website/docs/api/cli.md
Due: md-fmt

[Test] Disable head dropout in the newbase gradient test
  src/training/model_embeddings/mmbert_32k/tests/test_newbase_model.py
Due: none

[Bug] Keep the --endpoint help default a parseable URL
  src/vllm-sr/cli/commands/recipe_learning.py
  website/docs/api/cli.md
Due: md-fmt

[Feature] Add a KL evaluation for KV mapper artifacts
  src/training/kv_mapper/README.md
  src/training/kv_mapper/kl_eval_run.py
  src/training/kv_mapper/tests/test_kl_eval_run.py
Due: md-fmt

docs(decision2): sync sanitized program docs (COORDINATION)
  src/training/decision2/v2/program/COORDINATION.md
Due: md-fmt

[CI] RISC-V smoke: run its Python with the interpreter make passes
  tools/ci/riscv-qemu-router-smoke.sh
Due: none

[Build] test-riscv-qemu passes the harness interpreter to the smoke
  tools/make/build-run-test.mk
Due: none

[Test] e2e: model-runtime modules take their labels from the served cards
  e2e/profiles/model-runtime/category_mapping.json
  e2e/profiles/model-runtime/jailbreak_mapping.json
  e2e/profiles/model-runtime/pii_mapping.json
  e2e/profiles/model-runtime/profile.go
  e2e/profiles/model-runtime/profile_test.go
  e2e/profiles/model-runtime/values.yaml
Due: go-fmt, yaml-and-yml-fmt

[Refactor] embedding: the model runtime's identity is the only content identity
  src/semantic-router/pkg/embedding/identity.go
  src/semantic-router/pkg/embedding/identity_test.go
  src/semantic-router/pkg/embedding/options_identity_test.go
Due: go-fmt

[CI] model-runtime: drop the deleted native facade's tests from the core profiles and test-owned-native
  tools/ci/core_test_profiles.json
  tools/make/rust.mk
Due: none

[Test] e2e: profiles drop the model variant fields the router refuses
  e2e/profiles/jailbreak-onerror/values.yaml
  e2e/profiles/progress-gate/values.yaml
  e2e/profiles/response-jailbreak/values.yaml
  e2e/profiles/route-action/values.yaml
Due: yaml-and-yml-fmt

[CI] platform lanes: run the tools/ci helpers with the harness interpreter
  tools/ci/riscv-qemu-router-smoke.sh
  tools/ci/tests/test_model_make_contracts.py
  tools/make/build-run-test.mk
  tools/make/models.mk
Due: none

[Feature] model-runtime: legacy parity runs Shield on ORT and takes recorded inputs on both sides
  src/model-runtime/tools/legacy_parity.py
Due: none

[Feature] model-runtime: vela2 0.3B approximate batches run the engine's reduced copy
  src/model-runtime/tests/test_vela2_family.py
  src/model-runtime/vllm_sr_runtime/families/vela2/family.py
  src/model-runtime/vllm_sr_runtime/families/vela2/members.py
Due: none

[Feature] model-runtime: vela2 tools record reduced copies against the exact path
  src/model-runtime/tools/vela2_bench.py
  src/model-runtime/tools/vela2_parity.py
Due: none

[Lint] model-runtime: router_latency concurrency pass binds its own state
  src/model-runtime/tools/router_latency.py
Due: none

[Build] semantic-router: drop the binding requirements of the deleted native runtime
  src/semantic-router/go.mod
Due: none

[Build] perf: drop the binding requirements of the deleted native runtime
  perf/go.mod
Due: none

[Bug] model-runtime: embed legacy comparison names the legacy path it compared
  src/model-runtime/tools/embed_legacy.py
Due: none

[Feature] model-runtime: every encoder layer stack gets its reduced copy and its graphs
  src/model-runtime/tests/test_decision1_engine.py
  src/model-runtime/tests/test_decision1_gpu.py
  src/model-runtime/vllm_sr_runtime/engines/native/engine.py
  src/model-runtime/vllm_sr_runtime/engines/native/reduced.py
Due: none

[Feature] Return runtime meta only when a client asks for it
  src/model-runtime/docs/design.md
  src/model-runtime/tests/test_api_contract.py
  src/model-runtime/vllm_sr_runtime/api/openapi.yaml
  src/model-runtime/vllm_sr_runtime/runtime.py
  src/semantic-router/pkg/modelservice/api/openapi.gen.go
  src/semantic-router/pkg/modelservice/client.go
  src/semantic-router/pkg/modelservice/modelservice.go
  src/semantic-router/pkg/modelservice/modelservice_test.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Feature] model-runtime: decision1 bench and parity tools record the engine's receipt
  src/model-runtime/tools/decision1_bench.py
  src/model-runtime/tools/decision1_parity.py
Due: none

[Chore] go modules: drop binding requires nothing imports any more
  perf/go.mod
  src/semantic-router/go.mod
Due: none

[Bug] model-runtime: embed A/B pauses before every call, not only inside a pair
  src/model-runtime/tools/embed_legacy.py
Due: none

[CLI] config migrate: a legacy model's label map leaves with the model
  src/vllm-sr/cli/config_migration_legacy_models.py
  src/vllm-sr/cli/config_migration_model_runtime.py
  src/vllm-sr/tests/test_config_migrate_model_runtime.py
Due: none

[Docs] model runtime: Kubernetes GPU runtimes use the ROCm router image
  src/vllm-sr/tests/test_docs_model_runtime.py
  website/docs/model-runtime/deploy.md
  website/docs/model-runtime/migrate.md
  website/docs/model-runtime/troubleshooting.md
Due: md-fmt

[Feature] model-runtime: legacy parity runs answer the jobs their recorded inputs hold
  src/model-runtime/tools/legacy_parity.py
Due: none

[Tools] Vela Omni: compare the bounded attention with HF SDPA in float64
  tools/models/vela_omni/test_graphs.py
Due: none

[Docs] apiserver: regenerate the OpenAPI artifact without the NLI span fields
  website/static/openapi/apiserver/apiserver.openapi.json
Due: none

[Feature] model-runtime: shortest expected finish first, answered per job
  src/model-runtime/tests/test_scheduler.py
  src/model-runtime/vllm_sr_runtime/profiles/exact.py
  src/model-runtime/vllm_sr_runtime/scheduler/planner.py
  src/model-runtime/vllm_sr_runtime/scheduler/scheduler.py
Due: none

[Docs] model-runtime: design describes the scheduler's ordering and shared batches
  src/model-runtime/docs/design.md
Due: md-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
