Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

fix ci lint
  src/vllm-sr/cli/models.py
Due: none

[Router][Bugfix] Replace timestamp-seeded *rand.Rand with math/rand/v2 in RLDrivenSelector to fix concurrency race
  src/semantic-router/pkg/selection/rl_driven.go
  src/semantic-router/pkg/selection/rl_driven_test.go
Due: go-fmt

[Router][Bugfix] Replace timestamp-seeded *rand.Rand with math/rand/v2 in RLDrivenSelector to fix concurrency race (#1932)
  src/semantic-router/pkg/selection/rl_driven.go
  src/semantic-router/pkg/selection/rl_driven_test.go
Due: go-fmt

[Bindings] Preprocess images in Rust with PIL-equivalent resize to close cosine drift
  candle-binding/Cargo.toml
  candle-binding/semantic-router.go
  candle-binding/src/ffi/embedding.rs
  docs/probe-2026-05-25-image-drift-isolation/README.md
  docs/probe-2026-05-25-image-drift-isolation/metadata.json
  docs/probe-2026-05-25-image-drift-isolation/report.json
  docs/probe-2026-05-25-image-drift-isolation/step1_extract_pixels_and_python_embedding.py
  docs/probe-2026-05-25-image-drift-isolation/step3_compare.py
Due: go-fmt, md-fmt, cargo-fmt, cargo-check

[Router] detect Anthropic client protocol from :path header
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_req_header_endpoints.go
  src/semantic-router/pkg/extproc/processor_req_header_test.go
  src/semantic-router/pkg/extproc/request_context.go
Due: go-fmt

[Router] tighten ClientProtocol detection contract
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_header_endpoints.go
  src/semantic-router/pkg/extproc/processor_req_header_test.go
Due: go-fmt

fix(metrics): stop double-counting decision evaluation metrics
  src/semantic-router/pkg/decision/engine_metrics_test.go
  src/semantic-router/pkg/extproc/req_filter_classification_runtime.go
Due: go-fmt

fix(metrics): stop double-counting decision evaluation metrics (#1945)
  src/semantic-router/pkg/decision/engine_metrics_test.go
  src/semantic-router/pkg/extproc/req_filter_classification_runtime.go
Due: go-fmt

[Router][Bugfix] router_replay: log AddRecord failures instead of swallowing
  src/semantic-router/pkg/extproc/recorder.go
Due: go-fmt

[Router][Bugfix] router_replay: add missing $51 placeholder for projection_trace column
  src/semantic-router/pkg/routerreplay/store/postgres.go
  src/semantic-router/pkg/routerreplay/store/postgres_insert_query_test.go
Due: go-fmt

[Router][Bugfix] router_replay: log the effective postgres table name, not the empty config field
  src/semantic-router/pkg/extproc/router_replay_setup.go
Due: go-fmt

fix: blocker of scan_malicious_code.py by antivirus (#1918)
  tools/agent/structure-rules.yaml
  tools/security/scan_malicious_code.py
  tools/security/scan_sensitive_paths.toml
Due: yaml-and-yml-fmt

fix jailbreak LoRA trainer max_grad_norm crash
  src/training/model_classifier/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
Due: none

feat(extproc): detect ClientProtocol from :path header (#1937)
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_req_header_endpoints.go
  src/semantic-router/pkg/extproc/processor_req_header_test.go
  src/semantic-router/pkg/extproc/request_context.go
Due: go-fmt

fix lint
  src/training/model_classifier/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
  src/training/model_classifier/prompt_guard_fine_tuning_lora/jailbreak_training_assets.py
  src/training/model_classifier/prompt_guard_fine_tuning_lora/jailbreak_training_helpers.py
Due: none

[Router] route /v1/messages requests through Anthropic inbound parser
  src/semantic-router/pkg/extproc/processor_req_body_anthropic_test.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/processor_req_body_validation.go
Due: go-fmt

[Router] allow POST /v1/messages in request header validation
  src/semantic-router/pkg/extproc/processor_req_header_test.go
  src/semantic-router/pkg/extproc/processor_req_header_validation.go
Due: go-fmt

[Router] add IRExtensions envelope for non-OpenAI-native fields
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/ir/extensions.go
  src/semantic-router/pkg/ir/extensions_test.go
  src/semantic-router/pkg/ir/warnings.go
Due: go-fmt

[Router] add Anthropic variant of extractContentFast
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/utils_fast_anthropic.go
  src/semantic-router/pkg/extproc/utils_fast_anthropic_test.go
Due: go-fmt

[Router] add Anthropic inbound parser for /v1/messages requests
  src/semantic-router/pkg/anthropic/inbound.go
  src/semantic-router/pkg/anthropic/inbound_test.go
Due: go-fmt

[E2E] add /v1/messages round-trip test for Anthropic inbound parser
  e2e/pkg/testmatrix/testcases.go
  e2e/testcases/anthropic_messages_request.go
Due: go-fmt

[Router][CLI] restore hybrid_history retrieval wiring and advanced_filtering schema parity (#1935)
  src/semantic-router/pkg/extproc/req_filter_tools.go
  src/semantic-router/pkg/extproc/req_filter_tools_hybrid_history_test.go
  src/semantic-router/pkg/extproc/req_tool_selection_plugin.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_plugin_parsing.py
Due: go-fmt

[Router][Bugfix] router_replay: fix silent postgres INSERT failure that leaves dashboard Insight empty (#1942)
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/router_replay_setup.go
  src/semantic-router/pkg/routerreplay/store/postgres.go
  src/semantic-router/pkg/routerreplay/store/postgres_insert_query_test.go
Due: go-fmt

feat(anthropic): native /v1/messages ingress — IR envelope + inbound parser (#1938)
  e2e/pkg/testmatrix/testcases.go
  e2e/testcases/anthropic_messages_request.go
  src/semantic-router/pkg/anthropic/inbound.go
  src/semantic-router/pkg/anthropic/inbound_test.go
  src/semantic-router/pkg/extproc/processor_req_body_anthropic_test.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/processor_req_body_validation.go
  src/semantic-router/pkg/extproc/processor_req_header_test.go
  src/semantic-router/pkg/extproc/processor_req_header_validation.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/extproc/utils_fast_anthropic.go
  src/semantic-router/pkg/extproc/utils_fast_anthropic_test.go
  src/semantic-router/pkg/ir/extensions.go
  src/semantic-router/pkg/ir/extensions_test.go
  src/semantic-router/pkg/ir/warnings.go
Due: go-fmt

[CI/Build] wire anthropic-shim image into Docker publish and release workflows
  .github/workflows/ci-changes.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
Due: yaml-and-yml-fmt

[CI/Build] add Dockerfile for anthropic-shim
  e2e/testing/anthropic-shim/Dockerfile
Due: none

[CI/Build] add anthropic-shim service for e2e Anthropic-shape backend
  e2e/testing/anthropic-shim/.gitignore
  e2e/testing/anthropic-shim/README.md
  e2e/testing/anthropic-shim/anthropic_shim/__init__.py
  e2e/testing/anthropic-shim/anthropic_shim/__main__.py
  e2e/testing/anthropic-shim/anthropic_shim/app.py
  e2e/testing/anthropic-shim/anthropic_shim/translate.py
  e2e/testing/anthropic-shim/pyproject.toml
  e2e/testing/anthropic-shim/requirements.txt
  e2e/testing/anthropic-shim/tests/__init__.py
  e2e/testing/anthropic-shim/tests/test_app.py
  e2e/testing/anthropic-shim/tests/test_translate.py
  tools/linter/python/.ruff.toml
Due: md-fmt

[CI/Build] add anthropic-backend kustomize manifests
  deploy/kubernetes/anthropic-backend/base/deployment.yaml
  deploy/kubernetes/anthropic-backend/base/kustomization.yaml
  deploy/kubernetes/anthropic-backend/base/namespace.yaml
  deploy/kubernetes/anthropic-backend/base/pvc.yaml
  deploy/kubernetes/anthropic-backend/base/service.yaml
  deploy/kubernetes/anthropic-backend/components/common/kustomization.yaml
  deploy/kubernetes/anthropic-backend/overlays/qwen/kustomization.yaml
Due: yaml-and-yml-fmt

fix(ci): skip hf-cli check when models pre-mounted + pre-download mmbert
  e2e/testing/run_memory_integration.sh
  src/semantic-router/pkg/modeldownload/ensure.go
Due: go-fmt

fix(ci): disable torch dynamo to avoid CSE typing crash on Python 3.12
  .github/workflows/openvino-binding-ci.yml
Due: yaml-and-yml-fmt

feat(openvino-binding): add Docker build target and CI pipeline
  .github/workflows/ci-changes.yml
  dashboard/backend/Dockerfile
  openvino-binding/Dockerfile
  scripts/entrypoint.sh
  src/vllm-sr/Dockerfile
  tools/docker/Dockerfile.extproc
  tools/docker/Dockerfile.extproc-rocm
  tools/linter/yaml/.yamllint
  tools/make/docker.mk
  tools/make/openvino.mk
Due: yaml-and-yml-fmt

fix(ci): add missing click dep + huggingface-cli shim for hf v1.5.0
  src/vllm-sr/Dockerfile
Due: none

fix(lint): exclude openvino-binding test/examples from complexity linters
  tools/linter/go/.golangci.agent.yml
Due: yaml-and-yml-fmt

fix(ci): add Pillow dep and remove silent error swallowing in model conversion
  .github/workflows/openvino-binding-ci.yml
Due: yaml-and-yml-fmt

fix(ci): dump container logs before cleanup trap removes them
  .github/workflows/integration-test-memory.yml
  e2e/testing/run_memory_integration.sh
Due: yaml-and-yml-fmt

fix(ci): use RUN for openvino stub + symlink huggingface-cli to /usr/local/bin
  src/vllm-sr/Dockerfile
Due: none

feat(looper): wire AutoMix entailment verifier into confidence cascade
  config/config.yaml
  src/semantic-router/pkg/config/decision_config.go
  src/semantic-router/pkg/looper/confidence.go
  src/semantic-router/pkg/looper/confidence_automix_entailment_test.go
  src/semantic-router/pkg/looper/confidence_test.go
  src/semantic-router/pkg/selection/router_r1_client.go
  website/docs/tutorials/algorithm/looper/confidence.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Router] add AnthropicPassthrough carrier and inbound builder
  src/semantic-router/pkg/anthropic/passthrough.go
  src/semantic-router/pkg/anthropic/passthrough_test.go
Due: go-fmt

[Router] preserve tool_result.is_error and array content
  src/semantic-router/pkg/anthropic/client.go
  src/semantic-router/pkg/anthropic/client_passthrough_test.go
Due: go-fmt
