Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

docs(i18n): sync zh-Hans translations and add drift detection script (#1247)
  scripts/check-i18n-outdated.sh
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/api/crd-reference.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/configuration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/dynamo.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/istio.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/llm-d.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/collective-intelligence.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/goals.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/signal-driven-decisions.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/troubleshooting/common-errors.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/troubleshooting/container-connectivity.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/troubleshooting/vsr-headers.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/intelligent-route/embedding-routing.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/observability/dashboard.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/observability/metrics.md
Due: md-fmt

Feat: Support ReMoM Algorithms (#1240)
  dashboard/backend/evaluation/adapters.go
  dashboard/backend/handlers/evaluation.go
  dashboard/backend/handlers/settings.go
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ReMoMResponsesDisplay.module.css
  dashboard/frontend/src/components/ReMoMResponsesDisplay.tsx
  dashboard/frontend/src/components/evaluation/TaskCreationForm.tsx
  dashboard/frontend/src/components/evaluation/TaskList.tsx
  dashboard/frontend/src/contexts/ReadonlyContext.tsx
  dashboard/frontend/src/hooks/useEvaluation.ts
  dashboard/frontend/src/pages/EvaluationPage.tsx
  dashboard/frontend/src/pages/PlaygroundFullscreenPage.tsx
  dashboard/frontend/src/pages/PlaygroundPage.tsx
  dashboard/frontend/src/pages/ReplayPage.module.css
  dashboard/frontend/src/pages/topology/components/CustomNodes/PluginChainNode.tsx
  dashboard/frontend/src/pages/topology/constants.ts
  dashboard/frontend/src/pages/topology/types.ts
  dashboard/frontend/src/pages/topology/utils/layoutCalculator.ts
  deploy/amd/config.yaml
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_core.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_looper.go
  src/semantic-router/pkg/extproc/req_filter_rag.go
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/looper/base.go
  src/semantic-router/pkg/looper/client.go
  src/semantic-router/pkg/looper/confidence.go
  src/semantic-router/pkg/looper/looper.go
  src/semantic-router/pkg/looper/ratings.go
  src/semantic-router/pkg/looper/remom.go
  src/semantic-router/pkg/routerreplay/recorder.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/templates/config.template.yaml
  src/vllm-sr/cli/templates/envoy.template.yaml
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: go-fmt, yaml-and-yml-fmt

Fix the evaluation testing, datasets api shouldn't be related to DB intiliaze, also support hugging face token to be providong during the init, so datasets can be donwloaded (#1224)
  dashboard/backend/evaluation/runner.go
  dashboard/backend/handlers/evaluation.go
  dashboard/backend/router/router.go
  src/vllm-sr/Dockerfile
Due: go-fmt

Chore: Update Latency Template for Playground (#1248)
  dashboard/frontend/src/pages/topology/types.ts
  dashboard/frontend/src/pages/topology/utils/topologyParser.ts
  dashboard/frontend/src/types/config.ts
  deploy/amd/config.yaml
Due: yaml-and-yml-fmt

[Doc] Translate proposal documents to Chinese (zh-Hans) (#1213)
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/hallucination-mitigation-milestone.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/nvidia-dynamo-integration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/production-stack-integration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/prompt-classification-routing.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/proposals/hallucination-mitigation-milestone.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/proposals/nvidia-dynamo-integration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/proposals/production-stack-integration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/proposals/prompt-classification-routing.md
Due: md-fmt

Update the documentation after fixing the eval tests (#1233)
  src/vllm-sr/README.md
Due: md-fmt

feat: increase timeout limits to 1200s for long-running requests (#1250)
  deploy/amd/config.yaml
  src/vllm-sr/cli/templates/envoy.template.yaml
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: yaml-and-yml-fmt

[feat]: catching operator up to allow for complexity routing (#1237)
  .github/workflows/operator-ci.yml
  deploy/operator/README.md
  deploy/operator/api/v1alpha1/sample_validation_test.go
  deploy/operator/api/v1alpha1/semanticrouter_types.go
  deploy/operator/api/v1alpha1/semanticrouter_types_test.go
  deploy/operator/api/v1alpha1/zz_generated.deepcopy.go
  deploy/operator/config/crd/bases/vllm.ai_semanticrouters.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_complexity.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_milvus_cache.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_mmbert.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_redis_cache.yaml
  deploy/operator/controllers/constants.go
  deploy/operator/controllers/semanticrouter_controller.go
  deploy/operator/controllers/semanticrouter_controller_test.go
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/cache/redis_cache.go
  src/semantic-router/pkg/classification/classifier.go
  src/vllm-sr/Dockerfile
  website/docs/installation/k8s/operator.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/operator.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

mom: update playground routing rules (#1235)
  deploy/amd/README.md
  deploy/amd/config.yaml
  scripts/test_classification_api.sh
Due: md-fmt, yaml-and-yml-fmt

[WIP] - feat: add ModelEvaluate with reasoning and performance metrics
  src/training/model_eval/onboard_eval.py
Due: none

feat: Add mmBERT 32k yarn support (#1227)
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/semantic-router.go
  candle-binding/semantic-router_test.go
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
  candle-binding/src/model_architectures/embedding/mmbert_embedding.rs
  candle-binding/src/model_architectures/traditional/modernbert.rs
  candle-binding/src/model_architectures/traditional/modernbert_test.rs
  config/config.mmbert32k.yaml
  config/intelligent-routing/in-tree/mmbert-32k.yaml
  scripts/test_classification_api.sh
  scripts/train-mmbert32k-gpu.sh
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/fact_check_classifier.go
  src/semantic-router/pkg/classification/feedback_detector.go
  src/semantic-router/pkg/classification/mapping.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/registry.go
  src/training/classifier_model_fine_tuning/ft_linear.py
  src/training/modernbert_dissat_pipeline/configs/config.py
  src/training/modernbert_dissat_pipeline/train_feedback_detector.py
  src/training/prompt_guard_fine_tuning/jailbreak_bert_finetuning.py
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
  src/training/training_lora/common_lora_utils.py
  src/training/training_lora/fact_check_fine_tuning_lora/fact_check_bert_finetuning_lora.py
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
  tools/linter/codespell/.codespell.ignorewords
  tools/make/models.mk
Due: go-fmt, yaml-and-yml-fmt, cargo-fmt, cargo-check

feat(deploy): add OpenShift option for GPU vSR classification (#1246)
  deploy/kserve/deploy.sh
  deploy/openshift/README.md
  deploy/openshift/deploy-to-openshift.sh
Due: md-fmt

feat: add 2D Matryoshka embedding with layer early exit (#1210)
  candle-binding/examples/mmbert_2d_matryoshka_bench.rs
  candle-binding/examples/test_layer_early_exit.rs
  candle-binding/semantic-router.go
  candle-binding/semantic-router_test.go
  candle-binding/src/classifiers/unified.rs
  candle-binding/src/ffi/embedding.rs
  candle-binding/src/model_architectures/config.rs
  candle-binding/src/model_architectures/embedding/mmbert_embedding.rs
  candle-binding/src/model_architectures/embedding/mod.rs
  candle-binding/src/model_architectures/model_factory.rs
  candle-binding/src/model_architectures/routing.rs
  candle-binding/src/model_architectures/traits.rs
  config/intelligent-routing/in-tree/embedding-mmbert.yaml
  src/semantic-router/pkg/apiserver/config.go
  src/semantic-router/pkg/apiserver/route_embeddings.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/registry.go
  tools/make/models.mk
Due: go-fmt, yaml-and-yml-fmt, cargo-fmt, cargo-check

model: unified embedding model (#1214)
  candle-binding/semantic-router.go
  candle-binding/semantic-router_test.go
  config/config.yaml
  config/intelligent-routing/in-tree/embedding-mmbert.yaml
  dashboard/frontend/package-lock.json
  dashboard/frontend/package.json
  dashboard/frontend/src/components/DataTable.module.css
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/components/ReplayCharts.module.css
  dashboard/frontend/src/components/ReplayCharts.tsx
  dashboard/frontend/src/pages/ReplayPage.module.css
  dashboard/frontend/src/pages/ReplayPage.tsx
  dashboard/frontend/src/pages/topology/TopologyPageEnhanced.module.css
  dashboard/frontend/src/pages/topology/TopologyPageEnhanced.tsx
  dashboard/frontend/src/pages/topology/components/ControlPanel/ControlPanel.module.css
  dashboard/frontend/src/pages/topology/constants.ts
  dashboard/frontend/src/types/config.ts
  deploy/amd/README.md
  deploy/amd/config.yaml
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/types_route.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/classification/complexity_classifier.go
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/registry.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/req_filter_tools_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/k8s/converter.go
  src/semantic-router/pkg/routerreplay/store/store.go
  src/semantic-router/pkg/tools/tools.go
  src/semantic-router/pkg/tools/tools_test.go
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(docs): fix typo (#1208)
  website/i18n/zh-Hans/code.json
  website/src/pages/community/work-groups.tsx
Due: none

feat(training): domain-adapted embeddings via iterative hard-negative mining (#1219)
  src/training/domain_adapted_embeddings/.gitignore
  src/training/domain_adapted_embeddings/README.md
  src/training/domain_adapted_embeddings/USAGE.md
  src/training/domain_adapted_embeddings/domain-embed.jpg
  src/training/domain_adapted_embeddings/prepare_data.py
  src/training/domain_adapted_embeddings/requirements.txt
  src/training/domain_adapted_embeddings/train.py
Due: md-fmt

[feat]: migrate semantic-router KServe deployment to llmisvc (#1223)
  deploy/kserve/README.md
  deploy/kserve/configmap-envoy-config-simulator.yaml
  deploy/kserve/configmap-envoy-config.yaml
  deploy/kserve/configmap-router-config-simulator.yaml
  deploy/kserve/configmap-router-config.yaml
  deploy/kserve/deploy.sh
  deploy/kserve/deployment.yaml
  deploy/kserve/inference-examples/README.md
  deploy/kserve/inference-examples/inferenceservice-llm-d-sim-model-a.yaml
  deploy/kserve/inference-examples/inferenceservice-llm-d-sim-model-b.yaml
  deploy/kserve/inference-examples/inferenceservice-llm-d-sim.yaml
  deploy/kserve/inference-examples/inferenceservice-qwen-0.6b-gpu.yaml
  deploy/kserve/install-gpu-operator.sh
  deploy/kserve/install-kserve.sh
  deploy/kserve/service-predictor-stable.yaml
  deploy/kubernetes/llm-katan/base/deployment.yaml
  deploy/kubernetes/llm-katan/base/service.yaml
  deploy/openshift/README.md
  deploy/openshift/deploy-to-openshift.sh
  deploy/openshift/deployment-simulator.yaml
  deploy/openshift/deployment.yaml
Due: md-fmt, yaml-and-yml-fmt

feat(dashboard): add Router Replay visualization page for debugging routing decisions (#1211)
  dashboard/backend/router/router.go
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/CollapsibleSection.module.css
  dashboard/frontend/src/components/CollapsibleSection.tsx
  dashboard/frontend/src/components/DataTable.module.css
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/index.css
  dashboard/frontend/src/pages/ReplayPage.module.css
  dashboard/frontend/src/pages/ReplayPage.tsx
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/req_filter_looper.go
  src/semantic-router/pkg/routerreplay/store/store.go
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: go-fmt, yaml-and-yml-fmt

model: update mom template (#1234)
  deploy/amd/README.md
  deploy/amd/config.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/fact_check_classifier.go
  src/semantic-router/pkg/classification/feedback_detector.go
  src/semantic-router/pkg/classification/mapping.go
  src/semantic-router/pkg/classification/model_discovery.go
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: go-fmt, md-fmt, yaml-and-yml-fmt

chore: update feedback checking model training (#1238)
  scripts/train-mmbert32k-gpu.sh
  src/training/modernbert_dissat_pipeline/train_feedback_detector.py
  tools/make/models.mk
Due: none

[Feat] Add unified evaluation script for MoM collection (#1156)
  src/training/model_eval/README.md
  src/training/model_eval/constants.py
  src/training/model_eval/mom_collection_eval.py
  src/training/model_eval/requirements.txt
Due: md-fmt

feat: implement tpot and ttft percentile bucket for latency signal (#1202)
  dashboard/frontend/src/pages/ConfigPage.tsx
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/classification/latency_classifier.go
  src/semantic-router/pkg/classification/latency_classifier_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/vllm-sr/cli/merger.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/templates/config.template.yaml
  website/docs/installation/configuration.md
  website/docs/overview/signal-driven-decisions.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat(mcp): dashboard MCP tools support (#1216)
  config/semantic-cache/config.hybrid.yaml
  dashboard/backend/config/config.go
  dashboard/backend/go.mod
  dashboard/backend/go.sum
  dashboard/backend/handlers/evaluation.go
  dashboard/backend/handlers/mcp.go
  dashboard/backend/handlers/openweb.go
  dashboard/backend/handlers/topology_test.go
  dashboard/backend/mcp/client.go
  dashboard/backend/mcp/manager.go
  dashboard/backend/mcp/types.go
  dashboard/backend/router/mcp_routes.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/components/AnimatedBackground.tsx
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ConfigNav.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/components/MCPConfigPanel.module.css
  dashboard/frontend/src/components/MCPConfigPanel.tsx
  dashboard/frontend/src/components/PlatformBranding.tsx
  dashboard/frontend/src/components/ThinkingBlock.tsx
  dashboard/frontend/src/contexts/ReadonlyContext.tsx
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/tools/executors/mcpTool.ts
  dashboard/frontend/src/tools/index.ts
  dashboard/frontend/src/tools/mcp/api.ts
  dashboard/frontend/src/tools/mcp/index.ts
  dashboard/frontend/src/tools/mcp/mcpToolBridge.ts
  dashboard/frontend/src/tools/mcp/types.ts
  dashboard/frontend/src/tools/mcp/useMCPServers.ts
  dashboard/frontend/src/tools/mcp/useMCPToolSync.ts
  dashboard/frontend/src/utils/platformAssets.ts
  src/semantic-router/pkg/config/config_test.go
Due: go-fmt, yaml-and-yml-fmt

feat(dashboard): enhance Router Replay with complexity signal and plugin status display (#1231)
  dashboard/frontend/src/components/ReplayCharts.tsx
  dashboard/frontend/src/pages/ReplayPage.tsx
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/req_filter_jailbreak.go
  src/semantic-router/pkg/extproc/req_filter_pii.go
  src/semantic-router/pkg/routerreplay/recorder.go
  src/semantic-router/pkg/routerreplay/store/memory.go
  src/semantic-router/pkg/routerreplay/store/milvus.go
  src/semantic-router/pkg/routerreplay/store/postgres.go
  src/semantic-router/pkg/routerreplay/store/redis.go
  src/semantic-router/pkg/routerreplay/store/store.go
Due: go-fmt

chore(docs): add npm scripts command (#1209)
  tools/make/docs.mk
  website/package.json
Due: none

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
