Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

research(decision2): record the DEV2.0-0.8B private release build, upload and verification
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28.md
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/DEV2.0-0.8B.decision.draft.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/package-text/ATTRIBUTIONS.md
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/package-text/MODEL_MANIFEST.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/package-text/NOTICE
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/package-text/README.md
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/package-text/config.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/package-text/evaluation/EVALUATION.md
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/package-text/evaluation/manifest.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/RELEASE-RECEIPT.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/build.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/card-http-20260928T140239Z.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/card-post.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/card-pre.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/download.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/ensure.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/gate-evaluate-a1c087bd6.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/gate-evaluate.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/launcher.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/parity-post.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/parity-pre.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/post.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/pre-a.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/pre-b.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/readback.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/repeat-post.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/repeat-pre.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/spec.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/tree.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/receipts/upload.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/rehearsal/cpu-pre-a-tail.log.txt
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/rehearsal/dev2-0p8b-cpu-rehearsal-20260928T133302Z.log.txt
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/rehearsal/dev2-0p8b-cpu-rehearsal-20260928T133615Z.log.txt
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/rehearsal/dev2-0p8b-cpu-rehearsal-20260928T133615Z/receipts/build.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/rehearsal/dev2-0p8b-cpu-rehearsal-20260928T133615Z/receipts/launcher.json
Due: md-fmt

research(decision2): move 27B KL arms to A0s-strict and mark AutoJev comparisons provisional
  src/training/decision2/v2/27b/build_replay.py
  src/training/decision2/v2/27b/records/m2-prereg-2026-09-28.md
Due: md-fmt

research(decision2): note the eval track's Score level-0 finding for the DEV2.0-0.8B final card
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28.md
Due: md-fmt

research(decision2): freeze 27B strict KL-arm inputs
  src/training/decision2/v2/27b/records/m2-prereg-2026-09-28.md
Due: md-fmt

research(decision2): 0.6B Milestone 5 preregistration part 2 (frozen arms a-c, teacher alignment; cross-soup X sent to the formal runner)
  src/training/decision2/v2/06b/records/arms/m5-a-s1.json
  src/training/decision2/v2/06b/records/arms/m5-a-s2.json
  src/training/decision2/v2/06b/records/arms/m5-a-s3.json
  src/training/decision2/v2/06b/records/arms/m5-b-s1.json
  src/training/decision2/v2/06b/records/arms/m5-b-s2.json
  src/training/decision2/v2/06b/records/arms/m5-b-s3.json
  src/training/decision2/v2/06b/records/arms/m5-c-s1.json
  src/training/decision2/v2/06b/records/arms/m5-c-s2.json
  src/training/decision2/v2/06b/records/arms/m5-c-s3.json
  src/training/decision2/v2/06b/records/m5/readouts/m5-x-soup.READOUT.json
  src/training/decision2/v2/06b/records/m5/readouts/m5-x-soup.SOUP.json
  src/training/decision2/v2/06b/records/m5/teacher/aj27-pk1-m.merged.report.json
  src/training/decision2/v2/06b/records/m5/teacher/aligned-b.report.json
  src/training/decision2/v2/06b/records/m5/teacher/lux1-pk1-rpv2m.merged.report.json
  src/training/decision2/v2/06b/records/m5b-prereg-2026-09-28.md
  src/training/decision2/v2/06b/records/mixtures/m5-mix-a.report.json
  src/training/decision2/v2/06b/records/mixtures/m5-mix-b.report.json
Due: md-fmt

feat(decision2): JevArena-C1 event-2 script (DEV2.0-0.6B + comparators) with pre-decryption preflight
  src/training/decision2/v2/eval/sealed/event2.sh
Due: none

docs(decision2): sync sanitized program docs (COORDINATION, STATUS)
  src/training/decision2/v2/program/COORDINATION.md
  src/training/decision2/v2/program/STATUS.md
Due: md-fmt

research(decision2): record the DEV2.0-0.6B private release build, upload and verification
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28.md
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/gpu-check/cpu-vs-gpu.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/gpu-check/gpu-check.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/rehearsal/RELEASE-RECEIPT.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/rehearsal/receipts/build.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/rehearsal/receipts/card-pre.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/rehearsal/receipts/launcher.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/rehearsal/receipts/pre-a.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/rehearsal/receipts/pre-b.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/rehearsal/receipts/repeat-pre.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/rehearsal/receipts/spec.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/MODEL_MANIFEST.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/RELEASE-RECEIPT.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/extra/cpu-rehearsal-vs-cpu-post.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/extra/gate-evaluate-fixed.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/extra/gate-evaluate.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/extra/gpu-vs-cpu-post.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/extra/hub-card-http-check.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/extra/hub-links.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/extra/post-cpu.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/extra/repo-history.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/package-config.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/receipts/build.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/receipts/card-post.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/receipts/card-pre.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/receipts/download.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/receipts/ensure.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/receipts/launcher.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/receipts/parity-post.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/receipts/parity-pre.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/receipts/post.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/receipts/pre-a.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/receipts/pre-b.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/receipts/readback.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/receipts/repeat-post.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/receipts/repeat-pre.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/receipts/spec.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/receipts/tree.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/release/receipts/upload.json
Due: md-fmt

research(decision2): decoder M3 amendment 2 (matched own-Lux teacher arms N4L/S2L; E8V re-queued; 16K controls set the 2B comparator)
  src/training/decision2/v2/dec/records/dec-m3-amendment-2-2026-09-28.md
Due: md-fmt

research(decision2): final DEV2.0-0.8B release decision and card with the C1 confirmation
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/DEV2.0-0.8B.decision.json
  src/training/decision2/v2/release/specs/dev2-0p8b-release.json
Due: none

feat(decision2): optional card comparator note after the rank scope and on the evaluation page
  src/training/decision2/v2/release/card.py
  src/training/decision2/v2/release/tests/test_card_comparator_note.py
Due: none

research(decision2): DEV2.0-0.6B spec notes GLiNER2.5-Decide's missing LICENSE file for the final card
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28.md
  src/training/decision2/v2/release/specs/dev2-0p6b-release.json
Due: md-fmt

[Bug] Leave labels without rows out of the baseline macro F1
  src/training/model_eval/README.md
  src/training/model_eval/baseline_metrics.py
  src/training/model_eval/gap_report.py
  src/training/model_eval/provenance/metrics.py
  src/training/model_eval/test_provenance.py
  src/training/model_eval/tests/test_dataset_contracts.py
Due: md-fmt

[Bug] Register the collection-level MCP test connection route (#4320)
  dashboard/backend/handlers/mcp.go
  dashboard/backend/router/mcp_routes.go
  dashboard/backend/router/route_policy_test.go
Due: go-fmt

research(decision2): DEV2.0-0.6B staged final spec builds (card note only changes README and evaluation page)
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28.md
Due: md-fmt

research(decision2): 0.6B M5 cross-soup X formal result (v3 45.37, +1.82 [-0.62, +4.51] vs released; not a successor) and amendment M5-2 (Z)
  src/training/decision2/v2/06b/records/m5/formal/m5-x-soup/GPU-TIME.json
  src/training/decision2/v2/06b/records/m5/formal/m5-x-soup/PAIRED-vs-bosun06.json
  src/training/decision2/v2/06b/records/m5/formal/m5-x-soup/PAIRED-vs-causal-control.json
  src/training/decision2/v2/06b/records/m5/formal/m5-x-soup/PAIRED-vs-gliner25.json
  src/training/decision2/v2/06b/records/m5/formal/m5-x-soup/PAIRED-vs-kai1-8k.json
  src/training/decision2/v2/06b/records/m5/formal/m5-x-soup/PAIRED-vs-kai1.json
  src/training/decision2/v2/06b/records/m5/formal/m5-x-soup/PAIRED-vs-lex.json
  src/training/decision2/v2/06b/records/m5/formal/m5-x-soup/PAIRED-vs-released-t-soup.json
  src/training/decision2/v2/06b/records/m5/formal/m5-x-soup/PAIRED-vs-v2-soup.json
  src/training/decision2/v2/06b/records/m5/formal/m5-x-soup/REPORT.json
  src/training/decision2/v2/06b/records/m5/formal/m5-x-soup/REPORT.md
  src/training/decision2/v2/06b/records/m5/formal/m5-x-soup/mlx-diag.score.json
  src/training/decision2/v2/06b/records/m5c-amendment-2026-09-28.md
Due: md-fmt

fix(decision2): frozen runner appends job end to its own lease entry; --shared for approved co-tenancy (recorded in GPU-TIME.json)
  src/training/decision2/v2/eval/run_same_panel.sh
Due: none

feat(decision2): m5_arm.sh optional per-seed GPUs (split one arm's seeds across leased GPUs)
  src/training/decision2/v2/06b/m5_arm.sh
Due: none

research(decision2): 9B M3 amendment 3 (arm DL: arm D data with arm A's LoRA recipe)
  src/training/decision2/v2/9b/lux9b/m3/wave4.sh
  src/training/decision2/v2/9b/records/lux9b-m3-prereg-amendment-3-2026-09-28.md
Due: md-fmt

[Bug] Make the gap report artifact-aware for legacy baselines
  src/training/model_eval/README.md
  src/training/model_eval/baseline_tasks.py
  src/training/model_eval/gap_report.py
  src/training/model_eval/quality_baseline.py
  src/training/model_eval/tests/test_dataset_contracts.py
Due: md-fmt

feat(decision2): --shared-lease NAME for node launchers on a coordinator-shared GPU
  src/training/decision2/v2/eval/run_same_panel.sh
  src/training/decision2/v2/release/release.sh
  src/training/decision2/v2/release/tests/test_shared_lease.py
Due: none

feat(decision2): 9B M3 seed-soup pipeline and full-checkpoint parameter counts in formal runs
  src/training/decision2/v2/9b/lux9b/m3/formal.sh
  src/training/decision2/v2/9b/lux9b/m3/soup.sh
Due: none

feat(decision2): frozen-checkpoint CAL fit for full Qwen packages and a temperature parity check
  src/training/decision2/v2/release/calibrate_frozen.py
  src/training/decision2/v2/release/temperature_parity.py
  src/training/decision2/v2/release/tests/test_calibration_release.py
Due: none

research(decision2): DEV2.0-0.8B released to the private Decision 2.0 collection
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28.md
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/package-text/MODEL_MANIFEST.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/package-text/README.md
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/package-text/evaluation/EVALUATION.md
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/RELEASE-RECEIPT.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/build.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/card-http-final.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/card-post.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/card-pre.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/collect.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/download.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/ensure.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/gate.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/launcher.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/parity-post.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/parity-pre.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/post.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/pre-a.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/pre-b.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/readback-collected.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/readback.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/repeat-post.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/repeat-pre.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/spec.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/tree.json
  src/training/decision2/v2/release/records/dev2-0p8b-release-2026-09-28/final/receipts/upload.json
Due: md-fmt

[Bug] Check SystemOne answers and keep absolute endpoint URLs
  src/semantic-router/pkg/classification/systemone_classifier.go
  src/semantic-router/pkg/classification/systemone_classifier_test.go
  website/docs/tutorials/signal/learned/classifier.md
Due: go-fmt, md-fmt

research(decision2): lock the 9B M3 arm B formal post-key run (16K vs Lux1 16K)
  src/training/decision2/v2/9b/records/lux9b-m3-formal-lock-B-2026-09-28.md
Due: md-fmt

research(decision2): 2B S2T seed soup meets the first-release threshold (post-key v3 53.437 vs Sol 1.0 16K 45.781, +7.66 [+3.26, +10.81])
  src/training/decision2/v2/dec/records/dec-m3-2b-candidate-2026-09-28.md
Due: md-fmt

research(decision2): DEV2.0-0.6B CAL698 package spec and build-time draft decision
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/DEV2.0-0.6B.decision.build-draft-cal698.json
  src/training/decision2/v2/release/specs/dev2-0p6b-release.json
Due: none

[Bug] Read ML availability from the ML surface and name the feature in its error state
  dashboard/backend/handlers/mlpipeline_availability.go
  dashboard/backend/handlers/mlpipeline_availability_test.go
  dashboard/backend/router/core_routes.go
  dashboard/backend/router/route_policy_test.go
  dashboard/frontend/src/app/AppRouter.tsx
  dashboard/frontend/src/app/AuthenticatedAppRoutes.tsx
  dashboard/frontend/src/app/EvaluationAvailabilityRoute.test.tsx
  dashboard/frontend/src/app/EvaluationAvailabilityRoute.tsx
  dashboard/frontend/src/contexts/ReadonlyContext.contract.test.ts
  dashboard/frontend/src/contexts/ReadonlyContext.tsx
Due: go-fmt

feat(decision2): development-panel CAL698 adoption check (coordinator rule 23:15)
  src/training/decision2/v2/release/dev_calibration.py
  src/training/decision2/v2/release/tests/test_calibration_release.py
Due: none

research(decision2): record the 9B M3 arm B formal post-key result (gate not met)
  src/training/decision2/v2/9b/records/lux9b-m3-formal-result-B-2026-09-28.md
Due: md-fmt

feat(decision2): 9B M3 arm D soup driver
  src/training/decision2/v2/9b/lux9b/m3/wave5.sh
Due: none

research(decision2): CAL698 fails the development rule for DEV2.0-0.6B and 0.8B; 0.6B spec back to T = 1
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/DEV2.0-0.6B.decision.build-draft-t1.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/devcal/dev2-0p6b.json
  src/training/decision2/v2/release/records/dev2-0p6b-release-2026-09-28/devcal/dev2-0p8b.json
  src/training/decision2/v2/release/specs/dev2-0p6b-release.json
Due: none

feat(decision2): retemper_predictions applies or undoes CAL temperatures on sealed predictions
  src/training/decision2/v2/release/retemper_predictions.py
Due: none

research(decision2): DEV2.0-0.8B calibration-only T = 1 candidate spec (local build only)
  src/training/decision2/v2/release/records/dev2-0p8b-t1-candidate-2026-09-28/DEV2.0-0.8B.decision.t1-candidate.json
  src/training/decision2/v2/release/specs/dev2-0p8b-t1-candidate.json
Due: none

fix(decision2): hub upload deletes remote files the package no longer has
  src/training/decision2/v2/release/hub.py
  src/training/decision2/v2/release/tests/test_hub_upload.py
Due: none

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
