Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

Format model inventory regression fixtures
  src/semantic-router/pkg/apiserver/route_model_info_prepared_metadata_test.go
Due: go-fmt

fix: retain rendered automatic budgets through candidate selection
  src/semantic-router/pkg/extproc/automatic_output_selection_test.go
  src/semantic-router/pkg/extproc/router_learning_helpers.go
  src/semantic-router/pkg/extproc/selection_capabilities.go
Due: go-fmt

[Bug] Suppress header mutations on body response in full-duplex streamed mode
  src/semantic-router/pkg/extproc/processor_req_body_full_duplex_test.go
  src/semantic-router/pkg/extproc/processor_req_body_streamed.go
Due: go-fmt

fix: persist final dispatch demand in router replay
  src/semantic-router/pkg/extproc/processor_dispatch_replay_test.go
  src/semantic-router/pkg/extproc/processor_req_body.go
Due: go-fmt

fix(e2e): compare fallback chat messages without incomparable tool_calls
  e2e/testcases/decision_fallback_contract.go
Due: go-fmt

Fix variable shadowing in similarity readiness checks
  src/semantic-router/pkg/apiserver/route_embeddings.go
Due: go-fmt

fix(e2e): compare local image fixtures without incomparable rollout restarts
  e2e/pkg/framework/prebuilt_profiles_test.go
Due: go-fmt

Added display name in domains
  tools/agent/domains.yaml
Due: yaml-and-yml-fmt

Removed a block from test pr changes
  tools/ci/tests/test_pr_change_classifier.py
Due: none

[CI/Build] Keep skipped verification job names readable
  .github/workflows/ci-changes.yml
  .github/workflows/ci.yml
  tools/ci/ci_plan.py
  tools/ci/tests/test_ci_display_names.py
  tools/ci/tests/test_component_batches.py
Due: yaml-and-yml-fmt

[CI/Build] Keep skipped verification job names readable (#3900)
  .github/workflows/ci-changes.yml
  .github/workflows/ci.yml
  tools/ci/ci_plan.py
  tools/ci/tests/test_ci_display_names.py
  tools/ci/tests/test_component_batches.py
Due: yaml-and-yml-fmt

[Bug] Suppress header mutations on body response in full-duplex streamed mode (#3899)
  src/semantic-router/pkg/extproc/processor_req_body_full_duplex_test.go
  src/semantic-router/pkg/extproc/processor_req_body_streamed.go
Due: go-fmt

test(e2e): update baseline inventory counts for reliability-timeouts
  e2e/pkg/testmatrix/testcases_test.go
Due: go-fmt

ci: verify published dashboard multi-arch images
  .github/workflows/docker-publish.yml
  tools/ci/image_artifacts.py
  tools/ci/tests/test_image_artifacts.py
  tools/ci/tests/test_verify_published_dashboard_image.py
  tools/ci/verify_published_dashboard_image.py
Due: yaml-and-yml-fmt

fix(looper): complete state-store migration and filename temp budget
  perf/go.sum
  src/semantic-router/pkg/looper/workflows_identity_resume_test.go
  src/semantic-router/pkg/looper/workflows_state_namespace.go
  src/semantic-router/pkg/looper/workflows_state_namespace_test.go
  src/semantic-router/pkg/looper/workflows_state_store_test.go
Due: go-fmt

[Docs] Add three Workgroup Members to the roster
  website/src/data/workGroups.ts
Due: none

[Docs] Add three Workgroup Members to the roster (#3901)
  website/src/data/workGroups.ts
Due: none

[Evaluation] Add versioned offline confidence calibration artifacts (#3541)
  tools/calibration/tuning/README.md
  tools/calibration/tuning/analyzer.py
  tools/calibration/tuning/build_confidence_artifact.py
  tools/calibration/tuning/collect_confidence_results.py
  tools/calibration/tuning/confidence_calibration.py
  tools/calibration/tuning/prepare_mmlu_pro_dataset.py
  tools/calibration/tuning/tests/fixtures/confidence_calibration_v1/large-calibration.json
  tools/calibration/tuning/tests/fixtures/confidence_calibration_v1/large-held_out.json
  tools/calibration/tuning/tests/fixtures/confidence_calibration_v1/large-train.json
  tools/calibration/tuning/tests/fixtures/confidence_calibration_v1/manifest.json
  tools/calibration/tuning/tests/fixtures/confidence_calibration_v1/small-calibration.json
  tools/calibration/tuning/tests/fixtures/confidence_calibration_v1/small-held_out.json
  tools/calibration/tuning/tests/fixtures/confidence_calibration_v1/small-train.json
  tools/calibration/tuning/tests/test_collect_confidence_results.py
  tools/calibration/tuning/tests/test_confidence_calibration.py
  tools/calibration/tuning/tests/test_framework.py
  tools/calibration/tuning/tests/test_prepare_mmlu_pro_dataset.py
Due: md-fmt

Format Go tools outside module roots from the Router module in the go-fmt hook
  tools/agent/scripts/go_fmt.py
  tools/agent/scripts/tests/test_go_fmt.py
Due: none

Drop the gofmt step expectation from the operator workflow contract test
  tools/ci/tests/test_deployment_test_results.py
Due: none

[Bug] Keep the automatic-output check reachable after the validator split
  src/semantic-router/pkg/config/validator_decision_contracts.go
Due: go-fmt

[Feature] Regenerate the apiserver OpenAPI for Fusion quorum diagnostics
  website/static/openapi/apiserver/apiserver.openapi.json
Due: none

[Feature] Extract the Fusion dashboard field schema
  dashboard/frontend/src/lib/dslAlgorithmSchemas.ts
Due: none

[CI/Build] Declare the llm-katan image for the CLI lifecycle verification
  tools/ci/verification_catalog.yaml
Due: yaml-and-yml-fmt

test(e2e): use benign retention probe prompt
  e2e/testcases/retention_directive.go
Due: go-fmt

test(e2e): preserve sticky provider prefix growth
  e2e/profiles/anthropic-shim/profile.go
  e2e/profiles/anthropic-shim/values.yaml
  e2e/testcases/sticky_tool_selection_provider_prefix.go
  e2e/testcases/sticky_tool_selection_test.go
Due: go-fmt, yaml-and-yml-fmt

test(e2e): guard provider prefix fixture shape
  e2e/testcases/sticky_tool_selection_test.go
Due: go-fmt

feat(classifier): support external model reasoning control
  config/config.yaml
  src/semantic-router/pkg/classification/generic_classifier.go
  src/semantic-router/pkg/classification/generic_classifier_llm_test.go
  src/semantic-router/pkg/classification/generic_classifier_rationale_test.go
  src/semantic-router/pkg/classification/generic_classifier_test.go
  src/semantic-router/pkg/classification/vllm_client.go
  src/semantic-router/pkg/classification/vllm_reasoning.go
  src/semantic-router/pkg/classification/vllm_reasoning_test.go
  src/semantic-router/pkg/config/model_config_types.go
  src/semantic-router/pkg/config/validator_classifier_signal.go
  src/semantic-router/pkg/config/validator_classifier_signal_test.go
  src/semantic-router/pkg/config/validator_dispatch.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  website/docs/tutorials/signal/learned/classifier.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/learned/classifier.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Add three dated Together serverless model mappings (#3848)
  config/catalog/resources/providers/together.yaml
  config/recipes/built-in/latest/catalog.yaml
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  tools/catalog/tests/test_generate_model_catalog.py
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

[Bug] Fix CI: err shadowing and a catalog-coupled test assertion
  src/semantic-router/pkg/extproc/req_filter_response_vendor_test.go
  src/semantic-router/pkg/protocolcodec/provider_vendor_extensions_responses_test.go
Due: go-fmt

refactor(shadow): keep multi-arm dispatch and budget, drop out-of-scope judging
  config/config.yaml
  src/semantic-router/pkg/config/canonical_export.go
  src/semantic-router/pkg/config/canonical_global.go
  src/semantic-router/pkg/config/canonical_shadow_comparison_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/shadow_comparison.go
  src/semantic-router/pkg/config/shadow_comparison_test.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  src/semantic-router/pkg/shadow/evidence.go
  src/semantic-router/pkg/shadow/evidence_test.go
  src/semantic-router/pkg/shadow/judge.go
  src/semantic-router/pkg/shadow/judge_test.go
  src/semantic-router/pkg/shadow/types.go
Due: go-fmt, yaml-and-yml-fmt

test(e2e): route sticky prefix fixture by shape
  e2e/profiles/anthropic-shim/values.yaml
  e2e/testcases/sticky_tool_selection_provider_prefix.go
Due: go-fmt, yaml-and-yml-fmt

[Feature] Add Databricks as a built-in serving provider
  config/catalog/resources/providers/databricks.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/compiler_test.go
  src/semantic-router/pkg/catalog/operations_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  tools/catalog/tests/test_generate_model_catalog.py
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

test(selection): lock declared-but-unsupported capability eligibility (#3116) (#3894)
  src/semantic-router/pkg/selection/candidate_requirements_test.go
Due: go-fmt

fix(dashboard): normalize packaged static asset permissions
  dashboard/backend/Dockerfile
Due: none

test(e2e): gate execution-graph drift with a bounded unreachable-debt ratchet (#2379)
  e2e/go.mod
  e2e/pkg/verification/debt.go
  e2e/pkg/verification/gates_test.go
Due: go-fmt

test(e2e): derive explicit CI selection overrides and gate their drift (#2379)
  e2e/cmd/e2e-audit/main.go
  e2e/pkg/verification/ciexclusions.go
  e2e/pkg/verification/cioverrides.go
  e2e/pkg/verification/gates_ci_test.go
  e2e/pkg/verification/gates_test.go
  tools/make/e2e.mk
Due: go-fmt

build(e2e): run the coverage drift gates from build-e2e (#2379)
  tools/make/e2e.mk
Due: none
