Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

[Bug] Withdraw a deduplication proposal produced after its own deadline expired so fail_closed rejects instead of removing messages
  src/semantic-router/pkg/contextdedup/action_test.go
  src/semantic-router/pkg/contextdedup/step.go
Due: go-fmt

[Feature] Export a shadow comparison dataset from replay records
  e2e/profiles/router-replay/profile.go
  e2e/profiles/router-replay/values.yaml
  e2e/testcases/shadow_dataset_export.go
  src/semantic-router/pkg/apiserver/route_router_replay.go
  src/semantic-router/pkg/extproc/router_replay_api.go
  src/semantic-router/pkg/extproc/router_replay_dataset.go
  src/semantic-router/pkg/extproc/router_replay_dataset_test.go
  tools/agent/domains.yaml
  website/docs/api/apiserver.md
  website/docs/tutorials/plugin/shadow-dispatch.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/plugin/shadow-dispatch.md
  website/static/openapi/apiserver/apiserver.openapi.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Test] Hold the shadow arm order a manifest digest covers
  src/semantic-router/pkg/shadowdataset/manifest_test.go
Due: go-fmt

test(cli): explicitly prepare lifecycle fixture locally
  e2e/testing/vllm-sr-cli/test_integration_sr_bench.py
Due: none

Keep Router startup readiness replica-local (#3976)
  src/semantic-router/pkg/apiserver/route_startup_status.go
  src/semantic-router/pkg/apiserver/server_ready_test.go
  src/semantic-router/pkg/routerruntime/registry.go
  src/semantic-router/pkg/routerruntime/status.go
  src/semantic-router/pkg/routerruntime/status_test.go
  website/docs/api/apiserver.md
Due: go-fmt, md-fmt

test: align Vela registry and portable model validation
  onnx-binding/instance/grounding_published_test.go
  onnx-binding/instance/grounding_test.go
  onnx-binding/instance/omni.go
  onnx-binding/instance/omni_published_test.go
  onnx-binding/instance/omni_test.go
  src/training/model_eval/constants.py
  src/vllm-sr/tests/test_sr_bench_large_plans.py
Due: go-fmt

test: assert native state contracts under the CI Rust toolchain
  candle-binding/src/ffi/state_manager_test.rs
  candle-binding/src/ffi/validation_test.rs
Due: cargo-fmt, cargo-check

fix: preserve ORT text adapters and native test ownership
  src/semantic-router/pkg/modelruntime/native/embedding_global_serving_test.go
  src/semantic-router/pkg/modelruntime/native/embedding_omni_test.go
  src/semantic-router/pkg/modelruntime/native/embedding_ort_factory.go
  tools/agent/docs/testing-strategy.md
  tools/agent/domains.yaml
  tools/ci/core_test_profiles.json
  tools/ci/image_calibration.py
  tools/ci/run_model_tests.py
  tools/ci/tests/test_core_evidence.py
  tools/ci/tests/test_image_calibration.py
  tools/ci/tests/test_model_test_results.py
  tools/ci/tests/test_pr_change_classifier.py
  tools/models/vela_halu/README.md
  tools/models/vela_omni/README.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix: resolve calibration prototype assets from the repository root
  tools/calibration/image-routing/prototype_evaluation.go
  tools/calibration/image-routing/prototype_evaluation_test.go
Due: go-fmt

test: align platform capabilities and calibration provenance checks
  src/vllm-sr/tests/recipe_topology_test_support.py
  src/vllm-sr/tests/test_recipe_topology_reconcile.py
  src/vllm-sr/tests/test_recipe_topology_recovery.py
  tools/calibration/image-routing/output_paths_test.go
Due: go-fmt

fix: reuse CPU execution buffers for native model inference
  onnx-binding/src/core/instance_options.rs
Due: cargo-fmt, cargo-check

fix: derive embedding warmup readiness from generation owners
  perf/go.sum
  src/semantic-router/cmd/main.go
  src/semantic-router/cmd/runtime_bootstrap.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/recipe_classifiers.go
  src/semantic-router/pkg/extproc/embedding_startup_readiness_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_learning_state_store_test.go
  src/semantic-router/pkg/extproc/server.go
  src/semantic-router/pkg/extproc/server_config_activation_test.go
  src/semantic-router/pkg/extproc/server_config_publication_test.go
  src/semantic-router/pkg/extproc/server_kubernetes_activation_test.go
  src/semantic-router/pkg/extproc/server_reload_runtime_test.go
  src/semantic-router/pkg/extproc/server_reload_test.go
  src/semantic-router/pkg/extproc/server_shutdown_test.go
  src/semantic-router/pkg/extproc/server_workflow_lifecycle_test.go
  src/semantic-router/pkg/modelruntime/embedding_owned.go
  src/semantic-router/pkg/modelruntime/router_runtime.go
Due: go-fmt

test: cover named Omni owners in the embedding inventory E2E
  e2e/testcases/vela_omni.go
  e2e/testcases/vela_omni_inventory.go
  e2e/testcases/vela_omni_inventory_test.go
Due: go-fmt

refactor: make Candle FFI safety contracts explicit and clean Clippy
  candle-binding/examples/benchmark_concurrent.rs
  candle-binding/examples/benchmark_performance.rs
  candle-binding/examples/embedding_benchmark.rs
  candle-binding/examples/mmbert_2d_matryoshka_bench.rs
  candle-binding/examples/test_32k_classifier_inference.rs
  candle-binding/examples/test_classifier_compatibility.rs
  candle-binding/examples/test_long_text_inference_32k.rs
  candle-binding/examples/test_lora_compatibility_32k.rs
  candle-binding/examples/test_lora_inference_32k.rs
  candle-binding/examples/test_modernbert_32k_validation.rs
  candle-binding/examples/test_multimodal_embed.rs
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/classifiers/mlp_selector.rs
  candle-binding/src/classifiers/traditional/batch_processor_test.rs
  candle-binding/src/classifiers/traditional/modernbert_classifier_test.rs
  candle-binding/src/classifiers/unified_test.rs
  candle-binding/src/core/unified_error.rs
  candle-binding/src/ffi/embedding.rs
  candle-binding/src/ffi/embedding_test.rs
  candle-binding/src/ffi/instances/tests/generic_classifier_tests.rs
  candle-binding/src/ffi/memory.rs
  candle-binding/src/ffi/memory_safety.rs
  candle-binding/src/ffi/similarity.rs
  candle-binding/src/ffi/state_manager.rs
  candle-binding/src/ffi/tokenization.rs
  candle-binding/src/ffi/types.rs
  candle-binding/src/ffi/validation.rs
  candle-binding/src/ffi/validation_test.rs
  candle-binding/src/model_architectures/config.rs
  candle-binding/src/model_architectures/embedding/dense_layers_test.rs
  candle-binding/src/model_architectures/generative/continuous_batch_scheduler.rs
  candle-binding/src/model_architectures/generative/qwen3_with_lora.rs
  candle-binding/src/model_architectures/lora/lora_adapter.rs
  candle-binding/src/model_architectures/lora/lora_adapter_test.rs
  candle-binding/src/model_architectures/routing.rs
  candle-binding/src/test_fixtures.rs
  candle-binding/src/utils/memory.rs
  candle-binding/tests/classification_output_demo.rs
  candle-binding/tests/generic_classifier_cpu.rs
Due: cargo-fmt, cargo-check

test: activate multimodal resources before router readiness
  e2e/pkg/helpers/activation.go
  e2e/pkg/helpers/activation_test.go
  e2e/profiles/multimodal-routing/bootstrap_test.go
  e2e/profiles/multimodal-routing/crds/intelligentpool.yaml
  e2e/profiles/multimodal-routing/crds/intelligentroute.yaml
  e2e/profiles/multimodal-routing/profile.go
  e2e/profiles/multimodal-routing/readiness.go
Due: go-fmt, yaml-and-yml-fmt

test: await Vela profile backend readiness
  e2e/profiles/vela-halu/profile.go
  e2e/profiles/vela-omni/profile.go
Due: go-fmt

test: align Milvus factory providers with collection dimensions
  src/semantic-router/pkg/cache/cache_test.go
Due: go-fmt

test: resolve native embedding dimensions in published Vela checks
  src/semantic-router/pkg/modelruntime/native/published_vela_test.go
Due: go-fmt

fix: include frozen routing assets in the CUDA build context
  src/vllm-sr/Dockerfile.cuda.dockerignore
Due: none

test: prepare shared backend images for Vela profiles
  e2e/pkg/framework/prebuilt_profiles_test.go
  e2e/profiles/all/imports.go
  tools/ci/tests/test_pr_change_classifier.py
Due: go-fmt

fix: list all prepared embedding owners through leased inventory
  src/semantic-router/pkg/apiserver/embedding_owned.go
  src/semantic-router/pkg/apiserver/route_embedding_inventory_test.go
  src/semantic-router/pkg/apiserver/route_model_info.go
  src/semantic-router/pkg/apiserver/route_model_info_embeddings.go
  src/semantic-router/pkg/apiserver/route_model_info_prepared.go
Due: go-fmt

[Test] Probe the routes that collide inside one tier
  config/recipes/agent/probes.yaml
  config/recipes/privacy/probes.yaml
Due: yaml-and-yml-fmt

feat(training): add query-outcome snapshots and query-level splitting
  src/training/model_selection/ml_model_selection/query_outcome_set.py
  src/training/model_selection/ml_model_selection/tests/test_query_outcome_set.py
Due: none

feat(evaluation): prepare missing datasets while creating runs
  dashboard/README.md
  dashboard/backend/handlers/sr_bench_preparations_test.go
  dashboard/frontend/e2e/evaluation/sr-bench-auto-preparation.spec.ts
  dashboard/frontend/e2e/evaluation/sr-bench-preparations.spec.ts
  dashboard/frontend/src/components/sr-bench/DatasetPreparationPanel.module.css
  dashboard/frontend/src/components/sr-bench/DatasetPreparationPanel.tsx
  dashboard/frontend/src/components/sr-bench/RunComposer.module.css
  dashboard/frontend/src/components/sr-bench/RunComposer.tsx
  dashboard/frontend/src/components/sr-bench/RunDatasetScope.tsx
  dashboard/frontend/src/components/sr-bench/datasetPreparationApi.ts
  dashboard/frontend/src/components/sr-bench/evaluationPreparation.test.ts
  dashboard/frontend/src/components/sr-bench/evaluationPreparation.ts
  dashboard/frontend/src/components/sr-bench/types.ts
  dashboard/frontend/src/pages/EvaluationPage.tsx
  src/vllm-sr/cli/commands/benchmark.py
  src/vllm-sr/cli/commands/benchmark_preparations.py
  src/vllm-sr/cli/sr_bench/preparation_collections.py
  src/vllm-sr/cli/sr_bench/preparations.py
  src/vllm-sr/cli/sr_bench/service.py
  src/vllm-sr/tests/test_sr_bench_preparation_cli.py
  src/vllm-sr/tests/test_sr_bench_preparation_collections.py
  src/vllm-sr/tests/test_sr_bench_preparations.py
  tools/make/docker.mk
  website/docs/api/cli.md
  website/docs/benchmarking/sr-bench.md
Due: go-fmt, md-fmt

test(e2e): cover context compression effects
  e2e/pkg/testmatrix/testcases.go
  e2e/pkg/testmatrix/testcases_test.go
  e2e/profiles/ai-gateway/profile_test.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/testcases/context_compression_e2e.go
  e2e/testcases/context_compression_e2e_test.go
Due: go-fmt, yaml-and-yml-fmt

test(e2e): cover RAG provider injection
  e2e/pkg/testmatrix/testcases.go
  e2e/pkg/testmatrix/testcases_test.go
  e2e/pkg/verification/debt.go
  e2e/profiles/ai-gateway/profile_test.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/testcases/rag_openai.go
  e2e/testcases/rag_provider_boundary.go
  e2e/testcases/rag_provider_boundary_test.go
  tools/test/services/mock-vllm/provider_boundary.py
  tools/test/services/mock-vllm/tests/test_provider_contract.py
Due: go-fmt, yaml-and-yml-fmt

fix(evaluation): offer explicit quality-only planning for unpriced targets
  dashboard/frontend/e2e/evaluation/sr-bench-missing-prices.spec.ts
  dashboard/frontend/src/components/sr-bench/RunComposer.tsx
Due: none

style: format RAG provider fixture
  tools/test/services/mock-vllm/provider_boundary.py
Due: none

fix(vectorstore): make memory batch inserts atomic
  src/semantic-router/pkg/vectorstore/memory_backend.go
  src/semantic-router/pkg/vectorstore/memory_backend_test.go
Due: go-fmt

test(candle): run Gemma dimension regression in native CI
  candle-binding/src/model_architectures/embedding/gemma_embedding.rs
  tools/make/rust.mk
Due: cargo-fmt, cargo-check

test(candle): use the Gemma bottleneck input width in fixture
  candle-binding/src/model_architectures/embedding/gemma_embedding.rs
Due: cargo-fmt, cargo-check

style: satisfy RAG fixture lint
  tools/test/services/mock-vllm/provider_boundary.py
  tools/test/services/mock-vllm/tests/test_provider_contract.py
Due: none

fix(vectorstore): make memory batch inserts atomic (#3990)
  src/semantic-router/pkg/vectorstore/memory_backend.go
  src/semantic-router/pkg/vectorstore/memory_backend_test.go
Due: go-fmt

fix(vectorstore): keep missing BM25 scores at zero
  src/semantic-router/pkg/vectorstore/hybrid.go
  src/semantic-router/pkg/vectorstore/hybrid_test.go
Due: go-fmt

style: satisfy the repo ruff config
  src/training/model_selection/ml_model_selection/query_outcome_set.py
  src/training/model_selection/ml_model_selection/tests/test_query_outcome_set.py
Due: none

fix(vectorstore): keep missing BM25 scores at zero (#3989)
  src/semantic-router/pkg/vectorstore/hybrid.go
  src/semantic-router/pkg/vectorstore/hybrid_test.go
Due: go-fmt

docs: add a short FAQ for positioning, llm-d boundary, and debugging
  website/docs/faq.md
  website/sidebars.ts
Due: md-fmt

docs: require both session and conversation headers for default protection
  website/docs/faq.md
Due: md-fmt

fix: stabilize vector store pagination
  src/semantic-router/pkg/apiserver/route_vectorstore_test.go
  src/semantic-router/pkg/vectorstore/manager.go
  src/semantic-router/pkg/vectorstore/manager_test.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
