Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

[CI/Build] Add unassign-inactive-assignees workflow for assignment lifecycle management
  .github/workflows/unassign-inactive-assignees.yml
Due: yaml-and-yml-fmt

[CI/Build] Update labels and docs for unassign-inactive-assignees automation
  .prowlabels.yaml
  docs/agent/maintainer-ops.md
Due: md-fmt, yaml-and-yml-fmt

Add FleetSim workload mixture evaluation
  src/fleet-sim/README.md
  src/fleet-sim/data/README.md
  src/fleet-sim/data/workload_mixture_burst.json
  src/fleet-sim/data/workload_mixture_drift.json
  src/fleet-sim/data/workload_mixture_nominal.json
  src/fleet-sim/fleet_sim/api/models.py
  src/fleet-sim/fleet_sim/api/routes/jobs.py
  src/fleet-sim/fleet_sim/api/routes/workloads.py
  src/fleet-sim/fleet_sim/api/runner.py
  src/fleet-sim/fleet_sim/core/request.py
  src/fleet-sim/fleet_sim/data/README.md
  src/fleet-sim/fleet_sim/data/workload_mixture_burst.json
  src/fleet-sim/fleet_sim/data/workload_mixture_drift.json
  src/fleet-sim/fleet_sim/data/workload_mixture_nominal.json
  src/fleet-sim/fleet_sim/optimizer/__init__.py
  src/fleet-sim/fleet_sim/optimizer/mixture.py
  src/fleet-sim/fleet_sim/optimizer/mixture_models.py
  src/fleet-sim/fleet_sim/workload/__init__.py
  src/fleet-sim/fleet_sim/workload/mixture.py
  src/fleet-sim/fleet_sim/workload/mixture_sampling.py
  src/fleet-sim/fleet_sim/workload/mixture_validation.py
  src/fleet-sim/run_sim.py
  src/fleet-sim/tests/test_api.py
  src/fleet-sim/tests/test_optimizer.py
  src/fleet-sim/tests/test_workload_mixture_optimizer.py
  src/fleet-sim/tests/test_workload_mixtures.py
Due: md-fmt

Add workload archetype forecast backtests
  src/fleet-sim/README.md
  src/fleet-sim/data/README.md
  src/fleet-sim/data/workload_forecast_burst.json
  src/fleet-sim/data/workload_forecast_drift.json
  src/fleet-sim/data/workload_forecast_seasonal.json
  src/fleet-sim/fleet_sim/data/README.md
  src/fleet-sim/fleet_sim/data/workload_forecast_burst.json
  src/fleet-sim/fleet_sim/data/workload_forecast_drift.json
  src/fleet-sim/fleet_sim/data/workload_forecast_seasonal.json
  src/fleet-sim/fleet_sim/optimizer/__init__.py
  src/fleet-sim/fleet_sim/optimizer/forecast.py
  src/fleet-sim/fleet_sim/optimizer/forecast_models.py
  src/fleet-sim/fleet_sim/workload/__init__.py
  src/fleet-sim/fleet_sim/workload/forecast.py
  src/fleet-sim/fleet_sim/workload/forecasting.py
  src/fleet-sim/run_sim.py
  src/fleet-sim/tests/test_optimizer.py
  src/fleet-sim/tests/test_workload_forecast_optimizer.py
  src/fleet-sim/tests/test_workload_forecasts.py
Due: md-fmt

Address workload mixture review feedback
  src/fleet-sim/data/README.md
  src/fleet-sim/data/workload_mixture_burst.json
  src/fleet-sim/data/workload_mixture_drift.json
  src/fleet-sim/data/workload_mixture_nominal.json
  src/fleet-sim/fleet_sim/api/models.py
  src/fleet-sim/fleet_sim/api/runner.py
  src/fleet-sim/fleet_sim/data/README.md
  src/fleet-sim/fleet_sim/data/workload_mixture_burst.json
  src/fleet-sim/fleet_sim/data/workload_mixture_drift.json
  src/fleet-sim/fleet_sim/data/workload_mixture_nominal.json
  src/fleet-sim/fleet_sim/optimizer/mixture.py
  src/fleet-sim/fleet_sim/optimizer/mixture_models.py
  src/fleet-sim/tests/test_api.py
  src/fleet-sim/tests/test_workload_mixture_optimizer.py
Due: md-fmt

fix: make maintainer board github fetch resilient
  tools/agent/scripts/maintainer_board.py
  tools/agent/scripts/tests/test_maintainer_board_ga_readiness.py
Due: none

Fix YAML syntax error in contributor-leaderboard workflow
  .github/workflows/contributor-leaderboard.yml
Due: yaml-and-yml-fmt

Fix YAML syntax error on line 53 in contributor-leaderboard workflow
  .github/workflows/contributor-leaderboard.yml
Due: yaml-and-yml-fmt

[CI/Build] Fix YAML syntax error in contributor-leaderboard workflow
  .github/workflows/contributor-leaderboard.yml
  .github/workflows/unassign-inactive-assignees.yml
  .prowlabels.yaml
  docs/agent/maintainer-ops.md
Due: md-fmt, yaml-and-yml-fmt

[CI/Build] Fix critical bugs in unassign-inactive-assignees workflow
  .github/workflows/unassign-inactive-assignees.yml
Due: yaml-and-yml-fmt

[CI/Build] Add packages:write permission to test-and-build workflow
  .github/workflows/test-and-build.yml
Due: yaml-and-yml-fmt

style: format maintainer board changes
  tools/agent/scripts/maintainer_board.py
  tools/agent/scripts/tests/test_maintainer_board_ga_readiness.py
Due: none

fix: make maintainer board GitHub fetch resilient (#2601)
  tools/agent/scripts/maintainer_board.py
  tools/agent/scripts/tests/test_maintainer_board_ga_readiness.py
Due: none

Address workload forecast review gaps
  src/fleet-sim/README.md
  src/fleet-sim/data/README.md
  src/fleet-sim/fleet_sim/data/README.md
  src/fleet-sim/fleet_sim/optimizer/forecast.py
  src/fleet-sim/fleet_sim/optimizer/forecast_models.py
  src/fleet-sim/fleet_sim/optimizer/mixture.py
  src/fleet-sim/fleet_sim/optimizer/mixture_models.py
  src/fleet-sim/fleet_sim/workload/forecast.py
  src/fleet-sim/fleet_sim/workload/forecasting.py
  src/fleet-sim/fleet_sim/workload/mixture.py
  src/fleet-sim/tests/test_workload_forecast_optimizer.py
  src/fleet-sim/tests/test_workload_forecasts.py
Due: md-fmt

[CI/Build] fix contributor leaderboard workflow parse error and harden gh API retries
  .github/workflows/contributor-leaderboard.yml
  website/scripts/generate-contributor-rank.mjs
Due: yaml-and-yml-fmt

[CI/Build] fix contributor leaderboard workflow parse error and harden gh API retries (#2599)
  .github/workflows/contributor-leaderboard.yml
  website/scripts/generate-contributor-rank.mjs
Due: yaml-and-yml-fmt

[CI/Build] refresh contributor leaderboard via weekly PR instead of main push
  .github/workflows/contributor-leaderboard.yml
Due: yaml-and-yml-fmt

[CI/Build] refresh contributor leaderboard via weekly PR instead of main push (#2606)
  .github/workflows/contributor-leaderboard.yml
Due: yaml-and-yml-fmt

[Router] add management API route inventory and deny-by-default auth (#2463)
  config/config.yaml
  src/semantic-router/cmd/runtime_bootstrap.go
  src/semantic-router/pkg/apiserver/auth.go
  src/semantic-router/pkg/apiserver/middleware.go
  src/semantic-router/pkg/apiserver/route_auth_test.go
  src/semantic-router/pkg/apiserver/route_policy.go
  src/semantic-router/pkg/apiserver/routes.go
  src/semantic-router/pkg/apiserver/routes_catalog.go
  src/semantic-router/pkg/apiserver/server.go
  src/semantic-router/pkg/config/canonical_defaults.go
  src/semantic-router/pkg/config/canonical_export.go
  src/semantic-router/pkg/config/canonical_global.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/management_api.go
  src/semantic-router/pkg/config/management_api_test.go
  src/semantic-router/pkg/config/reference_config_global_test.go
  src/vllm-sr/start-router.sh
Due: go-fmt, yaml-and-yml-fmt

[Router] drop unused management_api.enabled and fix remote_exposure CLI override
  config/config.yaml
  src/semantic-router/cmd/runtime_bootstrap.go
  src/semantic-router/cmd/runtime_bootstrap_test.go
  src/semantic-router/pkg/config/management_api.go
  src/semantic-router/pkg/config/management_api_test.go
Due: go-fmt, yaml-and-yml-fmt

[Router] synchronize management API config reads under race detector
  .gitignore
  src/semantic-router/pkg/apiserver/auth.go
  src/semantic-router/pkg/apiserver/config.go
  src/semantic-router/pkg/apiserver/route_auth_test.go
  src/semantic-router/pkg/apiserver/route_embeddings.go
  src/semantic-router/pkg/apiserver/route_startup_status.go
  src/semantic-router/pkg/apiserver/runtime_config.go
Due: go-fmt

[Router] redact management config secrets without secret_view
  src/semantic-router/pkg/apiserver/config_redact.go
  src/semantic-router/pkg/apiserver/config_redact_test.go
  src/semantic-router/pkg/apiserver/route_config_deploy.go
  src/semantic-router/pkg/apiserver/route_model_info.go
  src/semantic-router/pkg/apiserver/routes_catalog.go
  src/semantic-router/pkg/config/management_api.go
Due: go-fmt

ci: serve theme-aware logo in owner-notification comment
  .github/workflows/owner-notification.yml
Due: yaml-and-yml-fmt

[Docs] Add balance preset README (part of #2378) (#2563)
  deploy/recipes/README.md
  deploy/recipes/balance/README.md
Due: md-fmt

ci: serve theme-aware logo in owner-notification comment (#2611)
  .github/workflows/owner-notification.yml
Due: yaml-and-yml-fmt

[Router] export normalized entrypoints and recipes in canonical config
  docs/agent/plans/pl-0038-entrypoints-recipes.md
  src/semantic-router/pkg/config/canonical_export.go
  src/semantic-router/pkg/config/canonical_recipes.go
  src/semantic-router/pkg/config/canonical_recipes_test.go
Due: go-fmt, md-fmt

[Docs] register pl-0038 execution plan in the agent repo manifest
  tools/agent/repo-manifest.yaml
Due: yaml-and-yml-fmt

[Docs] document entrypoints and multi-recipe routing config contract
  config/README.md
  docs/agent/plans/pl-0038-entrypoints-recipes.md
  src/semantic-router/pkg/config/docs_contract_recipes_test.go
  website/docs/installation/configuration.md
  website/docs/proposals/unified-config-contract-v0-3.md
  website/docs/tutorials/global/entrypoints-and-recipes.md
  website/sidebars.ts
Due: go-fmt, md-fmt

[Router] add canonical entrypoints/recipes schema and normalization
  config/config.yaml
  docs/agent/plans/pl-0038-entrypoints-recipes.md
  src/semantic-router/pkg/config/canonical_config.go
  src/semantic-router/pkg/config/canonical_recipes.go
  src/semantic-router/pkg/config/canonical_recipes_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/recipes.go
  src/semantic-router/pkg/config/reference_config_contract_test.go
  src/semantic-router/pkg/config/reference_config_public_surface_test.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Docs] add execution plan for entrypoints and multi-recipe routing
  docs/agent/plans/README.md
  docs/agent/plans/pl-0038-entrypoints-recipes.md
Due: md-fmt

[Router] make non-CGO Candle backend fail closed
  candle-binding/semantic-router_mock.go
  candle-binding/semantic-router_mock_test.go
  candle-binding/semantic-router_test.go
Due: go-fmt

[Router] [ Phase 1 ] authenticate and isolate the management API (#2561)
  .gitignore
  config/config.yaml
  src/semantic-router/cmd/runtime_bootstrap.go
  src/semantic-router/cmd/runtime_bootstrap_test.go
  src/semantic-router/pkg/apiserver/auth.go
  src/semantic-router/pkg/apiserver/config.go
  src/semantic-router/pkg/apiserver/config_redact.go
  src/semantic-router/pkg/apiserver/config_redact_test.go
  src/semantic-router/pkg/apiserver/middleware.go
  src/semantic-router/pkg/apiserver/route_auth_test.go
  src/semantic-router/pkg/apiserver/route_config_deploy.go
  src/semantic-router/pkg/apiserver/route_embeddings.go
  src/semantic-router/pkg/apiserver/route_model_info.go
  src/semantic-router/pkg/apiserver/route_policy.go
  src/semantic-router/pkg/apiserver/route_startup_status.go
  src/semantic-router/pkg/apiserver/routes.go
  src/semantic-router/pkg/apiserver/routes_catalog.go
  src/semantic-router/pkg/apiserver/runtime_config.go
  src/semantic-router/pkg/apiserver/server.go
  src/semantic-router/pkg/config/canonical_defaults.go
  src/semantic-router/pkg/config/canonical_export.go
  src/semantic-router/pkg/config/canonical_global.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/management_api.go
  src/semantic-router/pkg/config/management_api_test.go
  src/semantic-router/pkg/config/reference_config_global_test.go
  src/vllm-sr/start-router.sh
Due: go-fmt, yaml-and-yml-fmt

vectorstore: extract embedChunks helper to satisfy funlen
  src/semantic-router/pkg/vectorstore/pipeline.go
Due: go-fmt

[Router] vectorstore: make shutdown drain timeout configurable; fix lint
  config/config.yaml
  deploy/helm/semantic-router/values.yaml
  e2e/profiles/rag-hybrid-search/values.yaml
  src/semantic-router/pkg/config/vectorstore.go
  src/semantic-router/pkg/routerruntime/vectorstore_runtime.go
  src/semantic-router/pkg/vectorstore/integration_test.go
  src/semantic-router/pkg/vectorstore/pipeline_lifecycle_test.go
  src/semantic-router/pkg/vectorstore/pipeline_test.go
Due: go-fmt, yaml-and-yml-fmt

[Router] vectorstore: add lifecycle root context and bounded Stop(ctx)
  src/semantic-router/pkg/routerruntime/vectorstore_runtime.go
  src/semantic-router/pkg/vectorstore/integration_test.go
  src/semantic-router/pkg/vectorstore/pipeline.go
  src/semantic-router/pkg/vectorstore/pipeline_lifecycle_test.go
  src/semantic-router/pkg/vectorstore/pipeline_test.go
Due: go-fmt

[Router] vectorstore: make Stop() lifecycle-safe under timeout and restart
  config/config.yaml
  dashboard/frontend/src/pages/configPageRouterDefaultsCatalog.ts
  dashboard/frontend/src/pages/configPageRouterDefaultsSupport.ts
  dashboard/frontend/src/pages/configPageSupport.ts
  deploy/helm/semantic-router/values.yaml
  e2e/profiles/rag-hybrid-search/values.yaml
  src/semantic-router/pkg/config/vectorstore.go
  src/semantic-router/pkg/routerruntime/vectorstore_runtime.go
  src/semantic-router/pkg/vectorstore/pipeline.go
  src/semantic-router/pkg/vectorstore/pipeline_lifecycle_test.go
Due: go-fmt, yaml-and-yml-fmt

refactor(vectorstore): thread context into Embedder interface
  src/semantic-router/pkg/apiserver/route_vectorstore_search.go
  src/semantic-router/pkg/apiserver/runtime_globals_test.go
  src/semantic-router/pkg/extproc/req_filter_rag_vectorstore.go
  src/semantic-router/pkg/extproc/router_runtime_services_test.go
  src/semantic-router/pkg/vectorstore/candle_embedder.go
  src/semantic-router/pkg/vectorstore/integration_test.go
  src/semantic-router/pkg/vectorstore/pipeline.go
  src/semantic-router/pkg/vectorstore/pipeline_embedder_ctx_test.go
  src/semantic-router/pkg/vectorstore/pipeline_lifecycle_test.go
  src/semantic-router/pkg/vectorstore/pipeline_test.go
Due: go-fmt

vectorstore: classify embed cancellation as cancelled; fix leak-test baseline race
  src/semantic-router/pkg/vectorstore/pipeline.go
  src/semantic-router/pkg/vectorstore/pipeline_embedder_ctx_test.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
