Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

fix: close remaining canonical config audit gaps
  candle-binding/src/core/config_loader.rs
  deploy/addons/mcp-classifier-server/README.md
  docs/agent/tech-debt/README.md
  docs/agent/tech-debt/td-001-config-surface-fragmentation.md
  docs/agent/tech-debt/td-006-structural-rule-target-vs-legacy-hotspots.md
  docs/agent/tech-debt/td-013-legacy-k8s-controller-bypasses-canonical-v0-3.md
  src/semantic-router/pkg/config/docs_contract_test.go
  src/semantic-router/pkg/config/maintained_asset_contract_test.go
  src/semantic-router/pkg/modelselection/README.md
  src/training/model_eval/result_to_config.py
  src/training/model_eval/test_result_to_config.py
  tools/agent/repo-manifest.yaml
  tools/agent/structure-rules.yaml
  website/docs/api/classification.md
  website/docs/proposals/hallucination-mitigation-milestone.md
  website/docs/proposals/nvidia-dynamo-integration.md
  website/docs/training/model-performance-eval.md
  website/docs/troubleshooting/common-errors.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/api/classification.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/hallucination-mitigation-milestone.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/nvidia-dynamo-integration.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt, cargo-fmt, cargo-check

fix: close remaining config audit gaps
  docs/agent/tech-debt/README.md
  docs/agent/tech-debt/td-014-candle-binding-crate-wide-clippy-gate.md
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_test.go
  src/training/model_eval/result_to_config.py
  src/training/model_eval/test_result_to_config.py
  tools/agent/repo-manifest.yaml
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix: finish removing legacy cli init assumptions
  e2e/testing/vllm-sr-cli/README.md
  e2e/testing/vllm-sr-cli/cli_test_base.py
  e2e/testing/vllm-sr-cli/run_cli_tests.py
  e2e/testing/vllm-sr-cli/test_integration.py
  e2e/testing/vllm-sr-cli/test_unit_lifecycle.py
  src/vllm-sr/cli/commands/runtime_support.py
  src/vllm-sr/tests/test_cli_main.py
Due: md-fmt

fix(e2e): add security fix for authz-rbac integration test
  config/testing/config.authz-rbac.yaml
  e2e/cmd/e2e/main.go
  e2e/profiles/authz-rbac/README.md
  e2e/profiles/authz-rbac/gateway-resources/gwapi-resources.yaml
  e2e/profiles/authz-rbac/profile.go
  e2e/profiles/authz-rbac/values.yaml
  e2e/testcases/authz_header_spoofing.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(e2e): add missing ml-model-selection profile registration
  e2e/cmd/e2e/main.go
Due: go-fmt

fix: close diff-scoped rust lint debt
  candle-binding/src/core/config_loader.rs
  docs/agent/playbooks/rust-bindings.md
  docs/agent/tech-debt/README.md
  docs/agent/tech-debt/td-014-candle-binding-crate-wide-clippy-gate.md
  e2e/testing/vllm-sr-cli/run_cli_tests.py
  src/vllm-sr/cli/commands/generate.py
  src/vllm-sr/cli/commands/show_config.py
  src/vllm-sr/cli/config_generator.py
  src/vllm-sr/cli/utils.py
  tools/agent/scripts/agent_support.py
Due: md-fmt, cargo-fmt, cargo-check

fix(e2e): add missing profile registrations
  e2e/cmd/e2e/main.go
Due: go-fmt

fix: close remaining CLI and docs surface gaps
  docs/agent/tech-debt/td-006-structural-rule-target-vs-legacy-hotspots.md
  src/semantic-router/pkg/config/docs_contract_test.go
  src/vllm-sr/Makefile
  src/vllm-sr/README.md
  src/vllm-sr/cli/commands/config.py
  src/vllm-sr/cli/commands/general.py
  src/vllm-sr/cli/commands/runtime.py
  src/vllm-sr/cli/commands/runtime_support.py
  src/vllm-sr/cli/commands/serve.py
  src/vllm-sr/cli/commands/validate.py
  src/vllm-sr/cli/config_generator.py
  src/vllm-sr/cli/core.py
  src/vllm-sr/cli/docker_images.py
  src/vllm-sr/cli/docker_runtime.py
  src/vllm-sr/cli/docker_services.py
  src/vllm-sr/cli/docker_start.py
  src/vllm-sr/cli/parser.py
  src/vllm-sr/cli/runtime_lifecycle.py
  src/vllm-sr/cli/utils.py
  src/vllm-sr/cli/validator.py
  src/vllm-sr/tests/test_makefile_surface.py
  tools/agent/structure-rules.yaml
  website/docs/overview/collective-intelligence.md
  website/docs/overview/semantic-router-overview.md
  website/docs/troubleshooting/common-errors.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(memory): regenerate embedding before overwriting Content in InMemoryStore.Update
  src/semantic-router/pkg/memory/inmemory_store.go
Due: go-fmt

ci: add gofmt diagnostics and fix agent-lint error masking
  .github/workflows/pre-commit.yml
  tools/make/agent.mk
Due: yaml-and-yml-fmt

fix(perf): gofmt align struct field tags in perftest/main.go
  perf/cmd/perftest/main.go
Due: go-fmt

fix(memory): regenerate embedding before overwriting Content in InMemoryStore.Update (#1566)
  .github/workflows/pre-commit.yml
  perf/cmd/perftest/main.go
  src/semantic-router/pkg/memory/inmemory_store.go
  tools/make/agent.mk
Due: go-fmt, yaml-and-yml-fmt

fix: unblock remaining rebased CI checks
  deploy/operator/config/crd/bases/vllm.ai_semanticrouters.yaml
  docs/agent/tech-debt/td-006-structural-rule-target-vs-legacy-hotspots.md
  src/semantic-router/pkg/config/canonical_config.go
  src/semantic-router/pkg/config/canonical_global.go
  src/semantic-router/pkg/config/canonical_loader_test.go
  src/semantic-router/pkg/config/loader.go
  tools/agent/structure-rules.yaml
  tools/linter/go/.golangci.agent.yml
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix: unblock rebased config rollout CI
  deploy/operator/controllers/helpers.go
  deploy/operator/controllers/helpers_test.go
  docs/agent/tech-debt/td-006-structural-rule-target-vs-legacy-hotspots.md
  e2e/config/config.memory-user.yaml
  src/training/model_eval/result_to_config.py
  src/vllm-sr/cli/bootstrap.py
  src/vllm-sr/cli/commands/serve.py
  src/vllm-sr/cli/commands/show_config.py
  src/vllm-sr/cli/config_generator.py
  tools/agent/scripts/structure_check.py
  tools/agent/structure-rules.yaml
  tools/linter/python/.ruff.toml
  tools/make/linter.mk
Due: go-fmt, md-fmt, yaml-and-yml-fmt

update
  reactbits
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/api/router.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/goals.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/semantic-router-overview.md
Due: md-fmt

test: enforce exhaustive canonical config reference
  config/README.md
  config/config.yaml
  config/decision/single/domain-computer-science.yaml
  config/plugin/image-gen/basic.yaml
  config/plugin/rag/milvus.yaml
  config/signal/modality/multimodal.yaml
  docs/agent/tech-debt/README.md
  docs/agent/tech-debt/td-012-canonical-lora-catalog-gap.md
  src/semantic-router/pkg/config/AGENTS.md
  src/semantic-router/pkg/config/docs_contract_test.go
  src/semantic-router/pkg/config/reference_config_contract_test.go
  src/semantic-router/pkg/config/reference_config_global_test.go
  src/semantic-router/pkg/config/reference_config_public_surface_test.go
  src/semantic-router/pkg/config/reference_config_routing_surface_test.go
  src/semantic-router/pkg/config/reference_config_test_helpers_test.go
  tools/agent/repo-manifest.yaml
  tools/agent/scripts/agent_gate.py
  tools/agent/scripts/agent_support.py
  tools/make/agent.mk
  website/docs/installation/configuration.md
  website/docs/proposals/nvidia-dynamo-integration.md
  website/docs/proposals/unified-config-contract-v0-3.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/cookbook/pii-policy.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/training-overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/troubleshooting/vsr-headers.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix: close remaining benchmark config audit gaps
  bench/README.md
  bench/cpu-vs-gpu/README.md
  bench/cpu-vs-gpu/bench-3way.sh
  bench/cpu-vs-gpu/config-bench-candle.yaml
  bench/hallucination/README.md
  bench/hallucination/config-7b.yaml
  bench/hallucination/config.yaml
  bench/reasoning/canonical_patch.py
  bench/reasoning/cli_args.py
  bench/reasoning/plotting.py
  bench/reasoning/reasoning_mode_eval.py
  bench/reasoning/reporting.py
  bench/reasoning/test_reasoning_mode_eval.py
  bench/reasoning_mode_eval.sh
  docs/agent/tech-debt/td-001-config-surface-fragmentation.md
  src/semantic-router/cmd/wasm/main_stub.go
  src/semantic-router/pkg/config/canonical_defaults.go
  src/semantic-router/pkg/config/canonical_export.go
  src/semantic-router/pkg/config/docs_contract_test.go
  src/semantic-router/pkg/config/maintained_asset_contract_test.go
  src/semantic-router/pkg/dsl/compiler_models.go
  src/semantic-router/pkg/dsl/routing_contract.go
  src/semantic-router/pkg/dsl/routing_contract_test.go
  src/semantic-router/pkg/k8s/converter.go
  src/vllm-sr/tests/test_makefile_surface.py
Due: go-fmt, md-fmt, yaml-and-yml-fmt

docs: close remaining current training config drift
  src/semantic-router/pkg/config/docs_contract_test.go
  website/docs/training/training-overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/training-overview.md
Due: go-fmt, md-fmt

update
  deploy/operator/config/crd/bases/vllm.ai_semanticrouters.yaml
  src/semantic-router/pkg/modeldownload/config_parser.go
  src/semantic-router/pkg/modeldownload/config_parser_test.go
Due: go-fmt, yaml-and-yml-fmt

update
  src/semantic-router/pkg/modeldownload/config_parser.go
  src/semantic-router/pkg/startupstatus/status.go
  src/semantic-router/pkg/startupstatus/status_test.go
Due: go-fmt

update
  tools/make/agent.mk
Due: none

update
  src/semantic-router/pkg/startupstatus/status.go
Due: go-fmt

chore: drop local-only markdownlint bootstrap tweak
  tools/make/agent.mk
Due: none

docs: align config proposal with latest sidebar and schema
  src/semantic-router/pkg/config/docs_contract_test.go
  website/docs/proposals/unified-config-contract-v0-3.md
  website/sidebars.ts
Due: go-fmt, md-fmt

docs: split signal tutorials by heuristic and learned signals
  config/README.md
  src/semantic-router/pkg/config/docs_contract_signal_test.go
  src/semantic-router/pkg/config/docs_contract_test.go
  website/docs/installation/configuration.md
  website/docs/overview/mom-model-family.md
  website/docs/overview/signal-driven-decisions.md
  website/docs/tutorials/signal/heuristic/authz.md
  website/docs/tutorials/signal/heuristic/context.md
  website/docs/tutorials/signal/heuristic/keyword.md
  website/docs/tutorials/signal/heuristic/language.md
  website/docs/tutorials/signal/heuristic/modality.md
  website/docs/tutorials/signal/learned/complexity.md
  website/docs/tutorials/signal/learned/domain.md
  website/docs/tutorials/signal/learned/embedding.md
  website/docs/tutorials/signal/learned/fact-check.md
  website/docs/tutorials/signal/learned/jailbreak.md
  website/docs/tutorials/signal/learned/pii.md
  website/docs/tutorials/signal/learned/preference.md
  website/docs/tutorials/signal/learned/user-feedback.md
  website/docs/tutorials/signal/operational.md
  website/docs/tutorials/signal/overview.md
  website/docs/tutorials/signal/routing.md
  website/docs/tutorials/signal/safety.md
  website/sidebars.ts
Due: go-fmt, md-fmt

fix: stabilize dashboard DSL import and deploy
  dashboard/backend/go.mod
  dashboard/backend/go.sum
  dashboard/backend/handlers/deploy.go
  dashboard/backend/handlers/deploy_test.go
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/stores/dslStore.ts
  deploy/amd/README.md
  deploy/amd/config.yaml
  src/semantic-router/pkg/dsl/decompiler.go
  src/semantic-router/pkg/dsl/decompiler_plugin_config_test.go
  src/semantic-router/pkg/dsl/maintained_asset_roundtrip_test.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

initial commit
  candle-binding/semantic-router.go
  candle-binding/semantic-router_mock.go
  candle-binding/src/ffi/generative_classifier.rs
  onnx-binding/semantic-router.go
  perf/benchmarks/preference_bench_test.go
Due: go-fmt, cargo-fmt, cargo-check

chore: run gofmt and fix lint issues
  perf/cmd/perftest/main.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
