Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

feat(dsl): add conflict detection, SIGNAL_GROUP, TEST blocks, and TIER routing
  src/semantic-router/pkg/config/decision_config.go
  src/semantic-router/pkg/config/signal_config.go
  src/semantic-router/pkg/dsl/ast.go
  src/semantic-router/pkg/dsl/ast_json.go
  src/semantic-router/pkg/dsl/compiler.go
  src/semantic-router/pkg/dsl/decompiler.go
  src/semantic-router/pkg/dsl/dsl_test.go
  src/semantic-router/pkg/dsl/emitter_yaml.go
  src/semantic-router/pkg/dsl/parser.go
  src/semantic-router/pkg/dsl/routing_contract.go
  src/semantic-router/pkg/dsl/validator.go
Due: go-fmt

lint
  tools/linter/codespell/.codespell.ignorewords
Due: none

lint
  config/config.yaml
  src/semantic-router/pkg/dsl/dsl_test.go
  src/semantic-router/pkg/dsl/validator.go
Due: go-fmt, yaml-and-yml-fmt

lint
  src/semantic-router/pkg/dsl/dsl_test.go
Due: go-fmt

fix: replace retired domain alias computer_science in CRM demo config
  config/testing/config.crm-demo.yaml
Due: yaml-and-yml-fmt

lint
  src/semantic-router/pkg/dsl/ast_json.go
  src/semantic-router/pkg/dsl/validator.go
Due: go-fmt

fix: nil-guard Config in stripUntrustedIdentityHeaders
  src/semantic-router/pkg/extproc/processor_req_header.go
Due: go-fmt

security: add max_evaluation_chars limit to prevent giant prompt DoS (#1454)
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
Due: go-fmt

security: validate looper breadth_schedule and modelRefs limits (#1456)
  src/semantic-router/pkg/config/validator.go
Due: go-fmt

fix: resolve structure check lint failures
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_test.go
  tools/agent/structure-rules.yaml
Due: go-fmt, yaml-and-yml-fmt

fix: add missing validator_conflicts.go to commit
  src/semantic-router/pkg/dsl/validator_conflicts.go
Due: go-fmt

fix: resolve ruff lint errors in security e2e test
  e2e/testing/10-security-audit-test.py
Due: none

fix: add req_filter_classification.go to legacy hotspots (pre-existing 281-line function)
  tools/agent/structure-rules.yaml
Due: yaml-and-yml-fmt

lint
  src/semantic-router/pkg/dsl/validator.go
Due: go-fmt

chore(precommit): update precommit container
  tools/docker/Dockerfile.precommit
  tools/make/pre-commit.mk
Due: none

revert wrong changes
  src/semantic-router/pkg/config/config.go
Due: go-fmt

fix formatting
  src/semantic-router/pkg/cache/valkey_cache.go
  src/semantic-router/pkg/cache/valkey_cache_integration_test.go
Due: go-fmt

feat: initial implementation of valkey cache backend
  deploy/examples/runtime/semantic-cache/valkey.yaml
  src/semantic-router/pkg/cache/cache_factory.go
  src/semantic-router/pkg/cache/cache_interface.go
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/valkey_cache.go
  src/semantic-router/pkg/cache/valkey_cache_integration_test.go
  src/semantic-router/pkg/config/config.go
Due: go-fmt, yaml-and-yml-fmt

fix formatting and build
  src/semantic-router/go.onnx.mod
  src/semantic-router/pkg/cache/valkey_cache.go
  src/semantic-router/pkg/cache/valkey_cache_integration_test.go
  src/semantic-router/pkg/config/runtime_config.go
Due: go-fmt

configurations, docs, example app, fixes
  .github/workflows/test-and-build.yml
  Makefile
  deploy/addons/valkey/valkey-cache.go
  deploy/kubernetes/response-api/valkey.yaml
  deploy/operator/api/v1alpha1/semanticrouter_types.go
  deploy/operator/config/crd/bases/vllm.ai_semanticrouters.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_valkey_cache.yaml
  deploy/operator/controllers/helpers.go
  deploy/operator/controllers/helpers_test.go
  e2e/config/config.response-api-valkey.yaml
  e2e/profiles/response-api-shared/valkey_profile.go
  src/semantic-router/go.mod
  src/semantic-router/go.sum
  src/semantic-router/pkg/cache/valkey_cache_integration_test.go
  tools/make/build-run-test.mk
  tools/make/valkey.mk
Due: go-fmt, yaml-and-yml-fmt

removed extra files
  deploy/kubernetes/response-api/valkey.yaml
  e2e/config/config.response-api-valkey.yaml
  e2e/profiles/response-api-shared/valkey_profile.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/runtime_config.go
Due: go-fmt, yaml-and-yml-fmt

fix formatting
  src/semantic-router/pkg/cache/valkey_cache_integration_test.go
Due: go-fmt

fix tests
  src/semantic-router/pkg/cache/valkey_cache_integration_test.go
  src/semantic-router/pkg/cache/valkey_cache_test.go
Due: go-fmt

fix lint checks
  config/config.yaml
  src/semantic-router/pkg/config/reference_config_global_test.go
Due: go-fmt, yaml-and-yml-fmt

fix lint checks
  config/config.yaml
Due: yaml-and-yml-fmt

fix lint checks
  deploy/addons/valkey/valkey-cache.go
  src/semantic-router/pkg/cache/valkey_cache.go
  src/semantic-router/pkg/cache/valkey_cache_integration_test.go
  src/semantic-router/pkg/cache/valkey_cache_unit_test.go
Due: go-fmt

fix example app
  deploy/addons/valkey/valkey-cache.go
Due: go-fmt

fix formatting
  src/semantic-router/pkg/cache/valkey_cache.go
Due: go-fmt

fix file length
  src/semantic-router/pkg/cache/valkey_cache_integration_test.go
Due: go-fmt

update bundle version
  tools/make/valkey.mk
Due: none

chore(ci): fix production-stack OOM on e2e
  e2e/profiles/production-stack/profile.go
  e2e/profiles/production-stack/values.yaml
Due: go-fmt, yaml-and-yml-fmt

lint
  e2e/profiles/production-stack/profile.go
Due: go-fmt

test fix
  src/semantic-router/pkg/cache/valkey_cache_integration_test.go
Due: go-fmt

fix unit test
  src/semantic-router/pkg/vectorstore/pipeline.go
Due: go-fmt

chore(ci): fix production-stack OOM on e2e (#1591)
  e2e/profiles/production-stack/profile.go
  e2e/profiles/production-stack/values.yaml
  src/semantic-router/pkg/vectorstore/pipeline.go
Due: go-fmt, yaml-and-yml-fmt

feat(extproc): optimize modality request body rewriting with sjson helpers (#1585)
  src/semantic-router/pkg/extproc/req_filter_modality.go
  src/semantic-router/pkg/extproc/req_filter_modality_test.go
Due: go-fmt
