Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

expand pvc size & fix inference-pool selector error
  deploy/kubernetes/README.md
  deploy/kubernetes/ai-gateway/inference-pool/inference-pool.yaml
  deploy/kubernetes/pvc.yaml
  website/docs/installation/kubernetes.md
Due: md-fmt, yaml-and-yml-fmt

chore: add docker makefile target help
  tools/make/docker.mk
  tools/make/kube.mk
Due: none

add docker-compose make help and more
  tools/make/docker.mk
  tools/make/milvus.mk
  tools/make/observability.mk
  tools/make/pre-commit.mk
Due: none

support bigger models than 0.6B
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora_no_leakage.py
Due: none

optimize gpu memory
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora_no_leakage.py
Due: none

fix:Improve rust unit test and optimize concurrent tests with rayon
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/core/mod.rs
  candle-binding/src/core/similarity_test.rs
  candle-binding/src/core/tokenization_test.rs
  candle-binding/src/ffi/init_test.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/ffi/state_manager_test.rs
  candle-binding/src/ffi/validation_test.rs
  candle-binding/src/model_architectures/lora/lora_adapter_test.rs
  candle-binding/src/model_architectures/lora/mod.rs
Due: cargo-fmt, cargo-check

docs: ddd error prompts when installing VSR using Docker Compose.
  website/docs/installation/docker-compose.md
Due: md-fmt

fix train to test transition issue
  src/training/training_lora/mmlu_pro_solver_lora/ft_qwen3_mmlu_solver_lora_no_leakage.py
Due: none

fix:Improve rust unit test and optimize concurrent tests with rayon (#471)
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/core/mod.rs
  candle-binding/src/core/similarity_test.rs
  candle-binding/src/core/tokenization_test.rs
  candle-binding/src/ffi/init_test.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/ffi/state_manager_test.rs
  candle-binding/src/ffi/validation_test.rs
  candle-binding/src/model_architectures/lora/lora_adapter_test.rs
  candle-binding/src/model_architectures/lora/mod.rs
Due: cargo-fmt, cargo-check

add hf_transfer pkg
  website/docs/installation/docker-compose.md
  website/docs/installation/installation.md
Due: md-fmt

chore: limit make test to minimal model download
  tools/make/build-run-test.mk
Due: none

feat: add support for MoM model
  config/config.development.yaml
  config/config.yaml
  dashboard/frontend/src/pages/LandingPage.tsx
  src/semantic-router/pkg/api/server.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/extproc/request_handler.go
  tools/openwebui-pipe/vllm_semantic_router_pipe.py
  website/docs/api/router.md
  website/docs/installation/installation.md
  website/docs/installation/kubernetes.md
  website/docs/tutorials/intelligent-route/reasoning.md
  website/docs/tutorials/semantic-cache/in-memory-cache.md
  website/docs/tutorials/semantic-cache/milvus-cache.md
  website/src/components/ChainOfThoughtTerminal.tsx
  website/src/components/TypewriterCode.tsx
Due: go-fmt, md-fmt, yaml-and-yml-fmt

docs: update code preview for mom
  README.md
  website/static/img/code-with-words.png
  website/static/img/code.png
Due: md-fmt

Normalize after stash pop
  .github/workflows/docker-publish.yml
  .gitignore
Due: yaml-and-yml-fmt

feat: add knob for list real models
  src/semantic-router/pkg/api/server.go
  src/semantic-router/pkg/api/server_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/models_endpoint_test.go
  src/semantic-router/pkg/extproc/request_handler.go
Due: go-fmt

more
  config/config.yaml
  src/semantic-router/pkg/api/server_test.go
  src/semantic-router/pkg/extproc/models_endpoint_test.go
Due: go-fmt, yaml-and-yml-fmt

more
  src/semantic-router/pkg/extproc/request_handler.go
Due: go-fmt

add chat ui to dashboard and docker compose & refactor dashboard/backend/
  dashboard/backend/config/config.go
  dashboard/backend/handlers/config.go
  dashboard/backend/handlers/health.go
  dashboard/backend/handlers/static.go
  dashboard/backend/handlers/tools.go
  dashboard/backend/main.go
  dashboard/backend/middleware/cors.go
  dashboard/backend/proxy/proxy.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/HuggingChatPage.tsx
  deploy/docker-compose/docker-compose.yml
Due: go-fmt, yaml-and-yml-fmt

try fix network error
  dashboard/backend/handlers/static.go
  dashboard/backend/proxy/proxy.go
  dashboard/backend/router/router.go
Due: go-fmt

add additional update
  candle-binding/Cargo.lock
Due: none

fix:Implement Comprehensive Rayon Parallelization for LoRA Classifiers (#464)
  candle-binding/Cargo.toml
  candle-binding/src/classifiers/lora/intent_lora.rs
  candle-binding/src/classifiers/lora/mod.rs
  candle-binding/src/classifiers/lora/parallel_engine.rs
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/classifiers/lora/pii_lora.rs
  candle-binding/src/classifiers/lora/security_lora.rs
  candle-binding/src/model_architectures/embedding/qwen3_embedding_test.rs
  candle-binding/src/model_architectures/lora/bert_lora.rs
  candle-binding/src/model_architectures/traditional/base_model.rs
Due: cargo-fmt, cargo-check

feat:unit tests for candle refactoring (#296)
  candle-binding/Cargo.toml
  candle-binding/src/classifiers/lora/intent_lora_test.rs
  candle-binding/src/classifiers/lora/mod.rs
  candle-binding/src/classifiers/lora/pii_lora_test.rs
  candle-binding/src/classifiers/lora/security_lora_test.rs
  candle-binding/src/classifiers/lora/token_lora_test.rs
  candle-binding/src/classifiers/mod.rs
  candle-binding/src/classifiers/traditional/batch_processor_test.rs
  candle-binding/src/classifiers/traditional/mod.rs
  candle-binding/src/classifiers/traditional/modernbert_classifier_test.rs
  candle-binding/src/classifiers/unified_test.rs
  candle-binding/src/core/config_loader_test.rs
  candle-binding/src/core/mod.rs
  candle-binding/src/core/unified_error_test.rs
  candle-binding/src/ffi/classify_test.rs
  candle-binding/src/ffi/memory_safety_test.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/lib.rs
  candle-binding/src/model_architectures/config.rs
  candle-binding/src/model_architectures/lora/bert_lora_test.rs
  candle-binding/src/model_architectures/lora/mod.rs
  candle-binding/src/model_architectures/mod.rs
  candle-binding/src/model_architectures/model_factory_test.rs
  candle-binding/src/model_architectures/routing_test.rs
  candle-binding/src/model_architectures/traditional/base_model_test.rs
  candle-binding/src/model_architectures/traditional/bert_test.rs
  candle-binding/src/model_architectures/traditional/mod.rs
  candle-binding/src/model_architectures/traditional/modernbert_test.rs
  candle-binding/src/model_architectures/unified_interface_test.rs
  candle-binding/src/test_fixtures.rs
  candle-binding/src/utils/memory.rs
  tools/make/build-run-test.mk
  tools/make/common.mk
  tools/make/rust.mk
Due: cargo-fmt, cargo-check

fix: resolve syntax errors after rebase
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/api/server.go
Due: go-fmt

enable flash attention
  candle-binding/Cargo.toml
  candle-binding/src/model_architectures/embedding/qwen3_embedding.rs
  tools/make/rust.mk
Due: cargo-fmt, cargo-check

chore: simplify docker publish for multi-arch
  .github/workflows/docker-publish.yml
Due: yaml-and-yml-fmt

seperate core and llm-katan
  deploy/kubernetes/README.md
  deploy/kubernetes/base/kustomization.yaml
  deploy/kubernetes/deployment.katan.yaml
  deploy/kubernetes/deployment.yaml
  deploy/kubernetes/kustomization.yaml
  deploy/kubernetes/overlays/core/kustomization.yaml
  deploy/kubernetes/overlays/llm-katan/kustomization.yaml
Due: md-fmt, yaml-and-yml-fmt

get rig of redudent files
  deploy/kubernetes/config.yaml
  deploy/kubernetes/namespace.yaml
  deploy/kubernetes/pvc.yaml
  deploy/kubernetes/service.yaml
  deploy/kubernetes/tools_db.json
Due: yaml-and-yml-fmt

try fix CI error
  deploy/kubernetes/base/config.yaml
  deploy/kubernetes/base/kustomization.yaml
  deploy/kubernetes/base/namespace.yaml
  deploy/kubernetes/base/pvc.yaml
  deploy/kubernetes/base/service.yaml
  deploy/kubernetes/base/tools_db.json
Due: yaml-and-yml-fmt

update k8s install docs
  website/docs/installation/kubernetes.md
Due: md-fmt

add llm-katan to k8s
  deploy/kubernetes/README.md
  deploy/kubernetes/config.yaml
  deploy/kubernetes/deployment.with-llm-katan.yaml
  deploy/kubernetes/kustomization.yaml
Due: md-fmt, yaml-and-yml-fmt

add pvc to k8s & update docs
  deploy/kubernetes/README.md
  deploy/kubernetes/base/kustomization.yaml
  deploy/kubernetes/base/pv.yaml
  deploy/kubernetes/overlays/storage/kustomization.yaml
  deploy/kubernetes/overlays/storage/namespace.yaml
  deploy/kubernetes/overlays/storage/pvc.yaml
  website/docs/installation/kubernetes.md
  website/docs/troubleshooting/network-tips.md
Due: md-fmt, yaml-and-yml-fmt

add init models fall back
  deploy/kubernetes/base/deployment.yaml
  deploy/kubernetes/base/kustomization.yaml
  deploy/kubernetes/base/pv.example.yaml
  deploy/kubernetes/deployment.yaml
  deploy/kubernetes/overlays/core/kustomization.yaml
  deploy/kubernetes/overlays/llm-katan/kustomization.yaml
  deploy/kubernetes/overlays/llm-katan/patch-llm-katan.yaml
  website/docs/installation/kubernetes.md
  website/docs/troubleshooting/network-tips.md
Due: md-fmt, yaml-and-yml-fmt

more
  dashboard/backend/middleware/cors.go
  dashboard/backend/proxy/proxy.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
  deploy/docker-compose/docker-compose.yml
  src/semantic-router/pkg/api/server.go
  src/semantic-router/pkg/extproc/request_handler.go
Due: go-fmt, yaml-and-yml-fmt

fix: label count params should be c_int in the pub extern "C" fn init_unified_classifier_c
  candle-binding/src/lib.rs
Due: cargo-fmt, cargo-check

Update test description from Math to General
  tools/make/build-run-test.mk
Due: none

project: q4 roadmap
  website/blog/2025-10-20-q4-roadmap-iris.md
  website/src/css/custom.css
Due: md-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
