Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

feat: add jailbreak FFI functions returning full class-probability distribution
  candle-binding/src/ffi/classify.rs
Due: cargo-fmt, cargo-check

refactor: consolidate jailbreak backends into a single SequenceClassifierBackend
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_builtin_models.go
  src/semantic-router/pkg/classification/classifier_jailbreak_init.go
  src/semantic-router/pkg/classification/classifier_jailbreak_risk.go
  src/semantic-router/pkg/classification/classifier_jailbreak_risk_test.go
  src/semantic-router/pkg/classification/classifier_jailbreak_test.go
  src/semantic-router/pkg/classification/classifier_option_backends.go
  src/semantic-router/pkg/classification/classifier_signal_jailbreak.go
  src/semantic-router/pkg/classification/vllm_classifier.go
Due: go-fmt

feat: expose full class-probability distribution from BERT/LoRA jailbreak classifiers
  candle-binding/src/model_architectures/lora/bert_lora.rs
  candle-binding/src/model_architectures/lora/bert_lora_test.rs
  candle-binding/src/model_architectures/traditional/bert.rs
  candle-binding/src/model_architectures/traditional/bert_test.rs
Due: cargo-fmt, cargo-check

feat: reserve ScoringBackend and TokenClassifierBackend interface names
  src/semantic-router/pkg/classification/classifier_backend_tiers.go
Due: go-fmt

docs: migrate prompt_guard config examples to the backend enum
  config/config.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_openshift.yaml
  deploy/operator/config/samples/vllm_v1alpha1_semanticrouter.yaml
  e2e/config/config.agent-smoke.amd.yaml
  e2e/config/config.agent-smoke.cpu.yaml
  e2e/config/config.remote-embedding-smoke.yaml
  e2e/config/onnx-binding/config.onnx-classifiers-test.yaml
  e2e/profiles/remote-embedding/values.yaml
  e2e/profiles/response-api-redis-cluster/values.yaml
  e2e/profiles/response-api-redis/values.yaml
  e2e/profiles/response-api/values.yaml
  e2e/profiles/router-replay/values.yaml
  e2e/profiles/vectorstore-registry/values.yaml
  src/semantic-router/pkg/k8s/testdata/base-config.yaml
  src/semantic-router/pkg/k8s/testdata/output/01-basic.yaml
  src/semantic-router/pkg/k8s/testdata/output/02-keyword-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/03-embedding-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/04-domain-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/05-keyword-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/06-keyword-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/07-domain-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/08-keyword-embedding-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/09-keyword-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/10-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/11-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/12-keyword-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/13-keyword-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/14-domain-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/15-keyword-embedding-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/16-keyword-embedding-domain-no-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/17-embedding-multimodal.yaml
  website/docs/installation/k8s/operator.md
  website/docs/training/model-performance-eval.md
  website/docs/tutorials/global/safety-models-and-policy.md
Due: md-fmt, yaml-and-yml-fmt

feat: replace prompt_guard boolean flags with backend enum + http_classify + positive_labels
  src/semantic-router/pkg/apiserver/route_model_info_classifiers.go
  src/semantic-router/pkg/apiserver/route_model_info_test.go
  src/semantic-router/pkg/classification/classifier_builtin_models.go
  src/semantic-router/pkg/classification/classifier_jailbreak_init.go
  src/semantic-router/pkg/classification/classifier_jailbreak_risk.go
  src/semantic-router/pkg/classification/classifier_jailbreak_risk_realmodel_test.go
  src/semantic-router/pkg/classification/classifier_jailbreak_risk_test.go
  src/semantic-router/pkg/classification/classifier_lifecycle.go
  src/semantic-router/pkg/classification/classifier_option_backends.go
  src/semantic-router/pkg/classification/classifier_signal_jailbreak.go
  src/semantic-router/pkg/classification/http_classifier.go
  src/semantic-router/pkg/classification/http_classifier_test.go
  src/semantic-router/pkg/config/canonical_defaults.go
  src/semantic-router/pkg/config/canonical_loader_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/config/model_config_types.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_test.go
  src/semantic-router/pkg/extproc/extproc_test.go
Due: go-fmt

docs: explain the prompt_guard backend enum, http_classify contract, and positive_labels
  config/README.md
  website/docs/tutorials/global/safety-models-and-policy.md
Due: md-fmt

fix: onnx-binding parity and lint complexity issues from CI
  onnx-binding/semantic-router.go
  src/semantic-router/pkg/classification/http_classifier.go
  src/semantic-router/pkg/classification/http_classifier_test.go
  src/semantic-router/pkg/classification/vllm_classifier.go
Due: go-fmt

fix: clean up pre-existing clippy findings in bert.rs, bert_lora.rs, security_lora.rs
  candle-binding/src/classifiers/lora/security_lora.rs
  candle-binding/src/model_architectures/lora/bert_lora.rs
  candle-binding/src/model_architectures/traditional/bert.rs
Due: cargo-fmt, cargo-check

fix: ratchet the structure-check size limits for bert_lora.rs
  tools/agent/structure-rules.yaml
Due: yaml-and-yml-fmt

[Docs] blog: LettuceDetect v2 — generative hallucination detection as a vLLM endpoint (#2758)
  website/blog/2026-08-05-lettucedetect-v2-generative-hallucination-detection.md
  website/blog/authors.yml
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/authors.yml
  website/static/img/blog/lettucedetect-v2-demo.gif
  website/static/img/blog/lettucedetect-v2-detection.png
  website/static/img/blog/lettucedetect-v2-results.png
Due: md-fmt, yaml-and-yml-fmt

[CLI][Dashboard] make local serving topology-aware and claimable
  dashboard/frontend/e2e/auth-flow.spec.ts
  src/vllm-sr/cli/commands/runtime_looper.py
  src/vllm-sr/cli/commands/runtime_support.py
  src/vllm-sr/cli/container_start.py
  src/vllm-sr/tests/test_runtime_support.py
  website/docs/installation/configuration.md
Due: md-fmt

[Router] make recipe-owned model readiness truthful
  src/semantic-router/pkg/apiserver/route_model_info_classifiers.go
  src/semantic-router/pkg/apiserver/route_model_info_runtime.go
  src/semantic-router/pkg/apiserver/route_model_info_test.go
  src/semantic-router/pkg/apiserver/runtime_service.go
  src/semantic-router/pkg/classification/classifier_fact_hallucination_lifecycle.go
  src/semantic-router/pkg/classification/classifier_feedback_lifecycle.go
  src/semantic-router/pkg/classification/classifier_lifecycle.go
  src/semantic-router/pkg/classification/classifier_lifecycle_test.go
  src/semantic-router/pkg/classification/classifier_signal_context.go
  src/semantic-router/pkg/classification/hallucination_test.go
  src/semantic-router/pkg/classification/native_capabilities.go
  src/semantic-router/pkg/classification/native_capabilities_test.go
  src/semantic-router/pkg/classification/recipe_classifiers.go
  src/semantic-router/pkg/classification/recipe_classifiers_test.go
  src/semantic-router/pkg/classification/unified_classifier_cgo_candle.go
  src/semantic-router/pkg/classification/unified_classifier_cgo_onnx.go
  src/semantic-router/pkg/classification/unified_classifier_stub.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/module_runtime_helpers.go
  src/semantic-router/pkg/config/recipes.go
  src/semantic-router/pkg/config/recipes_registry_test.go
  src/semantic-router/pkg/config/routing_signal_usage.go
  src/semantic-router/pkg/config/routing_signal_usage_test.go
  src/semantic-router/pkg/config/testdata/generic-multi-recipe-model-needs.yaml
  src/semantic-router/pkg/modeldownload/config_parser.go
  src/semantic-router/pkg/modeldownload/config_parser_test.go
  src/semantic-router/pkg/modeldownload/feature_gates.go
  src/semantic-router/pkg/modeldownload/named_recipe_test.go
  src/semantic-router/pkg/services/classification_readiness.go
Due: go-fmt, yaml-and-yml-fmt

[Router] calibrate maintained multi-objective routing
  config/recipes/multi-objective/README.md
  config/recipes/multi-objective/config.yaml
  config/recipes/multi-objective/probes.yaml
  config/recipes/multi-objective/recipe.dsl
  src/semantic-router/pkg/config/multi_objective_asset_test.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Docs] add Chinese translations for session identification, multi-factor, conversation, event, and embedding design principles tutorials
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/api/session-identification.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/algorithm/selection/multi-factor.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/heuristic/conversation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/heuristic/event.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/learned/embedding-design-principles.md
Due: md-fmt

[Docs] add Chinese translations for session identification, multi-factor, conversation, event, and embedding design principles tutorials (#2765)
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/api/session-identification.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/algorithm/selection/multi-factor.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/heuristic/conversation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/heuristic/event.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/learned/embedding-design-principles.md
Due: md-fmt

[Bindings] fix pre-existing clippy findings in bert.rs, bert_lora.rs, security_lora.rs (#2762)
  candle-binding/src/classifiers/lora/security_lora.rs
  candle-binding/src/model_architectures/lora/bert_lora.rs
  candle-binding/src/model_architectures/traditional/bert.rs
  tools/agent/structure-rules.yaml
Due: yaml-and-yml-fmt, cargo-fmt, cargo-check

[Router] enforce replay capture policy in the AddRecord write path
  src/semantic-router/pkg/extproc/router_replay_api_test.go
  src/semantic-router/pkg/extproc/router_replay_trajectory_test.go
  src/semantic-router/pkg/routerreplay/recorder.go
Due: go-fmt

fix: unblock CI after rebase - clippy + structure-check debt in candle-binding
  candle-binding/src/model_architectures/lora/bert_lora.rs
  candle-binding/src/model_architectures/lora/bert_lora/probabilities.rs
  candle-binding/src/model_architectures/lora/bert_lora_test.rs
Due: cargo-fmt, cargo-check

[Router] add regression tests for replay capture policy enforcement
  src/semantic-router/pkg/routerreplay/recorder_capture_test.go
Due: go-fmt

style: update layout styles to use new site variables for consistency
  website/src/components/TestimonialsRail/index.module.css
  website/src/components/community/CommunityLayout/styles.module.css
  website/src/components/research/ResearchLayout/styles.module.css
  website/src/css/base.css
  website/src/css/blog.css
  website/src/css/docs.css
  website/src/css/shell.css
  website/src/css/tokens.css
Due: none

style: remove max-width constraints for blog post header and content
  website/src/css/blog.css
Due: none

config: honour enabled on the domain and PII classifiers
  config/config.yaml
  src/semantic-router/pkg/classification/classifier_builtin_models.go
  src/semantic-router/pkg/config/classifier_enabled_test.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/config/model_config_types.go
Due: go-fmt, yaml-and-yml-fmt

[Router] align preference probe signal keys
  config/recipes/multi-objective/probes.yaml
Due: yaml-and-yml-fmt

[Router] fix: enforce replay capture policy so disabled switches drop bodies (#2749)
  src/semantic-router/pkg/extproc/router_replay_api_test.go
  src/semantic-router/pkg/extproc/router_replay_trajectory_test.go
  src/semantic-router/pkg/routerreplay/recorder.go
  src/semantic-router/pkg/routerreplay/recorder_capture_test.go
Due: go-fmt

[Docs] refresh API reference with curl examples and full endpoint catalog
  website/docs/api/apiserver.md
  website/docs/api/router.md
Due: md-fmt

[Router] harden learning outcome ingest with ownership and idempotency
  src/semantic-router/pkg/apiserver/config.go
  src/semantic-router/pkg/apiserver/learning_outcome_policy.go
  src/semantic-router/pkg/apiserver/route_router_outcomes.go
  src/semantic-router/pkg/apiserver/route_router_outcomes_test.go
  src/semantic-router/pkg/extproc/router_learning_outcome_ingest.go
  src/semantic-router/pkg/extproc/router_learning_runtime.go
  src/semantic-router/pkg/extproc/router_learning_runtime_test.go
  src/semantic-router/pkg/routerruntime/learning_outcome.go
Due: go-fmt

[E2E] fix dashboard security-policy apply against canonical modelCards
  e2e/profiles/dashboard/dashboard-deployment.yaml
  e2e/profiles/dashboard/values.yaml
  e2e/testcases/security_policy_apply.go
Due: go-fmt, yaml-and-yml-fmt

[Dashboard] send Idempotency-Key with learning outcome feedback
  dashboard/frontend/e2e/feedback-buttons.spec.ts
  dashboard/frontend/src/components/FeedbackButtons.tsx
Due: none

[E2E] gofmt security-policy apply fixture after model ref update
  e2e/testcases/security_policy_apply.go
Due: go-fmt

[E2E] align security-policy fixture models with dashboard profile
  e2e/testcases/security_policy_apply.go
Due: go-fmt

[E2E] use chart placeholder modelRefs for security-policy apply
  e2e/profiles/dashboard/dashboard-deployment.yaml
  e2e/profiles/dashboard/values.yaml
  e2e/testcases/security_policy_apply.go
Due: go-fmt, yaml-and-yml-fmt

[Docs] refresh API reference with curl examples and full endpoint catalog (#2773)
  website/docs/api/apiserver.md
  website/docs/api/router.md
Due: md-fmt

config: use a plain bool defaulted true for classifier enabled
  config/config.yaml
  src/semantic-router/pkg/classification/classifier_builtin_models.go
  src/semantic-router/pkg/config/canonical_defaults.go
  src/semantic-router/pkg/config/classifier_enabled_test.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/config/model_config_types.go
  src/semantic-router/pkg/config/routing_signal_usage_test.go
Due: go-fmt, yaml-and-yml-fmt

[Router] refactor: extract applyBodyCapturePolicy helper in replay recorder
  src/semantic-router/pkg/routerreplay/recorder.go
Due: go-fmt

test(config): align docs contract test needles with reformatted apiserver docs
  src/semantic-router/pkg/config/docs_contract_test.go
Due: go-fmt

Revert "config: use a plain bool defaulted true for classifier enabled"
  config/config.yaml
  src/semantic-router/pkg/classification/classifier_builtin_models.go
  src/semantic-router/pkg/config/canonical_defaults.go
  src/semantic-router/pkg/config/classifier_enabled_test.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/config/model_config_types.go
  src/semantic-router/pkg/config/routing_signal_usage_test.go
Due: go-fmt, yaml-and-yml-fmt

test(config): unfence the apiserver doc needles so a table is not a failure
  src/semantic-router/pkg/config/docs_contract_test.go
Due: go-fmt
