Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

Preregister Eikos 4B clean-v2 package repeatability
  src/training/decision2/research/eikos4b-cleanv2-package-repeatability-prereg-2026-09-27.md
Due: md-fmt

Add JevArena v3 first-release publication path
  src/training/decision2/publication/BUNDLE_ARENA_V3.md
  src/training/decision2/publication/README.md
  src/training/decision2/publication/bundle_arena_v3.py
  src/training/decision2/publication/generate_arena_v3.py
  src/training/decision2/publication/render_arena_v3.py
  src/training/decision2/publication/tests/test_bundle_arena_v3.py
  src/training/decision2/publication/tests/test_generate_arena_v3.py
Due: md-fmt

fix(decision): satisfy strict Python lint for model loaders
  src/vllm-sr/decision_runtime/qwen35_torch.py
  src/vllm-sr/tests/test_decision_qwen35_torch_contract.py
  src/vllm-sr/tests/test_decision_runtime_server.py
  src/vllm-sr/tests/test_decision_vela_torch_contract.py
Due: none

training: add gold-free JevArena v3 first-release planner
  src/training/decision2/scripts/FIRST_RELEASE_V3.md
  src/training/decision2/scripts/plan_first_release_v3.py
  src/training/decision2/scripts/tests/test_plan_first_release_v3.py
Due: md-fmt

Bind paired scorer and record v3 gate diagnostics
  src/training/decision2/jev_arena/README.md
  src/training/decision2/jev_arena/arena_v3.py
  src/training/decision2/jev_arena/tests/test_arena_v3.py
  src/training/decision2/research/jev-arena-v3-first-release-gates-2026-09-27.md
  src/training/decision2/research/joyfox-extended-context-transfer-prereg-2026-09-27.md
Due: md-fmt

fix(decision): preserve published v0.4 catalog snapshot
  config/recipes/built-in/v0.4/catalog.yaml
Due: yaml-and-yml-fmt

Record Eikos 4B cross-process repeatability failure
  src/training/decision2/research/eikos4b-cleanv2-package-repeatability-prereg-2026-09-27.md
Due: md-fmt

Bind JevArena v3 pre-key evidence and release comparator
  src/training/decision2/jev_arena/README.md
  src/training/decision2/jev_arena/arena_v3.py
  src/training/decision2/jev_arena/compare_v3.py
  src/training/decision2/jev_arena/tests/test_arena_v3.py
  src/training/decision2/publication/BUNDLE_ARENA_V3.md
  src/training/decision2/publication/bundle_arena_v3.py
  src/training/decision2/publication/tests/test_bundle_arena_v3.py
  src/training/decision2/research/jev-arena-v3-first-release-gates-2026-09-27.md
Due: md-fmt

Enforce measured sizes in v3 first-release plan
  src/training/decision2/scripts/FIRST_RELEASE_V3.md
  src/training/decision2/scripts/plan_first_release_v3.py
  src/training/decision2/scripts/tests/test_plan_first_release_v3.py
Due: md-fmt

docs(decision2): record Lux 9B rights and package preflight
  src/training/decision2/research/lux9b-structured8360-best224-rights-package-preflight-2026-09-27.md
Due: md-fmt

Clarify v3 freeze integration in release guide
  src/training/decision2/scripts/FIRST_RELEASE_V3.md
Due: md-fmt

Record Eikos PyTorch reference repeatability pass
  src/training/decision2/research/eikos4b-cleanv2-torch-reference-repeat-result-2026-09-27.md
Due: md-fmt

Add opt-in Eikos PyTorch reference repeatability collector
  src/training/decision2/research/eikos4b-cleanv2-torch-reference-repeat-prereg-2026-09-27.md
  src/training/decision2/training/eikos/deterministic_repeat.py
  src/training/decision2/training/eikos/published_infer.py
  src/training/decision2/training/eikos/tests/test_deterministic_repeat.py
  src/training/decision2/training/eikos/tests/test_published_infer_determinism.py
  src/training/decision2/training/eikos/tests/test_published_infer_torch_reference.py
Due: md-fmt

Preregister Eikos 4B reference repeatability arm
  src/training/decision2/research/eikos4b-cleanv2-torch-reference-repeat-prereg-2026-09-27.md
Due: md-fmt

Clarify v3 no-probability and 4B runtime gates
  src/training/decision2/research/jev-arena-v3-first-release-gates-2026-09-27.md
Due: md-fmt

Preregister stable Eikos full panels and direct parity
  src/training/decision2/research/eikos4b-cleanv2-torch-reference-full-comparison-prereg-2026-09-27.md
  src/training/decision2/training/eikos/tests/test_verify_export.py
  src/training/decision2/training/eikos/verify_export.py
Due: md-fmt

[CI/Build] Accept the scoped config-writer Role in the Trivy scan (#4264)
  tools/security/trivy-iac.yaml
Due: yaml-and-yml-fmt

Bind joint v3 interval into model-card artifacts
  src/training/decision2/publication/BUNDLE_ARENA_V3.md
  src/training/decision2/publication/bundle_arena_v3.py
  src/training/decision2/publication/generate_arena_v3.py
  src/training/decision2/publication/tests/test_bundle_arena_v3.py
  src/training/decision2/publication/tests/test_generate_arena_v3.py
Due: md-fmt

Add private v3 baseline attestation builder and verifier
  src/training/decision2/scripts/FIRST_RELEASE_V3.md
  src/training/decision2/scripts/baseline_attestation_v3.py
  src/training/decision2/scripts/plan_first_release_v3.py
  src/training/decision2/scripts/tests/test_baseline_attestation_v3.py
  src/training/decision2/scripts/tests/test_plan_first_release_v3.py
Due: md-fmt

Record Eikos stable runtime parity and panel diagnostics
  src/training/decision2/research/eikos4b-cleanv2-torch-reference-full-comparison-result-2026-09-27.md
Due: md-fmt

Seal JevArena v3 pre-key evidence from gold-free audit
  src/training/decision2/jev_arena/README.md
  src/training/decision2/jev_arena/arena_v3.py
  src/training/decision2/jev_arena/tests/test_arena_v3.py
  src/training/decision2/scripts/FIRST_RELEASE_V3.md
  src/training/decision2/scripts/freeze_first_release_v3.py
  src/training/decision2/scripts/plan_first_release_v3.py
  src/training/decision2/scripts/tests/test_freeze_first_release_v3.py
Due: md-fmt

[CI/Build] Let runner capacity schedule workflow matrices
  .github/workflows/build-artifacts.yml
  .github/workflows/ci.yml
  .github/workflows/operator-ci.yml
  .github/workflows/recipe-conformance.yml
  tools/ci/tests/test_deployment_test_results.py
Due: yaml-and-yml-fmt

ci: fan out live recipe conformance by source and recipe
  .github/workflows/recipe-conformance.yml
  tools/calibration/recipe/recipe_conformance.py
  tools/calibration/recipe/recipe_conformance_built_in_test.py
  tools/calibration/recipe/recipe_conformance_sources.py
  tools/ci/tests/test_recipe_conformance_workflow.py
  tools/make/recipe-conformance.mk
Due: yaml-and-yml-fmt

ci(release): prebuild Python and Helm artifacts alongside images
  .github/workflows/helm-publish.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/release.yml
  tools/ci/tests/test_python_package_publication.py
  tools/ci/tests/test_recipe_distribution_workflow.py
  tools/ci/workflow_policy_validation.py
Due: yaml-and-yml-fmt

CI: fan out independent verification contracts
  tools/agent/docs/testing-strategy.md
  tools/ci/ci_plan.py
  tools/ci/execution_batches.py
  tools/ci/run_component_batch.py
  tools/ci/tests/test_component_batches.py
  tools/ci/tests/test_e2e_batches.py
  tools/ci/tests/test_execution_batches.py
  tools/ci/verification_catalog.yaml
Due: md-fmt, yaml-and-yml-fmt

Bind v3 baseline prediction identities to attested packages
  src/training/decision2/scripts/FIRST_RELEASE_V3.md
  src/training/decision2/scripts/plan_first_release_v3.py
  src/training/decision2/scripts/tests/test_plan_first_release_v3.py
Due: md-fmt

fix(training): bind Eikos stable runtime in v3 release path
  src/training/decision2/research/jev-arena-v3-first-release-gates-2026-09-27.md
  src/training/decision2/scripts/FIRST_RELEASE_V3.md
  src/training/decision2/scripts/eikos_stable_runtime_v3.py
  src/training/decision2/scripts/plan_first_release_v3.py
  src/training/decision2/scripts/tests/test_eikos_stable_runtime_v3.py
  src/training/decision2/scripts/tests/test_plan_first_release_v3.py
Due: md-fmt

[sr-bench] Track call phase and cache presence
  src/vllm-sr/cli/sr_bench/engine.py
  src/vllm-sr/cli/sr_bench/report.py
  src/vllm-sr/cli/sr_bench/transport.py
  src/vllm-sr/tests/test_sr_bench.py
  src/vllm-sr/tests/test_sr_bench_reporting.py
  website/docs/benchmarking/sr-bench/results.md
Due: md-fmt

fix(training): bind Eikos public scoring to native collector receipt
  src/training/decision2/jev_arena/jevbench_public.py
  src/training/decision2/jev_arena/test_jevbench_public.py
  src/training/decision2/publication/bundle_arena_v3.py
  src/training/decision2/publication/tests/test_bundle_arena_v3.py
  src/training/decision2/scripts/plan_first_release_v3.py
  src/training/decision2/scripts/tests/test_plan_first_release_v3.py
Due: none

test(training): align v3 bundle fixture with prekey protocol
  src/training/decision2/publication/tests/test_bundle_arena_v3.py
Due: none

[Docs] Use the Agent Router name for the former Envoy AI Gateway
  tools/ci/check_deployment_support_matrix.py
  tools/ci/verification_catalog.yaml
  website/docs/installation/k8s/ai-gateway.md
  website/docs/installation/k8s/gateway-api-inference-extension.md
  website/docs/installation/k8s/gateways.md
  website/docs/installation/k8s/production-stack.md
  website/docs/installation/k8s/streamed-extproc.md
  website/docs/installation/support-matrix.md
  website/docs/overview/semantic-router-overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/ai-gateway.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/gateway-api-inference-extension.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/gateways.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/streamed-extproc.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/support-matrix.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/global/api-and-observability.md
  website/src/pages/index.tsx
Due: md-fmt, yaml-and-yml-fmt

fix: retry pinned Vela Omni Hub snapshots after transient failures
  tools/models/vela_omni/source.py
  tools/models/vela_omni/test_source_download.py
Due: none

ci: stop benchmark follow-up steps on canceled runs
  .github/workflows/performance-test.yml
  tools/ci/tests/test_performance_workflow.py
Due: yaml-and-yml-fmt

Add gold-free Sol 2B zero-step repeatability gate
  src/training/decision2/training/model/tests/test_zero_step_repeat.py
  src/training/decision2/training/model/zero_step_repeat.py
Due: none

Record Sol 2B zero-step reference gate failure
  src/training/decision2/research/sol2b-zero-step-reference-repeat-2026-09-27.md
Due: md-fmt

Preregister v3 baseline cross-process smoke
  src/training/decision2/research/v3-baseline-cross-process-smoke-prereg-2026-09-27.md
  src/training/decision2/scripts/baseline_repeat_smoke_v3.py
  src/training/decision2/scripts/tests/test_baseline_repeat_smoke_v3.py
Due: md-fmt

Record v3 baseline native repeatability results
  src/training/decision2/research/v3-baseline-cross-process-smoke-result-2026-09-27.md
Due: md-fmt

fix(training): migrate Decision 2 public model IDs
  src/training/decision2/inference/kai_continuation.py
  src/training/decision2/inference/tests/test_apus_eligible.py
  src/training/decision2/jev_arena/README.md
  src/training/decision2/publication/ADAPTER_BUNDLE.md
  src/training/decision2/publication/DECISION_INDEX_NATIVE.md
  src/training/decision2/publication/README.md
  src/training/decision2/publication/adapter_bundle.py
  src/training/decision2/publication/bundle.py
  src/training/decision2/publication/bundle_arena.py
  src/training/decision2/publication/tests/test_adapter_bundle.py
  src/training/decision2/publication/tests/test_bundle.py
  src/training/decision2/publication/tests/test_bundle_arena.py
  src/training/decision2/publication/tests/test_bundle_arena_v3.py
  src/training/decision2/publication/tests/test_decision_index_native_engine.py
  src/training/decision2/publication/tests/test_package_native_arena.py
  src/training/decision2/publication/tests/test_panel_parity.py
  src/training/decision2/scripts/FINAL_EVAL.md
  src/training/decision2/scripts/FIRST_RELEASE_V3.md
  src/training/decision2/scripts/eikos_stable_runtime_v3.py
  src/training/decision2/scripts/plan_final_eval.py
  src/training/decision2/scripts/tests/test_audit_final_eval.py
  src/training/decision2/scripts/tests/test_eikos_stable_runtime_v3.py
  src/training/decision2/scripts/tests/test_plan_final_eval.py
  src/training/decision2/scripts/tests/test_plan_first_release_v3.py
  src/training/decision2/training/eikos/README.md
  src/training/decision2/training/eikos/parity_receipt.py
  src/training/decision2/training/eikos/published_infer.py
  src/training/decision2/training/eikos/tests/test_parity_receipt.py
  src/training/decision2/training/eikos/tests/test_published_infer_determinism.py
Due: md-fmt

Record Kev v3 baseline native repeatability
  src/training/decision2/research/v3-baseline-cross-process-smoke-result-2026-09-27.md
Due: md-fmt

test(training): requalify uppercase Eikos 4B runtime receipts
  src/training/decision2/research/eikos4b-cleanv2-uppercase-requalification-2026-09-27.md
  src/training/decision2/scripts/requalify_eikos4b_v3.py
  src/training/decision2/scripts/tests/test_requalify_eikos4b_v3.py
Due: md-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
