Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

fix(responsestore): verify ownership during cascade deletion
  src/semantic-router/pkg/responsestore/redis_cascade_delete.go
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_conversation_store_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

chore: tidy dashboard backend go.sum for router dependency hashes
  dashboard/backend/go.sum
Due: none

[CI/Build] Run the CK graph rewriter unit tests in the changed-file gate
  onnx-binding/ort-ck-flash-attn/README.md
  tools/agent/task-matrix.yaml
  tools/make/rust.mk
Due: md-fmt, yaml-and-yml-fmt

feat(responsestore): finalize conversation index migration
  src/semantic-router/pkg/responsestore/redis_cascade_delete.go
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_backfill_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_helpers.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_list_test.go
  src/semantic-router/pkg/responsestore/redis_migration.go
  src/semantic-router/pkg/responsestore/redis_migration_test.go
  src/semantic-router/pkg/responsestore/redis_response_store_test.go
  src/semantic-router/pkg/responsestore/redis_scan_lease.go
  src/semantic-router/pkg/responsestore/redis_scan_lease_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

fix(protocol): bound response conversation identifiers
  src/semantic-router/pkg/llmprotocol/validate.go
  src/semantic-router/pkg/llmprotocol/validate_test.go
  src/semantic-router/pkg/protocolcodec/corner_cases_test.go
Due: go-fmt

[Bug] Leave a partly scanned response unresolved instead of clean
  src/semantic-router/pkg/classification/classifier_builtin_models.go
  src/semantic-router/pkg/classification/classifier_jailbreak_risk.go
  src/semantic-router/pkg/classification/classifier_jailbreak_risk_test.go
  src/semantic-router/pkg/extproc/res_filter_response_jailbreak_enforcement_test.go
  website/docs/tutorials/signal/learned/jailbreak.md
Due: go-fmt, md-fmt

[Bug] Reject a response-direction rule read through a projection
  src/semantic-router/pkg/config/signal_stage.go
  src/semantic-router/pkg/config/signal_stage_test.go
  src/semantic-router/pkg/config/validator_signal_stage.go
  website/docs/tutorials/signal/learned/jailbreak.md
Due: go-fmt, md-fmt

fix: carry fusion depth on request context instead of mutable client field
  src/semantic-router/pkg/looper/client.go
  src/semantic-router/pkg/looper/client_internal_context.go
  src/semantic-router/pkg/looper/fusion.go
  src/semantic-router/pkg/looper/fusion_depth_context.go
Due: go-fmt

fix(candle): remove deleted singleton imports and route registry calls correctly
  candle-binding/src/ffi/classify.rs
Due: cargo-fmt, cargo-check

fix(responsestore): atomic payload replacement for update rollback snapshot
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_response_store_test.go
Due: go-fmt

[Bug] Complete Azure vendor response handling
  src/semantic-router/pkg/extproc/processor_protocol_contract.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/extproc/processor_req_body_routing_test.go
  src/semantic-router/pkg/extproc/processor_res_body_pipeline.go
  src/semantic-router/pkg/extproc/processor_res_transport_error.go
  src/semantic-router/pkg/extproc/req_filter_provider_dialect.go
  src/semantic-router/pkg/extproc/req_filter_provider_dialect_test.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/llmprotocol/policy.go
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_response.go
  src/semantic-router/pkg/protocolcodec/codec_openai_responses_response.go
  src/semantic-router/pkg/protocolcodec/engine.go
  src/semantic-router/pkg/protocolcodec/json_helpers.go
  src/semantic-router/pkg/protocolcodec/matrix_fidelity_test.go
  src/semantic-router/pkg/protocolcodec/openai_transport_error.go
  src/semantic-router/pkg/protocolcodec/provider_vendor_extensions.go
  src/semantic-router/pkg/protocolcodec/provider_vendor_extensions_test.go
  src/semantic-router/pkg/protocolcodec/stream_chat.go
Due: go-fmt

fix(candle): resolve Phase 2 singleton migration compiler errors and formatting
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/embedding.rs
  candle-binding/src/ffi/generative_classifier.rs
  candle-binding/src/ffi/generative_guard.rs
  candle-binding/src/ffi/init.rs
Due: cargo-fmt, cargo-check

Fixes issue with CI builds and readme
  candle-binding/semantic-router.go
  e2e/README.md
  tools/ci/tests/test_pr_change_classifier.py
Due: go-fmt, md-fmt

fix(router): export init_generic_classifier and format Go files
  candle-binding/src/ffi/classify.rs
  src/semantic-router/pkg/apiserver/route_model_info_embeddings.go
  src/semantic-router/pkg/modelruntime/native/request.go
Due: go-fmt, cargo-fmt, cargo-check

wire router inference device selection through resolve_device for Metal
  candle-binding/src/classifiers/unified/model_managers.rs
  candle-binding/src/core/device.rs
  candle-binding/src/core/similarity.rs
  candle-binding/src/ffi/embedding.rs
  candle-binding/src/ffi/mlp.rs
Due: cargo-fmt, cargo-check

Forward decision headers to the shadow only when allowlisted in forward_headers
  config/config.yaml
  config/fragments/plugin/shadow-dispatch/sampled.yaml
  dashboard/frontend/src/lib/dslCapabilityPluginSchemas.test.ts
  dashboard/frontend/src/lib/dslCapabilityPluginSchemas.ts
  src/semantic-router/pkg/config/plugin_config.go
  src/semantic-router/pkg/config/plugin_shadow_dispatch_support.go
  src/semantic-router/pkg/config/plugin_shadow_dispatch_test.go
  src/semantic-router/pkg/dsl/compiler_plugin_configs.go
  src/semantic-router/pkg/dsl/dsl_test.go
  src/semantic-router/pkg/extproc/shadow_dispatch.go
  src/semantic-router/pkg/extproc/shadow_dispatch_headers_test.go
  src/semantic-router/pkg/extproc/shadow_dispatch_test.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_plugin_shadow_dispatch.py
  website/docs/tutorials/plugin/shadow-dispatch.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Reduce cognitive complexity in the token span adapter and its fixture test
  src/semantic-router/pkg/classification/http_token_classifier.go
  src/semantic-router/pkg/classification/http_token_classifier_test.go
Due: go-fmt

Add token_spans.v1 contract and HTTP token classifier backend for PII
  candle-binding/semantic-router.go
  candle-binding/semantic-router_mock.go
  src/semantic-router/pkg/classification/classifier_backend_tiers.go
  src/semantic-router/pkg/classification/classifier_builtin_models.go
  src/semantic-router/pkg/classification/classifier_lifecycle.go
  src/semantic-router/pkg/classification/classifier_option_backends.go
  src/semantic-router/pkg/classification/http_token_classifier.go
  src/semantic-router/pkg/classification/http_token_classifier_test.go
  src/semantic-router/pkg/classification/pii_remote_backend.go
  src/semantic-router/pkg/classification/testdata/token_spans_v1_fixtures.json
  src/semantic-router/pkg/config/classifier_backend.go
  src/semantic-router/pkg/config/classifier_backend_test.go
  src/semantic-router/pkg/config/model_config_types.go
Due: go-fmt

Make PII masking overlap-safe and close the remote PII backend
  src/semantic-router/pkg/classification/classifier_lifecycle.go
  src/semantic-router/pkg/classification/pii_remote_backend.go
  src/semantic-router/pkg/classification/pii_remote_backend_test.go
  src/semantic-router/pkg/config/classifier_backend_test.go
  src/semantic-router/pkg/config/reference_config_global_test.go
  src/semantic-router/pkg/services/classification_pii_masking_test.go
  src/semantic-router/pkg/services/classification_pii_response.go
Due: go-fmt

Tidy dashboard/backend go.sum for the router module dependencies
  dashboard/backend/go.sum
Due: none

Copy pkg/headers into the dashboard backend image build
  dashboard/backend/Dockerfile
Due: none

ci: gate agent routing protection and publish its report
  .github/workflows/test-and-build.yml
  tools/agent/docs/testing-strategy.md
  tools/ci/tests/test_pr_change_classifier.py
  website/docs/benchmarking/agent-routing-protection.md
Due: md-fmt, yaml-and-yml-fmt

community: add truddy0 to MoM routing roster
  website/src/data/workGroups.ts
Due: none

Propagate only the W3C span context to the shadow so client baggage never reaches it
  src/semantic-router/pkg/extproc/shadow_dispatch.go
  src/semantic-router/pkg/extproc/shadow_dispatch_headers_test.go
  src/semantic-router/pkg/observability/tracing/propagation.go
  src/semantic-router/pkg/observability/tracing/tracing.go
  src/semantic-router/pkg/observability/tracing/tracing_test.go
  website/docs/tutorials/plugin/shadow-dispatch.md
Due: go-fmt, md-fmt

[Refactor] Coordinate context transformations through the existing IR
  src/semantic-router/pkg/contextcompression/contracts.go
  src/semantic-router/pkg/contextcompression/doc.go
  src/semantic-router/pkg/contextcompression/history_snapshot.go
  src/semantic-router/pkg/contextcompression/ir.go
  src/semantic-router/pkg/contextcompression/service.go
  src/semantic-router/pkg/contextcompression/transform_compression.go
  src/semantic-router/pkg/contextcompression/transform_compression_test.go
  src/semantic-router/pkg/contextcompression/transform_contract.go
  src/semantic-router/pkg/contextcompression/transform_edits.go
  src/semantic-router/pkg/contextcompression/transform_exchanges.go
  src/semantic-router/pkg/contextcompression/transform_exchanges_test.go
  src/semantic-router/pkg/contextcompression/transform_metadata.go
  src/semantic-router/pkg/contextcompression/transform_plan.go
  src/semantic-router/pkg/contextcompression/transform_plan_test.go
  src/semantic-router/pkg/contextcompression/transform_protocol_test.go
  src/semantic-router/pkg/extproc/processor_req_body_context_plan.go
  src/semantic-router/pkg/extproc/processor_req_body_context_plan_test.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/req_filter_context_compression.go
  src/semantic-router/pkg/extproc/request_context.go
Due: go-fmt

fix: make dashboard collapsible headers keyboard operable
  dashboard/frontend/eslint.config.js
  dashboard/frontend/package-lock.json
  dashboard/frontend/package.json
  dashboard/frontend/src/components/ChatComponentWebToolCards.tsx
  dashboard/frontend/src/components/ExpressionBuilder.module.css
  dashboard/frontend/src/components/ExpressionBuilderToolbox.tsx
  dashboard/frontend/src/pages/BuilderPage.module.css
  dashboard/frontend/src/pages/builderPageDashboardViews.tsx
  dashboard/frontend/src/pages/builderPageGlobalSettingsSafetySection.tsx
  dashboard/frontend/src/pages/builderPageKeyboardAccessibility.contract.test.ts
  dashboard/frontend/src/pages/builderPageValidationPanel.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/CustomNodes.module.css
  dashboard/frontend/src/pages/topology/components/CustomNodes/DecisionNode.tsx
Due: js-lint

refactor: extract dashboard collapsible headers into their own components
  dashboard/frontend/src/pages/builderPageGlobalSettingsSafetySection.tsx
  dashboard/frontend/src/pages/builderPageKeyboardAccessibility.contract.test.ts
  dashboard/frontend/src/pages/builderPageValidationPanel.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/DecisionNode.tsx
Due: none

refactor: extract the remaining touched dashboard headers
  dashboard/frontend/src/components/ChatComponentWebToolCards.tsx
  dashboard/frontend/src/components/ExpressionBuilderToolbox.tsx
  dashboard/frontend/src/pages/builderPageKeyboardAccessibility.contract.test.ts
Due: none

chore: tidy the dashboard backend go.sum
  dashboard/backend/go.sum
Due: none

[Bug] Drop remaining unread config fields across router and operator
  .github/workflows/operator-ci.yml
  config/config.yaml
  dashboard/frontend/src/pages/configPageRouterDefaultsCatalog.ts
  dashboard/frontend/src/pages/configPageRouterDefaultsSupport.ts
  dashboard/frontend/src/pages/configPageSupport.ts
  deploy/operator/api/v1alpha1/semanticrouter_types.go
  deploy/operator/api/v1alpha1/zz_generated.deepcopy.go
  deploy/operator/bundle/manifests/vllm.ai_semanticrouters.yaml
  deploy/operator/config/crd/bases/vllm.ai_semanticrouters.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_hybrid_cache.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_milvus_cache.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_redis_cache.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_valkey_cache.yaml
  e2e/config/config.memory-user-redis-enabled.yaml
  src/semantic-router/pkg/config/canonical_defaults.go
  src/semantic-router/pkg/config/output_contract_config.go
  src/semantic-router/pkg/config/runtime_config.go
  src/vllm-sr/cli/models.py
  website/docs/api/crd-reference.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Split the applied policy header test into helpers
  src/semantic-router/pkg/extproc/processor_res_header_unknown_policy_test.go
Due: go-fmt

Expose applied on_unknown policies to users
  src/semantic-router/pkg/config/validator_decision.go
  src/semantic-router/pkg/config/validator_decision_unknown.go
  src/semantic-router/pkg/config/validator_decision_unknown_test.go
  src/semantic-router/pkg/decision/engine.go
  src/semantic-router/pkg/decision/engine_metrics_test.go
  src/semantic-router/pkg/decision/engine_unknown.go
  src/semantic-router/pkg/decision/engine_unknown_test.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/processor_fast_response_replay.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/processor_res_header_mutation.go
  src/semantic-router/pkg/extproc/processor_res_header_unknown_policy_test.go
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/headers/headers_test.go
  src/semantic-router/pkg/observability/metrics/signal_decision_plugin_metrics.go
  website/docs/troubleshooting/vsr-headers.md
  website/docs/tutorials/decision/overview.md
Due: go-fmt, md-fmt

Cover applied unknown policy header across policies
  src/semantic-router/pkg/extproc/processor_res_header_unknown_policy_test.go
Due: go-fmt

[Test] Add selector algorithm E2E coverage foundation
  e2e/README.md
  e2e/pkg/testcases/registry_test.go
  e2e/pkg/testcases/selector_algorithm_coverage_test.go
  e2e/pkg/testcases/testdata/README.md
  e2e/pkg/testcases/testdata/selector_algorithm_coverage.json
  e2e/profiles/all/imports.go
  e2e/profiles/selector-algorithms/README.md
  e2e/profiles/selector-algorithms/gateway-resources.yaml
  e2e/profiles/selector-algorithms/mock-vllm.yaml
  e2e/profiles/selector-algorithms/profile.go
  e2e/profiles/selector-algorithms/values.yaml
  e2e/testcases/selector_static.go
  src/semantic-router/pkg/config/maintained_asset_contract_test.go
  src/semantic-router/pkg/config/routing_surface_catalog_test.go
  tools/agent/test-domain-registry.yaml
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Bug] Tidy dashboard backend go.sum
  dashboard/backend/go.sum
Due: none

[Test] Isolate selector E2E profile configuration
  e2e/profiles/selector-algorithms/values.yaml
Due: yaml-and-yml-fmt

fix: update Debian security repository URL in Dockerfiles for CUDA and ROCm
  src/vllm-sr/Dockerfile.cuda
  src/vllm-sr/Dockerfile.rocm
Due: none

[Router] feat: introduce native model runtime contract
  src/semantic-router/pkg/modelruntime/native/adapter.go
  src/semantic-router/pkg/modelruntime/native/ffi_layout_test.go
  src/semantic-router/pkg/modelruntime/native/registry.go
  src/semantic-router/pkg/modelruntime/native/registry_test.go
  src/semantic-router/pkg/modelruntime/native/request.go
Due: go-fmt

[Router] feat: wire Candle adapter and Rust registry
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/embedding.rs
  candle-binding/src/ffi/generative_classifier.rs
  candle-binding/src/ffi/generative_guard.rs
  candle-binding/src/ffi/init.rs
  candle-binding/src/ffi/similarity.rs
  candle-binding/src/ffi/state_manager.rs
  candle-binding/src/ffi/tokenization.rs
  candle-binding/src/lib.rs
  candle-binding/src/model_architectures/traditional/bert.rs
  candle-binding/src/model_architectures/traditional/deberta_v3.rs
  candle-binding/src/model_architectures/traditional/modernbert.rs
  candle-binding/src/registry.rs
  src/semantic-router/pkg/modelruntime/native/candle/adapter.go
Due: go-fmt, cargo-fmt, cargo-check
