Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

[Fix] Gate Workflow stop on command -v, not --version success
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/scripts/lib/agent-install-skill.test.mjs
Due: md-fmt

[Fix] Stop on VLLM_SR_PIP_SPEC presence and redact its value
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/scripts/lib/agent-install-skill.test.mjs
Due: md-fmt

[Fix] Gate installer on completion approval; remove false interactive-skip claim
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/scripts/lib/agent-install-skill.test.mjs
Due: md-fmt

[Fix] Detect override paths, stale launchers, and disclose completion setup
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/scripts/lib/agent-install-skill.test.mjs
Due: md-fmt

[Fix] Gitignore the static skill copy, align with install.sh pattern
  .gitignore
  website/scripts/lib/agent-install-skill.test.mjs
  website/static/install/agent/vllm-sr/SKILL.md
Due: md-fmt

[Feature] Add public vLLM-SR agent install skill
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/package.json
  website/scripts/sync-public-agent-skill.mjs
  website/static/install/agent/vllm-sr/SKILL.md
Due: md-fmt

[Fix] Clear the full documented VLLM_SR_* override surface before install
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/scripts/lib/agent-install-skill.test.mjs
Due: md-fmt

[Feature] Refine skill semantics, drop pip path, add E2E install smoke
  tools/agent/repo-manifest.yaml
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/scripts/lib/agent-install-skill.e2e.test.mjs
  website/scripts/lib/agent-install-skill.test.mjs
  website/static/install/agent/vllm-sr/SKILL.md
Due: md-fmt, yaml-and-yml-fmt

[Fix] Align Standard Commands PATH fallback with Validation; remove dead E2E snapshot vars
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/scripts/lib/agent-install-skill.e2e.test.mjs
Due: md-fmt

[Fix] Satisfy markdownlint in the install skill
  tools/agent/skills/vllm-sr-install/SKILL.md
Due: md-fmt

[Fix] Address review feedback: silent existence checks, absolute-path validation
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/scripts/lib/agent-install-skill.test.mjs
  website/static/install/agent/vllm-sr/SKILL.md
Due: md-fmt

[Fix] Detect existing install via absolute paths, not only PATH
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/scripts/lib/agent-install-skill.test.mjs
Due: md-fmt

[Tests] Add drift tests and registry entry for vllm-sr-install skill
  tools/agent/docs/skill-catalog.md
  tools/agent/skill-registry.yaml
  website/scripts/lib/agent-install-skill.test.mjs
Due: md-fmt, yaml-and-yml-fmt

[Docs] Add Agent installation mode to the Quickstart page
  website/docs/installation/installation.md
Due: md-fmt

Update ONNX and OpenVINO adapters for split interface in Phase 3
  src/semantic-router/pkg/modelruntime/native/onnx/adapter.go
  src/semantic-router/pkg/modelruntime/native/openvino/adapter.go
Due: go-fmt

fix(soak): forward live SSE events and test PR head in CI
  .github/workflows/pre-commit.yml
  bench/README.md
  bench/openai_fault_proxy.py
  bench/test_openai_fault_proxy.py
Due: md-fmt, yaml-and-yml-fmt

Fix discovery migration and matryoshka mapping in Phase 4
  src/semantic-router/pkg/apiserver/route_model_info_embeddings.go
Due: go-fmt

[Bug] Skip ONNX weights when downloading candle embedding models
  src/semantic-router/pkg/modeldownload/config_parser.go
  src/semantic-router/pkg/modeldownload/download_scope_test.go
  src/semantic-router/pkg/modeldownload/downloader.go
  src/semantic-router/pkg/modeldownload/downloader_test.go
  src/semantic-router/pkg/modeldownload/types.go
Due: go-fmt

[Router] fix mmBERT initialization ordering, concurrency and idempotency
  candle-binding/src/ffi/embedding.rs
  candle-binding/src/ffi/embedding_init_test.rs
  tools/make/rust.mk
Due: cargo-fmt, cargo-check

fix(responsestore): bound every pre-finalization conversation index proof
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_proof_test.go
  src/semantic-router/pkg/responsestore/redis_list_test.go
  src/semantic-router/pkg/responsestore/redis_scan_lease.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

feat(responsestore): lazy legacy backfill and empty-marker for Redis index
  config/runtime/response-api/redis-simple.yaml
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt, yaml-and-yml-fmt

feat(responsestore): bounded rank-window listing for Redis conv index
  src/semantic-router/pkg/responsestore/memory_store.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt

fix(responsestore): rollback-safe and repairable Redis StoreResponse
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt

refactor(responsestore): strict-return index helpers for Redis conv index
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt

refactor(responsestore): drop superseded update snapshot helper
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_response_store_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
Due: go-fmt

fix(responsestore): serialize legacy scans with renewable global lease
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_scan_lease.go
  src/semantic-router/pkg/responsestore/redis_scan_lease_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt

fix(responsestore): verify ownership during cascade deletion
  src/semantic-router/pkg/responsestore/redis_cascade_delete.go
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_conversation_store_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

feat(router): add one-shot --finalize-response-index command
  src/semantic-router/cmd/finalize_response_index.go
  src/semantic-router/cmd/finalize_response_index_test.go
  src/semantic-router/cmd/main.go
  src/semantic-router/cmd/runtime_bootstrap.go
Due: go-fmt

perf(responsestore): stream legacy conversation index backfill
  src/semantic-router/pkg/responsestore/redis_conversation_backfill_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_migration.go
Due: go-fmt

fix(responsestore): make update rollback CAS-safe
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_response_store_test.go
Due: go-fmt

fix(protocol): bound response conversation identifiers
  src/semantic-router/pkg/llmprotocol/validate.go
  src/semantic-router/pkg/llmprotocol/validate_test.go
  src/semantic-router/pkg/protocolcodec/corner_cases_test.go
Due: go-fmt

fix(responsestore): restore cascade index members on a detached context
  src/semantic-router/pkg/responsestore/redis_cascade_delete.go
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

fix(responsestore): fix cascade-delete, marker TTL, and lint follow-ups
  config/runtime/response-api/redis-simple.yaml
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_conversation_store_test.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_list_test.go
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt, yaml-and-yml-fmt

fix(responsestore): distinguish empty and populated migration proofs
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_proof_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_list.go
Due: go-fmt

feat(responsestore): finalize conversation index migration
  src/semantic-router/pkg/responsestore/redis_cascade_delete.go
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_backfill_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_helpers.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_list_test.go
  src/semantic-router/pkg/responsestore/redis_migration.go
  src/semantic-router/pkg/responsestore/redis_migration_test.go
  src/semantic-router/pkg/responsestore/redis_response_store_test.go
  src/semantic-router/pkg/responsestore/redis_scan_lease.go
  src/semantic-router/pkg/responsestore/redis_scan_lease_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

feat(responsestore): operator-triggered global migration finalization
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_migration.go
  src/semantic-router/pkg/responsestore/redis_migration_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt

fix(responsestore): repairable UpdateResponse and cascade delete in Redis
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt

fix(responsestore): decouple index existence from migration complete
  config/runtime/response-api/redis-simple.yaml
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_conversation_store_test.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_list_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt, yaml-and-yml-fmt

fix(responsestore): atomic payload replacement for update rollback snapshot
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_response_store_test.go
Due: go-fmt

refactor(responsestore): reduce complexity, split redis_store into files
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_conversation_store_test.go
  src/semantic-router/pkg/responsestore/redis_helpers.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_list_test.go
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_response_store_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt
