Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

feat(dashboard): expose the complexity boundary pairs and stop requiring threshold
  dashboard/frontend/src/lib/dslSchemas.ts
  dashboard/frontend/src/lib/dslSchemasComplexity.test.ts
Due: none

feat: make the remote complexity paths observable and their failures visible
  src/semantic-router/pkg/classification/classifier_signal_complexity.go
  src/semantic-router/pkg/classification/classifier_signal_complexity_publish.go
  src/semantic-router/pkg/classification/classifier_signal_complexity_publish_test.go
  src/semantic-router/pkg/classification/complexity_classifier.go
  src/semantic-router/pkg/modelruntime/connector/connector.go
  src/semantic-router/pkg/modelruntime/connector/connector_metrics_test.go
  src/semantic-router/pkg/observability/metrics/complexity_metrics.go
  src/semantic-router/pkg/observability/metrics/remote_connector_metrics.go
  src/semantic-router/pkg/observability/metrics/remote_metrics_test.go
Due: go-fmt

feat: read a score.v1 answer as either a one-entry list or a bare object
  src/semantic-router/pkg/classification/complexity_remote_backend.go
  src/semantic-router/pkg/classification/complexity_remote_backend_shape_test.go
  src/semantic-router/pkg/classification/complexity_remote_backend_test.go
Due: go-fmt

[Bug] Remove unread cache and memory tuning fields
  config/config.yaml
  config/runtime/memory/valkey.yaml
  config/runtime/response-cache/milvus.yaml
  config/runtime/response-cache/redis.yaml
  config/runtime/response-cache/valkey.yaml
  dashboard/frontend/src/pages/configPageRouterDefaultsSupport.ts
  dashboard/frontend/src/pages/configPageRouterStructuredSchema.ts
  dashboard/frontend/src/pages/configPageSupport.ts
  deploy/helm/semantic-router/README.md
  deploy/helm/semantic-router/templates/configmap.yaml
  deploy/helm/semantic-router/values.yaml
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/reference_config_global_test.go
  src/semantic-router/pkg/config/runtime_config.go
  website/docs/installation/milvus.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Feature] Reject malformed manifest shapes before dispatch
  src/training/provenance/manifests.py
  src/training/provenance/test_provenance.py
Due: none

Regenerate the bundled recipe catalog for the Azure Responses route
  config/recipes/built-in/latest/catalog.yaml
Due: yaml-and-yml-fmt

[Feature] Add Snowflake Cortex AI as a built-in serving provider
  config/catalog/resources/providers/snowflake-cortex.yaml
  config/recipes/built-in/latest/catalog.yaml
  src/semantic-router/pkg/catalog/compiler_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

fix: make the complexity failure path and its labels do what they claim
  src/semantic-router/pkg/classification/classifier_signal_complexity.go
  src/semantic-router/pkg/classification/classifier_signal_complexity_publish.go
  src/semantic-router/pkg/classification/classifier_signal_complexity_publish_test.go
  src/semantic-router/pkg/classification/complexity_remote_backend.go
  src/semantic-router/pkg/classification/complexity_remote_backend_shape_test.go
  website/docs/tutorials/signal/learned/complexity.md
Due: go-fmt, md-fmt

fix: close the operator and observability gaps code review found
  deploy/kubernetes/observability/grafana/configmap-dashboard.yaml
  deploy/operator/api/v1alpha1/semanticrouter_types.go
  deploy/operator/bundle/manifests/vllm.ai_semanticrouters.yaml
  deploy/operator/config/crd/bases/vllm.ai_semanticrouters.yaml
  website/docs/api/crd-reference.md
  website/docs/tutorials/global/api-and-observability.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Fix reask test fixture wording to keep lexical overlap across turns
  e2e/testcases/testdata/reask_routing_cases.json
Due: none

Add E2E coverage for the reask signal
  .github/workflows/integration-test-k8s.yml
  e2e/pkg/testmatrix/testcases.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/testcases/chat_completion_helpers.go
  e2e/testcases/reask_routing.go
  e2e/testcases/signal_routing_contract_test.go
  e2e/testcases/testdata/reask_routing_cases.json
Due: go-fmt, yaml-and-yml-fmt

fix(cli): validate decision diagnostics plugin configuration
  e2e/testcases/decision_diagnostics_following_filter.go
  src/semantic-router/pkg/extproc/decision_diagnostics_test.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/plugin_decision_diagnostics.py
  src/vllm-sr/cli/validator.py
  src/vllm-sr/tests/test_plugin_decision_diagnostics.py
Due: go-fmt

refactor: keep the hot path allocation-free and the helpers where they belong
  deploy/operator/controllers/canonical_config_complexity_test.go
  deploy/operator/controllers/canonical_config_spec_test.go
  src/semantic-router/pkg/config/complexity_boundaries.go
  src/semantic-router/pkg/modelruntime/connector/connector.go
  src/semantic-router/pkg/observability/metrics/complexity_metrics.go
  src/semantic-router/pkg/observability/metrics/metric_labels.go
  src/semantic-router/pkg/observability/metrics/remote_connector_metrics.go
Due: go-fmt

Hold a generation ref while the classification API borrows a service
  src/semantic-router/pkg/apiserver/runtime_service.go
  src/semantic-router/pkg/apiserver/runtime_service_test.go
  src/semantic-router/pkg/apiserver/runtime_state_test.go
  src/semantic-router/pkg/apiserver/server.go
  src/semantic-router/pkg/extproc/router_global_publication_test.go
  src/semantic-router/pkg/extproc/router_service_generation_test.go
  src/semantic-router/pkg/extproc/server.go
  src/semantic-router/pkg/routerruntime/classification_borrow_test.go
  src/semantic-router/pkg/routerruntime/registry.go
Due: go-fmt

fix(extproc): record verified timeout telemetry and exercise generated reliability path
  deploy/kubernetes/ai-gateway/aigw-resources/gwapi-resources.yaml
  e2e/profiles/ai-gateway/gateway-resources/timeout-route.yaml
  e2e/testcases/reliability_timeouts.go
  e2e/testcases/reliability_timeouts_test.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/processor_core.go
  src/semantic-router/pkg/extproc/processor_req_body_external_gateway.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/extproc/processor_res_header_runtime.go
  src/semantic-router/pkg/extproc/processor_res_transport_error.go
  src/semantic-router/pkg/extproc/processor_res_transport_error_test.go
  src/semantic-router/pkg/extproc/request_context.go
Due: go-fmt, yaml-and-yml-fmt

[Feature] Add Looper attempt telemetry
  e2e/profiles/looper/manifests/fake-backend.yaml
  e2e/profiles/looper/profile.go
  e2e/profiles/looper/values.yaml
  e2e/testcases/looper_confidence_telemetry.go
  e2e/testcases/router_replay_restart_recovery.go
  src/semantic-router/pkg/extproc/recorder_route_diagnostics.go
  src/semantic-router/pkg/extproc/req_filter_looper.go
  src/semantic-router/pkg/extproc/req_filter_looper_failure.go
  src/semantic-router/pkg/extproc/req_filter_looper_replay_test.go
  src/semantic-router/pkg/extproc/req_filter_looper_trace.go
  src/semantic-router/pkg/extproc/req_filter_looper_trace_test.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/looper/attempt_trace.go
  src/semantic-router/pkg/looper/attempt_trace_test.go
  src/semantic-router/pkg/looper/client.go
  src/semantic-router/pkg/looper/confidence.go
  src/semantic-router/pkg/looper/confidence_response.go
  src/semantic-router/pkg/looper/execute_latency.go
  src/semantic-router/pkg/looper/looper.go
  src/semantic-router/pkg/looper/stage_context.go
  src/semantic-router/pkg/observability/metrics/looper_metrics.go
  src/semantic-router/pkg/observability/metrics/looper_metrics_test.go
  src/semantic-router/pkg/routerreplay/recorder.go
  src/semantic-router/pkg/routerreplay/redaction/looper_diagnostics_test.go
  src/semantic-router/pkg/routerreplay/redaction/redaction.go
  src/semantic-router/pkg/routerreplay/store/looper_diagnostics_test.go
  src/semantic-router/pkg/routerreplay/store/store.go
  website/docs/tutorials/algorithm/looper/confidence.md
  website/docs/tutorials/global/api-and-observability.md
  website/docs/tutorials/plugin/router-replay.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Docs] Document Looper telemetry helpers
  e2e/testcases/looper_confidence_telemetry.go
  src/semantic-router/pkg/extproc/req_filter_looper_trace.go
  src/semantic-router/pkg/looper/attempt_trace.go
  src/semantic-router/pkg/looper/stage_context.go
  src/semantic-router/pkg/observability/metrics/looper_metrics.go
Due: go-fmt

[Feature] Add GPT-6 Astra to OpenRouter built-in support
  config/catalog/resources/providers/openrouter.yaml
  config/recipes/built-in/latest/catalog.yaml
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  src/semantic-router/pkg/extproc/provider_request_catalog_contract_test.go
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

docs: say what settles a ladder when two rungs match at the same priority
  website/docs/tutorials/signal/learned/complexity.md
Due: md-fmt

[Feature] Add GPT-6 Astra to OpenRouter built-in support (#3659)
  config/catalog/resources/providers/openrouter.yaml
  config/recipes/built-in/latest/catalog.yaml
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  src/semantic-router/pkg/extproc/provider_request_catalog_contract_test.go
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

[Test] Add E2E coverage for the reask signal (#3653)
  .github/workflows/integration-test-k8s.yml
  e2e/pkg/testmatrix/testcases.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/testcases/chat_completion_helpers.go
  e2e/testcases/reask_routing.go
  e2e/testcases/signal_routing_contract_test.go
  e2e/testcases/testdata/reask_routing_cases.json
Due: go-fmt, yaml-and-yml-fmt

[Feature] Add Looper attempt telemetry (#3652)
  e2e/profiles/looper/manifests/fake-backend.yaml
  e2e/profiles/looper/profile.go
  e2e/profiles/looper/values.yaml
  e2e/testcases/looper_confidence_telemetry.go
  e2e/testcases/router_replay_restart_recovery.go
  src/semantic-router/pkg/extproc/recorder_route_diagnostics.go
  src/semantic-router/pkg/extproc/req_filter_looper.go
  src/semantic-router/pkg/extproc/req_filter_looper_failure.go
  src/semantic-router/pkg/extproc/req_filter_looper_replay_test.go
  src/semantic-router/pkg/extproc/req_filter_looper_trace.go
  src/semantic-router/pkg/extproc/req_filter_looper_trace_test.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/looper/attempt_trace.go
  src/semantic-router/pkg/looper/attempt_trace_test.go
  src/semantic-router/pkg/looper/client.go
  src/semantic-router/pkg/looper/confidence.go
  src/semantic-router/pkg/looper/confidence_response.go
  src/semantic-router/pkg/looper/execute_latency.go
  src/semantic-router/pkg/looper/looper.go
  src/semantic-router/pkg/looper/stage_context.go
  src/semantic-router/pkg/observability/metrics/looper_metrics.go
  src/semantic-router/pkg/observability/metrics/looper_metrics_test.go
  src/semantic-router/pkg/routerreplay/recorder.go
  src/semantic-router/pkg/routerreplay/redaction/looper_diagnostics_test.go
  src/semantic-router/pkg/routerreplay/redaction/redaction.go
  src/semantic-router/pkg/routerreplay/store/looper_diagnostics_test.go
  src/semantic-router/pkg/routerreplay/store/store.go
  website/docs/tutorials/algorithm/looper/confidence.md
  website/docs/tutorials/global/api-and-observability.md
  website/docs/tutorials/plugin/router-replay.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Bug] Point the evaluation registry at the mmbert32k checkpoints the router serves (#3651)
  src/training/model_eval/constants.py
  src/training/model_eval/tests/test_registry_matches_served_models.py
Due: none

[Bug] Scan the whole answer for hallucinations, not its first window (#3643)
  src/semantic-router/pkg/classification/hallucination_detector.go
  src/semantic-router/pkg/classification/hallucination_detector_nli.go
  src/semantic-router/pkg/classification/hallucination_detector_window_test.go
Due: go-fmt

[Bug] Stop training the intent classifier on the MMLU-Pro rows it is scored on (#3628)
  src/training/model_classifier/classifier_model_fine_tuning_lora/ft_linear_lora.py
  src/training/model_classifier/classifier_model_fine_tuning_lora/heldout_split.py
  src/training/model_classifier/classifier_model_fine_tuning_lora/tests/test_heldout_split.py
  tools/make/models.mk
  website/docs/training/classifier-models.md
Due: md-fmt

[Bug] Skip ONNX weights when downloading candle embedding models (#3533)
  src/semantic-router/pkg/modeldownload/config_parser.go
  src/semantic-router/pkg/modeldownload/download_scope_test.go
  src/semantic-router/pkg/modeldownload/downloader.go
  src/semantic-router/pkg/modeldownload/downloader_test.go
  src/semantic-router/pkg/modeldownload/types.go
Due: go-fmt

[Bug] Cut ReMoM last_n_tokens compaction on rune boundaries using observed bytes per token (#3390)
  src/semantic-router/pkg/looper/remom.go
  src/semantic-router/pkg/looper/remom_compaction.go
  src/semantic-router/pkg/looper/remom_compaction_test.go
Due: go-fmt

[Bug] Accept open-ended context bands in the CLI config schema (#3386)
  src/semantic-router/pkg/config/testdata/token_count_cases.json
  src/semantic-router/pkg/config/token_count_test.go
  src/vllm-sr/cli/config_yaml.py
  src/vllm-sr/cli/context_bands.py
  src/vllm-sr/cli/goyaml_scalars.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/parser.py
  src/vllm-sr/cli/utils.py
  src/vllm-sr/tests/test_context_signal_bands.py
  website/docs/tutorials/signal/heuristic/context.md
Due: go-fmt, md-fmt

[Bug] Reject malformed decision rule trees at config load (#3323)
  deploy/helm/semantic-router/crds/vllm.ai_intelligentroutes.yaml
  deploy/kubernetes/crds/vllm.ai_intelligentroutes.yaml
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/types_route.go
  src/semantic-router/pkg/classification/classifier_composers.go
  src/semantic-router/pkg/config/canonical_loader_test.go
  src/semantic-router/pkg/config/validator_rule_operator.go
  src/semantic-router/pkg/config/validator_rule_operator_test.go
  src/semantic-router/pkg/decision/engine.go
  src/semantic-router/pkg/decision/rule_tree_shape_test.go
  src/semantic-router/pkg/k8s/converter_rule_tree_test.go
  website/docs/tutorials/decision/overview.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Bug] Remove unread cache and memory tuning fields (#3466)
  config/config.yaml
  config/runtime/memory/valkey.yaml
  config/runtime/response-cache/milvus.yaml
  config/runtime/response-cache/redis.yaml
  config/runtime/response-cache/valkey.yaml
  dashboard/frontend/src/pages/configPageRouterDefaultsSupport.ts
  dashboard/frontend/src/pages/configPageRouterStructuredSchema.ts
  dashboard/frontend/src/pages/configPageSupport.ts
  deploy/helm/semantic-router/README.md
  deploy/helm/semantic-router/templates/configmap.yaml
  deploy/helm/semantic-router/values.yaml
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/reference_config_global_test.go
  src/semantic-router/pkg/config/runtime_config.go
  website/docs/installation/milvus.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Feature] Migrate deprecated batch concurrency into admission
  src/semantic-router/pkg/config/admission_migration.go
  src/semantic-router/pkg/config/admission_migration_test.go
  src/semantic-router/pkg/config/api_batch_classification_config.go
  src/semantic-router/pkg/config/loader.go
  src/semantic-router/pkg/config/reference_config_global_test.go
Due: go-fmt

[Feature] Remove inert batch classification concurrency fields
  config/config.yaml
  deploy/helm/semantic-router/README.md
  deploy/helm/semantic-router/values.yaml
  deploy/kserve/configmap-router-config-simulator.yaml
  deploy/kserve/configmap-router-config.yaml
  deploy/kubernetes/agentgateway/semantic-router-values/values.yaml
  deploy/kubernetes/ai-gateway/semantic-router-values/values.yaml
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  deploy/kubernetes/dynamo/semantic-router-values/values.yaml
  deploy/kubernetes/istio/config.yaml
  deploy/kubernetes/istio/semantic-router-values/values.yaml
  deploy/kubernetes/llm-d/semantic-router-values/values.yaml
  deploy/kubernetes/llmd-base/llmd+public-llm/config.yaml.local
  deploy/kubernetes/llmd-base/llmd+public-llm/config.yaml.openai
  deploy/kubernetes/observability/dashboard/config.yaml
  e2e/config/config.modality-routing.yaml
  e2e/config/config.testing.yaml
  src/semantic-router/pkg/config/api_batch_classification_config.go
  src/semantic-router/pkg/config/config_test.go
  website/docs/tutorials/global/api-and-observability.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Feature] Wire admission gate into Router Model inference
  config/config.yaml
  src/semantic-router/pkg/admission/registry.go
  src/semantic-router/pkg/admission/registry_test.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_admission.go
  src/semantic-router/pkg/classification/classifier_admission_test.go
  src/semantic-router/pkg/classification/classifier_fact_hallucination_lifecycle.go
  src/semantic-router/pkg/classification/classifier_feedback_lifecycle.go
  src/semantic-router/pkg/classification/classifier_signal_context.go
  src/semantic-router/pkg/classification/classifier_signal_load_gate.go
  src/semantic-router/pkg/classification/classifier_signal_load_gate_test.go
  src/semantic-router/pkg/classification/fact_check_classifier.go
  src/semantic-router/pkg/classification/feedback_detector.go
  src/semantic-router/pkg/classification/hallucination_detector.go
  src/semantic-router/pkg/classification/hallucination_detector_nli.go
  src/semantic-router/pkg/observability/metrics/admission_metrics.go
Due: go-fmt, yaml-and-yml-fmt

[Feature] Forward Close through the admission wrapper
  src/semantic-router/pkg/classification/classifier_admission.go
  src/semantic-router/pkg/classification/classifier_admission_test.go
Due: go-fmt

[Feature] Share gates, fail signals visibly, map shed to 429
  src/semantic-router/pkg/apiserver/route_classify.go
  src/semantic-router/pkg/apiserver/route_classify_overload_test.go
  src/semantic-router/pkg/apiserver/route_nli.go
  src/semantic-router/pkg/classification/classifier_admission.go
  src/semantic-router/pkg/classification/classifier_admission_test.go
  src/semantic-router/pkg/classification/classifier_fact_hallucination_lifecycle.go
  src/semantic-router/pkg/classification/classifier_lifecycle.go
  src/semantic-router/pkg/classification/classifier_pii_init.go
  src/semantic-router/pkg/classification/classifier_pii_ops.go
  src/semantic-router/pkg/classification/classifier_pii_test.go
  src/semantic-router/pkg/classification/classifier_signal_dispatch.go
  src/semantic-router/pkg/classification/classifier_signal_dispatch_policy.go
  src/semantic-router/pkg/classification/classifier_signal_pii.go
  src/semantic-router/pkg/classification/classifier_signal_rule_evaluators.go
  src/semantic-router/pkg/classification/hallucination_detector_nli.go
  src/semantic-router/pkg/classification/history_aware_pii_e2e_test.go
  src/semantic-router/pkg/classification/recipe_classifiers.go
  src/semantic-router/pkg/classification/semantic_cache_polarity_lifecycle.go
  src/semantic-router/pkg/classification/semantic_cache_polarity_lifecycle_test.go
Due: go-fmt

[Feature] Keep max_concurrency in maintained configs for migration
  config/config.yaml
  deploy/helm/semantic-router/README.md
  deploy/helm/semantic-router/values.yaml
  deploy/kserve/configmap-router-config-simulator.yaml
  deploy/kserve/configmap-router-config.yaml
  deploy/kubernetes/agentgateway/semantic-router-values/values.yaml
  deploy/kubernetes/ai-gateway/semantic-router-values/values.yaml
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  deploy/kubernetes/dynamo/semantic-router-values/values.yaml
  deploy/kubernetes/istio/config.yaml
  deploy/kubernetes/istio/semantic-router-values/values.yaml
  deploy/kubernetes/llm-d/semantic-router-values/values.yaml
  deploy/kubernetes/llmd-base/llmd+public-llm/config.yaml.local
  deploy/kubernetes/llmd-base/llmd+public-llm/config.yaml.openai
  deploy/kubernetes/observability/dashboard/config.yaml
  e2e/config/config.modality-routing.yaml
  e2e/config/config.testing.yaml
  src/semantic-router/pkg/config/admission_migration_assets_test.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Feature] Adapt long-text PII test to context-aware ClassifyTokens
  src/semantic-router/pkg/classification/classifier_pii_long_text_test.go
Due: go-fmt

[Feature] Infer NLI result type under every binding
  src/semantic-router/pkg/classification/classifier_admission.go
  src/semantic-router/pkg/classification/classifier_fact_hallucination_lifecycle.go
  src/semantic-router/pkg/classification/hallucination_detector_nli.go
  src/semantic-router/pkg/classification/semantic_cache_polarity_lifecycle.go
Due: go-fmt

[Feature] Drop explanatory comments
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_admission.go
  src/semantic-router/pkg/classification/classifier_signal_pii.go
  src/semantic-router/pkg/classification/classifier_signal_rule_evaluators.go
  src/semantic-router/pkg/classification/hallucination_detector_nli.go
  src/semantic-router/pkg/classification/semantic_cache_polarity_lifecycle.go
  src/semantic-router/pkg/config/admission_migration.go
Due: go-fmt
