Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

[Test] Run the long-text classification API cases in the PR lane
  .github/workflows/integration-test-k8s.yml
  e2e/pkg/testmatrix/testcases.go
  e2e/testcases/security_long_text.go
Due: go-fmt, yaml-and-yml-fmt

fix: enforce prompt cache validation
  src/semantic-router/pkg/dsl/compiler_plugin_configs.go
  src/semantic-router/pkg/dsl/decompiler_plugin_config_test.go
  src/semantic-router/pkg/dsl/validator.go
  src/semantic-router/pkg/extproc/processor_req_prompt_cache.go
  src/semantic-router/pkg/extproc/processor_req_prompt_cache_test.go
Due: go-fmt

test: strengthen protection coverage and use readable YAML scenarios
  src/semantic-router/pkg/extproc/router_learning_session_benchmark_test.go
  src/semantic-router/pkg/extproc/router_learning_session_corpus_test.go
  src/semantic-router/pkg/extproc/router_learning_session_coverage_test.go
  src/semantic-router/pkg/extproc/router_learning_session_orchestration_test.go
  src/semantic-router/pkg/extproc/router_learning_session_report_test.go
  src/semantic-router/pkg/extproc/testdata/router_learning_sessions.v1.json
  src/semantic-router/pkg/extproc/testdata/router_learning_sessions.v1.yaml
  website/docs/benchmarking/agent-routing-protection.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(router): make upstream path rewrites idempotent
  e2e/testing/vllm-sr-cli/mock_openai_upstream.py
  e2e/testing/vllm-sr-cli/test_integration.py
  src/semantic-router/pkg/extproc/processor_req_body_external_gateway.go
  src/semantic-router/pkg/extproc/processor_req_body_external_gateway_test.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/extproc/processor_req_body_routing_test.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_req_header_internal.go
  src/semantic-router/pkg/extproc/req_filter_skip_processing_test.go
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/headers/headers_test.go
  src/vllm-sr/cli/templates/envoy.template.yaml
  src/vllm-sr/tests/test_config_generator.py
Due: go-fmt, yaml-and-yml-fmt

fix: validate prompt cache template overrides
  src/semantic-router/pkg/dsl/decompiler_plugin_config_test.go
  src/semantic-router/pkg/dsl/validator.go
  src/semantic-router/pkg/dsl/validator_prompt_cache.go
Due: go-fmt

[CI/Build] Cache pre-commit tooling image layers (#3415)
  .github/workflows/precommit-publish.yml
Due: yaml-and-yml-fmt

Stop PyPI-sim publish self cancellation
  .github/workflows/pypi-publish-vllm-sr-sim.yml
Due: yaml-and-yml-fmt

test: cover empty prompt cache instructions
  e2e/testcases/anthropic_prompt_cache_policy.go
Due: go-fmt

feat: enhance workflow file state store with TTL management and add tests
  dashboard/backend/go.sum
  src/semantic-router/pkg/looper/workflows_state_store_file_share.go
  src/semantic-router/pkg/looper/workflows_state_store_file_share_test.go
Due: go-fmt

[Bug] Key RouterDC affinity on a SHA-256 digest of the full query instead of its 32-byte prefix (#3504)
  src/semantic-router/pkg/selection/router_dc.go
  src/semantic-router/pkg/selection/router_dc_test.go
Due: go-fmt

[CI/Build] Tidy dashboard/backend go.sum for the router module's Router Replay store graph
  dashboard/backend/go.sum
Due: none

[Bug] Provision the jailbreak classifier for its response-stage consumers
  src/semantic-router/pkg/classification/classifier_lifecycle.go
  src/semantic-router/pkg/classification/classifier_lifecycle_test.go
  src/semantic-router/pkg/config/routing_signal_usage.go
  src/semantic-router/pkg/config/routing_signal_usage_test.go
  website/docs/tutorials/signal/learned/jailbreak.md
Due: go-fmt, md-fmt

feat(responsestore): operator-triggered global migration finalization
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_migration.go
  src/semantic-router/pkg/responsestore/redis_migration_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt

fix: keep dashboard schema lookup bounded
  dashboard/frontend/src/lib/dslCapabilityPluginSchemas.ts
Due: none

[Test] Run the long-text classification API cases in the PR lane (#3512)
  .github/workflows/integration-test-k8s.yml
  e2e/pkg/testmatrix/testcases.go
  e2e/testcases/security_long_text.go
Due: go-fmt, yaml-and-yml-fmt

[Fix] Align Standard Commands PATH fallback with Validation; remove dead E2E snapshot vars
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/scripts/lib/agent-install-skill.e2e.test.mjs
Due: md-fmt

[Fix] Gitignore the static skill copy, align with install.sh pattern
  .gitignore
  website/scripts/lib/agent-install-skill.test.mjs
  website/static/install/agent/vllm-sr/SKILL.md
Due: md-fmt

[Fix] Gate Workflow stop on command -v, not --version success
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/scripts/lib/agent-install-skill.test.mjs
Due: md-fmt

[Feature] Refine skill semantics, drop pip path, add E2E install smoke
  tools/agent/repo-manifest.yaml
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/scripts/lib/agent-install-skill.e2e.test.mjs
  website/scripts/lib/agent-install-skill.test.mjs
  website/static/install/agent/vllm-sr/SKILL.md
Due: md-fmt, yaml-and-yml-fmt

[Tests] Add drift tests and registry entry for vllm-sr-install skill
  tools/agent/docs/skill-catalog.md
  tools/agent/skill-registry.yaml
  website/scripts/lib/agent-install-skill.test.mjs
Due: md-fmt, yaml-and-yml-fmt

[Fix] Satisfy markdownlint in the install skill
  tools/agent/skills/vllm-sr-install/SKILL.md
Due: md-fmt

[Fix] Detect override paths, stale launchers, and disclose completion setup
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/scripts/lib/agent-install-skill.test.mjs
Due: md-fmt

[Docs] Add Agent installation mode to the Quickstart page
  website/docs/installation/installation.md
Due: md-fmt

[Feature] Add public vLLM-SR agent install skill
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/package.json
  website/scripts/sync-public-agent-skill.mjs
  website/static/install/agent/vllm-sr/SKILL.md
Due: md-fmt

[Fix] Address review feedback: silent existence checks, absolute-path validation
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/scripts/lib/agent-install-skill.test.mjs
  website/static/install/agent/vllm-sr/SKILL.md
Due: md-fmt

[Fix] Clear the full documented VLLM_SR_* override surface before install
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/scripts/lib/agent-install-skill.test.mjs
Due: md-fmt

[Fix] Stop on VLLM_SR_PIP_SPEC presence and redact its value
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/scripts/lib/agent-install-skill.test.mjs
Due: md-fmt

[Fix] Detect existing install via absolute paths, not only PATH
  tools/agent/skills/vllm-sr-install/SKILL.md
  website/scripts/lib/agent-install-skill.test.mjs
Due: md-fmt

fix(responsestore): make update rollback CAS-safe
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_response_store_test.go
Due: go-fmt

fix(responsestore): distinguish empty and populated migration proofs
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_proof_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_list.go
Due: go-fmt

fix: harden prompt cache lookups
  dashboard/frontend/src/lib/dslCapabilityPluginSchemas.test.ts
  dashboard/frontend/src/lib/dslCapabilityPluginSchemas.ts
  src/semantic-router/pkg/dsl/validator_prompt_cache.go
  src/semantic-router/pkg/dsl/validator_prompt_cache_test.go
Due: go-fmt

fix(responsestore): serialize legacy scans with renewable global lease
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_scan_lease.go
  src/semantic-router/pkg/responsestore/redis_scan_lease_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt

Fix memory receipt E2E assertions
  e2e/config/config.memory-user.yaml
  e2e/testing/09-memory-features-test.py
  e2e/testing/memory_tests/base.py
  e2e/testing/memory_tests/test_persistence_receipts.py
  e2e/testing/memory_tests/test_persistence_receipts_unit.py
Due: yaml-and-yml-fmt

[Feature] Bound and report response-side Router Memory persistence
  config/config.yaml
  e2e/testing/09-memory-features-test.py
  e2e/testing/memory_tests/__init__.py
  e2e/testing/memory_tests/test_persistence_receipts.py
  src/semantic-router/pkg/config/canonical_defaults.go
  src/semantic-router/pkg/config/canonical_loader_test.go
  src/semantic-router/pkg/config/runtime_config.go
  src/semantic-router/pkg/config/validator_memory.go
  src/semantic-router/pkg/extproc/processor_res_memory.go
  src/semantic-router/pkg/extproc/processor_res_memory_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_build_memory_persistence_test.go
  src/semantic-router/pkg/memory/extractor.go
  src/semantic-router/pkg/memory/extractor_test.go
  src/semantic-router/pkg/memory/persistence_runner.go
  src/semantic-router/pkg/memory/persistence_runner_test.go
  website/docs/tutorials/global/stores-and-tools.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Fix memory persistence snapshots and failure receipts
  src/semantic-router/pkg/extproc/memory_helpers.go
  src/semantic-router/pkg/extproc/memory_history_snapshot.go
  src/semantic-router/pkg/extproc/memory_history_snapshot_test.go
  src/semantic-router/pkg/extproc/processor_res_memory.go
  src/semantic-router/pkg/extproc/processor_res_memory_receipt.go
  src/semantic-router/pkg/extproc/processor_res_memory_regression_test.go
  src/semantic-router/pkg/memory/extractor.go
  src/semantic-router/pkg/memory/extractor_session_failure_test.go
Due: go-fmt

Tidy dashboard module checksums
  dashboard/backend/go.sum
Due: none

perf(responsestore): stream legacy conversation index backfill
  src/semantic-router/pkg/responsestore/redis_conversation_backfill_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_migration.go
Due: go-fmt

fix(looper): preserve 200 response contract
  src/semantic-router/pkg/looper/client_connector.go
  src/semantic-router/pkg/looper/client_connector_test.go
  src/semantic-router/pkg/modelruntime/connector/connector.go
  src/semantic-router/pkg/modelruntime/connector/connector_test.go
Due: go-fmt

refactor(looper): remove legacy HTTP transport
  src/semantic-router/pkg/looper/client.go
  src/semantic-router/pkg/looper/client_call_options.go
  src/semantic-router/pkg/looper/client_connector.go
  src/semantic-router/pkg/looper/client_internal_context.go
  src/semantic-router/pkg/looper/client_latency_test.go
  src/semantic-router/pkg/looper/client_read_limit.go
  src/semantic-router/pkg/looper/client_read_limit_integration_test.go
  src/semantic-router/pkg/looper/looper.go
  src/semantic-router/pkg/looper/looper_test.go
  src/semantic-router/pkg/looper/stage_context.go
Due: go-fmt

fix(ci): serialize inactivity sweep
  .github/workflows/unassign-inactive-assignees.yml
  tools/agent/docs/maintainer-ops.md
Due: md-fmt, yaml-and-yml-fmt
