Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

fix(#2062): bug: flaky memory-test-integration
  e2e/config/config.memory-user.yaml
  e2e/testing/run_memory_integration.sh
Due: yaml-and-yml-fmt

CI follow-up for #2062: bug: flaky memory-test-integration
  e2e/testing/memory_tests/base.py
  src/semantic-router/pkg/extproc/auto_store_dev.go
  src/semantic-router/pkg/extproc/auto_store_prod.go
  src/semantic-router/pkg/extproc/memory_helpers.go
  src/semantic-router/pkg/extproc/memory_helpers_test.go
  src/semantic-router/pkg/extproc/processor_res_memory.go
  src/semantic-router/pkg/responseapi/types.go
Due: go-fmt

Revert "fix(#2062): bug: flaky memory-test-integration"
  e2e/config/config.memory-user.yaml
  e2e/testing/run_memory_integration.sh
Due: yaml-and-yml-fmt

CI follow-up for #2062: bug: flaky memory-test-integration
  src/semantic-router/pkg/classification/unified_classifier_cgo_candle.go
  src/semantic-router/pkg/classification/unified_classifier_cgo_onnx.go
Due: go-fmt

fix(#2062): correct CGO LDFLAGS path resolution for memory integration
  src/semantic-router/pkg/classification/unified_classifier_cgo_candle.go
  src/semantic-router/pkg/classification/unified_classifier_cgo_onnx.go
  tools/make/build-run-test.mk
Due: go-fmt

CI follow-up for #2062: bug: flaky memory-test-integration
  src/semantic-router/pkg/extproc/auto_store_dev.go
  src/semantic-router/pkg/extproc/auto_store_prod.go
  tools/make/build-run-test.mk
  website/docs/tutorials/signal/learned/embedding-design-principles.md
Due: go-fmt, md-fmt

fix(#2062): bug: flaky memory-test-integration
  e2e/config/config.memory-user.yaml
Due: yaml-and-yml-fmt

CI follow-up for #2062: bug: flaky memory-test-integration
  dashboard/backend/Dockerfile
Due: none

CI follow-up for #2062: bug: flaky memory-test-integration
  e2e/config/config.memory-user.yaml
  src/semantic-router/pkg/extproc/router_memory.go
Due: go-fmt, yaml-and-yml-fmt

Revert "CI follow-up for #2062: bug: flaky memory-test-integration"
  e2e/config/config.memory-user.yaml
  src/semantic-router/pkg/extproc/router_memory.go
Due: go-fmt, yaml-and-yml-fmt

CI follow-up for #2062: bug: flaky memory-test-integration
  e2e/config/config.memory-user.yaml
  src/semantic-router/pkg/modelruntime/router_runtime.go
Due: go-fmt, yaml-and-yml-fmt

Resolves #2062: bug: flaky memory-test-integration (#2072)
  .github/workflows/integration-test-memory.yml
  dashboard/backend/Dockerfile
  e2e/config/config.memory-user.yaml
  e2e/testing/memory_tests/base.py
  e2e/testing/run_memory_integration.sh
  src/semantic-router/pkg/extproc/auto_store_dev.go
  src/semantic-router/pkg/extproc/auto_store_prod.go
  src/semantic-router/pkg/extproc/memory_helpers.go
  src/semantic-router/pkg/extproc/memory_helpers_test.go
  src/semantic-router/pkg/extproc/processor_res_memory.go
  src/semantic-router/pkg/modelruntime/router_runtime.go
  src/semantic-router/pkg/responseapi/types.go
  tools/make/build-run-test.mk
  website/docs/tutorials/signal/learned/embedding-design-principles.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Dashboard] fix E2E auth 503: add emptyDir volume for SQLite store path
  e2e/profiles/dashboard/dashboard-deployment.yaml
Due: yaml-and-yml-fmt

Resolves #2010: bug: <Auth Related Integ Test Failing>
  e2e/profiles/dashboard/dashboard-deployment.yaml
Due: yaml-and-yml-fmt

upd
  dashboard/backend/configprojection/builder_test.go
  dashboard/backend/configprojection/store.go
  dashboard/backend/configprojection/store_test.go
  dashboard/backend/configprojection/version.go
  dashboard/backend/configprojection/version_test.go
  dashboard/backend/handlers/config_projection_deploy_test.go
  dashboard/backend/handlers/config_projection_deps.go
  dashboard/backend/main.go
  dashboard/backend/router/mcp_routes_test.go
  dashboard/backend/router/router.go
Due: go-fmt

fix: update log message when sanitization failed per review
  src/semantic-router/pkg/memory/extractor.go
Due: go-fmt

test: reset metric per test and add fail-store test case
  src/semantic-router/pkg/memory/extractor_test.go
Due: go-fmt

[Router] Fix episodic memory extraction count metric (#2070)
  src/semantic-router/pkg/memory/extractor.go
  src/semantic-router/pkg/memory/extractor_test.go
Due: go-fmt

[Dashboard] Config projection store and deploy-time write path (#2073)
  dashboard/backend/config/config.go
  dashboard/backend/configprojection/builder.go
  dashboard/backend/configprojection/builder_test.go
  dashboard/backend/configprojection/store.go
  dashboard/backend/configprojection/store_test.go
  dashboard/backend/configprojection/types.go
  dashboard/backend/configprojection/version.go
  dashboard/backend/configprojection/version_test.go
  dashboard/backend/handlers/config.go
  dashboard/backend/handlers/config_backups.go
  dashboard/backend/handlers/config_projection.go
  dashboard/backend/handlers/config_projection_deploy_test.go
  dashboard/backend/handlers/config_projection_deps.go
  dashboard/backend/handlers/config_projection_test.go
  dashboard/backend/handlers/deploy.go
  dashboard/backend/main.go
  dashboard/backend/router/core_routes.go
  dashboard/backend/router/mcp_routes_test.go
  dashboard/backend/router/router.go
Due: go-fmt

Add configurable score threshold to language signal API
  src/semantic-router/pkg/classification/language_threshold_test.go
  src/semantic-router/pkg/dsl/compiler_signals.go
  src/semantic-router/pkg/dsl/decompiler_convert.go
  src/semantic-router/pkg/dsl/language_threshold_roundtrip_test.go
Due: go-fmt

Add configurable score threshold to language signal API
  src/semantic-router/pkg/classification/language_classifier_test.go
Due: go-fmt

[Router] wire language signal threshold through DSL compiler and decompiler
  src/semantic-router/pkg/classification/language_classifier_test.go
  src/semantic-router/pkg/dsl/compiler_signals.go
  src/semantic-router/pkg/dsl/decompiler_convert.go
  src/semantic-router/pkg/dsl/decompiler_signals_rules.go
  src/semantic-router/pkg/dsl/dsl_test.go
Due: go-fmt

[E2E] add dashboard restart SQLite recovery test with PVC-backed workflow store
  e2e/pkg/testmatrix/testcases.go
  e2e/profiles/dashboard/dashboard-deployment.yaml
  e2e/profiles/dashboard/dashboard-pvc.yaml
  e2e/profiles/dashboard/profile.go
  e2e/testcases/dashboard_restart_recovery.go
Due: go-fmt, yaml-and-yml-fmt

[Router] stabilize language classifier threshold tests
  src/semantic-router/pkg/classification/language_classifier_test.go
Due: go-fmt

[Cleanup] drop supervisord monolith paths, default split runtime containers (#2060)
  dashboard/backend/handlers/logs.go
  dashboard/backend/handlers/logs_test.go
  dashboard/backend/handlers/openclaw_helpers.go
  dashboard/backend/handlers/runtime_config_apply.go
  dashboard/backend/handlers/runtime_managed_services.go
  dashboard/backend/handlers/runtime_managed_services_test.go
  dashboard/backend/handlers/status.go
  dashboard/backend/handlers/status_collectors.go
  dashboard/backend/handlers/status_collectors_test.go
  dashboard/backend/handlers/status_log_patterns.go
  dashboard/backend/handlers/status_probes.go
  dashboard/backend/handlers/status_runtime.go
  src/vllm-sr/cli/consts.py
  src/vllm-sr/start-envoy.sh
  src/vllm-sr/start-router.sh
  src/vllm-sr/supervisord.conf
Due: go-fmt

upd
  e2e/profiles/dashboard/dashboard-deployment.yaml
  e2e/profiles/dashboard/dashboard-pvc.yaml
  e2e/profiles/dashboard/profile.go
Due: go-fmt, yaml-and-yml-fmt

[Router] fix lowestLanguageThreshold and add evaluateLanguageSignal integration tests
  src/semantic-router/pkg/classification/classifier_signal_language.go
  src/semantic-router/pkg/classification/classifier_signal_language_test.go
  src/semantic-router/pkg/classification/language_classifier_test.go
Due: go-fmt

CI follow-up
  src/semantic-router/pkg/classification/classifier_signal_language.go
Due: go-fmt

Add configurable score threshold to language signal API
  src/semantic-router/pkg/dsl/compiler_signals.go
  src/semantic-router/pkg/dsl/decompiler_convert.go
  src/semantic-router/pkg/dsl/decompiler_signals_rules.go
  src/semantic-router/pkg/dsl/dsl_test.go
Due: go-fmt

[DSL] Expose language signal threshold in DSL compiler/decompiler and add tests
  src/semantic-router/pkg/dsl/compiler_signals.go
Due: go-fmt

CI follow-up
  src/semantic-router/pkg/dsl/compiler_fields.go
  src/semantic-router/pkg/dsl/compiler_signals.go
  src/semantic-router/pkg/dsl/decompiler_convert.go
Due: go-fmt

CI follow-up
  .github/workflows/test-and-build.yml
Due: yaml-and-yml-fmt

Add configurable score threshold to language signal API
  src/semantic-router/pkg/dsl/compiler_signals.go
  src/semantic-router/pkg/dsl/decompiler_signals_rules.go
  src/semantic-router/pkg/dsl/dsl_test.go
Due: go-fmt

CI follow-up
  src/semantic-router/pkg/dsl/dsl_test.go
Due: go-fmt

upd
  e2e/profiles/dashboard/dashboard-pvc.yaml
Due: yaml-and-yml-fmt

refactor: centralize router model lifecycle
  docs/agent/plans/pl-0032-architecture-scorecard-ratchet.md
  docs/agent/tech-debt/README.md
  docs/agent/tech-debt/td-044-router-model-lifecycle-split.md
  src/semantic-router/pkg/apiserver/route_model_info_classifiers.go
  src/semantic-router/pkg/apiserver/route_model_info_embeddings.go
  src/semantic-router/pkg/apiserver/route_model_info_test.go
  src/semantic-router/pkg/config/validator_embedding.go
  src/semantic-router/pkg/config/vectorstore.go
  src/semantic-router/pkg/extproc/router_components.go
  src/semantic-router/pkg/extproc/router_components_test.go
  src/semantic-router/pkg/extproc/router_memory.go
  src/semantic-router/pkg/modeldownload/config_parser.go
  src/semantic-router/pkg/modeldownload/config_parser_classifier_gates_test.go
  src/semantic-router/pkg/modeldownload/config_parser_fixtures_test.go
  src/semantic-router/pkg/modeldownload/config_parser_test.go
  src/semantic-router/pkg/modeldownload/feature_gates.go
  src/semantic-router/pkg/modeldownload/types.go
  src/semantic-router/pkg/modellifecycle/embedding.go
  src/semantic-router/pkg/modellifecycle/plan.go
  src/semantic-router/pkg/modellifecycle/plan_test.go
  src/semantic-router/pkg/modelruntime/embedding_initializers.go
  src/semantic-router/pkg/modelruntime/embedding_runtime.go
  src/semantic-router/pkg/modelruntime/modality_runtime.go
  src/semantic-router/pkg/modelruntime/router_runtime.go
  src/semantic-router/pkg/modelruntime/router_runtime_test.go
  tools/agent/repo-manifest.yaml
Due: go-fmt, md-fmt, yaml-and-yml-fmt

docs: update model lifecycle debt status
  docs/agent/plans/pl-0032-architecture-scorecard-ratchet.md
  docs/agent/tech-debt/td-044-router-model-lifecycle-split.md
Due: md-fmt

refactor: unify router model lifecycle schema
  config/README.md
  config/config.yaml
  docs/agent/plans/pl-0032-architecture-scorecard-ratchet.md
  docs/agent/tech-debt/td-044-router-model-lifecycle-split.md
  e2e/config/config.agent-smoke.amd.yaml
  e2e/config/config.agent-smoke.cpu.yaml
  e2e/config/config.memory-user-valkey.yaml
  e2e/config/config.memory-user.yaml
  src/semantic-router/pkg/config/canonical_defaults.go
  src/semantic-router/pkg/config/canonical_export.go
  src/semantic-router/pkg/config/canonical_global.go
  src/semantic-router/pkg/config/canonical_lifecycle_refs_test.go
  src/semantic-router/pkg/config/image_gen_plugin.go
  src/semantic-router/pkg/config/model_config_types.go
  src/semantic-router/pkg/config/model_lifecycle_catalog_test.go
  src/semantic-router/pkg/config/reference_config_global_test.go
  src/semantic-router/pkg/modellifecycle/plan_test.go
  src/vllm-sr/cli/config_migration.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_config_migrate.py
Due: go-fmt, md-fmt, yaml-and-yml-fmt

refactor: consolidate router model lifecycle catalog
  docs/agent/tech-debt/td-044-router-model-lifecycle-split.md
  src/semantic-router/pkg/apiserver/route_model_info_embeddings.go
  src/semantic-router/pkg/config/canonical_defaults.go
  src/semantic-router/pkg/config/model_lifecycle_catalog.go
  src/semantic-router/pkg/config/model_lifecycle_catalog_test.go
  src/semantic-router/pkg/config/registry.go
  src/semantic-router/pkg/modellifecycle/plan.go
  src/semantic-router/pkg/modellifecycle/plan_test.go
  src/vllm-sr/cli/models.py
Due: go-fmt, md-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
