Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

follow the current practices for building and pushing images
  .github/workflows/operator-ci.yml
Due: yaml-and-yml-fmt

revert image name
  deploy/operator/config/manager/kustomization.yaml
Due: yaml-and-yml-fmt

feat: implement proper split fallback for custom datasets.
  src/training/model_eval/mom_collection_eval.py
Due: none

Mobile
  dashboard/frontend/index.html
  dashboard/frontend/public/manifest.json
  dashboard/frontend/public/vllm-mobile.png
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
Due: none

Mobile
  dashboard/frontend/src/components/ChatComponent.module.css
Due: none

Mobile
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
Due: none

Mobile
  dashboard/frontend/src/components/ChatComponent.tsx
Due: none

[Feat] fix code review issues in RAG implementation
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/config/rag_plugin.go
  src/semantic-router/pkg/extproc/req_filter_rag.go
  src/semantic-router/pkg/extproc/req_filter_rag_cache.go
  src/semantic-router/pkg/extproc/req_filter_rag_external.go
  src/semantic-router/pkg/extproc/req_filter_rag_hybrid.go
  src/semantic-router/pkg/extproc/req_filter_rag_mcp.go
  src/semantic-router/pkg/extproc/req_filter_rag_milvus.go
  src/semantic-router/pkg/observability/metrics/rag_metrics.go
Due: go-fmt

Mobile
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/PlatformBranding.tsx
  dashboard/frontend/src/contexts/ReadonlyContext.tsx
Due: none

[Feat] Add OpenAI File Store and Vector Store API support for RAG
  src/semantic-router/pkg/config/rag_plugin.go
  src/semantic-router/pkg/extproc/req_filter_rag.go
  src/semantic-router/pkg/extproc/req_filter_rag_hybrid.go
  src/semantic-router/pkg/extproc/req_filter_rag_openai.go
  src/semantic-router/pkg/openai/filestore.go
  src/semantic-router/pkg/openai/vectorstore.go
Due: go-fmt

Mobile
  dashboard/frontend/public/manifest.json
  dashboard/frontend/src/pages/LandingPage.module.css
  dashboard/frontend/src/pages/LandingPage.tsx
Due: none

Mobile
  dashboard/frontend/src/pages/LandingPage.tsx
Due: none

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Due: none

[Test] Add unit tests, E2E tests, and documentation for OpenAI RAG
  docs/RAG_OPENAI_GUIDE.md
  e2e/testcases/rag_openai.go
  e2e/testing/08-rag-openai-test.py
  e2e/testing/run_all_tests.py
  src/semantic-router/pkg/extproc/req_filter_rag_openai_test.go
  src/semantic-router/pkg/openai/filestore_test.go
  src/semantic-router/pkg/openai/vectorstore_test.go
Due: go-fmt, md-fmt

Mobile
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/AnimatedBackground.module.css
  dashboard/frontend/src/components/AnimatedBackground.tsx
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/components/ThinkingAnimation.tsx
  dashboard/frontend/src/pages/PlaygroundPage.module.css
  dashboard/frontend/src/pages/PlaygroundPage.tsx
  deploy/amd/config.yaml
  src/vllm-sr/cli/templates/config.template.yaml
Due: yaml-and-yml-fmt

SAMPLES
  deploy/amd/config.yaml
Due: yaml-and-yml-fmt

fix(dashboard): hide Edit button in ViewModal when readonly mode is enabled
  dashboard/frontend/src/pages/ConfigPage.tsx
Due: none

feat(playground): add web search tool with citations and code copy
  dashboard/backend/handlers/websearch.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ErrorBoundary.tsx
  dashboard/frontend/src/components/MarkdownRenderer.module.css
  dashboard/frontend/src/components/MarkdownRenderer.tsx
  dashboard/frontend/src/components/ThinkingBlock.tsx
  dashboard/frontend/src/hooks/useNoTranslate.ts
  dashboard/frontend/src/index.css
  dashboard/frontend/src/tools/executors/webSearch.ts
  dashboard/frontend/src/tools/hooks/useToolRegistry.ts
  dashboard/frontend/src/tools/index.ts
  dashboard/frontend/src/tools/registry.ts
  dashboard/frontend/src/tools/types.ts
Due: go-fmt

feat(websearch): add rate limiting and anti-detection for public service
  dashboard/backend/handlers/websearch.go
Due: go-fmt

fix: metrics function
  src/training/preference_model_fine_tuning/preference_model_ft.py
Due: none

remove artifact and add to gitignore
  .gitignore
Due: none

feat: support web page content fetching capability
  dashboard/backend/handlers/openweb.go
  dashboard/backend/handlers/websearch.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/tools/executors/openWeb.ts
  dashboard/frontend/src/tools/executors/webSearch.ts
  dashboard/frontend/src/tools/index.ts
  dashboard/frontend/src/tools/registry.ts
  dashboard/frontend/src/tools/types.ts
Due: go-fmt

Opt: Candidates and Chat UI
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/MarkdownRenderer.module.css
  deploy/amd/README.md
  deploy/amd/config.yaml
Due: md-fmt, yaml-and-yml-fmt

Opt: Candidates and Chat UI
  deploy/amd/config.yaml
Due: yaml-and-yml-fmt

Feat: Add Caching Metrics
  src/semantic-router/pkg/cache/hybrid_cache.go
  src/semantic-router/pkg/cache/inmemory_cache.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/cache/redis_cache.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/observability/metrics/metrics.go
  src/vllm-sr/cli/templates/generate_dashboard.py
  src/vllm-sr/cli/templates/llm-router-dashboard.serve.json
Due: go-fmt

Feat: Add Caching Metrics
  src/semantic-router/pkg/cache/inmemory_cache.go
Due: go-fmt

Feat: Add Caching Metrics
  deploy/amd/config.yaml
  src/semantic-router/pkg/classification/keyword_classifier.go
Due: go-fmt, yaml-and-yml-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
