Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

fix(e2e): satisfy codespell in deployer comment (reuse)
  e2e/pkg/helm/deployer.go
Due: go-fmt

feat(dashboard): restore system/signal eval workflows and tests (#1624)
  dashboard/backend/evaluation/adapters.go
  dashboard/backend/evaluation/adapters_hallucination.go
  dashboard/backend/evaluation/adapters_prometheus.go
  dashboard/backend/evaluation/adapters_test.go
  dashboard/backend/evaluation/db.go
  dashboard/backend/evaluation/db_test.go
  dashboard/backend/evaluation/runner.go
  dashboard/backend/evaluation/runner_progress.go
  dashboard/backend/evaluation/runner_test.go
  dashboard/backend/handlers/evaluation.go
  dashboard/backend/handlers/evaluation_create.go
  dashboard/backend/handlers/evaluation_test.go
  dashboard/backend/models/evaluation.go
  dashboard/backend/router/core_routes.go
  dashboard/frontend/e2e/evaluation.spec.ts
  dashboard/frontend/src/components/evaluation/TaskCreationForm.tsx
  dashboard/frontend/src/types/evaluation.ts
  tools/make/dashboard.mk
  tools/make/golang.mk
Due: go-fmt

docs: add projection docs
  dashboard/backend/handlers/evaluation.go
  dashboard/backend/handlers/evaluation_create.go
  dashboard/backend/handlers/evaluation_test.go
  dashboard/frontend/e2e/evaluation.spec.ts
  dashboard/frontend/src/components/evaluation/TaskCreationForm.tsx
  dashboard/frontend/src/hooks/useEvaluation.ts
  dashboard/frontend/src/utils/evaluationApi.ts
  dashboard/frontend/src/utils/evaluationConfig.ts
  website/docs/installation/configuration.md
  website/docs/intro.md
  website/docs/tutorials/projection/mappings.md
  website/docs/tutorials/projection/overview.md
  website/docs/tutorials/projection/partitions.md
  website/docs/tutorials/projection/scores.md
  website/docs/tutorials/signal/overview.md
  website/docs/tutorials/signal/projections.md
  website/docusaurus.config.ts
  website/sidebars.ts
Due: go-fmt, md-fmt

docs: add projection docs
  website/docs/overview/signal-driven-decisions.md
  website/docs/tutorials/signal/learned/modality.md
  website/docs/tutorials/signal/overview.md
  website/docusaurus.config.ts
  website/sidebars.ts
  website/src/css/docs.css
  website/src/css/shell.css
Due: md-fmt

docs: add projection docs (#1633)
  dashboard/backend/handlers/evaluation.go
  dashboard/backend/handlers/evaluation_create.go
  dashboard/backend/handlers/evaluation_test.go
  dashboard/frontend/e2e/evaluation.spec.ts
  dashboard/frontend/src/components/evaluation/TaskCreationForm.tsx
  dashboard/frontend/src/hooks/useEvaluation.ts
  dashboard/frontend/src/utils/evaluationApi.ts
  dashboard/frontend/src/utils/evaluationConfig.ts
  website/docs/installation/configuration.md
  website/docs/intro.md
  website/docs/overview/signal-driven-decisions.md
  website/docs/tutorials/projection/mappings.md
  website/docs/tutorials/projection/overview.md
  website/docs/tutorials/projection/partitions.md
  website/docs/tutorials/projection/scores.md
  website/docs/tutorials/signal/learned/modality.md
  website/docs/tutorials/signal/overview.md
  website/docs/tutorials/signal/projections.md
  website/docusaurus.config.ts
  website/sidebars.ts
  website/src/css/docs.css
  website/src/css/shell.css
Due: go-fmt, md-fmt

docs: update balance and fix cache bug
  deploy/amd/README.md
  deploy/amd/balance.probes.yaml
  deploy/recipes/balance.dsl
  deploy/recipes/balance.yaml
  src/semantic-router/pkg/extproc/processor_res_body_pipeline.go
  src/semantic-router/pkg/extproc/processor_res_body_pipeline_test.go
  src/semantic-router/pkg/extproc/processor_res_body_streaming.go
  src/semantic-router/pkg/extproc/processor_res_body_streaming_test.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_cache_scope_test.go
  src/semantic-router/pkg/extproc/semantic_cache_scope.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(classification): honor authz.fail_open when identity header empty
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/authz-rbac/README.md
  e2e/profiles/authz-rbac/profile.go
  e2e/profiles/response-api-redis-cluster/values.yaml
  e2e/profiles/response-api-redis/values.yaml
  e2e/profiles/response-api/values.yaml
  src/semantic-router/pkg/classification/authz_fail_open.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_signal_eval.go
  tools/agent/structure-rules.yaml
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Feat](extproc): optimize response body extract with gjson (#1614)
  e2e/pkg/framework/runner_lifecycle.go
  e2e/pkg/framework/types.go
  e2e/pkg/stacks/gateway/stack.go
  src/semantic-router/pkg/extproc/memory_helpers.go
  src/semantic-router/pkg/extproc/processor_res_body_pipeline.go
  src/semantic-router/pkg/extproc/processor_res_body_pipeline_test.go
  src/semantic-router/pkg/extproc/res_filter_hallucination.go
Due: go-fmt

fix lint error
  dashboard/backend/handlers/logs.go
Due: go-fmt

fix:update grep pattern to capture envoy-specific logs more broadly
  dashboard/backend/handlers/logs.go
  src/vllm-sr/cli/core.py
Due: go-fmt

deploy: add privacy routing recipe
  deploy/recipes/privacy/README.md
  deploy/recipes/privacy/privacy-router.dsl
  deploy/recipes/privacy/privacy-router.yaml
  deploy/recipes/privacy/privacy.probes.yaml
Due: md-fmt, yaml-and-yml-fmt

feat(looper): integrate Meta-Refiner (Search-R2) into calibration loop
  dashboard/backend/evaluation/adapters.go
  dashboard/backend/evaluation/runner.go
  dashboard/backend/models/evaluation.go
  deploy/local/confidence-routing.probes.yaml
  deploy/local/per-category-confidence-routing.yaml
  tools/agent/scripts/router_calibration_loop.py
  tools/agent/scripts/router_calibration_pareto.py
  tools/agent/scripts/router_calibration_report.py
  tools/agent/scripts/router_calibration_support.py
  tools/agent/scripts/router_calibration_trajectory.py
Due: go-fmt, yaml-and-yml-fmt

lint
  tools/agent/scripts/router_calibration_pareto.py
  tools/agent/scripts/router_calibration_report.py
  tools/agent/scripts/router_calibration_support.py
  tools/agent/scripts/router_calibration_trajectory.py
Due: none

fix: align struct fields to pass go fmt
  src/semantic-router/pkg/cache/hybrid_cache_stub.go
  src/semantic-router/pkg/cache/inmemory_cache_stub.go
Due: go-fmt

deploy: add privacy routing recipe (#1635)
  deploy/recipes/privacy/README.md
  deploy/recipes/privacy/privacy-router.dsl
  deploy/recipes/privacy/privacy-router.yaml
  deploy/recipes/privacy/privacy.probes.yaml
Due: md-fmt, yaml-and-yml-fmt

[Feat]: unify vllm-sr CLI for Docker and Kubernetes deployments (#1507)
  .github/workflows/integration-test-helm.yml
  deploy/helm/README.md
  deploy/helm/semantic-router/Chart.lock
  deploy/helm/semantic-router/templates/dashboard-deployment.yaml
  deploy/helm/semantic-router/templates/dashboard-service.yaml
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/templates/grafana-datasource.yaml
  deploy/helm/semantic-router/values-dev.yaml
  deploy/helm/semantic-router/values-prod.yaml
  deploy/helm/semantic-router/values.yaml
  e2e/pkg/helm/deployer.go
  e2e/testing/vllm-sr-cli/test_integration.py
  src/vllm-sr/README.md
  src/vllm-sr/cli/commands/runtime.py
  src/vllm-sr/cli/config_translator.py
  src/vllm-sr/cli/deployment_backend.py
  src/vllm-sr/cli/docker_backend.py
  src/vllm-sr/cli/k8s_backend.py
  src/vllm-sr/tests/test_cli_main.py
  src/vllm-sr/tests/test_deployment_backend.py
Due: go-fmt, md-fmt, yaml-and-yml-fmt

refactor: extract helper functions from CreateCacheHitResponse
  src/semantic-router/pkg/utils/http/response.go
Due: go-fmt

fix(docs): align projection tutorial taxonomy with config hierarchy
  src/semantic-router/pkg/config/docs_contract_signal_test.go
  src/semantic-router/pkg/config/docs_contract_test.go
  src/semantic-router/pkg/dsl/maintained_asset_roundtrip_test.go
  website/docs/tutorials/projection/mappings.md
  website/docs/tutorials/projection/overview.md
  website/docs/tutorials/projection/partitions.md
  website/docs/tutorials/projection/scores.md
Due: go-fmt, md-fmt

fix(dsl): raise balance recipe warning budget to match current baseline
  src/semantic-router/pkg/config/docs_contract_signal_test.go
  src/semantic-router/pkg/config/docs_contract_test.go
  src/semantic-router/pkg/dsl/maintained_asset_roundtrip_test.go
  website/docs/tutorials/projection/mappings.md
  website/docs/tutorials/projection/overview.md
  website/docs/tutorials/projection/partitions.md
  website/docs/tutorials/projection/scores.md
Due: go-fmt, md-fmt

fix(docs): align projection tutorial taxonomy with config hierarchy (#1636)
  src/semantic-router/pkg/config/docs_contract_signal_test.go
  src/semantic-router/pkg/config/docs_contract_test.go
  src/semantic-router/pkg/dsl/maintained_asset_roundtrip_test.go
  website/docs/tutorials/projection/mappings.md
  website/docs/tutorials/projection/overview.md
  website/docs/tutorials/projection/partitions.md
  website/docs/tutorials/projection/scores.md
Due: go-fmt, md-fmt

fix(extproc): satisfy semantic cache scope lint
  src/semantic-router/pkg/extproc/semantic_cache_scope.go
Due: go-fmt

docs: update balance and fix cache bug (#1634)
  deploy/amd/README.md
  deploy/amd/balance.probes.yaml
  deploy/recipes/balance.dsl
  deploy/recipes/balance.yaml
  src/semantic-router/pkg/extproc/processor_res_body_pipeline.go
  src/semantic-router/pkg/extproc/processor_res_body_pipeline_test.go
  src/semantic-router/pkg/extproc/processor_res_body_streaming.go
  src/semantic-router/pkg/extproc/processor_res_body_streaming_test.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_cache_personalized_test.go
  src/semantic-router/pkg/extproc/req_filter_cache_scope_test.go
  src/semantic-router/pkg/extproc/semantic_cache_scope.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

align privacy recipe with balance mock aliases
  deploy/recipes/privacy/README.md
  deploy/recipes/privacy/privacy-router.yaml
Due: md-fmt, yaml-and-yml-fmt

feat(router): harden RAG and memory usability for production workflows
  src/semantic-router/pkg/config/plugin_config.go
  src/semantic-router/pkg/config/plugin_config_test.go
  src/semantic-router/pkg/config/rag_plugin_validation.go
  src/semantic-router/pkg/config/validator_decision.go
  src/semantic-router/pkg/config/validator_rag_test.go
  src/semantic-router/pkg/extproc/cache_personalization_pipeline_test.go
  src/semantic-router/pkg/extproc/processor_req_body_memory.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_rag.go
Due: go-fmt

[Feat]: unify vllm-sr CLI for Docker and Kubernetes deployments (#1507) (#1576)
  .github/workflows/integration-test-helm.yml
  deploy/helm/README.md
  deploy/helm/semantic-router/Chart.lock
  deploy/helm/semantic-router/templates/dashboard-deployment.yaml
  deploy/helm/semantic-router/templates/dashboard-service.yaml
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/templates/grafana-datasource.yaml
  deploy/helm/semantic-router/values-dev.yaml
  deploy/helm/semantic-router/values-prod.yaml
  deploy/helm/semantic-router/values.yaml
  e2e/pkg/helm/deployer.go
  e2e/testing/vllm-sr-cli/test_integration.py
  src/vllm-sr/README.md
  src/vllm-sr/cli/commands/runtime.py
  src/vllm-sr/cli/config_translator.py
  src/vllm-sr/cli/deployment_backend.py
  src/vllm-sr/cli/docker_backend.py
  src/vllm-sr/cli/k8s_backend.py
  src/vllm-sr/tests/test_cli_main.py
  src/vllm-sr/tests/test_deployment_backend.py
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat(router): harden RAG and memory usability for production workflows (#1533)
  src/semantic-router/pkg/config/plugin_config.go
  src/semantic-router/pkg/config/plugin_config_test.go
  src/semantic-router/pkg/config/rag_plugin_validation.go
  src/semantic-router/pkg/config/validator_decision.go
  src/semantic-router/pkg/config/validator_rag_test.go
  src/semantic-router/pkg/extproc/cache_personalization_pipeline_test.go
  src/semantic-router/pkg/extproc/processor_req_body_memory.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_rag.go
Due: go-fmt

align privacy recipe with balance mock aliases (#1639)
  deploy/recipes/privacy/README.md
  deploy/recipes/privacy/privacy-router.yaml
Due: md-fmt, yaml-and-yml-fmt

Expand memory support to Chat Completions API (#1363)
  config/config.yaml
  e2e/testing/09-memory-features-test.py
  e2e/testing/memory_tests/__init__.py
  e2e/testing/memory_tests/test_chat_completions.py
  src/semantic-router/pkg/config/runtime_config.go
  src/semantic-router/pkg/extproc/looper_memory_responseapi_test.go
  src/semantic-router/pkg/extproc/memory_helpers.go
  src/semantic-router/pkg/extproc/memory_helpers_chat_completions_test.go
  src/semantic-router/pkg/extproc/memory_helpers_test.go
  src/semantic-router/pkg/extproc/processor_req_body_memory.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/req_filter_memory_optout_test.go
  src/semantic-router/pkg/extproc/req_filter_memory_test.go
  src/semantic-router/pkg/extproc/req_filter_query_rewrite_test.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/extproc/user_id_dev.go
  src/semantic-router/pkg/extproc/utils.go
  src/semantic-router/pkg/headers/headers.go
Due: go-fmt, yaml-and-yml-fmt

docs: add meta routing tutorial section
  config/README.md
  website/docs/installation/configuration.md
  website/docs/proposals/unified-config-contract-v0-3.md
  website/docs/tutorials/meta-routing/design.md
  website/docs/tutorials/meta-routing/overview.md
  website/docs/tutorials/meta-routing/problems.md
  website/docs/tutorials/meta-routing/usage.md
  website/sidebars.ts
Due: md-fmt

refactor(meta-routing): satisfy changed-file lint
  src/semantic-router/pkg/classification/classifier_signal_subset.go
  src/semantic-router/pkg/config/validator_meta.go
  src/semantic-router/pkg/dsl/routing_contract.go
  src/semantic-router/pkg/extproc/meta_routing_feedback_api.go
  src/semantic-router/pkg/extproc/meta_routing_feedback_helpers.go
Due: go-fmt

test(config): cover meta routing docs taxonomy
  src/semantic-router/pkg/config/docs_contract_meta_routing_test.go
  src/semantic-router/pkg/config/docs_contract_test.go
Due: go-fmt

init
  dashboard/frontend/src/pages/ConfigPageMetaRoutingSection.tsx
  dashboard/frontend/src/pages/MetaRoutingPage.module.css
  dashboard/frontend/src/pages/MetaRoutingPage.tsx
  deploy/recipes/balance.dsl
  deploy/recipes/balance.yaml
  src/semantic-router/pkg/decision/engine_test.go
Due: go-fmt, yaml-and-yml-fmt

init
  deploy/recipes/balance.dsl
  deploy/recipes/balance.yaml
  docs/agent/adr/README.md
  docs/agent/adr/adr-0006-meta-routing-operator-ux-and-apiserver-feedback.md
  docs/agent/adr/adr-0007-meta-routing-offline-learning-loop.md
  docs/agent/adr/adr-0008-routing-graph-optimization-separate-from-meta-routing.md
  docs/agent/plans/README.md
  docs/agent/plans/pl-0018-meta-routing-operator-productization.md
  docs/agent/plans/pl-0019-meta-routing-learning-loop.md
  docs/agent/plans/pl-0020-routing-graph-quality-and-optimization-workstream.md
  src/semantic-router/pkg/config/docs_contract_meta_routing_test.go
  src/semantic-router/pkg/config/docs_contract_test.go
  tools/agent/repo-manifest.yaml
  website/docs/tutorials/meta-routing/design.md
  website/docs/tutorials/meta-routing/modes.md
  website/docs/tutorials/meta-routing/overview.md
  website/docs/tutorials/meta-routing/usage.md
  website/sidebars.ts
Due: go-fmt, md-fmt, yaml-and-yml-fmt

init
  website/src/css/docs.css
Due: none

fix: streaming e2e failures
  src/semantic-router/pkg/decision/engine.go
  src/semantic-router/pkg/decision/engine_empty_and_test.go
Due: go-fmt

paper: add vision paper
  website/src/data/researchContent.js
  website/src/pages/publications.module.css
Due: js-lint

init
  src/semantic-router/pkg/dsl/maintained_privacy_recipe_test.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
