Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

lint
  src/training/training_lora/prompt_guard_fine_tuning_lora/synthesize_jailbreak_patterns.py
  website/package-lock.json
Due: none

fix: restore website/package-lock.json from upstream main
  website/package-lock.json
Due: none

feat: add unified eval script for MoM collection
  src/training/model_eval/mom_collection_eval.py
  src/training/model_eval/requirements.txt
Due: none

docs: add usage instructions for mom eval script
  src/training/model_eval/README.md
Due: md-fmt

feat: weighted sampling + jailbreak dataset downloads
  src/training/modernbert_dissat_pipeline/data_processing/download_datasets.py
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
Due: none

feat: add local model support and batching
  src/training/model_eval/mom_collection_eval.py
Due: none

style: apply pre-commit formatting
  src/training/model_eval/mom_collection_eval.py
Due: none

fix: remove unused imports
  src/training/model_eval/README.md
  src/training/model_eval/mom_collection_eval.py
Due: md-fmt

Fix FaithDial dataset path and improve dataset loading
  src/training/training_lora/fact_check_fine_tuning_lora/fact_check_bert_finetuning_lora.py
  src/training/training_lora/fact_check_fine_tuning_lora/setup_datasets.sh
Due: none

fix: input_ids
  src/training/preference_model_fine_tuning/preference_model_ft.py
Due: none

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Due: none

variable label space
  src/training/preference_model_fine_tuning/preference_model_ft.py
Due: none

feat: implement MoM script with real datasets
  src/training/model_eval/README.md
  src/training/model_eval/mom_collection_eval.py
  src/training/model_eval/requirements.txt
Due: md-fmt

Refactor: Move registry and language constants to constants.py
  src/training/model_eval/constants.py
  src/training/model_eval/mom_collection_eval.py
Due: none

Feat: Add Monitoring Suppprt to Dashboard
  deploy/amd/config.yaml
Due: yaml-and-yml-fmt

feat(candle-binding): add ModernBERT-base-32k variant support (Phase 1)
  candle-binding/Cargo.toml
  candle-binding/examples/test_modernbert_32k.rs
  candle-binding/src/model_architectures/traditional/modernbert.rs
Due: cargo-fmt, cargo-check

fix: add language signal support to UI
  dashboard/frontend/src/pages/ConfigPage.tsx
Due: none

preference model demo
  src/training/preference_model_fine_tuning/preference_model_demo.py
Due: none

train on a smaller set for now
  src/training/preference_model_fine_tuning/preference_model_ft.py
Due: none

feat(candle-binding): add KNN/KMeans/SVM ML algorithms for model selection
  candle-binding/src/ffi/ml_algorithms.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/model_architectures/ml_algorithms/go_model_tests.rs
  candle-binding/src/model_architectures/ml_algorithms/kmeans.rs
  candle-binding/src/model_architectures/ml_algorithms/knn.rs
  candle-binding/src/model_architectures/ml_algorithms/mod.rs
  candle-binding/src/model_architectures/ml_algorithms/svm.rs
  candle-binding/src/model_architectures/ml_algorithms/tests.rs
  candle-binding/src/model_architectures/mod.rs
Due: cargo-fmt, cargo-check

upload model script
  src/training/preference_model_fine_tuning/upload_model.py
Due: none

preference model demo and some debugging in training script
  src/training/preference_model_fine_tuning/preference_model_demo.py
  src/training/preference_model_fine_tuning/preference_model_ft.py
Due: none

Add MLCommons AI Safety data synthesis with official taxonomy
  docs/online-learning-design.md
  package-lock.json
  package.json
  src/training/training_lora/prompt_guard_fine_tuning_lora/eval_new_datasets.py
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
  src/training/training_lora/prompt_guard_fine_tuning_lora/synthesis_utils.py
  src/training/training_lora/prompt_guard_fine_tuning_lora/synthesize_mlcommons_data.py
Due: md-fmt

feat: add MLCommons hierarchical classification support
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
Due: none

Integrate synthesized MLCommons dataset into Level 2 training
  src/training/training_lora/fact_check_fine_tuning_lora/prepare_and_upload_dataset.py
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
Due: none

Add MLCommons taxonomy data synthesis with AEGIS few-shot prompting
  src/training/training_lora/prompt_guard_fine_tuning_lora/synthesis_utils.py
  src/training/training_lora/prompt_guard_fine_tuning_lora/synthesize_mlcommons_data.py
Due: none

Fix: CI and Add Playground
  README.md
  dashboard/frontend/src/pages/TracingPage.tsx
Due: md-fmt

Fix: CI and Add Playground
  README.md
Due: md-fmt

Mobile
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/HeaderReveal.module.css
  dashboard/frontend/src/components/ThinkingAnimation.module.css
  dashboard/frontend/src/pages/PlaygroundPage.module.css
Due: none

[Feat][Router][Docs] Enhance hallucination detection with multi-level filtering
  bench/hallucination/README.md
  bench/hallucination/config-7b.yaml
  bench/hallucination/evaluate.py
  config/config.yaml
  src/semantic-router/pkg/classification/hallucination_detector.go
  src/semantic-router/pkg/config/config.go
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Mobile
  dashboard/frontend/src/components/DataTable.module.css
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/ConfigPage.module.css
  dashboard/frontend/src/pages/topology/TopologyPageEnhanced.module.css
  dashboard/frontend/src/pages/topology/components/ControlPanel/ControlPanel.module.css
Due: none

Mobile
  dashboard/frontend/src/pages/topology/components/ControlPanel/ControlPanel.module.css
  dashboard/frontend/src/pages/topology/components/CustomNodes/CustomNodes.module.css
Due: none

Mobile
  dashboard/frontend/src/pages/ConfigPage.module.css
Due: none

Mobile
  dashboard/frontend/src/pages/ConfigPage.module.css
  dashboard/frontend/src/pages/topology/components/ControlPanel/ControlPanel.module.css
Due: none

Mobile
  dashboard/frontend/src/pages/topology/components/ControlPanel/ControlPanel.module.css
Due: none

Mobile
  dashboard/frontend/index.html
  dashboard/frontend/public/manifest.json
Due: none

patch based on feedback
  deploy/operator/controllers/openshift_integration.go
  deploy/operator/go.mod
  deploy/operator/go.sum
  deploy/operator/main.go
Due: go-fmt
