Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

docs(selection): fix cache affinity doc comment to reflect return value
  src/semantic-router/pkg/selection/cache_affinity.go
Due: go-fmt

fix(replay): satisfy lint limits and cover new field in reference config
  config/config.yaml
  src/semantic-router/pkg/extproc/replay_tool_trace.go
  src/semantic-router/pkg/routerreplay/recorder.go
Due: go-fmt, yaml-and-yml-fmt

style: apply gofmt to routerreplay recorder and store
  src/semantic-router/pkg/routerreplay/recorder.go
  src/semantic-router/pkg/routerreplay/store/store.go
Due: go-fmt

feat(replay): store structured tool-call fields aligned to OpenAI API spec
  src/semantic-router/pkg/config/plugin_config.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/replay_tool_trace.go
  src/semantic-router/pkg/extproc/replay_tool_trace_test.go
  src/semantic-router/pkg/extproc/router_replay_setup.go
  src/semantic-router/pkg/routerreplay/recorder.go
  src/semantic-router/pkg/routerreplay/recorder_test.go
  src/semantic-router/pkg/routerreplay/store/store.go
Due: go-fmt

chore(replay): drop unused addToolResult, use JSONEq for JSON compare
  src/semantic-router/pkg/extproc/replay_tool_trace.go
  src/semantic-router/pkg/extproc/replay_tool_trace_test.go
Due: go-fmt

fix(replay): split streaming helpers to satisfy 800-line file limit
  src/semantic-router/pkg/extproc/replay_tool_trace.go
  src/semantic-router/pkg/extproc/replay_tool_trace_streaming.go
Due: go-fmt

fix(replay): unwrap JSON-string tool-result content before storing
  src/semantic-router/pkg/extproc/replay_tool_trace.go
Due: go-fmt

fix(replay): address review feedback on structured tool-call fields
  config/config.yaml
  src/semantic-router/pkg/extproc/replay_tool_trace.go
  src/semantic-router/pkg/extproc/replay_tool_trace_test.go
  src/semantic-router/pkg/routerreplay/recorder.go
  src/semantic-router/pkg/routerreplay/recorder_test.go
  src/semantic-router/pkg/routerreplay/store/postgres.go
  src/semantic-router/pkg/routerreplay/store/postgres_record_row.go
  src/semantic-router/pkg/routerreplay/store/store.go
Due: go-fmt, yaml-and-yml-fmt

[Router] feat(replay): store structured tool-call fields aligned to OpenAI API spec (#1790)
  config/config.yaml
  src/semantic-router/pkg/config/plugin_config.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/replay_tool_trace.go
  src/semantic-router/pkg/extproc/replay_tool_trace_streaming.go
  src/semantic-router/pkg/extproc/replay_tool_trace_test.go
  src/semantic-router/pkg/extproc/router_replay_setup.go
  src/semantic-router/pkg/routerreplay/recorder.go
  src/semantic-router/pkg/routerreplay/recorder_test.go
  src/semantic-router/pkg/routerreplay/store/postgres.go
  src/semantic-router/pkg/routerreplay/store/postgres_record_row.go
  src/semantic-router/pkg/routerreplay/store/store.go
Due: go-fmt, yaml-and-yml-fmt

[Router] Add cache affinity routing bias (#1798)
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/req_filter_classification_runtime.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/extproc/session_transition.go
  src/semantic-router/pkg/extproc/session_transition_test.go
  src/semantic-router/pkg/selection/cache_affinity.go
  src/semantic-router/pkg/selection/cache_affinity_bench_test.go
  src/semantic-router/pkg/selection/cache_affinity_test.go
  src/semantic-router/pkg/selection/hybrid.go
  src/semantic-router/pkg/selection/selector.go
Due: go-fmt

feat: add value_source: raw for projection score inputs (#1757)
  dashboard/frontend/src/pages/ConfigPageProjectionsSection.tsx
  src/semantic-router/pkg/classification/classifier_projections.go
  src/semantic-router/pkg/classification/classifier_projections_test.go
  src/semantic-router/pkg/config/validator_projection.go
  src/semantic-router/pkg/config/validator_projection_test.go
  src/semantic-router/pkg/dsl/dsl_test.go
  src/semantic-router/pkg/dsl/validator_conflicts.go
  src/vllm-sr/cli/models.py
  website/docs/tutorials/projection/scores.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/projection/scores.md
Due: go-fmt, md-fmt

feat(projections): unify projection contract across DSL, CLI, and das… (#1799)
  dashboard/frontend/src/pages/ConfigPageProjectionsSection.tsx
  dashboard/frontend/src/pages/configPageSupport.ts
  src/semantic-router/pkg/dsl/validator_conflicts.go
  src/vllm-sr/cli/models.py
Due: go-fmt

feat: add value_source: raw for projection score inputs (#1757) (#1802)
  dashboard/frontend/src/pages/ConfigPageProjectionsSection.tsx
  src/semantic-router/pkg/classification/classifier_projections.go
  src/semantic-router/pkg/classification/classifier_projections_test.go
  src/semantic-router/pkg/config/validator_projection.go
  src/semantic-router/pkg/config/validator_projection_test.go
  src/semantic-router/pkg/dsl/dsl_test.go
  src/semantic-router/pkg/dsl/validator_conflicts.go
  src/vllm-sr/cli/models.py
  website/docs/tutorials/projection/scores.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/projection/scores.md
Due: go-fmt, md-fmt

[CLI][Docs] Add Claude Code session-isolated install skill
  docs/agent/change-surfaces.md
  docs/agent/skill-catalog.md
  tools/agent/context-map.yaml
  tools/agent/repo-manifest.yaml
  tools/agent/scripts/cc-install.sh
  tools/agent/skill-registry.yaml
  tools/agent/skills/claude-code-install/SKILL.md
Due: md-fmt, yaml-and-yml-fmt

[CLI][Docs] Add Claude Code session-isolated install skill (#1803)
  docs/agent/change-surfaces.md
  docs/agent/skill-catalog.md
  tools/agent/context-map.yaml
  tools/agent/repo-manifest.yaml
  tools/agent/scripts/cc-install.sh
  tools/agent/skill-registry.yaml
  tools/agent/skills/claude-code-install/SKILL.md
Due: md-fmt, yaml-and-yml-fmt

docs: sync latest updates from AMD
  website/blog/2026-03-25-vllm-sr-on-amd-developer-cloud.md
  website/blog/authors.yml
  website/static/img/team/andy.jpeg
  website/static/img/team/haichen.jpeg
Due: md-fmt, yaml-and-yml-fmt

docs: sync latest updates from AMD (#1804)
  website/blog/2026-03-25-vllm-sr-on-amd-developer-cloud.md
  website/blog/authors.yml
  website/static/img/team/andy.jpeg
  website/static/img/team/haichen.jpeg
Due: md-fmt, yaml-and-yml-fmt

docs: add missing i18n new authors from AMD
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/authors.yml
Due: yaml-and-yml-fmt

docs(i18n): fix missing zh-Hans translations
  website/i18n/zh-Hans/code.json
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/options.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
  website/src/theme/BlogLayout/index.tsx
Due: none

docs(i18n): fix missing zh-Hans translations (#1805)
  website/i18n/zh-Hans/code.json
  website/i18n/zh-Hans/docusaurus-plugin-content-blog/options.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
  website/src/theme/BlogLayout/index.tsx
Due: none

test: e2e test for Persist SessionID and TurnIndex into replay records
  e2e/profiles/router-replay/profile.go
  e2e/testcases/router_replay_session_metadata.go
Due: go-fmt

add unit tests
  src/semantic-router/pkg/classification/classifier_projections_test.go
  src/semantic-router/pkg/config/validator_projection_test.go
Due: go-fmt

fixes: top_k overlapping-band test, empty method default, comment cleanup
  config/config.yaml
  src/semantic-router/pkg/classification/classifier_projections.go
  src/semantic-router/pkg/classification/classifier_projections_test.go
  src/semantic-router/pkg/config/reference_config_public_surface_test.go
  src/semantic-router/pkg/config/validator_projection.go
  src/semantic-router/pkg/dsl/validator_conflicts.go
Due: go-fmt, yaml-and-yml-fmt

Remove hysteresis implementaion
  config/config.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_projections.go
  src/semantic-router/pkg/classification/classifier_projections_test.go
  src/semantic-router/pkg/config/projection_config.go
  src/semantic-router/pkg/config/validator_projection.go
  src/semantic-router/pkg/config/validator_projection_test.go
  src/semantic-router/pkg/dsl/ast.go
  src/semantic-router/pkg/dsl/compiler.go
  src/semantic-router/pkg/dsl/parser.go
  src/semantic-router/pkg/dsl/routing_contract.go
  src/semantic-router/pkg/dsl/validator_conflicts.go
  src/vllm-sr/cli/models.py
Due: go-fmt, yaml-and-yml-fmt

feat(projections): add multi_emit, top_k, hysteresis methods (#1759)
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_projections.go
  src/semantic-router/pkg/config/projection_config.go
  src/semantic-router/pkg/config/validator_projection.go
  src/semantic-router/pkg/dsl/ast.go
  src/semantic-router/pkg/dsl/compiler.go
  src/semantic-router/pkg/dsl/parser.go
  src/semantic-router/pkg/dsl/routing_contract.go
  src/semantic-router/pkg/dsl/validator_conflicts.go
  src/vllm-sr/cli/models.py
Due: go-fmt

feat: enable voice support feature in the playground
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ChatComponentInputBar.tsx
  dashboard/frontend/src/hooks/useSpeechDictation.ts
Due: none

optimise the speech dictation script
  dashboard/frontend/src/hooks/useSpeechDictation.ts
Due: none

rerun the pipline
  dashboard/frontend/src/hooks/useSpeechDictation.ts
Due: none

fix lint
  src/semantic-router/pkg/classification/classifier_projections.go
  src/semantic-router/pkg/classification/classifier_projections_test.go
  src/semantic-router/pkg/config/projection_config.go
Due: go-fmt

feat: add OpenAI-to-Anthropic tool definition translation
  src/semantic-router/pkg/anthropic/client.go
  src/semantic-router/pkg/anthropic/client_test.go
Due: go-fmt

feat: add tool_calls and tool_result message translation for Anthropic routing
  src/semantic-router/pkg/anthropic/client.go
  src/semantic-router/pkg/anthropic/client_test.go
Due: go-fmt

feat: add tool_use response translation (Anthropic to OpenAI)
  src/semantic-router/pkg/anthropic/client.go
  src/semantic-router/pkg/anthropic/client_test.go
Due: go-fmt

fix: use original model name for metrics when decision engine skips selection
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
Due: go-fmt

fix: reduce projectionOutputBandCenter cyclomatic complexity
  src/semantic-router/pkg/classification/classifier_projections.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
