Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

decision2 ix1: launcher entry for the Vega-27B graph-eviction fix revision 7aec49ae release spot check (data only)
  src/training/decision2/v2/eval/ix1/launch.sh
Due: none

decision2 ix1: launcher entries for the Sol / Kai graph-eviction fix revisions (release spot checks; data only)
  src/training/decision2/v2/eval/ix1/launch.sh
Due: none

[Test] Add E2E coverage for the context signal (#3789)
  e2e/pkg/testmatrix/testcases.go
  e2e/pkg/testmatrix/testcases_test.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/all/imports.go
  e2e/profiles/long-context-routing/profile.go
  e2e/profiles/long-context-routing/values.yaml
  e2e/testcases/context_routing.go
  e2e/testcases/context_safety_overlap.go
  e2e/testcases/signal_routing_contract_test.go
  e2e/testcases/testdata/context_routing_cases.json
  tools/agent/domains.yaml
Due: go-fmt, yaml-and-yml-fmt

docs(decision2): sync sanitized program docs (COORDINATION, STATUS)
  src/training/decision2/v2/program/COORDINATION.md
  src/training/decision2/v2/program/STATUS.md
Due: md-fmt

[Feature] Add stage-2 distillation for KV mapper artifacts
  src/training/README.md
  src/training/kv_mapper/README.md
  src/training/kv_mapper/distill.py
  src/training/kv_mapper/distill_run.py
  src/training/kv_mapper/tests/test_distill.py
  website/docs/troubleshooting/vsr-headers.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/troubleshooting/vsr-headers.md
Due: md-fmt

docs(decision2): sync sanitized program docs (COORDINATION)
  src/training/decision2/v2/program/COORDINATION.md
Due: md-fmt

[Feature] model-runtime: a cross-process answer check, and identity and readiness in golden_answers.py
  src/model-runtime/tools/cross_process.py
  src/model-runtime/tools/golden_answers.py
Due: none

[Feature] model-runtime: ROCm golden answers for the six built-in models
  src/model-runtime/tests/test_registry.py
  src/model-runtime/vllm_sr_runtime/registry/golden_answers.json
Due: none

[Bug] Avoid oversized decimal conversion in Python config loader
  src/vllm-sr/cli/goyaml_scalars.py
  src/vllm-sr/tests/test_goyaml_scalars.py
Due: none

Fix Python lint findings in scalar regression
  src/vllm-sr/cli/goyaml_scalars.py
  src/vllm-sr/tests/test_goyaml_scalars.py
Due: none

[Feature] model-runtime: tools/kernel_choices.py reads a release's autotuned kernel choices
  src/model-runtime/tools/kernel_choices.py
Due: none

[Feature] model-runtime: pin the released runtime's FLA kernel choices per device class
  src/model-runtime/pyproject.toml
  src/model-runtime/tests/test_readiness.py
  src/model-runtime/tools/gpu_parity.py
  src/model-runtime/vllm_sr_runtime/accel/autotune.py
  src/model-runtime/vllm_sr_runtime/families/decision2/family.py
  src/model-runtime/vllm_sr_runtime/plugins/base.py
  src/model-runtime/vllm_sr_runtime/registry/builtin.py
  src/model-runtime/vllm_sr_runtime/registry/kernel_choices.json
  src/model-runtime/vllm_sr_runtime/runtime.py
Due: none

[Docs] model-runtime: ROCm golden answers and cross-process repeatability record
  src/model-runtime/docs/design.md
  src/model-runtime/docs/records/rocm-mi325x-repeatability.md
Due: md-fmt

[Feature] model-runtime: ROCm golden answers under the pinned kernel choices
  src/model-runtime/vllm_sr_runtime/registry/golden_answers.json
Due: none

[Feature] model-runtime: graph-cap and batch-shape bucket benches
  src/model-runtime/tools/bucket_bench.py
  src/model-runtime/tools/graph_cap_bench.py
Due: none

fix(sr-bench): account for router cache-write tokens
  src/vllm-sr/cli/sr_bench/transport.py
  src/vllm-sr/tests/test_sr_bench.py
  src/vllm-sr/tests/test_sr_bench_accounting.py
Due: none

docs(readme): use a shields.io badge for DeepWiki
  README.md
Due: md-fmt

[Feature] model-runtime: bucket only graphable batches in the bucket bench
  src/model-runtime/tools/bucket_bench.py
  src/model-runtime/vllm_sr_runtime/accel/autotune.py
Due: none

feat(training): persist management resources and run lifecycle
  dashboard/backend/handlers/training.go
  dashboard/backend/handlers/training_errors.go
  dashboard/backend/router/router.go
  dashboard/backend/router/training_parameters_test.go
  dashboard/backend/router/training_routes.go
  dashboard/backend/router/training_routes_test.go
  dashboard/backend/training/README.md
  dashboard/backend/training/compare.go
  dashboard/backend/training/files.go
  dashboard/backend/training/inputs.go
  dashboard/backend/training/inputs_test.go
  dashboard/backend/training/lifecycle.go
  dashboard/backend/training/outputs.go
  dashboard/backend/training/retry_test.go
  dashboard/backend/training/service.go
  dashboard/backend/training/service_test.go
  dashboard/backend/workflowstore/store.go
  dashboard/backend/workflowstore/training.go
  src/semantic-router/pkg/trainingcontract/contract_test.go
  src/semantic-router/pkg/trainingcontract/parameters.go
  src/semantic-router/pkg/trainingcontract/parameters_test.go
  src/semantic-router/pkg/trainingcontract/profile.go
  src/semantic-router/pkg/trainingcontract/testdata/invalid.json
  src/semantic-router/pkg/trainingcontract/training-v1.openapi.yaml
  src/semantic-router/pkg/trainingcontract/training-v1.schema.json
  src/semantic-router/pkg/trainingcontract/types.go
  src/semantic-router/pkg/trainingcontract/worker.go
  src/training/README.md
  src/training/control_plane/test_contracts.py
  tools/codegen/trainingcontract/main.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Docs] model-runtime: graph-size cap and batch-shape bucket measurements
  src/model-runtime/docs/design.md
  src/model-runtime/docs/records/rocm-mi325x-repeatability.md
Due: md-fmt

[Docs] model-runtime: say what --autotune-cache guarantees
  src/model-runtime/vllm_sr_runtime/cli.py
Due: none

[Feature] Add a locked uv environment for the model_eval scripts (#4450)
  src/training/model_eval/README.md
  src/training/model_eval/pyproject.toml
  src/training/model_eval/uv.lock
Due: md-fmt

Drop the Live-column CSS width change; keep only the regression test
  dashboard/frontend/src/pages/ConfigPageModelsSection.module.css
Due: none

[Feature] model-runtime: pin the Decision 2.0 models to their current Hub revisions
  config/config.yaml
  config/fragments/algorithm/selection/decision.yaml
  config/fragments/signal/decision/decision-model.yaml
  src/model-runtime/tests/test_cli.py
  src/model-runtime/tests/test_registry.py
  src/model-runtime/vllm_sr_runtime/registry/builtin.py
  src/model-runtime/vllm_sr_runtime/registry/golden_answers.json
  src/model-runtime/vllm_sr_runtime/registry/kernel_choices.json
  src/vllm-sr/tests/test_cli_serve_engine_mode.py
  src/vllm-sr/tests/test_decision_model_config.py
  website/docs/tutorials/algorithm/selection/decision.md
  website/docs/tutorials/global/model-runtime.md
  website/docs/tutorials/signal/learned/decision.md
Due: md-fmt, yaml-and-yml-fmt

[Docs] model-runtime: design for Phases 2-4: inventory, migration matrix and contracts
  src/model-runtime/docs/design.md
Due: md-fmt

fix(sr-bench): flush stream evidence before syncing
  src/vllm-sr/cli/sr_bench/transport.py
  src/vllm-sr/tests/test_sr_bench_stream_evidence.py
Due: none

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
