Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

docs(decision2): sync sanitized program docs (COORDINATION)
  src/training/decision2/v2/program/COORDINATION.md
Due: md-fmt

dec-m17 state 13:25Z
  src/training/decision2/v2/dec/records/dec-m17-state.md
Due: md-fmt

research(decision2): Lux-9B M10 release ops register KIB4-a40 (formal and Index gates in; choice unchanged)
  src/training/decision2/v2/release/records/dev2-9b-m10-2026-10-02/ops/make_m10.py
Due: none

decision2 runtime-a: Vega-27B parity (10,653 identical, 0.0 drift), bench and frozen autotune cache
  src/training/decision2/v2/release/records/dev2-runtime-a-2026-10-02/27b/bench/bench-new.json
  src/training/decision2/v2/release/records/dev2-runtime-a-2026-10-02/27b/bench/bench-old.json
  src/training/decision2/v2/release/records/dev2-runtime-a-2026-10-02/27b/bench/compare.json
  src/training/decision2/v2/release/records/dev2-runtime-a-2026-10-02/27b/bench/wall.txt
  src/training/decision2/v2/release/records/dev2-runtime-a-2026-10-02/27b/parity/answers-compare.json
  src/training/decision2/v2/release/records/dev2-runtime-a-2026-10-02/27b/parity/parity-new.json
  src/training/decision2/v2/release/records/dev2-runtime-a-2026-10-02/27b/parity/parity-old.json
  src/training/decision2/v2/release/records/dev2-runtime-a-2026-10-02/27b/parity/wall.txt
  src/training/decision2/v2/release/records/dev2-runtime-a-2026-10-02/27b/triton.json
Due: none

decision2 runtime-a: Vega-27B runtime-only spec and decision (prepared; held for the 27B release)
  src/training/decision2/v2/release/records/dev2-runtime-a-2026-10-02/Decision-2.0-Vega-27B.decision.ra.json
  src/training/decision2/v2/release/specs/dev2-27b-ra.json
Due: none

docs(decision2): runtime phase A record (five runtime-only revisions; Vega 27B held for the 27B release)
  src/training/decision2/v2/release/records/dev2-runtime-a-2026-10-02.md
Due: md-fmt

docs(decision2): 27B state hand-off 13:40Z (cross-arm scored, release pending)
  src/training/decision2/v2/27b/records/m6-state.md
Due: md-fmt

[Security] Cap Looper fan-out with a static per-request call budget
  src/semantic-router/pkg/config/looper_call_budget.go
  src/semantic-router/pkg/config/remom_config.go
  src/semantic-router/pkg/config/remom_config_test.go
  src/semantic-router/pkg/config/validator_decision_call_budget_test.go
  src/semantic-router/pkg/config/validator_decision_contracts.go
Due: go-fmt

research(decision2): Lux-9B M10 release choice KIB4-a40 (highest Index-first passer measured so far)
  src/training/decision2/v2/release/records/dev2-9b-m10-2026-10-02/ops/make_m10.py
Due: none

research(decision2): Lux-9B M10 KIB4-a40 spec and decision on the runtime phase A base (decided 2026-10-02T13:57:02Z)
  src/training/decision2/v2/release/records/dev2-9b-m10-2026-10-02/Decision-2.0-Lux-9B.decision.m10-KIB4-a40.json
  src/training/decision2/v2/release/specs/dev2-9b-m10-KIB4-a40.json
Due: none

research(decision2): Lux-9B M10 state 14:10Z (choice KIB4-a40, upload waits for KIB4P-a33)
  src/training/decision2/v2/9b/records/m10-state.md
Due: md-fmt

research(decision2): Vega-27B M6-IBxIB2-m50 spec and decision on the org base e60bd8e3 (decided 2026-10-02T14:03:02Z)
  src/training/decision2/v2/release/records/dev2-27b-xarm-2026-10-02/Decision-2.0-Vega-27B.decision.27bx-M6-IBxIB2-m50.json
  src/training/decision2/v2/release/specs/dev2-27b-27bx-M6-IBxIB2-m50.json
Due: none

research(decision2): 27B continuation #6 state (m50 prerelease running, M8 seeds launching); release27bx.sh refuses only while another Vega-27B release.sh runs (per repository)
  src/training/decision2/v2/27b/m6/m6-stage-d.sh
  src/training/decision2/v2/27b/records/m6-state.md
  src/training/decision2/v2/release/records/dev2-27b-xarm-2026-10-02/ops/release27bx.sh
Due: md-fmt

[Bug] Name the output-total omission beside a known reasoning count
  src/semantic-router/pkg/protocolcodec/codec_anthropic_response.go
  src/semantic-router/pkg/protocolcodec/stream_anthropic.go
  src/semantic-router/pkg/protocolcodec/usage_cache.go
  src/semantic-router/pkg/protocolcodec/usage_output_omission_test.go
Due: go-fmt

research(decision2): 27B relays for M7 / M8 arm-seeds (m6-relay.sh names M6-M8 seeds s1-s5, RELAY_NODE=e; m6-tail.sh pull-e)
  src/training/decision2/v2/27b/m6/m6-relay.sh
  src/training/decision2/v2/27b/m6/m6-tail.sh
Due: none

research(decision2): arm factory prereg and ops (4B / 9B arms for cross-arm averages)
  src/training/decision2/v2/af/ops/af-arm.sh
  src/training/decision2/v2/af/ops/af-chain.sh
  src/training/decision2/v2/af/ops/af-launch.sh
  src/training/decision2/v2/af/ops/af_arms.py
  src/training/decision2/v2/af/ops/af_gpuh.py
  src/training/decision2/v2/af/ops/af_weights.py
  src/training/decision2/v2/af/records/af-prereg-2026-10-02.md
  src/training/decision2/v2/af/records/af-state.md
Due: md-fmt

[Bug] Report the backend failure reason when the Config page reads fail
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/configPageRequestErrors.test.ts
  dashboard/frontend/src/pages/configPageRequestErrors.ts
Due: none

research(decision2): arm factory 4B wave-2 data builder (S17+IB4+ML, S23+IB4)
  src/training/decision2/v2/af/ops/af_prep4b.py
Due: none

research(decision2): Lux-9B M10 register KIB4P-a33 as a release candidate; ix.sh runcopy (node B run evidence to node C)
  src/training/decision2/v2/9b/lux9b/m10/ix.sh
  src/training/decision2/v2/release/records/dev2-9b-m10-2026-10-02/ops/make_m10.py
Due: none

[Bug] Retire the stale ml-service sidecar test and run the boundary contract in CI (#4416)
  src/training/model_selection/ml_model_selection/embeddings.py
  src/training/model_selection/ml_model_selection/requirements-parity.txt
  src/training/model_selection/ml_model_selection/tests/test_service_boundary.py
  tools/make/models.mk
Due: none

research(decision2): 27B M8 prereg amendment 1 (M7 cross-arm candidates and order, before any M7 result); state 14:28Z (nine M8 seeds training, relays running)
  src/training/decision2/v2/27b/records/m6-state.md
  src/training/decision2/v2/27b/records/m8-prereg-2026-10-02.md
Due: md-fmt

research(decision2): arm factory chains wait for a data lock entry and claim the lease before the pre-warm wait
  src/training/decision2/v2/af/ops/af-chain.sh
  src/training/decision2/v2/af/ops/af_arms.py
Due: none

research(decision2): arm factory amendment 1 (4B wave-2 data lock and contamination audit)
  src/training/decision2/v2/af/records/af-amendment-1-2026-10-02.md
Due: md-fmt

research(decision2): arm factory state 14:35Z (15 GPUs training)
  src/training/decision2/v2/af/records/af-state.md
Due: md-fmt

[Bug] Clear openShiftFeatures status when routes are disabled
  deploy/operator/controllers/openshift_integration.go
  deploy/operator/controllers/openshift_integration_test.go
Due: go-fmt

[Bug] Default ingress servicePort to the api service port
  deploy/operator/api/v1alpha1/semanticrouter_webhook.go
  deploy/operator/api/v1alpha1/semanticrouter_webhook_test.go
  deploy/operator/controllers/semanticrouter_controller_test.go
  deploy/operator/controllers/semanticrouter_manifest.go
Due: go-fmt

[Docs] Fix the dead installation link in the Vela AMD recipe README
  config/recipes/vela-amd/README.md
Due: md-fmt

feat(decision2): IX1 DIAGNOSTIC entries for the arm factory's 4B / 9B BF16 release copies
  src/training/decision2/v2/eval/ix1/launch.sh
Due: none

research(decision2): arm factory soups, release-form staging and Index driver
  src/training/decision2/v2/af/ops/af-ix.sh
  src/training/decision2/v2/af/ops/af-launch.sh
  src/training/decision2/v2/af/ops/af-soup.sh
  src/training/decision2/v2/af/ops/af-stage.sh
Due: none

research(decision2): 27B state 14:53Z (m50 prerelease in AutoModel parity; M7 timing)
  src/training/decision2/v2/27b/records/m6-state.md
Due: md-fmt

research(decision2): arm factory amendment 2 (exact candidates and members) and Index env stages
  src/training/decision2/v2/af/ops/af-ix.sh
  src/training/decision2/v2/af/records/af-amendment-2-2026-10-02.md
Due: md-fmt

[CI/Build] Keep legacy training scripts lint-clean after the org rename
  tools/linter/python/.ruff.toml
Due: none

research(decision2): arm factory state 15:05Z
  src/training/decision2/v2/af/records/af-state.md
Due: md-fmt

dec-m17 index: audit5, one row-level audit of 4b-SDMLxALL's member TRAINs (release IF3)
  src/training/decision2/v2/dec/ops/m17/m17-index.sh
Due: none

research(decision2): arm factory unattended soups (wait mode, merge lease) and measurement pipeline
  src/training/decision2/v2/af/ops/af-measure.sh
  src/training/decision2/v2/af/ops/af-soup.sh
Due: none

research(decision2): arm factory measurement pipeline starts each candidate's Index run as soon as it is staged
  src/training/decision2/v2/af/ops/af-measure.sh
Due: none

[Bug] Leave out judge pairs whose request fails its digest
  src/semantic-router/pkg/shadowdataset/judging.go
  src/semantic-router/pkg/shadowdataset/judging_test.go
Due: go-fmt

research(decision2): arm factory measurement takes harness leases after the merges when asked
  src/training/decision2/v2/af/ops/af-measure.sh
Due: none

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
