Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

update
  src/vllm-sr/cli/config_migration.py
  website/docs/overview/signal-driven-decisions.md
  website/docs/tutorials/signal/learned/kb.md
  website/docs/tutorials/signal/learned/taxonomy.md
  website/docs/tutorials/signal/overview.md
  website/src/pages/index.tsx
Due: md-fmt

docs: zh-Hans documentation about overview part
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/collective-intelligence.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/goals.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/mom-model-family.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/semantic-router-overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/signal-driven-decisions.md
Due: md-fmt

docs: zh-Hans documentation about overview part (#1664)
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/collective-intelligence.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/goals.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/mom-model-family.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/semantic-router-overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/signal-driven-decisions.md
Due: md-fmt

Fix KB lint regressions and sparse config fixture
  src/semantic-router/pkg/apiserver/route_kb_map_test.go
  src/semantic-router/pkg/apiserver/route_kbs.go
  src/semantic-router/pkg/modeldownload/config_parser_test.go
Due: go-fmt

docs: fix zh-Hans doc navbar to vLLM-SR
  website/i18n/zh-Hans/docusaurus-theme-classic/navbar.json
Due: none

docs: fix zh-Hans doc navbar to vLLM-SR (#1666)
  website/i18n/zh-Hans/docusaurus-theme-classic/navbar.json
Due: none

Fix KB lint regressions and sparse config fixture (#1665)
  src/semantic-router/pkg/apiserver/route_kb_map_test.go
  src/semantic-router/pkg/apiserver/route_kbs.go
  src/semantic-router/pkg/modeldownload/config_parser_test.go
Due: go-fmt

chore(fleet-sim): apply lint formatting follow-up for optimizer split (refs #1594)
  src/fleet-sim/fleet_sim/optimizer/base.py
Due: none

style(fleet-sim): normalize optimizer module formatting (refs #1594)
  src/fleet-sim/fleet_sim/optimizer/analytical.py
  src/fleet-sim/fleet_sim/optimizer/grid_flex.py
  src/fleet-sim/fleet_sim/optimizer/tpw.py
Due: none

feat: default local runtime to split topology
  docs/agent/environments.md
  docs/agent/plans/README.md
  docs/agent/plans/pl-0020-local-runtime-topology-separation.md
  docs/agent/plans/pl-0021-local-runtime-three-image-rollout.md
  e2e/testing/vllm-sr-cli/test_unit_runtime_topology.py
  src/vllm-sr/Dockerfile.envoy
  src/vllm-sr/Dockerfile.router
  src/vllm-sr/Dockerfile.router.rocm
  src/vllm-sr/Makefile
  src/vllm-sr/cli/commands/runtime.py
  src/vllm-sr/cli/consts.py
  src/vllm-sr/cli/docker_backend.py
  src/vllm-sr/tests/test_cli_main.py
  src/vllm-sr/tests/test_deployment_backend.py
  src/vllm-sr/tests/test_local_dev_make_surface.py
  src/vllm-sr/tests/test_openclaw_shared_network.py
  src/vllm-sr/tests/test_router_dockerfile_surface.py
  src/vllm-sr/tests/test_runtime_topology.py
  src/vllm-sr/tests/test_runtime_upgrade_compatibility.py
  tools/agent/repo-manifest.yaml
  tools/make/agent.mk
  tools/make/docker.mk
  tools/make/linter.mk
Due: md-fmt, yaml-and-yml-fmt

feat(responsestore): default Response API backend to Redis (#1661)
  config/config.yaml
  docs/agent/state-taxonomy-and-inventory.md
  e2e/profiles/response-api-shared/redis_profile.go
  e2e/testcases/response_api_restart_recovery.go
  src/semantic-router/pkg/config/canonical_defaults.go
  src/semantic-router/pkg/config/canonical_loader_test.go
  src/semantic-router/pkg/config/reference_config_global_test.go
  src/semantic-router/pkg/config/runtime_config.go
  src/semantic-router/pkg/extproc/router_storage.go
  src/semantic-router/pkg/responsestore/factory.go
  src/semantic-router/pkg/responsestore/interface.go
  website/docs/tutorials/global/api-and-observability.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix: preserve bundled kb assets in k8s mounts
  deploy/helm/semantic-router/templates/dashboard-deployment.yaml
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/validate-chart.sh
  deploy/kserve/deployment.yaml
  deploy/kubernetes/istio/deployment.yaml
  deploy/kubernetes/observability/dashboard/deployment.yaml
  deploy/openshift/dashboard/dashboard-deployment.yaml
  deploy/openshift/deployment-simulator.yaml
  deploy/openshift/deployment.yaml
  deploy/openshift/template.yaml
  tools/make/linter.mk
Due: yaml-and-yml-fmt

fix: keep explicit local image behavior in split runtime
  e2e/testing/run_memory_integration.sh
  src/vllm-sr/cli/docker_images.py
  src/vllm-sr/tests/test_docker_images.py
Due: none

fix: keep split non-router images on defaults
  src/vllm-sr/cli/docker_images.py
  src/vllm-sr/tests/test_docker_images.py
Due: none

fix: use router API health for memory e2e readiness
  e2e/testing/run_memory_integration.sh
Due: none

fix: split memory e2e health probe from router endpoint
  e2e/testing/09-memory-features-test.py
  e2e/testing/run_memory_integration.sh
Due: none

fix: use host gateway for memory e2e backends
  e2e/config/config.memory-user-redis-enabled.yaml
  e2e/config/config.memory-user.yaml
Due: yaml-and-yml-fmt

fix: run memory llm-katan on shared network
  e2e/testing/run_memory_integration.sh
Due: none

config: resolve KB manifest via first existing manifest path
  src/semantic-router/pkg/config/kb_config.go
  src/semantic-router/pkg/config/taxonomy_config_test.go
Due: go-fmt

classification: honor explicit regex keyword patterns
  src/semantic-router/pkg/classification/keyword_classifier.go
  src/semantic-router/pkg/classification/keyword_classifier_structural_test.go
Due: go-fmt

classification: refactor keyword matcher for structure lint
  src/semantic-router/pkg/classification/keyword_classifier.go
Due: go-fmt

Fix explicit regex keyword rules to compile as real regex (#1672)
  src/semantic-router/pkg/classification/keyword_classifier.go
  src/semantic-router/pkg/classification/keyword_classifier_structural_test.go
  src/semantic-router/pkg/config/kb_config.go
  src/semantic-router/pkg/config/taxonomy_config_test.go
Due: go-fmt

fix: dashboard kb validation failures
  dashboard/Dockerfile
  dashboard/backend/Dockerfile
  dashboard/backend/handlers/setup.go
  dashboard/backend/handlers/setup_test.go
Due: go-fmt

fix: dashboard kb validation failures
  dashboard/frontend/e2e/setup-wizard.spec.ts
  dashboard/frontend/src/pages/SetupWizardPanels.tsx
  dashboard/frontend/src/pages/setupWizardSupport.ts
Due: none

fix: dashboard kb validation failures (#1674)
  dashboard/Dockerfile
  dashboard/backend/Dockerfile
  dashboard/backend/handlers/setup.go
  dashboard/backend/handlers/setup_test.go
  dashboard/frontend/e2e/setup-wizard.spec.ts
  dashboard/frontend/src/pages/SetupWizardPanels.tsx
  dashboard/frontend/src/pages/setupWizardSupport.ts
Due: go-fmt

fix: dashboard onboard defaults
  .github/workflows/ci-changes.yml
  .github/workflows/integration-test-helm.yml
  .github/workflows/integration-test-k8s.yml
  .github/workflows/test-and-build.yml
  dashboard/backend/handlers/runtime_config_apply.go
  dashboard/backend/handlers/setup.go
  dashboard/backend/handlers/setup_test.go
  docs/agent/playbooks/e2e-selection.md
  docs/agent/tech-debt/README.md
  docs/agent/tech-debt/td-037-dev-integration-env-ownership-and-shared-suite-topology.md
  e2e/README.md
  e2e/cmd/e2e/main.go
  e2e/pkg/testcases/acceptance_contracts.go
  e2e/pkg/testmatrix/testcases.go
  e2e/profiles/ai-gateway/profile.go
  e2e/profiles/all/imports.go
  e2e/testcases/apiserver_classification_endpoints.go
  e2e/testcases/cache.go
  e2e/testcases/domain_classify.go
  e2e/testcases/entropy_routing.go
  e2e/testcases/jailbreak_detection.go
  e2e/testcases/keyword_routing.go
  e2e/testcases/pii_detection.go
  e2e/testcases/testdata/cache_cases.json
  tools/agent/e2e-profile-map.yaml
  tools/agent/repo-manifest.yaml
  tools/agent/scripts/agent_ci_validation.py
  tools/make/agent.mk
  tools/make/e2e.mk
  tools/make/helm.mk
  tools/make/performance.mk
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix: dashboard onboard defaults
  dashboard/backend/handlers/setup.go
  dashboard/backend/handlers/setup_test.go
Due: go-fmt

fix: dashboard onboard defaults
  docs/agent/plans/README.md
  docs/agent/plans/pl-0022-dev-integration-consolidation-loop.md
  docs/agent/tech-debt/td-037-dev-integration-env-ownership-and-shared-suite-topology.md
  tools/agent/repo-manifest.yaml
Due: md-fmt, yaml-and-yml-fmt

fix(ci): relocate Docker and temp storage to /mnt to prevent disk exhaustion
  .github/workflows/integration-test-k8s.yml
Due: yaml-and-yml-fmt

feat(api): wire EvaluateDecisionsWithTrace into POST /api/v1/eval?trace=true
  src/semantic-router/pkg/apiserver/route_classify.go
  src/semantic-router/pkg/classification/classifier_signal_eval.go
  src/semantic-router/pkg/services/classification_signal_contract.go
Due: go-fmt

fix: dashboard onboard defaults
  dashboard/backend/evaluation/runner.go
  dashboard/backend/evaluation/runner_test.go
  dashboard/backend/handlers/evaluation.go
  dashboard/backend/handlers/evaluation_test.go
  dashboard/backend/router/core_routes.go
  dashboard/backend/router/core_routes_test.go
  dashboard/frontend/src/components/evaluation/ProgressTracker.tsx
  dashboard/frontend/src/hooks/useEvaluation.ts
  dashboard/frontend/src/utils/evaluationApi.ts
  e2e/testcases/chat_completion_helpers.go
  e2e/testcases/entropy_routing.go
  e2e/testcases/jailbreak_detection.go
  e2e/testcases/keyword_routing.go
  e2e/testcases/pii_detection.go
  test-report.json
  test-report.md
Due: go-fmt, md-fmt

refactor(deploy): remove individual KB category JSONs, keep only labels.json
  deploy/recipes/calibration/knowledge_bases/biology.json
  deploy/recipes/calibration/knowledge_bases/business.json
  deploy/recipes/calibration/knowledge_bases/chemistry.json
  deploy/recipes/calibration/knowledge_bases/computer_science.json
  deploy/recipes/calibration/knowledge_bases/economics.json
  deploy/recipes/calibration/knowledge_bases/engineering.json
  deploy/recipes/calibration/knowledge_bases/health.json
  deploy/recipes/calibration/knowledge_bases/history.json
  deploy/recipes/calibration/knowledge_bases/law.json
  deploy/recipes/calibration/knowledge_bases/math.json
  deploy/recipes/calibration/knowledge_bases/other.json
  deploy/recipes/calibration/knowledge_bases/philosophy.json
  deploy/recipes/calibration/knowledge_bases/physics.json
  deploy/recipes/calibration/knowledge_bases/psychology.json
  deploy/recipes/privacy/knowledge_bases/architecture_analysis.json
  deploy/recipes/privacy/knowledge_bases/business_strategy.json
  deploy/recipes/privacy/knowledge_bases/credential_exfiltration.json
  deploy/recipes/privacy/knowledge_bases/customer_data.json
  deploy/recipes/privacy/knowledge_bases/general_knowledge.json
  deploy/recipes/privacy/knowledge_bases/generic_coding.json
  deploy/recipes/privacy/knowledge_bases/internal_document.json
  deploy/recipes/privacy/knowledge_bases/jailbreak_role.json
  deploy/recipes/privacy/knowledge_bases/locality_directive.json
  deploy/recipes/privacy/knowledge_bases/multi_step_tradeoffs.json
  deploy/recipes/privacy/knowledge_bases/operational_infrastructure.json
  deploy/recipes/privacy/knowledge_bases/pii.json
  deploy/recipes/privacy/knowledge_bases/prompt_injection.json
  deploy/recipes/privacy/knowledge_bases/proprietary_code.json
  deploy/recipes/privacy/knowledge_bases/root_cause_analysis.json
  deploy/recipes/privacy/knowledge_bases/simple_task.json
  deploy/recipes/privacy/knowledge_bases/system_prompt_extraction.json
  deploy/recipes/privacy/knowledge_bases/trade_secret_ip.json
Due: none

fix: dashboard onboard defaults
  dashboard/backend/evaluation/runner_test.go
  dashboard/backend/router/core_routes_test.go
Due: go-fmt

fix: dashboard onboard defaults
  test-report.md
Due: md-fmt
