Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

chore: formalize project codeowner and governance (#1347)
  CODEOWNERS
  GOVERNANCE.md
Due: md-fmt

[DOC] Update white paper: Implement MoM evaluation and LoRA architecture sections (#1345)
  paper/figures/evaluation_flow.svg
  paper/figures/lora_architecture.svg
  paper/sections/evaluation.tex
  paper/sections/lora_mom.tex
Due: none

link nlp-binding
  tools/make/rust.mk
Due: none

use nlp-binding in dockerfile
  tools/docker/Dockerfile.extproc
  tools/docker/Dockerfile.extproc.cross
Due: none

add e2e
  e2e/profiles/routing-strategies/config-with-embedding.yaml
  e2e/profiles/routing-strategies/values.yaml
Due: yaml-and-yml-fmt

add e2e
  tools/linter/codespell/.codespell.ignorewords
Due: none

fix build
  tools/make/build-run-test.mk
  tools/make/milvus.mk
  tools/make/models.mk
  tools/make/performance.mk
  tools/make/redis.mk
  tools/make/rust.mk
Due: none

update doc
  website/docs/tutorials/intelligent-route/keyword-routing.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/intelligent-route/keyword-routing.md
Due: md-fmt

update vsr cli docker file
  src/vllm-sr/Dockerfile
  tools/docker/Dockerfile.stack
Due: none

feat: use BM25 and n-gram as typo resistent keyword classifer (#1346)
  config/envoy-no-auth.yaml
  config/intelligent-routing/in-tree/keyword-nlp.yaml
  e2e/profiles/routing-strategies/config-with-embedding.yaml
  e2e/profiles/routing-strategies/values.yaml
  e2e/testing/mock-vllm-simple.py
  nlp-binding/Cargo.lock
  nlp-binding/Cargo.toml
  nlp-binding/OWNER
  nlp-binding/README.md
  nlp-binding/go.mod
  nlp-binding/nlp_binding.go
  nlp-binding/nlp_binding_mock.go
  nlp-binding/nlp_binding_test.go
  nlp-binding/src/bm25_classifier.rs
  nlp-binding/src/ffi.rs
  nlp-binding/src/lib.rs
  nlp-binding/src/ngram_classifier.rs
  src/semantic-router/go.mod
  src/semantic-router/pkg/classification/keyword_classifier.go
  src/semantic-router/pkg/classification/keyword_nlp_test.go
  src/semantic-router/pkg/config/config.go
  src/vllm-sr/Dockerfile
  tools/docker/Dockerfile.extproc
  tools/docker/Dockerfile.extproc.cross
  tools/docker/Dockerfile.stack
  tools/linter/codespell/.codespell.ignorewords
  tools/make/build-run-test.mk
  tools/make/milvus.mk
  tools/make/models.mk
  tools/make/performance.mk
  tools/make/redis.mk
  tools/make/rust.mk
  website/docs/tutorials/intelligent-route/keyword-routing.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/intelligent-route/keyword-routing.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt, cargo-fmt, cargo-check

chore: add BM25 and n-gram feature to keyword signal
  paper/sections/signal_engine.tex
Due: none

chore: add BM25 and n-gram feature to keyword signal (#1349)
  paper/sections/signal_engine.tex
Due: none

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Due: none

feat(dashboard): add Elo ratings page and feedback UI for model selection
  .gitignore
  dashboard/frontend/e2e/feedback-buttons.spec.ts
  dashboard/frontend/e2e/ratings-full-verify.spec.ts
  dashboard/frontend/e2e/ratings.spec.ts
  dashboard/frontend/playwright.live.config.ts
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/FeedbackButtons.module.css
  dashboard/frontend/src/components/FeedbackButtons.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/components/RatingsTable.module.css
  dashboard/frontend/src/components/RatingsTable.tsx
  dashboard/frontend/src/pages/Ratings.module.css
  dashboard/frontend/src/pages/RatingsPage.tsx
Due: none

Implement batch size threshold tests for memory extractor
  src/semantic-router/pkg/memory/extractor_test.go
Due: go-fmt

feat(vectorstore): add Llama Stack as a VectorStoreBackend for RAG
  Makefile
  config/config-rag-example.yaml
  e2e/cmd/e2e/main.go
  e2e/profiles/rag-llama-stack/manifests/llama-stack.yaml
  e2e/profiles/rag-llama-stack/profile.go
  e2e/profiles/rag-llama-stack/values.yaml
  e2e/testcases/rag_vectorstore.go
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/apiserver/route_vectorstore.go
  src/semantic-router/pkg/config/vectorstore.go
  src/semantic-router/pkg/extproc/req_filter_rag_vectorstore.go
  src/semantic-router/pkg/vectorstore/config_test.go
  src/semantic-router/pkg/vectorstore/factory.go
  src/semantic-router/pkg/vectorstore/llama_stack_backend.go
  src/semantic-router/pkg/vectorstore/llama_stack_backend_test.go
  src/semantic-router/pkg/vectorstore/memory_backend_test.go
  src/semantic-router/pkg/vectorstore/types.go
  tools/make/build-run-test.mk
  tools/make/e2e.mk
  tools/make/llama-stack.mk
  website/docs/installation/configuration.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Implement batch size threshold tests for memory extractor (#1344)
  src/semantic-router/pkg/memory/extractor_test.go
Due: go-fmt

Memory Management REST API
  e2e/testing/09-memory-features-test.py
  src/semantic-router/pkg/apiserver/config.go
  src/semantic-router/pkg/apiserver/route_memory.go
  src/semantic-router/pkg/apiserver/route_memory_test.go
  src/semantic-router/pkg/apiserver/server.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/memory/inmemory_store.go
  src/semantic-router/pkg/memory/milvus_store.go
  src/semantic-router/pkg/memory/store.go
  src/semantic-router/pkg/memory/types.go
Due: go-fmt

Memory Management REST API (#1335)
  e2e/testing/09-memory-features-test.py
  src/semantic-router/pkg/apiserver/config.go
  src/semantic-router/pkg/apiserver/route_memory.go
  src/semantic-router/pkg/apiserver/route_memory_test.go
  src/semantic-router/pkg/apiserver/server.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/memory/inmemory_store.go
  src/semantic-router/pkg/memory/milvus_store.go
  src/semantic-router/pkg/memory/store.go
  src/semantic-router/pkg/memory/types.go
Due: go-fmt

inject user_id from auth layer
  e2e/testing/09-memory-features-test.py
  src/semantic-router/pkg/extproc/memory_helpers.go
  src/semantic-router/pkg/extproc/memory_helpers_test.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/user_id_dev.go
  src/semantic-router/pkg/extproc/user_id_dev_test.go
  src/semantic-router/pkg/extproc/user_id_prod.go
  src/semantic-router/pkg/extproc/user_id_prod_test.go
  src/semantic-router/pkg/extproc/user_id_test.go
  tools/make/build-run-test.mk
Due: go-fmt

feat: add request rate limiting
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/ratelimit/chain.go
  src/semantic-router/pkg/ratelimit/envoy_provider.go
  src/semantic-router/pkg/ratelimit/local_provider.go
  src/semantic-router/pkg/ratelimit/provider.go
  src/semantic-router/pkg/ratelimit/ratelimit_test.go
Due: go-fmt

feat(decision): add NOT operator support with NOR semantics
  config/intelligent-routing/in-tree/not-operator.yaml
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/topology/types.ts
  dashboard/frontend/src/pages/topology/utils/signalMatcher.ts
  dashboard/frontend/src/pages/topology/utils/topologyParser.ts
  dashboard/frontend/src/types/config.ts
  deploy/operator/config/crd/bases/vllm.ai_semanticrouters.yaml
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/types_route.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/decision/engine.go
  src/semantic-router/pkg/decision/engine_test.go
Due: go-fmt, yaml-and-yml-fmt

Feat: Support Tree
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/decision/engine.go
Due: go-fmt

add e2e
  e2e/profiles/authz-rbac/profile.go
  e2e/profiles/authz-rbac/values.yaml
  e2e/testcases/ratelimit.go
Due: go-fmt, yaml-and-yml-fmt

feat: add --minimal flag to vllm-sr serve (#1329)
  src/vllm-sr/cli/core.py
  src/vllm-sr/cli/docker_cli.py
  src/vllm-sr/cli/main.py
  src/vllm-sr/start-dashboard.sh
Due: none

[DOC] Add multi-protocol adaptor design doc
  website/docs/proposals/multi-protocol-adaptor.md
  website/sidebars.ts
Due: md-fmt

feat: add --minimal flag to vllm-sr serve (#1329) (#1355)
  src/vllm-sr/cli/core.py
  src/vllm-sr/cli/docker_cli.py
  src/vllm-sr/cli/main.py
  src/vllm-sr/start-dashboard.sh
Due: none

feat(dashboard): add Elo ratings page and feedback UI for model selection (#1338)
  .gitignore
  dashboard/frontend/e2e/feedback-buttons.spec.ts
  dashboard/frontend/e2e/ratings-full-verify.spec.ts
  dashboard/frontend/e2e/ratings.spec.ts
  dashboard/frontend/playwright.live.config.ts
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/FeedbackButtons.module.css
  dashboard/frontend/src/components/FeedbackButtons.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/components/RatingsTable.module.css
  dashboard/frontend/src/components/RatingsTable.tsx
  dashboard/frontend/src/pages/Ratings.module.css
  dashboard/frontend/src/pages/RatingsPage.tsx
Due: none

[DOC] Add multi-protocol adaptor design doc (#1316)
  website/docs/proposals/multi-protocol-adaptor.md
  website/sidebars.ts
Due: md-fmt

Feat: Support Tree
  config/intelligent-routing/in-tree/ast-operator.yaml
Due: yaml-and-yml-fmt

[Doc][Paper]: Add adaptor abrastraction desgin doc to future work
  paper/sections/conclusion.tex
Due: none

inject user_id from auth layer (#1301)
  e2e/testing/09-memory-features-test.py
  src/semantic-router/pkg/extproc/memory_helpers.go
  src/semantic-router/pkg/extproc/memory_helpers_test.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/user_id_dev.go
  src/semantic-router/pkg/extproc/user_id_dev_test.go
  src/semantic-router/pkg/extproc/user_id_prod.go
  src/semantic-router/pkg/extproc/user_id_prod_test.go
  src/semantic-router/pkg/extproc/user_id_test.go
  tools/make/build-run-test.mk
Due: go-fmt

lint
  e2e/testcases/ratelimit.go
Due: go-fmt

lint
  src/semantic-router/pkg/ratelimit/ratelimit_test.go
Due: go-fmt

feat(phase4): add RoPE fix and dynamic memory checking for extended context testing
  candle-binding/examples/test_phase4_comprehensive.rs
  candle-binding/src/model_architectures/traditional/modernbert.rs
Due: cargo-fmt, cargo-check

feat(candle-binding): add load_with_custom_base_model for Extended32K classification
  candle-binding/src/model_architectures/traditional/modernbert.rs
Due: cargo-fmt, cargo-check

feat(candle-binding): improve load_with_custom_base_model with warnings, tests, and docs
  candle-binding/src/model_architectures/traditional/modernbert.rs
  candle-binding/src/model_architectures/traditional/modernbert_test.rs
Due: cargo-fmt, cargo-check

feat(candle-binding): add ModernBERT-base-32k variant support (Phase 1)
  candle-binding/Cargo.toml
  candle-binding/examples/test_modernbert_32k.rs
  candle-binding/src/model_architectures/traditional/modernbert.rs
Due: cargo-fmt, cargo-check

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
