Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

research(decision2): freeze 27B milestone 2 mixtures and run the padding parity test on GPU
  src/training/decision2/v2/27b/records/m2-prereg-2026-09-28.md
  src/training/decision2/v2/27b/tests/test_padding_parity.py
Due: md-fmt

research(decision2): 0.6B M3c amendment, matched template-S control for the A6 Score effect
  src/training/decision2/v2/06b/records/arms/m3-a2c-causal-s1.json
  src/training/decision2/v2/06b/records/arms/m3-a2c-causal-s2.json
  src/training/decision2/v2/06b/records/m3c-amendment-2026-09-28.md
Due: md-fmt

research(decision2): record 9B Lux continuation Milestone 2 result
  src/training/decision2/v2/9b/records/lux9b-m2-continuation-result-2026-09-28.md
Due: md-fmt

research(decision2): preregister 9B Lux continuation arms for Milestone 2
  src/training/decision2/v2/9b/lux9b/__init__.py
  src/training/decision2/v2/9b/lux9b/mix.py
  src/training/decision2/v2/9b/records/clm-frozen-ablation-result-2026-09-28.md
  src/training/decision2/v2/9b/records/lux9b-m2-continuation-prereg-2026-09-28.md
  src/training/decision2/v2/9b/tests/test_mix.py
Due: md-fmt

research(decision2): record 9B M2 preflight r1 and pin the Triton autotune cache
  src/training/decision2/v2/9b/records/lux9b-m2-continuation-prereg-2026-09-28.md
Due: md-fmt

research(decision2): paired development contrast tool for 0.6B arms
  src/training/decision2/v2/06b/contrast.py
Due: none

docs(decision2): sync sanitized program docs (COORDINATION, STATUS)
  src/training/decision2/v2/program/COORDINATION.md
  src/training/decision2/v2/program/STATUS.md
Due: md-fmt

feat(decision2): decoder M2 trainer options, mixture builder and arm driver
  src/training/decision2/v2/dec/batching.py
  src/training/decision2/v2/dec/build_mixture.py
  src/training/decision2/v2/dec/calibrate_dec.py
  src/training/decision2/v2/dec/drive_arm.sh
  src/training/decision2/v2/dec/preflight_dec.py
  src/training/decision2/v2/dec/specs/m2-control-a0sr.json
  src/training/decision2/v2/dec/specs/m2-full-a7-v1.json
  src/training/decision2/v2/dec/specs/m2-retention.json
  src/training/decision2/v2/dec/tests/test_dec.py
  src/training/decision2/v2/dec/train_dec.py
Due: none

decision2 eval: option-key and position leak audit for all eval panels; pre-register M3.1
  src/training/decision2/v2/eval/leak_audit.py
  src/training/decision2/v2/eval/records/m3-prereg-2026-09-28.md
  src/training/decision2/v2/eval/tests/test_leak_audit.py
Due: md-fmt

research(decision2): freeze A7 a7-dec10-v3 after embedding scan and PI-v3 rescreen
  src/training/decision2/v2/data/a7/records/a7-arms-v3-2026-09-28.md
Due: md-fmt

research(decision2): lock the 9B L2 formal post-key run against a same-limit Lux1 control
  src/training/decision2/v2/9b/lux9b/adapter-spec-lux1-infer1p0.json
  src/training/decision2/v2/9b/records/lux9b-l2-formal-lock-2026-09-28.md
Due: md-fmt

research(decision2): record 27B milestone 2 trainer-path amendment and wait for idle GPUs
  src/training/decision2/v2/27b/identity_check.py
  src/training/decision2/v2/27b/launch.py
  src/training/decision2/v2/27b/records/m2-prereg-2026-09-28.md
  src/training/decision2/v2/27b/run_formal_typed.sh
  src/training/decision2/v2/27b/tests/test_m2_tools.py
Due: md-fmt

research(decision2): A7 amendment 3 and rule-7e recovery of held Stage1/2 Noul/Score rows (A7r)
  src/training/decision2/v2/data/a7/admit.py
  src/training/decision2/v2/data/a7/build_a7.py
  src/training/decision2/v2/data/a7/hf_spec.py
  src/training/decision2/v2/data/a7/records/a7-prereg-amendment-3-2026-09-28.md
  src/training/decision2/v2/data/a7/recover.py
  src/training/decision2/v2/data/a7/requarantine.py
  src/training/decision2/v2/data/a7/run_nodeB.sh
  src/training/decision2/v2/data/a7/tests/test_recover.py
Due: md-fmt

decision2 eval: leak audit amendment 1 (chance-or-prior reference, group-conditioned pooled prior) and per-model cue effects
  src/training/decision2/v2/eval/leak_audit.py
  src/training/decision2/v2/eval/leak_effects.py
  src/training/decision2/v2/eval/records/m3-prereg-amendment-1-2026-09-28.md
  src/training/decision2/v2/eval/tests/test_leak_audit.py
  src/training/decision2/v2/eval/tests/test_leak_effects.py
Due: md-fmt

research(decision2): add 27B development readout scoring driver
  src/training/decision2/v2/27b/score_readouts.sh
Due: none

research(decision2): preregister decoder Milestone 2 arms and record correctness checks
  src/training/decision2/v2/dec/adapter-spec-infer-1p0.json
  src/training/decision2/v2/dec/infer_1p0.py
  src/training/decision2/v2/dec/records/dec-m2-prereg-2026-09-28.md
Due: md-fmt

research(decision2): A7 amendment 4 (A7r Noul balance) and a7-rec10-v2 builder
  src/training/decision2/v2/data/a7/records/a7-prereg-amendment-4-2026-09-28.md
  src/training/decision2/v2/data/a7/recover.py
  src/training/decision2/v2/data/a7/tests/test_recover.py
Due: md-fmt

test(decision2): cover the A7r balance rule in the recovery integration test
  src/training/decision2/v2/data/a7/tests/test_recover.py
Due: none

chore(decision2): node B GPU3-4 in the decoder arm driver
  src/training/decision2/v2/dec/drive_arm.sh
Due: none

research(decision2): record eval M3.1 leak audit of all eval panels (no option-key leak; two quantified design properties)
  src/training/decision2/v2/eval/records/m3-leak-audit-2026-09-28.md
  src/training/decision2/v2/eval/records/m3-leak-audit-tables-2026-09-28.md
Due: md-fmt

style(training): clear ruff findings in the touched selector files
  src/training/model_selection/ml_model_selection/data_loader.py
  src/training/model_selection/ml_model_selection/tests/test_objective.py
  src/training/model_selection/ml_model_selection/train.py
Due: none

fix(decision2): prefix generator arm row ids so G arms never repeat v1 ids
  src/training/decision2/v2/data/m2/reslice.py
Due: none

[Bug] Cover every #4292 route in the empty-body E2E case
  e2e/testcases/public_listener_empty_body.go
Due: go-fmt

research(decision2): record 0.6B Milestone 3 results (HOLD, no finalist)
  src/training/decision2/v2/06b/records/m3-results-2026-09-28.md
Due: md-fmt

feat(decision2): drop held-out groups whose inputs repeat in TRAIN
  src/training/decision2/v2/data/m2/dedup_heldout.py
Due: none

feat(decision2): stratified row sampler and 1.0-package scoring in eval_rows
  src/training/decision2/v2/dec/eval_rows.py
  src/training/decision2/v2/dec/sample_rows.py
Due: none

fix(decision2): --max-items smoke option for infer_1p0 (formal runner smoke)
  src/training/decision2/v2/dec/infer_1p0.py
Due: none

feat(decision2): build the RP-v2 teacher prompt pool from nested recipes
  src/training/decision2/v2/data/m2/rp_pool.py
Due: none

e2e: post the version gate case to /api/v1/config/validate
  e2e/testcases/router_config_version_gate.go
Due: go-fmt

research(decision2): record 27B milestone 2 F0 same-limit control (8,192 tokens)
  src/training/decision2/v2/27b/records/m2-results-2026-09-28.md
Due: md-fmt

research(decision2): 0.6B Milestone 4 part 1 prereg, weight-soup and Noul-diagnosis tools
  src/training/decision2/v2/06b/noul_diag.py
  src/training/decision2/v2/06b/records/arms/m4-a2-soup.json
  src/training/decision2/v2/06b/records/arms/m4-probe-a2-s1.json
  src/training/decision2/v2/06b/records/arms/m4-probe-a2-s2.json
  src/training/decision2/v2/06b/records/arms/m4-probe-a2c-s1.json
  src/training/decision2/v2/06b/records/arms/m4-probe-a2c-s2.json
  src/training/decision2/v2/06b/records/m4-prereg-2026-09-28.md
  src/training/decision2/v2/06b/soup.py
  src/training/decision2/v2/06b/tests/test_soup_noul.py
Due: md-fmt

fix(decision2): infer_1p0 falls back to temperature 1.0 when a 1.0 package ships no temperature.json
  src/training/decision2/v2/dec/infer_1p0.py
Due: none

fix(decision2): renormalize rounded teacher distributions in the screen
  src/training/decision2/v2/data/m2/teacher_screen.py
Due: none

feat(decision2): accept the runner smoke option for the 9B Lux1 same-limit control
  src/training/decision2/v2/9b/lux9b/adapter-spec-lux1-infer1p0.json
  src/training/decision2/v2/9b/lux9b/infer_lux1.py
Due: none

research(decision2): decoder M2 amendment 1 (own-Nox trust region; paired 4B half-data fresh vs continuation)
  src/training/decision2/v2/dec/build_mixture.py
  src/training/decision2/v2/dec/records/dec-m2-amendment-1-2026-09-28.md
  src/training/decision2/v2/dec/specs/m2-half-a7-v1.json
  src/training/decision2/v2/dec/teacher_label.py
Due: md-fmt

research(decision2): register frozen data arms v2 and D10 mixture recipes
  src/training/decision2/v2/data/records/arms-v2-2026-09-28.md
  src/training/decision2/v2/data/records/mixtures-v2-2026-09-28.md
Due: md-fmt

docs(decision2): spell out Telugu in the v2 arm registry
  src/training/decision2/v2/data/records/arms-v2-2026-09-28.md
Due: md-fmt

research(decision2): preregister A7 encoder corpora a7-enc10-v1 and add the template builder
  src/training/decision2/v2/data/a7/build_a7.py
  src/training/decision2/v2/data/a7/build_enc.py
  src/training/decision2/v2/data/a7/hf_spec.py
  src/training/decision2/v2/data/a7/license-registry-a7-v2.json
  src/training/decision2/v2/data/a7/records/a7-enc10-prereg-2026-09-28.md
  src/training/decision2/v2/data/a7/run_nodeB.sh
  src/training/decision2/v2/data/a7/specs/a7-enc10-v1.nodeB.json
  src/training/decision2/v2/data/a7/tests/test_build_enc.py
Due: md-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
