Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

Update owner notifications for v0.3 committers
  .github/workflows/owner-notification.yml
  bench/OWNER
  candle-binding/OWNER
  config/OWNER
  dashboard/OWNER
  deploy/OWNER
  docs/OWNER
  e2e/OWNER
  ml-binding/OWNER
  nlp-binding/OWNER
  onnx-binding/OWNER
  paper/OWNER
  perf/OWNER
  scripts/OWNER
  src/OWNER
  src/fleet-sim/OWNER
  src/semantic-router/OWNER
  src/training/OWNER
  src/vllm-sr/OWNER
  tools/OWNER
  website/OWNER
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.2/OWNER
  website/versioned_docs/version-v0.2/OWNER
Due: yaml-and-yml-fmt

Fix router learning CI failures
  dashboard/frontend/package-lock.json
  src/vllm-sr/tests/test_config_file_loaders.py
Due: none

Update owner notifications for v0.3 committers (#2245)
  .github/workflows/owner-notification.yml
  bench/OWNER
  candle-binding/OWNER
  config/OWNER
  dashboard/OWNER
  deploy/OWNER
  docs/OWNER
  e2e/OWNER
  ml-binding/OWNER
  nlp-binding/OWNER
  onnx-binding/OWNER
  paper/OWNER
  perf/OWNER
  scripts/OWNER
  src/OWNER
  src/fleet-sim/OWNER
  src/semantic-router/OWNER
  src/training/OWNER
  src/vllm-sr/OWNER
  tools/OWNER
  website/OWNER
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.2/OWNER
  website/versioned_docs/version-v0.2/OWNER
Due: yaml-and-yml-fmt

Fix PR gate lint failures
  deploy/helm/semantic-router/crds/vllm.ai_intelligentpools.yaml
  deploy/helm/semantic-router/crds/vllm.ai_intelligentroutes.yaml
  deploy/kubernetes/crds/vllm.ai_intelligentpools.yaml
  deploy/kubernetes/crds/vllm.ai_intelligentroutes.yaml
  src/semantic-router/pkg/routerreplay/store/record_projection_trace_test.go
Due: go-fmt, yaml-and-yml-fmt

[Router] Invalidate memory cache via per-user index set instead of keyspace SCAN
  src/semantic-router/pkg/memory/redis_cache.go
  src/semantic-router/pkg/memory/redis_cache_test.go
Due: go-fmt

refactor(rerank): load cross-encoder via model runtime; keep types.rs out of changed-file lint
  candle-binding/src/ffi/rerank.rs
  candle-binding/src/ffi/types.rs
  src/semantic-router/pkg/apiserver/rerank_live_integration_test.go
  src/semantic-router/pkg/apiserver/route_rerank.go
  src/semantic-router/pkg/apiserver/route_rerank_test.go
  src/semantic-router/pkg/apiserver/server.go
  src/semantic-router/pkg/modelruntime/cross_encoder_task_test.go
  src/semantic-router/pkg/modelruntime/router_runtime.go
Due: go-fmt, cargo-fmt, cargo-check

fix(rerank): add onnx-binding cross-encoder shims so onnx build compiles
  onnx-binding/semantic-router.go
Due: go-fmt

[Router] route e2e debug through the shared helper; defer non-CI migration
  e2e/testcases/chat_completion_helpers.go
  e2e/testcases/domain_classify.go
  e2e/testcases/embedding_signal_image_routing.go
  e2e/testcases/entropy_routing.go
  e2e/testcases/jailbreak_detection.go
  e2e/testcases/keyword_routing.go
  e2e/testcases/mcp_common.go
  e2e/testcases/pii_detection.go
  e2e/testcases/plugin_chain_execution.go
  e2e/testcases/retention_directive.go
  e2e/testcases/routing_fallback.go
Due: go-fmt

[Router] Update collectHostStatus to return dashboard status when router is unavailable (#2225)
  dashboard/backend/handlers/status_collectors.go
  dashboard/backend/handlers/status_collectors_test.go
Due: go-fmt

[Router] preserve structured system-message content in system_prompt insert mode (#2127)
  src/semantic-router/pkg/extproc/req_filter_sys_prompt.go
  src/semantic-router/pkg/extproc/system_prompt_structured_content_test.go
Due: go-fmt

[Dashboard][CI/Build][Docs] Generate dashboard status version automatically (#2235)
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
  dashboard/README.md
  dashboard/backend/Dockerfile
  dashboard/backend/handlers/status_modes.go
  dashboard/backend/handlers/status_version.go
  dashboard/backend/handlers/status_version_test.go
  src/vllm-sr/Makefile
  tools/ci/docker-build-args.sh
  tools/make/dashboard.mk
  tools/make/docker.mk
  website/docs/installation/upgrade-rollback.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/upgrade-rollback.md
  website/versioned_docs/version-v0.3/installation/upgrade-rollback.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Router] v0.4 headers: merge response-quality warnings into x-vsr-response-warnings (#2230)
  dashboard/frontend/src/components/HeaderDisplay.tsx
  dashboard/frontend/src/components/HeaderReveal.tsx
  dashboard/frontend/src/components/chatRequestSupport.ts
  src/semantic-router/pkg/extproc/hallucination_test.go
  src/semantic-router/pkg/extproc/processor_res_body_pipeline.go
  src/semantic-router/pkg/extproc/processor_res_body_pipeline_test.go
  src/semantic-router/pkg/extproc/res_filter_hallucination.go
  src/semantic-router/pkg/extproc/res_filter_jailbreak.go
  src/semantic-router/pkg/extproc/res_filter_jailbreak_test.go
  src/semantic-router/pkg/extproc/res_filter_response_warnings_test.go
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/headers/headers_test.go
  website/docs/troubleshooting/vsr-headers.md
Due: go-fmt, md-fmt

feat(cli): add completion install subcommand for automatic setup
  install.sh
  src/vllm-sr/cli/commands/completion.py
  src/vllm-sr/tests/test_completion_command.py
Due: none

[Router] add grounding.policy lever to fusion config
  src/semantic-router/pkg/config/fusion_config.go
Due: go-fmt

[Router] soft-weight grounding instead of hard-dropping panel responses
  src/semantic-router/pkg/looper/fusion.go
  src/semantic-router/pkg/looper/grounding.go
  src/semantic-router/pkg/looper/grounding_live_test.go
  src/semantic-router/pkg/looper/grounding_test.go
Due: go-fmt

[CLI] mirror grounding.policy validation in vllm-sr
  src/vllm-sr/cli/algorithms.py
  src/vllm-sr/tests/test_algorithm_config.py
Due: none

[Docs] document grounding.policy and the soft-weight default
  config/config.yaml
  website/docs/proposals/deliberation-algorithms.md
  website/docs/tutorials/algorithm/looper/fusion.md
Due: md-fmt, yaml-and-yml-fmt

[Bench] parameterize grounded-fusion harness by grounding policy
  bench/grounded_fusion/FINDINGS.md
  bench/grounded_fusion/README.md
  bench/grounded_fusion/make_configs.py
Due: md-fmt

[Docs] explain why fusion works and what the consistency score is not
  website/docs/proposals/deliberation-algorithms.md
Due: md-fmt

[Router] stop request_params strip_unknown from dropping valid request fields
  src/semantic-router/pkg/extproc/req_filter_request_params.go
  src/semantic-router/pkg/extproc/request_params_strip_allowlist_test.go
Due: go-fmt

[Router] cap max_completion_tokens with max_tokens_limit
  src/semantic-router/pkg/extproc/req_filter_request_params.go
  src/semantic-router/pkg/extproc/req_filter_request_params_test.go
Due: go-fmt

[Router] Soft-weight grounding-aware Fusion instead of hard-dropping panel responses (#2256)
  bench/grounded_fusion/FINDINGS.md
  bench/grounded_fusion/README.md
  bench/grounded_fusion/make_configs.py
  config/config.yaml
  src/semantic-router/pkg/config/fusion_config.go
  src/semantic-router/pkg/looper/fusion.go
  src/semantic-router/pkg/looper/grounding.go
  src/semantic-router/pkg/looper/grounding_live_test.go
  src/semantic-router/pkg/looper/grounding_test.go
  src/vllm-sr/cli/algorithms.py
  src/vllm-sr/tests/test_algorithm_config.py
  website/docs/proposals/deliberation-algorithms.md
  website/docs/tutorials/algorithm/looper/fusion.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Bindings] Implement causal masking in the chunked-SDPA kernel (#2159)
  candle-binding/src/model_architectures/attention/chunked_sdpa.rs
  candle-binding/src/model_architectures/attention/chunked_sdpa_test.rs
  candle-binding/src/model_architectures/attention/mod.rs
Due: cargo-fmt, cargo-check

Clarify router learning follow-up roadmap
  website/docs/proposals/router-learning-memory-and-adaptations.md
Due: md-fmt

[Router] honor CachedPanel short-circuit in executeFusionPanel
  src/semantic-router/pkg/looper/fusion.go
Due: go-fmt

[Router] add optional CachedPanel field to looper Request
  src/semantic-router/pkg/looper/looper.go
Due: go-fmt

[Router] tests for CachedPanel seam + B/C/D arm isolation
  src/semantic-router/pkg/looper/fusion_cached_panel_test.go
Due: go-fmt

[Bench] tests for multi-arm verdict logic
  bench/grounded_fusion/test_compare_multiarm.py
Due: none

[Bench] add generic rubric-graded JSONL loader (context-mode dataset seam)
  bench/grounded_fusion/datasets.py
  bench/grounded_fusion/test_grounded_fusion.py
Due: none

[Bench] add items dumper + grade-only mode reading answers from disk
  bench/grounded_fusion/grade_only.py
  bench/grounded_fusion/items.py
Due: none

[Bench] add fusioneval driver: cache panel once, run arms A-D with real NLI
  src/semantic-router/cmd/fusioneval/main.go
Due: go-fmt

[Bench] add multi-arm paired comparison + pre-registered KEEP/KILL verdict
  bench/grounded_fusion/compare_multiarm.py
Due: none

[Bench] docs: cached-panel multi-arm run sequence + decision rule
  bench/grounded_fusion/README.md
Due: md-fmt

[Router] gate router-learning header tests on x-vsr-debug
  src/semantic-router/pkg/extproc/processor_res_header_mutation_test.go
Due: go-fmt

[Router] validate memory similarity_threshold range
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_memory.go
  src/semantic-router/pkg/config/validator_memory_test.go
Due: go-fmt

[Router] Add CachedPanel seam for paired multi-arm fusion evaluation (#2259)
  src/semantic-router/pkg/looper/fusion.go
  src/semantic-router/pkg/looper/fusion_cached_panel_test.go
  src/semantic-router/pkg/looper/looper.go
Due: go-fmt

[Bench] Cached-panel paired multi-arm fusion evaluator (stacked on #2259) (#2260)
  bench/grounded_fusion/README.md
  bench/grounded_fusion/compare_multiarm.py
  bench/grounded_fusion/datasets.py
  bench/grounded_fusion/grade_only.py
  bench/grounded_fusion/items.py
  bench/grounded_fusion/test_compare_multiarm.py
  bench/grounded_fusion/test_grounded_fusion.py
  src/semantic-router/cmd/fusioneval/main.go
Due: go-fmt, md-fmt

[Router] redact resolved upstream credentials from JSON config introspection (#2119)
  src/semantic-router/pkg/apiserver/info_classifier_redaction_test.go
  src/semantic-router/pkg/config/model_config_types.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
