Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

[Docs] Show built-in catalog providers on the README
  README.md
Due: md-fmt

Added latest paths in endpoints fixes format issues
  src/semantic-router/pkg/apiserver/route_embeddings.go
  src/semantic-router/pkg/services/classification_security.go
Due: go-fmt

[CI/Build] Build the perf module against current router APIs and guard its go.mod in check-go-mod-tidy (#3774)
  perf/benchmarks/cache_bench_test.go
  perf/go.mod
  perf/go.sum
  perf/pkg/benchmark/alloc_gate_test.go
  perf/pkg/benchmark/baseline.go
  perf/pkg/benchmark/report.go
  perf/pkg/benchmark/threshold_test.go
  perf/pkg/profiler/profiler.go
  tools/linter/codespell/.codespell.ignorewords
  tools/make/golang.mk
Due: go-fmt

[Bug] Own prepared embeddings on the router and stop treating default card capabilities as declarations
  src/semantic-router/pkg/config/canonical_catalog.go
  src/semantic-router/pkg/config/canonical_catalog_capabilities_test.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_build_embeddings_test.go
Due: go-fmt

[Bug] Point the Presidio dataset download at the renamed branch
  e2e/scripts/generate_test_data.py
  src/training/model_classifier/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
  src/training/model_experiment/multitask_bert_fine_tuning/multitask_bert_training.py
  src/training/model_experiment/multitask_wiki_classifier_training.py
  tools/linter/python/.ruff.toml
Due: none

fix(ci): publish images from main
  .github/workflows/main.yml
  src/vllm-sr/Dockerfile
Due: yaml-and-yml-fmt

fix(ci): tidy perf sum and align zh-Hans fallback docs
  perf/go.sum
  src/semantic-router/pkg/config/docs_contract_test.go
Due: go-fmt

ci: retry Helm dependency downloads
  tools/make/helm.mk
Due: none

[Feature] Run history reset on every supported request path
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/req_filter_history_reset.go
  src/semantic-router/pkg/extproc/req_filter_history_reset_paths_test.go
  src/semantic-router/pkg/extproc/req_filter_history_reset_responses.go
  src/semantic-router/pkg/extproc/req_filter_looper_internal.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/historyreset/policy.go
  src/semantic-router/pkg/historyreset/protocol_test.go
  src/semantic-router/pkg/historyreset/step.go
  website/docs/tutorials/plugin/history-reset.md
Due: go-fmt, md-fmt

Bound recovery encoding work and scope protection guarantees
  src/semantic-router/pkg/extproc/req_filter_history_reset_paths_test.go
  src/semantic-router/pkg/extproc/router_build_history_reset_test.go
  src/semantic-router/pkg/historyreset/recovery.go
  src/semantic-router/pkg/historyreset/recovery_test.go
  website/docs/tutorials/plugin/history-reset.md
Due: go-fmt, md-fmt

Drop a vacuous store assertion from the sizing-refusal test
  src/semantic-router/pkg/historyreset/recovery_test.go
Due: go-fmt

[Feature] Add a route-local history-reset context action
  config/config.yaml
  config/fragments/plugin/history-reset/topic-change.yaml
  dashboard/frontend/src/lib/dslCapabilityPluginSchemas.test.ts
  dashboard/frontend/src/lib/dslCapabilityPluginSchemas.ts
  dashboard/frontend/src/pages/topology/constants.ts
  dashboard/frontend/src/types/config.ts
  deploy/helm/semantic-router/crds/vllm.ai_intelligentroutes.yaml
  deploy/kubernetes/crds/vllm.ai_intelligentroutes.yaml
  e2e/pkg/testmatrix/testcases.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/testcases/history_reset_negative.go
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/types_route.go
  src/semantic-router/pkg/config/docs_contract_algorithm_plugin_test.go
  src/semantic-router/pkg/config/history_reset_config.go
  src/semantic-router/pkg/config/history_reset_config_test.go
  src/semantic-router/pkg/config/routing_surface_catalog.go
  src/semantic-router/pkg/config/validator_history_reset.go
  src/semantic-router/pkg/config/validator_plugin.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  src/semantic-router/pkg/dsl/compiler_plugin_configs.go
  src/semantic-router/pkg/dsl/decompiler_plugin_config_test.go
  src/semantic-router/pkg/dsl/decompiler_plugin_emit.go
  src/semantic-router/pkg/dsl/decompiler_plugin_fields.go
  src/semantic-router/pkg/dsl/parser.go
  src/semantic-router/pkg/extproc/processor_req_body_context_plan.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/recorder_route_diagnostics.go
  src/semantic-router/pkg/extproc/req_filter_history_reset.go
  src/semantic-router/pkg/extproc/req_filter_history_reset_test.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/historyreset/action_test.go
  src/semantic-router/pkg/historyreset/plan.go
  src/semantic-router/pkg/historyreset/plan_test.go
  src/semantic-router/pkg/historyreset/policy.go
  src/semantic-router/pkg/historyreset/step.go
  src/semantic-router/pkg/routerreplay/store/store.go
  website/docs/tutorials/plugin/history-reset.md
  website/sidebars.ts
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Bound history-reset evaluation and release rejected routers
  src/semantic-router/pkg/extproc/req_filter_history_reset.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_build_history_reset.go
  src/semantic-router/pkg/extproc/router_build_history_reset_test.go
  src/semantic-router/pkg/historyreset/policy.go
  src/semantic-router/pkg/historyreset/recovery.go
  src/semantic-router/pkg/historyreset/recovery_test.go
  src/semantic-router/pkg/historyreset/step.go
  website/docs/tutorials/plugin/history-reset.md
Due: go-fmt, md-fmt

Fail closed on encoding shapes the recovery sizer cannot measure
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_build_history_reset_test.go
  src/semantic-router/pkg/historyreset/recovery.go
  src/semantic-router/pkg/historyreset/recovery_test.go
Due: go-fmt

Cover the recovery sizing refusal instead of asserting the opposite
  src/semantic-router/pkg/historyreset/recovery.go
  src/semantic-router/pkg/historyreset/recovery_test.go
Due: go-fmt

[Feature] Bind history reset to typed evidence and recoverable removal
  src/semantic-router/pkg/config/history_reset_config_test.go
  src/semantic-router/pkg/config/validator_decision.go
  src/semantic-router/pkg/config/validator_history_reset.go
  src/semantic-router/pkg/extproc/context_compression_runtime.go
  src/semantic-router/pkg/extproc/context_recovery_settings.go
  src/semantic-router/pkg/extproc/context_recovery_settings_test.go
  src/semantic-router/pkg/extproc/processor_req_body_context_plan.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/processor_res_context_recovery.go
  src/semantic-router/pkg/extproc/req_filter_context_compression.go
  src/semantic-router/pkg/extproc/req_filter_context_compression_test.go
  src/semantic-router/pkg/extproc/req_filter_context_recovery_tool.go
  src/semantic-router/pkg/extproc/req_filter_history_reset.go
  src/semantic-router/pkg/extproc/req_filter_history_reset_recovery.go
  src/semantic-router/pkg/extproc/req_filter_history_reset_recovery_test.go
  src/semantic-router/pkg/extproc/req_filter_history_reset_test.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/historyreset/policy.go
  src/semantic-router/pkg/historyreset/recovery.go
  src/semantic-router/pkg/historyreset/recovery_test.go
  src/semantic-router/pkg/historyreset/step.go
  src/semantic-router/pkg/observability/metrics/history_reset_metrics.go
  src/semantic-router/pkg/observability/metrics/history_reset_metrics_test.go
  website/docs/tutorials/plugin/history-reset.md
Due: go-fmt, md-fmt

Enforce history-reset failure modes and evidence identity
  src/semantic-router/pkg/config/history_reset_config.go
  src/semantic-router/pkg/config/history_reset_config_test.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_history_reset.go
  src/semantic-router/pkg/extproc/processor_history_reset_replay_test.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/req_filter_history_reset.go
  src/semantic-router/pkg/extproc/req_filter_history_reset_paths_test.go
  src/semantic-router/pkg/extproc/req_filter_history_reset_recovery.go
  src/semantic-router/pkg/extproc/req_filter_history_reset_recovery_test.go
  src/semantic-router/pkg/extproc/req_filter_history_reset_responses.go
  src/semantic-router/pkg/extproc/req_filter_history_reset_test.go
  src/semantic-router/pkg/historyreset/action_test.go
  src/semantic-router/pkg/historyreset/plan.go
  src/semantic-router/pkg/historyreset/plan_test.go
  src/semantic-router/pkg/historyreset/policy.go
  src/semantic-router/pkg/historyreset/recovery_test.go
  src/semantic-router/pkg/historyreset/step.go
  src/semantic-router/pkg/routerreplay/store/store.go
  website/docs/tutorials/plugin/history-reset.md
Due: go-fmt, md-fmt

Size recovery payloads exactly before encoding them
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_build_history_reset_test.go
  src/semantic-router/pkg/historyreset/recovery.go
  src/semantic-router/pkg/historyreset/recovery_test.go
  website/docs/tutorials/plugin/history-reset.md
Due: go-fmt, md-fmt

Bound history-reset recovery payloads by their encoded size
  src/semantic-router/pkg/historyreset/recovery.go
  src/semantic-router/pkg/historyreset/recovery_test.go
  src/semantic-router/pkg/historyreset/step.go
Due: go-fmt

Add the history-reset trigger seam and one recovery contract
  config/config.yaml
  config/fragments/plugin/history-reset/topic-change.yaml
  e2e/profiles/ai-gateway/values.yaml
  src/semantic-router/pkg/config/history_reset_config.go
  src/semantic-router/pkg/config/history_reset_config_test.go
  src/semantic-router/pkg/config/validator_history_reset.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  src/semantic-router/pkg/extproc/context_recovery_settings.go
  src/semantic-router/pkg/extproc/req_filter_history_reset.go
  src/semantic-router/pkg/extproc/req_filter_history_reset_paths_test.go
  src/semantic-router/pkg/extproc/req_filter_history_reset_recovery_test.go
  src/semantic-router/pkg/extproc/req_filter_history_reset_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_build_history_reset.go
  src/semantic-router/pkg/extproc/router_build_history_reset_test.go
  src/semantic-router/pkg/historyreset/plan.go
  src/semantic-router/pkg/historyreset/plan_test.go
  src/semantic-router/pkg/historyreset/policy.go
  src/semantic-router/pkg/historyreset/step.go
  src/semantic-router/pkg/historyreset/trigger.go
  website/docs/tutorials/plugin/history-reset.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Remove test-only helpers, dead encoder, and transitional comments
  e2e/testcases/history_reset_negative.go
  src/semantic-router/pkg/config/history_reset_config.go
  src/semantic-router/pkg/config/history_reset_config_test.go
  src/semantic-router/pkg/config/validator_history_reset.go
  src/semantic-router/pkg/extproc/context_recovery_settings.go
  src/semantic-router/pkg/extproc/req_filter_context_recovery_tool.go
  src/semantic-router/pkg/extproc/req_filter_history_reset.go
  src/semantic-router/pkg/extproc/router_build_history_reset.go
  src/semantic-router/pkg/extproc/router_build_history_reset_test.go
  src/semantic-router/pkg/historyreset/action_test.go
  src/semantic-router/pkg/historyreset/plan.go
  src/semantic-router/pkg/historyreset/plan_test.go
  src/semantic-router/pkg/historyreset/recovery.go
Due: go-fmt

Use the canonical signal lookup and keep the planner internal
  src/semantic-router/pkg/config/history_reset_config.go
  src/semantic-router/pkg/config/history_reset_config_test.go
  src/semantic-router/pkg/config/validator_history_reset.go
  src/semantic-router/pkg/extproc/router_build_history_reset.go
  src/semantic-router/pkg/historyreset/plan.go
  src/semantic-router/pkg/historyreset/plan_test.go
  src/semantic-router/pkg/historyreset/recovery_test.go
  src/semantic-router/pkg/historyreset/step.go
Due: go-fmt

Regenerate the website configuration catalog for history_reset
  website/docs/installation/configuration.md
Due: md-fmt

fix: gci import grouping in circuit_breaker_test.go
  src/semantic-router/pkg/classification/circuit_breaker_test.go
Due: go-fmt

[Test] Drop restored zh-Hans translations from the fallback-only docs list
  src/semantic-router/pkg/config/docs_contract_test.go
Due: go-fmt

[Router] drop agent-tools doc reference from KV header comment
  src/semantic-router/pkg/headers/headers.go
Due: go-fmt

[Router] add cross-model KV transfer wire headers (#2976)
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/headers/headers_test.go
  website/docs/troubleshooting/vsr-headers.md
Due: go-fmt, md-fmt

[Docs] Align restored zh-Hans translation contract
  src/semantic-router/pkg/config/docs_contract_test.go
Due: go-fmt

Feed the evidence window from the response path and outcome ingest
  config/config.yaml
  src/semantic-router/pkg/config/loader.go
  src/semantic-router/pkg/extproc/router_learning_outcome_ingest.go
  src/semantic-router/pkg/extproc/session_evidence_capture.go
  src/semantic-router/pkg/extproc/session_evidence_capture_test.go
  src/semantic-router/pkg/extproc/session_telemetry.go
Due: go-fmt, yaml-and-yml-fmt

fix: resolve read/write key mismatch
  src/semantic-router/pkg/extproc/router_learning_helpers.go
  src/semantic-router/pkg/extproc/router_learning_progress_gate.go
  src/semantic-router/pkg/extproc/router_learning_progress_gate_test.go
Due: go-fmt

Gate proposed session switches on recent-outcome evidence
  src/semantic-router/pkg/extproc/router_learning_progress_gate.go
  src/semantic-router/pkg/extproc/router_learning_progress_gate_replay_test.go
  src/semantic-router/pkg/extproc/router_learning_progress_gate_test.go
  src/semantic-router/pkg/extproc/router_learning_protection.go
  src/semantic-router/pkg/extproc/session_evidence_capture.go
  src/semantic-router/pkg/selection/session_policy_trace.go
  src/semantic-router/pkg/selection/session_switch_gate.go
Due: go-fmt

Add calibrated progress evidence and the session switch gate
  src/semantic-router/pkg/config/learning_config.go
  src/semantic-router/pkg/config/progress_gate_config_test.go
  src/semantic-router/pkg/config/validator_learning.go
  src/semantic-router/pkg/selection/session_progress_evidence.go
  src/semantic-router/pkg/selection/session_switch_gate.go
  src/semantic-router/pkg/selection/session_switch_gate_test.go
  src/semantic-router/pkg/sessiontelemetry/session_evidence.go
Due: go-fmt

Order the outcome window by event time and prune all expired evidence
  src/semantic-router/pkg/sessiontelemetry/session_evidence.go
  src/semantic-router/pkg/sessiontelemetry/session_evidence_test.go
Due: go-fmt

fix(selection): use catalog evidence for switch direction
  src/semantic-router/pkg/extproc/router_learning_protection.go
  src/semantic-router/pkg/selection/session_progress_gate_test.go
  src/semantic-router/pkg/selection/session_switch_gate.go
Due: go-fmt

Count windowed switches and merge same-turn evidence
  src/semantic-router/pkg/extproc/router_learning_progress_gate.go
  src/semantic-router/pkg/extproc/router_learning_progress_gate_test.go
  src/semantic-router/pkg/extproc/session_evidence_capture.go
  src/semantic-router/pkg/sessiontelemetry/router_memory.go
  src/semantic-router/pkg/sessiontelemetry/router_memory_shared_store.go
  src/semantic-router/pkg/sessiontelemetry/router_memory_test.go
  src/semantic-router/pkg/sessiontelemetry/session_evidence.go
  src/semantic-router/pkg/sessiontelemetry/session_evidence_test.go
  tools/agent/docs/plans/pl-0043-evidence-calibrated-session-switch-gate.md
  website/docs/tutorials/learning/protection.md
Due: go-fmt, md-fmt

Add bounded recent-outcome window for session switch gating
  .gitignore
  src/semantic-router/pkg/sessiontelemetry/router_memory.go
  src/semantic-router/pkg/sessiontelemetry/router_memory_shared_store.go
  src/semantic-router/pkg/sessiontelemetry/session_evidence.go
  src/semantic-router/pkg/sessiontelemetry/session_evidence_test.go
Due: go-fmt

bug fix
  src/semantic-router/pkg/extproc/router_learning_progress_gate.go
  src/semantic-router/pkg/extproc/router_learning_progress_gate_replay_test.go
  src/semantic-router/pkg/extproc/router_learning_progress_gate_test.go
  src/semantic-router/pkg/extproc/router_learning_protection.go
Due: go-fmt

feat(config): validate versioned progress gate policies
  config/config.yaml
  src/semantic-router/pkg/config/learning_config.go
  src/semantic-router/pkg/config/loader.go
  src/semantic-router/pkg/config/progress_gate_test.go
  src/semantic-router/pkg/config/validator_learning.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
Due: go-fmt, yaml-and-yml-fmt

add doc
  tools/agent/docs/plans/pl-0043-evidence-calibrated-session-switch-gate.md
  website/docs/tutorials/learning/protection.md
Due: md-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
