Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

[Bug] Respect minimal tracing mode without corrupting active configuration (#3829)
  src/vllm-sr/cli/commands/runtime_observability.py
  src/vllm-sr/cli/commands/runtime_paths.py
  src/vllm-sr/cli/commands/runtime_serve_config.py
  src/vllm-sr/cli/core.py
  src/vllm-sr/tests/test_runtime_observability.py
  src/vllm-sr/tests/test_runtime_stack_naming.py
  src/vllm-sr/tests/test_split_runtime_backend_provisioning.py
  src/vllm-sr/tests/test_split_runtime_stack.py
Due: none

test: sync Dashboard receipt with bounded Vault probes
  dashboard/backend/recipe/service_fixture_materialization_test.go
Due: go-fmt

fix: require explicit catalog binding for reasoning validation (#3821)
  src/vllm-sr/cli/validator_reasoning.py
  src/vllm-sr/tests/test_reasoning_controls.py
Due: none

fix: report base selection failures before deferring preview (#3824)
  src/semantic-router/pkg/extproc/eval_model_selection.go
  src/semantic-router/pkg/extproc/eval_model_selection_test.go
Due: go-fmt

[Bug] Run Qwen3 and Gemma3 embedding forward in f32 (#3764)
  candle-binding/src/model_architectures/embedding/gemma3_model.rs
  candle-binding/src/model_architectures/embedding/qwen3_embedding.rs
Due: cargo-fmt, cargo-check

test(sticky): preserve provider-visible tool bytes
  src/semantic-router/pkg/extproc/req_filter_tools_generation.go
  src/semantic-router/pkg/extproc/req_filter_tools_generation_test.go
Due: go-fmt

test(extproc): give workflow reload tests a real config file
  src/semantic-router/pkg/extproc/server_workflow_lifecycle_test.go
Due: go-fmt

fix(classification): parse final JSON after reasoning blocks
  e2e/profiles/ai-gateway/manifests/mock-sequence-classifier.yaml
  e2e/testcases/llm_classifier_distribution_routing.go
  src/semantic-router/pkg/classification/generic_classifier.go
  src/semantic-router/pkg/classification/generic_classifier_llm_test.go
Due: go-fmt, yaml-and-yml-fmt

fix: preserve fused CPU attention during key-block integration
  candle-binding/src/model_architectures/attention/chunked_sdpa.rs
  candle-binding/src/model_architectures/attention/chunked_sdpa_test.rs
  tools/make/rust.mk
Due: cargo-fmt, cargo-check

[Feature] Keep the online softmax finite and accumulate half precision in f32
  candle-binding/src/model_architectures/attention/chunked_sdpa.rs
  candle-binding/src/model_architectures/attention/chunked_sdpa_test.rs
  tools/make/rust.mk
Due: cargo-fmt, cargo-check

[Feature] Block keys in chunked_sdpa with an online softmax
  candle-binding/src/model_architectures/attention/chunked_sdpa.rs
  candle-binding/src/model_architectures/attention/chunked_sdpa_test.rs
Due: cargo-fmt, cargo-check

fix: run static global validators on Kubernetes startup, not just after CRD merge
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_kubernetes_startup_test.go
  src/semantic-router/pkg/config/validator_test.go
  src/semantic-router/pkg/k8s/reconciler.go
Due: go-fmt

[Feature] Block keys in chunked_sdpa with an online softmax (#3763)
  candle-binding/src/model_architectures/attention/chunked_sdpa.rs
  candle-binding/src/model_architectures/attention/chunked_sdpa_test.rs
  tools/make/rust.mk
Due: cargo-fmt, cargo-check

fix: make CI green for the ConfigMap write path
  dashboard/backend/Dockerfile
  dashboard/backend/entrypoint.sh
  dashboard/backend/go.mod
  dashboard/backend/go.sum
  dashboard/backend/handlers/model_catalog_container_contract_test.go
  dashboard/backend/handlers/runtime_config_apply.go
  dashboard/backend/handlers/runtime_config_apply_atomic_write_test.go
  deploy/openshift/dashboard/dashboard-deployment.yaml
  src/semantic-router/go.mod
  src/semantic-router/pkg/apiserver/route_router_config_atomic_write_test.go
  src/semantic-router/pkg/apiserver/route_router_config_update.go
  src/semantic-router/pkg/k8s/configwriter/configmap_writer.go
  src/semantic-router/pkg/k8s/configwriter/configmap_writer_test.go
Due: go-fmt, yaml-and-yml-fmt

feat(modelruntime): finalize immutable compatibility evidence
  src/semantic-router/cmd/modelcompat/main.go
  src/semantic-router/cmd/modelcompat/main_integration_test.go
  src/semantic-router/cmd/modelcompat/main_test.go
  src/semantic-router/cmd/modelcompat/make_test.go
  src/semantic-router/pkg/modelruntime/compatibility/conformance.go
  src/semantic-router/pkg/modelruntime/compatibility/conformance_test.go
  src/semantic-router/pkg/modelruntime/compatibility/receipt.go
  src/semantic-router/pkg/modelruntime/compatibility/receipt_integrity_test.go
  src/semantic-router/pkg/modelruntime/compatibility/receipt_test.go
  src/semantic-router/pkg/modelruntime/compatibility/testdata/local-candle-cpu-v1.json
  tools/make/models.mk
Due: go-fmt

fix(modelcompat): satisfy current Go lint checks
  src/semantic-router/cmd/modelcompat/main_integration_test.go
  src/semantic-router/cmd/modelcompat/main_test.go
  src/semantic-router/pkg/modelruntime/compatibility/artifact.go
  src/semantic-router/pkg/modelruntime/compatibility/artifact_test.go
  src/semantic-router/pkg/modelruntime/compatibility/conformance.go
  src/semantic-router/pkg/modelruntime/compatibility/qualification_suite.go
  src/semantic-router/pkg/modelruntime/compatibility/receipt_integrity_test.go
Due: go-fmt

fix(modelcompat): reuse shared native build environment
  tools/make/models.mk
Due: none

fix(router): pin supported linux/386 target in 32-bit compile gate and add darwin regression test
  candle-binding/validation_test.go
Due: go-fmt

[CI/Build] Add unassign-inactive-assignees workflow (#3429)
  .github/scripts/__tests__/unassign-inactive.test.js
  .github/scripts/package-lock.json
  .github/scripts/package.json
  .github/scripts/unassign-inactive.js
  .github/workflows/maintenance.yml
  .github/workflows/unassign-inactive-assignees.yml
  .pre-commit-config.yaml
  tools/agent/docs/maintainer-ops.md
Due: md-fmt, yaml-and-yml-fmt, js-lint

fix: report the Kubernetes ConfigMap write honestly, not as "active"
  src/semantic-router/pkg/apiserver/kb_generation_test.go
  src/semantic-router/pkg/apiserver/kb_persistence.go
  src/semantic-router/pkg/apiserver/route_config_deploy.go
  src/semantic-router/pkg/apiserver/route_config_deploy_test.go
  src/semantic-router/pkg/apiserver/route_kbs.go
  src/semantic-router/pkg/apiserver/route_router_config_atomic_write_test.go
  src/semantic-router/pkg/apiserver/route_router_config_update.go
  src/semantic-router/pkg/k8s/configwriter/configmap_writer.go
  src/semantic-router/pkg/k8s/configwriter/configmap_writer_test.go
Due: go-fmt

fix: tidy perf/go.sum for the k8s deps CI's go1.25.14 pulls in
  perf/go.sum
Due: none

[Docs] Keep generated references in sync and improve API docs
  .github/workflows/operator-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test-and-build.yml
  .pre-commit-config.yaml
  tools/agent/docs/change-surfaces.md
  tools/agent/domains.yaml
  tools/agent/requirements.txt
  tools/ci/tests/test_agent_make_contract.py
  tools/ci/tests/test_domain_registry.py
  tools/ci/tests/test_kubernetes_generated_contracts.py
  tools/docs/generate_cli_reference.py
  tools/docs/requirements.txt
  tools/docs/tests/test_generate_cli_reference.py
  tools/make/agent.mk
  tools/make/docs.mk
  tools/make/golang.mk
  tools/make/model-catalog.mk
  website/docs/api/cli.md
  website/docs/api/crd-reference.md
  website/docs/community/documentation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/community/documentation.md
  website/package.json
  website/requirements.txt
  website/scripts/check-generated.mjs
  website/scripts/generate-committer-activity.mjs
  website/scripts/generate-contributor-rank.mjs
  website/scripts/lib/generated-source.mjs
  website/scripts/lib/generated-source.test.mjs
  website/sidebars.ts
  website/src/components/OpenAPIReference/index.tsx
  website/src/components/OpenAPIReference/styles.module.css
  website/src/data/committerActivity.generated.ts
  website/src/data/contributorRank.generated.ts
Due: md-fmt, yaml-and-yml-fmt

[Bug] Provision Python dependencies for root website builds
  tools/ci/tests/test_agent_make_contract.py
  tools/docs/generate_cli_reference.py
  tools/docs/tests/test_docs_build.py
  tools/docs/tests/test_generate_cli_reference.py
  tools/make/docs.mk
  website/README.md
  website/scripts/check-generated.mjs
Due: md-fmt

[Bug] Reuse documentation Python for aggregate catalog checks
  tools/docs/tests/test_docs_build.py
  tools/make/docs.mk
Due: none

[Feature] Add offline contracts for fixed-budget Looper benchmarks (#3684)
  bench/looper_tts/README.md
  bench/looper_tts/__init__.py
  bench/looper_tts/__main__.py
  bench/looper_tts/config.py
  bench/looper_tts/fixture.py
  bench/looper_tts/plan.py
  bench/looper_tts/records.py
  bench/looper_tts/test_contracts.py
  bench/looper_tts/test_evidence_integrity.py
  bench/looper_tts/testdata/synthetic.json
  bench/looper_tts/validation.py
  bench/pyproject.toml
  tools/agent/docs/plans/pl-0042-looper-tts-benchmark.md
Due: md-fmt

fix: validate partial provider cache usage totals
  src/semantic-router/pkg/llmprotocol/validate_response.go
  src/semantic-router/pkg/llmprotocol/validate_test.go
  src/semantic-router/pkg/protocolcodec/provider_cache_usage_test.go
Due: go-fmt

fix(router): resolve gocritic appendAssign and import formatting in candle-binding
  candle-binding/semantic-router.go
  candle-binding/validation_test.go
Due: go-fmt

[CI/Build] Smoke Candle CPU classifiers and the router process on RISC-V QEMU
  .github/workflows/ci-changes.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .github/workflows/riscv-qemu.yml
  candle-binding/classifier_context.go
  candle-binding/classifier_context_mock.go
  candle-binding/classifier_parity_test.go
  candle-binding/instances_backbone_test.go
  candle-binding/instances_descriptor_test.go
  candle-binding/instances_descriptor_unavailable_test.go
  candle-binding/instances_native.go
  candle-binding/instances_native_test.go
  candle-binding/instances_pairs_native.go
  candle-binding/instances_pairs_test.go
  candle-binding/instances_pairs_unavailable.go
  candle-binding/instances_scores_native.go
  candle-binding/instances_scores_test.go
  candle-binding/instances_scores_unavailable.go
  candle-binding/instances_unavailable.go
  candle-binding/native_classifier_link_test.go
  candle-binding/semantic-router.go
  candle-binding/semantic-router_test.go
  e2e/config/config.riscv-qemu.yaml
  ml-binding/ml_binding.go
  ml-binding/ml_binding_unavailable.go
  nlp-binding/nlp_binding_mock.go
  src/semantic-router/pkg/modeldownload/config_parser_test.go
  tools/agent/domains.yaml
  tools/ci/riscv-qemu-router-smoke.sh
  tools/ci/tests/test_pr_change_classifier.py
  tools/docker/check-native-abi.sh
  tools/make/build-run-test.mk
  tools/make/rust.mk
Due: go-fmt, yaml-and-yml-fmt

[Bug] Validate global config before Kubernetes startup (#3759)
  src/semantic-router/cmd/runtime_bootstrap_test.go
  src/semantic-router/pkg/config/classifier_backend.go
  src/semantic-router/pkg/config/classifier_backend_complexity.go
  src/semantic-router/pkg/config/model_deployments.go
  src/semantic-router/pkg/config/safety_signal.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_dispatch.go
  src/semantic-router/pkg/config/validator_dispatch_test.go
  src/semantic-router/pkg/config/validator_pii_backend.go
  src/semantic-router/pkg/config/validator_prompt_guard.go
  src/semantic-router/pkg/config/validator_test.go
  src/semantic-router/pkg/k8s/reconciler.go
  src/semantic-router/pkg/k8s/reconciler_embedding_modality_test.go
  website/docs/installation/configuration-contract.md
Due: go-fmt, md-fmt

[Bug] Search a long vector store query by every window
  src/semantic-router/pkg/apiserver/route_vectorstore_query_test.go
  src/semantic-router/pkg/apiserver/route_vectorstore_search.go
  src/semantic-router/pkg/embedding/options.go
  src/semantic-router/pkg/embedding/query_vectors.go
  src/semantic-router/pkg/embedding/query_vectors_test.go
  src/semantic-router/pkg/extproc/req_filter_rag_vectorstore.go
  src/semantic-router/pkg/extproc/req_filter_rag_vectorstore_query_test.go
  src/semantic-router/pkg/extproc/req_filter_rag_windowing.go
  src/semantic-router/pkg/extproc/req_filter_rag_windowing_test.go
  src/semantic-router/pkg/vectorstore/search_merge.go
  src/semantic-router/pkg/vectorstore/search_merge_test.go
Due: go-fmt

[Fix] Carry the selected runtime into the first-launch dashboard check
  install.sh
  src/vllm-sr/tests/install_runtime_harness.sh
  src/vllm-sr/tests/test_install_runtime_behavior.py
Due: none

[Docs] Keep generated references in sync and improve API docs (#3853)
  .github/workflows/operator-ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test-and-build.yml
  .pre-commit-config.yaml
  tools/agent/docs/change-surfaces.md
  tools/agent/domains.yaml
  tools/agent/requirements.txt
  tools/ci/tests/test_agent_make_contract.py
  tools/ci/tests/test_domain_registry.py
  tools/ci/tests/test_kubernetes_generated_contracts.py
  tools/docs/generate_cli_reference.py
  tools/docs/requirements.txt
  tools/docs/tests/test_docs_build.py
  tools/docs/tests/test_generate_cli_reference.py
  tools/make/agent.mk
  tools/make/docs.mk
  tools/make/golang.mk
  tools/make/model-catalog.mk
  website/README.md
  website/docs/api/cli.md
  website/docs/api/crd-reference.md
  website/docs/community/documentation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/community/documentation.md
  website/package.json
  website/requirements.txt
  website/scripts/check-generated.mjs
  website/scripts/generate-committer-activity.mjs
  website/scripts/generate-contributor-rank.mjs
  website/scripts/lib/generated-source.mjs
  website/scripts/lib/generated-source.test.mjs
  website/sidebars.ts
  website/src/components/OpenAPIReference/index.tsx
  website/src/components/OpenAPIReference/styles.module.css
  website/src/data/committerActivity.generated.ts
  website/src/data/contributorRank.generated.ts
Due: md-fmt, yaml-and-yml-fmt

[Feature] Hallucination detector adopts the shared token_spans.v1 span contract (#3854)
  src/semantic-router/pkg/apiserver/route_model_info_classifiers.go
  src/semantic-router/pkg/apiserver/route_model_info_test.go
  src/semantic-router/pkg/classification/classifier_fact_hallucination_lifecycle.go
  src/semantic-router/pkg/classification/hallucination_detector.go
  src/semantic-router/pkg/classification/hallucination_detector_endpoint.go
  src/semantic-router/pkg/classification/hallucination_detector_endpoint_test.go
  src/semantic-router/pkg/classification/hallucination_detector_http_classify_test.go
  src/semantic-router/pkg/classification/hallucination_detector_nli.go
  src/semantic-router/pkg/classification/http_classifier.go
  src/semantic-router/pkg/classification/http_token_classifier.go
  src/semantic-router/pkg/classification/http_token_classifier_generic_test.go
  src/semantic-router/pkg/config/hallucination_legacy_backend.go
  src/semantic-router/pkg/config/hallucination_legacy_backend_test.go
  src/semantic-router/pkg/config/model_deployments.go
  src/semantic-router/pkg/config/validator_hallucination.go
  src/semantic-router/pkg/modeldownload/named_recipe_test.go
  website/docs/installation/runtime/external.md
Due: go-fmt, md-fmt

test: cover configurable 32K encoder overflow policies
  src/semantic-router/pkg/modelruntime/native/owned_encoder_overflow_integration_test.go
  tools/make/rust.mk
  website/docs/installation/amd-rocm.md
  website/docs/installation/runtime/embeddings.md
  website/docs/installation/runtime/in-process.md
Due: go-fmt, md-fmt

docs: distinguish derived encoder artifacts from upstream snapshots
  website/docs/installation/runtime/in-process.md
Due: md-fmt
