Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

[Bug] Hash the semantic partition key to a fixed width
  src/semantic-router/pkg/cache/contracts.go
  src/semantic-router/pkg/cache/legacy_adapter_fingerprint_test.go
Due: go-fmt

[Bug] Assert the hashed semantic partition key in extproc tests
  src/semantic-router/pkg/extproc/processor_res_cache_test.go
  src/semantic-router/pkg/extproc/req_filter_cache_scope_test.go
Due: go-fmt

[Bug] Partition semantic cache by compatibility fingerprint
  src/semantic-router/pkg/cache/contracts.go
  src/semantic-router/pkg/cache/legacy_adapter.go
  src/semantic-router/pkg/cache/legacy_adapter_fingerprint_test.go
Due: go-fmt

feat: add reviewed bilingual Safety and Hazard contrasts
  src/training/model_classifier/safety_classifier/configs/hazard-boundary-contrasts-v1.json
  src/training/model_classifier/safety_classifier/tests/test_boundary_contrasts.py
  src/training/model_classifier/safety_classifier/tests/test_hazard_operating.py
  src/training/model_classifier/safety_classifier/tests/test_reviewed_supervision.py
  src/training/model_classifier/safety_classifier/vela_boundary_contrasts.py
Due: none

feat: select binary classifiers under an explicit false positive budget
  src/training/model_classifier/sequence_repair/README.md
  src/training/model_classifier/sequence_repair/selection.py
  src/training/model_classifier/sequence_repair/tests/test_selection.py
  src/training/model_classifier/sequence_repair/train.py
Due: md-fmt

fix: retire superseded ONNX exports during pinned model upgrades
  src/semantic-router/pkg/config/registry.go
  src/semantic-router/pkg/modeldownload/downloader.go
  src/semantic-router/pkg/modeldownload/hf_revision_metadata.go
  src/semantic-router/pkg/modeldownload/revision_upgrade.go
  src/semantic-router/pkg/modeldownload/revision_upgrade_test.go
Due: go-fmt

fix: preserve reviewed non-feedback requests in training corpora
  src/training/model_classifier/user_feedback_classifier/configs/vela-no-feedback-review-v3.json
  src/training/model_classifier/user_feedback_classifier/tests/test_natural_negatives.py
  src/training/model_classifier/user_feedback_classifier/vela_natural_negatives.py
Due: none

fix(runtime): anchor artifact reads to directory handles
  dashboard/backend/handlers/setup_runtime_realize_test.go
  src/semantic-router/pkg/modelruntime/native/runtime.go
  src/semantic-router/pkg/modelruntime/native/runtime_test.go
Due: go-fmt

fix: reuse identically configured Candle classifiers on initialization
  candle-binding/src/ffi/classifier_slot.rs
  candle-binding/src/ffi/init.rs
  candle-binding/src/ffi/mod.rs
Due: cargo-fmt, cargo-check

feat: align Feedback training with current-turn intent and answer quality
  src/training/model_classifier/user_feedback_classifier/configs/vela-answer-quality-families-v1.json
  src/training/model_classifier/user_feedback_classifier/configs/vela-current-turn-review-v1.json
  src/training/model_classifier/user_feedback_classifier/tests/test_answer_quality_contrasts.py
  src/training/model_classifier/user_feedback_classifier/tests/test_current_turn.py
  src/training/model_classifier/user_feedback_classifier/vela_answer_quality_contrasts.py
  src/training/model_classifier/user_feedback_classifier/vela_current_turn.py
Due: none

[Feature] Teach CLI tooling to read the decision-unresolved 503
  src/vllm-sr/cli/evaluation/evidence.py
  src/vllm-sr/cli/evaluation/routing_trace.py
  src/vllm-sr/cli/router_management_client.py
  src/vllm-sr/tests/test_router_management_client.py
  src/vllm-sr/tests/test_routing_trace.py
  tools/agent/scripts/tuning/client.py
  tools/agent/scripts/tuning/tests/test_client.py
Due: none

[Feature] Keep the online softmax finite and accumulate half precision in f32
  candle-binding/src/model_architectures/attention/chunked_sdpa.rs
  candle-binding/src/model_architectures/attention/chunked_sdpa_test.rs
  tools/make/rust.mk
Due: cargo-fmt, cargo-check

feat: train Safety on preserved context and explicit quotation intent
  src/training/model_classifier/safety_classifier/configs/vela-safety-context-v1.json
  src/training/model_classifier/safety_classifier/tests/test_hazard_evaluation_precision.py
  src/training/model_classifier/safety_classifier/tests/test_safety_context.py
  src/training/model_classifier/safety_classifier/train_vela_hazard.py
  src/training/model_classifier/safety_classifier/vela_safety_context.py
Due: none

Added ClassifyMmBert32KFeedbackWithProbs fixes
  onnx-binding/semantic-router.go
Due: go-fmt

fix: record effective classifier contracts in training provenance
  src/training/model_classifier/sequence_repair/tests/test_selection.py
  src/training/model_classifier/sequence_repair/train.py
Due: none

fix: parse Envoy upstream metadata attributes
  src/semantic-router/pkg/extproc/processor_backend_identity.go
  src/semantic-router/pkg/extproc/req_filter_dynamo_nvext_test.go
  src/vllm-sr/tests/test_config_generator.py
Due: go-fmt

[Bug] Support Dynamo nvext in Responses API
  src/semantic-router/pkg/llmprotocol/stream.go
  src/semantic-router/pkg/protocolcodec/codec_openai_responses.go
  src/semantic-router/pkg/protocolcodec/codec_openai_responses_encode.go
  src/semantic-router/pkg/protocolcodec/codec_openai_responses_response.go
  src/semantic-router/pkg/protocolcodec/dynamo_nvext_test.go
  src/semantic-router/pkg/protocolcodec/dynamo_nvext_wire.go
  src/semantic-router/pkg/protocolcodec/official_schema_inventory_test.go
  src/semantic-router/pkg/protocolcodec/stream_responses.go
  src/semantic-router/pkg/protocolcodec/stream_responses_decode.go
  src/semantic-router/pkg/protocolcodec/stream_responses_encode.go
  src/semantic-router/pkg/protocolcodec/stream_state.go
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/014-responses-official-request-fields-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/014-responses-official-request-fields-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/014-responses-official-request-fields-in.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/014-responses-official-request-fields-responses-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/017-responses-official-response-fields-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/017-responses-official-response-fields-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/017-responses-official-response-fields-in.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/017-responses-official-response-fields-responses-out.json
  tools/mock-vllm/schema_contract.json
Due: go-fmt

[Bug] Preserve Dynamo prompt token IDs
  e2e/testcases/dynamo_nvext_chat_contract.go
  src/semantic-router/pkg/llmprotocol/dynamo_nvext.go
  src/semantic-router/pkg/llmprotocol/dynamo_nvext_test.go
  src/semantic-router/pkg/protocolcodec/dynamo_nvext_test.go
  src/semantic-router/pkg/protocolcodec/dynamo_nvext_wire.go
  tools/mock-vllm/dynamo_contract.py
  tools/mock-vllm/tests/test_provider_contract.py
Due: go-fmt

fix: validate Dynamo nvext against selected backend
  src/semantic-router/pkg/extproc/processor_backend_identity.go
  src/semantic-router/pkg/extproc/processor_core.go
  src/semantic-router/pkg/extproc/processor_protocol_contract.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_res_semantic_stream.go
  src/semantic-router/pkg/extproc/req_filter_dynamo_nvext.go
  src/semantic-router/pkg/extproc/req_filter_dynamo_nvext_test.go
  src/semantic-router/pkg/extproc/req_filter_looper_internal.go
  src/semantic-router/pkg/extproc/request_context.go
  src/vllm-sr/cli/envoy_backend_pool.py
  src/vllm-sr/cli/templates/envoy.template.yaml
  src/vllm-sr/tests/test_config_generator.py
Due: go-fmt, yaml-and-yml-fmt

fix: read selected backend metadata as scalar attributes
  deploy/kubernetes/response-api/gwapi-resources.yaml
  src/semantic-router/pkg/extproc/processor_backend_identity.go
  src/semantic-router/pkg/extproc/req_filter_dynamo_nvext_test.go
  src/vllm-sr/cli/templates/envoy.template.yaml
  src/vllm-sr/tests/test_config_generator.py
Due: go-fmt, yaml-and-yml-fmt

fix: handle Dynamo request ID stream events
  src/semantic-router/pkg/extproc/processor_backend_identity.go
  src/semantic-router/pkg/extproc/req_filter_dynamo_nvext.go
  src/semantic-router/pkg/extproc/req_filter_dynamo_nvext_test.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/llmprotocol/stream.go
  src/semantic-router/pkg/protocolcodec/dynamo_nvext_test.go
  src/semantic-router/pkg/protocolcodec/stream_anthropic_opaque.go
  src/semantic-router/pkg/protocolcodec/stream_chat.go
  src/semantic-router/pkg/protocolcodec/stream_responses_encode.go
  src/semantic-router/pkg/protocolcodec/stream_state.go
Due: go-fmt

fix: validate Dynamo boundary before fast responses
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/req_filter_dynamo_nvext_test.go
  src/semantic-router/pkg/extproc/req_filter_looper_internal.go
Due: go-fmt

fix: preserve Dynamo backend type after config rebase
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_config_generator.py
Due: none

fix: gate effective Dynamo shadow state
  src/semantic-router/pkg/extproc/shadow_dispatch.go
  src/semantic-router/pkg/extproc/shadow_dispatch_test.go
Due: go-fmt

fix: expose Dynamo Gateway backend identity
  deploy/kubernetes/dynamo/dynamo-resources/gwapi-resources.yaml
  src/vllm-sr/tests/test_config_generator.py
Due: yaml-and-yml-fmt

fix: preserve effective Dynamo shadow routing
  src/semantic-router/pkg/extproc/processor_protocol_contract.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/req_filter_dynamo_nvext.go
  src/semantic-router/pkg/extproc/req_filter_dynamo_nvext_test.go
  src/semantic-router/pkg/extproc/shadow_dispatch.go
  src/semantic-router/pkg/extproc/shadow_dispatch_call.go
  src/semantic-router/pkg/extproc/shadow_dispatch_test.go
Due: go-fmt

fix: bypass response cache for Dynamo extensions
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_dynamo_nvext_test.go
Due: go-fmt

fix: preserve Dynamo headers in shadow dispatch
  src/semantic-router/pkg/extproc/req_filter_dynamo_nvext.go
  src/semantic-router/pkg/extproc/shadow_dispatch.go
  src/semantic-router/pkg/extproc/shadow_dispatch_call.go
  src/semantic-router/pkg/extproc/shadow_dispatch_test.go
Due: go-fmt

fix: enforce Dynamo boundary for shadow dispatch
  src/semantic-router/pkg/extproc/shadow_dispatch.go
  src/semantic-router/pkg/extproc/shadow_dispatch_call.go
  src/semantic-router/pkg/extproc/shadow_dispatch_test.go
Due: go-fmt

fix: satisfy Dynamo protocol lint checks
  src/semantic-router/pkg/extproc/processor_protocol_contract.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/req_filter_looper_internal.go
  src/semantic-router/pkg/llmprotocol/dynamo_nvext.go
Due: go-fmt

fix: align maintained Dynamo deployment identity
  deploy/kubernetes/dynamo/semantic-router-values/values.yaml
  src/vllm-sr/tests/test_config_generator.py
Due: yaml-and-yml-fmt

fix: align Dynamo backend identity with provider catalog
  config/catalog/resources/providers/dynamo.yaml
  config/recipes/built-in/latest/catalog.yaml
  e2e/profiles/response-api/values.yaml
  e2e/testcases/dynamo_nvext_chat_contract.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  src/vllm-sr/cli/envoy_backend_pool.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_config_generator.py
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

docs: clarify model admission and saved configuration updates
  website/docs/installation/runtime/lifecycle-diagnostics.md
Due: md-fmt

docs: translate runtime restart and configuration guidance
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/runtime/lifecycle-diagnostics.md
Due: md-fmt

fix(runtime): preserve unspecified model revisions during reload
  src/semantic-router/pkg/modeldownload/binding_inventory.go
  src/semantic-router/pkg/modeldownload/binding_inventory_test.go
  src/semantic-router/pkg/modeldownload/downloader_test.go
  src/semantic-router/pkg/modeldownload/revisions.go
  src/semantic-router/pkg/modeldownload/types.go
Due: go-fmt

feat(safety): scan complete inputs with exact token windows
  candle-binding/sequence_model.go
  candle-binding/sequence_model_mock.go
  candle-binding/sequence_model_types.go
  candle-binding/src/core/mod.rs
  candle-binding/src/core/sequence_windows.rs
  candle-binding/src/ffi/sequence_model.rs
  candle-binding/src/model_architectures/traditional/modernbert.rs
  onnx-binding/sequence_model.go
  onnx-binding/sequence_model_mock.go
  onnx-binding/sequence_model_types.go
  onnx-binding/src/core/mod.rs
  onnx-binding/src/core/sequence_windows.rs
  onnx-binding/src/ffi/sequence_model.rs
  onnx-binding/src/model_architectures/classification/mmbert_classifier.rs
  src/semantic-router/pkg/classification/classifier_signal_safety.go
  src/semantic-router/pkg/classification/generic_classifier.go
  src/semantic-router/pkg/classification/safety_classifier_local.go
  src/semantic-router/pkg/classification/safety_window_test.go
  src/semantic-router/pkg/config/safety_signal.go
  src/semantic-router/pkg/config/safety_signal_test.go
  src/semantic-router/pkg/config/validator_safety_signal.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  website/docs/tutorials/signal/learned/safety.md
Due: go-fmt, md-fmt, cargo-fmt, cargo-check

fix(training): preserve reviewed supervision and source uncertainty
  src/training/model_classifier/prompt_guard_fine_tuning_lora/tests/test_vela_supervision_projection.py
  src/training/model_classifier/prompt_guard_fine_tuning_lora/vela_supervision_projection.py
  src/training/model_classifier/safety_classifier/vela_hazard_operating.py
  src/training/model_classifier/safety_classifier/vela_reviewed_supervision.py
  src/training/model_classifier/sequence_repair/tests/test_selection.py
Due: none

chore(models): pin the current Vela release cards
  src/semantic-router/pkg/config/registry.go
Due: go-fmt

fix(models): avoid shadowing revision scan errors
  src/semantic-router/pkg/modeldownload/revision_upgrade.go
Due: go-fmt
