Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

[Test] Decode the Snowflake failure envelope through the shared provider validation
  src/semantic-router/pkg/protocolcodec/snowflake_cortex_conformance_test.go
  src/semantic-router/pkg/protocolcodec/snowflake_transport_error.go
Due: go-fmt

[Test] Align evaluation comparison cost assertions
  dashboard/frontend/e2e/evaluation/sr-bench-live.spec.ts
  dashboard/frontend/e2e/evaluation/sr-bench.spec.ts
Due: none

[Feat] Bound shadow dispatch per request on concurrency and bytes (#3376)
  config/config.yaml
  config/fragments/plugin/shadow-dispatch/sampled.yaml
  dashboard/frontend/src/lib/dslCapabilityPluginSchemas.ts
  src/semantic-router/pkg/config/plugin_config.go
  src/semantic-router/pkg/config/plugin_shadow_dispatch_support.go
  src/semantic-router/pkg/config/plugin_shadow_dispatch_test.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  src/semantic-router/pkg/dsl/compiler_plugin_configs.go
  src/semantic-router/pkg/dsl/dsl_shadow_multiarm_test.go
  src/semantic-router/pkg/extproc/shadow_dispatch.go
  src/semantic-router/pkg/shadow/shadow_budget.go
  src/semantic-router/pkg/shadow/shadow_budget_test.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_plugin_shadow_dispatch.py
  website/docs/tutorials/plugin/shadow-dispatch.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/plugin/shadow-dispatch.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Fix] Decode the Snowflake failure envelope on the Anthropic Messages path
  src/semantic-router/pkg/protocolcodec/codec_anthropic_response.go
  src/semantic-router/pkg/protocolcodec/snowflake_cortex_conformance_test.go
Due: go-fmt

[Feat] Fix budget accounting and mirror gaps found in review (#3376)
  src/semantic-router/pkg/extproc/shadow_dispatch.go
  src/semantic-router/pkg/shadow/shadow_budget.go
  src/semantic-router/pkg/shadow/shadow_budget_test.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_plugin_shadow_dispatch.py
  tools/agent/domains.yaml
Due: go-fmt, yaml-and-yml-fmt

[Fix] Keep the Snowflake vendor request ID and cover the resolution seam
  src/semantic-router/pkg/extproc/req_filter_response_vendor_test.go
  src/semantic-router/pkg/protocolcodec/snowflake_cortex_conformance_test.go
  src/semantic-router/pkg/protocolcodec/snowflake_transport_error.go
Due: go-fmt

[Feat] Require an admission reservation for the shadow cost cap (#3376)
  src/semantic-router/pkg/config/plugin_shadow_dispatch_support.go
  src/semantic-router/pkg/config/plugin_shadow_dispatch_test.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_plugin_shadow_dispatch.py
Due: go-fmt

[Test] Cover tool plugin effects at the provider boundary (#3795)
  e2e/pkg/testmatrix/testcases.go
  e2e/profiles/ai-gateway/profile_test.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/testcases/tool_selection_e2e.go
  e2e/testcases/tool_selection_e2e_test.go
Due: go-fmt, yaml-and-yml-fmt

[Feat] Format the shadow dispatch model and tests with black (#3376)
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_plugin_shadow_dispatch.py
Due: none

[Feat] Correct the cost-cap validation assertion in the CLI suite (#3376)
  src/vllm-sr/tests/test_plugin_shadow_dispatch.py
Due: none

[Feature] Build a reproducible shadow comparison dataset manifest (#3912)
  src/semantic-router/pkg/extproc/processor_primary_digest_test.go
  src/semantic-router/pkg/extproc/processor_res_body_pipeline.go
  src/semantic-router/pkg/extproc/processor_res_memory_test.go
  src/semantic-router/pkg/extproc/processor_res_semantic_stream.go
  src/semantic-router/pkg/extproc/processor_res_stream_response_stage_test.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/shadowdataset/manifest.go
  src/semantic-router/pkg/shadowdataset/manifest_test.go
Due: go-fmt

[Bug] Honor parent deadlines in benchmark harness calls
  src/vllm-sr/cli/sr_bench/harness_worker.py
  src/vllm-sr/tests/test_sr_bench_bridge.py
  tools/make/docker.mk
Due: none

[Feature] Apply routing.strategy inside the selected tier
  src/semantic-router/pkg/decision/engine_confidence_scored_test.go
  src/semantic-router/pkg/decision/engine_tier_test.go
  src/semantic-router/pkg/decision/selection.go
  src/semantic-router/pkg/decision/selection_order_test.go
  website/docs/tutorials/decision/overview.md
Due: go-fmt, md-fmt

fix(ci): include router module in Go cache key
  .github/actions/setup-go-ci/action.yml
Due: yaml-and-yml-fmt

[Feature] Report how selection ranked the matched decisions
  src/semantic-router/pkg/decision/engine.go
  src/semantic-router/pkg/decision/ranking_trace.go
  src/semantic-router/pkg/decision/ranking_trace_test.go
  src/semantic-router/pkg/decision/selection.go
  src/semantic-router/pkg/services/classification_signal_response.go
  src/semantic-router/pkg/services/classification_signal_types.go
  src/semantic-router/pkg/services/classification_test.go
  website/docs/installation/runtime/lifecycle-diagnostics.md
  website/docs/tutorials/decision/overview.md
Due: go-fmt, md-fmt

[Fix] Compose token ceilings after automatic render and publish Replay OpenAPI
  src/semantic-router/pkg/extproc/automatic_output_test.go
  src/semantic-router/pkg/extproc/output_token_limit.go
  src/semantic-router/pkg/extproc/output_token_limit_test.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/outputtokens/compose.go
  src/semantic-router/pkg/outputtokens/compose_test.go
  website/docs/installation/model-reasoning.md
  website/docs/tutorials/algorithm/looper/confidence.md
  website/docs/tutorials/plugin/request-params.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/model-reasoning.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/algorithm/looper/confidence.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/plugin/request-params.md
  website/static/openapi/apiserver/apiserver.openapi.json
Due: go-fmt, md-fmt

[Test] Verify the Snowflake Cortex failure envelope and raise its conformance (#3964)
  config/catalog/resources/providers/snowflake-cortex.yaml
  config/recipes/built-in/latest/catalog.yaml
  src/semantic-router/pkg/catalog/compiler_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  src/semantic-router/pkg/extproc/req_filter_response_vendor.go
  src/semantic-router/pkg/extproc/req_filter_response_vendor_test.go
  src/semantic-router/pkg/llmprotocol/policy.go
  src/semantic-router/pkg/protocolcodec/codec_anthropic_response.go
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_response.go
  src/semantic-router/pkg/protocolcodec/engine.go
  src/semantic-router/pkg/protocolcodec/snowflake_cortex_conformance_test.go
  src/semantic-router/pkg/protocolcodec/snowflake_transport_error.go
  src/semantic-router/pkg/protocolcodec/testdata/providers/snowflake-cortex-chat-error-out.json
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

Keep Router startup readiness replica-local
  src/semantic-router/pkg/apiserver/route_startup_status.go
  src/semantic-router/pkg/apiserver/server_ready_test.go
  src/semantic-router/pkg/routerruntime/registry.go
  src/semantic-router/pkg/routerruntime/status.go
  src/semantic-router/pkg/routerruntime/status_test.go
  website/docs/api/apiserver.md
Due: go-fmt, md-fmt

[Feature] Apply routing.strategy inside the selected tier (#3974)
  src/semantic-router/pkg/decision/engine_confidence_scored_test.go
  src/semantic-router/pkg/decision/engine_tier_test.go
  src/semantic-router/pkg/decision/selection.go
  src/semantic-router/pkg/decision/selection_order_test.go
  website/docs/tutorials/decision/overview.md
Due: go-fmt, md-fmt

Reject unresolved explicit check base references (#3963)
  tools/agent/docs/testing-strategy.md
  tools/agent/scripts/changed_files.py
  tools/agent/scripts/harness.py
  tools/agent/scripts/tests/test_changed_files_path.py
Due: md-fmt

To resolve jail break model errors
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_backend_ready_test.go
  src/semantic-router/pkg/classification/classifier_builtin_models.go
Due: go-fmt

Show structured sr-bench call evidence and paginated conversations
  dashboard/frontend/e2e/evaluation/sr-bench-call-evidence.spec.ts
  dashboard/frontend/e2e/evaluation/sr-bench-output-diagnostics.spec.ts
  dashboard/frontend/e2e/evaluation/sr-bench.spec.ts
  dashboard/frontend/src/components/sr-bench/CallDetail.module.css
  dashboard/frontend/src/components/sr-bench/CallDetail.tsx
  dashboard/frontend/src/components/sr-bench/CallEvidence.tsx
  dashboard/frontend/src/components/sr-bench/EvidenceValue.tsx
  dashboard/frontend/src/components/sr-bench/RecordedConversation.tsx
  dashboard/frontend/src/components/sr-bench/types.ts
Due: none

[Feature] Admit Writer / Palmyra (Palmyra X6, Palmyra X5) to the Model Card catalog
  config/catalog/README.md
  config/catalog/manifest.yaml
  config/catalog/resources/benchmarks.yaml
  config/catalog/resources/evaluations/single/writer.yaml
  config/catalog/resources/models/single/writer.yaml
  config/catalog/resources/providers/writer.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

test: align Vela registry and portable model validation
  onnx-binding/instance/grounding_published_test.go
  onnx-binding/instance/grounding_test.go
  onnx-binding/instance/omni.go
  onnx-binding/instance/omni_published_test.go
  onnx-binding/instance/omni_test.go
  src/training/model_eval/constants.py
  src/vllm-sr/tests/test_sr_bench_large_plans.py
Due: go-fmt

refactor: make Candle FFI safety contracts explicit and clean Clippy
  candle-binding/examples/benchmark_concurrent.rs
  candle-binding/examples/benchmark_performance.rs
  candle-binding/examples/embedding_benchmark.rs
  candle-binding/examples/mmbert_2d_matryoshka_bench.rs
  candle-binding/examples/test_32k_classifier_inference.rs
  candle-binding/examples/test_classifier_compatibility.rs
  candle-binding/examples/test_long_text_inference_32k.rs
  candle-binding/examples/test_lora_compatibility_32k.rs
  candle-binding/examples/test_lora_inference_32k.rs
  candle-binding/examples/test_modernbert_32k_validation.rs
  candle-binding/examples/test_multimodal_embed.rs
  candle-binding/src/classifiers/lora/parallel_engine_test.rs
  candle-binding/src/classifiers/mlp_selector.rs
  candle-binding/src/classifiers/traditional/batch_processor_test.rs
  candle-binding/src/classifiers/traditional/modernbert_classifier_test.rs
  candle-binding/src/classifiers/unified_test.rs
  candle-binding/src/core/unified_error.rs
  candle-binding/src/ffi/embedding.rs
  candle-binding/src/ffi/embedding_test.rs
  candle-binding/src/ffi/instances/tests/generic_classifier_tests.rs
  candle-binding/src/ffi/memory.rs
  candle-binding/src/ffi/memory_safety.rs
  candle-binding/src/ffi/similarity.rs
  candle-binding/src/ffi/state_manager.rs
  candle-binding/src/ffi/tokenization.rs
  candle-binding/src/ffi/types.rs
  candle-binding/src/ffi/validation.rs
  candle-binding/src/ffi/validation_test.rs
  candle-binding/src/model_architectures/config.rs
  candle-binding/src/model_architectures/embedding/dense_layers_test.rs
  candle-binding/src/model_architectures/generative/continuous_batch_scheduler.rs
  candle-binding/src/model_architectures/generative/qwen3_with_lora.rs
  candle-binding/src/model_architectures/lora/lora_adapter.rs
  candle-binding/src/model_architectures/lora/lora_adapter_test.rs
  candle-binding/src/model_architectures/routing.rs
  candle-binding/src/test_fixtures.rs
  candle-binding/src/utils/memory.rs
  candle-binding/tests/classification_output_demo.rs
  candle-binding/tests/generic_classifier_cpu.rs
Due: cargo-fmt, cargo-check

test: assert native state contracts under the CI Rust toolchain
  candle-binding/src/ffi/state_manager_test.rs
  candle-binding/src/ffi/validation_test.rs
Due: cargo-fmt, cargo-check

fix(benchmark): include SciCode plotting dependencies in grader
  src/vllm-sr/cli/sr_bench/setup.py
  src/vllm-sr/tests/test_sr_bench_setup.py
Due: none

fix: update Envoy default for ARM64 runtime
  src/vllm-sr/Makefile
  src/vllm-sr/cli/consts.py
  src/vllm-sr/rebuild-and-test.sh
  src/vllm-sr/tests/test_envoy_identity_and_local_bindings.py
  src/vllm-sr/tests/test_makefile_surface.py
  tools/ci/tests/test_recipe_runtime_images.py
  tools/make/docker.mk
Due: none

test: align platform capabilities and calibration provenance checks
  src/vllm-sr/tests/recipe_topology_test_support.py
  src/vllm-sr/tests/test_recipe_topology_reconcile.py
  src/vllm-sr/tests/test_recipe_topology_recovery.py
  tools/calibration/image-routing/output_paths_test.go
Due: go-fmt

fix: derive embedding warmup readiness from generation owners
  perf/go.sum
  src/semantic-router/cmd/main.go
  src/semantic-router/cmd/runtime_bootstrap.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/recipe_classifiers.go
  src/semantic-router/pkg/extproc/embedding_startup_readiness_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_learning_state_store_test.go
  src/semantic-router/pkg/extproc/server.go
  src/semantic-router/pkg/extproc/server_config_activation_test.go
  src/semantic-router/pkg/extproc/server_config_publication_test.go
  src/semantic-router/pkg/extproc/server_kubernetes_activation_test.go
  src/semantic-router/pkg/extproc/server_reload_runtime_test.go
  src/semantic-router/pkg/extproc/server_reload_test.go
  src/semantic-router/pkg/extproc/server_shutdown_test.go
  src/semantic-router/pkg/extproc/server_workflow_lifecycle_test.go
  src/semantic-router/pkg/modelruntime/embedding_owned.go
  src/semantic-router/pkg/modelruntime/router_runtime.go
Due: go-fmt

test: align Milvus factory providers with collection dimensions
  src/semantic-router/pkg/cache/cache_test.go
Due: go-fmt

test: resolve native embedding dimensions in published Vela checks
  src/semantic-router/pkg/modelruntime/native/published_vela_test.go
Due: go-fmt

fix: resolve calibration prototype assets from the repository root
  tools/calibration/image-routing/prototype_evaluation.go
  tools/calibration/image-routing/prototype_evaluation_test.go
Due: go-fmt

[Feature] Add the exact adjacent-turn deduplication policy for the shared context transformation plan
  src/semantic-router/pkg/contextdedup/action_test.go
  src/semantic-router/pkg/contextdedup/doc.go
  src/semantic-router/pkg/contextdedup/identity.go
  src/semantic-router/pkg/contextdedup/identity_test.go
  src/semantic-router/pkg/contextdedup/plan.go
  src/semantic-router/pkg/contextdedup/plan_test.go
  src/semantic-router/pkg/contextdedup/policy.go
  src/semantic-router/pkg/contextdedup/protocol_test.go
  src/semantic-router/pkg/contextdedup/step.go
Due: go-fmt

fix: list all prepared embedding owners through leased inventory
  src/semantic-router/pkg/apiserver/embedding_owned.go
  src/semantic-router/pkg/apiserver/route_embedding_inventory_test.go
  src/semantic-router/pkg/apiserver/route_model_info.go
  src/semantic-router/pkg/apiserver/route_model_info_embeddings.go
  src/semantic-router/pkg/apiserver/route_model_info_prepared.go
Due: go-fmt

[Feature] Register the context_dedup decision plugin across config validation, DSL, schema, CRDs, dashboard, and docs
  config/config.yaml
  config/fragments/plugin/context-dedup/adjacent-turns.yaml
  dashboard/frontend/src/lib/dslCapabilityPluginSchemas.test.ts
  dashboard/frontend/src/lib/dslCapabilityPluginSchemas.ts
  dashboard/frontend/src/pages/topology/constants.ts
  dashboard/frontend/src/types/config.ts
  deploy/helm/semantic-router/crds/vllm.ai_intelligentroutes.yaml
  deploy/kubernetes/crds/vllm.ai_intelligentroutes.yaml
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/types_route.go
  src/semantic-router/pkg/config/context_dedup_config.go
  src/semantic-router/pkg/config/context_dedup_config_test.go
  src/semantic-router/pkg/config/docs_contract_algorithm_plugin_test.go
  src/semantic-router/pkg/config/plugin_introspection_test.go
  src/semantic-router/pkg/config/reference_config_routing_surface_test.go
  src/semantic-router/pkg/config/routing_surface_catalog.go
  src/semantic-router/pkg/config/validator_context_dedup.go
  src/semantic-router/pkg/config/validator_plugin.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  src/semantic-router/pkg/dsl/compiler_plugin_configs.go
  src/semantic-router/pkg/dsl/decompiler_plugin_emit.go
  src/semantic-router/pkg/dsl/decompiler_plugin_fields.go
  src/semantic-router/pkg/dsl/parser.go
  website/docs/installation/configuration.md
  website/docs/tutorials/plugin/context-dedup.md
  website/docs/tutorials/plugin/overview.md
  website/sidebars.ts
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Feature] Run the context_dedup step in the shared context stage with replay diagnostics and metrics
  src/semantic-router/pkg/extproc/processor_req_body_context_plan.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/recorder_route_diagnostics.go
  src/semantic-router/pkg/extproc/req_filter_context_dedup.go
  src/semantic-router/pkg/extproc/req_filter_context_dedup_test.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/observability/metrics/context_dedup_metrics.go
  src/semantic-router/pkg/observability/metrics/context_dedup_metrics_test.go
  src/semantic-router/pkg/routerreplay/store/store.go
Due: go-fmt

test: cover named Omni owners in the embedding inventory E2E
  e2e/testcases/vela_omni.go
  e2e/testcases/vela_omni_inventory.go
  e2e/testcases/vela_omni_inventory_test.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
