Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

docs(training): add guide for LoRA vs full finetune with mmbert-32k-yarn
  docs/training-mmbert-32k-yarn.md
Due: md-fmt

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Due: none

[Misc] Make decision header optional - use automatic signal-based routing
  deploy/examples/rag-openai-demo/README.md
  deploy/examples/rag-openai-demo/app.py
Due: md-fmt

[feat]: migrate semantic-router KServe deployment to llmisvc
  deploy/kserve/README.md
  deploy/kserve/configmap-envoy-config-simulator.yaml
  deploy/kserve/configmap-envoy-config.yaml
  deploy/kserve/configmap-router-config-simulator.yaml
  deploy/kserve/configmap-router-config.yaml
  deploy/kserve/deploy.sh
  deploy/kserve/deployment.yaml
  deploy/kserve/inference-examples/README.md
  deploy/kserve/inference-examples/inferenceservice-llm-d-sim-model-a.yaml
  deploy/kserve/inference-examples/inferenceservice-llm-d-sim-model-b.yaml
  deploy/kserve/inference-examples/inferenceservice-llm-d-sim.yaml
  deploy/kserve/inference-examples/inferenceservice-qwen-0.6b-gpu.yaml
  deploy/kserve/install-gpu-operator.sh
  deploy/kserve/install-kserve.sh
  deploy/kserve/service-predictor-stable.yaml
  deploy/kubernetes/llm-katan/base/deployment.yaml
  deploy/kubernetes/llm-katan/base/service.yaml
  deploy/openshift/README.md
  deploy/openshift/deploy-to-openshift.sh
  deploy/openshift/deployment-simulator.yaml
  deploy/openshift/deployment.yaml
Due: md-fmt, yaml-and-yml-fmt

lint
  src/semantic-router/pkg/classification/contrastive_jailbreak_classifier.go
  src/semantic-router/pkg/extproc/req_filter_contrastive_jailbreak.go
Due: go-fmt

feat: Add mmBERT 32k yarn support into candle-binding
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/src/model_architectures/embedding/mmbert_embedding.rs
  candle-binding/src/model_architectures/traditional/modernbert.rs
  candle-binding/src/model_architectures/traditional/modernbert_test.rs
  tools/make/models.mk
Due: cargo-fmt, cargo-check

retrain the models using mmbert 32k base model
  scripts/train-mmbert32k-gpu.sh
  src/training/modernbert_dissat_pipeline/configs/config.py
  src/training/modernbert_dissat_pipeline/train_feedback_detector.py
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
  src/training/training_lora/common_lora_utils.py
  src/training/training_lora/fact_check_fine_tuning_lora/fact_check_bert_finetuning_lora.py
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
  tools/make/models.mk
Due: none

add mmBERT 32k support to golang binding
  candle-binding/semantic-router.go
  candle-binding/semantic-router_test.go
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/init.rs
  tools/make/models.mk
Due: go-fmt, cargo-fmt, cargo-check

initial commit
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/preference_classifier.go
  src/semantic-router/pkg/config/config.go
Due: go-fmt

qwen3
  candle-binding/semantic-router.go
  candle-binding/semantic-router_mock.go
  candle-binding/src/ffi/generative_classifier.rs
  src/semantic-router/pkg/classification/preference_classifier.go
  src/semantic-router/pkg/config/config.go
Due: go-fmt, cargo-fmt, cargo-check

config page
  dashboard/frontend/src/pages/ConfigPage.tsx
Due: none

add to registry
  src/semantic-router/pkg/config/registry.go
Due: go-fmt

fix the config to live at right place
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/config/config.go
Due: go-fmt

use classify multiple tokens
  candle-binding/src/ffi/generative_classifier.rs
Due: cargo-fmt, cargo-check

add forward_all to cleanup
  candle-binding/src/model_architectures/generative/qwen3_multi_lora_classifier.rs
  candle-binding/src/model_architectures/generative/qwen3_with_lora.rs
Due: cargo-fmt, cargo-check

length normalization
  candle-binding/src/model_architectures/generative/qwen3_multi_lora_classifier.rs
Due: cargo-fmt, cargo-check

feat: working inference
  candle-binding/src/model_architectures/generative/qwen3_multi_lora_classifier.rs
Due: cargo-fmt, cargo-check

feat: multi-token inference
  candle-binding/src/model_architectures/generative/qwen3_multi_lora_classifier.rs
  candle-binding/src/model_architectures/generative/qwen3_with_lora.rs
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: yaml-and-yml-fmt, cargo-fmt, cargo-check

update registry
  src/semantic-router/pkg/classification/preference_classifier.go
  src/semantic-router/pkg/config/registry.go
Due: go-fmt

fix: config page
  dashboard/frontend/src/pages/ConfigPage.tsx
Due: none

fix: rotuer default indentation
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: yaml-and-yml-fmt

fix: description
  dashboard/frontend/src/pages/ConfigPage.tsx
Due: none

fix: placeholder
  dashboard/frontend/src/pages/ConfigPage.tsx
Due: none

update model training
  config/config.mmbert32k.yaml
  scripts/test_classification_api.sh
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/fact_check_classifier.go
  src/semantic-router/pkg/classification/feedback_detector.go
  src/semantic-router/pkg/classification/mapping.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/registry.go
  src/training/classifier_model_fine_tuning/ft_linear.py
  src/training/training_lora/classifier_model_fine_tuning_lora/ft_linear_lora.py
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
  tools/make/models.mk
Due: go-fmt, yaml-and-yml-fmt

update pii model training
  src/training/training_lora/pii_model_fine_tuning_lora/pii_bert_finetuning_lora.py
  tools/make/models.mk
Due: none

fix(config): use label_mapping.json for mmBERT PII model
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: yaml-and-yml-fmt

feat(models): move mmBERT models into router with automatic download via model registry
  src/semantic-router/pkg/config/registry.go
  src/semantic-router/pkg/config/registry_test.go
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: go-fmt, yaml-and-yml-fmt

fix(config): explicitly include mmBERT models in mom_registry
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: yaml-and-yml-fmt

Add mmBERT model support and fix PII mapping compatibility
  src/semantic-router/pkg/classification/fact_check_classifier.go
  src/semantic-router/pkg/config/loader.go
  src/semantic-router/pkg/config/registry.go
  src/semantic-router/pkg/config/registry_test.go
  src/vllm-sr/cli/templates/router-defaults.yaml
  src/vllm-sr/config.yaml
Due: go-fmt, yaml-and-yml-fmt

Delete config.yaml
  config.yaml
Due: yaml-and-yml-fmt

Enhance JailbreakMapping to support additional formats and improve loading logic
  src/semantic-router/pkg/classification/mapping.go
Due: go-fmt

Enhance model specification building by adding fallback to default registry
  src/semantic-router/pkg/modeldownload/config_parser.go
Due: go-fmt

Add mmBERT model support and fix PII mapping compatibility
  config.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/classification/fact_check_classifier.go
  src/semantic-router/pkg/classification/mapping.go
  src/semantic-router/pkg/config/config.go
  src/vllm-sr/cli/templates/router-defaults.yaml
  src/vllm-sr/config.yaml
Due: go-fmt, yaml-and-yml-fmt

fix(classification): support both jailbreak mapping formats
  src/semantic-router/pkg/classification/mapping.go
Due: go-fmt

Removed config.yaml file from the vllm-sr
  e2e/testing/vllm-sr-cli/test_unit_serve.py
  src/vllm-sr/config.yaml
Due: yaml-and-yml-fmt

ci: add memory integration test workflow
  .github/workflows/integration-test-memory.yml
  config/config.yaml
  config/testing/config.memory-user.yaml
  docs/agentic-memory-poc.md
  e2e/testing/09-memory-features-test.py
  e2e/testing/llm-katan/llm_katan/model.py
  e2e/testing/llm-katan/requirements.txt
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/extproc/memory_helpers.go
  src/semantic-router/pkg/extproc/memory_helpers_test.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/req_filter_memory.go
  src/semantic-router/pkg/extproc/req_filter_memory_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/memory/deduplication.go
  src/semantic-router/pkg/memory/deduplication_test.go
  src/semantic-router/pkg/memory/embedding.go
  src/semantic-router/pkg/memory/extractor.go
  src/semantic-router/pkg/memory/extractor_test.go
  src/semantic-router/pkg/memory/inmemory_store.go
  src/semantic-router/pkg/memory/inmemory_store_test.go
  src/semantic-router/pkg/memory/milvus_store.go
  src/semantic-router/pkg/memory/milvus_store_test.go
  src/semantic-router/pkg/memory/types.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/templates/router-defaults.yaml
  src/vllm-sr/cli/validator.py
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat(selection): add CLI support, E2E tests, and documentation for model selection
  e2e/testcases/model_selection.go
  e2e/testcases/testdata/model_selection_cases.json
  src/vllm-sr/cli/main.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/validator.py
  website/docs/tutorials/intelligent-route/model-selection/automix.md
  website/docs/tutorials/intelligent-route/model-selection/choosing-algorithm.md
  website/docs/tutorials/intelligent-route/model-selection/elo.md
  website/docs/tutorials/intelligent-route/model-selection/gmtrouter.md
  website/docs/tutorials/intelligent-route/model-selection/hybrid.md
  website/docs/tutorials/intelligent-route/model-selection/overview.md
  website/docs/tutorials/intelligent-route/model-selection/router-dc.md
  website/docs/tutorials/intelligent-route/model-selection/router-r1.md
  website/docs/tutorials/intelligent-route/model-selection/static.md
  website/docs/tutorials/intelligent-route/model-selection/thompson-sampling.md
  website/docs/tutorials/intelligent-route/model-selection/troubleshooting.md
  website/package-lock.json
  website/sidebars.ts
Due: go-fmt, md-fmt

retrain jailbreak model
  config/intelligent-routing/in-tree/mmbert-32k.yaml
  src/training/prompt_guard_fine_tuning/jailbreak_bert_finetuning.py
  src/training/training_lora/prompt_guard_fine_tuning_lora/jailbreak_bert_finetuning_lora.py
Due: yaml-and-yml-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
