Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

Add vLLM support for classifier endpoints
  src/semantic-router/pkg/classification/vllm_client.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/validator.go
Due: go-fmt

Add VLLM-based prompt guard classifier implementation
  config/config.prompt_guard.vllm.yaml
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/vllm_classifier.go
  src/semantic-router/pkg/classification/vllm_client.go
  src/semantic-router/pkg/config/helper.go
  tools/make/golang.mk
Due: go-fmt, yaml-and-yml-fmt

[Bugfix]: owner-notification: checkout base repo (not PR head) to eliminate pull_request_target external code risk
  .github/workflows/owner-notification.yml
Due: yaml-and-yml-fmt

fix: make MCP tests optional and fix server startup
  e2e/profiles/routing-strategies/profile.go
Due: go-fmt

fix: rename server_keyword.py.py to server_keyword.py
  e2e/profiles/routing-strategies/profile.go
  examples/mcp-classifier-server/server_keyword.py
Due: go-fmt

feat(e2e): add Istio service mesh integration test profile
  .github/workflows/integration-test-k8s.yml
  e2e/README.md
  e2e/cmd/e2e/main.go
  e2e/pkg/helpers/kubernetes.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/istio/profile.go
  e2e/testcases/common.go
  e2e/testcases/istio_mtls_verification.go
  e2e/testcases/istio_sidecar_health_check.go
  e2e/testcases/istio_tracing_observability.go
  e2e/testcases/istio_traffic_routing.go
  tools/make/e2e.mk
Due: go-fmt, md-fmt, yaml-and-yml-fmt

perplexity eval
  rag-decision-eval/perplexity_eval.py
  rag-decision-eval/rag_decision_data.csv
Due: none

✨ feat(observability): add configurable Prometheus metrics endpoint, keep default enabled
  config/config.yaml
  config/observability/config.tracing.yaml
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
Due: go-fmt, yaml-and-yml-fmt

test: Redis CI bootstrap
  .github/workflows/test-and-build.yml
  src/semantic-router/pkg/cache/cache_test.go
  tools/make/build-run-test.mk
Due: go-fmt, yaml-and-yml-fmt

[Fix] workflow(owner-notification): fix workflow error
  .github/workflows/owner-notification.yml
Due: yaml-and-yml-fmt

feat: complete vsr CLI implementation with tests and documentation (Issue #234)
  src/semantic-router/TEST_COVERAGE_REPORT.md
  src/semantic-router/cmd/vsr/QUICKSTART.md
  src/semantic-router/cmd/vsr/README.md
  src/semantic-router/cmd/vsr/commands/completion.go
  src/semantic-router/cmd/vsr/commands/completion_test.go
  src/semantic-router/cmd/vsr/commands/config.go
  src/semantic-router/cmd/vsr/commands/config_test.go
  src/semantic-router/cmd/vsr/commands/dashboard.go
  src/semantic-router/cmd/vsr/commands/dashboard_test.go
  src/semantic-router/cmd/vsr/commands/debug.go
  src/semantic-router/cmd/vsr/commands/debug_test.go
  src/semantic-router/cmd/vsr/commands/deploy.go
  src/semantic-router/cmd/vsr/commands/deploy_test.go
  src/semantic-router/cmd/vsr/commands/get.go
  src/semantic-router/cmd/vsr/commands/get_test.go
  src/semantic-router/cmd/vsr/commands/install.go
  src/semantic-router/cmd/vsr/commands/install_test.go
  src/semantic-router/cmd/vsr/commands/model.go
  src/semantic-router/cmd/vsr/commands/model_test.go
  src/semantic-router/cmd/vsr/commands/status.go
  src/semantic-router/cmd/vsr/commands/status_test.go
  src/semantic-router/cmd/vsr/commands/test.go
  src/semantic-router/cmd/vsr/commands/test_test.go
  src/semantic-router/cmd/vsr/commands/upgrade.go
  src/semantic-router/cmd/vsr/commands/upgrade_test.go
  src/semantic-router/cmd/vsr/main.go
  src/semantic-router/pkg/cli/debug/checker.go
  src/semantic-router/pkg/cli/debug/checker_test.go
  src/semantic-router/pkg/cli/deployment/deployment.go
  src/semantic-router/pkg/cli/deployment/deployment_test.go
  src/semantic-router/pkg/cli/deployment/helm.go
  src/semantic-router/pkg/cli/deployment/upgrade.go
  src/semantic-router/pkg/cli/model/manager.go
  src/semantic-router/pkg/cli/model/manager_test.go
  src/semantic-router/pkg/cli/validator.go
  src/semantic-router/pkg/cli/validator_test.go
  src/semantic-router/pkg/config/config.go
Due: go-fmt, md-fmt

docs: update README with comprehensive VSR CLI documentation
  README.md
Due: md-fmt

fix(vsr): implement critical production fixes for VSR CLI
  src/semantic-router/cmd/vsr/commands/dashboard.go
  src/semantic-router/cmd/vsr/commands/test.go
  src/semantic-router/pkg/cli/deployment/deployment.go
  src/semantic-router/pkg/cli/deployment/deployment_test.go
  src/semantic-router/pkg/cli/deployment/upgrade.go
  tools/make/build-run-test.mk
Due: go-fmt

feat: implement vsr CLI tool (Issue #234)
  Dockerfile.dev
  README.md
  src/semantic-router/cmd/vsr/commands/config.go
  src/semantic-router/cmd/vsr/commands/deploy.go
  src/semantic-router/cmd/vsr/commands/get.go
  src/semantic-router/cmd/vsr/commands/install.go
  src/semantic-router/cmd/vsr/commands/status.go
  src/semantic-router/cmd/vsr/commands/test.go
  src/semantic-router/cmd/vsr/config/config.yaml
  src/semantic-router/cmd/vsr/main.go
  src/semantic-router/go.mod
  src/semantic-router/go.sum
  src/semantic-router/pkg/cli/deployment/deployment.go
  src/semantic-router/pkg/cli/output.go
  src/semantic-router/pkg/cli/validator.go
  tools/make/build-run-test.mk
  website/docs/cli/commands-reference.md
  website/docs/cli/overview.md
  website/docs/cli/troubleshooting.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

refactor: remove error classification logic from deployment
  src/semantic-router/pkg/cli/deployment/deployment.go
Due: go-fmt

test(vsr): add comprehensive tests for critical production fixes
  src/semantic-router/cmd/vsr/commands/http_timeout_test.go
  src/semantic-router/cmd/vsr/commands/signal_handling_test.go
  src/semantic-router/pkg/cli/deployment/paths_test.go
  src/semantic-router/pkg/cli/deployment/pid_management_test.go
Due: go-fmt

refactor: remove ambiguous issue references from test comments
  src/semantic-router/TEST_COVERAGE_REPORT.md
  src/semantic-router/cmd/vsr/commands/http_timeout_test.go
  src/semantic-router/cmd/vsr/commands/signal_handling_test.go
  src/semantic-router/pkg/cli/deployment/paths_test.go
  src/semantic-router/pkg/cli/deployment/pid_management_test.go
Due: go-fmt, md-fmt

[Misc]: 🔧 chore(ci): simplify precommit-publish workflow by removing nightly date tag generation
  .github/workflows/precommit-publish.yml
Due: yaml-and-yml-fmt

refactor: remove redundant Dockerfile.dev
  Dockerfile.dev
Due: none

chore(git): ignore generated config file
  .gitignore
  config/config.yaml
Due: yaml-and-yml-fmt

Add Comprehensive Test Coverage for Embedding-Based Signals
  .github/workflows/integration-test-dynamic-config.yml
  candle-binding/src/ffi/embedding.rs
  e2e/README.md
  e2e/profiles/dynamic-config/crds/intelligentroute.yaml
  e2e/profiles/dynamic-config/profile.go
  e2e/profiles/dynamic-config/values.yaml
  e2e/testcases/embedding_signal_routing.go
  e2e/testcases/testdata/embedding_signal_cases.json
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/extproc/req_filter_pii.go
  src/semantic-router/pkg/utils/http/response.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt, cargo-fmt, cargo-check

Proposal: add TruthLens for Hallucination Detection and Mitigation
  website/docs/proposals/hallucination-mitigation-milestone.md
  website/sidebars.ts
Due: md-fmt

[Feat] helm: use downloader image and add global.imageRegistry support
  deploy/helm/README.md
  deploy/helm/semantic-router/README.md
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/helm/semantic-router/values.yaml
  website/docs/installation/k8s/ai-gateway.md
  website/docs/installation/k8s/aibrix.md
  website/docs/installation/k8s/production-stack.md
Due: md-fmt, yaml-and-yml-fmt

Add Qwen3Guard category extraction support
  candle-binding/semantic-router.go
  src/semantic-router/pkg/classification/vllm_classifier.go
Due: go-fmt

[CI] refactor helm publish workflow fix PR test error
  .github/workflows/helm-publish.yml
Due: yaml-and-yml-fmt

feat: add time-windowed model metrics for load balancing
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/observability/metrics/windowed_metrics.go
  src/semantic-router/pkg/observability/metrics/windowed_metrics_test.go
  website/docs/tutorials/observability/metrics.md
Due: go-fmt, md-fmt

pii detection fix
  candle-binding/src/ffi/classify.rs
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  e2e/profiles/ai-gateway/profile.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/aibrix/profile.go
  e2e/profiles/dynamic-config/crds/intelligentroute.yaml
  e2e/testcases/plugin_chain_execution.go
  e2e/testcases/testdata/plugin_chain_cases.json
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/utils/http/response.go
  src/semantic-router/pkg/utils/pii/policy.go
Due: go-fmt, yaml-and-yml-fmt, cargo-fmt, cargo-check

[e2e] Add production-stack profile
  .github/workflows/integration-test-k8s.yml
  e2e/README.md
  e2e/cmd/e2e/main.go
  e2e/profiles/production-stack/profile.go
  e2e/profiles/production-stack/prometheus-config.yaml
  e2e/profiles/production-stack/values.yaml
  e2e/testcases/failover_during_traffic.go
  e2e/testcases/load_balancing_verification.go
  e2e/testcases/multi_replica_health.go
  e2e/testcases/performance_throughput.go
  e2e/testcases/resource_utilization_monitoring.go
  tools/make/e2e.mk
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat(ci): Optimize CI workflows with concurrency and path filtering
  .github/workflows/ci-changes.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
  .github/workflows/integration-test-docker.yml
  .github/workflows/integration-test-dynamic-config.yml
  .github/workflows/integration-test-helm.yml
  .github/workflows/integration-test-k8s.yml
  .github/workflows/pre-commit.yml
  .github/workflows/precommit-publish.yml
  .github/workflows/publish-crate.yml
  .github/workflows/test-and-build.yml
Due: yaml-and-yml-fmt

feat: implement signal fusion engine for issue #367
  config/fusion-example.yaml
  src/semantic-router/pkg/fusion/README.md
  src/semantic-router/pkg/fusion/engine.go
  src/semantic-router/pkg/fusion/evaluator.go
  src/semantic-router/pkg/fusion/expression.go
  src/semantic-router/pkg/fusion/fusion_test.go
  src/semantic-router/pkg/fusion/types.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat(llm-katan): Add Kubernetes deployment support
  e2e-tests/llm-katan/README.md
  e2e-tests/llm-katan/deploy/docs/README.md
  e2e-tests/llm-katan/deploy/kubernetes/base/deployment.yaml
  e2e-tests/llm-katan/deploy/kubernetes/base/kustomization.yaml
  e2e-tests/llm-katan/deploy/kubernetes/base/namespace.yaml
  e2e-tests/llm-katan/deploy/kubernetes/base/pvc.yaml
  e2e-tests/llm-katan/deploy/kubernetes/base/service.yaml
  e2e-tests/llm-katan/deploy/kubernetes/components/common/kustomization.yaml
  e2e-tests/llm-katan/deploy/kubernetes/overlays/claude/kustomization.yaml
  e2e-tests/llm-katan/deploy/kubernetes/overlays/gpt35/kustomization.yaml
  e2e-tests/llm-katan/deploy/kubernetes/verify-deployment.sh
  e2e-tests/llm-katan/llm_katan/config.py
  e2e-tests/llm-katan/pyproject.toml
  tools/make/kube.mk
Due: md-fmt, yaml-and-yml-fmt

fix podman supporting in docker-compose targets and quickstart.sh
  scripts/quickstart.sh
  tools/make/docker.mk
Due: none

fix skipped tests
  candle-binding/semantic-router_test.go
  candle-binding/src/classifiers/unified.rs
  candle-binding/src/ffi/embedding.rs
  tools/make/models.mk
  tools/make/rust.mk
Due: go-fmt, cargo-fmt, cargo-check

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
