Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

feat(decision2): convert attested own-1.0 teacher outputs into R2 replay rows
  src/training/decision2/v2/data/replay_targets.py
  src/training/decision2/v2/data/tests/test_replay_targets.py
Due: none

feat(decision2): add v2 data overlap, shortcut, freeze and embedding scans
  src/training/decision2/v2/data/embed_scan.py
  src/training/decision2/v2/data/freeze.py
  src/training/decision2/v2/data/overlap.py
  src/training/decision2/v2/data/shortcut.py
  src/training/decision2/v2/data/tests/test_embed_scan.py
  src/training/decision2/v2/data/tests/test_freeze.py
  src/training/decision2/v2/data/tests/test_overlap.py
  src/training/decision2/v2/data/tests/test_shortcut.py
  src/training/decision2/v2/data/textnorm.py
Due: none

feat(decision2): add receipt-driven group quarantine for data arms
  src/training/decision2/v2/data/apply_quarantine.py
  src/training/decision2/v2/data/tests/test_apply_quarantine.py
Due: none

feat(decision2): build A0s, A0p and the RP-v1 replay prompt set
  src/training/decision2/v2/data/build_a0_variants.py
  src/training/decision2/v2/data/tests/test_build_a0_variants.py
Due: none

fix(decision2): count native error answers as untargeted R2 rows
  src/training/decision2/v2/data/replay_targets.py
  src/training/decision2/v2/data/tests/test_replay_targets.py
Due: none

feat(decision2): add hash-pinned protected inventory builder for v2 data scans
  src/training/decision2/v2/data/__init__.py
  src/training/decision2/v2/data/build_protected_inventory.py
  src/training/decision2/v2/data/tests/__init__.py
  src/training/decision2/v2/data/tests/test_build_protected_inventory.py
Due: none

[Bug] Train Vela Domain and Guard recipes with CLS pooling
  src/training/model_classifier/domain_classifier/README.md
  src/training/model_classifier/domain_classifier/prepare_data.py
  src/training/model_classifier/prompt_guard_fine_tuning_lora/README.md
  src/training/model_classifier/prompt_guard_fine_tuning_lora/vela_data.py
  src/training/model_classifier/sequence_repair/tests/test_contracts.py
Due: md-fmt

feat(decision2): add verifiable counterfactual generator and A1/A3 source builders
  src/training/decision2/v2/data/build_a1_a3.py
  src/training/decision2/v2/data/sources/abcd.py
  src/training/decision2/v2/data/sources/musique.py
  src/training/decision2/v2/data/sources/qasc.py
  src/training/decision2/v2/data/sources/sgd.py
  src/training/decision2/v2/data/tests/test_sources_a1_a3.py
  src/training/decision2/v2/data/verifiable/__init__.py
  src/training/decision2/v2/data/verifiable/a2_calendar.py
  src/training/decision2/v2/data/verifiable/a2_counting.py
  src/training/decision2/v2/data/verifiable/a2_injection.py
  src/training/decision2/v2/data/verifiable/a2_multihop.py
  src/training/decision2/v2/data/verifiable/a2_ordering.py
  src/training/decision2/v2/data/verifiable/a2_units.py
  src/training/decision2/v2/data/verifiable/a6_band_rubric.py
  src/training/decision2/v2/data/verifiable/a6_checklist.py
  src/training/decision2/v2/data/verifiable/a6_evidence_status.py
  src/training/decision2/v2/data/verifiable/a6_interpolation.py
  src/training/decision2/v2/data/verifiable/a6_rank_position.py
  src/training/decision2/v2/data/verifiable/build.py
  src/training/decision2/v2/data/verifiable/core.py
  src/training/decision2/v2/data/verifiable/tests/__init__.py
  src/training/decision2/v2/data/verifiable/tests/checks.py
  src/training/decision2/v2/data/verifiable/tests/test_build.py
  src/training/decision2/v2/data/verifiable/tests/test_families.py
Due: none

research(decision2): amend 0.6B Milestone 2 for candidate-vector collapse
  src/training/decision2/v2/06b/encoder.py
  src/training/decision2/v2/06b/probe_collapse.py
  src/training/decision2/v2/06b/records/arms/m2-qbos-s1.json
  src/training/decision2/v2/06b/records/arms/m2-qbos-s2.json
  src/training/decision2/v2/06b/records/arms/m2-qbs-s1.json
  src/training/decision2/v2/06b/records/arms/m2-qbs-s2.json
  src/training/decision2/v2/06b/records/m2b-amendment-2026-09-28.md
  src/training/decision2/v2/06b/tests/test_encoder_cpu.py
  src/training/decision2/v2/06b/train.py
Due: md-fmt

[Feature] Batch Vela Decision rows within power-of-two length buckets
  src/vllm-sr/decision_runtime/families/base.py
  src/vllm-sr/decision_runtime/families/qwen35.py
  src/vllm-sr/decision_runtime/families/vela.py
  src/vllm-sr/decision_runtime/row_executor.py
  src/vllm-sr/tests/test_decision_runtime_server.py
Due: none

[Bug] Score the domain baseline on MMLU-Pro rows outside MMLU
  src/training/model_eval/README.md
  src/training/model_eval/baseline_manifests.py
  src/training/model_eval/baseline_tasks.py
  src/training/model_eval/tests/test_dataset_contracts.py
Due: md-fmt

research(decision2): freeze 0.6B Lux1-teacher arm specs after the TRAIN-only screen passed
  src/training/decision2/v2/06b/records/arms/m2-lxl-s1.json
  src/training/decision2/v2/06b/records/arms/m2-lxl-s2.json
  src/training/decision2/v2/06b/records/arms/m2-qbls-s1.json
  src/training/decision2/v2/06b/records/arms/m2-qbls-s2.json
Due: none

feat(decision2): drop gate-failing families during quarantine
  src/training/decision2/v2/data/apply_quarantine.py
  src/training/decision2/v2/data/tests/test_apply_quarantine.py
Due: none

research(decision2): add 0.6B padded-batch gradient probe for the encoder collapse
  src/training/decision2/v2/06b/probe_gradients.py
Due: none

[Bug] Keep the baseline off the fact-check and feedback shortcut splits
  src/training/model_eval/README.md
  src/training/model_eval/baseline_tasks.py
  src/training/model_eval/tests/test_dataset_contracts.py
Due: md-fmt

fix(decision2): apply the alternative-mask gradient modes only to the Qwen path
  src/training/decision2/v2/06b/probe_gradients.py
Due: none

docs(decision2): list A1, A2, A3 and A6g in the private dataset README
  src/training/decision2/v2/data/records/hf-dataset-v2-readme.md
Due: md-fmt

research(decision2): record 27B FLA reload stop and preregister shared autotune cache arms
  src/training/decision2/v2/27b/records/m1-prereg-2026-09-28.md
  src/training/decision2/v2/27b/run_lora_arm.sh
Due: md-fmt

research(decision2): amend 0.6B Milestone 2 with a non-sink query readout (QBQ)
  src/training/decision2/v2/06b/encoder.py
  src/training/decision2/v2/06b/records/arms/m2-qbq-s1.json
  src/training/decision2/v2/06b/records/arms/m2-qbq-s2.json
  src/training/decision2/v2/06b/records/arms/m2-qbql-s1.json
  src/training/decision2/v2/06b/records/arms/m2-qbql-s2.json
  src/training/decision2/v2/06b/records/m2c-amendment-2026-09-28.md
  src/training/decision2/v2/06b/train.py
Due: md-fmt

research(decision2): freeze wave-1 arms A1, A2, A3, A6g; hold A4 v1
  src/training/decision2/v2/data/records/arms-v1-2026-09-28.md
  src/training/decision2/v2/data/records/data-arms-v1-prereg-amendment-2-2026-09-28.md
Due: md-fmt

feat(decision2): add A5 (KLUE, JGLUE) and A6h human-ordinal Score builders
  src/training/decision2/v2/data/build_a5_a6h.py
  src/training/decision2/v2/data/sources/argq.py
  src/training/decision2/v2/data/sources/jglue.py
  src/training/decision2/v2/data/sources/klue.py
  src/training/decision2/v2/data/sources/ordinal.py
  src/training/decision2/v2/data/sources/saf.py
  src/training/decision2/v2/data/tests/test_sources_a5_a6h.py
Due: none

research(decision2): lock E1-X2 4B candidate for one post-key v3 run
  src/training/decision2/v2/dec/records/dec-t2-e1-x2-formal-lock-2026-09-28.md
Due: md-fmt

fix(decision2): allow untitled KLUE MRC passages
  src/training/decision2/v2/data/sources/klue.py
Due: none

research(decision2): compare padded gradients under deterministic algorithms in the 0.6B probe
  src/training/decision2/v2/06b/probe_gradients.py
Due: none

research(decision2): compare checkpointed gradients in the 0.6B probe
  src/training/decision2/v2/06b/probe_gradients.py
Due: none

docs(decision2): list A5 and A6h in the private dataset README
  src/training/decision2/v2/data/records/hf-dataset-v2-readme.md
Due: md-fmt

feat(decision2): add causal official-Qwen family to the 0.6B trainer; preregister QC/QCL Lux1 distillation (M2d)
  src/training/decision2/v2/06b/m1_arm.sh
  src/training/decision2/v2/06b/records/arms/m2-qc-s1.json
  src/training/decision2/v2/06b/records/arms/m2-qc-s2.json
  src/training/decision2/v2/06b/records/arms/m2-qcl-s1.json
  src/training/decision2/v2/06b/records/arms/m2-qcl-s2.json
  src/training/decision2/v2/06b/records/m2d-amendment-2026-09-28.md
  src/training/decision2/v2/06b/train.py
Due: md-fmt

research(decision2): freeze wave-2 arms A5 and A6h
  src/training/decision2/v2/data/records/arms-v1-2026-09-28.md
Due: md-fmt

Admit TII Falcon models with source backed evaluations and vLLM mappings
  config/catalog/manifest.yaml
  config/catalog/resources/evaluations/single/tii.yaml
  config/catalog/resources/models/single/tii.yaml
  config/catalog/resources/providers/vllm.yaml
  config/recipes/built-in/latest/catalog.yaml
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

fix: Remove multilingual tag from falcon h1 0.5b instruct model card
  config/catalog/resources/models/single/tii.yaml
  config/recipes/built-in/latest/catalog.yaml
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

research(decision2): record cross-partition isolation pass for v1 arms
  src/training/decision2/v2/data/records/arms-v1-2026-09-28.md
Due: md-fmt

research(decision2): preregister M2 dev readouts, cross-node Lux1 and node B AutoJev runs
  src/training/decision2/v2/eval/records/m1-baseline-runs-prereg-2026-09-28.md
Due: md-fmt

feat(decision2): let decoder jobs share a persistent Triton autotune cache
  src/training/decision2/v2/dec/launch.sh
Due: none

research(decision2): move E1-X2 formal collection to node A per same-node rule
  src/training/decision2/v2/dec/records/dec-t2-e1-x2-formal-lock-amendment-1-2026-09-28.md
Due: md-fmt

research(decision2): preregister unpadded micro-batch diagnostic for the 0.6B Qwen stall (M2e)
  src/training/decision2/v2/06b/records/arms/m2-qcmb1-s1.json
  src/training/decision2/v2/06b/records/arms/m2-qcmb1-s2.json
  src/training/decision2/v2/06b/records/m2d-amendment-2026-09-28.md
Due: md-fmt

research(decision2): preregister 9B Lux continuation arms for Milestone 2
  src/training/decision2/v2/9b/lux9b/__init__.py
  src/training/decision2/v2/9b/lux9b/mix.py
  src/training/decision2/v2/9b/records/clm-frozen-ablation-result-2026-09-28.md
  src/training/decision2/v2/9b/records/lux9b-m2-continuation-prereg-2026-09-28.md
  src/training/decision2/v2/9b/tests/test_mix.py
Due: md-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
