Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

feat: support fa onnx for vllm-sr
  website/static/white-paper.pdf
Due: none

feat: support fa onnx for vllm-sr
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: yaml-and-yml-fmt

add more test cases
  onnx-binding/ort-ck-flash-attn/scripts/rewrite_graph.py
  src/semantic-router/pkg/promptcompression/compressor.go
  src/semantic-router/pkg/promptcompression/compressor_test.go
  src/semantic-router/pkg/promptcompression/novelty.go
Due: go-fmt

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Due: none

feat: support onboarding process
  dashboard/backend/handlers/config.go
  dashboard/backend/handlers/setup.go
  dashboard/backend/handlers/status.go
Due: go-fmt

add more tests
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/promptcompression/compressor_test.go
Due: go-fmt

reduce re-compute during compression
  src/semantic-router/pkg/promptcompression/compressor.go
  src/semantic-router/pkg/promptcompression/novelty.go
  src/semantic-router/pkg/promptcompression/sentence.go
  src/semantic-router/pkg/promptcompression/textrank.go
  src/semantic-router/pkg/promptcompression/tfidf.go
Due: go-fmt

lint
  src/semantic-router/pkg/promptcompression/compressor_test.go
Due: go-fmt

review feedback
  onnx-binding/ort-ck-flash-attn/scripts/rewrite_graph.py
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/promptcompression/compressor_nlp_test.go
  src/semantic-router/pkg/promptcompression/compressor_test.go
Due: go-fmt

feat: support envoy stream mode
  bench/cpu-vs-gpu/README.md
  bench/cpu-vs-gpu/config-bench.yaml
  bench/cpu-vs-gpu/envoy-bench.yaml
  src/semantic-router/go.mod
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_core.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_body_streamed.go
  src/semantic-router/pkg/extproc/processor_req_body_streamed_test.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/utils.go
  src/semantic-router/pkg/extproc/utils_fast.go
  src/semantic-router/pkg/extproc/utils_fast_test.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

review feedback
  src/semantic-router/pkg/extproc/processor_req_body_streamed.go
  src/semantic-router/pkg/extproc/processor_req_body_streamed_test.go
Due: go-fmt

add more test cases
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_body_streamed.go
  src/semantic-router/pkg/extproc/processor_req_body_streamed_test.go
Due: go-fmt

add more test cases
  deploy/kubernetes/streaming/aigw-resources/gwapi-resources.yaml
  e2e/cmd/e2e/main.go
  e2e/profiles/streaming/profile.go
  e2e/profiles/streaming/values.yaml
  e2e/testcases/streaming_body.go
  src/semantic-router/pkg/cache/cache_extract_test.go
  src/semantic-router/pkg/extproc/processor_req_body_streamed_test.go
  src/semantic-router/pkg/extproc/utils_fast.go
  src/semantic-router/pkg/extproc/utils_fast_test.go
Due: go-fmt, yaml-and-yml-fmt

enable streaming e2e
  .github/workflows/ci-changes.yml
  .github/workflows/integration-test-k8s.yml
Due: yaml-and-yml-fmt

fix e2e
  e2e/profiles/streaming/values.yaml
  e2e/testcases/streaming_body.go
Due: go-fmt, yaml-and-yml-fmt

build: update amd install steps
  deploy/amd/README.md
  deploy/amd/claw-minimal.yaml
  deploy/amd/claw.yaml
  deploy/amd/config.yaml
Due: md-fmt, yaml-and-yml-fmt

build: update amd install steps
  deploy/amd/README.md
Due: md-fmt

build: update amd install steps
  deploy/amd/README.md
  deploy/amd/config.yaml
Due: md-fmt, yaml-and-yml-fmt

build: update amd install steps
  deploy/amd/config.yaml
Due: yaml-and-yml-fmt

build: include both candle and ONNX bindings in container image
  src/vllm-sr/Dockerfile
  src/vllm-sr/start-router.sh
Due: none

test: skip real-models classification tests when models dir unavailable
  src/semantic-router/pkg/classification/classifier_test.go
Due: go-fmt

project: separate giant test files
  src/semantic-router/pkg/classification/classifier_jailbreak_test.go
  src/semantic-router/pkg/classification/classifier_pii_test.go
  src/semantic-router/pkg/classification/classifier_real_models_test.go
  src/semantic-router/pkg/classification/classifier_suite_test.go
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/classification/keyword_classifier_structural_test.go
  src/semantic-router/pkg/classification/language_classifier_test.go
  src/semantic-router/pkg/classification/mcp_classifier_categories_test.go
  src/semantic-router/pkg/classification/mcp_classifier_core_test.go
  src/semantic-router/pkg/classification/mcp_classifier_test_support_test.go
  src/semantic-router/pkg/classification/model_discovery_test.go
  src/semantic-router/pkg/classification/unified_classifier_integration_test.go
  src/semantic-router/pkg/classification/unified_classifier_test.go
Due: go-fmt

project: separate giant test files
  docs/agent/tech-debt-register.md
Due: md-fmt

refactor: add execution plan governance
  AGENTS.md
  docs/agent/README.md
  docs/agent/adr/README.md
  docs/agent/change-surfaces.md
  docs/agent/glossary.md
  docs/agent/governance.md
  docs/agent/plans/README.md
  docs/agent/plans/harness-roadmap.md
  tools/agent/repo-manifest.yaml
  tools/agent/scripts/agent_doc_validation.py
  tools/agent/scripts/agent_models.py
  tools/agent/scripts/agent_scorecard.py
  tools/agent/skill-registry.yaml
  tools/agent/skills/harness-contract-change/SKILL.md
Due: md-fmt, yaml-and-yml-fmt

fix: keep config page within hotspot ratchet
  dashboard/frontend/src/pages/ConfigPage.tsx
Due: none

fix: edit model failure in dash
  dashboard/frontend/src/components/EndpointsEditor.tsx
  dashboard/frontend/src/lib/wasm.ts
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/configPageSupport.ts
Due: none

project: add copilot instructions for harness engineering
  .github/copilot-instructions.md
  .github/workflows/ci-changes.yml
  .gitignore
  docs/agent/README.md
  tools/agent/repo-manifest.yaml
  tools/agent/skill-registry.yaml
  tools/agent/task-matrix.yaml
Due: md-fmt, yaml-and-yml-fmt

[Doc][CI] Split tech debt register into indexed entries
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  AGENTS.md
  CONTRIBUTING.md
  README.md
  docs/agent/README.md
  docs/agent/adr/0002-tech-debt-index-and-entry-directory.md
  docs/agent/adr/README.md
  docs/agent/glossary.md
  docs/agent/governance.md
  docs/agent/plans/README.md
  docs/agent/plans/harness-roadmap.md
  docs/agent/repo-map.md
  docs/agent/tech-debt-register.md
  docs/agent/tech-debt/README.md
  docs/agent/tech-debt/TD001-config-surface-fragmentation.md
  docs/agent/tech-debt/TD002-config-portability-gap-local-vs-k8s.md
  docs/agent/tech-debt/TD003-package-topology-hotspot-layout-debt.md
  docs/agent/tech-debt/TD004-python-cli-kubernetes-workflow-separation.md
  docs/agent/tech-debt/TD005-dashboard-enterprise-console-foundations.md
  docs/agent/tech-debt/TD006-structural-rule-target-vs-legacy-hotspots.md
  docs/agent/tech-debt/TD007-e2e-integration-surfaces-split-across-frameworks.md
  docs/agent/tech-debt/TD008-e2e-profile-matrix-shared-router-coverage-ownership.md
  docs/agent/tech-debt/TD009-e2e-profile-inventory-and-documentation-drift.md
  tools/agent/repo-manifest.yaml
  tools/agent/scripts/agent_doc_validation.py
  tools/agent/scripts/agent_governance_doc_support.py
  tools/agent/scripts/agent_scorecard.py
  tools/agent/scripts/agent_tech_debt_support.py
  tools/agent/skills/classifier-post-training/SKILL.md
  tools/agent/skills/config-platform-change/SKILL.md
  tools/agent/skills/cross-stack-bugfix/SKILL.md
  tools/agent/skills/dashboard-console-backend/SKILL.md
  tools/agent/skills/dashboard-console-platform-change/SKILL.md
  tools/agent/skills/harness-contract-change/SKILL.md
  tools/agent/skills/harness-governance/SKILL.md
  tools/agent/skills/training-model-classifier/SKILL.md
Due: md-fmt, yaml-and-yml-fmt

[Doc][CI] Make tech debt entries the single source
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  AGENTS.md
  CONTRIBUTING.md
  README.md
  docs/agent/README.md
  docs/agent/adr/0002-tech-debt-index-and-entry-directory.md
  docs/agent/adr/README.md
  docs/agent/governance.md
  docs/agent/plans/README.md
  docs/agent/plans/harness-roadmap.md
  docs/agent/tech-debt-register.md
  docs/agent/tech-debt/README.md
  tools/agent/repo-manifest.yaml
  tools/agent/scripts/agent_doc_validation.py
  tools/agent/scripts/agent_tech_debt_support.py
  tools/agent/skills/classifier-post-training/SKILL.md
  tools/agent/skills/config-platform-change/SKILL.md
  tools/agent/skills/cross-stack-bugfix/SKILL.md
  tools/agent/skills/dashboard-console-platform-change/SKILL.md
  tools/agent/skills/harness-contract-change/SKILL.md
  tools/agent/skills/harness-governance/SKILL.md
Due: md-fmt, yaml-and-yml-fmt

Add task-first harness context packs
  docs/agent/README.md
  docs/agent/context-management.md
  docs/agent/governance.md
  docs/agent/tech-debt/TD006-structural-rule-target-vs-legacy-hotspots.md
  tools/agent/context-map.yaml
  tools/agent/repo-manifest.yaml
  tools/agent/scripts/agent_context_pack.py
  tools/agent/scripts/agent_context_validation.py
  tools/agent/scripts/agent_doc_validation.py
  tools/agent/scripts/agent_models.py
  tools/agent/scripts/agent_resolution.py
  tools/agent/scripts/agent_support.py
  tools/agent/scripts/agent_validation.py
Due: md-fmt, yaml-and-yml-fmt
