Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

[Feature] Recipes: let decision-balance's PII rule use the model's own threshold
  config/recipes/decision-balance/config.yaml
  config/recipes/decision-balance/recipe.dsl
Due: yaml-and-yml-fmt

[Bug] Router: prepare set and span questions that ask the decision model
  src/semantic-router/pkg/classification/classifier_signal_decision_prepare.go
  src/semantic-router/pkg/classification/classifier_signal_decision_prepare_test.go
Due: go-fmt

[Feature] Dashboard: show the System One answers and routing latency in Playground
  dashboard/frontend/src/components/HeaderDisplay.tsx
  dashboard/frontend/src/components/HeaderMetadata.test.tsx
  dashboard/frontend/src/components/chatRequestSupport.test.ts
  dashboard/frontend/src/components/chatRequestSupport.ts
Due: none

[Bug] Recipes: plan a GPU-only decision model as a hardware requirement
  config/recipes/CONFORMANCE.md
  tools/calibration/recipe/recipe_conformance.py
  tools/calibration/recipe/recipe_conformance_test.py
  tools/calibration/recipe/router_calibration_evaluation.py
Due: md-fmt

[Feature] Recipes: add the decision-balance Mixture-of-Models recipe
  config/recipes/README.md
  config/recipes/decision-balance/README.md
  config/recipes/decision-balance/config.yaml
  config/recipes/decision-balance/metadata.yaml
  config/recipes/decision-balance/probes.yaml
  config/recipes/decision-balance/recipe.dsl
  tools/calibration/recipe/recipe_conformance_built_in_test.py
  tools/calibration/recipe/recipe_conformance_test.py
Due: md-fmt, yaml-and-yml-fmt

[Bug] Router: stop RouterDC warnings when no decision uses it
  src/semantic-router/pkg/embedding/set.go
  src/semantic-router/pkg/embedding/set_test.go
  src/semantic-router/pkg/selection/router_dc.go
  src/semantic-router/pkg/selection/router_dc_test.go
Due: go-fmt

[Feature] Recipes: raise decision-balance's effort to high from 0.675
  config/recipes/decision-balance/README.md
  config/recipes/decision-balance/config.yaml
  config/recipes/decision-balance/metadata.yaml
  config/recipes/decision-balance/probes.yaml
  config/recipes/decision-balance/recipe.dsl
Due: md-fmt, yaml-and-yml-fmt

[Bug] Router: keep short-request usage out of context token calibration
  src/semantic-router/pkg/classification/calibrated_token_counter.go
  src/semantic-router/pkg/classification/calibrated_token_counter_test.go
  src/semantic-router/pkg/extproc/context_token_calibration_test.go
  website/docs/tutorials/signal/heuristic/context.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/heuristic/context.md
Due: go-fmt, md-fmt

[Bug] Recipes: count only identifying types as decision-balance personal data
  config/recipes/decision-balance/README.md
  config/recipes/decision-balance/config.yaml
  config/recipes/decision-balance/probes.yaml
  config/recipes/decision-balance/recipe.dsl
Due: md-fmt, yaml-and-yml-fmt

[Feature] Recipes: release decision-balance 0.3.2 with production fixes
  config/recipes/decision-balance/README.md
  config/recipes/decision-balance/metadata.yaml
Due: md-fmt, yaml-and-yml-fmt

[Bug] CLI: never leave the stack down over the sr-bench worker
  src/vllm-sr/cli/container_start_runner.py
  src/vllm-sr/cli/sr_bench_runtime.py
  src/vllm-sr/tests/test_sr_bench_runtime.py
  website/docs/benchmarking/sr-bench/shared-worker.md
Due: md-fmt

[Test] Count action-routing on top of main's routing-error-codes case
  e2e/pkg/testmatrix/testcases_test.go
Due: go-fmt

[Feature] Add KV handoff eligibility contract (#4532)
  src/semantic-router/pkg/kvtransfer/eligibility.go
  src/semantic-router/pkg/kvtransfer/eligibility_test.go
Due: go-fmt

[Bug] Take the result_to_config model modules from config/config.yaml
  src/training/model_eval/result_to_config.py
  src/training/model_eval/test_result_to_config.py
Due: none

feat(kvtransfer): configure pinned mapper pairs and backend capabilities
  config/config.yaml
  config/fragments/global/integrations/kv-transfer.yaml
  src/semantic-router/pkg/config/canonical_export.go
  src/semantic-router/pkg/config/canonical_global.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/kv_transfer.go
  src/semantic-router/pkg/config/kv_transfer_test.go
  src/semantic-router/pkg/config/validator_dispatch.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  src/semantic-router/pkg/kvtransfer/README.md
  src/semantic-router/pkg/kvtransfer/config.go
  src/semantic-router/pkg/kvtransfer/eligibility.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

docs(kv): describe coordinator integration contract
  src/semantic-router/pkg/kvtransfer/README.md
Due: md-fmt

feat(kv): coordinate scoped handoff candidates
  src/semantic-router/pkg/kvtransfer/coordinator.go
  src/semantic-router/pkg/kvtransfer/coordinator_test.go
Due: go-fmt

fix(kvtransfer): resolve export capability on discovered source
  src/semantic-router/pkg/kvtransfer/coordinator.go
  src/semantic-router/pkg/kvtransfer/coordinator_test.go
Due: go-fmt

[Test] E2E: compare the AI gateway guard with the decision model's threshold (#4731)
  e2e/profiles/ai-gateway/profile_test.go
Due: go-fmt

fix(sr-bench): scope fault counters and report aggregation by target execution
  src/vllm-sr/cli/sr_bench/engine.py
  src/vllm-sr/cli/sr_bench/report.py
  src/vllm-sr/cli/sr_bench/transport.py
  src/vllm-sr/tests/test_sr_bench_fault_schedule.py
  tools/test/services/provider-mocker/provider_mocker/chat.py
  tools/test/services/provider-mocker/provider_mocker/fault_schedule.py
  tools/test/services/provider-mocker/provider_mocker/messages.py
  tools/test/services/provider-mocker/provider_mocker/responses.py
  tools/test/services/provider-mocker/tests/test_fault_schedule.py
Due: none

[Feature] Require all runtime checks to promote
  src/training/model_classifier/sequence_repair/README.md
  src/training/model_classifier/sequence_repair/promotion_gate.py
  src/training/model_classifier/sequence_repair/tests/test_promotion_gate.py
Due: md-fmt

[Feature] Prove the Vela Domain pipeline with a promotion gate
  src/training/model_classifier/domain_classifier/README.md
  src/training/model_classifier/domain_classifier/prepare_data.py
  src/training/model_classifier/domain_classifier/qualification-suite.json
  src/training/model_classifier/sequence_repair/README.md
  src/training/model_classifier/sequence_repair/promotion_gate.py
  src/training/model_classifier/sequence_repair/tests/test_promotion_gate.py
  src/training/model_classifier/sequence_repair/train.py
Due: md-fmt

test(cli): define the default model in the migration success fixture
  src/vllm-sr/tests/test_config_migrate_model_runtime.py
Due: none

test(cli): keep the fixture edit black-clean
  src/vllm-sr/tests/test_config_migrate_model_runtime.py
Due: none

fix(cli): validate the migrate output against the canonical schema
  src/vllm-sr/cli/commands/config.py
  src/vllm-sr/cli/commands/validate.py
  src/vllm-sr/cli/parser.py
  src/vllm-sr/tests/test_config_migrate.py
Due: none

fix(cli): drop the import command the rebase resurrected
  src/vllm-sr/cli/commands/config.py
  src/vllm-sr/cli/commands/validate.py
Due: none

[Refactor] Name the complexity verdict input Value instead of FusedMargin
  src/semantic-router/pkg/classification/classifier_signal_complexity_publish.go
  src/semantic-router/pkg/classification/classifier_signal_complexity_publish_test.go
  src/semantic-router/pkg/classification/complexity_classifier.go
  src/semantic-router/pkg/classification/complexity_remote_eval.go
  src/semantic-router/pkg/classification/complexity_remote_eval_test.go
  src/semantic-router/pkg/classification/complexity_rule_scoring.go
Due: go-fmt

fix(looper): validate frozen manifest identity before dispatch
  bench/looper_tts/README.md
  src/semantic-router/cmd/looper-tts/main.go
  src/semantic-router/cmd/looper-tts/manifest_integrity.go
  src/semantic-router/cmd/looper-tts/manifest_integrity_test.go
  src/semantic-router/cmd/looper-tts/testdata/frozen_manifest.json
Due: go-fmt, md-fmt

test(selection): preserve default score for partially scored candidates
  src/semantic-router/pkg/selection/static_score_test.go
Due: go-fmt

[Test] Keep the complexity CRD type in step with the Router rule
  deploy/operator/api/v1alpha1/semanticrouter_types.go
  deploy/operator/api/v1alpha1/semanticrouter_types_complexity_test.go
  deploy/operator/api/v1alpha1/semanticrouter_types_parity_test.go
  deploy/operator/api/v1alpha1/zz_generated.deepcopy.go
  deploy/operator/bundle/manifests/vllm.ai_semanticrouters.yaml
  deploy/operator/config/crd/bases/vllm.ai_semanticrouters.yaml
  deploy/operator/controllers/canonical_config_spec_test.go
  website/docs/api/crd-reference.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Feature] Show the Router's verdict in the Builder deploy dialog
  dashboard/backend/handlers/deploy.go
  dashboard/backend/handlers/deploy_test.go
  dashboard/frontend/e2e/builder-errors.spec.ts
  dashboard/frontend/src/pages/BuilderPage.module.css
  dashboard/frontend/src/pages/BuilderPage.tsx
  dashboard/frontend/src/pages/builderPageDeployOverlays.tsx
  dashboard/frontend/src/pages/builderPageOverlays.test.tsx
  dashboard/frontend/src/stores/dslStore.ts
  dashboard/frontend/src/stores/dslStoreDeployPreview.test.ts
  dashboard/frontend/src/stores/dslStoreSupport.ts
  dashboard/frontend/src/stores/dslStoreTypes.ts
Due: go-fmt

[Docs] Fix translated safety signal scan-budget links
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/learned/jailbreak.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/learned/pii.md
Due: md-fmt

[Fix] Dashboard: surface the configured decision model and shared runtime
  dashboard/frontend/e2e/config-surface-layout.spec.ts
  dashboard/frontend/e2e/model-inventory.spec.ts
  dashboard/frontend/e2e/multi-recipe-dashboard.spec.ts
  dashboard/frontend/src/components/RouterModelInventory.test.tsx
  dashboard/frontend/src/components/routerModelPresentation.ts
  dashboard/frontend/src/hooks/useAccessibleDialog.ts
  dashboard/frontend/src/pages/ConfigPageRouterConfigSection.module.css
  dashboard/frontend/src/pages/ConfigPageRouterConfigSection.tsx
  dashboard/frontend/src/pages/DashboardPage.tsx
  dashboard/frontend/src/pages/DashboardRouterIntelligence.module.css
  dashboard/frontend/src/pages/DashboardRouterIntelligence.tsx
  dashboard/frontend/src/pages/configPageRouterDefaultsCatalog.ts
  dashboard/frontend/src/pages/configPageRouterDefaultsSupport.ts
  dashboard/frontend/src/pages/configPageVelaDefaults.test.ts
  dashboard/frontend/src/pages/dashboardRouterIntelligenceSupport.test.ts
  dashboard/frontend/src/pages/dashboardRouterIntelligenceSupport.ts
Due: none

[Bug] Dashboard: re-pin the mom-v1 receipt and test recipe changes (#4733)
  dashboard/backend/recipe/service_fixture_materialization_test.go
  tools/agent/domains.yaml
  tools/ci/tests/test_domain_registry.py
Due: go-fmt, yaml-and-yml-fmt

Quote route plugin references that are not DSL identifiers
  dashboard/frontend/src/lib/dslMutations.test.ts
  dashboard/frontend/src/lib/dslMutations.ts
  dashboard/frontend/src/pages/builderPageRoutePreview.tsx
Due: none

[Feat] Dashboard: manage decision models and identify serving modes
  dashboard/backend/handlers/config_decision_model_test.go
  dashboard/backend/handlers/router_management_request.go
  dashboard/backend/handlers/status.go
  dashboard/backend/handlers/status_collectors.go
  dashboard/backend/handlers/status_modes.go
  dashboard/backend/handlers/status_probes.go
  dashboard/backend/handlers/status_serving_mode.go
  dashboard/backend/handlers/status_serving_mode_test.go
  dashboard/backend/router/proxy_routes_test.go
  dashboard/backend/router/route_policy_test.go
  dashboard/backend/routercontract/management.go
  dashboard/backend/routercontract/management_test.go
  dashboard/frontend/e2e/dashboard-serving-mode.spec.ts
  dashboard/frontend/e2e/decision-model-management.spec.ts
  dashboard/frontend/e2e/model-inventory.spec.ts
  dashboard/frontend/src/app/AuthenticatedAppRoutes.tsx
  dashboard/frontend/src/app/routeLoaders.ts
  dashboard/frontend/src/app/routeManifest.test.ts
  dashboard/frontend/src/app/routeManifest.ts
  dashboard/frontend/src/components/LayoutNavSupport.test.ts
  dashboard/frontend/src/components/LayoutNavSupport.ts
  dashboard/frontend/src/pages/DashboardPage.module.css
  dashboard/frontend/src/pages/DashboardPage.tsx
  dashboard/frontend/src/pages/DashboardRouterIntelligence.tsx
  dashboard/frontend/src/pages/DecisionModelPage.module.css
  dashboard/frontend/src/pages/DecisionModelPage.tsx
  dashboard/frontend/src/pages/dashboardServingMode.test.ts
  dashboard/frontend/src/pages/dashboardServingMode.ts
  dashboard/frontend/src/pages/decisionModelManagement.test.ts
  dashboard/frontend/src/pages/decisionModelManagement.ts
  dashboard/frontend/src/pages/useDecisionModelManagement.ts
  dashboard/frontend/src/utils/accessControl.test.ts
  dashboard/frontend/src/utils/accessControl.ts
  dashboard/frontend/src/utils/routerRuntime.ts
Due: go-fmt

[Fix] Dashboard: keep the decision model deploy action readable
  dashboard/frontend/src/pages/DecisionModelPage.module.css
Due: none

[Feat] Dashboard: show decision runtime metrics and simplify model management
  dashboard/frontend/e2e/decision-model-management.spec.ts
  dashboard/frontend/src/pages/DecisionModelPage.module.css
  dashboard/frontend/src/pages/DecisionModelPage.tsx
  dashboard/frontend/src/pages/DecisionModelRuntimePanel.tsx
  dashboard/frontend/src/pages/decisionModelMetrics.test.ts
  dashboard/frontend/src/pages/decisionModelMetrics.ts
  dashboard/frontend/src/pages/useDecisionModelMetrics.ts
Due: none

[Bug] CI: fix the main failures left by PRs merged before their CI
  .github/workflows/security-scan.yml
  dashboard/backend/safefetch/address.go
  e2e/testing/memory_tests/test_persistence_receipts.py
  e2e/testing/memory_tests/test_persistence_receipts_unit.py
  src/semantic-router/pkg/classification/classifier_jailbreak_risk_realmodel_test.go
  src/semantic-router/pkg/classification/classifier_pii_long_text_realmodel_test.go
  src/semantic-router/pkg/classification/fact_check_classifier_test.go
  src/semantic-router/pkg/classification/feedback_detector_realmodel_test.go
  src/semantic-router/pkg/classification/generic_classifier_local_test.go
  src/semantic-router/pkg/classification/real_model_test.go
  src/semantic-router/pkg/classification/unified_classifier_integration_test.go
  tools/agent/domains.yaml
  tools/ci/tests/test_domain_registry.py
  tools/security/scan_sensitive_paths.toml
  tools/security/test_self_exclusion.py
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/learned/jailbreak.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/learned/pii.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

docs(zh-Hans): fix model-runtime reference links in jailbreak and PII tutorials
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/learned/jailbreak.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/learned/pii.md
Due: md-fmt
