Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

docs(decision2): sync sanitized program docs (COORDINATION)
  src/training/decision2/v2/program/COORDINATION.md
Due: md-fmt

[Bug] Recipes: pass live conformance on the Vela 2.0 0.3B defaults (#4725)
  config/recipes/CONFORMANCE.md
  config/recipes/agent/probes.yaml
  config/recipes/balance/probes.yaml
  config/recipes/built-in/latest/catalog.yaml
  config/recipes/built-in/latest/mom-v1/probes.yaml
  config/recipes/privacy/probes.yaml
  e2e/testing/run_recipe_conformance.sh
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  tools/calibration/recipe/recipe_conformance.py
  tools/calibration/recipe/recipe_conformance_report.py
  tools/calibration/recipe/recipe_conformance_waivers.py
  tools/calibration/recipe/recipe_conformance_waivers_test.py
  tools/calibration/recipe/router_calibration_fixture_test.py
  tools/calibration/recipe/router_calibration_report.py
  tools/calibration/recipe/router_calibration_support.py
  tools/ci/check_ci_gate.py
  tools/ci/ci_plan.py
  tools/ci/ci_results.py
  tools/ci/known_issue_waivers.py
  tools/ci/runtime_evidence.py
  tools/ci/tests/test_known_issue_waivers.py
  tools/make/recipe-conformance.mk
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Bug] Router: wait for the Router-managed model deployments before reporting ready (#4726)
  e2e/profiles/model-runtime/profile.go
  e2e/testcases/model_runtime_startup_readiness.go
  src/model-runtime/docs/design.md
  src/semantic-router/cmd/main.go
  src/semantic-router/cmd/model_deployment_readiness_test.go
  src/semantic-router/cmd/model_deployment_startup.go
  src/semantic-router/cmd/model_deployment_startup_test.go
  src/semantic-router/cmd/runtime_bootstrap.go
  src/semantic-router/pkg/apiserver/route_startup_status_test.go
  src/semantic-router/pkg/extproc/router_signals.go
  src/semantic-router/pkg/modelservice/group.go
  src/semantic-router/pkg/modelservice/lease.go
  src/semantic-router/pkg/modelservice/lease_wait_test.go
  src/semantic-router/pkg/modelservice/modelservice_test.go
  src/semantic-router/pkg/routerruntime/status.go
  src/semantic-router/pkg/routerruntime/status_test.go
  src/semantic-router/pkg/startupstatus/status.go
  src/vllm-sr/cli/runtime_lifecycle.py
  src/vllm-sr/tests/test_runtime_lifecycle.py
  website/docs/api/apiserver.md
  website/docs/model-runtime/deploy.md
  website/docs/model-runtime/quickstart.md
  website/docs/model-runtime/troubleshooting.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/api/apiserver.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/model-runtime/quickstart.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/model-runtime/troubleshooting.md
  website/static/openapi/apiserver/apiserver.openapi.json
Due: go-fmt, md-fmt

[Bench] Remove superseded and broken bench/ scripts (#4614)
  bench/build_and_test.sh
  bench/reasoning_mode_eval.sh
Due: none

[Docs] Define the deployment architecture and CRD contract for #3043
  website/docs/installation/deployment-architecture.md
  website/docs/installation/deployment-options.md
  website/docs/installation/support-matrix.md
  website/sidebars.ts
Due: md-fmt

fix(memory): honor project scope on Milvus and Valkey retrieve
  src/semantic-router/pkg/memory/milvus_filter_test.go
  src/semantic-router/pkg/memory/milvus_store_retrieve.go
  src/semantic-router/pkg/memory/valkey_store.go
  src/semantic-router/pkg/memory/valkey_store_test.go
Due: go-fmt

fix(memory): distinguish unscoped memory from project default
  src/semantic-router/pkg/memory/caching_store.go
  src/semantic-router/pkg/memory/caching_store_test.go
  src/semantic-router/pkg/memory/milvus_filter.go
  src/semantic-router/pkg/memory/milvus_filter_test.go
  src/semantic-router/pkg/memory/milvus_store_columns.go
  src/semantic-router/pkg/memory/milvus_store_retrieve.go
  src/semantic-router/pkg/memory/valkey_store.go
  src/semantic-router/pkg/memory/valkey_store_helpers.go
  src/semantic-router/pkg/memory/valkey_store_test.go
Due: go-fmt

feat: wire opt-in post-write Router Memory consolidation
  config/config.yaml
  config/runtime/memory/valkey.yaml
  src/semantic-router/pkg/config/runtime_config.go
  src/semantic-router/pkg/config/validator_memory.go
  src/semantic-router/pkg/config/validator_memory_persistence_test.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  src/semantic-router/pkg/configschema/schema.go
  src/semantic-router/pkg/configschema/schema_memory.go
  src/semantic-router/pkg/configschema/schema_test.go
  src/semantic-router/pkg/extproc/processor_res_memory.go
  src/semantic-router/pkg/extproc/processor_res_memory_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_build_memory_persistence_test.go
  src/semantic-router/pkg/memory/caching_store.go
  src/semantic-router/pkg/memory/consolidation.go
  src/semantic-router/pkg/memory/consolidation_runner.go
  src/semantic-router/pkg/memory/consolidation_runner_test.go
  src/semantic-router/pkg/memory/consolidation_test.go
  src/semantic-router/pkg/memory/inmemory_store.go
  src/semantic-router/pkg/memory/metrics.go
  src/semantic-router/pkg/memory/metrics_test.go
  src/semantic-router/pkg/memory/valkey_store.go
  src/semantic-router/pkg/memory/valkey_store_conditional.go
  src/semantic-router/pkg/memory/valkey_store_helpers.go
  src/semantic-router/pkg/memory/valkey_store_integration_test.go
  src/semantic-router/pkg/memory/valkey_store_test.go
  website/docs/installation/valkey-memory.md
  website/docs/tutorials/global/stores-and-tools.md
  website/docs/tutorials/plugin/memory.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(memory): harden consolidation retries and list snapshots
  src/semantic-router/pkg/memory/caching_store.go
  src/semantic-router/pkg/memory/inmemory_store.go
  src/semantic-router/pkg/memory/inmemory_store_test.go
  src/semantic-router/pkg/memory/valkey_store_conditional.go
  src/semantic-router/pkg/memory/valkey_store_conditional_test.go
  src/semantic-router/pkg/memory/valkey_store_helpers.go
  src/semantic-router/pkg/memory/valkey_store_test.go
Due: go-fmt

[Bug] Release: default the source chart to the development image and pin the 0.5.0 performance base
  deploy/helm/README.md
  deploy/helm/semantic-router/Chart.yaml
  deploy/helm/semantic-router/README.md
  deploy/helm/semantic-router/templates/NOTES.txt
  e2e/pkg/cluster/kind_images.go
  e2e/pkg/cluster/kind_images_test.go
  e2e/pkg/helm/deployer.go
  e2e/profiles/standalone/profile.go
  e2e/testcases/standalone_gateway.go
  perf/README.md
  src/vllm-sr/scripts/release.sh
  src/vllm-sr/tests/test_release_script.py
  tools/agent/docs/maintainer-ops.md
  tools/agent/domains.yaml
  tools/ci/ci_plan.py
  tools/ci/tests/test_pr_change_classifier.py
  tools/ci/tests/test_release_catalog_contract.py
  tools/ci/tests/test_release_version_contract.py
  tools/release/check_version_contract.py
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Docs] Model runtime: rerun the decision-model latency on a clean host
  src/model-runtime/docs/records/vela2-decision-model-sizes.json
  src/model-runtime/docs/records/vela2-decision-model-sizes.md
  website/docs/model-runtime/choose-a-model.md
  website/docs/release-notes/decision-model.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/model-runtime/choose-a-model.md
Due: md-fmt

[Test] E2E: compare the AI gateway guard with the decision model's threshold
  e2e/profiles/ai-gateway/profile_test.go
Due: go-fmt

[Bug] Dashboard: re-pin the mom-v1 receipt and test recipe changes
  dashboard/backend/recipe/service_fixture_materialization_test.go
  tools/agent/domains.yaml
  tools/ci/tests/test_domain_registry.py
Due: go-fmt, yaml-and-yml-fmt

[Feature] Router: restrict a listener to named models
  config/config.yaml
  dashboard/frontend/src/types/config.ts
  src/semantic-router/cmd/native_gateway.go
  src/semantic-router/cmd/native_gateway_listener_models_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/listener_contracts.go
  src/semantic-router/pkg/config/listener_models_test.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_req_header_endpoints.go
  src/semantic-router/pkg/extproc/processor_req_listener_models.go
  src/semantic-router/pkg/extproc/processor_req_listener_models_test.go
  src/semantic-router/pkg/extproc/req_filter_entrypoint_test.go
  src/semantic-router/pkg/extproc/req_filter_models.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/extproc/routing_session.go
  src/semantic-router/pkg/gateway/handler.go
  src/semantic-router/pkg/gateway/handler_test.go
  src/semantic-router/pkg/routing/listener.go
  src/semantic-router/pkg/routing/listener_test.go
  src/vllm-sr/cli/config_generator.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_config_generator.py
  website/docs/installation/configuration.md
  website/docs/installation/gateway-modes.md
  website/docs/release-notes/standalone-mode.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/configuration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/gateway-modes.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Feature] Recipes: keep personal data out of decision-balance replay
  config/recipes/decision-balance/README.md
  config/recipes/decision-balance/config.yaml
  config/recipes/decision-balance/metadata.yaml
  config/recipes/decision-balance/probes.yaml
  config/recipes/decision-balance/recipe.dsl
Due: md-fmt, yaml-and-yml-fmt

[Feature] Router: let algorithm.decision ask the decision model
  dashboard/frontend/src/pages/SetupWizardDecisionModel.tsx
  dashboard/frontend/src/pages/configPageRouterDefaultsSupport.ts
  dashboard/frontend/src/pages/decisionModelSupport.ts
  src/semantic-router/pkg/config/decision_model.go
  src/semantic-router/pkg/config/decision_model_test.go
  src/semantic-router/pkg/config/decision_signal.go
  src/semantic-router/pkg/config/model_runtime_deployment.go
  src/semantic-router/pkg/config/validator_decision_signal.go
  src/semantic-router/pkg/config/validator_decision_signal_test.go
  src/semantic-router/pkg/dsl/decision_model_roundtrip_test.go
  src/semantic-router/pkg/extproc/req_filter_decision_model_selector.go
  src/semantic-router/pkg/extproc/req_filter_decision_model_selector_test.go
  src/vllm-sr/cli/models_decision.py
  src/vllm-sr/cli/validator_decision_model.py
  src/vllm-sr/tests/test_decision_model_config.py
  website/docs/model-runtime/guides/decisions.md
  website/docs/release-notes/decision-model.md
  website/docs/tutorials/algorithm/selection/decision.md
  website/docs/tutorials/signal/learned/decision.md
Due: go-fmt, md-fmt

[Feature] Router: preview the decision selector's choice
  src/semantic-router/pkg/extproc/eval_model_selection.go
  src/semantic-router/pkg/extproc/req_filter_decision_model_selector_test.go
  website/docs/tutorials/algorithm/selection/decision.md
Due: go-fmt, md-fmt

[Bug] CLI: accept PII signal rules without a threshold
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_validate_command.py
  website/docs/tutorials/signal/learned/pii.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/learned/pii.md
Due: md-fmt

[Feature] Router: let projections read one option of a decision question
  src/semantic-router/pkg/classification/classifier_projection_decision_test.go
  src/semantic-router/pkg/classification/classifier_signal_usage.go
  src/semantic-router/pkg/config/validator_projection.go
  src/semantic-router/pkg/config/validator_projection_test.go
  src/semantic-router/pkg/dsl/decision_model_roundtrip_test.go
  src/semantic-router/pkg/dsl/validator_conflicts.go
  website/docs/tutorials/signal/learned/decision.md
Due: go-fmt, md-fmt

[Feature] Recipes: send code to Flash-Next and hard STEM to extra-high effort
  config/recipes/decision-balance/README.md
  config/recipes/decision-balance/config.yaml
  config/recipes/decision-balance/metadata.yaml
  config/recipes/decision-balance/probes.yaml
  config/recipes/decision-balance/recipe.dsl
Due: md-fmt, yaml-and-yml-fmt

[Bug] DSL: validate decision-option routes and catalog-backed models cleanly
  src/semantic-router/pkg/dsl/decompiler_convert.go
  src/semantic-router/pkg/dsl/validator.go
  src/semantic-router/pkg/dsl/validator_conflicts.go
  src/semantic-router/pkg/dsl/validator_decision_route_test.go
  src/semantic-router/pkg/dsl/validator_signal_guard_semantics.go
Due: go-fmt

[Test] Dashboard: re-pin the mom-v1 fixture receipt after its probe rewrites
  dashboard/backend/recipe/service_fixture_materialization_test.go
Due: go-fmt

[Feature] Router: keep personal data out of replay with a recipe data policy
  config/config.yaml
  src/semantic-router/pkg/classification/classifier_signal_usage.go
  src/semantic-router/pkg/classification/classifier_signal_usage_test.go
  src/semantic-router/pkg/config/routing_data_policy.go
  src/semantic-router/pkg/config/routing_data_policy_test.go
  src/semantic-router/pkg/config/routing_signal_usage.go
  src/semantic-router/pkg/config/validator_dispatch.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  src/semantic-router/pkg/dsl/routing_policies.go
  src/semantic-router/pkg/dsl/routing_policies_test.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/extproc/router_replay_data_policy_test.go
  src/semantic-router/pkg/extproc/router_replay_policy.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/validator_recipe_contracts.py
  src/vllm-sr/tests/test_routing_policies.py
  website/docs/installation/configuration.md
  website/docs/tutorials/plugin/router-replay.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Bug] CLI: start vllm-sr serve on Docker daemons without a default bridge
  e2e/testing/vllm-sr-cli/test_integration.py
  src/vllm-sr/cli/container_run_command.py
  src/vllm-sr/tests/conftest.py
  src/vllm-sr/tests/test_container_run_command.py
  website/docs/troubleshooting/container-connectivity.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/troubleshooting/container-connectivity.md
Due: md-fmt
