Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

decision2(dec): M15 state 18:55Z (0.8B rules: no finalist)
  src/training/decision2/v2/dec/records/dec-m15-state.md
Due: md-fmt

test: verify semantic and llm-d routing composition
  e2e/profiles/llm-d/profile.go
  e2e/testcases/llmd_semantic_endpoint_selection.go
Due: go-fmt

docs(decision2): 27B M6 poll 11 (all alive; GPU-h about 80)
  src/training/decision2/v2/27b/records/m6-state.md
Due: md-fmt

dec-m15: results — no development finalists at any tier; MLX-DEV guard does not track mlx-diag
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01.md
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01/08b-RA-m12.mlxdev.json
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01/08b-RA10SDML.mlxdev.json
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01/08b-RASDML.mlxdev.json
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01/08b-finalists.json
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01/2b-RA10SDML.mlxdev.json
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01/2b-RASDML.mlxdev.json
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01/2b-finalists.json
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01/4b-LHA10SD-m13.mlxdev.json
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01/4b-LHA10SDML.mlxdev.json
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01/4b-finalists.json
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01/data-08b-RA10SDML.json
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01/data-08b-RASDML.json
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01/data-2b-RA10SDML.json
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01/data-2b-RASDML.json
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01/data-4b-LHA10SDML.json
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01/mlxdev-m15-08b.json
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01/mlxdev-m15-2b.json
  src/training/decision2/v2/dec/records/dec-m15-results-2026-10-01/mlxdev-m15-4b.json
Due: md-fmt

docs(decision2): 27B M6 worker 3 hand-off section and next steps; results record notes amendment 4 checks
  src/training/decision2/v2/27b/records/m6-results-2026-10-01.md
  src/training/decision2/v2/27b/records/m6-state.md
Due: md-fmt

dec-m15: state — close-out, leases released
  src/training/decision2/v2/dec/records/dec-m15-state.md
Due: md-fmt

docs(decision2): sync sanitized program docs (COORDINATION, STATUS)
  src/training/decision2/v2/program/COORDINATION.md
  src/training/decision2/v2/program/STATUS.md
Due: md-fmt

docs(decision2): sync sanitized program docs (COORDINATION)
  src/training/decision2/v2/program/COORDINATION.md
Due: md-fmt

fix(decision2): card Index uses the board's served-parameter convention and the audited footnote by default
  src/training/decision2/v2/release/README.md
  src/training/decision2/v2/release/card_index.py
  src/training/decision2/v2/release/tests/card_fixture.py
  src/training/decision2/v2/release/tests/test_card_index.py
  src/training/decision2/v2/release/tests/test_release.py
Due: md-fmt

decision2 release: card_assets breaks an Index footnote that would run into the logo (round-2 renders unchanged); K-a13IB private Index input builder
  src/training/decision2/v2/release/card_assets.py
  src/training/decision2/v2/release/records/dev2-9b-ka13ib-2026-10-02/ops/make_index_ka13ib.py
Due: none

decision2 release: make_ka13ib root path
  src/training/decision2/v2/release/records/dev2-9b-ka13ib-2026-10-02/ops/make_ka13ib.py
Due: none

fix(decision2): card Index charts wrap the footnote by sentence, clear of the logo
  src/training/decision2/v2/release/card_assets.py
Due: none

decision2 release: K-a13IB draft spec and decision (Index path; items 1', 2-7 pass; item 8 pending)
  src/training/decision2/v2/release/records/dev2-9b-ka13ib-2026-10-02/Decision-2.0-Lux-9B.decision.ka13ib.draft.json
  src/training/decision2/v2/release/specs/dev2-9b-ka13ib.draft.json
Due: none

feat(decision2): round-3 card-fix specs, decisions and driver for Kai, Eos, Sol, Nox and Vega
  src/training/decision2/v2/release/records/dev2-card3-2026-10-02/Decision-2.0-Eos-0.8B.decision.card3.json
  src/training/decision2/v2/release/records/dev2-card3-2026-10-02/Decision-2.0-Kai-0.6B.decision.card3.json
  src/training/decision2/v2/release/records/dev2-card3-2026-10-02/Decision-2.0-Nox-4B.decision.card3.json
  src/training/decision2/v2/release/records/dev2-card3-2026-10-02/Decision-2.0-Sol-2B.decision.card3.json
  src/training/decision2/v2/release/records/dev2-card3-2026-10-02/Decision-2.0-Vega-27B.decision.card3.json
  src/training/decision2/v2/release/records/dev2-card3-2026-10-02/ops/card3.sh
  src/training/decision2/v2/release/records/dev2-card3-2026-10-02/ops/make_card3.py
  src/training/decision2/v2/release/specs/dev2-0p6b-card3.json
  src/training/decision2/v2/release/specs/dev2-0p8b-card3.json
  src/training/decision2/v2/release/specs/dev2-27b-card3.json
  src/training/decision2/v2/release/specs/dev2-2b-card3.json
  src/training/decision2/v2/release/specs/dev2-4b-card3.json
Due: none

decision2 eval: add MLX-DEV2 held-out multilingual panel builder and guard
  src/training/decision2/v2/eval/mlx_dev2.py
  src/training/decision2/v2/eval/tests/test_mlx_dev2.py
Due: none

decision2 C1: post-key spec for the 9B successor K-a13IB (item 8; frozen package 055c86f1)
  src/training/decision2/v2/eval/sealed/c1-postkey/dev2-9b-ka13ib.json
Due: none

[Bug] Warn before leaving Builder and DSL pages with unsaved edits (#4389)
  dashboard/frontend/src/pages/BuilderPage.tsx
  dashboard/frontend/src/pages/DslEditorPage.tsx
  dashboard/frontend/src/pages/builderPageToolbar.tsx
  dashboard/frontend/src/stores/dslStore.ts
  dashboard/frontend/src/stores/dslStoreGuard.test.ts
  dashboard/frontend/src/stores/dslStoreSupport.ts
  dashboard/frontend/src/stores/dslStoreTypes.ts
  dashboard/frontend/src/stores/dslStoreUnsaved.test.ts
  dashboard/frontend/src/types/dsl.ts
Due: none

decision2 eval: MLX-DEV2 exact match covers short strings; add guard readout runner
  src/training/decision2/v2/eval/mlx_dev2.py
  src/training/decision2/v2/eval/mlx_dev2_run.sh
  src/training/decision2/v2/eval/tests/test_mlx_dev2.py
Due: none

docs(decision2): 27B M6 poll 12 and worker 3 hand-off (eight seeds alive; amendment 4 in force; next poll due 20:25Z)
  src/training/decision2/v2/27b/records/m6-state.md
Due: md-fmt

decision2 release: K-a13IB final spec and decision (Index path; items 1', 2-8 pass, C1 post-key PASS); purge step after verified upload
  src/training/decision2/v2/release/records/dev2-9b-ka13ib-2026-10-02/Decision-2.0-Lux-9B.decision.ka13ib.json
  src/training/decision2/v2/release/records/dev2-9b-ka13ib-2026-10-02/ops/purge_superseded.py
  src/training/decision2/v2/release/records/dev2-9b-ka13ib-2026-10-02/ops/release_ka13ib.sh
  src/training/decision2/v2/release/specs/dev2-9b-ka13ib.json
Due: none

docs(decision2): 27B M6 hand-off states the exact next-poll deadline
  src/training/decision2/v2/27b/records/m6-state.md
Due: md-fmt

dec M16: state 19:40Z (0.8B formal verdict, 2B finalists, 4B relayed)
  src/training/decision2/v2/dec/records/dec-m16-state.md
Due: md-fmt

decision2 release: K-a13IB Index input builds on the card round-3 input (board-served counts, audited footnote)
  src/training/decision2/v2/release/records/dev2-9b-ka13ib-2026-10-02/ops/make_index_ka13ib.py
Due: none

docs: publish multi-turn routing evaluation
  website/blog/2026-10-02-multiturn-model-switching.md
Due: md-fmt

decision2 release: K-a13IB spec text for the round-3 Index conventions
  src/training/decision2/v2/release/records/dev2-9b-ka13ib-2026-10-02/ops/make_ka13ib.py
Due: none

decision2 release: K-a13IB final spec and decision re-pinned to the round-3 Index input and assets
  src/training/decision2/v2/release/records/dev2-9b-ka13ib-2026-10-02/Decision-2.0-Lux-9B.decision.ka13ib.json
  src/training/decision2/v2/release/specs/dev2-9b-ka13ib.json
Due: none

docs(decision2): 27B M6 prereg amendment 5 (Index runs for Index-path candidates and the chosen successor, node C + D GPUs, Vega-27B target) and poll 13
  src/training/decision2/v2/27b/records/m6-handoff-2026-10-01.md
  src/training/decision2/v2/27b/records/m6-prereg-2026-10-01.md
  src/training/decision2/v2/27b/records/m6-state.md
Due: md-fmt

decision2 9B M9: Index-path decision trail (items 1', 2-8 pass); state
  src/training/decision2/v2/9b/records/lux9b-m9-index-path-decision-2026-10-02.md
  src/training/decision2/v2/9b/records/m9-state.md
Due: md-fmt

feat(decision2): 27B M6 Index runs split shards across node C and node D (stage-c, collect, plan; amendment 5)
  src/training/decision2/v2/27b/m6/m6-index-run.sh
  src/training/decision2/v2/27b/m6/m6-index.sh
  src/training/decision2/v2/27b/tests/test_m6_tools.py
Due: none

dec M16: 2B mlx-diag scoring uses node A's S2T mlx run as m6-score's report-only reference
  src/training/decision2/v2/dec/ops/m16/m16-fscore.sh
Due: none

decision2 eval: register MLX-DEV2, validation record and guard rule; runner checks completeness
  src/training/decision2/v2/eval/mlx_dev2_run.sh
  src/training/decision2/v2/eval/panels.py
  src/training/decision2/v2/eval/records/mlx-dev2-2026-10-01.md
Due: md-fmt

docs(decision2): 27B M6 poll 14; m6-index.sh retries SSH connections
  src/training/decision2/v2/27b/m6/m6-index.sh
  src/training/decision2/v2/27b/records/m6-state.md
Due: md-fmt

dec M16: state 20:09Z (2B formal verdict, 4B finalists)
  src/training/decision2/v2/dec/records/dec-m16-state.md
Due: md-fmt

eval(decision2): IX1 entries for the M16 0.8B / 2B Index-path candidates
  src/training/decision2/v2/eval/ix1/launch.sh
Due: none

docs: explain conversation-aware routing with static diagrams
  website/blog/2026-10-02-multiturn-model-switching.md
  website/static/img/blog/multiturn-routing/conversation-handoff.svg
  website/static/img/blog/multiturn-routing/routing-architecture.svg
Due: md-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
