Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

feat(decision2): SK2 same-skill data builder (phishing, causal-ladder, chess)
  src/training/decision2/d25/vega/data/sk2.py
Due: none

[Website] Add homepage Trending highlights rail after Industry voices. (#4844)
  website/i18n/zh-Hans/code.json
  website/src/components/TrendingHighlights/index.module.css
  website/src/components/TrendingHighlights/index.tsx
  website/src/pages/index.tsx
  website/static/img/trending/alphasignal-logo.png
  website/static/img/trending/decision-20-jev-index.jpg
  website/static/img/trending/jev-decision-index.png
  website/static/img/trending/vela-20-alphasignal.svg
Due: none

feat(decision2): weights-only revision tool for d3 packages
  src/training/decision2/d25/vega/release/weights_revision.py
Due: none

[Docs] Model runtime: CPU forward thread scaling on Arm hosts (#4830)
  src/model-runtime/docs/records/cpu-forward-thread-scaling-arm.json
  src/model-runtime/docs/records/cpu-forward-thread-scaling-arm.md
Due: md-fmt

[Bug] Make the Valkey Router Memory create atomic and retry-safe
  src/semantic-router/pkg/memory/valkey_store.go
  src/semantic-router/pkg/memory/valkey_store_create_integration_test.go
  src/semantic-router/pkg/memory/valkey_store_helpers.go
Due: go-fmt

docs(i18n): finish the deploy.md sync with current main
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/model-runtime/deploy.md
Due: md-fmt

[Feature] Model runtime: add the NPU accelerator (#4827)
  src/model-runtime/pyproject.toml
  src/model-runtime/tests/test_npu_accelerator.py
  src/model-runtime/tests/test_placement.py
  src/model-runtime/vllm_srun/accel/npu.py
  src/model-runtime/vllm_srun/cli.py
Due: none

feat(decision2): soup --allow-negative for task arithmetic over exports of one base
  src/training/decision2/d25/vega/train/soup.py
Due: none

feat(decision2): d3 runtime video inputs (system_one, kit engine, /v1/systemone, AutoModel)
  src/training/decision2/d25/vega/release/package_d3/d3_engine.py
  src/training/decision2/d25/vega/release/package_d3/d3_runtime.py
  src/training/decision2/d25/vega/release/package_d3/d3_server.py
  src/training/decision2/d25/vega/release/package_d3/modeling_d3.py
  src/training/decision2/d25/vega/release/package_d3/pipeline_d3.py
  src/training/decision2/d25/vega/release/package_d3/requirements.txt
  src/training/decision2/d25/vega/release/video_check.py
  src/training/decision2/d25/vega/release/video_eval.py
Due: none

fix(model_eval): score a class-matched subset of the fresh feedback set
  src/training/model_eval/README.md
  src/training/model_eval/baseline_tasks.py
  src/training/model_eval/quality_baseline.py
  src/training/model_eval/tests/test_dataset_contracts.py
Due: md-fmt

fix(memory): use unique cache fence tokens
  src/semantic-router/pkg/memory/caching_store_fence_test.go
  src/semantic-router/pkg/memory/redis_cache.go
Due: go-fmt

fix(cache): enforce authorized max-age request control on semantic cache reads
  src/semantic-router/pkg/cache/contracts.go
  src/semantic-router/pkg/cache/response_cache_service.go
  src/semantic-router/pkg/cache/response_cache_service_max_age_test.go
  src/semantic-router/pkg/extproc/req_filter_cache.go
  src/semantic-router/pkg/extproc/req_filter_cache_control.go
  src/semantic-router/pkg/extproc/req_filter_cache_exact.go
  src/semantic-router/pkg/extproc/req_filter_cache_freshness_test.go
Due: go-fmt

feat(decision2): d3 video request latency probe (one short clip per request, MI325X)
  src/training/decision2/d25/vega/release/video_latency.py
Due: none

fix: satisfy mypy and measure the shadow pass at its own count
  src/model-runtime/vllm_srun/engines/native/engine.py
Due: none

[Docs] Add agent-routing-protection benchmarking page to sidebars
  website/sidebars.ts
  website/versioned_sidebars/version-v0.4-sidebars.json
Due: none

[Bug] Accept Mistral's p field on streamed Chat chunks
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_provider_extensions_test.go
  src/semantic-router/pkg/protocolcodec/stream_chat.go
  src/semantic-router/pkg/protocolcodec/testdata/contracts/chat-nested-fields.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/039-chat-nested-stream-fields-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/039-chat-nested-stream-fields-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/039-chat-nested-stream-fields-in.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/039-chat-nested-stream-fields-responses-out.json
Due: go-fmt

Fail closed on undecodable JSON
  src/semantic-router/pkg/masking/walk.go
  src/semantic-router/pkg/masking/walk_test.go
  website/docs/tutorials/plugin/masking.md
Due: go-fmt, md-fmt

Drop retired profile fields
  e2e/profiles/masking/profile_test.go
  e2e/profiles/masking/values.yaml
Due: go-fmt, yaml-and-yml-fmt

feat(decision2): Perception Test video QA reference for the untrained Qwen bases (same video input as d3)
  src/training/decision2/d25/vega/release/video_eval_base.py
Due: none

[Docs] Translate the team member strings to zh-Hans (#4624)
  website/i18n/zh-Hans/code.json
Due: none

Allow the npu reference key in the Vela 2.0 registry test
  src/model-runtime/tests/test_vela2_registry.py
Due: none

feat(decision2): v3.1.0 card tool (video input, Quickstart video example, Perception Test results, video speed) and video check in the card smoke
  src/training/decision2/d25/vega/release/examples.py
  src/training/decision2/d25/vega/release/smoke.py
  src/training/decision2/d25/vega/release/video_card.py
Due: none

fix(decision2): image smoke accepts a server that also advertises video
  src/training/decision2/d25/omni/runtime/smoke.py
Due: none

test(decision2): video check compares the runtime with the stock forward one question at a time (exact)
  src/training/decision2/d25/vega/release/video_check.py
Due: none

Validate both golden runs against the reference and fix the drift typing
  src/model-runtime/tests/test_readiness.py
  src/model-runtime/vllm_srun/supervision/readiness.py
Due: none

[Community] Add two Workgroup Members (#4865)
  website/src/data/workGroups.ts
Due: none

[Feature] Start adaptive exploration with the runtime and serve at learned counts
  src/model-runtime/tests/test_native_adaptive_threads.py
  src/model-runtime/vllm_srun/engines/native/engine.py
  src/model-runtime/vllm_srun/engines/native/threads.py
  src/model-runtime/vllm_srun/plugins/base.py
  src/model-runtime/vllm_srun/runtime.py
  website/docs/model-runtime/deploy.md
Due: md-fmt

test(decision2): video check keeps one model on the GPU at a time
  src/training/decision2/d25/vega/release/video_check.py
Due: none

test: update cache presence parity fixtures
  src/semantic-router/pkg/extproc/testdata/parity/extproc/auto-essay-anthropic-backend.json
  src/semantic-router/pkg/extproc/testdata/parity/records/auto-essay-anthropic-backend.json
Due: none

[Bug] Require fresh model cards during runtime recovery and clear stale metadata
  src/semantic-router/pkg/modelservice/group.go
  src/semantic-router/pkg/modelservice/recovery_metadata_test.go
Due: go-fmt

fix(decision2): video card tool needs no v2 tree
  src/training/decision2/d25/vega/release/video_card.py
Due: none

fix(decision2): video card tool checks codenames only on the lines it writes
  src/training/decision2/d25/vega/release/video_card.py
Due: none

Make the adaptive runtime tests restore the process thread count
  src/model-runtime/tests/test_native_adaptive_threads.py
Due: none

[Bug] Name a published manifest by its bytes as well as its digest
  tools/calibration/shadow-dataset/main.go
  tools/calibration/shadow-dataset/main_test.go
  website/docs/tutorials/plugin/shadow-dispatch.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/plugin/shadow-dispatch.md
Due: go-fmt, md-fmt

style(dashboard): align WASM formatting with CI
  dashboard/wasm/main_wasm.go
Due: go-fmt

[Bug] Sanitize Postgres-hostile text in Router Replay writes (#3450)
  src/semantic-router/pkg/routerreplay/store/postgres.go
  src/semantic-router/pkg/routerreplay/store/postgres_record_row.go
  src/semantic-router/pkg/routerreplay/store/postgres_text_sanitize.go
  src/semantic-router/pkg/routerreplay/store/postgres_text_sanitize_test.go
Due: go-fmt

test(cli): cover the config hot-reload compare-and-swap flow
  src/vllm-sr/tests/test_config_management_commands.py
  src/vllm-sr/tests/test_router_management_client.py
Due: none

fix(protocolcodec): gate heartbeat exemption on stream start
  src/semantic-router/pkg/protocolcodec/chat_gateway_keepalive_test.go
  src/semantic-router/pkg/protocolcodec/stream_chat.go
Due: go-fmt
