Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

test(responsestore): benchmark listing against two dataset sizes
  src/semantic-router/pkg/responsestore/redis_list_test.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

fix(responsestore): report a lease loss Redis confirmed, however late it lands
  src/semantic-router/pkg/responsestore/redis_scan_lease.go
  src/semantic-router/pkg/responsestore/redis_scan_lease_test.go
Due: go-fmt

feat(router): add one-shot --finalize-response-index command
  src/semantic-router/cmd/finalize_response_index.go
  src/semantic-router/cmd/finalize_response_index_test.go
  src/semantic-router/cmd/main.go
  src/semantic-router/cmd/runtime_bootstrap.go
Due: go-fmt

fix(responsestore): keep a shutdown-cancelled renewal from failing a completed scan
  src/semantic-router/pkg/responsestore/redis_scan_lease.go
  src/semantic-router/pkg/responsestore/redis_scan_lease_test.go
Due: go-fmt

fix(responsestore): make legacy records upgradable and prunable
  config/runtime/response-api/redis-simple.yaml
  src/semantic-router/pkg/responsestore/redis_cascade_delete.go
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_conversation_store_test.go
  src/semantic-router/pkg/responsestore/redis_generation_safety_test.go
  src/semantic-router/pkg/responsestore/redis_legacy_generation_test.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_migration.go
  src/semantic-router/pkg/responsestore/redis_response_record.go
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt, yaml-and-yml-fmt

fix(responsestore): fail a listing closed past an unreadable payload
  src/semantic-router/pkg/responsestore/errors.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_list_cleanup_test.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

fix(responsestore): preserve exhaustion when a Before window clamps at rank zero
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_list_test.go
Due: go-fmt

refactor(responsestore): reduce complexity, split redis_store into files
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_conversation_store_test.go
  src/semantic-router/pkg/responsestore/redis_helpers.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_list_test.go
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_response_store_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

fix(responsestore): never read an expiring payload as a persistent one
  src/semantic-router/pkg/responsestore/redis_conversation_index_ttl_test.go
  src/semantic-router/pkg/responsestore/redis_helpers.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

fix(responsestore): decouple index existence from migration complete
  config/runtime/response-api/redis-simple.yaml
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_conversation_store_test.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_list_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt, yaml-and-yml-fmt

fix(responsestore): bound every pre-finalization conversation index proof
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_proof_test.go
  src/semantic-router/pkg/responsestore/redis_list_test.go
  src/semantic-router/pkg/responsestore/redis_scan_lease.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

fix(responsestore): verify ownership before dropping a conversation membership
  src/semantic-router/pkg/responsestore/redis_response_repair_test.go
  src/semantic-router/pkg/responsestore/redis_response_store.go
Due: go-fmt

fix(responsestore): restore cascade index members on a detached context
  src/semantic-router/pkg/responsestore/redis_cascade_delete.go
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

style(responsestore): separate adjacent top-level funcs for gofumpt
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_helpers.go
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

fix(responsestore): serialize legacy scans with renewable global lease
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_scan_lease.go
  src/semantic-router/pkg/responsestore/redis_scan_lease_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt

fix(responsestore): refuse cascade delete until the index is finalized
  src/semantic-router/pkg/responsestore/errors.go
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_conversation_store_test.go
  src/semantic-router/pkg/responsestore/redis_legacy_generation_test.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

fix(responsestore): make update rollback CAS-safe
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_response_store_test.go
Due: go-fmt

fix(responsestore): verify ownership during cascade deletion
  src/semantic-router/pkg/responsestore/redis_cascade_delete.go
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_conversation_store_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

fix(responsestore): refuse to certify an unknown payload lifetime
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_index_ttl_test.go
  src/semantic-router/pkg/responsestore/redis_helpers.go
  src/semantic-router/pkg/responsestore/redis_response_scan.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

refactor(responsestore): strict-return index helpers for Redis conv index
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt

feat(responsestore): lazy legacy backfill and empty-marker for Redis index
  config/runtime/response-api/redis-simple.yaml
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt, yaml-and-yml-fmt

fix(responsestore): keep a conversation index alive as long as its payloads
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_backfill_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_index_ttl_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_helpers.go
  src/semantic-router/pkg/responsestore/redis_migration.go
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_response_store_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
Due: go-fmt

feat(responsestore): finalize conversation index migration
  src/semantic-router/pkg/responsestore/redis_cascade_delete.go
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_backfill_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_helpers.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_list_test.go
  src/semantic-router/pkg/responsestore/redis_migration.go
  src/semantic-router/pkg/responsestore/redis_migration_test.go
  src/semantic-router/pkg/responsestore/redis_response_store_test.go
  src/semantic-router/pkg/responsestore/redis_scan_lease.go
  src/semantic-router/pkg/responsestore/redis_scan_lease_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

style(responsestore): satisfy the upstream Go lint harness
  src/semantic-router/pkg/responsestore/redis_cascade_delete.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
Due: go-fmt

fix(responsestore): report a payload gone before its lifetime read as missing
  src/semantic-router/pkg/responsestore/redis_conversation_index_ttl_test.go
  src/semantic-router/pkg/responsestore/redis_helpers.go
  src/semantic-router/pkg/responsestore/redis_response_record.go
Due: go-fmt

fix(responsestore): gate and pipeline legacy promotion
  config/runtime/response-api/redis-simple.yaml
  src/semantic-router/pkg/responsestore/redis_cascade_delete.go
  src/semantic-router/pkg/responsestore/redis_conversation_backfill_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_conversation_store_test.go
  src/semantic-router/pkg/responsestore/redis_legacy_generation_test.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_migration.go
  src/semantic-router/pkg/responsestore/redis_response_record.go
  src/semantic-router/pkg/responsestore/redis_response_scan.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt, yaml-and-yml-fmt

fix(protocol): bound response conversation identifiers
  src/semantic-router/pkg/llmprotocol/validate.go
  src/semantic-router/pkg/llmprotocol/validate_test.go
  src/semantic-router/pkg/protocolcodec/corner_cases_test.go
Due: go-fmt

fix(responsestore): distinguish empty and populated migration proofs
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_proof_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_list.go
Due: go-fmt

fix(responsestore): keep blocked index members from ending a listing
  src/semantic-router/pkg/responsestore/errors.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_list_cleanup_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

perf(responsestore): stream legacy conversation index backfill
  src/semantic-router/pkg/responsestore/redis_conversation_backfill_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_migration.go
Due: go-fmt

fix(responsestore): atomic payload replacement for update rollback snapshot
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_response_store_test.go
Due: go-fmt

fix(responsestore): repairable UpdateResponse and cascade delete in Redis
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt

feat(responsestore): operator-triggered global migration finalization
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_migration.go
  src/semantic-router/pkg/responsestore/redis_migration_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt

fix(responsestore): resolve errorlint formatting verb issues
  src/semantic-router/pkg/responsestore/redis_response_store.go
Due: go-fmt

[Bug] Separate windowed document budgets from model forward limits (#3896)
  candle-binding/instances.go
  candle-binding/src/ffi/instances/mod.rs
  candle-binding/src/ffi/instances/sequence.rs
  candle-binding/src/ffi/instances/tasks.rs
  candle-binding/src/ffi/instances/tests.rs
  candle-binding/src/ffi/instances/tests/document_windows.rs
  onnx-binding/instance/document_window_test.go
  onnx-binding/instance/types.go
  onnx-binding/src/core/instance_options.rs
  onnx-binding/src/instances.rs
  onnx-binding/src/instances/sequence.rs
  src/semantic-router/pkg/classification/classifier_jailbreak_window.go
  src/semantic-router/pkg/classification/classifier_jailbreak_window_test.go
  src/semantic-router/pkg/config/model_deployments.go
  src/semantic-router/pkg/config/safety_signal.go
  src/semantic-router/pkg/config/window_document_budget_test.go
  src/semantic-router/pkg/modelruntime/binding/identity.go
  src/semantic-router/pkg/modelruntime/binding/task_test.go
  src/semantic-router/pkg/modelruntime/native/candle.go
  src/semantic-router/pkg/modelruntime/native/label_scores.go
  src/semantic-router/pkg/modelruntime/native/operating_point_integration_test.go
  src/semantic-router/pkg/modelruntime/native/operating_point_ort_test.go
  src/semantic-router/pkg/modelruntime/native/ort.go
  src/semantic-router/pkg/modelruntime/native/ort_execution_test.go
  src/semantic-router/pkg/modelruntime/native/owned_scores_integration_test.go
  src/semantic-router/pkg/modelruntime/native/windowed_heads.go
  src/semantic-router/pkg/modelruntime/native/windowed_tokens.go
  src/semantic-router/pkg/modelruntime/native/windowed_tokens_integration_test.go
  src/semantic-router/pkg/modelruntime/native/windowed_tokens_test.go
  src/semantic-router/pkg/modelruntime/operatingpoint/artifacts.go
  src/semantic-router/pkg/modelruntime/operatingpoint/artifacts_test.go
  src/semantic-router/pkg/modelruntime/operatingpoint/policy.go
  website/docs/installation/runtime/safety.md
  website/docs/tutorials/signal/learned/jailbreak.md
  website/docs/tutorials/signal/learned/pii.md
  website/docs/tutorials/signal/learned/safety.md
Due: go-fmt, md-fmt, cargo-fmt, cargo-check

[Feature] Bind CK ROCm operating points to qualified execution (#3897)
  onnx-binding/instance/session_input_schema_test.go
  onnx-binding/instance/types.go
  onnx-binding/src/core/execution_contract.rs
  onnx-binding/src/core/instance_options.rs
  onnx-binding/src/model_architectures/embedding/mmbert_embedding.rs
  onnx-binding/src/model_architectures/modernbert_inputs/tests.rs
  src/semantic-router/pkg/modelruntime/native/operating_point_ck_test.go
  src/semantic-router/pkg/modelruntime/native/operating_point_ort.go
  src/semantic-router/pkg/modelruntime/operatingpoint/artifacts.go
  src/semantic-router/pkg/modelruntime/operatingpoint/ck_policy_test.go
  src/semantic-router/pkg/modelruntime/operatingpoint/export.go
  src/semantic-router/pkg/modelruntime/operatingpoint/policy.go
  tools/models/classifier-operating-point/main.go
  website/docs/tutorials/signal/learned/classifier.md
Due: go-fmt, md-fmt, cargo-fmt, cargo-check

fix(looper): reject ambiguous workflow access identities (#3895)
  src/semantic-router/pkg/looper/workflows_identity_integration_test.go
  src/semantic-router/pkg/looper/workflows_identity_resume_test.go
  src/semantic-router/pkg/looper/workflows_identity_test.go
  src/semantic-router/pkg/looper/workflows_validation.go
  website/docs/tutorials/algorithm/looper/workflows.md
Due: go-fmt, md-fmt

Fix router model identities, inventory counts, and structured details
  dashboard/frontend/src/components/RouterModelInventory.module.css
  dashboard/frontend/src/components/RouterModelInventory.test.tsx
  dashboard/frontend/src/components/RouterModelInventory.tsx
  dashboard/frontend/src/components/routerModelDetails.ts
  dashboard/frontend/src/components/routerModelPresentation.ts
  dashboard/frontend/src/pages/DashboardPage.tsx
  dashboard/frontend/src/utils/routerRuntime.ts
  src/semantic-router/pkg/apiserver/route_model_info_prepared.go
  src/semantic-router/pkg/apiserver/route_model_info_prepared_metadata_test.go
  src/semantic-router/pkg/config/registry_revision.go
  src/semantic-router/pkg/config/registry_revision_test.go
  src/semantic-router/pkg/extproc/automatic_output_candidates.go
  src/semantic-router/pkg/extproc/automatic_output_test.go
  src/semantic-router/pkg/extproc/selection_capabilities_test.go
  website/docs/api/apiserver.md
  website/docs/installation/runtime/in-process.md
Due: go-fmt, md-fmt
