Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

Move local-classifier-routing into its own isolated profile
  .github/workflows/integration-test-k8s.yml
  e2e/pkg/testmatrix/testcases.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/all/imports.go
  e2e/profiles/local-classifier-backend/profile.go
  e2e/profiles/local-classifier-backend/values.yaml
  e2e/testcases/signal_routing_contract_test.go
  tools/agent/domains.yaml
Due: go-fmt, yaml-and-yml-fmt

Match the local jailbreak classifier's labels to its model output
  e2e/profiles/ai-gateway/values.yaml
Due: yaml-and-yml-fmt

fix(routerreplay): query complete PostgreSQL histories
  src/semantic-router/pkg/extproc/router_replay_aggregate.go
  src/semantic-router/pkg/extproc/router_replay_aggregate_stream.go
  src/semantic-router/pkg/extproc/router_replay_api.go
  src/semantic-router/pkg/extproc/router_replay_query.go
  src/semantic-router/pkg/extproc/router_replay_query_test.go
  src/semantic-router/pkg/extproc/router_replay_trajectory.go
  src/semantic-router/pkg/routerreplay/query.go
  src/semantic-router/pkg/routerreplay/recorder.go
  src/semantic-router/pkg/routerreplay/store/postgres_query.go
  src/semantic-router/pkg/routerreplay/store/postgres_query_integration_test.go
  src/semantic-router/pkg/routerreplay/store/postgres_query_test.go
  src/semantic-router/pkg/routerreplay/store/postgres_record_row.go
  src/semantic-router/pkg/routerreplay/store/query.go
Due: go-fmt

fix(protocolcodec): preserve provider cache usage details
  src/semantic-router/pkg/llmprotocol/validate_response.go
  src/semantic-router/pkg/llmprotocol/validate_test.go
  src/semantic-router/pkg/llmprotocol/validate_usage_partial_test.go
  src/semantic-router/pkg/protocolcodec/codec_anthropic_response.go
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_response.go
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_response_wire.go
  src/semantic-router/pkg/protocolcodec/codec_openai_responses_response.go
  src/semantic-router/pkg/protocolcodec/stream_anthropic.go
  src/semantic-router/pkg/protocolcodec/stream_chat.go
  src/semantic-router/pkg/protocolcodec/stream_responses_decode.go
  src/semantic-router/pkg/protocolcodec/testdata/contracts/chat-nested-fields.json
  src/semantic-router/pkg/protocolcodec/testdata/contracts/responses-nested-fields.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/010-chat-refusal-response-responses-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/016-chat-official-response-fields-responses-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/017-responses-official-response-fields-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/017-responses-official-response-fields-responses-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/018-anthropic-official-response-fields-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/033-chat-reasoning-and-answer-stream-responses-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/038-chat-nested-response-fields-responses-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/041-responses-nested-response-fields-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/041-responses-nested-response-fields-responses-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/048-responses-interleaved-output-items-responses-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/response/001-chat-basic-responses-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/response/002-responses-basic-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/response/002-responses-basic-in.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/response/003-anthropic-basic-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/response/004-chat-tool-call-responses-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/response/005-chat-detailed-usage-in.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/response/007-responses-tool-call-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/response/008-anthropic-tool-call-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/stream/004-chat-tool-call-responses-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/stream/013-chat-usage-obfuscation-responses-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/stream/017-chat-parallel-tool-calls-responses-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/stream/021-chat-reasoning-tool-text-responses-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/stream/023-chat-unicode-text-responses-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/stream/029-responses-multiple-content-parts-responses-out.json
  src/semantic-router/pkg/protocolcodec/usage_cache.go
  src/semantic-router/pkg/protocolcodec/usage_cache_test.go
  src/semantic-router/pkg/protocolcodec/usage_cache_translation_test.go
Due: go-fmt

fix(protocolcodec): preserve vLLM Chat inference controls
  src/semantic-router/pkg/extproc/processor_protocol_chat_controls_test.go
  src/semantic-router/pkg/llmprotocol/cache_salt.go
  src/semantic-router/pkg/llmprotocol/capabilities.go
  src/semantic-router/pkg/llmprotocol/request_mutations.go
  src/semantic-router/pkg/llmprotocol/types.go
  src/semantic-router/pkg/llmprotocol/validate.go
  src/semantic-router/pkg/llmprotocol/validate_test.go
  src/semantic-router/pkg/protocolcodec/codec_anthropic_content.go
  src/semantic-router/pkg/protocolcodec/codec_anthropic_messages.go
  src/semantic-router/pkg/protocolcodec/codec_openai_chat.go
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_encode.go
  src/semantic-router/pkg/protocolcodec/codec_openai_responses_encode.go
  src/semantic-router/pkg/protocolcodec/matrix_fidelity_test.go
  src/semantic-router/pkg/protocolcodec/official_schema_inventory_test.go
  src/semantic-router/pkg/protocolcodec/request_chat_controls.go
  src/semantic-router/pkg/protocolcodec/request_chat_controls_test.go
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/004-anthropic-top-k-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/013-chat-official-request-fields-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/013-chat-official-request-fields-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/013-chat-official-request-fields-in.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/013-chat-official-request-fields-responses-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/015-anthropic-official-request-fields-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/029-anthropic-value-boundaries-chat-out.json
  tools/mock-vllm/schema_contract.json
  website/docs/api/router.md
  website/docs/installation/protocol-compatibility.md
Due: go-fmt, md-fmt

[Docs] Add lawin-steve to Router Models Workgroup (#3879)
  website/src/data/workGroups.ts
Due: none

Allow LLM classifier signals to omit rationale
  config/fragments/signal/classifier/label-score.yaml
  dashboard/frontend/src/lib/dslPolicySignalSchemas.ts
  dashboard/frontend/src/lib/dslStructuredSchemas.test.ts
  dashboard/frontend/src/pages/configPageSupport.ts
  dashboard/frontend/src/types/config.ts
  src/semantic-router/pkg/classification/generic_classifier.go
  src/semantic-router/pkg/classification/generic_classifier_llm_test.go
  src/semantic-router/pkg/classification/generic_classifier_rationale_test.go
  src/semantic-router/pkg/config/classifier_rationale_test.go
  src/semantic-router/pkg/config/classifier_signal.go
  src/semantic-router/pkg/config/model_binding_classifier.go
  src/semantic-router/pkg/config/validator_classifier_signal.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  src/semantic-router/pkg/dsl/decompiler_signals_rules.go
  src/semantic-router/pkg/dsl/policy_signal_roundtrip_test.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_generic_model_bindings.py
  website/docs/tutorials/signal/learned/classifier.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Test] Add E2E coverage for the classifier signal's local backend (#3844)
  e2e/profiles/all/imports.go
  e2e/profiles/local-classifier-backend/profile.go
  e2e/profiles/local-classifier-backend/values.yaml
  e2e/testcases/local_classifier_routing.go
  tools/agent/domains.yaml
Due: go-fmt, yaml-and-yml-fmt

fix(cli): normalize protobuf timeout durations and update generator regressions
  src/vllm-sr/cli/config_generator.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_config_generator_timeouts.py
  tools/make/docker.mk
Due: none

test(e2e): cover sticky expiry and Redis recovery
  .github/workflows/integration-test-k8s.yml
  e2e/README.md
  e2e/pkg/testmatrix/testcases.go
  e2e/profiles/ai-gateway/profile.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/all/imports.go
  e2e/profiles/all/sticky_contract_test.go
  e2e/profiles/sticky-tool-selection-expiry/profile.go
  e2e/profiles/sticky-tool-selection-redis/profile.go
  e2e/testcases/sticky_tool_selection.go
  e2e/testcases/sticky_tool_selection_expiry.go
  e2e/testcases/sticky_tool_selection_redis_recovery.go
  tools/agent/test-domain-registry.yaml
  tools/ci/tests/test_kind_bootstrap.py
  tools/ci/tests/test_pr_change_classifier.py
Due: go-fmt, md-fmt, yaml-and-yml-fmt

test(e2e): pin ai gateway classifiers
  e2e/profiles/ai-gateway/profile_test.go
  e2e/profiles/ai-gateway/values.yaml
Due: go-fmt, yaml-and-yml-fmt

[Bug] Preserve Milvus cache embedding identity dimensions
  src/semantic-router/pkg/cache/embedding_identity.go
  src/semantic-router/pkg/cache/embedding_identity_test.go
  src/semantic-router/pkg/cache/embedding_namespace_test.go
  src/semantic-router/pkg/cache/exact_cache_milvus.go
  src/semantic-router/pkg/cache/milvus_cache_collection.go
  src/semantic-router/pkg/cache/milvus_consistency_level_test.go
Due: go-fmt

fix(dashboard): validate OpenClaw skills against the server catalog
  dashboard/README.md
  dashboard/backend/handlers/openclaw_provision.go
  dashboard/backend/handlers/openclaw_skills.go
  dashboard/backend/handlers/openclaw_skills_test.go
Due: go-fmt, md-fmt

[CI/Build] Prepare native dependencies for standalone Go tools
  tools/make/go-tools.mk
Due: none

[Test] Avoid shadowing selector errors during cleanup
  src/semantic-router/pkg/modelselection/artifact_native_test.go
Due: go-fmt

docs: promote community team and workgroup roles
  .github/CODEOWNERS
  OWNER
  website/i18n/zh-Hans/code.json
  website/src/data/committerActivity.generated.ts
  website/src/data/teamMembers.tsx
  website/src/data/workGroups.ts
Due: none

test(e2e): compare sticky invalidation with baseline
  e2e/testcases/sticky_tool_selection.go
  e2e/testcases/sticky_tool_selection_test.go
Due: go-fmt

docs(community): personalize promoted member biographies
  website/i18n/zh-Hans/code.json
  website/src/data/committerActivity.generated.ts
  website/src/data/teamMembers.tsx
  website/src/data/workGroups.ts
Due: none

test(e2e): restart router container for sticky recovery
  e2e/testcases/sticky_tool_selection_recovery.go
  e2e/testcases/sticky_tool_selection_redis_recovery.go
  e2e/testcases/sticky_tool_selection_restart.go
  e2e/testcases/sticky_tool_selection_restart_test.go
Due: go-fmt

[Community] Promote Committers, Maintainer, and Workgroup Leads (#3890)
  .github/CODEOWNERS
  OWNER
  website/i18n/zh-Hans/code.json
  website/src/data/committerActivity.generated.ts
  website/src/data/teamMembers.tsx
  website/src/data/workGroups.ts
Due: none

test(e2e): stabilize remaining gateway cases
  e2e/testcases/rule_condition_logic.go
  e2e/testcases/tool_selection_e2e.go
Due: go-fmt

feat(config): add sticky tool-set selection config contract (#3347 phase 1)
  config/config.yaml
  src/semantic-router/pkg/config/tool_selection_plugin.go
  src/semantic-router/pkg/config/tool_selection_plugin_validation.go
  src/semantic-router/pkg/config/tool_selection_plugin_validation_test.go
  tools/agent/docs/plans/pl-0042-sticky-tool-selection.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(config): address review findings for sticky tool-set selection contract (#3347)
  config/fragments/plugin/tool-selection/sticky-add-from-database.yaml
  dashboard/frontend/src/lib/dslSchemas.ts
  src/semantic-router/pkg/config/tool_selection_plugin.go
  src/semantic-router/pkg/config/tool_selection_plugin_validation.go
  src/semantic-router/pkg/config/tool_selection_plugin_validation_test.go
  src/vllm-sr/cli/models.py
  tools/agent/docs/plans/pl-0042-sticky-tool-selection.md
  website/docs/tutorials/plugin/tool-selection.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat(config): add global.stores.tool_sessions store contract (#3347 phase 1 TASK-02)
  config/config.yaml
  src/semantic-router/pkg/config/canonical_export.go
  src/semantic-router/pkg/config/canonical_global.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/reference_config_global_test.go
  src/semantic-router/pkg/config/tool_session_store.go
  src/semantic-router/pkg/config/tool_session_store_test.go
  src/semantic-router/pkg/config/tool_session_store_validation.go
  tools/agent/docs/plans/pl-0042-sticky-tool-selection.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(config): drop dangling references to local-only .ai/ notes (#3347)
  src/semantic-router/pkg/config/tool_selection_plugin.go
  tools/agent/docs/plans/pl-0042-sticky-tool-selection.md
Due: go-fmt, md-fmt

docs(config): record public-docs precedent decision for sticky config (#3347)
  tools/agent/docs/plans/pl-0042-sticky-tool-selection.md
Due: md-fmt

feat(sessiontools): add state model, fingerprinting, and in-memory store (#3347 phase 1 TASK-03)
  src/semantic-router/pkg/sessiontools/state.go
  src/semantic-router/pkg/sessiontools/state_test.go
  src/semantic-router/pkg/sessiontools/store.go
  src/semantic-router/pkg/sessiontools/store_memory.go
  src/semantic-router/pkg/sessiontools/store_memory_test.go
  src/semantic-router/pkg/tools/fingerprint.go
  src/semantic-router/pkg/tools/fingerprint_test.go
  tools/agent/docs/plans/pl-0042-sticky-tool-selection.md
Due: go-fmt, md-fmt

fix(config): wire tool_sessions into admission and harden redis validation (#3347)
  config/config.yaml
  src/semantic-router/pkg/config/tool_session_store_test.go
  src/semantic-router/pkg/config/tool_session_store_validation.go
  src/semantic-router/pkg/config/validator_dispatch.go
  tools/agent/docs/plans/pl-0042-sticky-tool-selection.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

chore(agent): Phase 1 exit gate pass (#3347 phase 1 TASK-06)
  dashboard/frontend/src/lib/dslSchemas.ts
  src/semantic-router/pkg/config/tool_selection_plugin.go
  src/semantic-router/pkg/extproc/session_transition.go
  tools/agent/docs/plans/pl-0042-sticky-tool-selection.md
Due: go-fmt, md-fmt

docs(architecture): add sticky tool-set state to state inventory (#3347 phase 1 TASK-05)
  tools/agent/docs/architecture/state-taxonomy-and-inventory.md
  tools/agent/docs/plans/pl-0042-sticky-tool-selection.md
Due: md-fmt

feat(extproc): add session provenance and trusted sticky-identity resolver (#3347 phase 1 TASK-04)
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_build_test.go
  src/semantic-router/pkg/extproc/session_transition.go
  src/semantic-router/pkg/extproc/session_transition_test.go
  src/semantic-router/pkg/extproc/sticky_tool_identity.go
  src/semantic-router/pkg/extproc/sticky_tool_identity_test.go
  tools/agent/docs/plans/pl-0042-sticky-tool-selection.md
Due: go-fmt, md-fmt

fix(sessiontools): make expired readmission ABA-safe
  src/semantic-router/pkg/sessiontools/store_memory.go
  src/semantic-router/pkg/sessiontools/store_memory_test.go
Due: go-fmt

test(selection): lock declared-but-unsupported capability eligibility (#3116)
  src/semantic-router/pkg/selection/candidate_requirements_test.go
Due: go-fmt

refactor(dashboard): extract plugin field schemas from dslSchemas
  dashboard/frontend/src/lib/dslPluginSchemas.ts
  dashboard/frontend/src/lib/dslSchemas.ts
Due: none

test(sessiontools): split TestMemoryStore_ExpiredReadmission_ABARace to satisfy gocognit
  src/semantic-router/pkg/sessiontools/store_memory_test.go
Due: go-fmt
