Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

research(decision2): serving-track sessions for the vLLM plugin prototype
  src/training/decision2/v2/serving/__init__.py
  src/training/decision2/v2/serving/measure.py
  src/training/decision2/v2/serving/run.sh
  src/training/decision2/v2/serving/session.py
  src/training/decision2/v2/serving/tests/__init__.py
  src/training/decision2/v2/serving/tests/test_measure.py
Due: none

docs(decision2): 27B M5 poll 12
  src/training/decision2/v2/27b/records/m5-state.md
Due: md-fmt

fix(vllm-sr-plugins): serve the candidate pooler as token_classify
  src/vllm-sr-plugins/README.md
  src/vllm-sr-plugins/tests/test_pooler.py
  src/vllm-sr-plugins/tests/test_registration.py
  src/vllm-sr-plugins/vllm_sr_plugins/decision2/endpoint.py
  src/vllm-sr-plugins/vllm_sr_plugins/decision2/gather.py
  src/vllm-sr-plugins/vllm_sr_plugins/decision2/pooler.py
Due: md-fmt

fix(vllm-sr-plugins): serve package runtimes that predate Score offsets
  src/vllm-sr-plugins/vllm_sr_plugins/compat.py
  src/vllm-sr-plugins/vllm_sr_plugins/decision2/package.py
Due: none

[Bug] Keep kb_metric projection inputs intact in the Dashboard
  dashboard/frontend/e2e/projection-kb-metric-inputs.spec.ts
  dashboard/frontend/src/pages/ConfigPageProjectionsSection.tsx
  dashboard/frontend/src/pages/builderPageProjectionEditors.test.ts
  dashboard/frontend/src/pages/builderPageProjectionEditors.tsx
  dashboard/frontend/src/pages/configPageProjectionTableSupport.test.ts
  dashboard/frontend/src/pages/configPageProjectionTableSupport.ts
  dashboard/frontend/src/types/dsl.ts
  src/semantic-router/pkg/dsl/ast_json.go
  src/semantic-router/pkg/dsl/taxonomy_dsl_test.go
Due: go-fmt

fix(e2e): order random test imports
  e2e/testcases/decision_scoped_random.go
Due: go-fmt

fix(website): show full member bios
  website/src/components/community/CommunityMemberCard/styles.module.css
Due: none

[Bug] Decide the overview update time after config and status settle
  dashboard/frontend/e2e/dashboard-load-errors.spec.ts
  dashboard/frontend/src/pages/DashboardPage.tsx
Due: none

[Bug] Hide Router transport errors from Knowledge Bases responses
  dashboard/backend/handlers/config_classifier_proxy.go
  dashboard/backend/handlers/config_classifier_proxy_test.go
Due: go-fmt

[Bug] Warn before leaving Builder and DSL pages with unsaved edits
  dashboard/frontend/src/pages/BuilderPage.tsx
  dashboard/frontend/src/pages/DslEditorPage.tsx
  dashboard/frontend/src/pages/builderPageToolbar.tsx
  dashboard/frontend/src/stores/dslStore.ts
  dashboard/frontend/src/stores/dslStoreGuard.test.ts
  dashboard/frontend/src/stores/dslStoreSupport.ts
  dashboard/frontend/src/stores/dslStoreTypes.ts
  dashboard/frontend/src/stores/dslStoreUnsaved.test.ts
  dashboard/frontend/src/types/dsl.ts
Due: none

[Bug] Keep route settings the Builder route form does not edit
  dashboard/frontend/e2e/builder-route-settings.spec.ts
  dashboard/frontend/src/lib/dslMutations.ts
  dashboard/frontend/src/lib/dslRouteBlock.test.ts
  dashboard/frontend/src/lib/dslRouteBlock.ts
  dashboard/frontend/src/pages/builderPageRoutePreview.tsx
  dashboard/frontend/src/types/dsl.ts
Due: none

Project unavailable Anthropic usage as a zero-valued object
  src/semantic-router/pkg/protocolcodec/anthropic_usage_projection_test.go
  src/semantic-router/pkg/protocolcodec/codec_anthropic_response.go
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/041-responses-nested-response-fields-anthropic-out.json
Due: go-fmt

[Bug] Keep a known usage component when Anthropic totals are absent
  src/semantic-router/pkg/protocolcodec/anthropic_usage_projection_test.go
  src/semantic-router/pkg/protocolcodec/codec_anthropic_response.go
Due: go-fmt

[Bug] Mark the partial Anthropic output projection as approximate
  src/semantic-router/pkg/protocolcodec/anthropic_usage_projection_test.go
  src/semantic-router/pkg/protocolcodec/codec_anthropic_response.go
Due: go-fmt

[Bug] Carry the usage approximation marks into the Anthropic stream
  src/semantic-router/pkg/protocolcodec/anthropic_usage_projection_test.go
  src/semantic-router/pkg/protocolcodec/codec_anthropic_response.go
  src/semantic-router/pkg/protocolcodec/stream_anthropic.go
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/019-anthropic-stop-sequence-stream-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/030-anthropic-signed-reasoning-stream-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/039-chat-nested-stream-fields-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/041-responses-nested-response-fields-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/045-anthropic-nested-stream-fields-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/047-anthropic-unsupported-stream-unions-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/usage_cache.go
Due: go-fmt

fix: preserve partial Anthropic output usage
  src/semantic-router/pkg/protocolcodec/anthropic_usage_projection_test.go
  src/semantic-router/pkg/protocolcodec/codec_anthropic_response.go
Due: go-fmt

[Bug] Keep the Anthropic stream-start usage view unmarked
  src/semantic-router/pkg/protocolcodec/stream_anthropic.go
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/019-anthropic-stop-sequence-stream-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/030-anthropic-signed-reasoning-stream-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/045-anthropic-nested-stream-fields-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/047-anthropic-unsupported-stream-unions-anthropic-out.json
Due: go-fmt

[Bug] Mark the partial Anthropic input projection as approximate
  src/semantic-router/pkg/protocolcodec/anthropic_usage_projection_test.go
  src/semantic-router/pkg/protocolcodec/codec_anthropic_response.go
Due: go-fmt

[Bug] Align the usage-mark doc with the streaming boundary and cover the stream terminal shapes
  src/semantic-router/pkg/protocolcodec/anthropic_usage_projection_test.go
  src/semantic-router/pkg/protocolcodec/usage_cache.go
Due: go-fmt

[Bug] Align the unavailable-usage mark with the merged zero-object fix
  src/semantic-router/pkg/protocolcodec/anthropic_usage_projection_test.go
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/039-chat-nested-stream-fields-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/041-responses-nested-response-fields-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/usage_cache.go
Due: go-fmt

[Bug] Report the observed sr-bench version in readiness failures
  src/vllm-sr/cli/sr_bench/client.py
  src/vllm-sr/tests/test_sr_bench_client.py
Due: none

[Docs] Fix the CLI doc cross-links so the website build passes
  website/docs/installation/recipe-lifecycle.md
  website/docs/installation/shell-completion.md
Due: md-fmt

[Docs] Describe the Dashboard interaction on its own write path
  website/docs/installation/recipe-lifecycle.md
Due: md-fmt

[Docs] Document CLI completion, recipe lifecycle, and benchmark exit codes
  website/docs/benchmarking/overview.md
  website/docs/installation/recipe-lifecycle.md
  website/docs/installation/shell-completion.md
  website/sidebars.ts
Due: md-fmt

docs: align recipe lifecycle with CLI semantics
  website/docs/installation/recipe-lifecycle.md
Due: md-fmt

[Docs] Correct four CLI statements found in a final full-text review
  website/docs/benchmarking/overview.md
  website/docs/installation/recipe-lifecycle.md
Due: md-fmt

[Docs] Name entrypoint mappings as the only recipe references
  website/docs/installation/recipe-lifecycle.md
Due: md-fmt

[Bug] Keep signal fields in Builder route conditions
  dashboard/frontend/e2e/builder-route-condition-fields.spec.ts
  dashboard/frontend/src/components/ExpressionBuilderInner.tsx
  dashboard/frontend/src/components/ExpressionBuilderSupport.test.ts
  dashboard/frontend/src/components/ExpressionBuilderSupport.ts
  dashboard/frontend/src/lib/dslMutations.ts
  dashboard/frontend/src/types/dsl.ts
Due: none

[Bug] Release in-flight admissions on error and panic paths (#4356)
  src/semantic-router/pkg/extproc/fallback_dispatch.go
  src/semantic-router/pkg/extproc/fallback_dispatch_test.go
  src/semantic-router/pkg/extproc/processor_core.go
  src/semantic-router/pkg/extproc/processor_inflight_leak_test.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/processor_res_semantic_stream.go
  src/semantic-router/pkg/extproc/processor_res_usage.go
  src/semantic-router/pkg/extproc/request_context.go
Due: go-fmt

docs(decision2): sync sanitized program docs (COORDINATION)
  src/training/decision2/v2/program/COORDINATION.md
Due: md-fmt

docs: add temporary sr-bench-nano page and CLI reference
  website/docs/api/cli.md
  website/docs/benchmarking/sr-bench/nano.md
  website/sidebars.ts
Due: md-fmt

sr-bench: add EXPERIMENTAL sr-bench-nano scope
  src/vllm-sr/cli/commands/benchmark.py
  src/vllm-sr/cli/commands/benchmark_nano.py
  src/vllm-sr/cli/sr_bench/__init__.py
  src/vllm-sr/cli/sr_bench/contracts.py
  src/vllm-sr/cli/sr_bench/datasets.py
  src/vllm-sr/cli/sr_bench/engine.py
  src/vllm-sr/cli/sr_bench/experiments.py
  src/vllm-sr/cli/sr_bench/external.py
  src/vllm-sr/cli/sr_bench/nano.py
  src/vllm-sr/cli/sr_bench/nano_ids_v1.json
  src/vllm-sr/cli/sr_bench/nano_prepare.py
  src/vllm-sr/cli/sr_bench/nano_simpleqa_grader.txt
  src/vllm-sr/cli/sr_bench/native_output.py
  src/vllm-sr/cli/sr_bench/offline.py
  src/vllm-sr/cli/sr_bench/preparation.py
  src/vllm-sr/cli/sr_bench/report.py
  src/vllm-sr/cli/sr_bench/sources.py
  src/vllm-sr/cli/sr_bench/store.py
  src/vllm-sr/cli/sr_bench/transport.py
  src/vllm-sr/pyproject.toml
  src/vllm-sr/tests/test_evaluation_cli.py
  src/vllm-sr/tests/test_sr_bench_nano.py
  tools/make/docker.mk
Due: none

docs(decision2): 27B M5 poll 15
  src/training/decision2/v2/27b/records/m5-state.md
Due: md-fmt

research(decision2): HR2 amendment 1 (repeated upstream samples: one key per item, all copies must agree) with builder fixes, guard registration (G6), unit tests and state file
  src/training/decision2/v2/common/tests/test_eval_only.py
  src/training/decision2/v2/data/hr2/build.py
  src/training/decision2/v2/data/hr2/families.py
  src/training/decision2/v2/data/records/hr2-prereg-amendment-1-2026-09-30.md
  src/training/decision2/v2/data/records/hr2-state.md
  src/training/decision2/v2/data/tests/test_hr2.py
Due: md-fmt
