Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

feat(decision2): convert attested RP-v2 teacher output into compact targets
  src/training/decision2/v2/data/m2/targets.py
Due: none

feat(decision2): 0.6B template-S2 mixtures (A7 view + equal shares, matched resample) and option-key teacher
  src/training/decision2/v2/06b/mixture.py
  src/training/decision2/v2/06b/records/mixtures/m4-mix-t.json
  src/training/decision2/v2/06b/tests/test_mixture_s2.py
  src/training/decision2/v2/06b/train.py
Due: none

research(decision2): A7 enc10 amendment 1 (A7x same-scenario distractors) and a7-enc10-v2 spec
  src/training/decision2/v2/data/a7/build_enc.py
  src/training/decision2/v2/data/a7/records/a7-enc10-amendment-1-2026-09-28.md
  src/training/decision2/v2/data/a7/specs/a7-enc10-v2.nodeB.json
  src/training/decision2/v2/data/a7/tests/test_build_enc.py
Due: md-fmt

research(decision2): 0.6B Milestone 4 part 2 prereg (A7 main arms, matched-token control) and part 1 outcomes
  src/training/decision2/v2/06b/records/arms/m4-c-rs-s1.json
  src/training/decision2/v2/06b/records/arms/m4-c-rs-s2.json
  src/training/decision2/v2/06b/records/arms/m4-c-rs-s3.json
  src/training/decision2/v2/06b/records/arms/m4-t-a7-s1.json
  src/training/decision2/v2/06b/records/arms/m4-t-a7-s2.json
  src/training/decision2/v2/06b/records/arms/m4-t-a7-s3.json
  src/training/decision2/v2/06b/records/m4/noul-diag.json
  src/training/decision2/v2/06b/records/m4b-prereg-2026-09-28.md
  src/training/decision2/v2/06b/records/mixtures/m4-mix-c.json
  src/training/decision2/v2/06b/records/mixtures/m4-mix-c.report.json
  src/training/decision2/v2/06b/records/mixtures/m4-mix-t.report.json
Due: md-fmt

research(decision2): record 9B L2 formal post-key result (release gate not met)
  src/training/decision2/v2/9b/records/lux9b-l2-formal-result-2026-09-28.md
Due: md-fmt

docs(decision2): sync sanitized program docs (COORDINATION, STATUS)
  src/training/decision2/v2/program/COORDINATION.md
  src/training/decision2/v2/program/STATUS.md
Due: md-fmt

research(decision2): A7 enc10 amendment 2 (SentiMix Hinglish in A7s) and a7-enc10-v3 spec
  src/training/decision2/v2/data/a7/build_enc.py
  src/training/decision2/v2/data/a7/license-registry-a7-v2.json
  src/training/decision2/v2/data/a7/records/a7-enc10-amendment-2-2026-09-28.md
  src/training/decision2/v2/data/a7/specs/a7-enc10-v3.nodeB.json
  src/training/decision2/v2/data/a7/tests/test_build_enc.py
Due: md-fmt

research(decision2): record the TS-v2 teacher screen and RP-v2 target plan
  src/training/decision2/v2/data/records/teachers-v2-2026-09-28.md
Due: md-fmt

[Docs] Mark DASHBOARD_SETUP_MODE deprecated in the runtime-configuration table
  dashboard/README.md
Due: md-fmt

research(decision2): lock the M2 4B retention arm (X4R s1, s2) for formal post-key runs
  src/training/decision2/v2/dec/records/dec-m2-x4r-formal-lock-2026-09-28.md
Due: md-fmt

feat(decision2): 0.6B S2 id-manifest component for published D10 recipes; mx-v2-full-M mixture spec
  src/training/decision2/v2/06b/mixture.py
  src/training/decision2/v2/06b/records/mixtures/m4-mix-v2.json
  src/training/decision2/v2/06b/tests/test_mixture_s2.py
Due: none

research(decision2): record A7r and encoder sub-arms (embedding scan pending) and multi-run HF assembly
  src/training/decision2/v2/data/a7/records/a7-arms-m2-2026-09-28.md
  src/training/decision2/v2/data/a7/records/hf-dataset-a7-readme.md
  src/training/decision2/v2/data/a7/run_nodeB.sh
Due: md-fmt

research(decision2): 0.6B M4c amendment, mixture v2 (mx-v2-full-M) arm with three seeds; control trimmed to two
  src/training/decision2/v2/06b/records/arms/m4-v2-s1.json
  src/training/decision2/v2/06b/records/arms/m4-v2-s2.json
  src/training/decision2/v2/06b/records/arms/m4-v2-s3.json
  src/training/decision2/v2/06b/records/m4c-amendment-2026-09-28.md
  src/training/decision2/v2/06b/records/mixtures/m4-mix-v2.report.json
Due: md-fmt

chore(decision2): 0.6B arm driver accepts a generated spec path (soup readouts)
  src/training/decision2/v2/06b/m1_arm.sh
Due: none

research(decision2): record the A7 Milestone 2 HF revision (A7r + encoder sub-arms, embedding pending)
  src/training/decision2/v2/data/a7/records/a7-arms-m2-2026-09-28.md
Due: md-fmt

feat(decision2): 0.6B formal-run driver (frozen runner, six 0.6B comparators, mlx-diag)
  src/training/decision2/v2/06b/m4_formal.sh
Due: none

feat(decision2): add a GPU7 release watcher for the A7 embedding scan
  src/training/decision2/v2/data/a7/embed_wait_nodeB.sh
Due: none

[Bug] Derive Anthropic content extension checks from the variant allow-list
  src/semantic-router/pkg/extproc/processor_protocol_matrix_test.go
  src/semantic-router/pkg/protocolcodec/codec_anthropic_content.go
  src/semantic-router/pkg/protocolcodec/codec_anthropic_content_rules_test.go
Due: go-fmt

[Bug] Budget context compression in the engine's own token unit
  src/semantic-router/pkg/contextcompression/compressor.go
  src/semantic-router/pkg/contextcompression/current_user.go
  src/semantic-router/pkg/contextcompression/token_units_test.go
Due: go-fmt

fix(decision2): align the Decision Index 0.2.1 port with upstream row lists, exact area weights and ACOS accounting
  src/training/decision2/external_index021/README.md
  src/training/decision2/external_index021/data/protocol-021.json
  src/training/decision2/external_index021/protocol.py
  src/training/decision2/external_index021/score.py
  src/training/decision2/external_index021/selection.py
  src/training/decision2/external_index021/tests/test_protocol.py
  src/training/decision2/external_index021/tests/test_selection.py
Due: md-fmt

feat(decision2): JevArena-C1 sealed-set builder (converters for 13 post-cutoff sources, overlap scanner, salted selection); pre-register build, seal and one-shot scoring
  src/training/decision2/v2/eval/records/m3-prereg-amendment-2-sealed-c1-2026-09-28.md
  src/training/decision2/v2/eval/sealed/__init__.py
  src/training/decision2/v2/eval/sealed/build.py
  src/training/decision2/v2/eval/sealed/c1-config.json
  src/training/decision2/v2/eval/sealed/candidates.py
  src/training/decision2/v2/eval/sealed/overlap.py
  src/training/decision2/v2/eval/sealed/schema.py
  src/training/decision2/v2/eval/sealed/sources/__init__.py
  src/training/decision2/v2/eval/sealed/sources/delichess.py
  src/training/decision2/v2/eval/sealed/sources/factbutcher.py
  src/training/decision2/v2/eval/sealed/sources/gapa.py
  src/training/decision2/v2/eval/sealed/sources/hallutruthqa.py
  src/training/decision2/v2/eval/sealed/sources/implicaturex.py
  src/training/decision2/v2/eval/sealed/sources/innoduel.py
  src/training/decision2/v2/eval/sealed/sources/legal_case_law.py
  src/training/decision2/v2/eval/sealed/sources/mcjudgebench.py
  src/training/decision2/v2/eval/sealed/sources/narrative_gold.py
  src/training/decision2/v2/eval/sealed/sources/nepfake.py
  src/training/decision2/v2/eval/sealed/sources/stance_it.py
  src/training/decision2/v2/eval/sealed/sources/tutormoments.py
  src/training/decision2/v2/eval/sealed/sources/wb_reviews.py
  src/training/decision2/v2/eval/sealed/tests/__init__.py
  src/training/decision2/v2/eval/sealed/tests/test_build.py
  src/training/decision2/v2/eval/sealed/tests/test_overlap.py
  src/training/decision2/v2/eval/sealed/tests/test_schema.py
  src/training/decision2/v2/eval/sealed/tests/test_source_factbutcher.py
  src/training/decision2/v2/eval/sealed/tests/test_source_gapa.py
  src/training/decision2/v2/eval/sealed/tests/test_source_hallutruthqa.py
  src/training/decision2/v2/eval/sealed/tests/test_source_implicaturex.py
  src/training/decision2/v2/eval/sealed/tests/test_source_innoduel.py
  src/training/decision2/v2/eval/sealed/tests/test_source_mcjudgebench.py
  src/training/decision2/v2/eval/sealed/tests/test_source_nepfake.py
  src/training/decision2/v2/eval/sealed/tests/test_source_stance_it.py
  src/training/decision2/v2/eval/sealed/tests/test_source_wb_reviews.py
Due: md-fmt

fix: drop user identity from Router Memory retrieval metrics
  src/semantic-router/pkg/memory/metrics.go
  src/semantic-router/pkg/memory/metrics_test.go
  src/semantic-router/pkg/memory/milvus_store_retrieve.go
  src/semantic-router/pkg/memory/qdrant_store.go
  src/semantic-router/pkg/memory/valkey_store.go
Due: go-fmt

fix: reject MCP RAG until the router can invoke a tool
  config/config.yaml
  src/semantic-router/pkg/config/rag_plugin_test.go
  src/semantic-router/pkg/config/rag_plugin_validation.go
  website/docs/tutorials/plugin/rag.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix: return parallel hybrid RAG when the primary has context
  src/semantic-router/pkg/extproc/req_filter_rag.go
  src/semantic-router/pkg/extproc/req_filter_rag_hybrid.go
  src/semantic-router/pkg/extproc/req_filter_rag_hybrid_select_test.go
  website/docs/tutorials/plugin/rag.md
Due: go-fmt, md-fmt

fix(decision2): C1 selection gate (LEAK-level length check, class-wise length quotas, small-task drop); pre-register amendment 3
  src/training/decision2/v2/eval/records/m3-prereg-amendment-3-sealed-c1-2026-09-28.md
  src/training/decision2/v2/eval/sealed/build.py
  src/training/decision2/v2/eval/sealed/tests/test_build.py
Due: md-fmt

research(decision2): decoder M2 amendment 2 (0.8B second seeds, formal order, HF staging transport)
  src/training/decision2/v2/dec/records/dec-m2-amendment-2-2026-09-28.md
Due: md-fmt

research(decision2): record published own-Lux RP-v2 waves 1-2 and GPU-hours
  src/training/decision2/v2/data/records/teachers-v2-2026-09-28.md
Due: md-fmt

fix(decision2): leak audit treats fixed option sets as clean by construction; pre-register amendment 4
  src/training/decision2/v2/eval/leak_audit.py
  src/training/decision2/v2/eval/records/m3-prereg-amendment-4-leak-audit-fixed-options-2026-09-28.md
  src/training/decision2/v2/eval/tests/test_leak_audit.py
Due: md-fmt

research(decision2): lock M2 batch 1 (B8F-s1, E8F-s1, X4K-s1, X4K-s2) for formal post-key runs
  src/training/decision2/v2/dec/records/dec-m2-batch1-formal-lock-2026-09-28.md
Due: md-fmt

feat(decision2): blind reviewer packets and task-level review scoring for C1
  src/training/decision2/v2/eval/sealed/review.py
  src/training/decision2/v2/eval/sealed/tests/test_review.py
Due: none

test(decision2): derive the C1 review-score expectation from the sampled items
  src/training/decision2/v2/eval/sealed/tests/test_review.py
Due: none

feat(decision2): 0.6B teacher-file merge (canonical Lux A0 + RP-v2 waves)
  src/training/decision2/v2/06b/teacher_merge.py
  src/training/decision2/v2/06b/tests/test_mixture_s2.py
Due: none

[Bug] Register the collection-level MCP test connection route
  dashboard/backend/handlers/mcp.go
  dashboard/backend/router/mcp_routes.go
  dashboard/backend/router/route_policy_test.go
Due: go-fmt

research(decision2): 0.8B E8F-s1 meets the first-release threshold on post-key v3 (seed 2 pending)
  src/training/decision2/v2/dec/records/dec-m2-0p8b-candidate-2026-09-28.md
Due: md-fmt

research(decision2): 0.6B M4d amendment, V2 trains with the scaled own-Lux targets (A0 + RP-v2 waves 1-2)
  src/training/decision2/v2/06b/records/arms/m4-v2-s1.json
  src/training/decision2/v2/06b/records/arms/m4-v2-s2.json
  src/training/decision2/v2/06b/records/arms/m4-v2-s3.json
  src/training/decision2/v2/06b/records/m4d-amendment-2026-09-28.md
Due: md-fmt

feat(decision2): calibration loader accepts frozen-checkpoint reports (seed soups, CAL698 refits)
  src/training/decision2/training/model/calibration.py
  src/training/decision2/training/model/tests/test_calibration.py
Due: none

research(decision2): decoder M2 amendment 3 (0.8B third seed, seed soup, CAL698, 16K packaging) + soup and checkpoint calibration tools
  src/training/decision2/v2/dec/calibrate_ckpt.py
  src/training/decision2/v2/dec/records/dec-m2-amendment-3-2026-09-28.md
  src/training/decision2/v2/dec/soup.py
Due: md-fmt

[Bug] Publish ML pipeline availability to the dashboard client
  dashboard/backend/config/config.go
  dashboard/backend/handlers/settings.go
  dashboard/backend/handlers/settings_test.go
  dashboard/backend/router/core_routes.go
  dashboard/backend/router/route_policy_test.go
  dashboard/frontend/src/app/AppRouter.tsx
  dashboard/frontend/src/app/AuthenticatedAppRoutes.tsx
  dashboard/frontend/src/app/EvaluationAvailabilityRoute.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/contexts/ReadonlyContext.contract.test.ts
  dashboard/frontend/src/contexts/ReadonlyContext.tsx
  dashboard/frontend/src/contexts/dashboardSettings.test.ts
  dashboard/frontend/src/contexts/dashboardSettings.ts
Due: go-fmt

research(decision2): preregister M3a AutoJev-27B qualification, sharded targets and positional keys
  src/training/decision2/v2/data/m3/__init__.py
  src/training/decision2/v2/data/m3/autojev_job.sh
  src/training/decision2/v2/data/m3/guard.py
  src/training/decision2/v2/data/m3/qualify.py
  src/training/decision2/v2/data/m3/qualify_nodeA.sh
  src/training/decision2/v2/data/m3/shards.py
  src/training/decision2/v2/data/m3/teacher_targets.py
  src/training/decision2/v2/data/m3/waves.py
  src/training/decision2/v2/data/records/m3a-prereg-2026-09-28.md
  src/training/decision2/v2/data/tests/test_m3.py
Due: md-fmt
