Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

[Bench] add MAB harness tests, README, and Make entry points
  bench/mab_comparison/README.md
  bench/test_mab_comparison.py
  tools/make/build-run-test.mk
Due: md-fmt

[Router] add LinUCB / Linear Thompson Go unit tests
  src/semantic-router/pkg/extproc/router_learning_linucb_test.go
Due: go-fmt

[Bench] add LinUCBPy / LinearThompsonPy Python parity to comparison harness
  bench/mab_comparison/algorithms.py
  bench/test_mab_comparison.py
Due: none

[CI/Build] pin tree-sitter versions to fix AST scanner segfault (#2303)
  .github/workflows/pre-commit.yml
  .github/workflows/security-scan.yml
Due: yaml-and-yml-fmt

[Config] add linucb and linear_thompson entries to reference config.yaml
  config/config.yaml
Due: yaml-and-yml-fmt

[Chore] fix loader allowed-fields and lint (black+gofmt+unused)
  bench/mab_comparison/algorithms.py
  bench/mab_comparison/compare.py
  bench/mab_comparison/metrics.py
  bench/mab_comparison/plot.py
  bench/mab_comparison/runner.py
  bench/mab_comparison/workloads.py
  bench/test_mab_comparison.py
  src/semantic-router/pkg/config/loader.go
  src/semantic-router/pkg/extproc/router_learning_matrix.go
Due: go-fmt

[Docs] add Ollama setup guide with dashboard screenshots
  website/docs/installation/installation.md
  website/docs/installation/ollama.md
  website/sidebars.ts
  website/static/img/installation/ollama/ollama-api-verify.png
  website/static/img/installation/ollama/ollama-pull-and-list.png
  website/static/img/installation/ollama/setup-wizard-ollama-activate.png
  website/static/img/installation/ollama/setup-wizard-ollama-model.png
Due: md-fmt

[Router] wire contextual bandit feedback loop into UpdateOutcome
  src/semantic-router/pkg/extproc/router_learning_feedback_test.go
  src/semantic-router/pkg/extproc/router_learning_linear_thompson.go
  src/semantic-router/pkg/extproc/router_learning_linucb.go
  src/semantic-router/pkg/extproc/router_learning_matrix_test.go
  src/semantic-router/pkg/extproc/router_learning_runtime.go
Due: go-fmt

[Test] add exact-reward and full-control-loop feedback tests
  src/semantic-router/pkg/extproc/router_learning_feedback_test.go
Due: go-fmt

[Chore] gofmt on runtime and test files
  src/semantic-router/pkg/extproc/router_learning_matrix_test.go
  src/semantic-router/pkg/extproc/router_learning_runtime.go
Due: go-fmt

[Chore] gofmt on remaining Go files in PR diff
  src/semantic-router/pkg/config/learning_config.go
  src/semantic-router/pkg/extproc/router_learning_linucb_test.go
Due: go-fmt

[Chore] fix Python ruff lint: PLR2004, E741, F401, PLC0415, RUF002, RUF059
  bench/mab_comparison/algorithms.py
  bench/mab_comparison/compare.py
  bench/mab_comparison/plot.py
  bench/mab_comparison/runner.py
  bench/mab_comparison/workloads.py
  bench/test_mab_comparison.py
Due: none

[Chore] fix remaining hi->_hi reference in test_mab_comparison.py
  bench/test_mab_comparison.py
Due: none

[Chore] fix Go structural lint: funlen, gocognit, nestif
  src/semantic-router/pkg/extproc/router_learning_features.go
  src/semantic-router/pkg/extproc/router_learning_linear_thompson.go
  src/semantic-router/pkg/extproc/router_learning_matrix_test.go
Due: go-fmt

[Chore] fix cyclop: split fillHandRolledSignals into fillBasicSignals + fillContextSignals
  src/semantic-router/pkg/extproc/router_learning_features.go
Due: go-fmt

[Router] use sampled (approximate) LRU for session-store eviction
  src/semantic-router/pkg/sessiontelemetry/last_model.go
  src/semantic-router/pkg/sessiontelemetry/router_memory.go
  src/semantic-router/pkg/sessiontelemetry/telemetry.go
  src/semantic-router/pkg/sessiontelemetry/transition.go
Due: go-fmt

[Router] Bound the uncapped session-telemetry stores (size cap) (#2305)
  src/semantic-router/pkg/sessiontelemetry/last_model.go
  src/semantic-router/pkg/sessiontelemetry/router_memory.go
  src/semantic-router/pkg/sessiontelemetry/store_size_cap_test.go
  src/semantic-router/pkg/sessiontelemetry/telemetry.go
  src/semantic-router/pkg/sessiontelemetry/transition.go
Due: go-fmt

fix(guard): use kv_cache_snapshot/restore instead of re-prefilling prefix per request
  candle-binding/src/model_architectures/generative/qwen3_guard.rs
  candle-binding/src/model_architectures/generative/qwen3_guard/qwen3_guard_generation.rs
Due: cargo-fmt, cargo-check

[Router] Rebuild the hybrid semantic cache HNSW index after eviction
  src/semantic-router/pkg/cache/hybrid_cache.go
  src/semantic-router/pkg/cache/hybrid_cache_eviction_test.go
Due: go-fmt

[Docs] fix Quickstart link in Ollama setup guide
  website/docs/installation/ollama.md
Due: md-fmt

[Operator] pin bundle metadata and auto-install operator-sdk
  deploy/operator/.gitignore
  deploy/operator/Makefile
Due: none

[Operator] regenerate bundle to sync CRD with generated schema
  deploy/operator/bundle/manifests/semantic-router-operator-manager-config_v1_configmap.yaml
  deploy/operator/bundle/manifests/semantic-router-operator.clusterserviceversion.yaml
  deploy/operator/bundle/manifests/vllm.ai_semanticrouters.yaml
  deploy/operator/bundle/metadata/annotations.yaml
  deploy/operator/config/manager/kustomization.yaml
Due: yaml-and-yml-fmt

[Operator] restore config/manifests scaffolding for reproducible bundle
  deploy/operator/config/manifests/bases/semantic-router-operator.clusterserviceversion.yaml
  deploy/operator/config/manifests/kustomization.yaml
  deploy/operator/config/samples/kustomization.yaml
Due: yaml-and-yml-fmt

[CI] gate OLM bundle drift in operator-ci
  .github/workflows/operator-ci.yml
Due: yaml-and-yml-fmt

[CI/Build] Drop redundant nlp-binding COPY from CUDA builder stage
  src/vllm-sr/Dockerfile.cuda
  src/vllm-sr/tests/test_dashboard_dockerfile_surface.py
Due: none

[Docs] align click pin in CUDA troubleshooting note with Dockerfile (>=8.1.7)
  deploy/nvidia/README.md
Due: md-fmt

feat(vllm-sr): add CUDA Dockerfile mirroring rocm variant for NVIDIA GPU
  src/vllm-sr/Dockerfile.cuda
  src/vllm-sr/Dockerfile.cuda.dockerignore
Due: none

fix(vllm-sr): add click dependency for huggingface_hub CLI in CUDA image
  src/vllm-sr/Dockerfile.cuda
Due: none

build(vllm-sr): align click pin in CUDA image with other router Dockerfiles
  src/vllm-sr/Dockerfile.cuda
Due: none

docs(nvidia): add NVIDIA CUDA deployment playbook
  deploy/nvidia/README.md
Due: md-fmt

[Docs] Add Ollama setup guide with dashboard screenshots (#2176) (#2309)
  website/docs/installation/installation.md
  website/docs/installation/ollama.md
  website/sidebars.ts
  website/static/img/installation/ollama/ollama-api-verify.png
  website/static/img/installation/ollama/ollama-pull-and-list.png
  website/static/img/installation/ollama/setup-wizard-ollama-activate.png
  website/static/img/installation/ollama/setup-wizard-ollama-model.png
Due: md-fmt

[Router] add forward_authorization_header backend contract
  config/config.yaml
  src/semantic-router/pkg/config/canonical_config.go
  src/semantic-router/pkg/config/canonical_providers.go
  src/semantic-router/pkg/config/model_config_types.go
Due: go-fmt, yaml-and-yml-fmt

[Router] forward inbound Authorization on the routing path
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/headers/headers.go
Due: go-fmt

[Router] test forward_authorization_header across config, main, and looper
  e2e/config/config.forward-authorization.yaml
  src/semantic-router/pkg/config/canonical_loader_test.go
  src/semantic-router/pkg/config/maintained_asset_contract_test.go
  src/semantic-router/pkg/extproc/processor_req_body_forward_auth_test.go
  src/semantic-router/pkg/looper/client_forward_auth_test.go
Due: go-fmt, yaml-and-yml-fmt

[Router] carry caller Authorization across looper re-dispatch
  src/semantic-router/pkg/config/authorization_forwarding.go
  src/semantic-router/pkg/extproc/req_filter_looper.go
  src/semantic-router/pkg/extproc/req_filter_looper_internal.go
  src/semantic-router/pkg/looper/base.go
  src/semantic-router/pkg/looper/client.go
  src/semantic-router/pkg/looper/looper.go
  src/semantic-router/pkg/looper/rl_driven.go
Due: go-fmt

[Docs] document forward_authorization_header backend field
  website/docs/installation/configuration.md
  website/docs/proposals/unified-config-contract-v0-3.md
Due: md-fmt

[CLI] propagate VLLM_SR_STACK_NAME into split runtime containers (#2293)
  src/vllm-sr/cli/docker_start.py
  src/vllm-sr/tests/test_split_runtime_stack.py
Due: none

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
