Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

Reorgnize the top bar to group analyses features and Operations into drop down menu
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
Due: none

update
  config/intelligent-routing/in-tree/bert_classification.yaml
  config/intelligent-routing/in-tree/keyword.yaml
  config/semantic-cache/config.redis.yaml
  deploy/kubernetes/ai-gateway/semantic-router-values/values.yaml
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  deploy/kubernetes/dynamo/semantic-router-values/values.yaml
  deploy/kubernetes/istio/config.yaml
  deploy/kubernetes/istio/semantic-router-values/values.yaml
  deploy/kubernetes/llm-d/semantic-router-values/values.yaml
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/aibrix/values.yaml
  e2e/profiles/authz-rbac/values.yaml
  e2e/profiles/dynamic-config/values.yaml
  e2e/profiles/multi-endpoint/values.yaml
  e2e/profiles/production-stack/values.yaml
  e2e/profiles/routing-strategies/values-mcp.yaml
  e2e/profiles/routing-strategies/values.yaml
  src/semantic-router/pkg/k8s/testdata/base-config.yaml
  website/docs/cookbook/anthropic-models.md
  website/docs/cookbook/classifier-tuning.md
  website/docs/cookbook/pii-policy.md
  website/docs/cookbook/vllm-endpoints.md
  website/docusaurus.config.ts
  website/sidebars.ts
  website/versioned_docs/version-v0.1/cookbook/classifier-tuning.md
  website/versioned_docs/version-v0.1/cookbook/pii-policy.md
  website/versioned_docs/version-v0.1/cookbook/vllm-endpoints.md
  website/versioned_sidebars/version-v0.1-sidebars.json
Due: md-fmt, yaml-and-yml-fmt

update
  website/package-lock.json
  website/package.json
  website/src/components/Threads/Threads.css
  website/src/components/Threads/index.tsx
  website/src/pages/index.module.css
  website/src/pages/index.tsx
Due: none

update
  .github/workflows/integration-test-k8s.yml
  e2e/pkg/framework/runner.go
  e2e/testcases/jailbreak_detection.go
  e2e/testcases/pii_detection.go
  website/src/components/Threads/index.tsx
  website/src/pages/index.tsx
Due: go-fmt, yaml-and-yml-fmt

update
  e2e/testcases/jailbreak_detection.go
  e2e/testcases/pii_detection.go
  e2e/testcases/plugin_chain_execution.go
Due: go-fmt

update
  deploy/kubernetes/ai-gateway/semantic-router-values/values.yaml
  deploy/kubernetes/aibrix/semantic-router-values/values.yaml
  deploy/kubernetes/dynamo/semantic-router-values/values.yaml
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/aibrix/values.yaml
  e2e/profiles/dynamic-config/crds/intelligentroute.yaml
  e2e/profiles/production-stack/values.yaml
  e2e/profiles/routing-strategies/values-mcp.yaml
  e2e/profiles/routing-strategies/values.yaml
Due: yaml-and-yml-fmt

Reorgnize the top bar to group analyses features and Operations into drop down menu (#1392)
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
Due: none

feat(jailbreak): contrastive embedding detection method for multi-turn jailbreak attacks
  config/prompt-guard/contrastive-jailbreak.yaml
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/types/config.ts
  paper/sections/safety.tex
  paper/sections/signal_engine.tex
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/contrastive_jailbreak_classifier.go
  src/semantic-router/pkg/config/config.go
  src/vllm-sr/cli/merger.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/templates/config.template.yaml
  website/docs/installation/configuration.md
  website/docs/overview/signal-driven-decisions.md
  website/docs/tutorials/content-safety/jailbreak-protection.md
  website/static/vllm-semantic-router.pdf
Due: go-fmt, md-fmt, yaml-and-yml-fmt

update
  website/docusaurus.config.ts
  website/src/pages/index.tsx
Due: none

update
  dashboard/frontend/src/components/ChatComponent.tsx
  src/vllm-sr/cli/models.py
Due: none

feat(jailbreak): contrastive embedding detection method for multi-turn jb (#1394)
  config/prompt-guard/contrastive-jailbreak.yaml
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/types/config.ts
  paper/sections/safety.tex
  paper/sections/signal_engine.tex
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/contrastive_jailbreak_classifier.go
  src/semantic-router/pkg/config/config.go
  src/vllm-sr/cli/merger.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/templates/config.template.yaml
  website/docs/installation/configuration.md
  website/docs/overview/signal-driven-decisions.md
  website/docs/tutorials/content-safety/jailbreak-protection.md
  website/docusaurus.config.ts
  website/src/pages/index.tsx
  website/static/vllm-semantic-router.pdf
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(candle-binding): add missing mock methods on Windows
  candle-binding/semantic-router_mock.go
Due: go-fmt

feat: add memory filter gates
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/memory/consolidation.go
  src/semantic-router/pkg/memory/consolidation_test.go
  src/semantic-router/pkg/memory/extractor.go
  src/semantic-router/pkg/memory/extractor_test.go
  src/semantic-router/pkg/memory/filter_registry.go
  src/semantic-router/pkg/memory/filter_registry_test.go
  src/semantic-router/pkg/memory/reflection.go
  src/semantic-router/pkg/memory/reflection_test.go
  src/semantic-router/pkg/memory/sanitize.go
  src/semantic-router/pkg/memory/sanitize_test.go
  src/semantic-router/pkg/memory/types.go
Due: go-fmt

add adaptive threshold
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/memory/milvus_store.go
  src/semantic-router/pkg/memory/milvus_store_test.go
  src/semantic-router/pkg/memory/types.go
Due: go-fmt

lint
  src/semantic-router/pkg/memory/consolidation.go
  src/semantic-router/pkg/memory/consolidation_test.go
  src/semantic-router/pkg/memory/extractor.go
  src/semantic-router/pkg/memory/extractor_test.go
  src/semantic-router/pkg/memory/filter_registry_test.go
  src/semantic-router/pkg/memory/reflection.go
  src/semantic-router/pkg/memory/reflection_test.go
Due: go-fmt

lint
  src/semantic-router/pkg/extproc/req_filter_memory.go
Due: go-fmt

fix tests
  src/semantic-router/pkg/memory/extractor_test.go
Due: go-fmt

fix tests
  src/semantic-router/pkg/memory/reflection_test.go
Due: go-fmt

fix tests
  e2e/testing/09-memory-features-test.py
Due: none

fix tests
  config/testing/config.memory-user.yaml
  e2e/testing/09-memory-features-test.py
Due: yaml-and-yml-fmt

support memory patch in looper
  src/semantic-router/pkg/extproc/processor_req_body.go
Due: go-fmt

feat: re-org chat memory extraction, retrieve, and injection (#1383)
  config/testing/config.memory-user.yaml
  e2e/testing/09-memory-features-test.py
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/memory_helpers.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/req_filter_memory.go
  src/semantic-router/pkg/extproc/req_filter_memory_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/memory/consolidation.go
  src/semantic-router/pkg/memory/consolidation_test.go
  src/semantic-router/pkg/memory/deduplication.go
  src/semantic-router/pkg/memory/deduplication_test.go
  src/semantic-router/pkg/memory/extractor.go
  src/semantic-router/pkg/memory/extractor_test.go
  src/semantic-router/pkg/memory/filter_registry.go
  src/semantic-router/pkg/memory/filter_registry_test.go
  src/semantic-router/pkg/memory/milvus_store.go
  src/semantic-router/pkg/memory/milvus_store_test.go
  src/semantic-router/pkg/memory/reflection.go
  src/semantic-router/pkg/memory/reflection_test.go
  src/semantic-router/pkg/memory/sanitize.go
  src/semantic-router/pkg/memory/sanitize_test.go
  src/semantic-router/pkg/memory/score.go
  src/semantic-router/pkg/memory/score_test.go
  src/semantic-router/pkg/memory/types.go
  src/semantic-router/pkg/vectorstore/hybrid.go
  src/semantic-router/pkg/vectorstore/hybrid_test.go
  src/semantic-router/pkg/vectorstore/memory_backend.go
Due: go-fmt, yaml-and-yml-fmt

docs(i18n): sync zh-Hans translation files
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/configuration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/goals.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/signal-driven-decisions.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/ml-model-selection.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/troubleshooting/common-errors.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/content-safety/jailbreak-protection.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/content-safety/pii-detection.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/intelligent-route/keyword-routing.md
Due: md-fmt

chore: normalize streaming options during looper
  src/semantic-router/pkg/looper/client.go
Due: go-fmt

fix(candle-binding): add missing mock methods on Windows (#1395)
  candle-binding/semantic-router_mock.go
Due: go-fmt

docs(i18n): sync zh-Hans translation files (#1396)
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/configuration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/goals.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/signal-driven-decisions.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/ml-model-selection.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/troubleshooting/common-errors.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/content-safety/jailbreak-protection.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/content-safety/pii-detection.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/intelligent-route/keyword-routing.md
Due: md-fmt

paper: update memory part
  .github/workflows/paper-build.yml
  paper/Makefile
  paper/main.tex
  paper/sections/abstract.tex
  paper/sections/evaluation.tex
  paper/sections/introduction.tex
  paper/sections/memory_rag.tex
  website/src/pages/white-paper.module.css
  website/src/pages/white-paper.tsx
  website/static/vllm-semantic-router.pdf
  website/static/white-paper.pdf
Due: yaml-and-yml-fmt

paper: update memory part
  website/src/pages/white-paper.tsx
  website/static/img/vllm-logo-text-light.png
Due: none

paper: update memory part
  website/src/pages/white-paper.module.css
  website/src/pages/white-paper.tsx
Due: none

paper: update memory part
  website/src/pages/white-paper.module.css
Due: none

paper: update memory part (#1398)
  .github/workflows/paper-build.yml
  paper/Makefile
  paper/main.tex
  paper/sections/abstract.tex
  paper/sections/evaluation.tex
  paper/sections/introduction.tex
  paper/sections/memory_rag.tex
  website/src/pages/white-paper.module.css
  website/src/pages/white-paper.tsx
  website/static/img/vllm-logo-text-light.png
  website/static/vllm-semantic-router.pdf
  website/static/white-paper.pdf
Due: yaml-and-yml-fmt

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Due: none

paper: update abs and related details
  paper/references.bib
  paper/sections/abstract.tex
  paper/sections/architecture.tex
  paper/sections/conclusion.tex
  paper/sections/decision_engine.tex
  paper/sections/deployment.tex
  paper/sections/extproc_pipeline.tex
  paper/sections/halugate.tex
  paper/sections/introduction.tex
  paper/sections/lora_mom.tex
  paper/sections/memory_rag.tex
  paper/sections/ml_inference.tex
  paper/sections/model_selection.tex
  paper/sections/observability.tex
  paper/sections/plugins.tex
  paper/sections/related_work.tex
  paper/sections/safety.tex
  paper/sections/signal_engine.tex
  website/src/pages/white-paper.tsx
  website/static/white-paper.pdf
Due: none

paper: update abs and related details (#1399)
  paper/references.bib
  paper/sections/abstract.tex
  paper/sections/architecture.tex
  paper/sections/conclusion.tex
  paper/sections/decision_engine.tex
  paper/sections/deployment.tex
  paper/sections/extproc_pipeline.tex
  paper/sections/halugate.tex
  paper/sections/introduction.tex
  paper/sections/lora_mom.tex
  paper/sections/memory_rag.tex
  paper/sections/ml_inference.tex
  paper/sections/model_selection.tex
  paper/sections/observability.tex
  paper/sections/plugins.tex
  paper/sections/related_work.tex
  paper/sections/safety.tex
  paper/sections/signal_engine.tex
  website/src/pages/white-paper.tsx
  website/static/white-paper.pdf
Due: none

chore: normalize streaming options during looper (#1397)
  src/semantic-router/pkg/looper/client.go
Due: go-fmt

feat(signals): sync modality and authz signals across all components
  dashboard/frontend/src/pages/topology/constants.ts
  dashboard/frontend/src/pages/topology/types.ts
  dashboard/frontend/src/types/config.ts
  paper/main.tex
  src/vllm-sr/cli/models.py
  website/docs/overview/signal-driven-decisions.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/signal-driven-decisions.md
  website/src/pages/white-paper.tsx
  website/static/white-paper.pdf
Due: md-fmt

update
  dashboard/frontend/src/pages/topology/utils/signalMatcher.ts
  dashboard/frontend/src/pages/topology/utils/topologyParser.ts
Due: none
