Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

[Test] e2e: model-runtime profile asks its fixture embedder for its full depth
  e2e/profiles/model-runtime/values.yaml
Due: yaml-and-yml-fmt

[Feature] serving: a binding's label vocabulary from the served card
  src/semantic-router/pkg/modelruntime/serving/prepare.go
  src/semantic-router/pkg/modelruntime/serving/serving_test.go
Due: go-fmt

[Feature] config: local models need no mapping file
  src/semantic-router/pkg/config/canonical_defaults.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/config/model_runtime_implicit.go
  src/semantic-router/pkg/config/validator_test.go
Due: go-fmt

[Feature] classification: local consumers take their labels from the served model
  src/semantic-router/pkg/classification/classifier_builtin_models.go
  src/semantic-router/pkg/classification/feedback_detector.go
  src/semantic-router/pkg/classification/model_binding_projection.go
  src/semantic-router/pkg/classification/served_labels.go
  src/semantic-router/pkg/classification/served_labels_test.go
Due: go-fmt

[Feature] modeldownload: the runtime downloads the models it serves
  src/semantic-router/pkg/modeldownload/binding_inventory.go
  src/semantic-router/pkg/modeldownload/config_parser_test.go
  src/semantic-router/pkg/modeldownload/default_artifacts_test.go
  src/semantic-router/pkg/modeldownload/default_hazard_inventory_test.go
  src/semantic-router/pkg/modeldownload/release_download_scope_test.go
  src/semantic-router/pkg/modeldownload/revision_test.go
  src/semantic-router/pkg/modeldownload/safety_binding_inventory_test.go
  src/semantic-router/pkg/modeldownload/vela_halu_test.go
  src/semantic-router/pkg/modeldownload/vela_shield_test.go
Due: go-fmt

[Test] apiserver: knowledge-base map tests name the Domain mapping
  src/semantic-router/pkg/apiserver/route_kb_map_test.go
Due: go-fmt

[Test] extproc: reload downloads only the embedding; memory uses mmbert
  src/semantic-router/pkg/extproc/req_filter_memory_context_test.go
  src/semantic-router/pkg/extproc/server_reload_test.go
Due: go-fmt

[Chore] operator: follow the retired model variants and default mappings
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_model_runtime.yaml
  deploy/operator/controllers/canonical_config_pii_window_test.go
  deploy/operator/controllers/canonical_config_prompt_guard_test.go
  deploy/operator/controllers/canonical_config_sample_models_test.go
  deploy/operator/controllers/canonical_config_spec.go
  deploy/operator/controllers/canonical_config_spec_test.go
Due: go-fmt, yaml-and-yml-fmt

[Chore] helm: the model-runtime rendering fixture uses the built-in runtime
  deploy/helm/testdata/model-runtime-values.yaml
Due: yaml-and-yml-fmt

[Chore] dashboard: setup and config tests follow the retired model variants
  dashboard/backend/handlers/config_model_runtime_test.go
  dashboard/backend/handlers/setup_candidate_test.go
Due: go-fmt

[Feature] model-runtime: Kai, Lex and Route consent to a float32-packed CPU copy
  src/model-runtime/tests/test_decision1_engine.py
  src/model-runtime/tests/test_decision1_package.py
  src/model-runtime/vllm_sr_runtime/registry/tables/decision1.py
Due: none

[Docs] model runtime: CPU models spread over processes
  website/docs/model-runtime/deploy.md
  website/docs/model-runtime/overview.md
  website/docs/model-runtime/profiles.md
  website/docs/model-runtime/reference.md
Due: md-fmt

docs(decision2): sync sanitized program docs (COORDINATION)
  src/training/decision2/v2/program/COORDINATION.md
Due: md-fmt

[Docs] model-runtime: decision1 performance record, CPU throughput and float32-packed
  src/model-runtime/docs/records/decision1-performance.json
  src/model-runtime/docs/records/decision1-performance.md
Due: md-fmt

[Refactor] model-runtime: ModernBERT layouts drop the unused widest-grid width
  src/model-runtime/tests/test_modernbert.py
  src/model-runtime/vllm_sr_runtime/engines/native/models/modernbert.py
Due: none

[Test] k8s: fixtures drop the retired model variants
  src/semantic-router/pkg/k8s/reconciler_embedding_modality_test.go
  src/semantic-router/pkg/k8s/testdata/base-config.yaml
Due: go-fmt, yaml-and-yml-fmt

[Chore] model-test-assets: no default mapping files to require
  src/semantic-router/tools/model-test-assets/main.go
  src/semantic-router/tools/model-test-assets/main_test.go
Due: go-fmt

[Test] e2e: task-signal case allows the planted offline decision signal error
  e2e/testcases/model_runtime_signals.go
Due: go-fmt

[Feature] model-runtime: ONNX Runtime CPU sessions share one pool sized to the process
  src/model-runtime/tests/test_onnxruntime_engine.py
  src/model-runtime/vllm_sr_runtime/engines/onnxruntime/engine.py
  src/model-runtime/vllm_sr_runtime/engines/onnxruntime/providers.py
Due: none

[Test] e2e: task-signal case checks every matched domain against the runtime
  e2e/profiles/model-runtime/profile_test.go
  e2e/testcases/model_runtime_signals.go
Due: go-fmt

[Feature] model-runtime: Omni audio preprocessing builds each resampler once and skips zero frames
  src/model-runtime/tests/test_omni_audio.py
  src/model-runtime/vllm_sr_runtime/families/multimodal_embedding/audio.py
Due: none

[Feature] model-runtime: shared-pool ONNX Runtime sessions set no per-session pool sizes
  src/model-runtime/tests/test_onnxruntime_engine.py
  src/model-runtime/vllm_sr_runtime/engines/onnxruntime/providers.py
Due: none

[Feature] model-runtime: embedding and rerank heads run the task heads' packed-linear exact path
  src/model-runtime/vllm_sr_runtime/families/task_heads/family.py
Due: none

[Refactor] model-runtime: drop unused embedding helpers
  src/model-runtime/vllm_sr_runtime/heads/embedding.py
Due: none

[Refactor] model-runtime: drop an unused onnxruntime engine constant
  src/model-runtime/vllm_sr_runtime/engines/onnxruntime/engine.py
Due: none

[CLI] config migrate: remove every field the router's parser now refuses
  src/vllm-sr/cli/config_migration_model_runtime.py
  src/vllm-sr/tests/test_config_migrate_model_runtime.py
Due: none

[Docs] response cache: the polarity guard has no setting
  website/docs/model-runtime/migrate.md
  website/docs/tutorials/global/stores-and-tools.md
Due: md-fmt

[Test] e2e: ai-gateway drops polarity_guard, which the router refuses
  e2e/profiles/ai-gateway/values.yaml
  e2e/testcases/cache_polarity.go
Due: go-fmt, yaml-and-yml-fmt

[Feature] Add fail-closed cross-model KV connector foundation
  src/kv_connector/README.md
  src/kv_connector/__init__.py
  src/kv_connector/paged_cache.py
  src/kv_connector/runtime.py
  src/kv_connector/tests/test_paged_cache.py
  src/kv_connector/tests/test_runtime.py
  src/kv_connector/tests/test_vllm_connector.py
  src/kv_connector/transform.py
  src/kv_connector/vllm_connector.py
  tools/agent/domains.yaml
  tools/make/models.mk
Due: md-fmt, yaml-and-yml-fmt

[Bug] Mutate vLLM transfer config in connector test
  src/kv_connector/tests/test_vllm_connector.py
Due: none

[Bug] Validate target layer count on verified mapper
  src/kv_connector/tests/test_vllm_connector.py
  src/kv_connector/vllm_connector.py
Due: none

[Feature] Add same-host KV mapper handoff probe
  src/kv_connector/README.md
  src/kv_connector/handoff.py
  src/kv_connector/paged_cache.py
  src/kv_connector/snapshot.py
  src/kv_connector/tests/test_handoff.py
Due: md-fmt

[Bug] Keep published KV snapshots immutable
  src/kv_connector/handoff.py
  src/kv_connector/snapshot.py
  src/kv_connector/tests/test_handoff.py
Due: none

[Test] Probe published KV mapper across two GPUs
  src/kv_connector/README.md
  src/kv_connector/gpu_probe.py
Due: md-fmt

test(kv): add model-backed mapper handoff probe
  src/kv_connector/model_probe.py
Due: none

[Bug] Verify tenant and cache identity at handoff
  src/kv_connector/handoff.py
  src/kv_connector/tests/test_handoff.py
Due: none

feat(kv): enable same-host vLLM mapper cache reuse
  src/kv_connector/README.md
  src/kv_connector/paged_cache.py
  src/kv_connector/tests/test_paged_cache.py
  src/kv_connector/tests/test_vllm_connector.py
  src/kv_connector/tests/test_vllm_live_connector.py
  src/kv_connector/vllm_connector.py
Due: md-fmt

test(kv): use lint-compliant handoff test kwargs
  src/kv_connector/tests/test_handoff.py
Due: none

fix(kv): fail closed on unsafe snapshot and cache layouts
  src/kv_connector/README.md
  src/kv_connector/gpu_probe.py
  src/kv_connector/handoff.py
  src/kv_connector/model_probe.py
  src/kv_connector/paged_cache.py
  src/kv_connector/snapshot.py
  src/kv_connector/tests/test_handoff.py
  src/kv_connector/tests/test_paged_cache.py
  src/kv_connector/tests/test_vllm_connector.py
  src/kv_connector/tests/test_vllm_live_connector.py
  src/kv_connector/vllm_connector.py
Due: md-fmt

docs(kv): describe connector setup and handoff directly
  src/kv_connector/README.md
Due: md-fmt
