Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

Gate v3 baseline roster on native repeatability evidence
  src/training/decision2/jev_arena/arena_v3.py
  src/training/decision2/jev_arena/tests/test_arena_v3.py
  src/training/decision2/publication/BRAND.md
  src/training/decision2/publication/bundle_arena_v3.py
  src/training/decision2/publication/tests/test_bundle_arena_v3.py
  src/training/decision2/scripts/FIRST_RELEASE_V3.md
  src/training/decision2/scripts/baseline_repeat_smoke_v3.py
  src/training/decision2/scripts/plan_first_release_v3.py
  src/training/decision2/scripts/tests/test_freeze_first_release_v3.py
  src/training/decision2/scripts/tests/test_plan_first_release_v3.py
Due: md-fmt

Test v3 transitive publication source hash closure
  src/training/decision2/scripts/tests/test_plan_first_release_v3.py
Due: none

Freeze transitive v3 publication source dependencies
  src/training/decision2/scripts/plan_first_release_v3.py
  src/training/decision2/scripts/tests/test_plan_first_release_v3.py
Due: none

Reject omitted v3 protocol source hashes before key opening
  src/training/decision2/scripts/plan_first_release_v3.py
  src/training/decision2/scripts/tests/test_plan_first_release_v3.py
Due: none

Attest Kev composite base and native loader count for v3
  src/training/decision2/scripts/FIRST_RELEASE_V3.md
  src/training/decision2/scripts/baseline_attestation_v3.py
  src/training/decision2/scripts/tests/test_baseline_attestation_v3.py
Due: md-fmt

Document 0.8B source-disjoint replay experiment
  src/training/decision2/research/joyfox08-soft-replay-source-disjoint-design-2026-09-27.md
Due: md-fmt

Preregister 0.6B long document transfer triage
  src/training/decision2/research/small06-contractnli-long-transfer-prereg-2026-09-27.md
Due: md-fmt

Document 27B v3 gate and prospective Score prerequisites
  src/training/decision2/research/qwen38-27b-v3-gate-audit-2026-09-27.md
Due: md-fmt

docs(decision2): bind Lux 9B source revision and release gates
  src/training/decision2/research/lux9b-source-revision-rights-gate-2026-09-27.md
Due: md-fmt

[CI/Build] Fan out CI and release artifact preparation (#4276)
  .github/workflows/build-artifacts.yml
  .github/workflows/ci.yml
  .github/workflows/helm-publish.yml
  .github/workflows/operator-ci.yml
  .github/workflows/performance-test.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/recipe-conformance.yml
  .github/workflows/release.yml
  tools/agent/docs/testing-strategy.md
  tools/calibration/recipe/recipe_conformance.py
  tools/calibration/recipe/recipe_conformance_built_in_test.py
  tools/calibration/recipe/recipe_conformance_sources.py
  tools/ci/ci_plan.py
  tools/ci/execution_batches.py
  tools/ci/run_component_batch.py
  tools/ci/tests/test_component_batches.py
  tools/ci/tests/test_deployment_test_results.py
  tools/ci/tests/test_e2e_batches.py
  tools/ci/tests/test_execution_batches.py
  tools/ci/tests/test_performance_workflow.py
  tools/ci/tests/test_python_package_publication.py
  tools/ci/tests/test_recipe_conformance_workflow.py
  tools/ci/tests/test_recipe_distribution_workflow.py
  tools/ci/verification_catalog.yaml
  tools/ci/workflow_policy_validation.py
  tools/make/recipe-conformance.mk
  tools/models/vela_omni/source.py
  tools/models/vela_omni/test_source_download.py
Due: md-fmt, yaml-and-yml-fmt

Record native Nox over-budget failures as invalid before v3 resume
  src/training/decision2/scripts/recover_nox_overbudget_v3.py
  src/training/decision2/scripts/tests/test_recover_nox_overbudget_v3.py
Due: none

Record 0.6B ContractNLI long-input population stop
  src/training/decision2/research/contractnli_long_transfer.py
  src/training/decision2/research/small06-contractnli-long-transfer-stop-2026-09-27.md
  src/training/decision2/research/tests/test_contractnli_long_transfer.py
Due: md-fmt

Run frozen Nox v3 native continuation with receipts
  src/training/decision2/scripts/run_nox_resume_v3.py
  src/training/decision2/scripts/tests/test_run_nox_resume_v3.py
Due: none

Continue frozen Nox CSS across exact over-budget failures
  src/training/decision2/scripts/continue_nox_css_v3.py
  src/training/decision2/scripts/tests/test_continue_nox_css_v3.py
Due: none

Close Nox prefix stream before continuation
  src/training/decision2/scripts/continue_nox_css_v3.py
Due: none

Preserve and reorder v3 raw prediction manifest before key
  src/training/decision2/scripts/reorder_v3_raw_manifest.py
  src/training/decision2/scripts/tests/test_reorder_v3_raw_manifest.py
Due: none

Preregister Sol 2B zero-step backend and LoRA factorial
  src/training/decision2/research/sol2b-zero-step-factorial-prereg-2026-09-27.md
  src/training/decision2/training/model/tests/test_zero_step_factorial.py
  src/training/decision2/training/model/zero_step_factorial.py
Due: md-fmt

Record Sol 2B zero-step factorial result
  src/training/decision2/research/sol2b-zero-step-factorial-result-2026-09-27.md
Due: md-fmt

Add gold-free Joyfox LoRA development collector
  src/training/decision2/training/joyfox08/collect_lora.py
Due: none

Add fail-closed Joyfox 0.8B soft replay arm
  src/training/decision2/training/joyfox08/soft_replay.py
  src/training/decision2/training/joyfox08/tests/test_soft_replay.py
Due: none

Add paired open pilot transfer diagnostic
  src/training/decision2/training/joyfox08/compare_pilot.py
Due: none

Record Joyfox 0.8B replay stop decision
  src/training/decision2/research/joyfox08-soft-replay-negative-2026-09-27.md
  src/training/decision2/training/joyfox08/collect_lora.py
  src/training/decision2/training/joyfox08/soft_replay.py
Due: md-fmt

Record Decision 2.0 4B frozen HOLD and post-key tradeoff review
  src/training/decision2/research/decision2-4b-jevarena-v3-first-release-hold-2026-09-27.md
  src/training/decision2/research/decision2-4b-v3-postkey-tradeoff-review-2026-09-27.md
Due: md-fmt

Preregister postrelease 4B Score weighting screen
  src/training/decision2/research/eikos4b-postrelease-score-weight-prereg-2026-09-27.md
Due: md-fmt

Document Decision 2.0 4B prepublication verification
  src/training/decision2/research/decision2-4b-v3-prepublication-readonly-checklist-2026-09-27.md
Due: md-fmt

Fix typed answer accounting for future v3 freezes and add post-key diagnostic
  src/training/decision2/jev_arena/arena_v3.py
  src/training/decision2/jev_arena/tests/test_arena_v3.py
  src/training/decision2/publication/bundle_arena_v3.py
  src/training/decision2/publication/tests/test_bundle_arena_v3.py
  src/training/decision2/research/jev-arena-v3-first-release-gates-2026-09-27.md
  src/training/decision2/research/jev-arena-v3-postkey-answer-count-erratum-2026-09-27.md
  src/training/decision2/scripts/rank_postkey_answer_count_v3.py
  src/training/decision2/scripts/tests/test_rank_postkey_answer_count_v3.py
Due: md-fmt

Attest exact SemIf package parity from existing gold-free runs
  src/training/decision2/scripts/attest_semif_parity_v3.py
Due: none

Allow documented loopback in frozen SemIf parity audit
  src/training/decision2/scripts/attest_semif_parity_v3.py
Due: none

Screen the frozen SemIf serving script in parity receipt
  src/training/decision2/scripts/attest_semif_parity_v3.py
Due: none

Handle source adapter identity separately in SemIf parity
  src/training/decision2/scripts/attest_semif_parity_v3.py
Due: none

[Docs] Use the Agent Router name for the former Envoy AI Gateway (#4278)
  tools/ci/check_deployment_support_matrix.py
  tools/ci/verification_catalog.yaml
  website/docs/installation/k8s/ai-gateway.md
  website/docs/installation/k8s/gateway-api-inference-extension.md
  website/docs/installation/k8s/gateways.md
  website/docs/installation/k8s/production-stack.md
  website/docs/installation/k8s/streamed-extproc.md
  website/docs/installation/support-matrix.md
  website/docs/overview/semantic-router-overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/ai-gateway.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/gateway-api-inference-extension.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/gateways.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/streamed-extproc.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/support-matrix.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/global/api-and-observability.md
  website/src/pages/index.tsx
Due: md-fmt, yaml-and-yml-fmt

Accept structured states in release overlap audit
  src/training/decision2/training/data/audit_release4b_overlap.py
  src/training/decision2/training/data/tests/test_audit_release4b_overlap.py
Due: none

Audit frozen 4B training and release prompt overlap
  src/training/decision2/training/data/audit_release4b_overlap.py
  src/training/decision2/training/data/tests/test_audit_release4b_overlap.py
Due: none

Document 4B release rights and frozen prompt overlap audit
  src/training/decision2/research/eikos4b-release-rights-overlap-audit-2026-09-27.md
  src/training/decision2/training/data/audit_release4b_overlap.py
  src/training/decision2/training/data/tests/test_audit_release4b_overlap.py
Due: md-fmt

Document Decision 2.0 4B rights record audit
  src/training/decision2/research/decision2-4b-release-record-rights-audit-2026-09-27.md
Due: md-fmt

fix(release): include nested Candle assets in GitHub Release
  .github/workflows/release.yml
  tools/ci/tests/test_release_asset_paths.py
Due: yaml-and-yml-fmt

Add explicit post-key v3 release review and package path
  src/training/decision2/research/jev-arena-v3-postkey-answer-count-erratum-2026-09-27.md
  src/training/decision2/scripts/create_strict_hold_receipt_v3.py
  src/training/decision2/scripts/generate_postkey_artifacts_v3.py
  src/training/decision2/scripts/package_postkey_aggregate_v3.py
  src/training/decision2/scripts/prepare_postkey_review_v3.py
  src/training/decision2/scripts/tests/test_create_strict_hold_receipt_v3.py
  src/training/decision2/scripts/tests/test_generate_postkey_artifacts_v3.py
  src/training/decision2/scripts/tests/test_package_postkey_aggregate_v3.py
  src/training/decision2/scripts/tests/test_prepare_postkey_review_v3.py
Due: md-fmt

Record independent 4B release rights decision
  src/training/decision2/research/eikos4b-independent-release-rights-review-2026-09-27.md
Due: md-fmt
