Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

support multiple auth providers including envoy gateway
  config/authz/README.md
  config/authz/authorino/config.yaml
  config/authz/authorino/envoy.yaml
  config/authz/authorino/k8s/authconfig.yaml
  config/authz/authorino/k8s/k8s-deploy.yaml
  config/authz/authorino/k8s/secrets-byot.yaml
  config/authz/authorino/k8s/secrets-per-user.yaml
  config/authz/authorino/k8s/secrets-shared.yaml
  config/authz/authorino/profile.yaml
  config/authz/envoy-gateway/config.yaml
  config/authz/envoy-gateway/envoy.yaml
  config/authz/envoy-gateway/profile.yaml
  config/testing/authz-profile-b-envoy-gateway.yaml
  scripts/authz/README.md
  scripts/authz/authorino/README.md
  scripts/authz/authorino/config.yaml
  scripts/authz/authorino/envoy.yaml
  scripts/authz/authorino/k8s
  scripts/authz/authorino/profile.yaml
  scripts/authz/authorino/test.sh
  scripts/authz/envoy-gateway/README.md
  scripts/authz/envoy-gateway/config.yaml
  scripts/authz/envoy-gateway/envoy.yaml
  scripts/authz/envoy-gateway/profile.yaml
  scripts/authz/envoy-gateway/test.sh
  src/semantic-router/pkg/authz/chain.go
  src/semantic-router/pkg/authz/static_provider.go
  src/semantic-router/pkg/classification/authz_classifier.go
  src/semantic-router/pkg/classification/authz_classifier_test.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/headers/headers.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(status): use health/readiness endpoints to check service status (#1308)
  src/vllm-sr/cli/consts.py
  src/vllm-sr/cli/core.py
Due: none

feat(ml-binding): add MLP with GPU support for model selection (#1299)
  candle-binding/semantic-router.go
  candle-binding/src/classifiers/mlp_selector.rs
  candle-binding/src/classifiers/mod.rs
  candle-binding/src/ffi/mlp.rs
  candle-binding/src/ffi/mod.rs
  e2e/profiles/ml-model-selection/README.md
  e2e/profiles/ml-model-selection/profile.go
  e2e/profiles/ml-model-selection/values.yaml
  e2e/testcases/model_selection.go
  e2e/testcases/testdata/model_selection_cases.json
  ml-binding/Cargo.lock
  ml-binding/Cargo.toml
  ml-binding/README.md
  ml-binding/ml_binding.go
  ml-binding/src/ffi.rs
  ml-binding/src/lib.rs
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/modelselection/README.md
  src/semantic-router/pkg/modelselection/selector.go
  src/semantic-router/pkg/modelselection/selector_test.go
  src/semantic-router/pkg/selection/factory.go
  src/semantic-router/pkg/selection/ml_adapter.go
  src/semantic-router/pkg/selection/selector.go
  src/semantic-router/pkg/selection/selector_test.go
  src/training/ml_model_selection/README.md
  src/training/ml_model_selection/models.py
  src/training/ml_model_selection/train.py
  src/training/ml_model_selection/validate.go
  website/docs/training/ml-model-selection.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt, cargo-fmt, cargo-check

use jwt auth to replace EG gateway
  config/authz/README.md
  config/authz/envoy-gateway/profile.yaml
  config/authz/envoy-jwt/config.yaml
  config/authz/envoy-jwt/envoy.yaml
  scripts/authz/README.md
  scripts/authz/envoy-gateway/README.md
  scripts/authz/envoy-gateway/config.yaml
  scripts/authz/envoy-gateway/envoy.yaml
  scripts/authz/envoy-gateway/profile.yaml
  scripts/authz/envoy-gateway/test.sh
  scripts/authz/envoy-jwt/README.md
  scripts/authz/envoy-jwt/config.yaml
  scripts/authz/envoy-jwt/envoy.yaml
  scripts/authz/envoy-jwt/generate-jwt-keys.py
  scripts/authz/envoy-jwt/generate-jwt-tokens.py
  scripts/authz/envoy-jwt/setup.sh
  scripts/authz/envoy-jwt/test.sh
Due: md-fmt, yaml-and-yml-fmt

lint
  src/semantic-router/pkg/extproc/req_filter_image_gen.go
Due: go-fmt

lint
  src/semantic-router/pkg/config/config.go
Due: go-fmt

refactor modality routing api so it is aligned with decision signals
  config/testing/config.image-gen.yaml
  config/testing/config.modality-routing.yaml
  src/semantic-router/cmd/main.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/image_gen_plugin.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/extproc/req_filter_modality.go
  src/semantic-router/pkg/extproc/req_filter_modality_test.go
  src/semantic-router/pkg/k8s/testdata/output/01-basic.yaml
  src/semantic-router/pkg/k8s/testdata/output/02-keyword-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/03-embedding-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/04-domain-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/05-keyword-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/06-keyword-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/07-domain-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/08-keyword-embedding-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/09-keyword-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/10-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/11-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/12-keyword-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/13-keyword-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/14-domain-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/15-keyword-embedding-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/16-keyword-embedding-domain-no-plugin.yaml
Due: go-fmt, yaml-and-yml-fmt

lint
  src/semantic-router/pkg/extproc/req_filter_modality_test.go
Due: go-fmt

chore: update performance baselines (nightly run)
  perf/testdata/baselines/cache.json
  perf/testdata/baselines/classification.json
  perf/testdata/baselines/decision.json
  perf/testdata/baselines/extproc.json
Due: none

[DOC] Add multi-protocol adaptor design doc
  website/docs/proposals/multi-protocol-adaptor.md
  website/sidebars.ts
Due: md-fmt

fix(validator): add support for complexity signal validation
  src/vllm-sr/cli/validator.py
Due: none

ci: add build timeout, vllm-sr Rust cache, and build time metrics (#1241)
  .github/workflows/docker-publish.yml
  src/vllm-sr/Dockerfile
  tools/docker/Dockerfile.extproc
  tools/docker/Dockerfile.extproc.cross
  tools/docker/README.md
  tools/make/docker.mk
Due: md-fmt, yaml-and-yml-fmt

add secure user_id extraction from authz header
  src/semantic-router/pkg/extproc/memory_helpers.go
  src/semantic-router/pkg/extproc/memory_helpers_test.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/headers/headers.go
Due: go-fmt

fix(validator): add support for complexity signal validation (#1320)
  src/vllm-sr/cli/validator.py
Due: none

feat: support differentiate multi endpoint configurations
  config/testing/config.multi-endpoint.yaml
  scripts/multi-endpoint/demo-multi-endpoint.sh
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/extproc/processor_req_body.go
Due: go-fmt, yaml-and-yml-fmt

add e2e for multi endpoints
  .github/workflows/ci-changes.yml
  .github/workflows/integration-test-k8s.yml
  e2e/cmd/e2e/main.go
  e2e/profiles/multi-endpoint/gateway-resources/backend.yaml
  e2e/profiles/multi-endpoint/gateway-resources/gwapi-resources.yaml
  e2e/profiles/multi-endpoint/profile.go
  e2e/profiles/multi-endpoint/values.yaml
Due: go-fmt, yaml-and-yml-fmt

review feedback
  src/semantic-router/pkg/config/config_test.go
Due: go-fmt

fix(models): remove download-mmbert-embedding target (use built-in downloader) (#1278)
  tools/make/models.mk
Due: none

feat: support differentiated multi endpoint configurations (#1323)
  .github/workflows/ci-changes.yml
  .github/workflows/integration-test-k8s.yml
  config/testing/config.multi-endpoint.yaml
  e2e/cmd/e2e/main.go
  e2e/profiles/multi-endpoint/gateway-resources/backend.yaml
  e2e/profiles/multi-endpoint/gateway-resources/gwapi-resources.yaml
  e2e/profiles/multi-endpoint/profile.go
  e2e/profiles/multi-endpoint/values.yaml
  scripts/multi-endpoint/demo-multi-endpoint.sh
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/extproc/processor_req_body.go
Due: go-fmt, yaml-and-yml-fmt

feat(embedding): add ClassifyAll, real confidence scores, and lazy embedding fallback (#1319)
  e2e/profiles/dynamic-config/values.yaml
  e2e/profiles/routing-strategies/config-with-embedding.yaml
  e2e/testcases/testdata/embedding_signal_cases.json
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/classification/embedding_classifier_test.go
  src/semantic-router/pkg/config/image_gen_plugin.go
  src/semantic-router/pkg/decision/engine.go
Due: go-fmt, yaml-and-yml-fmt

docs(config): update stale references to removed download-mmbert-embedding target
  config/config-rag-example.yaml
  config/intelligent-routing/in-tree/embedding-mmbert.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_mmbert.yaml
Due: yaml-and-yml-fmt

docs(config): update stale references to removed download-mmbert-embedding target (#1325)
  config/config-rag-example.yaml
  config/intelligent-routing/in-tree/embedding-mmbert.yaml
  deploy/operator/config/samples/vllm.ai_v1alpha1_semanticrouter_mmbert.yaml
Due: yaml-and-yml-fmt

feat(embedding): add ClassifyAll, real confidence scores, and lazy embedding fallback (#1319) (#1322)
  e2e/profiles/dynamic-config/values.yaml
  e2e/profiles/routing-strategies/config-with-embedding.yaml
  e2e/testcases/testdata/embedding_signal_cases.json
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/classification/embedding_classifier_test.go
  src/semantic-router/pkg/config/image_gen_plugin.go
  src/semantic-router/pkg/decision/engine.go
Due: go-fmt, yaml-and-yml-fmt

add e2e tests
  .github/workflows/ci-changes.yml
  .github/workflows/integration-test-k8s.yml
  config/testing/config.authz-rbac.yaml
  e2e/cmd/e2e/main.go
  e2e/profiles/authz-rbac/gateway-resources/backend.yaml
  e2e/profiles/authz-rbac/gateway-resources/gwapi-resources.yaml
  e2e/profiles/authz-rbac/profile.go
  e2e/profiles/authz-rbac/values.yaml
Due: go-fmt, yaml-and-yml-fmt

fix tests
  config/testing/config.authz-rbac-demo.yaml
  src/semantic-router/pkg/classification/classifier.go
Due: go-fmt, yaml-and-yml-fmt

lint
  tools/linter/codespell/.codespell.ignorewords
Due: none

fix tests
  config/authz/envoy-jwt/envoy.yaml
  scripts/demo-authorino-authz.sh
  scripts/setup-authz-rbac-sample.sh
Due: yaml-and-yml-fmt

clean up
  scripts/authz/README.md
  scripts/authz/authorino/README.md
  scripts/authz/authorino/config.yaml
  scripts/authz/authorino/envoy.yaml
  scripts/authz/authorino/k8s
  scripts/authz/authorino/profile.yaml
  scripts/authz/authorino/test.sh
  scripts/authz/envoy-jwt/README.md
  scripts/authz/envoy-jwt/config.yaml
  scripts/authz/envoy-jwt/envoy.yaml
  scripts/authz/envoy-jwt/generate-jwt-keys.py
  scripts/authz/envoy-jwt/generate-jwt-tokens.py
  scripts/authz/envoy-jwt/setup.sh
  scripts/authz/envoy-jwt/test.sh
  src/semantic-router/pkg/classification/authz_classifier.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

clean up
  config/authorino/authconfig.yaml
  config/authorino/k8s-deploy.yaml
  config/authorino/secrets-byot.yaml
  config/authorino/secrets-per-user.yaml
  config/authorino/secrets-shared.yaml
  config/authz/README.md
  config/authz/authorino/config.yaml
  config/authz/authorino/envoy.yaml
  config/authz/authorino/k8s/authconfig.yaml
  config/authz/authorino/k8s/k8s-deploy.yaml
  config/authz/authorino/k8s/secrets-byot.yaml
  config/authz/authorino/k8s/secrets-per-user.yaml
  config/authz/authorino/k8s/secrets-shared.yaml
  config/authz/authorino/profile.yaml
  config/authz/envoy-jwt/config.yaml
  config/authz/envoy-jwt/envoy.yaml
Due: md-fmt, yaml-and-yml-fmt

fix test
  src/semantic-router/pkg/extproc/extproc_test.go
Due: go-fmt

fix test
  e2e/profiles/routing-strategies/values.yaml
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/utils.go
Due: go-fmt, yaml-and-yml-fmt

fix test
  e2e/profiles/routing-strategies/values.yaml
  src/semantic-router/pkg/extproc/router.go
Due: go-fmt, yaml-and-yml-fmt

add multi provider support for endpoints that have different auth headers
  config/testing/config.multi-provider.yaml
  src/semantic-router/pkg/authz/authz_test.go
  src/semantic-router/pkg/authz/header_provider.go
  src/semantic-router/pkg/authz/provider.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/modelselection/selector_test.go
  src/semantic-router/pkg/observability/tracing/tracing_test.go
  src/semantic-router/pkg/services/classification_test.go
Due: go-fmt, yaml-and-yml-fmt

lint
  src/semantic-router/pkg/config/helper.go
Due: go-fmt

refactor(latency): move latency cache and tests to pkg/latency
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/latency_classifier_test.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/processor_res_header.go
  src/semantic-router/pkg/latency/cache.go
  src/semantic-router/pkg/latency/cache_test.go
Due: go-fmt

feat(config): add latency_aware validation and deprecation warnings
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_test.go
Due: go-fmt

feat(selection): add latency_aware selector and extproc wiring
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/selection/factory.go
  src/semantic-router/pkg/selection/latency_aware.go
  src/semantic-router/pkg/selection/latency_aware_test.go
  src/semantic-router/pkg/selection/metrics.go
  src/semantic-router/pkg/selection/selector.go
  src/semantic-router/pkg/selection/selector_test.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
