Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

fix(candle-binding): add missing mock methods on Windows (#1395)
  candle-binding/semantic-router_mock.go
Due: go-fmt

feat(cli): migrate safety to signal-driven fast_response (#1403)
  dashboard/frontend/package-lock.json
  dashboard/frontend/package.json
  dashboard/frontend/src/components/PrismaticBurst.css
  dashboard/frontend/src/components/PrismaticBurst.tsx
  dashboard/frontend/src/pages/LandingPage.module.css
  dashboard/frontend/src/pages/LandingPage.tsx
  deploy/amd/config.yaml
  src/vllm-sr/cli/merger.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/validator.py
Due: yaml-and-yml-fmt

feat: re-org chat memory extraction, retrieve, and injection (#1383)
  config/testing/config.memory-user.yaml
  e2e/testing/09-memory-features-test.py
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/memory_helpers.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/req_filter_memory.go
  src/semantic-router/pkg/extproc/req_filter_memory_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/memory/consolidation.go
  src/semantic-router/pkg/memory/consolidation_test.go
  src/semantic-router/pkg/memory/deduplication.go
  src/semantic-router/pkg/memory/deduplication_test.go
  src/semantic-router/pkg/memory/extractor.go
  src/semantic-router/pkg/memory/extractor_test.go
  src/semantic-router/pkg/memory/filter_registry.go
  src/semantic-router/pkg/memory/filter_registry_test.go
  src/semantic-router/pkg/memory/milvus_store.go
  src/semantic-router/pkg/memory/milvus_store_test.go
  src/semantic-router/pkg/memory/reflection.go
  src/semantic-router/pkg/memory/reflection_test.go
  src/semantic-router/pkg/memory/sanitize.go
  src/semantic-router/pkg/memory/sanitize_test.go
  src/semantic-router/pkg/memory/score.go
  src/semantic-router/pkg/memory/score_test.go
  src/semantic-router/pkg/memory/types.go
  src/semantic-router/pkg/vectorstore/hybrid.go
  src/semantic-router/pkg/vectorstore/hybrid_test.go
  src/semantic-router/pkg/vectorstore/memory_backend.go
Due: go-fmt, yaml-and-yml-fmt

docs(paper): remove latency budgets from multi-dimensional signals (#1369)
  paper/sections/introduction.tex
Due: none

paper: update abs and related details (#1399)
  paper/references.bib
  paper/sections/abstract.tex
  paper/sections/architecture.tex
  paper/sections/conclusion.tex
  paper/sections/decision_engine.tex
  paper/sections/deployment.tex
  paper/sections/extproc_pipeline.tex
  paper/sections/halugate.tex
  paper/sections/introduction.tex
  paper/sections/lora_mom.tex
  paper/sections/memory_rag.tex
  paper/sections/ml_inference.tex
  paper/sections/model_selection.tex
  paper/sections/observability.tex
  paper/sections/plugins.tex
  paper/sections/related_work.tex
  paper/sections/safety.tex
  paper/sections/signal_engine.tex
  website/src/pages/white-paper.tsx
  website/static/white-paper.pdf
Due: none

[bugfix]: fix error where tools_db.json couldn't be found (#1375)
  dashboard/backend/handlers/tools.go
  dashboard/backend/router/router.go
Due: go-fmt

fix(make): correct default ONNX config path for run-router-onnx (#1408)
  tools/make/build-run-test.mk
Due: none

feat: support real-time websocket communication (#1429)
  dashboard/backend/go.mod
  dashboard/backend/go.sum
  dashboard/backend/handlers/openclaw.go
  dashboard/backend/handlers/openclaw_helpers.go
  dashboard/backend/handlers/openclaw_lifecycle.go
  dashboard/backend/handlers/openclaw_provision.go
  dashboard/backend/handlers/openclaw_rooms.go
  dashboard/backend/handlers/openclaw_status.go
  dashboard/backend/handlers/openclaw_stream.go
  dashboard/backend/handlers/openclaw_test.go
  dashboard/backend/handlers/openclaw_websocket.go
  dashboard/frontend/src/components/ClawRoomChat.module.css
  dashboard/frontend/src/components/ClawRoomChat.tsx
  dashboard/frontend/src/pages/OpenClawPage.tsx
  src/vllm-sr/cli/core.py
  src/vllm-sr/cli/docker_cli.py
Due: go-fmt

feat(memory): defend against memory injection attacks (MINJA) #1386 (#1393)
  e2e/testing/09-memory-features-test.py
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/processor_res_body.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/res_filter_jailbreak.go
  src/semantic-router/pkg/extproc/res_filter_jailbreak_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/headers/headers_test.go
  src/semantic-router/pkg/memory/reflection.go
  src/semantic-router/pkg/memory/types.go
  src/semantic-router/pkg/routerreplay/recorder.go
  src/semantic-router/pkg/routerreplay/store/store.go
  src/vllm-sr/cli/templates/config.template.yaml
  website/docs/installation/configuration.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Feat/dsl deploy (#1417)
  dashboard/backend/handlers/config.go
  dashboard/backend/handlers/config_test.go
  dashboard/backend/handlers/deploy.go
  dashboard/backend/handlers/deploy_test.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/lib/wasm.ts
  dashboard/frontend/src/pages/BuilderPage.module.css
  dashboard/frontend/src/pages/BuilderPage.tsx
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/DashboardPage.tsx
  dashboard/frontend/src/pages/topology/constants.ts
  dashboard/frontend/src/pages/topology/types.ts
  dashboard/frontend/src/stores/dslStore.ts
  dashboard/frontend/src/types/config.ts
  dashboard/frontend/src/types/dsl.ts
  src/semantic-router/pkg/apiserver/config.go
  src/semantic-router/pkg/apiserver/route_api_doc.go
  src/semantic-router/pkg/apiserver/route_config_deploy.go
  src/semantic-router/pkg/apiserver/server.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/helper.go
  src/semantic-router/pkg/config/loader.go
  src/semantic-router/pkg/dsl/compiler.go
  src/semantic-router/pkg/dsl/decompiler.go
  src/semantic-router/pkg/dsl/dsl_test.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/server.go
  src/semantic-router/pkg/k8s/converter.go
  src/semantic-router/pkg/utils/pii/policy.go
  src/semantic-router/pkg/utils/pii/policy_test.go
  src/vllm-sr/cli/models.py
Due: go-fmt

feat: implement all PIIOptions in DetectPII and add RevealEntityText option (#1438)
  src/semantic-router/pkg/services/classification.go
  src/semantic-router/pkg/services/classification_test.go
Due: go-fmt

feat: add openclaw provisioning on dashbord (#1418)
  dashboard/backend/config/config.go
  dashboard/backend/config/openclaw-skills.json
  dashboard/backend/handlers/openclaw.go
  dashboard/backend/proxy/websocket.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/OpenClawPage.module.css
  dashboard/frontend/src/pages/OpenClawPage.tsx
  src/semantic-router/pkg/looper/base.go
Due: go-fmt

feat: update openclaw to swarm (#1424)
  dashboard/frontend/package-lock.json
  dashboard/frontend/package.json
  dashboard/frontend/public/openclaw.svg
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/OpenClawPage.module.css
  dashboard/frontend/src/pages/OpenClawPage.tsx
  e2e/testing/llm-katan/README.md
Due: md-fmt

paper: add dsl related details (#1411)
  dashboard/frontend/src/pages/BuilderPage.tsx
  deploy/amd/README.md
  paper/main.tex
  paper/references.bib
  paper/sections/architecture.tex
  paper/sections/conclusion.tex
  paper/sections/decision_engine.tex
  paper/sections/dsl_specification.tex
  paper/sections/introduction.tex
  paper/sections/lora_mom.tex
  paper/sections/signal_engine.tex
  website/static/white-paper.pdf
Due: md-fmt

chore: update the layout for dashboard (#1430)
  dashboard/backend/handlers/deploy.go
  dashboard/backend/handlers/deploy_test.go
  dashboard/backend/handlers/openclaw_rooms.go
  dashboard/backend/handlers/openclaw_test.go
  dashboard/frontend/package-lock.json
  dashboard/frontend/package.json
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ClawRoomChat.module.css
  dashboard/frontend/src/components/ClawRoomChat.tsx
  dashboard/frontend/src/components/ColorBends.css
  dashboard/frontend/src/components/ColorBends.tsx
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/pages/BuilderPage.module.css
  dashboard/frontend/src/pages/BuilderPage.tsx
  dashboard/frontend/src/pages/ConfigPage.module.css
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/LandingPage.module.css
  dashboard/frontend/src/pages/LandingPage.tsx
  dashboard/frontend/src/pages/topology/TopologyPageEnhanced.module.css
  dashboard/frontend/src/pages/topology/TopologyPageEnhanced.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/AlgorithmNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/ClientNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/CustomNodes.module.css
  dashboard/frontend/src/pages/topology/components/CustomNodes/DecisionNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/DefaultRouteNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/FallbackDecisionNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/GlobalPluginNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/ModelNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/MoreDecisionsNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/PluginChainNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/SignalGroupNode.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/index.ts
  dashboard/frontend/src/pages/topology/constants.ts
  dashboard/frontend/src/pages/topology/utils/layoutCalculator.ts
  dashboard/frontend/src/stores/dslStore.ts
  reactbits
  tools/docker/Dockerfile.extproc
  tools/linter/codespell/.codespell.ignorewords
  tools/linter/codespell/.codespell.skip
Due: go-fmt

feat: use nlp to compress prompt (#1437)
  bench/cpu-vs-gpu/bench-long-context.sh
  bench/cpu-vs-gpu/bench-sdpa-vs-fa.sh
  bench/cpu-vs-gpu/config-bench.yaml
  onnx-binding/ort-ck-flash-attn/scripts/rewrite_graph.py
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/config_test.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/promptcompression/compressor.go
  src/semantic-router/pkg/promptcompression/compressor_nlp_test.go
  src/semantic-router/pkg/promptcompression/compressor_test.go
  src/semantic-router/pkg/promptcompression/novelty.go
  src/semantic-router/pkg/promptcompression/position.go
  src/semantic-router/pkg/promptcompression/sentence.go
  src/semantic-router/pkg/promptcompression/textrank.go
  src/semantic-router/pkg/promptcompression/tfidf.go
  tools/linter/codespell/.codespell.ignorewords
Due: go-fmt, yaml-and-yml-fmt

fix: ci lint errors (#1421)
  dashboard/backend/handlers/openclaw_provision.go
  dashboard/backend/handlers/openclaw_teams.go
Due: go-fmt

feat: support claw orchestration (#1426)
  dashboard/backend/handlers/openclaw.go
  dashboard/backend/handlers/openclaw_helpers.go
  dashboard/backend/handlers/openclaw_lifecycle.go
  dashboard/backend/handlers/openclaw_mcp.go
  dashboard/backend/handlers/openclaw_mcp_test.go
  dashboard/backend/handlers/openclaw_provision.go
  dashboard/backend/handlers/openclaw_rooms.go
  dashboard/backend/handlers/openclaw_status.go
  dashboard/backend/handlers/openclaw_teams.go
  dashboard/backend/handlers/openclaw_test.go
  dashboard/backend/handlers/openclaw_workers.go
  dashboard/backend/mcp/types.go
  dashboard/backend/proxy/websocket.go
  dashboard/backend/router/mcp_routes.go
  dashboard/backend/router/router.go
  dashboard/frontend/src/App.tsx
  dashboard/frontend/src/components/AnimatedBackground.tsx
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ClawRoomChat.module.css
  dashboard/frontend/src/components/ClawRoomChat.tsx
  dashboard/frontend/src/components/HeaderDisplay.module.css
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/components/ThinkingBlock.module.css
  dashboard/frontend/src/index.css
  dashboard/frontend/src/pages/OpenClawPage.module.css
  dashboard/frontend/src/pages/OpenClawPage.tsx
  dashboard/frontend/src/pages/PlaygroundPage.module.css
  dashboard/frontend/src/pages/PlaygroundPage.tsx
  dashboard/frontend/src/tools/mcp/api.ts
  deploy/amd/claw.yaml
  src/semantic-router/pkg/apiserver/server.go
  src/semantic-router/pkg/apiserver/server_test.go
  src/vllm-sr/cli/templates/router-defaults.yaml
Due: go-fmt, yaml-and-yml-fmt

chore: fit test error (#1436)
  src/semantic-router/pkg/vectorstore/pipeline.go
Due: go-fmt

feat: add multimodal embedding model support (#1414)
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  candle-binding/examples/test_multimodal_embed.rs
  candle-binding/semantic-router.go
  candle-binding/semantic-router_mock.go
  candle-binding/semantic-router_test.go
  candle-binding/src/classifiers/unified.rs
  candle-binding/src/ffi/embedding.rs
  candle-binding/src/ffi/types.rs
  candle-binding/src/model_architectures/config.rs
  candle-binding/src/model_architectures/embedding/mod.rs
  candle-binding/src/model_architectures/embedding/multimodal_embedding.rs
  candle-binding/src/model_architectures/model_factory.rs
  candle-binding/src/model_architectures/routing.rs
  candle-binding/src/model_architectures/traditional/modernbert_test.rs
  candle-binding/src/model_architectures/traits.rs
  src/semantic-router/pkg/cache/cache.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/complexity_classifier.go
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/utils.go
  src/semantic-router/pkg/looper/base.go
  src/semantic-router/pkg/looper/client.go
  src/semantic-router/pkg/looper/confidence.go
Due: go-fmt, cargo-fmt, cargo-check

feat: support envoy stream mode (#1442)
  .github/workflows/ci-changes.yml
  .github/workflows/integration-test-k8s.yml
  bench/cpu-vs-gpu/README.md
  bench/cpu-vs-gpu/config-bench.yaml
  bench/cpu-vs-gpu/envoy-bench.yaml
  deploy/kubernetes/streaming/aigw-resources/gwapi-resources.yaml
  e2e/cmd/e2e/main.go
  e2e/profiles/streaming/profile.go
  e2e/profiles/streaming/values.yaml
  e2e/testcases/streaming_body.go
  src/semantic-router/go.mod
  src/semantic-router/pkg/cache/cache_extract_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/processor_core.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_body_streamed.go
  src/semantic-router/pkg/extproc/processor_req_body_streamed_test.go
  src/semantic-router/pkg/extproc/processor_req_header.go
  src/semantic-router/pkg/extproc/utils.go
  src/semantic-router/pkg/extproc/utils_fast.go
  src/semantic-router/pkg/extproc/utils_fast_test.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat: support ROCM with onnx binding (#1427)
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
  .github/workflows/operator-ci.yml
  .github/workflows/paper-build.yml
  bench/cpu-vs-gpu/bench-3way.sh
  onnx-binding/Cargo.toml
  onnx-binding/semantic-router.go
  onnx-binding/semantic-router_test.go
  onnx-binding/src/core/gpu_memory.rs
  onnx-binding/src/core/mod.rs
  onnx-binding/src/core/unified_error.rs
  onnx-binding/src/ffi/mod.rs
  onnx-binding/src/ffi/multimodal.rs
  onnx-binding/src/ffi/types.rs
  onnx-binding/src/lib.rs
  onnx-binding/src/model_architectures/classification/mmbert_classifier.rs
  onnx-binding/src/model_architectures/embedding/mmbert_embedding.rs
  onnx-binding/src/model_architectures/embedding/mod.rs
  onnx-binding/src/model_architectures/embedding/multimodal_embedding.rs
  paper/sections/evaluation.tex
  scripts/entrypoint.sh
  src/semantic-router/pkg/classification/classifier.go
  tools/docker/Dockerfile.extproc
  tools/docker/Dockerfile.extproc-rocm
  tools/make/docker.mk
Due: go-fmt, yaml-and-yml-fmt, cargo-fmt, cargo-check

feat: add openclaw team support (#1419)
  dashboard/backend/Dockerfile
  dashboard/backend/handlers/openclaw.go
  dashboard/backend/handlers/openclaw_helpers.go
  dashboard/backend/handlers/openclaw_lifecycle.go
  dashboard/backend/handlers/openclaw_provision.go
  dashboard/backend/handlers/openclaw_skills.go
  dashboard/backend/handlers/openclaw_status.go
  dashboard/backend/handlers/openclaw_teams.go
  dashboard/backend/handlers/openclaw_test.go
  dashboard/backend/handlers/openclaw_workers.go
  dashboard/backend/router/router.go
  dashboard/frontend/public/openclaw.png
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/index.css
  dashboard/frontend/src/pages/DashboardPage.tsx
  dashboard/frontend/src/pages/OpenClawPage.module.css
  dashboard/frontend/src/pages/OpenClawPage.tsx
  deploy/amd/config.yaml
  src/semantic-router/pkg/config/helper.go
  src/vllm-sr/Dockerfile
  src/vllm-sr/cli/docker_cli.py
  src/vllm-sr/cli/main.py
Due: go-fmt, yaml-and-yml-fmt

chore: update website banner (#1416)
  website/i18n/zh-Hans/code.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
  website/src/components/AcknowledgementsSection/data.json
  website/src/components/AcknowledgementsSection/index.module.css
  website/src/components/AcknowledgementsSection/index.tsx
  website/src/components/PaperFigureShowcase/index.module.css
  website/src/components/PaperFigureShowcase/index.tsx
  website/src/components/TeamCarousel/index.tsx
  website/src/components/TeamCarousel/styles.module.css
  website/src/pages/index.module.css
  website/src/pages/index.tsx
  website/static/img/acknowledgements/amd.png
  website/static/img/acknowledgements/nvidia.svg
  website/static/img/acknowledgements/pytorch.svg
Due: none

chore: update template for paper (#1415)
  paper/.gitignore
  paper/iclr2026_conference.bst
  paper/iclr2026_conference.sty
  paper/main.tex
  paper/sections/abstract.tex
  paper/sections/architecture.tex
  paper/sections/decision_engine.tex
  paper/sections/dsl_specification.tex
  paper/sections/evaluation.tex
  paper/sections/extproc_pipeline.tex
  paper/sections/halugate.tex
  paper/sections/introduction.tex
  paper/sections/lora_mom.tex
  paper/sections/memory_rag.tex
  paper/sections/ml_inference.tex
  paper/sections/model_selection.tex
  paper/sections/safety.tex
  paper/sections/signal_engine.tex
  website/static/white-paper.pdf
Due: none

fix: external model config not picked up from defaults (#1405) (#1413)
  src/semantic-router/pkg/classification/vllm_client.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/req_filter_memory.go
  src/vllm-sr/cli/merger.py
Due: go-fmt

update amd examples (#1407)
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/pages/DashboardPage.tsx
  deploy/amd/config.yaml
Due: yaml-and-yml-fmt

feat: support flash attention in vllm-sr onnx (#1440)
  src/vllm-sr/Dockerfile.rocm
  src/vllm-sr/cli/templates/router-defaults.yaml
  website/static/white-paper.pdf
Due: yaml-and-yml-fmt

feat(memory): gate memory storage on response-level jailbreak detection #1434 (#1435)
  src/semantic-router/pkg/extproc/processor_res_body.go
  website/docs/installation/configuration.md
Due: go-fmt, md-fmt

Feat: Contrastive preference classifier (#1368)
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/topology/types.ts
  dashboard/frontend/src/pages/topology/utils/topologyParser.ts
  dashboard/frontend/src/types/config.ts
  perf/benchmarks/preference_bench_test.go
  perf/go.mod
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/contrastive_preference_classifier.go
  src/semantic-router/pkg/classification/embedder_hook.go
  src/semantic-router/pkg/classification/preference_classifier.go
  src/semantic-router/pkg/classification/preference_classifier_test.go
  src/semantic-router/pkg/config/config.go
  src/vllm-sr/cli/merger.py
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/templates/router-defaults.yaml
  src/vllm-sr/cli/validator.py
Due: go-fmt, yaml-and-yml-fmt

feat: Enable Flash Attention for ONNX bindings (#1431)
  .gitattributes
  .github/workflows/pre-commit.yml
  .gitignore
  bench/cpu-vs-gpu/README.md
  bench/cpu-vs-gpu/bench-long-context.sh
  bench/cpu-vs-gpu/bench-sdpa-vs-fa.sh
  bench/cpu-vs-gpu/config-bench.yaml
  bench/cpu-vs-gpu/envoy-bench.yaml
  onnx-binding/Dockerfile.fa-test
  onnx-binding/fa_test.go
  onnx-binding/ort-ck-flash-attn/CMakeLists.txt
  onnx-binding/ort-ck-flash-attn/Dockerfile
  onnx-binding/ort-ck-flash-attn/README.md
  onnx-binding/ort-ck-flash-attn/include/ck_flash_attn.h
  onnx-binding/ort-ck-flash-attn/prebuilt/libort_ck_flash_attn.so
  onnx-binding/ort-ck-flash-attn/prebuilt/libort_ck_flash_attn.so.1
  onnx-binding/ort-ck-flash-attn/scripts/rewrite_graph.py
  onnx-binding/ort-ck-flash-attn/src/ck_fmha_dispatch.hip
  onnx-binding/ort-ck-flash-attn/src/ort_custom_op.cpp
  onnx-binding/ort-ck-flash-attn/tests/test_fa_vs_sdpa.hip
  onnx-binding/scripts/download_fa_models.py
  onnx-binding/scripts/run_fa_tests.sh
  onnx-binding/src/model_architectures/classification/mmbert_classifier.rs
  onnx-binding/src/model_architectures/embedding/mmbert_embedding.rs
  paper/sections/evaluation.tex
  tools/docker/Dockerfile.extproc-rocm
  website/static/white-paper.pdf
Due: go-fmt, md-fmt, yaml-and-yml-fmt, cargo-fmt, cargo-check

fix: pii and jailbreak related signal extraction logics (#1412)
  candle-binding/semantic-router.go
  candle-binding/semantic-router_test.go
  candle-binding/src/ffi/classify.rs
  deploy/amd/README.md
  deploy/amd/config.yaml
  paper/main.tex
  paper/sections/architecture.tex
  paper/sections/conclusion.tex
  paper/sections/decision_engine.tex
  paper/sections/introduction.tex
  paper/sections/plugins.tex
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_test.go
  src/semantic-router/pkg/classification/mapping.go
  website/static/white-paper.pdf
Due: go-fmt, md-fmt, yaml-and-yml-fmt, cargo-fmt, cargo-check

chore: allow large gRPC max message size (#1410)
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/extproc/server.go
  src/semantic-router/pkg/looper/base.go
  src/semantic-router/pkg/looper/client.go
  src/semantic-router/pkg/looper/looper.go
  src/semantic-router/pkg/looper/rl_driven.go
Due: go-fmt

build: update amd install steps (#1460)
  deploy/amd/README.md
  deploy/amd/claw-minimal.yaml
  deploy/amd/claw.yaml
  deploy/amd/config.yaml
Due: md-fmt, yaml-and-yml-fmt

project: add copilot instructions for harness engineering (#1464)
  .github/copilot-instructions.md
  .github/workflows/ci-changes.yml
  .gitignore
  docs/agent/README.md
  tools/agent/repo-manifest.yaml
  tools/agent/skill-registry.yaml
  tools/agent/task-matrix.yaml
Due: md-fmt, yaml-and-yml-fmt

[Router][Bugfix] Refresh apiserver classification service after deploy reload (#1472)
  docs/agent/tech-debt/README.md
  docs/agent/tech-debt/td-011-apiserver-runtime-state-split.md
  e2e/pkg/testmatrix/testcases.go
  e2e/testcases/apiserver_runtime_config_endpoints.go
  src/semantic-router/pkg/apiserver/config.go
  src/semantic-router/pkg/apiserver/json_compat.go
  src/semantic-router/pkg/apiserver/json_response_test.go
  src/semantic-router/pkg/apiserver/route_model_info.go
  src/semantic-router/pkg/apiserver/route_models.go
  src/semantic-router/pkg/apiserver/route_system_prompt.go
  src/semantic-router/pkg/apiserver/runtime_config.go
  src/semantic-router/pkg/apiserver/runtime_service.go
  src/semantic-router/pkg/apiserver/runtime_state_test.go
  src/semantic-router/pkg/apiserver/server.go
  tools/agent/repo-manifest.yaml
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Feat]: Enable readonly OpenClaw room chat (#1475)
  dashboard/backend/handlers/openclaw_lifecycle.go
  dashboard/backend/handlers/openclaw_permissions.go
  dashboard/backend/handlers/openclaw_provision.go
  dashboard/backend/handlers/openclaw_room_readonly_test.go
  dashboard/backend/handlers/openclaw_rooms.go
  dashboard/backend/handlers/openclaw_teams.go
  dashboard/backend/handlers/openclaw_test.go
  dashboard/backend/handlers/openclaw_websocket.go
  dashboard/backend/handlers/openclaw_workers.go
  dashboard/frontend/e2e/layout-nav.spec.ts
  dashboard/frontend/e2e/openclaw-readonly.spec.ts
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ChatComponentRoomToggle.tsx
  dashboard/frontend/src/components/ChatComponentTopBar.tsx
  dashboard/frontend/src/components/ClawRoomChat.tsx
  dashboard/frontend/src/components/Layout.module.css
  dashboard/frontend/src/components/Layout.tsx
  dashboard/frontend/src/components/LayoutNavSupport.ts
  dashboard/frontend/src/pages/OpenClawPage.tsx
  dashboard/frontend/src/pages/OpenClawPageSupport.ts
  docs/agent/tech-debt/td-006-structural-rule-target-vs-legacy-hotspots.md
  e2e/testing/vllm-sr-cli/test_unit_serve.py
  src/vllm-sr/tests/test_runtime_support.py
  tools/agent/structure-rules.yaml
  tools/linter/go/.golangci.agent.yml
Due: go-fmt, md-fmt, yaml-and-yml-fmt
