Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

fix(dashboard): harden feedback request boundaries
  dashboard/backend/router/playground_feedback.go
  dashboard/backend/router/playground_feedback_test.go
  dashboard/frontend/src/components/ChatComponentMessages.tsx
  dashboard/frontend/src/components/chatResponseParsing.test.ts
  dashboard/frontend/src/components/chatResponseParsing.ts
Due: go-fmt

test(e2e): require provider tool selection effects
  e2e/profiles/ai-gateway/values.yaml
  e2e/testcases/tool_selection_e2e.go
Due: go-fmt, yaml-and-yml-fmt

[Feature] Require parent tools plugin for trusted-facts gate
  src/semantic-router/pkg/config/tools_plugin.go
  src/semantic-router/pkg/config/trusted_facts_test.go
  src/semantic-router/pkg/extproc/req_filter_tools_trusted_test.go
Due: go-fmt

config: gate the raw version before normalization, reject malformed spellings, and align the CLI
  .github/workflows/integration-test-k8s.yml
  src/semantic-router/pkg/config/canonical_version.go
  src/semantic-router/pkg/config/canonical_version_conformance_test.go
  src/semantic-router/pkg/config/canonical_version_test.go
  src/semantic-router/pkg/config/loader.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  src/semantic-router/pkg/configschema/schema.go
  src/semantic-router/pkg/configschema/view_test.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/fixtures/router_config_version_gate_conformance.v1.json
  src/vllm-sr/tests/test_router_config_version_gate_conformance.py
  website/docs/installation/configuration.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

test(sticky): strengthen session E2E assertions
  e2e/testcases/sticky_tool_selection.go
Due: go-fmt

[Bug] Refuse a written threshold: 0 alongside a complexity boundary pair
  deploy/operator/controllers/canonical_config_spec_test.go
  src/semantic-router/pkg/config/complexity_boundaries.go
  src/semantic-router/pkg/config/complexity_boundaries_test.go
  src/semantic-router/pkg/config/signal_config.go
  src/semantic-router/pkg/dsl/compiler_signals.go
  src/semantic-router/pkg/dsl/complexity_boundaries_roundtrip_test.go
  src/semantic-router/pkg/dsl/decompiler_signals_rules.go
  website/docs/tutorials/signal/learned/complexity.md
Due: go-fmt, md-fmt

fix(classification): parse final JSON after reasoning blocks
  e2e/profiles/ai-gateway/manifests/mock-sequence-classifier.yaml
  e2e/testcases/llm_classifier_distribution_routing.go
  src/semantic-router/pkg/classification/generic_classifier.go
  src/semantic-router/pkg/classification/generic_classifier_llm_test.go
Due: go-fmt, yaml-and-yml-fmt

[Test] Declare text-only capabilities in response API fixture
  e2e/profiles/response-api/profile_test.go
  e2e/profiles/response-api/values.yaml
Due: go-fmt, yaml-and-yml-fmt

feat(sticky): complete bounded tool selection runtime
  e2e/pkg/testmatrix/testcases.go
  e2e/profiles/ai-gateway/profile.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/profiles/anthropic-shim/values.yaml
  e2e/testcases/sticky_tool_selection.go
  e2e/testcases/sticky_tool_selection_provider_prefix.go
  e2e/testcases/sticky_tool_selection_recovery.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_body_routing_test.go
  src/semantic-router/pkg/extproc/req_filter_tools.go
  src/semantic-router/pkg/extproc/req_tool_selection_plugin.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/sticky_tool_selection_runtime.go
  src/semantic-router/pkg/extproc/sticky_tool_selection_runtime_test.go
  src/semantic-router/pkg/extproc/sticky_tool_selection_store.go
  src/semantic-router/pkg/extproc/tools_plugin_test.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_config_file_loaders.py
  src/vllm-sr/tests/test_plugin_tool_selection.py
  tools/agent/docs/architecture/state-taxonomy-and-inventory.md
  tools/agent/docs/plans/pl-0042-sticky-tool-selection.md
  tools/agent/docs/sticky-tool-selection-guide.md
  website/docs/tutorials/plugin/tool-selection.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(sticky): satisfy Python config lint
  src/vllm-sr/cli/models.py
Due: none

Validate global config before Kubernetes startup
  src/semantic-router/cmd/runtime_config_validation_test.go
  src/semantic-router/pkg/config/classifier_backend_complexity.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_dispatch.go
  src/semantic-router/pkg/config/validator_dispatch_test.go
  src/semantic-router/pkg/config/validator_test.go
  src/semantic-router/pkg/k8s/reconciler.go
  src/semantic-router/pkg/k8s/reconciler_embedding_modality_test.go
  website/docs/installation/configuration-contract.md
Due: go-fmt, md-fmt

Validate deployment definitions before compiling routing bindings
  src/semantic-router/cmd/runtime_bootstrap_test.go
  src/semantic-router/cmd/runtime_config_validation_test.go
  src/semantic-router/pkg/config/classifier_backend_complexity.go
  src/semantic-router/pkg/config/model_deployments.go
  src/semantic-router/pkg/config/validator_dispatch.go
  src/semantic-router/pkg/config/validator_dispatch_test.go
  src/semantic-router/pkg/k8s/reconciler_embedding_modality_test.go
  website/docs/installation/configuration-contract.md
Due: go-fmt, md-fmt

[Router] Keep raw PII out of observability
  src/semantic-router/pkg/classification/classifier_pii_ops.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/extproc/req_filter_masking.go
  src/semantic-router/pkg/masking/walk.go
  src/semantic-router/pkg/observability/metrics/masking_metrics.go
Due: go-fmt

fix(protocolcodec): accept xAI, Groq fields
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_provider_extensions_test.go
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_response.go
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_response_wire.go
  src/semantic-router/pkg/protocolcodec/official_schema_inventory_test.go
  src/semantic-router/pkg/protocolcodec/provider_simulator_contract_test.go
  src/semantic-router/pkg/protocolcodec/stream_chat.go
  src/semantic-router/pkg/protocolcodec/testdata/contracts/chat-nested-fields.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/016-chat-official-response-fields-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/016-chat-official-response-fields-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/016-chat-official-response-fields-in.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/016-chat-official-response-fields-responses-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/039-chat-nested-stream-fields-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/039-chat-nested-stream-fields-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/039-chat-nested-stream-fields-in.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/039-chat-nested-stream-fields-responses-out.json
  tools/mock-vllm/schema_contract.json
Due: go-fmt

fix(protocolcodec): accept Groq tier, breakdown
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_provider_extensions_test.go
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_response.go
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_response_wire.go
  src/semantic-router/pkg/protocolcodec/official_schema_inventory_test.go
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/016-chat-official-response-fields-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/016-chat-official-response-fields-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/016-chat-official-response-fields-in.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/016-chat-official-response-fields-responses-out.json
  tools/mock-vllm/schema_contract.json
Due: go-fmt

test(sticky): split provider prefix assertions
  e2e/testcases/sticky_tool_selection_provider_prefix.go
Due: go-fmt

[Router] Register masking across config surfaces
  dashboard/frontend/src/pages/topology/constants.ts
  dashboard/frontend/src/types/config.ts
  deploy/helm/semantic-router/crds/vllm.ai_intelligentroutes.yaml
  deploy/kubernetes/crds/vllm.ai_intelligentroutes.yaml
  src/semantic-router/pkg/apis/vllm.ai/v1alpha1/types_route.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  src/semantic-router/pkg/dsl/compiler_plugin_configs.go
  src/semantic-router/pkg/dsl/decompiler_plugin_emit.go
  src/semantic-router/pkg/dsl/decompiler_plugin_fields.go
Due: go-fmt, yaml-and-yml-fmt

[Router] Document and E2E the masking plugin
  deploy/kubernetes/masking/gwapi-resources.yaml
  e2e/profiles/all/imports.go
  e2e/profiles/masking/profile.go
  e2e/profiles/masking/values.yaml
  e2e/testcases/masking_cross_protocol.go
  website/docs/tutorials/plugin/masking.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Fix long_context_routing priority overlapping safety guardrails.
  e2e/profiles/ai-gateway/values.yaml
  e2e/testcases/testdata/context_routing_cases.json
Due: yaml-and-yml-fmt

Relax the jailbreak-overlap case to a long_context negative case
  e2e/testcases/testdata/context_routing_cases.json
Due: none

Add E2E coverage for the `context` signal.
  .github/workflows/integration-test-k8s.yml
  e2e/pkg/testmatrix/testcases.go
  e2e/profiles/ai-gateway/values.yaml
  e2e/testcases/context_routing.go
  e2e/testcases/signal_routing_contract_test.go
  e2e/testcases/testdata/context_routing_cases.json
Due: go-fmt, yaml-and-yml-fmt

Fix context-routing test: avoid degenerate repeated filler, fix matched-signal expectation
  e2e/testcases/testdata/context_routing_cases.json
Due: none

TEMP: drop context-routing from CI test list to isolate jailbreak-detection regression
  .github/workflows/integration-test-k8s.yml
Due: yaml-and-yml-fmt

Revert "TEMP: drop context-routing from CI test list to isolate jailbreak-detection regression"
  .github/workflows/integration-test-k8s.yml
Due: yaml-and-yml-fmt

Reduce the far-past-threshold case from ~2400 to ~1200 tokens
  e2e/testcases/testdata/context_routing_cases.json
Due: none

Fix context signal's YAML key: context_rules -> context
  e2e/profiles/ai-gateway/values.yaml
Due: yaml-and-yml-fmt

Use neutral filler content and reorder the jailbreak-overlap case
  e2e/testcases/testdata/context_routing_cases.json
Due: none

fix: let the config write API patch the ConfigMap directly on Kubernetes
  dashboard/backend/go.mod
  dashboard/backend/go.sum
  dashboard/backend/handlers/runtime_config_apply.go
  dashboard/backend/handlers/runtime_config_apply_atomic_write_test.go
  deploy/helm/semantic-router/templates/_helpers.tpl
  deploy/helm/semantic-router/templates/configmap-rbac.yaml
  deploy/helm/semantic-router/templates/configmap.yaml
  deploy/helm/semantic-router/templates/dashboard-deployment.yaml
  deploy/helm/semantic-router/templates/dashboard-serviceaccount.yaml
  deploy/helm/semantic-router/templates/deployment.yaml
  deploy/kserve/deploy.sh
  deploy/kserve/deployment.yaml
  deploy/kserve/kustomization.yaml
  deploy/kserve/rbac.yaml
  deploy/kubernetes/istio/deployment.yaml
  deploy/kubernetes/istio/kustomization.yaml
  deploy/kubernetes/istio/rbac.yaml
  deploy/kubernetes/istio/serviceaccount.yaml
  deploy/kubernetes/observability/dashboard/deployment.yaml
  deploy/kubernetes/observability/dashboard/rbac.yaml
  deploy/kubernetes/observability/dashboard/serviceaccount.yaml
  deploy/kubernetes/observability/kustomization.yaml
  deploy/openshift/dashboard/dashboard-deployment.yaml
  deploy/openshift/deploy-to-openshift.sh
  deploy/openshift/deployment-simulator.yaml
  deploy/openshift/deployment.yaml
  deploy/openshift/kustomization.yaml
  deploy/openshift/rbac.yaml
  deploy/openshift/serviceaccount.yaml
  deploy/openshift/template.yaml
  src/semantic-router/pkg/apiserver/route_router_config_atomic_write_test.go
  src/semantic-router/pkg/apiserver/route_router_config_update.go
  src/semantic-router/pkg/k8s/configmap_writer.go
  src/semantic-router/pkg/k8s/configmap_writer_test.go
Due: go-fmt, yaml-and-yml-fmt

fix: preserve custom classifier model input policies
  src/semantic-router/pkg/classification/classifier_jailbreak_window_default.go
  src/semantic-router/pkg/classification/classifier_jailbreak_window_default_test.go
  src/semantic-router/pkg/classification/classifier_model_runtime.go
  src/semantic-router/pkg/classification/classifier_pii_window_default.go
  src/semantic-router/pkg/classification/classifier_pii_window_test.go
  src/vllm-sr/tests/test_vela_runtime_model_policy.py
Due: go-fmt

fix: require explicit catalog binding for reasoning validation
  src/vllm-sr/cli/validator_reasoning.py
  src/vllm-sr/tests/test_reasoning_controls.py
Due: none

[CI/Build] Port robust inactive-assignee sweep
  .github/scripts/__tests__/unassign-inactive.test.js
  .github/scripts/__tests__/unassign.test.js
  .github/scripts/package-lock.json
  .github/scripts/package.json
  .github/scripts/unassign-inactive.js
  .github/scripts/unassign.js
  .github/workflows/maintenance.yml
  .github/workflows/unassign-inactive-assignees.yml
  .pre-commit-config.yaml
  tools/agent/docs/maintainer-ops.md
Due: md-fmt, yaml-and-yml-fmt, js-lint

[CI/Build] Remove prohibited owner notification workflow
  .github/workflows/owner-notification.yml
Due: yaml-and-yml-fmt

fix: report base selection failures before deferring preview
  src/semantic-router/pkg/extproc/eval_model_selection.go
  src/semantic-router/pkg/extproc/eval_model_selection_test.go
Due: go-fmt

fix: report prepared model bindings from the active generation
  dashboard/frontend/src/components/RouterModelInventory.tsx
  dashboard/frontend/src/components/routerModelInventorySupport.test.ts
  dashboard/frontend/src/components/routerModelInventorySupport.ts
  dashboard/frontend/src/utils/routerRuntime.ts
  src/semantic-router/pkg/apiserver/route_model_info.go
  src/semantic-router/pkg/apiserver/route_model_info_prepared.go
  src/semantic-router/pkg/apiserver/route_model_info_prepared_test.go
  src/semantic-router/pkg/apiserver/route_model_info_runtime.go
  src/semantic-router/pkg/classification/classifier_inventory.go
  src/semantic-router/pkg/classification/remote_task_binding.go
  src/semantic-router/pkg/modelinventory/types.go
  src/semantic-router/pkg/modelruntime/binding/inventory.go
  src/semantic-router/pkg/modelruntime/binding/inventory_test.go
  src/semantic-router/pkg/modelruntime/binding/resource.go
  src/semantic-router/pkg/modelruntime/binding/task.go
  src/semantic-router/pkg/modelruntime/native/inventory_test.go
  src/semantic-router/pkg/modelruntime/native/runtime.go
  src/semantic-router/pkg/services/classification_inventory.go
  website/docs/api/apiserver.md
Due: go-fmt, md-fmt
