Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

research: diagnose Qwen3.5 4B and 9B ROCm interruptions
  src/training/decision2/research/qwen35-4b-9b-rocm-interruption-triage-2026-09-27.md
Due: md-fmt

Clarify DRM render device in experiment note
  src/training/decision2/research/nox4b-cleanv2-lineage-prereg-2026-09-27.md
Due: md-fmt

fix(ci): include router module in Go cache key
  .github/actions/setup-go-ci/action.yml
Due: yaml-and-yml-fmt

research: record Eos own-source replay development HOLD
  src/training/decision2/research/eos08-own-source-replay-final-hold-2026-09-27.md
Due: md-fmt

research: attest 4B exact resume through checkpoint 128
  src/training/decision2/research/qwen35-4b-official-exact-resume-stability-2026-09-27.md
Due: md-fmt

research(decision2): record 9B ROCm probe failure
  src/training/decision2/research/qwen35-9b-rocm-synthetic-probe-result-2026-09-27.md
Due: md-fmt

research(decision2): preregister 9B host-swap ROCm probe
  src/training/decision2/research/qwen35-9b-rocm-host-swap-probe-prereg-2026-09-27.md
Due: md-fmt

research: preregister diverse Score quality pilot
  src/training/decision2/research/score-v8p4-multisource-pilot-prereg-2026-09-27.md
Due: md-fmt

research: compare official large model source options
  src/training/decision2/research/large-size-official-source-comparison-2026-09-27.md
Due: md-fmt

research: pin official Gemma large source revision
  src/training/decision2/research/large-size-official-source-comparison-2026-09-27.md
Due: md-fmt

research: record official Gemma config preflight
  src/training/decision2/research/large-size-official-source-comparison-2026-09-27.md
Due: md-fmt

publication: stage direct full Qwen3 0.6B product package
  src/training/decision2/publication/brand/DEV2.0-0.6B-owl-banner.png
  src/training/decision2/publication/full_bundle.py
  src/training/decision2/publication/full_product.py
  src/training/decision2/publication/full_runtime_api.py
  src/training/decision2/publication/tests/test_full_publication.py
Due: none

publication: disclose public validity denominators
  src/training/decision2/publication/full_product.py
Due: none

publication: accept pinned Hub metadata in full package verifier
  src/training/decision2/publication/full_runtime_api.py
  src/training/decision2/publication/tests/test_full_publication.py
Due: none

publication: describe Noul output as probability estimate
  src/training/decision2/publication/full_product.py
Due: none

publication: label original item count in product score table
  src/training/decision2/publication/full_product.py
Due: none

publication: label post-key v3 and public JevBench v1.2 in first card
  src/training/decision2/jev_arena/render.py
  src/training/decision2/publication/full_product.py
  src/training/decision2/publication/product_card.py
  src/training/decision2/publication/render_arena_v3.py
Due: none

publication: show three-decimal v3 near-tie ranks
  src/training/decision2/publication/render_arena_v3.py
Due: none

publication: disclose transfer task-family overlap
  src/training/decision2/publication/full_product.py
Due: none

publication: verify full 0.6B package against sealed native answers
  src/training/decision2/scripts/verify_full_product_parity.py
Due: none

research: record exact Qwen 0.6B package readback parity
  src/training/decision2/research/qwen3-06b-full-package-readback-2026-09-27.md
Due: md-fmt

research(decision2): record 9B host-swap setup abort
  src/training/decision2/research/qwen35-9b-rocm-host-swap-setup-2026-09-27.md
Due: md-fmt

research: record matched official 2B development hold
  src/training/decision2/research/qwen35-2b-official-dual-source-full-result-2026-09-27.md
Due: md-fmt

research(decision2): amend 9B host-swap probe setup
  src/training/decision2/research/qwen35-9b-rocm-host-swap-amendment-2026-09-27.md
Due: md-fmt

research(decision2): record cross-node 9B ROCm probe failure
  src/training/decision2/research/qwen35-9b-rocm-host-swap-result-2026-09-27.md
Due: md-fmt

research: record post-verification model visibility
  src/training/decision2/research/qwen3-06b-full-package-readback-2026-09-27.md
Due: md-fmt

research: record first Decision 2.0 public release
  src/training/decision2/research/eos08-own-source-replay-final-hold-2026-09-27.md
  src/training/decision2/research/qwen3-06b-full-package-readback-2026-09-27.md
Due: md-fmt

docs: clarify ROCm probe terminology
  src/training/decision2/research/qwen35-9b-rocm-synthetic-probe-result-2026-09-27.md
Due: md-fmt

[Bug] Read recipe Preview image receipts from the planned matrix
  tools/ci/runtime_evidence.py
  tools/ci/tests/test_recipe_conformance_workflow.py
  tools/ci/tests/test_runtime_evidence.py
Due: none

docs: preregister bounded 9B ROCm backward isolation
  src/training/decision2/research/qwen35-9b-rocm-rootcause-next-prereg-2026-09-27.md
  src/training/decision2/training/model/rocm_9b_no_checkpoint_probe.py
Due: md-fmt

docs: record 9B ROCm no-checkpoint failure
  src/training/decision2/research/qwen35-9b-rocm-no-checkpoint-result-2026-09-27.md
Due: md-fmt

training: preregister official Gemma 4 zero-step feasibility
  src/training/decision2/research/gemma4-native-preflight-2026-09-27.md
  src/training/decision2/scripts/preflight_gemma4_native.py
  src/training/decision2/scripts/tests/test_preflight_gemma4_native.py
Due: md-fmt

training: verify repeated Gemma zero-step outputs
  src/training/decision2/scripts/preflight_gemma4_native.py
  src/training/decision2/scripts/tests/test_preflight_gemma4_native.py
Due: none

training: reconcile Gemma tied head and stored buffers
  src/training/decision2/research/gemma4-native-preflight-2026-09-27.md
  src/training/decision2/scripts/preflight_gemma4_native.py
  src/training/decision2/scripts/tests/test_preflight_gemma4_native.py
Due: md-fmt

training: record Gemma zero-step setup failure and bounded retry
  src/training/decision2/research/gemma4-native-preflight-2026-09-27.md
Due: md-fmt

training: accept structured gold-free states in Score v8.4 audit
  src/training/decision2/training/data/score_v84_audit.py
Due: none

docs: record Score v8.4 pilot and blind-review handoff
  src/training/decision2/research/score-v8p4-pilot-quality-handoff-2026-09-27.md
Due: md-fmt

training: add prospective Score v8.4 quality pilot and gold-free audit
  src/training/decision2/training/data/score_v84_audit.py
  src/training/decision2/training/data/score_v84_pilot.py
  src/training/decision2/training/data/tests/test_score_v84_pilot.py
Due: none

docs: prepare Decision 2.0 4B owl banner
  src/training/decision2/publication/brand/DEV2.0-4B-owl-banner.png
Due: none

training: document official Gemma zero-step feasibility
  src/training/decision2/research/gemma4-native-preflight-2026-09-27.md
Due: md-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
