Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

refactor(decision): partition model profiles from hardware capabilities
  src/vllm-sr/decision_runtime/image/README.md
  src/vllm-sr/decision_runtime/profiles/README.md
  src/vllm-sr/decision_runtime/profiles/__init__.py
  src/vllm-sr/decision_runtime/profiles/qwen35/Decision-1.0-Eos-0.8B.json
  src/vllm-sr/decision_runtime/profiles/qwen35/Decision-1.0-Lux-9B.json
  src/vllm-sr/decision_runtime/profiles/qwen35/Decision-1.0-Nox-4B.json
  src/vllm-sr/decision_runtime/profiles/qwen35/Decision-1.0-Sol-2B.json
  src/vllm-sr/decision_runtime/profiles/vela/Decision-1.0-Kai-0.6B.json
  src/vllm-sr/decision_runtime/profiles/vela/Decision-1.0-Lex-0.6B.json
  src/vllm-sr/decision_runtime/runtime_profile.py
  src/vllm-sr/pyproject.toml
  src/vllm-sr/tests/test_decision_runtime_profiles.py
Due: md-fmt

docs(decision): add progressive runtime deployment guide
  website/docs/installation/decision-runtime/api.md
  website/docs/installation/decision-runtime/architecture.md
  website/docs/installation/decision-runtime/models.md
  website/docs/installation/decision-runtime/optimization.md
  website/docs/installation/decision-runtime/overview.md
  website/docs/installation/decision-runtime/parameters.md
  website/sidebars.ts
Due: md-fmt

feat(decision): extend guarded ROCm graph opt-in to Nox and Lux
  src/vllm-sr/cli/commands/drun.py
  src/vllm-sr/cli/decision_runtime/catalog_adapter.py
  src/vllm-sr/cli/decision_runtime/lifecycle.py
  src/vllm-sr/decision_runtime/metrics.py
  src/vllm-sr/decision_runtime/qwen35_torch.py
  src/vllm-sr/decision_runtime/runtime_factory.py
  src/vllm-sr/tests/test_decision_drun.py
  src/vllm-sr/tests/test_decision_drun_catalog_adapter.py
  src/vllm-sr/tests/test_decision_qwen35_torch_contract.py
  src/vllm-sr/tests/test_decision_runtime_server.py
  website/docs/api/cli.md
Due: md-fmt

refactor(decision): name historical preview comparison explicitly
  bench/decision_runtime/README.md
  bench/decision_runtime/historical_preview_projection.py
  bench/decision_runtime/semantic_arrival_parity.py
  bench/decision_runtime/semantic_audit.py
  bench/decision_runtime/semantic_runner.py
  bench/decision_runtime/semantic_transport.py
  bench/decision_runtime/test_semantic.py
  bench/decision_runtime/transport.py
Due: md-fmt

test(decision): keep fake backend out of runtime package
  src/vllm-sr/tests/decision_fake_backend.py
  src/vllm-sr/tests/test_decision_request_limits.py
  src/vllm-sr/tests/test_decision_runtime_api.py
  src/vllm-sr/tests/test_decision_runtime_engine.py
Due: none

docs(decision): condense performance gate runbook
  tools/ci/decision-perf-release-gate.md
Due: md-fmt

docs(decision): lead serving guide with quick launch
  website/docs/installation/decision-runtime/architecture.md
  website/docs/installation/decision-runtime/overview.md
Due: md-fmt

fix(decision): resolve Qwen shards from selected manifest
  src/vllm-sr/decision_runtime/artifacts.py
  src/vllm-sr/decision_runtime/image/README.md
  src/vllm-sr/decision_runtime/profiles/README.md
  src/vllm-sr/decision_runtime/profiles/qwen35/Decision-1.0-Eos-0.8B.json
  src/vllm-sr/decision_runtime/profiles/qwen35/Decision-1.0-Lux-9B.json
  src/vllm-sr/decision_runtime/profiles/qwen35/Decision-1.0-Nox-4B.json
  src/vllm-sr/decision_runtime/profiles/qwen35/Decision-1.0-Sol-2B.json
  src/vllm-sr/decision_runtime/profiles/vela/Decision-1.0-Kai-0.6B.json
  src/vllm-sr/decision_runtime/profiles/vela/Decision-1.0-Lex-0.6B.json
  src/vllm-sr/decision_runtime/qwen35_torch.py
  src/vllm-sr/decision_runtime/release_artifacts.py
  src/vllm-sr/decision_runtime/runtime_factory.py
  src/vllm-sr/decision_runtime/runtime_profile.py
  src/vllm-sr/tests/test_decision_release_artifacts.py
  src/vllm-sr/tests/test_decision_runtime_artifacts.py
  src/vllm-sr/tests/test_decision_runtime_profiles.py
  src/vllm-sr/tests/test_decision_runtime_server.py
  website/docs/installation/decision-runtime/models.md
Due: md-fmt

docs(decision): use historical model placeholder in benchmark guide
  bench/decision_runtime/README.md
Due: md-fmt

test(decision): include selected calibration in loader fixture
  src/vllm-sr/tests/test_decision_runtime_server.py
Due: none

docs(decision): explain model co-design and capacity tuning
  website/docs/installation/decision-runtime/architecture.md
  website/docs/installation/decision-runtime/optimization.md
Due: md-fmt

fix(decision): require qualified image for main CLI publication
  .github/workflows/main.yml
  tools/ci/ci_plan.py
  tools/ci/tests/test_decision_release_workflow.py
  tools/ci/tests/test_pr_change_classifier.py
Due: yaml-and-yml-fmt

fix(decision): reject malformed runtime profile values
  src/vllm-sr/decision_runtime/runtime_profile.py
  src/vllm-sr/tests/test_decision_runtime_profiles.py
Due: none

fix(decision): recheck qualification at package upload
  .github/workflows/pypi-publish.yml
  tools/ci/tests/test_decision_release_workflow.py
  tools/ci/tests/test_pr_change_classifier.py
Due: yaml-and-yml-fmt

docs(decision): make runtime guide task-oriented and clarify API use
  website/docs/api/decision-runtime.md
  website/docs/installation/decision-runtime/api.md
  website/docs/installation/decision-runtime/architecture.md
  website/docs/installation/decision-runtime/models.md
  website/docs/installation/decision-runtime/optimization.md
  website/docs/installation/decision-runtime/overview.md
  website/docs/installation/decision-runtime/parameters.md
  website/static/img/decision-runtime-flow.svg
Due: md-fmt

[CI/Build] Build a CUDA-capable Candle binding in the CUDA image (#4040)
  src/vllm-sr/Dockerfile.cuda
  tools/make/docker.mk
  website/docs/installation/nvidia-cuda.md
Due: md-fmt

fix: pin release images and disable optional dashboard services by default
  dashboard/README.md
  dashboard/backend/config/config.go
  deploy/kubernetes/observability/dashboard/deployment.yaml
  deploy/openshift/dashboard/dashboard-deployment.yaml
  src/vllm-sr/cli/consts.py
  src/vllm-sr/cli/container_start.py
  src/vllm-sr/tests/test_container_images.py
  src/vllm-sr/tests/test_openclaw_podman_socket.py
  src/vllm-sr/tests/test_openclaw_shared_network.py
  src/vllm-sr/tests/test_runtime_dashboard_bootstrap.py
  src/vllm-sr/tests/test_runtime_stack_naming.py
  website/docs/installation/docker.md
  website/docs/installation/nvidia-cuda.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Docs] Name the three routing layers around Semantic Router (#4090)
  website/docs/installation/k8s/gateway-testing.md
  website/docs/installation/k8s/gateways.md
  website/docs/installation/k8s/llm-d.md
  website/docs/installation/k8s/production-stack.md
  website/docs/overview/semantic-router-overview.md
  website/src/pages/index.module.css
  website/src/pages/index.tsx
Due: md-fmt

test: close release regressions found on AMD validation
  dashboard/backend/auth/handlers.go
  dashboard/backend/auth/policy_mux.go
  dashboard/backend/handlers/model_catalog_container_contract_test.go
  dashboard/backend/router/route_registration.go
  dashboard/backend/router/sr_bench_routes.go
  dashboard/frontend/src/pages/ConfigPageRouterConfigSection.tsx
  deploy/helm/semantic-router/README.md
  deploy/helm/semantic-router/values.yaml
  deploy/helm/validate-chart.sh
  src/semantic-router/pkg/apiserver/route_kbs.go
  src/semantic-router/pkg/apiserver/route_kbs_configmap_test.go
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/015-anthropic-official-request-fields-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/015-anthropic-official-request-fields-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/015-anthropic-official-request-fields-in.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/015-anthropic-official-request-fields-responses-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/018-anthropic-official-response-fields-anthropic-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/018-anthropic-official-response-fields-chat-out.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/018-anthropic-official-response-fields-in.json
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/018-anthropic-official-response-fields-responses-out.json
  src/semantic-router/pkg/sessiontelemetry/router_memory_redis_integration_test.go
  tools/test/services/provider-mocker/provider_mocker/schema_contract.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

test: align release contracts with persisted config and policy routes
  dashboard/backend/router/management_gateway_test.go
  dashboard/backend/router/proxy_routes_test.go
  dashboard/backend/router/route_registration.go
  src/semantic-router/pkg/apiserver/config_readonly_test.go
  src/semantic-router/pkg/apiserver/route_router_config_atomic_write_test.go
  src/semantic-router/pkg/protocolcodec/testdata/golden/capability/018-anthropic-official-response-fields-in.json
Due: go-fmt

test: trace release fallback regression on AMD
  src/semantic-router/pkg/extproc/fallback_dispatch_test.go
Due: go-fmt

test: trace fallback candidate failure on AMD
  src/semantic-router/pkg/extproc/fallback_dispatch.go
Due: go-fmt

fix: preserve absent context management during fallback replay
  src/semantic-router/pkg/extproc/fallback_dispatch.go
  src/semantic-router/pkg/extproc/fallback_dispatch_test.go
  src/semantic-router/pkg/extproc/semantic_clone.go
  src/semantic-router/pkg/extproc/semantic_clone_test.go
Due: go-fmt

fix: allow private dashboard publication in local serve
  src/vllm-sr/cli/container_start.py
  src/vllm-sr/tests/test_runtime_dashboard_bootstrap.py
  tools/agent/skills/vllm-sr-agent-operations/references/deployment-loop.md
  website/static/install/agent/vllm-sr/references/deployment-loop.md
Due: md-fmt

fix: preserve dashboard backups across stale ConfigMap writes
  dashboard/backend/handlers/config_backups.go
  dashboard/backend/handlers/config_backups_collision_test.go
  dashboard/backend/handlers/config_backups_k8s_guard_test.go
  dashboard/backend/handlers/deploy.go
  dashboard/backend/handlers/runtime_config_apply.go
  dashboard/backend/handlers/setup.go
Due: go-fmt

test: expect explicit dashboard wildcard binding
  src/vllm-sr/tests/test_runtime_stack_naming.py
Due: none

fix: target the published Vela probe model
  config/recipes/vela-amd/probes.yaml
Due: yaml-and-yml-fmt

[Feature] Publish a validated dataset and its judgments by digest
  .pre-commit-config.yaml
  tools/agent/domains.yaml
  tools/calibration/shadow-dataset/main.go
  tools/calibration/shadow-dataset/main_test.go
  tools/make/go-tools.mk
  website/docs/tutorials/plugin/shadow-dispatch.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/plugin/shadow-dispatch.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix: keep local observability ports private by default
  src/vllm-sr/cli/container_support_services.py
  src/vllm-sr/tests/test_container_support_services.py
  tools/agent/skills/vllm-sr-agent-operations/references/deployment-loop.md
  website/static/install/agent/vllm-sr/references/deployment-loop.md
Due: md-fmt

fix: reject unverified built-in model claims before serve
  src/vllm-sr/cli/validator_models.py
  src/vllm-sr/tests/test_recipe_validation.py
Due: none

fix: read fresh Dashboard projection timestamps
  dashboard/backend/configprojection/store.go
  dashboard/backend/configprojection/store_test.go
Due: go-fmt

fix(apiserver): guard the classification service resolution against typed nils
  src/semantic-router/pkg/apiserver/runtime_service.go
  src/semantic-router/pkg/apiserver/runtime_service_nil_test.go
Due: go-fmt

fix: reject typed-nil startup fallbacks and release abandoned leases
  src/semantic-router/pkg/apiserver/runtime_service.go
  src/semantic-router/pkg/apiserver/runtime_service_nil_test.go
Due: go-fmt

fix(make): silence unset CUDA_COMPUTE_CAP warning
  tools/make/docker.mk
Due: none

fix: persist stack-scoped AMD compiler cache across serve
  src/vllm-sr/cli/container_gpu_isolation.py
  src/vllm-sr/cli/container_start.py
  src/vllm-sr/tests/test_container_gpu_isolation.py
  website/docs/installation/amd-rocm.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/amd-rocm.md
Due: md-fmt

style: wrap AMD compiler cache test fixtures
  src/vllm-sr/tests/test_container_gpu_isolation.py
Due: none

ci: build provider fixture when PR publication is missing
  tools/ci/ci_plan.py
  tools/ci/tests/test_provider_mocker_image.py
Due: none

feat(decision): bind ROCm release image and simplify user guidance
  .github/workflows/pypi-publish.yml
  .github/workflows/release.yml
  bench/README.md
  src/vllm-sr/README.md
  src/vllm-sr/cli/commands/decision.py
  src/vllm-sr/tests/test_decision_serve.py
  src/vllm-sr/tests/test_sr_bench_dataset_fingerprints.py
  tools/agent/domains.yaml
  tools/ci/check_cli_wheel.py
  tools/ci/classify_pr_changes.py
  tools/ci/package_contract.py
  tools/ci/tests/test_python_package_publication.py
  tools/make/docker.mk
  website/docs/api/cli.md
Due: md-fmt, yaml-and-yml-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
