Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

fix(sessiontools): make CAS revision incarnation-safe
  src/semantic-router/pkg/sessiontools/state.go
  src/semantic-router/pkg/sessiontools/store.go
  src/semantic-router/pkg/sessiontools/store_memory.go
  src/semantic-router/pkg/sessiontools/store_memory_test.go
Due: go-fmt

fix(config): reject sticky tool selection until runtime integration
  src/semantic-router/pkg/config/tool_selection_plugin_validation.go
  src/semantic-router/pkg/config/tool_selection_plugin_validation_test.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_build_test.go
Due: go-fmt

test(sessiontools): close update-path coverage gap in revision fix
  src/semantic-router/pkg/sessiontools/store_memory.go
  src/semantic-router/pkg/sessiontools/store_memory_test.go
Due: go-fmt

fix(tools): preserve exact JSON numbers when canonicalizing tool schemas
  src/semantic-router/pkg/tools/fingerprint.go
  src/semantic-router/pkg/tools/fingerprint_test.go
Due: go-fmt

fix(dashboard): tidy backend go.sum and satisfy fingerprint test staticcheck
  src/semantic-router/pkg/tools/fingerprint_test.go
Due: go-fmt

[Bug] Prefer better-covered intelligence evidence
  config/catalog/README.md
  src/semantic-router/pkg/config/catalog_index_copy_test.go
  src/semantic-router/pkg/extproc/req_filter_classification.go
  src/semantic-router/pkg/extproc/req_filter_classification_selection_test.go
  src/semantic-router/pkg/selection/automix.go
  src/semantic-router/pkg/selection/evidence.go
  src/semantic-router/pkg/selection/evidence_test.go
  src/semantic-router/pkg/selection/gmtrouter.go
  src/semantic-router/pkg/selection/gmtrouter_test.go
  src/semantic-router/pkg/selection/multi_factor.go
  src/semantic-router/pkg/selection/multi_factor_objective.go
  src/semantic-router/pkg/selection/multi_factor_test.go
  src/semantic-router/pkg/selection/selection_result.go
  src/semantic-router/pkg/selection/selection_result_test.go
  src/semantic-router/pkg/selection/selector.go
  src/semantic-router/pkg/selection/selector_test.go
  website/docs/tutorials/algorithm/overview.md
  website/docs/tutorials/algorithm/selection/automix.md
  website/docs/tutorials/algorithm/selection/gmtrouter.md
  website/docs/tutorials/algorithm/selection/multi-factor.md
Due: go-fmt, md-fmt

[Bug] Filter model capabilities before candidate scoring
  src/semantic-router/pkg/extproc/candidate_requirements_test.go
  src/semantic-router/pkg/extproc/processor_capability_dispatch_test.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/extproc/provider_model_eligibility_test.go
  src/semantic-router/pkg/extproc/req_filter_classification_selector.go
  src/semantic-router/pkg/extproc/req_filter_semantic_mutations.go
  src/semantic-router/pkg/extproc/router_learning_helpers.go
  src/semantic-router/pkg/extproc/selection_capabilities.go
  src/semantic-router/pkg/extproc/selection_capabilities_test.go
  src/semantic-router/pkg/extproc/selection_eligibility_test.go
  src/semantic-router/pkg/selection/multi_factor_survivors_test.go
  website/docs/tutorials/algorithm/overview.md
Due: go-fmt, md-fmt

[Bug] Propagate excluded session owner rejections
  src/semantic-router/pkg/extproc/req_filter_classification_selector.go
  src/semantic-router/pkg/extproc/req_filter_prompt_selector_test.go
  src/semantic-router/pkg/extproc/router_learning.go
  src/semantic-router/pkg/extproc/router_learning_candidate_boundaries_test.go
  src/semantic-router/pkg/extproc/router_learning_components_test.go
  src/semantic-router/pkg/extproc/router_learning_failure_telemetry_test.go
  src/semantic-router/pkg/extproc/router_learning_protection.go
  src/semantic-router/pkg/extproc/router_learning_selection_test.go
  src/semantic-router/pkg/extproc/router_learning_session_benchmark_test.go
  src/semantic-router/pkg/extproc/router_learning_session_corpus_test.go
  src/semantic-router/pkg/extproc/router_learning_session_orchestration_test.go
  src/semantic-router/pkg/extproc/router_learning_session_report_test.go
  src/semantic-router/pkg/extproc/router_learning_session_runner_test.go
  src/semantic-router/pkg/extproc/router_replay_session_contract_test.go
  src/semantic-router/pkg/extproc/session_exact_owner_test.go
  src/semantic-router/pkg/extproc/session_selection_boundary.go
  src/semantic-router/pkg/extproc/testdata/router_learning_sessions.v1.yaml
  src/semantic-router/pkg/selection/session_aware.go
  src/semantic-router/pkg/selection/session_aware_test.go
  website/docs/benchmarking/agent-routing-protection.md
  website/docs/tutorials/algorithm/overview.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Test] Declare text-only capabilities in response API fixture
  e2e/profiles/response-api/profile_test.go
  e2e/profiles/response-api/values.yaml
Due: go-fmt, yaml-and-yml-fmt

[Bug] Guard routing decision boundaries across learning and dispatch
  src/semantic-router/pkg/extproc/eval_model_selection.go
  src/semantic-router/pkg/extproc/processor_req_body_external_gateway.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/extproc/req_filter_classification_selection_test.go
  src/semantic-router/pkg/extproc/req_filter_classification_selector.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/extproc/router_learning.go
  src/semantic-router/pkg/extproc/router_learning_failure_telemetry_test.go
  src/semantic-router/pkg/extproc/router_learning_protection.go
  src/semantic-router/pkg/extproc/router_learning_session_orchestration_test.go
  src/semantic-router/pkg/extproc/router_learning_session_runner_test.go
  src/semantic-router/pkg/extproc/selection_decision_paths_test.go
  src/semantic-router/pkg/extproc/session_identity_collision_test.go
  src/semantic-router/pkg/extproc/session_policy.go
  src/semantic-router/pkg/extproc/session_usage_identity_test.go
  src/semantic-router/pkg/extproc/session_usage_ownership_test.go
  website/docs/benchmarking/agent-routing-protection.md
Due: go-fmt, md-fmt

chore(dashboard): regenerate router config schema after rebase
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
Due: none

Allow LLM classifier signals to omit rationale (#3886)
  config/fragments/signal/classifier/label-score.yaml
  dashboard/frontend/src/lib/dslPolicySignalSchemas.ts
  dashboard/frontend/src/lib/dslStructuredSchemas.test.ts
  dashboard/frontend/src/pages/configPageSupport.ts
  dashboard/frontend/src/types/config.ts
  src/semantic-router/pkg/classification/generic_classifier.go
  src/semantic-router/pkg/classification/generic_classifier_llm_test.go
  src/semantic-router/pkg/classification/generic_classifier_rationale_test.go
  src/semantic-router/pkg/config/classifier_rationale_test.go
  src/semantic-router/pkg/config/classifier_signal.go
  src/semantic-router/pkg/config/model_binding_classifier.go
  src/semantic-router/pkg/config/validator_classifier_signal.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  src/semantic-router/pkg/dsl/decompiler_signals_rules.go
  src/semantic-router/pkg/dsl/policy_signal_roundtrip_test.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_generic_model_bindings.py
  website/docs/tutorials/signal/learned/classifier.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(looper): reject ambiguous workflow access identities
  src/semantic-router/pkg/looper/workflows_identity_integration_test.go
  src/semantic-router/pkg/looper/workflows_identity_resume_test.go
  src/semantic-router/pkg/looper/workflows_identity_test.go
  src/semantic-router/pkg/looper/workflows_validation.go
  website/docs/tutorials/algorithm/looper/workflows.md
Due: go-fmt, md-fmt

fix(cli): validate automatic native output budgets
  src/vllm-sr/cli/models.py
  src/vllm-sr/tests/test_routing_policies.py
Due: none

fix(looper): skip only missing bench models and fence stale commits
  perf/benchmarks/skip_missing_models.go
  perf/benchmarks/skip_missing_models_test.go
  src/semantic-router/pkg/classification/model_discovery_scan.go
  src/semantic-router/pkg/classification/model_discovery_test.go
  src/semantic-router/pkg/looper/workflows_state_namespace.go
  src/semantic-router/pkg/looper/workflows_state_namespace_test.go
  src/semantic-router/pkg/looper/workflows_state_store.go
  src/semantic-router/pkg/looper/workflows_state_store_file_share.go
  src/semantic-router/pkg/looper/workflows_state_store_file_share_test.go
  src/semantic-router/pkg/looper/workflows_state_store_test.go
Due: go-fmt

[Feature] Accept --runtime podman as a first-class installer option (#3443)
  install.sh
  src/vllm-sr/tests/install_runtime_harness.sh
  src/vllm-sr/tests/test_install_runtime_behavior.py
  src/vllm-sr/tests/test_install_script_surface.py
  tools/make/docker.mk
  website/docs/installation/installation.md
Due: md-fmt

fix(cli): use contextlib.suppress to satisfy ruff SIM105
  src/vllm-sr/cli/config_generator.py
Due: none

[Bug] Separate windowed document budgets from model forward limits
  candle-binding/instances.go
  candle-binding/src/ffi/instances/mod.rs
  candle-binding/src/ffi/instances/sequence.rs
  candle-binding/src/ffi/instances/tasks.rs
  candle-binding/src/ffi/instances/tests.rs
  candle-binding/src/ffi/instances/tests/document_windows.rs
  onnx-binding/instance/document_window_test.go
  onnx-binding/instance/types.go
  onnx-binding/src/core/instance_options.rs
  onnx-binding/src/instances.rs
  onnx-binding/src/instances/sequence.rs
  src/semantic-router/pkg/classification/classifier_jailbreak_window.go
  src/semantic-router/pkg/classification/classifier_jailbreak_window_test.go
  src/semantic-router/pkg/config/model_deployments.go
  src/semantic-router/pkg/config/safety_signal.go
  src/semantic-router/pkg/config/window_document_budget_test.go
  src/semantic-router/pkg/modelruntime/binding/identity.go
  src/semantic-router/pkg/modelruntime/binding/task_test.go
  src/semantic-router/pkg/modelruntime/native/candle.go
  src/semantic-router/pkg/modelruntime/native/label_scores.go
  src/semantic-router/pkg/modelruntime/native/operating_point_integration_test.go
  src/semantic-router/pkg/modelruntime/native/operating_point_ort_test.go
  src/semantic-router/pkg/modelruntime/native/ort.go
  src/semantic-router/pkg/modelruntime/native/ort_execution_test.go
  src/semantic-router/pkg/modelruntime/native/owned_scores_integration_test.go
  src/semantic-router/pkg/modelruntime/native/windowed_heads.go
  src/semantic-router/pkg/modelruntime/native/windowed_tokens.go
  src/semantic-router/pkg/modelruntime/native/windowed_tokens_integration_test.go
  src/semantic-router/pkg/modelruntime/native/windowed_tokens_test.go
  src/semantic-router/pkg/modelruntime/operatingpoint/artifacts.go
  src/semantic-router/pkg/modelruntime/operatingpoint/artifacts_test.go
  src/semantic-router/pkg/modelruntime/operatingpoint/policy.go
  website/docs/installation/runtime/safety.md
  website/docs/tutorials/signal/learned/jailbreak.md
  website/docs/tutorials/signal/learned/pii.md
  website/docs/tutorials/signal/learned/safety.md
Due: go-fmt, md-fmt, cargo-fmt, cargo-check

[Feature] Add offline Candle CPU compatibility receipts (#3851)
  src/semantic-router/pkg/modelruntime/compatibility/artifact.go
  src/semantic-router/pkg/modelruntime/compatibility/artifact_test.go
  src/semantic-router/pkg/modelruntime/compatibility/conformance.go
  src/semantic-router/pkg/modelruntime/compatibility/conformance_test.go
  src/semantic-router/pkg/modelruntime/compatibility/qualification_suite.go
  src/semantic-router/pkg/modelruntime/compatibility/receipt.go
  src/semantic-router/pkg/modelruntime/compatibility/receipt_integrity_test.go
  src/semantic-router/pkg/modelruntime/compatibility/receipt_test.go
  src/semantic-router/pkg/modelruntime/compatibility/testdata/local-candle-cpu-v1.json
  src/semantic-router/pkg/modelruntime/compatibility/testdata/tiny-random-bert-cpu-suite-v1.json
  tools/agent/domains.yaml
  tools/ci/tests/test_domain_registry.py
  tools/make/models.mk
  tools/modelcompat/main.go
  tools/modelcompat/main_integration_test.go
  tools/modelcompat/main_test.go
  tools/modelcompat/make_test.go
Due: go-fmt, yaml-and-yml-fmt

feat(modelruntime): bind qualified CK window operating points
  onnx-binding/instance/session_input_schema_test.go
  onnx-binding/instance/types.go
  onnx-binding/src/core/execution_contract.rs
  onnx-binding/src/core/instance_options.rs
  onnx-binding/src/model_architectures/embedding/mmbert_embedding.rs
  onnx-binding/src/model_architectures/modernbert_inputs/tests.rs
  src/semantic-router/pkg/modelruntime/native/operating_point_ck_test.go
  src/semantic-router/pkg/modelruntime/native/operating_point_ort.go
  src/semantic-router/pkg/modelruntime/operatingpoint/artifacts.go
  src/semantic-router/pkg/modelruntime/operatingpoint/ck_policy_test.go
  src/semantic-router/pkg/modelruntime/operatingpoint/export.go
  src/semantic-router/pkg/modelruntime/operatingpoint/policy.go
  tools/models/classifier-operating-point/main.go
  website/docs/tutorials/signal/learned/classifier.md
Due: go-fmt, md-fmt, cargo-fmt, cargo-check

[Evaluation] Preserve threshold policy through artifact serialization
  tools/calibration/tuning/confidence_calibration.py
  tools/calibration/tuning/tests/test_confidence_calibration.py
Due: none

[Evaluation] Add versioned offline confidence calibration artifacts
  tools/calibration/tuning/README.md
  tools/calibration/tuning/collect_confidence_results.py
  tools/calibration/tuning/confidence_calibration.py
  tools/calibration/tuning/prepare_mmlu_pro_dataset.py
  tools/calibration/tuning/tests/fixtures/confidence_calibration_v1/large-calibration.json
  tools/calibration/tuning/tests/fixtures/confidence_calibration_v1/large-held_out.json
  tools/calibration/tuning/tests/fixtures/confidence_calibration_v1/large-train.json
  tools/calibration/tuning/tests/fixtures/confidence_calibration_v1/manifest.json
  tools/calibration/tuning/tests/fixtures/confidence_calibration_v1/small-calibration.json
  tools/calibration/tuning/tests/fixtures/confidence_calibration_v1/small-held_out.json
  tools/calibration/tuning/tests/fixtures/confidence_calibration_v1/small-train.json
  tools/calibration/tuning/tests/test_collect_confidence_results.py
  tools/calibration/tuning/tests/test_confidence_calibration.py
  tools/calibration/tuning/tests/test_prepare_mmlu_pro_dataset.py
  tools/calibration/tuning/verify_confidence.py
Due: md-fmt

[Evaluation] Fix exact confidence-boundary threshold candidates
  tools/calibration/tuning/README.md
  tools/calibration/tuning/analyzer.py
  tools/calibration/tuning/tests/test_confidence_calibration.py
  tools/calibration/tuning/tests/test_framework.py
Due: md-fmt

fix(cli): configure Grafana Live origins
  e2e/testing/vllm-sr-cli/test_integration_grafana_live.py
  e2e/testing/vllm-sr-cli/test_unit_grafana_live.py
  src/vllm-sr/cli/container_observability.py
  src/vllm-sr/cli/container_support_services.py
  src/vllm-sr/cli/templates/grafana.serve.ini
  src/vllm-sr/tests/test_container_support_services.py
  website/docs/installation/docker.md
Due: md-fmt

[Evaluation] Keep calibration CLI compatible after tooling migration
  tools/calibration/tuning/README.md
  tools/calibration/tuning/build_confidence_artifact.py
  tools/calibration/tuning/tests/test_confidence_calibration.py
  tools/calibration/tuning/verify_confidence.py
Due: md-fmt

Add a versioned replica-local Router status contract (#3880)
  src/semantic-router/cmd/main.go
  src/semantic-router/cmd/runtime_bootstrap.go
  src/semantic-router/pkg/apiserver/api_paths.go
  src/semantic-router/pkg/apiserver/route_api_doc.go
  src/semantic-router/pkg/apiserver/route_status.go
  src/semantic-router/pkg/apiserver/route_status_test.go
  src/semantic-router/pkg/apiserver/routes_catalog.go
  src/semantic-router/pkg/routerruntime/registry.go
  src/semantic-router/pkg/routerruntime/status.go
  src/semantic-router/pkg/routerruntime/status_test.go
  website/docs/api/apiserver.md
  website/static/openapi/apiserver/apiserver.openapi.json
Due: go-fmt, md-fmt

fix(looper): restore cache embeddings, Redis keys, and file-store identity
  e2e/testcases/workflow_resume.go
  e2e/testcases/workflow_resume_test.go
  perf/benchmarks/cache_bench_test.go
  src/semantic-router/pkg/extproc/req_filter_looper_response.go
  src/semantic-router/pkg/extproc/req_filter_looper_workflow_resume_test.go
  src/semantic-router/pkg/looper/workflows_state_namespace.go
  src/semantic-router/pkg/looper/workflows_state_namespace_test.go
  src/semantic-router/pkg/looper/workflows_state_store.go
  src/semantic-router/pkg/looper/workflows_state_store_file_share.go
  src/semantic-router/pkg/looper/workflows_state_store_file_share_test.go
  src/semantic-router/pkg/looper/workflows_state_store_test.go
  src/semantic-router/pkg/looper/workflows_test_helpers_test.go
Due: go-fmt

[Bug] Search a long vector store query by every window (#3841)
  src/semantic-router/pkg/apiserver/route_vectorstore_query_test.go
  src/semantic-router/pkg/apiserver/route_vectorstore_search.go
  src/semantic-router/pkg/embedding/options.go
  src/semantic-router/pkg/embedding/query_vectors.go
  src/semantic-router/pkg/embedding/query_vectors_test.go
  src/semantic-router/pkg/extproc/req_filter_rag_vectorstore.go
  src/semantic-router/pkg/extproc/req_filter_rag_vectorstore_query_test.go
  src/semantic-router/pkg/extproc/req_filter_rag_windowing.go
  src/semantic-router/pkg/extproc/req_filter_rag_windowing_test.go
  src/semantic-router/pkg/vectorstore/search_merge.go
  src/semantic-router/pkg/vectorstore/search_merge_test.go
Due: go-fmt

fix(responsestore): rollback-safe and repairable Redis StoreResponse
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt

fix(responsestore): keep listing past every pruned index window
  src/semantic-router/pkg/responsestore/errors.go
  src/semantic-router/pkg/responsestore/redis_legacy_generation_test.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_list_cleanup_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
Due: go-fmt

fix(responsestore): read a page's cursor and window from one snapshot
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_list_cleanup_test.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

fix(responsestore): roll back a half-applied write on a detached context
  src/semantic-router/pkg/responsestore/redis_response_repair_test.go
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_store.go
Due: go-fmt

fix(responsestore): fix cascade-delete, marker TTL, and lint follow-ups
  config/runtime/response-api/redis-simple.yaml
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_conversation_store_test.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_list_test.go
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt, yaml-and-yml-fmt

fix(responsestore): make index cleanup generation-safe
  config/runtime/response-api/redis-simple.yaml
  src/semantic-router/pkg/responsestore/redis_cascade_delete.go
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_backfill_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_conversation_index_ttl_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_conversation_store_test.go
  src/semantic-router/pkg/responsestore/redis_generation_safety_test.go
  src/semantic-router/pkg/responsestore/redis_helpers.go
  src/semantic-router/pkg/responsestore/redis_list.go
  src/semantic-router/pkg/responsestore/redis_list_test.go
  src/semantic-router/pkg/responsestore/redis_migration.go
  src/semantic-router/pkg/responsestore/redis_response_record.go
  src/semantic-router/pkg/responsestore/redis_response_repair_test.go
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_response_store_test.go
  src/semantic-router/pkg/responsestore/redis_scan_lease.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt, yaml-and-yml-fmt

test(responsestore): scope the cascade refusal assertion to what it checks
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
Due: go-fmt

refactor(responsestore): drop superseded update snapshot helper
  src/semantic-router/pkg/responsestore/redis_conversation_index.go
  src/semantic-router/pkg/responsestore/redis_response_store.go
  src/semantic-router/pkg/responsestore/redis_response_store_test.go
  src/semantic-router/pkg/responsestore/redis_store.go
Due: go-fmt

feat(responsestore): bounded rank-window listing for Redis conv index
  src/semantic-router/pkg/responsestore/memory_store.go
  src/semantic-router/pkg/responsestore/redis_store.go
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt

fix(responsestore): never delete a conversation index a write just landed in
  src/semantic-router/pkg/responsestore/redis_cascade_delete.go
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_store.go
  src/semantic-router/pkg/responsestore/redis_store.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
