Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

[Docs] zh-Hans: choose a model and AMD ROCm follow their sources on the validated stack
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/amd-rocm.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/model-runtime/choose-a-model.md
Due: md-fmt

[Bug] bench: the memory cold-start replay embeds with mmbert at the dimensions it was recorded with
  bench/memory_coldstart/replay.go
Due: go-fmt

[Docs] model-runtime: vela1 records on the router's ROCm image stack at the IP3 head
  src/model-runtime/docs/records/vela1-parity.json
  src/model-runtime/docs/records/vela1-parity.md
  src/model-runtime/docs/records/vela1-performance.json
  src/model-runtime/docs/records/vela1-performance.md
Due: md-fmt

[Feature] Add StepFun Step 5 Preview Model Card (#4107)
  config/catalog/resources/evaluations/single/stepfun.yaml
  config/catalog/resources/models/single/stepfun.yaml
  config/catalog/resources/providers/stepfun.yaml
  config/recipes/built-in/latest/catalog.yaml
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

[Bug] config: memory stores use a width their embedding model serves
  config/config.yaml
  config/runtime/memory/valkey.yaml
  src/semantic-router/pkg/config/canonical_defaults.go
  src/semantic-router/pkg/config/embedding_storage_requirements_test.go
  src/semantic-router/pkg/extproc/router_memory_reference_startup_test.go
Due: go-fmt, yaml-and-yml-fmt

[Bug] dashboard: store defaults leave the width to the embedding model
  dashboard/frontend/src/pages/configPageRouterDefaultsCatalog.ts
  dashboard/frontend/src/pages/configPageRouterDefaultsSupport.ts
  dashboard/frontend/src/pages/configPageVelaDefaults.test.ts
Due: none

[Test] model-runtime: the plugin-example E2E test and the router-latency tool pass ruff
  e2e/testing/vllm-sr-cli/test_integration_plugin_example.py
  src/model-runtime/tools/router_latency.py
Due: none

[Harness] model-runtime: a model spec may set how long a graph's idle CPU threads spin
  src/model-runtime/vllm_sr_runtime/plugins/base.py
Due: none

[Harness] model-runtime: the runtime freezes its heap once its models have loaded
  src/model-runtime/tests/test_third_party_plugin.py
  src/model-runtime/vllm_sr_runtime/runtime.py
Due: none

[Perf] onnxruntime: a graph may spin longer than the engine's 2 ms, and the receipt reports every pool's spin
  src/model-runtime/tests/test_onnxruntime_engine.py
  src/model-runtime/vllm_sr_runtime/engines/onnxruntime/engine.py
  src/model-runtime/vllm_sr_runtime/engines/onnxruntime/providers.py
Due: none

[Perf] model-runtime: Omni runs a batch's images one at a time, and Nano's text graph on 12 threads that spin 10 ms
  src/model-runtime/tests/test_multimodal_embedding.py
  src/model-runtime/vllm_sr_runtime/families/multimodal_embedding/family.py
Due: none

[Build] router images: MIOpen's databases and lock files live in the model volume
  src/vllm-sr/tests/test_router_dockerfile.py
  tools/docker/Dockerfile.extproc
Due: none

[Docs] Rewrite the Vela 2.0 post as a research article
  website/blog/2026-10-06-vela-2-0-open-foundation-routing-models.md
  website/src/components/ArticleMedia/index.tsx
  website/static/img/blog/vela-2-0/evidence.png
  website/static/img/blog/vela-2-0/latency.png
  website/static/img/blog/vela-2-0/router-tasks.png
  website/static/img/blog/vela-2-0/safety-family.png
  website/static/img/blog/vela-2-0/source/make_charts.py
  website/static/img/blog/vela2-training.png
  website/static/img/blog/vela2-your-labels.jpg
  website/static/videos/vela-2-0/vela-2-0-launch.mp4
Due: md-fmt

[Docs] Explain the Vela 2.0 span head step by step and add the Jev index
  website/blog/2026-10-06-vela-2-0-open-foundation-routing-models.md
  website/static/img/blog/vela-2-0/jev-index.png
  website/static/img/blog/vela-2-0/source/make_charts.py
Due: md-fmt

[Docs] Describe the span question's Noul answer as the inference code computes it
  website/blog/2026-10-06-vela-2-0-open-foundation-routing-models.md
Due: md-fmt

[Docs] Use the v3.1 Vela 2.0 launch film and the short collection link
  website/blog/2026-10-06-vela-2-0-open-foundation-routing-models.md
  website/static/img/blog/vela-2-0/launch-poster.jpg
  website/static/videos/vela-2-0/vela-2-0-launch.mp4
Due: md-fmt

[Docs] model-runtime records: router latency on ROCm against CPU, five interleaved rounds with intervals
  src/model-runtime/docs/records/router-latency-rocm.json
  src/model-runtime/docs/records/router-latency-rocm.md
Due: md-fmt

[Docs] model runtime: CPU models in the ROCm image answer one request at a time under exact
  website/docs/model-runtime/deploy.md
Due: md-fmt

[Feature] Admit Kimi Linear 48B A3B Instruct to the Model Card catalog (#4092)
  config/catalog/resources/evaluations/single/moonshot.yaml
  config/catalog/resources/models/single/moonshot.yaml
  config/catalog/resources/providers/vllm.yaml
  config/recipes/built-in/latest/catalog.yaml
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

[Docs] model-runtime: vela1 records hold on the router's ROCm image as built
  src/model-runtime/docs/records/vela1-parity.json
  src/model-runtime/docs/records/vela1-parity.md
  src/model-runtime/docs/records/vela1-performance.md
Due: md-fmt

[Docs] model-runtime: the pool and heap-freeze docstrings say what was measured
  src/model-runtime/vllm_sr_runtime/engines/onnxruntime/providers.py
  src/model-runtime/vllm_sr_runtime/runtime.py
Due: none

docs(decision2): sync sanitized program docs (COORDINATION)
  src/training/decision2/v2/program/COORDINATION.md
Due: md-fmt

[Docs] model-runtime: design 11 names the ROCm image's PyTorch, causal-conv1d build and GPU caches
  src/model-runtime/docs/design.md
Due: md-fmt

[Research] Record truncated and dropped Kai responses
  bench/jev/pilot-v0.1/kai/run_kai.py
  bench/jev/pilot-v0.1/tests/test_kai_runner.py
Due: none

[Docs] model-runtime records: the ROCm router image, its causal-conv1d build and a GPU smoke
  src/model-runtime/docs/design.md
  src/model-runtime/docs/records/profiles-rocm-mi325x.md
  src/model-runtime/docs/records/rocm-mi325x-parity.md
  src/model-runtime/docs/records/rocm-mi325x-perf.md
  src/model-runtime/docs/records/rocm-mi325x-repeatability.md
  src/model-runtime/docs/records/rocm-router-image.md
Due: md-fmt

[Docs] model-runtime: design 13.4 says managed auto deployments share one process
  src/model-runtime/docs/design.md
Due: md-fmt

[Test] model-runtime: the legacy A/B resume test passes ruff
  src/model-runtime/tests/test_legacy_parity.py
Due: none

[Refactor] model-runtime: the index engine's refusal is RefusalError, and its argmax zip is strict
  src/model-runtime/tests/test_index_engine.py
  src/model-runtime/tools/index_engine.py
Due: none

[Docs] model-runtime records: the ROCm router against the shipped image, and under the node's other GPU jobs
  src/model-runtime/docs/records/router-latency-rocm.json
  src/model-runtime/docs/records/router-latency-rocm.md
Due: md-fmt

[Docs] model runtime: the reference lists --base-path and the router's runtime variables
  website/docs/model-runtime/reference.md
Due: md-fmt

[Docs] model-runtime: Vela 2.0 ROCm records re-timed on the router image's stack (10 rounds, intervals)
  src/model-runtime/docs/records/vela2-performance.md
  src/model-runtime/docs/records/vela2-reduced.json
Due: md-fmt

[Build] router images: the ROCm causal-conv1d wheel carries gfx90a, gfx942 and gfx950
  src/model-runtime/docs/design.md
  src/model-runtime/docs/records/rocm-router-image.md
  src/vllm-sr/tests/test_router_dockerfile.py
  tools/docker/Dockerfile.extproc
Due: md-fmt

[Bug] config: the response-cache examples leave the index width to the embedding model
  config/runtime/response-cache/milvus.yaml
  config/runtime/response-cache/redis.yaml
  config/runtime/response-cache/valkey.yaml
  src/semantic-router/pkg/cache/response_cache_examples_test.go
Due: go-fmt, yaml-and-yml-fmt

[Docs] model-runtime: Decision 1.0 parity on the shipped ROCm stack, across cold processes and on router requests
  src/model-runtime/docs/records/decision1-parity.json
  src/model-runtime/docs/records/decision1-parity.md
Due: md-fmt

[Bug] vllm-sr: config migrate gives Vela Embedding stores a vector size it serves
  src/vllm-sr/cli/config_migration_embeddings.py
  src/vllm-sr/tests/test_config_migrate_model_runtime.py
Due: none

[Docs] model runtime migration: a Vela Embedding store gets a vector size it serves
  website/docs/model-runtime/migrate.md
Due: md-fmt

[Docs] zh-Hans: the migration guide follows its source on store vector sizes
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/model-runtime/migrate.md
Due: md-fmt

[Docs] model runtime: auto deployments share one process, and causal-conv1d covers MI200 and MI350
  website/docs/model-runtime/choose-a-model.md
  website/docs/model-runtime/deploy.md
Due: md-fmt

[Docs] zh-Hans: choose a model follows its source on the MI200 and MI350 code
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/model-runtime/choose-a-model.md
Due: md-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
