Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

fix release versioning and publish tags (#1490)
  .github/workflows/docker-publish.yml
  .github/workflows/docker-release.yml
  .github/workflows/helm-publish.yml
  .github/workflows/operator-ci.yml
  candle-binding/Cargo.lock
  candle-binding/Cargo.toml
  deploy/helm/semantic-router/Chart.yaml
  deploy/helm/semantic-router/templates/configmap.yaml
  deploy/helm/semantic-router/values.yaml
  src/vllm-sr/cli/__init__.py
  src/vllm-sr/cli/consts.py
  src/vllm-sr/cli/templates/router-defaults.yaml
  src/vllm-sr/pyproject.toml
  src/vllm-sr/tests/test_cli_main.py
  src/vllm-sr/uv.lock
Due: yaml-and-yml-fmt

[Dashboard][Bugfix] Support playground reasoning fields (#1476)
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/chatRequestSupport.ts
  dashboard/frontend/src/components/chatResponseParsing.ts
  docs/agent/architecture-guardrails.md
  tools/agent/structure-rules.yaml
  tools/linter/go/.golangci.agent.yml
Due: md-fmt, yaml-and-yml-fmt

[Harness]: Add task-first harness context packs (#1467)
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
  CONTRIBUTING.md
  docs/agent/README.md
  docs/agent/adr/README.md
  docs/agent/adr/adr-0001-harness-layering.md
  docs/agent/adr/adr-0002-tech-debt-index-and-entry-directory.md
  docs/agent/context-management.md
  docs/agent/governance.md
  docs/agent/plans/README.md
  docs/agent/plans/pl-0001-harness-roadmap.md
  docs/agent/tech-debt/README.md
  docs/agent/tech-debt/td-001-config-surface-fragmentation.md
  docs/agent/tech-debt/td-002-config-portability-gap-local-vs-k8s.md
  docs/agent/tech-debt/td-003-package-topology-hotspot-layout-debt.md
  docs/agent/tech-debt/td-004-python-cli-kubernetes-workflow-separation.md
  docs/agent/tech-debt/td-005-dashboard-enterprise-console-foundations.md
  docs/agent/tech-debt/td-006-structural-rule-target-vs-legacy-hotspots.md
  docs/agent/tech-debt/td-007-e2e-integration-surfaces-split-across-frameworks.md
  docs/agent/tech-debt/td-008-e2e-profile-matrix-shared-router-coverage-ownership.md
  docs/agent/tech-debt/td-009-e2e-profile-inventory-and-documentation-drift.md
  tools/agent/context-map.yaml
  tools/agent/repo-manifest.yaml
  tools/agent/scripts/agent_context_pack.py
  tools/agent/scripts/agent_context_validation.py
  tools/agent/scripts/agent_doc_validation.py
  tools/agent/scripts/agent_governance_doc_support.py
  tools/agent/scripts/agent_models.py
  tools/agent/scripts/agent_resolution.py
  tools/agent/scripts/agent_support.py
  tools/agent/scripts/agent_tech_debt_support.py
  tools/agent/scripts/agent_validation.py
Due: md-fmt, yaml-and-yml-fmt

[Dashboard][Feat] polish manager and monitoring layouts (#1478)
  dashboard/frontend/e2e/layout-nav.spec.ts
  dashboard/frontend/src/components/LayoutNavSupport.ts
  dashboard/frontend/src/components/MCPConfigPanel.module.css
  dashboard/frontend/src/components/RatingsTable.module.css
  dashboard/frontend/src/components/TableHeader.module.css
  dashboard/frontend/src/components/TableHeader.tsx
  dashboard/frontend/src/pages/ConfigPage.module.css
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/ConfigPageManagerLayout.module.css
  dashboard/frontend/src/pages/ConfigPageManagerLayout.tsx
  dashboard/frontend/src/pages/LogsPage.module.css
  dashboard/frontend/src/pages/LogsPage.tsx
  dashboard/frontend/src/pages/Ratings.module.css
  dashboard/frontend/src/pages/RatingsPage.tsx
  dashboard/frontend/src/pages/StatusPage.module.css
  dashboard/frontend/src/pages/StatusPage.tsx
Due: none

[Doc] Align AMD deploy profile with single-backend aliases (#1474)
  deploy/amd/README.md
  deploy/amd/config.yaml
  docs/agent/amd-local.md
  docs/agent/playbooks/vllm-sr-cli-docker.md
Due: md-fmt, yaml-and-yml-fmt

fix(website): show docs navigation items on homepage (#1483)
  website/docusaurus.config.ts
Due: none

docs: record website UI contract (#1487)
  website/README.md
Due: md-fmt

build: include both candle and ONNX bindings in container image (#1463)
  src/vllm-sr/Dockerfile
  src/vllm-sr/start-router.sh
Due: none

feat(memory): enable hybrid search from global config and restore full-depth embeddings (#1471)
  src/semantic-router/pkg/config/runtime_config.go
  src/semantic-router/pkg/extproc/processor_req_body_memory.go
  src/semantic-router/pkg/memory/embedding.go
Due: go-fmt

onboard eval modelize
  src/training/model_eval/onboard/__init__.py
  src/training/model_eval/onboard/arc_eval.py
  src/training/model_eval/onboard/constants.py
  src/training/model_eval/onboard/evaluator.py
  src/training/model_eval/onboard/mmlu_eval.py
  src/training/model_eval/onboard/report.py
  src/training/model_eval/onboard/system_eval.py
  src/training/model_eval/onboard/types.py
Due: none

[Harness]: Split tech debt register into indexed entries (#1466)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  AGENTS.md
  CONTRIBUTING.md
  README.md
  docs/agent/README.md
  docs/agent/adr/0002-tech-debt-index-and-entry-directory.md
  docs/agent/adr/README.md
  docs/agent/glossary.md
  docs/agent/governance.md
  docs/agent/plans/README.md
  docs/agent/plans/harness-roadmap.md
  docs/agent/repo-map.md
  docs/agent/tech-debt-register.md
  docs/agent/tech-debt/README.md
  docs/agent/tech-debt/TD001-config-surface-fragmentation.md
  docs/agent/tech-debt/TD002-config-portability-gap-local-vs-k8s.md
  docs/agent/tech-debt/TD003-package-topology-hotspot-layout-debt.md
  docs/agent/tech-debt/TD004-python-cli-kubernetes-workflow-separation.md
  docs/agent/tech-debt/TD005-dashboard-enterprise-console-foundations.md
  docs/agent/tech-debt/TD006-structural-rule-target-vs-legacy-hotspots.md
  docs/agent/tech-debt/TD007-e2e-integration-surfaces-split-across-frameworks.md
  docs/agent/tech-debt/TD008-e2e-profile-matrix-shared-router-coverage-ownership.md
  docs/agent/tech-debt/TD009-e2e-profile-inventory-and-documentation-drift.md
  tools/agent/repo-manifest.yaml
  tools/agent/scripts/agent_doc_validation.py
  tools/agent/scripts/agent_governance_doc_support.py
  tools/agent/scripts/agent_scorecard.py
  tools/agent/scripts/agent_tech_debt_support.py
  tools/agent/skills/classifier-post-training/SKILL.md
  tools/agent/skills/config-platform-change/SKILL.md
  tools/agent/skills/cross-stack-bugfix/SKILL.md
  tools/agent/skills/dashboard-console-backend/SKILL.md
  tools/agent/skills/dashboard-console-platform-change/SKILL.md
  tools/agent/skills/harness-contract-change/SKILL.md
  tools/agent/skills/harness-governance/SKILL.md
  tools/agent/skills/training-model-classifier/SKILL.md
Due: md-fmt, yaml-and-yml-fmt

feat(website): add one-line install flow (#1488)
  .gitignore
  install.sh
  src/vllm-sr/cli/logo.py
  src/vllm-sr/tests/test_logo.py
  website/docs/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/installation.md
  website/package.json
  website/scripts/sync-install-script.mjs
  website/src/components/InstallQuickStartSection/index.module.css
  website/src/components/InstallQuickStartSection/index.tsx
  website/src/components/site/Chrome.module.css
  website/src/components/site/Chrome.tsx
  website/src/pages/index.module.css
  website/src/pages/index.tsx
Due: md-fmt

[Docs]: Add position paper to research page (#1477)
  website/src/pages/publications.js
  website/src/pages/publications.module.css
Due: js-lint

website: redesign the full layout (#1479)
  dashboard/frontend/src/pages/LogsPage.module.css
  website/README.md
  website/docusaurus.config.ts
  website/src/components/AcknowledgementsSection/index.module.css
  website/src/components/AcknowledgementsSection/index.tsx
  website/src/components/PaperFigureShowcase/index.module.css
  website/src/components/PaperFigureShowcase/index.tsx
  website/src/components/TeamCarousel/index.tsx
  website/src/components/TeamCarousel/styles.module.css
  website/src/components/TransformerPipelineAnimation/index.module.css
  website/src/components/TransformerPipelineAnimation/index.tsx
  website/src/components/TranslationBanner/index.tsx
  website/src/components/TranslationBanner/styles.module.css
  website/src/components/site/CapabilityGlyph.tsx
  website/src/components/site/Chrome.module.css
  website/src/components/site/Chrome.tsx
  website/src/components/site/DitherField.tsx
  website/src/css/base.css
  website/src/css/blog.css
  website/src/css/custom.css
  website/src/css/docs.css
  website/src/css/shell.css
  website/src/css/tokens.css
  website/src/pages/community/code-of-conduct.tsx
  website/src/pages/community/community-page.module.css
  website/src/pages/community/contributing.tsx
  website/src/pages/community/team.module.css
  website/src/pages/community/team.tsx
  website/src/pages/community/work-groups.module.css
  website/src/pages/community/work-groups.tsx
  website/src/pages/index.module.css
  website/src/pages/index.tsx
  website/src/pages/publications.js
  website/src/pages/publications.module.css
  website/src/pages/white-paper.module.css
  website/src/pages/white-paper.tsx
  website/src/theme/BlogLayout/index.tsx
  website/src/theme/DocItem/Layout/index.tsx
  website/src/theme/Root.tsx
Due: md-fmt, js-lint

Revert "build: include both candle and ONNX bindings in container image (#1463)" (#1489)
  src/vllm-sr/Dockerfile
  src/vllm-sr/start-router.sh
Due: none

fix: edit model failure in dashboard configuration (#1462)
  dashboard/frontend/src/components/EndpointsEditor.tsx
  dashboard/frontend/src/lib/wasm.ts
  dashboard/frontend/src/pages/ConfigPage.tsx
  dashboard/frontend/src/pages/configPageSupport.ts
Due: none

fix release publish workflow failures (#1491)
  .github/workflows/publish-crate.yml
  .github/workflows/pypi-publish.yml
  candle-binding/Cargo.toml
  candle-binding/tests/classification_output_demo.rs
  candle-binding/tests/qwen3_classification_api_test.rs
Due: yaml-and-yml-fmt, cargo-fmt, cargo-check

[Bug]: restore ML Setup link in navigation menu (#1482)
  dashboard/frontend/src/components/LayoutNavSupport.ts
  dashboard/frontend/src/pages/DashboardPage.tsx
Due: none

docs: polish homepage and team website surfaces (#1480)
  website/i18n/zh-Hans/code.json
  website/src/components/site/CapabilityGlyph.tsx
  website/src/pages/community/team.module.css
  website/src/pages/community/team.tsx
  website/src/pages/index.module.css
  website/src/pages/index.tsx
Due: none

feat(onboard): add CLI and partial system signal evaluation (WIP)
  src/training/model_eval/README.md
  src/training/model_eval/onboard/README.md
  src/training/model_eval/onboard/__main__.py
  src/training/model_eval/onboard/cli.py
  src/training/model_eval/onboard/constants.py
  src/training/model_eval/onboard/system_eval.py
  src/training/model_eval/onboard/thresholds.py
  src/training/model_eval/onboard_eval.py
Due: md-fmt

feat(classification): improve domain signal accuracy with real confidence scores and entropy-based multi-category matching (#1380) (#1497)
  config/config.yaml
  src/semantic-router/pkg/classification/category_classifier.go
  src/semantic-router/pkg/classification/classifier.go
  src/semantic-router/pkg/classification/classifier_domain_test.go
  src/semantic-router/pkg/services/classification.go
  tools/agent/structure-rules.yaml
Due: go-fmt, yaml-and-yml-fmt

Fix traditional Candle BERT classifier registration (#1496)
  candle-binding/src/ffi/init.rs
Due: cargo-fmt, cargo-check

fix(dashboard): stop setup wizard validation loop (#1504)
  dashboard/frontend/e2e/setup-wizard.spec.ts
  dashboard/frontend/src/pages/SetupWizardPage.tsx
Due: none

project: add roadmap for v0.3 (#1527)
  .github/workflows/ci-changes.yml
  AGENTS.md
  docs/agent/README.md
  docs/agent/change-surfaces.md
  docs/agent/governance.md
  docs/agent/skill-catalog.md
  tools/agent/context-map.yaml
  tools/agent/repo-manifest.yaml
  tools/agent/skill-registry.yaml
  tools/agent/skills/maintainer-issue-pr-management/SKILL.md
  tools/agent/task-matrix.yaml
  website/blog/2026-01-23-mom-on-amd-gpu.md
  website/blog/2026-03-10-v0-2-athena-release.md
  website/blog/2026-03-12-v0-3-themis-roadmap.md
  website/static/img/blog/api.png
  website/static/img/blog/athena-0.png
  website/static/img/blog/clawos.png
  website/static/img/blog/mom-3.png
  website/static/img/blog/research.png
  website/static/img/blog/themis.png
Due: md-fmt, yaml-and-yml-fmt

test(memory): align e2e tests with direct per-turn storage flow (#1433)
  config/testing/config.memory-user.yaml
  e2e/testing/09-memory-features-test.py
  e2e/testing/memory_tests/__init__.py
  e2e/testing/memory_tests/base.py
  e2e/testing/memory_tests/test_isolation.py
  e2e/testing/memory_tests/test_pipeline.py
  e2e/testing/memory_tests/test_storage.py
Due: yaml-and-yml-fmt

[Doc] Update paper: Add author, Kubernetes note (#1493)
  paper/main.tex
  paper/sections/deployment.tex
  website/static/white-paper.pdf
Due: none

[Misc] Fix memory E2E tests with black (#1543)
  e2e/testing/memory_tests/base.py
  e2e/testing/memory_tests/test_isolation.py
  e2e/testing/memory_tests/test_storage.py
Due: none

docs: tolerate README admonition list style (#1495)
  README.md
Due: md-fmt

website: refine homepage system-brain narrative (#1545)
  deploy/amd/README.md
  website/docs/tutorials/observability/dashboard.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/observability/dashboard.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/tutorials/observability/dashboard.md
  website/src/components/site/CapabilityGlyph.tsx
  website/src/pages/index.module.css
  website/src/pages/index.tsx
  website/static/img/chat.png
  website/static/img/dashboard/config.png
  website/static/img/dashboard/grafana.png
  website/static/img/dashboard/landing.png
  website/static/img/dashboard/topology.png
  website/versioned_docs/version-v0.1/tutorials/observability/dashboard.md
Due: md-fmt

security: sanitize error responses to prevent infrastructure leakage (#1450) (#1451)
  src/semantic-router/pkg/authz/chain.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
Due: go-fmt

[CLI][CI/Build] Support isolated local stacks and harness routing (#1542)
  .agents/skills/harness/SKILL.md
  AGENTS.md
  docs/agent/environments.md
  src/vllm-sr/README.md
  src/vllm-sr/cli/commands/runtime.py
  src/vllm-sr/cli/consts.py
  src/vllm-sr/cli/core.py
  src/vllm-sr/cli/docker_services.py
  src/vllm-sr/cli/docker_start.py
  src/vllm-sr/cli/runtime_lifecycle.py
  src/vllm-sr/cli/runtime_stack.py
  src/vllm-sr/tests/test_openclaw_shared_network.py
  tools/agent/routing-fixtures.yaml
  tools/agent/scripts/agent_resolution.py
  tools/agent/scripts/agent_support.py
  tools/agent/scripts/agent_validation.py
  tools/agent/skill-registry.yaml
  tools/agent/task-matrix.yaml
  tools/make/agent.mk
Due: md-fmt, yaml-and-yml-fmt

observability: add Prometheus metric and tracing for cache write skips (#1529)
  src/semantic-router/pkg/extproc/processor_res_body_pipeline.go
  src/semantic-router/pkg/extproc/processor_res_body_streaming.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/observability/metrics/cache_metrics.go
  src/semantic-router/pkg/observability/metrics/context_token_metrics.go
  src/semantic-router/pkg/observability/metrics/image_gen_metrics.go
  src/semantic-router/pkg/observability/metrics/metrics.go
  src/semantic-router/pkg/observability/metrics/rag_metrics.go
  src/semantic-router/pkg/observability/metrics/reasoning_metrics.go
  src/semantic-router/pkg/observability/metrics/signal_decision_plugin_metrics.go
  src/semantic-router/pkg/observability/tracing/tracing.go
Due: go-fmt

fix(router): wrong /v1-suffixed OpenAI base URLs for vector store search (#1541)
  src/semantic-router/pkg/config/rag_plugin.go
  src/semantic-router/pkg/extproc/req_filter_rag_openai.go
  src/semantic-router/pkg/openai/vectorstore.go
  src/semantic-router/pkg/openai/vectorstore_test.go
Due: go-fmt

Revert "feat(domain-signal): add UseModernBERT factory branch for category cl…" (#1561)
  src/semantic-router/pkg/classification/classifier.go
Due: go-fmt

[Doc] Fix deprecated instruction for config.yaml validation command (#1554)
  src/vllm-sr/README.md
  src/vllm-sr/cli/commands/init.py
  website/docs/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/installation.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/installation/installation.md
  website/versioned_docs/version-v0.1/installation/installation.md
Due: md-fmt

fix: restore perf toolchain usability and compilation (#1560)
  perf/cmd/perftest/main.go
  perf/pkg/benchmark/runner.go
Due: go-fmt

fix(selection): make FileEloStorage dirty flag race-safe (#1580)
  src/semantic-router/pkg/selection/storage.go
Due: go-fmt
