Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

feat(decision2): register the hs1-dev development panel (HS1 dev slices, 2,400 rows) in the eval panel registry and leak audit (shared-module change, with test)
  src/training/decision2/v2/eval/leak_audit.py
  src/training/decision2/v2/eval/panels.py
  src/training/decision2/v2/eval/tests/test_panels.py
Due: none

feat(decision2): HS1 validity scorer (per-family accuracy, adopt / false-yes diagnostics, paired cluster bootstrap per prereg §7)
  src/training/decision2/v2/data/hs1/validity.py
Due: none

[Docs] Correct the x-vsr header scope and complete the zh-Hans page
  website/docs/troubleshooting/vsr-headers.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/troubleshooting/vsr-headers.md
Due: md-fmt

docs(decision2): C1 event 3 run and scored on v1.2 under P2; 3 of 3 events used, C1 post-key
  src/training/decision2/v2/eval/records/m4-c1-event3-prep-2026-09-29.md
Due: md-fmt

docs(decision2): sync sanitized program docs (COORDINATION, STATUS)
  src/training/decision2/v2/program/COORDINATION.md
  src/training/decision2/v2/program/STATUS.md
Due: md-fmt

[Website] Simplify homepage hero backdrop and center copy
  website/src/components/site/SemanticTerrainHero/index.module.css
  website/src/components/site/SemanticTerrainHero/index.tsx
Due: none

feat(decision2): HS1 build --drop-groups; quarantine the 18 groups (32 TRAIN / 4 dev rows) flagged by the PI-v4 overlap audit (A4a)
  src/training/decision2/v2/data/hs1/build.py
  src/training/decision2/v2/data/records/hs1-quarantine-a4-groups.txt
Due: none

fix(decision2): mirror_to_node.sh takes a per-mirror flock, verifies or refuses an existing target, renames with mv -T
  src/training/decision2/v2/common/mirror_to_node.sh
  src/training/decision2/v2/common/tests/test_mirror_to_node.py
Due: none

feat(decision2): JevArena-C1 v1.2 post-key successor guard (item 8)
  src/training/decision2/v2/eval/README.md
  src/training/decision2/v2/eval/gates.py
  src/training/decision2/v2/eval/sealed/c1-postkey-baselines.json
  src/training/decision2/v2/eval/sealed/c1-postkey.sh
  src/training/decision2/v2/eval/sealed/c1-postkey/dev2-0p6b-b2131337.json
  src/training/decision2/v2/eval/sealed/postkey.py
  src/training/decision2/v2/eval/sealed/score.py
  src/training/decision2/v2/eval/sealed/tests/test_postkey.py
  src/training/decision2/v2/eval/tests/test_gates.py
Due: md-fmt

fix(decision2): c1-postkey cleanup log names the plaintext it removed (prompts and/or gold)
  src/training/decision2/v2/eval/sealed/c1-postkey.sh
Due: none

docs(decision2): sync sanitized program docs (COORDINATION)
  src/training/decision2/v2/program/COORDINATION.md
Due: md-fmt

docs(decision2): C1 v1.2 post-key successor guard live; 0.6B b2131337 baseline 36.92 (vs 33.02, +3.89 [+2.16, +5.60])
  src/training/decision2/v2/eval/records/c1-postkey-guard-2026-09-29.md
  src/training/decision2/v2/eval/records/c1-postkey-guard/GATE-C1-dev2-0p6b-b2131337-vs-e61b2b44.json
  src/training/decision2/v2/eval/records/c1-postkey-guard/PARITY-smoke-dev2-0p6b-b2131337.json
  src/training/decision2/v2/eval/records/c1-postkey-guard/REPRODUCE-event3.json
  src/training/decision2/v2/eval/records/c1-postkey-guard/SUMMARY-dev2-0p6b-b2131337.json
  src/training/decision2/v2/eval/sealed/c1-postkey-baselines.json
  src/training/decision2/v2/eval/sealed/tests/test_postkey.py
Due: md-fmt

feat(decision2): c1-postkey.sh rescore (a stored sealed C1 run scored on v1.2 with the post-key label), with test
  src/training/decision2/v2/eval/sealed/c1-postkey.sh
  src/training/decision2/v2/eval/sealed/tests/test_postkey.py
Due: none

docs(decision2): register the DEV2.0-0.8B C1 v1.2 post-key baseline (40.17; event-1 run, 0 answer changes at T = 1, no collection)
  src/training/decision2/v2/eval/records/c1-postkey-guard-2026-09-29.md
  src/training/decision2/v2/eval/records/c1-postkey-guard/T1-DERIVATION-dev2-0p8b-event1.json
  src/training/decision2/v2/eval/sealed/c1-postkey-baselines.json
Due: md-fmt

research(decision2): C1 event-3 card pass: six card-only specs, final decisions and node-A runner
  src/training/decision2/v2/release/records/dev2-c1-card-pass-2026-09-29/DEV2.0-0.6B.decision.json
  src/training/decision2/v2/release/records/dev2-c1-card-pass-2026-09-29/DEV2.0-0.8B.decision.json
  src/training/decision2/v2/release/records/dev2-c1-card-pass-2026-09-29/DEV2.0-27B.decision.json
  src/training/decision2/v2/release/records/dev2-c1-card-pass-2026-09-29/DEV2.0-2B.decision.json
  src/training/decision2/v2/release/records/dev2-c1-card-pass-2026-09-29/DEV2.0-4B.decision.json
  src/training/decision2/v2/release/records/dev2-c1-card-pass-2026-09-29/DEV2.0-9B.decision.json
  src/training/decision2/v2/release/records/dev2-c1-card-pass-2026-09-29/ops/card.sh
  src/training/decision2/v2/release/records/dev2-c1-card-pass-2026-09-29/ops/make_decisions.py
  src/training/decision2/v2/release/records/dev2-c1-card-pass-2026-09-29/ops/make_specs.py
  src/training/decision2/v2/release/records/dev2-c1-card-pass-2026-09-29/receipts/nodeA-27b-replica.json
  src/training/decision2/v2/release/specs/dev2-0p6b-card-c1.json
  src/training/decision2/v2/release/specs/dev2-0p8b-card-c1.json
  src/training/decision2/v2/release/specs/dev2-27b-card-c1.json
  src/training/decision2/v2/release/specs/dev2-2b-card-c1.json
  src/training/decision2/v2/release/specs/dev2-4b-card-c1.json
  src/training/decision2/v2/release/specs/dev2-9b-card-c1.json
Due: none

[Bug] Expect the header-stage rejection in the bodyless full-duplex case
  src/semantic-router/pkg/extproc/processor_req_body_full_duplex_test.go
Due: go-fmt

feat(decision2): release builder runtime_source pins the package runtime template to an exact mirror
  src/training/decision2/v2/release/README.md
  src/training/decision2/v2/release/build.py
  src/training/decision2/v2/release/tests/test_vendor_source.py
Due: md-fmt

research(decision2): C1 card pass specs pin runtime_source (and vendor_source for 0.8B / 2B / 4B) to each release's builder mirror; preview checks non-card files
  src/training/decision2/v2/release/records/dev2-c1-card-pass-2026-09-29/DEV2.0-0.8B.decision.json
  src/training/decision2/v2/release/records/dev2-c1-card-pass-2026-09-29/DEV2.0-27B.decision.json
  src/training/decision2/v2/release/records/dev2-c1-card-pass-2026-09-29/DEV2.0-2B.decision.json
  src/training/decision2/v2/release/records/dev2-c1-card-pass-2026-09-29/DEV2.0-4B.decision.json
  src/training/decision2/v2/release/records/dev2-c1-card-pass-2026-09-29/DEV2.0-9B.decision.json
  src/training/decision2/v2/release/records/dev2-c1-card-pass-2026-09-29/ops/card.sh
  src/training/decision2/v2/release/records/dev2-c1-card-pass-2026-09-29/ops/make_specs.py
  src/training/decision2/v2/release/specs/dev2-0p8b-card-c1.json
  src/training/decision2/v2/release/specs/dev2-27b-card-c1.json
  src/training/decision2/v2/release/specs/dev2-2b-card-c1.json
  src/training/decision2/v2/release/specs/dev2-4b-card-c1.json
  src/training/decision2/v2/release/specs/dev2-9b-card-c1.json
Due: none

[Bug] Release in-flight admissions on error and panic paths
  src/semantic-router/pkg/extproc/fallback_dispatch.go
  src/semantic-router/pkg/extproc/fallback_dispatch_test.go
  src/semantic-router/pkg/extproc/processor_core.go
  src/semantic-router/pkg/extproc/processor_inflight_leak_test.go
  src/semantic-router/pkg/extproc/processor_req_body.go
  src/semantic-router/pkg/extproc/processor_req_body_prepare.go
  src/semantic-router/pkg/extproc/processor_res_semantic_stream.go
  src/semantic-router/pkg/extproc/processor_res_usage.go
  src/semantic-router/pkg/extproc/request_context.go
Due: go-fmt

[Bug] Fail closed when Envoy streams bodies the router buffers off
  src/semantic-router/pkg/extproc/processor_core.go
  src/semantic-router/pkg/extproc/processor_req_body_full_duplex_test.go
Due: go-fmt

[Bug] Fail k8s deploy when pods never become ready
  src/vllm-sr/cli/k8s_backend.py
  src/vllm-sr/tests/test_k8s_deployment_backend.py
Due: none

fix: clarify Kubernetes wait failure diagnostics
  src/vllm-sr/cli/k8s_backend.py
  src/vllm-sr/tests/test_k8s_deployment_backend.py
Due: none

research(decision2): record 9B Milestone 5 (no finalist under the preregistered alpha rule; A7 dose trades Noul rule_precedence for Score; DEV2.0-9B stands)
  src/training/decision2/v2/9b/lux9b/m5/chains/m5-um5-gpu6.sh
  src/training/decision2/v2/9b/lux9b/m5/chains/m5-um5-gpu7.sh
  src/training/decision2/v2/9b/records/lux9b-m5-result-2026-09-29.md
  src/training/decision2/v2/9b/records/m5-state.md
Due: md-fmt

fix(decision2): dq fix-pn1 weights the re-evaluated P2 by the filtered TRAIN cells (prereg m4-dq 3.6), with a margin-filter test
  src/training/decision2/v2/data/dq/blind_review.py
  src/training/decision2/v2/data/tests/test_dq.py
Due: none

research(decision2): record decoder Milestone 6 results (no successor; 4B no finalist, 2B S6X-b1_3 -1.88, 0.8B E6K-b1_3 -0.39 vs current revisions)
  src/training/decision2/v2/dec/records/dec-m6-results-2026-09-29.md
  src/training/decision2/v2/dec/records/m6-state.md
Due: md-fmt

research(decision2): DEV2.0-0.6B card-only spec and final decision with the approved post-key C1 line and declines
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/DEV2.0-0.6B.decision.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/ops/card.sh
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/ops/make.py
  src/training/decision2/v2/release/specs/dev2-0p6b-card-c1pk.json
Due: none

fix(responsestore): restore the storage Redis address helper lost in a merge
  src/semantic-router/pkg/responsestore/redis_store_test.go
Due: go-fmt

Add E2E coverage for the complexity signal
  e2e/profiles/all/imports.go
  e2e/profiles/complexity-routing/profile.go
  e2e/profiles/complexity-routing/values.yaml
  e2e/testcases/complexity_routing.go
  e2e/testcases/testdata/complexity_routing_cases.json
  tools/agent/domains.yaml
Due: go-fmt, yaml-and-yml-fmt

research(decision2): DEV2.0-0.6B 476fe984 card-only revision with the post-key C1 line verified; record and receipts
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30.md
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/extra/card-http.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/extra/collection-order.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/extra/gate-evaluate.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/extra/hub-links.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/extra/revision-diff.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/package-text/ATTRIBUTIONS.md
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/package-text/MODEL_MANIFEST.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/package-text/NOTICE
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/package-text/README.md
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/package-text/config.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/package-text/evaluation/EVALUATION.md
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/package-text/evaluation/manifest.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/build.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/card-post.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/card-pre.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/collect.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/download.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/ensure.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/gate.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/launcher.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/parity-post.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/parity-pre.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/post.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/pre-a.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/pre-b.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/readback-collected.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/readback.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/repeat-post.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/repeat-pre.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/spec.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/tree.json
  src/training/decision2/v2/release/records/dev2-0p6b-c1postkey-card-2026-09-30/0p6b/receipts/upload.json
  src/training/decision2/v2/release/records/dev2-0p6b-m8-release-2026-09-29.md
Due: md-fmt

test(responsestore): adopt the opt-in storage integration contract
  src/semantic-router/pkg/responsestore/redis_cascade_delete_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_backfill_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_index_ttl_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_proof_test.go
  src/semantic-router/pkg/responsestore/redis_conversation_store_test.go
  src/semantic-router/pkg/responsestore/redis_generation_safety_test.go
  src/semantic-router/pkg/responsestore/redis_legacy_generation_test.go
  src/semantic-router/pkg/responsestore/redis_list_cleanup_test.go
  src/semantic-router/pkg/responsestore/redis_list_test.go
  src/semantic-router/pkg/responsestore/redis_migration_test.go
  src/semantic-router/pkg/responsestore/redis_response_repair_test.go
  src/semantic-router/pkg/responsestore/redis_response_store_test.go
  src/semantic-router/pkg/responsestore/redis_scan_lease_test.go
  src/semantic-router/pkg/responsestore/redis_test_helpers_test.go
Due: go-fmt

research(decision2): HT-DEV v2 design check (formal CSS15 split-half ceiling vs the pilot three-task mean) and 58-model validation spec
  src/training/decision2/v2/eval/htdev2/__init__.py
  src/training/decision2/v2/eval/htdev2/ceiling.py
  src/training/decision2/v2/eval/records/htdev2/spec.json
Due: none

feat(decision2): 9B Milestone 6 data builds, rules and node wrappers (human-rated AutoJev soft targets on the K recipe, HS1 substitution arm, Noul rule_precedence floor, early stop), with tests
  src/training/decision2/v2/9b/README.md
  src/training/decision2/v2/9b/lux9b/m6/aj_job.sh
  src/training/decision2/v2/9b/lux9b/m6/aj_wave.sh
  src/training/decision2/v2/9b/lux9b/m6/alive.sh
  src/training/decision2/v2/9b/lux9b/m6/arm.sh
  src/training/decision2/v2/9b/lux9b/m6/chain-step.sh
  src/training/decision2/v2/9b/lux9b/m6/chains/m6-aj.sh
  src/training/decision2/v2/9b/lux9b/m6/chains/m6-gpu6.sh
  src/training/decision2/v2/9b/lux9b/m6/chains/m6-gpu7.sh
  src/training/decision2/v2/9b/lux9b/m6/data.sh
  src/training/decision2/v2/9b/lux9b/m6/derive_t1.sh
  src/training/decision2/v2/9b/lux9b/m6/early.sh
  src/training/decision2/v2/9b/lux9b/m6/formal.sh
  src/training/decision2/v2/9b/lux9b/m6/hs1.sh
  src/training/decision2/v2/9b/lux9b/m6/interp.sh
  src/training/decision2/v2/9b/lux9b/m6/job.sh
  src/training/decision2/v2/9b/lux9b/m6/launch.sh
  src/training/decision2/v2/9b/lux9b/m6/lib.sh
  src/training/decision2/v2/9b/lux9b/m6/readout.sh
  src/training/decision2/v2/9b/lux9b/m6/run_gpu.sh
  src/training/decision2/v2/9b/lux9b/m6/score.sh
  src/training/decision2/v2/9b/lux9b/m6/ship_cal.sh
  src/training/decision2/v2/9b/lux9b/m6/soup.sh
  src/training/decision2/v2/9b/lux9b/m6/upload_chain.sh
  src/training/decision2/v2/9b/lux9b/m6_data.py
  src/training/decision2/v2/9b/lux9b/m6_rules.py
  src/training/decision2/v2/9b/lux9b/specs/m6-ka-x60-ajS.json
  src/training/decision2/v2/9b/lux9b/specs/m6-kh-x60-hs1.json
  src/training/decision2/v2/9b/tests/test_m6_data.py
  src/training/decision2/v2/9b/tests/test_m6_rules.py
Due: md-fmt

research(decision2): HT-DEV v2 design check takes panel fractions and development task subsets
  src/training/decision2/v2/eval/htdev2/ceiling.py
Due: none

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
