Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

[Harness] gitattributes: store gzip files as binary
  .gitattributes
Due: none

[Feature] classification: pure-Go BM25 and n-gram keyword rules
  src/semantic-router/pkg/classification/classifier_category_entropy_test.go
  src/semantic-router/pkg/classification/keyword_classifier.go
  src/semantic-router/pkg/classification/keyword_classifier_dispatch.go
  src/semantic-router/pkg/classification/keyword_classifier_literal_boundaries_test.go
  src/semantic-router/pkg/classification/keyword_classifier_n2_test.go
  src/semantic-router/pkg/classification/keyword_nlp_test.go
  src/semantic-router/pkg/classification/lexical/bm25.go
  src/semantic-router/pkg/classification/lexical/fixtures_test.go
  src/semantic-router/pkg/classification/lexical/internal/deunicode/LICENSE
  src/semantic-router/pkg/classification/lexical/internal/deunicode/deunicode.go
  src/semantic-router/pkg/classification/lexical/internal/deunicode/deunicode_test.go
  src/semantic-router/pkg/classification/lexical/internal/deunicode/mapping.txt.gz
  src/semantic-router/pkg/classification/lexical/internal/deunicode/pointers.bin.gz
  src/semantic-router/pkg/classification/lexical/ngram.go
  src/semantic-router/pkg/classification/lexical/porter2.go
  src/semantic-router/pkg/classification/lexical/porter2_test.go
  src/semantic-router/pkg/classification/lexical/rule.go
  src/semantic-router/pkg/classification/lexical/stopwords.go
  src/semantic-router/pkg/classification/lexical/testdata/keyword_binding_fixtures.json.gz
  src/semantic-router/pkg/classification/lexical/testdata/porter2_sample.txt
  src/semantic-router/pkg/classification/lexical/tokenize.go
  src/semantic-router/pkg/promptcompression/compressor_nlp_test.go
Due: go-fmt

[Feature] modelservice: process groups, generation leases, bundles and a result cache
  src/semantic-router/pkg/modelservice/bundle.go
  src/semantic-router/pkg/modelservice/cache.go
  src/semantic-router/pkg/modelservice/cards.go
  src/semantic-router/pkg/modelservice/group.go
  src/semantic-router/pkg/modelservice/health.go
  src/semantic-router/pkg/modelservice/lease.go
  src/semantic-router/pkg/modelservice/lease_bundle_test.go
  src/semantic-router/pkg/modelservice/manager.go
  src/semantic-router/pkg/modelservice/metrics.go
  src/semantic-router/pkg/modelservice/modelservice.go
  src/semantic-router/pkg/modelservice/modelservice_test.go
  src/semantic-router/pkg/modelservice/process.go
  src/semantic-router/pkg/modelservice/runtimetest/classify.go
  src/semantic-router/pkg/modelservice/runtimetest/runtimetest.go
  src/semantic-router/pkg/modelservice/supervisor.go
Due: go-fmt

[Feature] serving: typed task bindings through model_runtime deployments
  src/semantic-router/pkg/modelruntime/serving/classify.go
  src/semantic-router/pkg/modelruntime/serving/diagnostics.go
  src/semantic-router/pkg/modelruntime/serving/lease_integration_test.go
  src/semantic-router/pkg/modelruntime/serving/operating_point.go
  src/semantic-router/pkg/modelruntime/serving/prepare.go
  src/semantic-router/pkg/modelruntime/serving/runtime.go
  src/semantic-router/pkg/modelruntime/serving/serving_test.go
  src/semantic-router/pkg/modelruntime/serving/spans.go
  src/semantic-router/pkg/modelruntime/serving/validate.go
  src/semantic-router/pkg/modelruntime/serving/windows.go
Due: go-fmt

[Feature] modelselection: pure-Go KNN, KMeans, SVM and MLP inference
  src/semantic-router/pkg/modelselection/README.md
  src/semantic-router/pkg/modelselection/artifact_native_test.go
  src/semantic-router/pkg/modelselection/kmeans.go
  src/semantic-router/pkg/modelselection/knn.go
  src/semantic-router/pkg/modelselection/mlp.go
  src/semantic-router/pkg/modelselection/native_handle_test.go
  src/semantic-router/pkg/modelselection/parity_test.go
  src/semantic-router/pkg/modelselection/persistence.go
  src/semantic-router/pkg/modelselection/persistence_test.go
  src/semantic-router/pkg/modelselection/selector.go
  src/semantic-router/pkg/modelselection/selector_test.go
  src/semantic-router/pkg/modelselection/svm.go
  src/semantic-router/pkg/modelselection/testdata/selection_binding_fixtures.json.gz
  src/semantic-router/pkg/modelselection/vector.go
  src/semantic-router/pkg/modelselection/vector_test.go
  src/semantic-router/pkg/selection/embedding_context_test.go
  src/semantic-router/pkg/selection/ml_adapter_close_test.go
Due: go-fmt, md-fmt

[Test] stores: side-by-side keyword benchmark against nlp-binding (temporary)
  src/semantic-router/pkg/classification/internal/bindingfixtures/bench_test.go
Due: go-fmt

fix(cli): validate the migrate output against the canonical schema
  src/vllm-sr/cli/commands/config.py
  src/vllm-sr/cli/commands/validate.py
  src/vllm-sr/cli/parser.py
  src/vllm-sr/tests/test_config_migrate.py
Due: none

[Harness] model-runtime: name the graph an encoder batch runs, and normalized exits
  src/model-runtime/vllm_sr_runtime/plugins/base.py
Due: none

[Harness] model-runtime: packed encoder batches from host-known row lengths
  src/model-runtime/vllm_sr_runtime/plugins/base.py
Due: none

[Feature] model-runtime: the native engine's encoder forward, packed or padded
  src/model-runtime/tests/test_modernbert.py
  src/model-runtime/vllm_sr_runtime/engines/native/engine.py
  src/model-runtime/vllm_sr_runtime/engines/native/models/modernbert.py
Due: none

[Harness] model-runtime: family-defined exact batches, branched encoders, GPU-resident weights and kernel variants in the plugin contract
  src/model-runtime/vllm_sr_runtime/plugins/base.py
  src/model-runtime/vllm_sr_runtime/profiles/exact.py
  src/model-runtime/vllm_sr_runtime/profiles/shared_context.py
  src/model-runtime/vllm_sr_runtime/scheduler/planner.py
Due: none

[Feature] model-runtime: kernel variants a model's release ran, and the encoders' additive-mask SDPA
  src/model-runtime/vllm_sr_runtime/accel/kernels.py
Due: none

[Harness] model-runtime: hash only the files a family loads
  src/model-runtime/tests/test_registry.py
  src/model-runtime/vllm_sr_runtime/registry/artifacts.py
Due: none

[Feature] model-runtime: pooled and relevance heads for embeddings and rerank
  src/model-runtime/tests/test_embed_heads.py
  src/model-runtime/vllm_sr_runtime/heads/pooled.py
  src/model-runtime/vllm_sr_runtime/heads/relevance.py
  src/model-runtime/vllm_sr_runtime/testing/embed_packages.py
Due: none

[Feature] model-runtime: the native engine runs branched encoders, GPU-resident weights and kernel variants
  src/model-runtime/vllm_sr_runtime/engines/native/engine.py
  src/model-runtime/vllm_sr_runtime/engines/native/weights.py
Due: none

[Feature] model-runtime: Decision-1.0-Eos's FP64-accumulate convolution on gfx942
  src/model-runtime/vllm_sr_runtime/accel/rocm.py
  src/model-runtime/vllm_sr_runtime/accel/triton_fp64_conv.py
Due: none

[Refactor] model-runtime: the segmented candidate-endpoint prompt is shared text
  src/model-runtime/tests/test_reference_parity.py
  src/model-runtime/tests/test_renderer.py
  src/model-runtime/vllm_sr_runtime/families/decision2/family.py
  src/model-runtime/vllm_sr_runtime/text/segments.py
Due: none

[Harness] model-runtime: digests of named package files, links only inside the Hub cache
  src/model-runtime/vllm_sr_runtime/registry/artifacts.py
Due: none

[Feature] model-runtime: hash named package files for packages without a manifest
  src/model-runtime/vllm_sr_runtime/registry/artifacts.py
Due: none

[Harness] model-runtime: a tree forward in the engine contract (a prefix once, blocks from it)
  src/model-runtime/vllm_sr_runtime/plugins/base.py
Due: none

[Bug] Refuse an unpaired surrogate in a runtime request as invalid
  src/model-runtime/tests/test_api_contract.py
  src/model-runtime/vllm_sr_runtime/api/app.py
Due: none

[Bug] Drop a queued runtime job when its client disconnects
  src/model-runtime/docs/design.md
  src/model-runtime/tests/test_api_contract.py
  src/model-runtime/tests/test_scheduler.py
  src/model-runtime/vllm_sr_runtime/api/app.py
  src/model-runtime/vllm_sr_runtime/scheduler/scheduler.py
Due: md-fmt

[Feature] model-runtime: pin the seven Decision 1.0 packages
  src/model-runtime/vllm_sr_runtime/registry/tables/decision1.py
Due: none

[Feature] model-runtime: the native engine's tree forward over the shared-context machinery
  src/model-runtime/vllm_sr_runtime/engines/native/engine.py
Due: none

[Feature] model-runtime: marker and span heads (Vela 2.0 readouts)
  src/model-runtime/vllm_sr_runtime/heads/marker.py
  src/model-runtime/vllm_sr_runtime/heads/span.py
Due: none

[Feature] model-runtime: typed marker heads
  src/model-runtime/vllm_sr_runtime/heads/typed.py
Due: none

[Feature] model-runtime: vela2 requests: typed parts, over, presets and per-question errors
  src/model-runtime/vllm_sr_runtime/families/vela2/request.py
Due: none

[Feature] model-runtime: embed engine bench for embeddings and rerank
  src/model-runtime/tools/embed_bench.py
Due: none

[Feature] model-runtime: the decision1 family serves the seven Decision 1.0 packages
  src/model-runtime/tests/test_decision1_engine.py
  src/model-runtime/tests/test_decision1_package.py
  src/model-runtime/tests/test_decision1_requests.py
  src/model-runtime/tests/test_decision1_runtimes.py
  src/model-runtime/vllm_sr_runtime/families/decision1/answers.py
  src/model-runtime/vllm_sr_runtime/families/decision1/family.py
  src/model-runtime/vllm_sr_runtime/families/decision1/model.py
  src/model-runtime/vllm_sr_runtime/families/decision1/package.py
  src/model-runtime/vllm_sr_runtime/families/decision1/questions.py
  src/model-runtime/vllm_sr_runtime/families/decision1/qwen.py
  src/model-runtime/vllm_sr_runtime/families/decision1/vela.py
  src/model-runtime/vllm_sr_runtime/testing/decision1.py
Due: none

[Feature] model-runtime: vela2 word units, span decoder and calibration (PII length rule, sparse gate)
  src/model-runtime/vllm_sr_runtime/families/vela2/calibration.py
  src/model-runtime/vllm_sr_runtime/families/vela2/words.py
Due: none

docs(decision2): sync sanitized program docs (COORDINATION)
  src/training/decision2/v2/program/COORDINATION.md
Due: md-fmt

[Feature] model-runtime: vela2 layouts: 0.3B marker sequences and windows, 4B / 9B trees with span windows
  src/model-runtime/vllm_sr_runtime/families/vela2/decoder_layout.py
  src/model-runtime/vllm_sr_runtime/families/vela2/dispatch.py
  src/model-runtime/vllm_sr_runtime/families/vela2/encoder_layout.py
  src/model-runtime/vllm_sr_runtime/families/vela2/layout.py
  src/model-runtime/vllm_sr_runtime/families/vela2/raw.py
Due: none

[Feature] model-runtime: the vela2 family: verification, members, System One answers with spans and sets
  src/model-runtime/vllm_sr_runtime/families/vela2/answers.py
  src/model-runtime/vllm_sr_runtime/families/vela2/family.py
  src/model-runtime/vllm_sr_runtime/families/vela2/members.py
  src/model-runtime/vllm_sr_runtime/families/vela2/package.py
Due: none

[Feature] model-runtime: tiny Vela 2.0 fixture packages (encoder and decoder)
  src/model-runtime/vllm_sr_runtime/testing/vela2.py
Due: none

[Docs] model-runtime: task-first user guide for the built-in model runtime
  website/docs/installation/native-backends.md
  website/docs/installation/runtime/embeddings.md
  website/docs/installation/runtime/in-process.md
  website/docs/installation/runtime/lifecycle-diagnostics.md
  website/docs/installation/runtime/openvino.md
  website/docs/installation/runtime/safety.md
  website/docs/model-runtime/choose-a-model.md
  website/docs/model-runtime/deploy.md
  website/docs/model-runtime/guides/classify.md
  website/docs/model-runtime/guides/decisions.md
  website/docs/model-runtime/guides/embeddings.md
  website/docs/model-runtime/guides/hallucination.md
  website/docs/model-runtime/guides/multimodal.md
  website/docs/model-runtime/guides/pii.md
  website/docs/model-runtime/guides/rerank.md
  website/docs/model-runtime/guides/safety.md
  website/docs/model-runtime/migrate.md
  website/docs/model-runtime/overview.md
  website/docs/model-runtime/plugins.md
  website/docs/model-runtime/profiles.md
  website/docs/model-runtime/quickstart.md
  website/docs/model-runtime/reference.md
  website/docs/model-runtime/troubleshooting.md
  website/docs/tutorials/algorithm/selection/decision.md
  website/docs/tutorials/global/model-runtime.md
  website/docs/tutorials/signal/learned/decision.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/native-backends.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/runtime/embeddings.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/runtime/in-process.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/runtime/lifecycle-diagnostics.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/runtime/safety.md
Due: md-fmt

[Feature] Session tool-set state model, storage contracts, and trusted identity resolver (#3347 phase 1) (#3391)
  config/config.yaml
  config/fragments/plugin/tool-selection/sticky-add-from-database.yaml
  dashboard/frontend/src/lib/dslPluginSchemas.ts
  dashboard/frontend/src/lib/dslSchemas.ts
  src/semantic-router/pkg/config/canonical_export.go
  src/semantic-router/pkg/config/canonical_global.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/reference_config_global_test.go
  src/semantic-router/pkg/config/tool_selection_plugin.go
  src/semantic-router/pkg/config/tool_selection_plugin_validation.go
  src/semantic-router/pkg/config/tool_selection_plugin_validation_test.go
  src/semantic-router/pkg/config/tool_session_store.go
  src/semantic-router/pkg/config/tool_session_store_test.go
  src/semantic-router/pkg/config/tool_session_store_validation.go
  src/semantic-router/pkg/config/validator_dispatch.go
  src/semantic-router/pkg/configschema/router-config-v0.3.schema.json
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/extproc/router_build.go
  src/semantic-router/pkg/extproc/router_build_test.go
  src/semantic-router/pkg/extproc/session_transition.go
  src/semantic-router/pkg/extproc/session_transition_test.go
  src/semantic-router/pkg/extproc/sticky_tool_identity.go
  src/semantic-router/pkg/extproc/sticky_tool_identity_test.go
  src/semantic-router/pkg/sessiontools/state.go
  src/semantic-router/pkg/sessiontools/state_test.go
  src/semantic-router/pkg/sessiontools/store.go
  src/semantic-router/pkg/sessiontools/store_memory.go
  src/semantic-router/pkg/sessiontools/store_memory_test.go
  src/semantic-router/pkg/tools/fingerprint.go
  src/semantic-router/pkg/tools/fingerprint_test.go
  src/vllm-sr/cli/models.py
  tools/agent/docs/architecture/state-taxonomy-and-inventory.md
  tools/agent/docs/plans/pl-0042-sticky-tool-selection.md
  website/docs/tutorials/plugin/tool-selection.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Docs] website: replace the native-backend pages with the model runtime section
  website/docs/installation/amd-rocm.md
  website/docs/installation/model-configuration.md
  website/docs/installation/runtime/external.md
  website/docs/training/classifier-models.md
  website/docs/training/mmbert-32k-models.md
  website/docs/training/mmbert-safety-classifier.md
  website/docs/training/training-overview.md
  website/docs/tutorials/global/overview.md
  website/docs/tutorials/global/vela-models.md
  website/docs/tutorials/plugin/response-cache.md
  website/docs/tutorials/signal/learned/classifier.md
  website/docs/tutorials/signal/learned/embedding.md
  website/docs/tutorials/signal/learned/safety.md
  website/docusaurus.config.ts
  website/i18n/translation-coverage-baseline.txt
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/model-configuration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/runtime/external.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/classifier-models.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/mmbert-32k-models.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/mmbert-safety-classifier.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/training-overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/global/overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/global/vela-models.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/plugin/response-cache.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/learned/classifier.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/learned/embedding.md
  website/sidebars.ts
Due: md-fmt

[Feature] model-runtime: vela2 parity tool against the packages' own engine
  src/model-runtime/tools/vela2_parity.py
Due: none

[Feature] model-runtime: lint the vela2 fixtures and parity tool
  src/model-runtime/tools/vela2_parity.py
  src/model-runtime/vllm_sr_runtime/testing/vela2.py
Due: none

[Feature] vllm-sr: config migrate creates only the blocks it fills
  src/vllm-sr/cli/commands/config.py
  src/vllm-sr/cli/config_migration.py
  src/vllm-sr/cli/config_migration_global.py
Due: none

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
