Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

fix: add golangci-lint exclusions for pre-existing violations
  tools/linter/go/.golangci.agent.yml
Due: yaml-and-yml-fmt

fix: add golangci-lint exclusions for pre-existing violations (#1701)
  tools/linter/go/.golangci.agent.yml
Due: yaml-and-yml-fmt

project: update OWNERS with team
  .github/workflows/owner-notification.yml
  CODEOWNERS
  OWNER
  bench/OWNER
  candle-binding/OWNER
  dashboard/OWNER
  deploy/OWNER
  docs/OWNER
  e2e/OWNER
  e2e/testing/OWNER
  ml-binding/OWNER
  nlp-binding/OWNER
  onnx-binding/OWNER
  paper/OWNER
  perf/OWNER
  scripts/OWNER
  src/OWNER
  src/fleet-sim/OWNER
  src/semantic-router/OWNER
  src/training/OWNER
  src/training/model_classifier/OWNER
  src/vllm-sr/OWNER
  tools/OWNER
  website/OWNER
  website/i18n/zh-Hans/code.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/OWNER
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/OWNER
  website/src/components/TeamCarousel/index.tsx
  website/src/pages/community/team.tsx
  website/versioned_docs/version-v0.1/OWNER
Due: yaml-and-yml-fmt

align PR template with vLLM style
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  docs/agent/README.md
  tools/agent/skills/maintainer-issue-pr-management/SKILL.md
Due: md-fmt

Apply suggestions from code review
  dashboard/OWNER
Due: none

update
  dashboard/OWNER
  src/semantic-router/OWNER
  src/vllm-sr/OWNER
  website/src/pages/community/team.tsx
Due: none

project: update OWNERS with team (#1703)
  .github/workflows/owner-notification.yml
  CODEOWNERS
  OWNER
  bench/OWNER
  candle-binding/OWNER
  dashboard/OWNER
  deploy/OWNER
  docs/OWNER
  e2e/OWNER
  e2e/testing/OWNER
  ml-binding/OWNER
  nlp-binding/OWNER
  onnx-binding/OWNER
  paper/OWNER
  perf/OWNER
  scripts/OWNER
  src/OWNER
  src/fleet-sim/OWNER
  src/semantic-router/OWNER
  src/training/OWNER
  src/training/model_classifier/OWNER
  src/vllm-sr/OWNER
  tools/OWNER
  website/OWNER
  website/i18n/zh-Hans/code.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/OWNER
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/version-v0.1/OWNER
  website/src/components/TeamCarousel/index.tsx
  website/src/pages/community/team.tsx
  website/versioned_docs/version-v0.1/OWNER
Due: yaml-and-yml-fmt

align PR template with vLLM style (#1704)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  docs/agent/README.md
  tools/agent/skills/maintainer-issue-pr-management/SKILL.md
Due: md-fmt

Polish Playground queue and streaming UX
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ChatComponentCitations.tsx
  dashboard/frontend/src/components/ChatComponentConversationViewport.tsx
  dashboard/frontend/src/components/ChatComponentMessages.tsx
  dashboard/frontend/src/components/ChatTaskQueue.tsx
  dashboard/frontend/src/components/ThinkingBlock.tsx
  dashboard/frontend/src/components/chatStreamingFrameSync.ts
  dashboard/frontend/src/components/chatTaskExecution.ts
  dashboard/frontend/src/components/chatTaskToolLoop.ts
  dashboard/frontend/src/components/useChatTranscriptAutoScroll.ts
Due: none

Refine Playground queue and session streaming UX
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ChatTaskQueue.module.css
  dashboard/frontend/src/components/ChatTaskQueue.tsx
  dashboard/frontend/src/components/chatTaskExecution.ts
  dashboard/frontend/src/components/chatTaskToolLoop.ts
Due: none

feat(playground): add built-in time math and weather tools
  dashboard/backend/handlers/weather.go
  dashboard/backend/handlers/weather_test.go
  dashboard/backend/router/core_routes.go
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/src/components/ChatComponentToolCards.tsx
  dashboard/frontend/src/components/chatToolCardPresentation.ts
  dashboard/frontend/src/tools/executors/calculate.ts
  dashboard/frontend/src/tools/executors/currentTime.ts
  dashboard/frontend/src/tools/executors/weather.ts
  dashboard/frontend/src/tools/index.ts
  dashboard/frontend/src/tools/types.ts
  src/vllm-sr/cli/templates/tools_db.json
Due: go-fmt

fix(playground): preserve tool failures in follow-up loops
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/chatResponseParsing.ts
  dashboard/frontend/src/pages/insightsPageToolTrace.tsx
  dashboard/frontend/src/tools/toolResultSupport.ts
Due: none

test(playground): stabilize follow-up loop assertion
  dashboard/frontend/e2e/playground.spec.ts
Due: none

Add Playground queue and polish chat UX
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ChatComponentCitations.tsx
  dashboard/frontend/src/components/ChatComponentInputBar.tsx
  dashboard/frontend/src/components/ChatComponentMessages.tsx
  dashboard/frontend/src/components/ChatComponentTypes.ts
  dashboard/frontend/src/components/ChatTaskQueue.module.css
  dashboard/frontend/src/components/ChatTaskQueue.tsx
  dashboard/frontend/src/components/MarkdownRenderer.module.css
  dashboard/frontend/src/components/MarkdownRenderer.tsx
  dashboard/frontend/src/components/ThinkingAnimation.module.css
  dashboard/frontend/src/hooks/index.ts
  dashboard/frontend/src/hooks/usePlaygroundQueue.ts
Due: none

Refactor the docstring for the CI requirements
  src/fleet-sim/fleet_sim/optimizer/__init__.py
  src/fleet-sim/fleet_sim/optimizer/analytical.py
  src/fleet-sim/fleet_sim/optimizer/grid_flex.py
  src/fleet-sim/fleet_sim/optimizer/tpw.py
Due: none

feat: add playground builtins support (#1705)
  dashboard/backend/handlers/weather.go
  dashboard/backend/handlers/weather_test.go
  dashboard/backend/router/core_routes.go
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ChatComponentCitations.tsx
  dashboard/frontend/src/components/ChatComponentConversationViewport.tsx
  dashboard/frontend/src/components/ChatComponentInputBar.tsx
  dashboard/frontend/src/components/ChatComponentMessages.tsx
  dashboard/frontend/src/components/ChatComponentToolCards.tsx
  dashboard/frontend/src/components/ChatComponentTypes.ts
  dashboard/frontend/src/components/ChatTaskQueue.module.css
  dashboard/frontend/src/components/ChatTaskQueue.tsx
  dashboard/frontend/src/components/MarkdownRenderer.module.css
  dashboard/frontend/src/components/MarkdownRenderer.tsx
  dashboard/frontend/src/components/ThinkingAnimation.module.css
  dashboard/frontend/src/components/ThinkingBlock.tsx
  dashboard/frontend/src/components/chatResponseParsing.ts
  dashboard/frontend/src/components/chatStreamingFrameSync.ts
  dashboard/frontend/src/components/chatTaskExecution.ts
  dashboard/frontend/src/components/chatTaskToolLoop.ts
  dashboard/frontend/src/components/chatToolCardPresentation.ts
  dashboard/frontend/src/components/useChatTranscriptAutoScroll.ts
  dashboard/frontend/src/hooks/index.ts
  dashboard/frontend/src/hooks/usePlaygroundQueue.ts
  dashboard/frontend/src/pages/insightsPageToolTrace.tsx
  dashboard/frontend/src/tools/executors/calculate.ts
  dashboard/frontend/src/tools/executors/currentTime.ts
  dashboard/frontend/src/tools/executors/weather.ts
  dashboard/frontend/src/tools/index.ts
  dashboard/frontend/src/tools/toolResultSupport.ts
  dashboard/frontend/src/tools/types.ts
  src/vllm-sr/cli/templates/tools_db.json
Due: go-fmt

update
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/classification/embedding_classifier_test.go
  tools/agent/scripts/router_calibration_loop.py
  tools/agent/scripts/router_calibration_support.py
  tools/agent/scripts/router_calibration_support_test.py
  tools/agent/skills/routing-calibration-loop/SKILL.md
Due: go-fmt, md-fmt

update
  src/semantic-router/pkg/classification/classifier_signal_group_similarity.go
  src/semantic-router/pkg/classification/embedding_classifier.go
  src/semantic-router/pkg/classification/embedding_classifier_preload_support.go
  src/semantic-router/pkg/classification/prototype_scoring.go
Due: go-fmt

Fix dashboard flows and unblock pre-commit
  dashboard/backend/router/proxy_routes.go
  dashboard/backend/router/router_replay_redaction.go
  dashboard/backend/router/router_replay_redaction_test.go
  dashboard/frontend/e2e/auth-flow.spec.ts
  dashboard/frontend/e2e/playground.spec.ts
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ChatComponentCitations.tsx
  dashboard/frontend/src/components/chatTaskExecution.ts
  dashboard/frontend/src/components/chatTaskToolLoop.ts
  dashboard/frontend/src/pages/InsightsRecordPage.tsx
  dashboard/frontend/src/pages/insightsPageSupport.tsx
  dashboard/frontend/src/pages/insightsPageToolTrace.tsx
  dashboard/frontend/src/utils/accessControl.ts
  tools/agent/scripts/router_calibration_support_test.py
Due: go-fmt

add test case
  ml-binding/ml_binding_race_test.go
Due: go-fmt

[Bugfix](ml-binding): add missing RLock in ToJSON() for all three selectors (#1690)
  ml-binding/ml_binding.go
  ml-binding/ml_binding_race_test.go
Due: go-fmt

fix: resolve model config by provider model ID
  src/semantic-router/pkg/config/canonical_config.go
  src/semantic-router/pkg/config/canonical_loader_test.go
  src/semantic-router/pkg/config/helper.go
Due: go-fmt

fix: resolve all 24 gosec lint violations
  src/semantic-router/pkg/apiserver/kb_store.go
  src/semantic-router/pkg/apiserver/route_config_deploy.go
  src/semantic-router/pkg/apiserver/route_config_runtime_sync_test.go
  src/semantic-router/pkg/apiserver/route_files.go
  src/semantic-router/pkg/apiserver/route_router_config_update.go
  src/semantic-router/pkg/authz/authz_test.go
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/classification/keyword_classifier_structural_test.go
  src/semantic-router/pkg/config/docs_contract_test.go
  src/semantic-router/pkg/config/fragment_catalog_test.go
  src/semantic-router/pkg/dsl/cli.go
  src/semantic-router/pkg/memory/milvus_store.go
  src/semantic-router/pkg/selection/storage.go
Due: go-fmt

feat: migrate to official Go SDK types for protocol compatibility (#1550)
  docs/agent/architecture-guardrails.md
  docs/agent/tech-debt/README.md
  docs/agent/tech-debt/td-038-custom-chat-completions-structs.md
  src/semantic-router/pkg/anthropic/compat_test.go
  src/semantic-router/pkg/classification/vllm_client.go
  src/semantic-router/pkg/extproc/openai_compat_test.go
  src/semantic-router/pkg/extproc/req_filter_response_api.go
  src/semantic-router/pkg/extproc/req_filter_response_api_test.go
  src/semantic-router/pkg/mcp/types.go
  src/semantic-router/pkg/mcp/types_test.go
  src/semantic-router/pkg/modelselection/benchmark_runner.go
  src/semantic-router/pkg/responseapi/roundtrip_test.go
  src/semantic-router/pkg/responseapi/translator.go
  src/semantic-router/pkg/responseapi/translator_test.go
  tools/agent/repo-manifest.yaml
  tools/agent/structure-rules.yaml
Due: go-fmt, md-fmt, yaml-and-yml-fmt

chore: ratchet structural hotspot debt
  docs/agent/tech-debt/td-006-structural-rule-target-vs-legacy-hotspots.md
  tools/agent/structure-rules.yaml
  tools/linter/go/.golangci.agent.yml
Due: md-fmt, yaml-and-yml-fmt

[Dashboard] Shorten OpenClaw MCP tool names
  dashboard/backend/mcp/types.go
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ChatComponentToolCards.tsx
  dashboard/frontend/src/components/ChatComponentTypes.ts
  dashboard/frontend/src/tools/mcp/api.ts
  dashboard/frontend/src/tools/mcp/index.ts
  dashboard/frontend/src/tools/mcp/mcpToolBridge.ts
Due: go-fmt

chore: align agent prelint with CI branch gate
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/agent/tech-debt/td-006-structural-rule-target-vs-legacy-hotspots.md
  docs/agent/testing-strategy.md
  tools/agent/structure-rules.yaml
  tools/make/pre-commit.mk
Due: md-fmt, yaml-and-yml-fmt

fix: resolve model config by provider model ID (#1708)
  src/semantic-router/pkg/config/canonical_config.go
  src/semantic-router/pkg/config/canonical_loader_test.go
  src/semantic-router/pkg/config/helper.go
Due: go-fmt

feat: support model runtime
  README.md
  src/semantic-router/pkg/logo/logo.go
  src/semantic-router/pkg/logo/logo_test.go
  src/vllm-sr/Dockerfile
  src/vllm-sr/cli/logo.py
  src/vllm-sr/cli/runtime_topology.py
  src/vllm-sr/tests/test_dashboard_dockerfile_surface.py
  src/vllm-sr/tests/test_local_dev_make_surface.py
  src/vllm-sr/tests/test_logo.py
  src/vllm-sr/uv.lock
Due: go-fmt, md-fmt

feat(cache,memory): replace custom ChatCompletion types with official Go SDK
  docs/agent/tech-debt/td-038-custom-chat-completions-structs.md
  src/semantic-router/pkg/cache/cache.go
  src/semantic-router/pkg/cache/cache_extract_test.go
  src/semantic-router/pkg/cache/sdk_compat_test.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/memory_helpers.go
  src/semantic-router/pkg/extproc/memory_helpers_chat_completions_test.go
  src/semantic-router/pkg/extproc/memory_helpers_test.go
  src/semantic-router/pkg/memory/extractor.go
  src/semantic-router/pkg/memory/extractor_test.go
  src/semantic-router/pkg/memory/types.go
  tools/agent/structure-rules.yaml
  tools/linter/go/.golangci.agent.yml
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat(cache,memory): replace custom ChatCompletion types with official Go SDK (#1712)
  docs/agent/tech-debt/td-038-custom-chat-completions-structs.md
  src/semantic-router/pkg/cache/cache.go
  src/semantic-router/pkg/cache/cache_extract_test.go
  src/semantic-router/pkg/cache/sdk_compat_test.go
  src/semantic-router/pkg/extproc/extproc_test.go
  src/semantic-router/pkg/extproc/memory_helpers.go
  src/semantic-router/pkg/extproc/memory_helpers_chat_completions_test.go
  src/semantic-router/pkg/extproc/memory_helpers_test.go
  src/semantic-router/pkg/memory/extractor.go
  src/semantic-router/pkg/memory/extractor_test.go
  src/semantic-router/pkg/memory/types.go
  tools/agent/structure-rules.yaml
  tools/linter/go/.golangci.agent.yml
Due: go-fmt, md-fmt, yaml-and-yml-fmt

refactor(milvus): share lifecycle across stores
  src/semantic-router/pkg/cache/host_normalization.go
  src/semantic-router/pkg/cache/milvus_cache.go
  src/semantic-router/pkg/cache/redis_cache.go
  src/semantic-router/pkg/cache/valkey_cache.go
  src/semantic-router/pkg/cache/valkey_cache_integration_test.go
  src/semantic-router/pkg/memory/milvus_store.go
  src/semantic-router/pkg/milvus/lifecycle.go
  src/semantic-router/pkg/routerreplay/store/milvus.go
  src/semantic-router/pkg/vectorstore/milvus_backend.go
  tools/agent/structure-rules.yaml
Due: go-fmt, yaml-and-yml-fmt
