Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

feat(decision): prototype Sol ROCm backbone graphs
  src/vllm-sr/cli/commands/drun.py
  src/vllm-sr/cli/decision_runtime/catalog.py
  src/vllm-sr/cli/decision_runtime/catalog_adapter.py
  src/vllm-sr/cli/decision_runtime/lifecycle.py
  src/vllm-sr/decision_runtime/entrypoint.py
  src/vllm-sr/decision_runtime/qwen35_rocm_binder.py
  src/vllm-sr/decision_runtime/qwen35_rocm_graph.py
  src/vllm-sr/decision_runtime/qwen35_torch.py
  src/vllm-sr/decision_runtime/runtime_factory.py
  src/vllm-sr/tests/test_decision_drun.py
  src/vllm-sr/tests/test_decision_drun_catalog_adapter.py
  src/vllm-sr/tests/test_decision_qwen35_rocm_binder.py
  src/vllm-sr/tests/test_decision_qwen35_rocm_graph.py
  src/vllm-sr/tests/test_decision_qwen35_rocm_graph_model.py
  src/vllm-sr/tests/test_decision_qwen35_torch_contract.py
  src/vllm-sr/tests/test_decision_runtime_server.py
  website/docs/api/cli.md
Due: md-fmt

fix(decision): fall back to eager on graph parity mismatch
  src/vllm-sr/decision_runtime/qwen35_rocm_graph.py
  src/vllm-sr/tests/test_decision_qwen35_rocm_graph.py
Due: none

[Docs] Refine Hermes model table and community section
  website/blog/2026-09-24-v0.4-vllm-sr-hermes-release.md
Due: md-fmt

fix(decision): accept versioned snapshot code filenames
  tools/ci/decision-perf-release-gate.md
  tools/ci/decision_perf_release_producer.py
  tools/ci/tests/test_decision_perf_release_producer.py
Due: md-fmt

[Docs] Explain Hermes routing core and Decision models
  website/blog/2026-09-24-v0.4-vllm-sr-hermes-release.md
  website/static/img/blog/vllm/2026-09-24-v0.4-hermes-release/core-routing-pipeline.png
Due: md-fmt

[Feature] Register Vela Shield as a selectable safety model next to Vela Safety (#4071)
  e2e/pkg/framework/prebuilt_profiles_test.go
  e2e/profiles/all/imports.go
  e2e/profiles/vela-shield/profile.go
  e2e/profiles/vela-shield/profile_test.go
  e2e/profiles/vela-shield/values.yaml
  e2e/testcases/vela_shield.go
  e2e/testcases/vela_shield_test.go
  src/semantic-router/pkg/config/registry.go
  src/semantic-router/pkg/config/registry_vela_test.go
  src/semantic-router/pkg/config/vela_shield_selection_test.go
  src/semantic-router/pkg/modeldownload/vela_shield_test.go
  src/training/model_eval/constants.py
  tools/agent/domains.yaml
  tools/ci/tests/test_model_contract_selection.py
  tools/ci/tests/test_pr_change_classifier.py
  tools/ci/verification_catalog.yaml
  website/docs/installation/runtime/safety.md
  website/docs/training/model-catalog.md
  website/docs/tutorials/signal/learned/safety.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/training/model-catalog.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Add E2E coverage for the structure signal (#4056)
  e2e/profiles/all/imports.go
  e2e/profiles/structure-routing/profile.go
  e2e/profiles/structure-routing/values.yaml
  e2e/testcases/structure_routing.go
  e2e/testcases/testdata/structure_routing_cases.json
  tools/agent/domains.yaml
Due: go-fmt, yaml-and-yml-fmt

Record provider dispatch receipts in Router Replay (#4050)
  e2e/testcases/router_replay_restart_recovery.go
  src/semantic-router/pkg/apiserver/route_router_replay_test.go
  src/semantic-router/pkg/extproc/processor_dispatch_replay_test.go
  src/semantic-router/pkg/extproc/processor_req_body_routing.go
  src/semantic-router/pkg/extproc/recorder_route_diagnostics.go
  src/semantic-router/pkg/extproc/request_context.go
  src/semantic-router/pkg/routerreplay/recorder.go
  src/semantic-router/pkg/routerreplay/redaction/redaction.go
  src/semantic-router/pkg/routerreplay/redaction/redaction_test.go
  src/semantic-router/pkg/routerreplay/store/prepared_dispatch_test.go
  src/semantic-router/pkg/routerreplay/store/store.go
  tools/test/services/provider-mocker/provider_mocker/chat.py
  tools/test/services/provider-mocker/provider_mocker/images.py
  tools/test/services/provider-mocker/provider_mocker/messages.py
  tools/test/services/provider-mocker/provider_mocker/provider_boundary.py
  tools/test/services/provider-mocker/provider_mocker/responses.py
  tools/test/services/provider-mocker/tests/test_provider_contract.py
  website/docs/tutorials/plugin/router-replay.md
  website/static/openapi/apiserver/apiserver.openapi.json
Due: go-fmt, md-fmt

feat(decision): expose Sol graph replay diagnostics
  src/vllm-sr/decision_runtime/metrics.py
  src/vllm-sr/decision_runtime/qwen35_rocm_graph.py
  src/vllm-sr/decision_runtime/qwen35_torch.py
  src/vllm-sr/decision_runtime/runtime_factory.py
  src/vllm-sr/tests/test_decision_qwen35_rocm_graph.py
  src/vllm-sr/tests/test_decision_runtime_server.py
Due: none

[Docs] Detail Hermes routing pipeline improvements
  website/blog/2026-09-24-v0.4-vllm-sr-hermes-release.md
Due: md-fmt

fix(decision): gate release on per-model throughput parity
  tools/ci/decision-perf-release-gate.md
  tools/ci/decision_perf_release_gate.py
  tools/ci/tests/test_decision_perf_release_gate.py
Due: md-fmt

fix(decision): bound row credits through backend drain
  src/vllm-sr/decision_runtime/api.py
  src/vllm-sr/decision_runtime/physical_batching.py
  src/vllm-sr/decision_runtime/row_executor.py
  src/vllm-sr/decision_runtime/runtime_factory.py
  src/vllm-sr/decision_runtime/scheduler.py
  src/vllm-sr/tests/test_decision_physical_batching.py
  src/vllm-sr/tests/test_decision_runtime_api.py
  src/vllm-sr/tests/test_decision_runtime_engine.py
  src/vllm-sr/tests/test_decision_runtime_server.py
Due: none

[Feature] Build blinded pairwise judge tasks from a comparison manifest
  src/semantic-router/pkg/shadowdataset/judging.go
  src/semantic-router/pkg/shadowdataset/judging_test.go
Due: go-fmt

feat(decision): attest graph variant in paired release proof
  bench/decision_runtime/README.md
  bench/decision_runtime/semantic_metrics.py
  bench/decision_runtime/test_semantic.py
  tools/ci/decision-perf-release-gate.md
  tools/ci/decision_perf_release_gate.py
  tools/ci/decision_perf_release_producer.py
  tools/ci/tests/test_decision_perf_release_gate.py
  tools/ci/tests/test_decision_perf_release_producer.py
Due: md-fmt

test(decision): assert canonical graph metric error code
  bench/decision_runtime/test_semantic.py
Due: none

[Docs] Add Ariadne next steps and Decision demos
  website/blog/2026-09-22-introduce-decision.md
  website/blog/2026-09-24-v0.4-vllm-sr-hermes-release.md
  website/static/img/blog/decision-1-0/nox-4b-robot-arm-poster.png
  website/static/img/blog/vllm/2026-09-24-v0.4-hermes-release/ariadne-next.png
  website/static/videos/decision-1-0/decision-1-0-nox-4b-robot-arm.mp4
Due: md-fmt

test(cli): make fingerprint cache revalidation deterministic
  src/vllm-sr/tests/test_sr_bench_dataset_fingerprints.py
Due: none

fix(decision): require high-load parity in every model cell
  tools/ci/decision-perf-release-gate.md
  tools/ci/decision_perf_release_gate.py
  tools/ci/tests/test_decision_perf_release_gate.py
Due: md-fmt

test(decision): reject compensated high-load loss
  tools/ci/tests/test_decision_perf_release_gate.py
Due: none

fix(vectorstore): validate memory embedding dimensions (#3991)
  src/semantic-router/pkg/vectorstore/memory_backend.go
  src/semantic-router/pkg/vectorstore/memory_backend_test.go
Due: go-fmt

[Docs] Name the three routing layers around Semantic Router
  website/docs/installation/k8s/gateway-testing.md
  website/docs/installation/k8s/llm-d.md
  website/docs/installation/k8s/production-stack.md
  website/docs/overview/semantic-router-overview.md
  website/src/pages/index.module.css
  website/src/pages/index.tsx
Due: md-fmt

[Feature] Add MiMo V2.6 Flash to the Xiaomi catalog
  config/catalog/README.md
  config/catalog/manifest.yaml
  config/catalog/resources/evaluations/single/xiaomi.yaml
  config/catalog/resources/models/single/xiaomi.yaml
  config/catalog/resources/providers/xiaomi.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Feature] Admit Kimi Linear 48B A3B Instruct to the Model Card catalog
  config/catalog/README.md
  config/catalog/resources/evaluations/single/moonshot.yaml
  config/catalog/resources/models/single/moonshot.yaml
  config/catalog/resources/providers/vllm.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

feat(decision): add paired fixed-arrival benchmark mode
  bench/decision_runtime/README.md
  bench/decision_runtime/semantic_arrivals.py
  bench/decision_runtime/semantic_runner.py
  bench/decision_runtime/test_semantic_arrivals.py
Due: md-fmt

feat(decision): validate paired arrival timed semantics
  bench/decision_runtime/README.md
  bench/decision_runtime/semantic_arrival_parity.py
  bench/decision_runtime/semantic_arrivals.py
  bench/decision_runtime/test_semantic_arrivals.py
Due: md-fmt

fix(decision): queue bursty drun requests behind row credits
  src/vllm-sr/cli/decision_runtime/catalog_adapter.py
  src/vllm-sr/tests/test_decision_drun_catalog_adapter.py
Due: none

fix(decision): bind new timed arrivals to own audit
  bench/decision_runtime/README.md
  bench/decision_runtime/semantic_arrival_parity.py
  bench/decision_runtime/test_semantic_arrivals.py
Due: md-fmt

[Feature] Add DeepSeek V4.1 Flash to the model catalog
  config/catalog/README.md
  config/catalog/resources/evaluations/single/deepseek.yaml
  config/catalog/resources/models/single/deepseek.yaml
  config/catalog/resources/providers/deepseek.yaml
  config/catalog/resources/providers/vllm.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/compiler_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Feature] Add Cohere North Micro Vision Instruct model card
  config/catalog/README.md
  config/catalog/resources/evaluations/single/cohere.yaml
  config/catalog/resources/models/single/cohere.yaml
  config/catalog/resources/providers/vllm.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Feature] Add Nemotron-Cascade-8B to the NVIDIA Model Card catalog
  config/catalog/README.md
  config/catalog/resources/evaluations/single/nvidia.yaml
  config/catalog/resources/models/single/nvidia.yaml
  config/catalog/resources/providers/vllm.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  tools/catalog/tests/test_generate_model_catalog.py
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(decision): hard floor every paired throughput cell
  tools/ci/decision-perf-release-gate.md
  tools/ci/decision_perf_release_gate.py
  tools/ci/tests/test_decision_perf_release_gate.py
Due: md-fmt

[Feature] Add Seed2.0 Lite to the built-in Model Card catalog
  config/catalog/README.md
  config/catalog/resources/evaluations/single/bytedance.yaml
  config/catalog/resources/models/single/bytedance.yaml
  config/catalog/resources/providers/volcengine-ark.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(decision): bind c1 throughput to timed semantic evidence
  bench/decision_runtime/README.md
  bench/decision_runtime/semantic_runner.py
  bench/decision_runtime/test_semantic.py
  tools/ci/decision-perf-release-gate.md
  tools/ci/decision_perf_release_gate.py
  tools/ci/decision_timed_semantics.py
  tools/ci/tests/test_decision_perf_release_gate.py
Due: md-fmt

[CI/Build] Include dashboard backend dependencies
  dashboard/backend/Dockerfile
Due: none

Admit Gemini 3.1 Pro to the built-in model catalog
  config/catalog/README.md
  config/catalog/resources/evaluations/single/google.yaml
  config/catalog/resources/models/single/google.yaml
  config/catalog/resources/providers/gemini.yaml
  config/recipes/built-in/latest/catalog.yaml
  dashboard/backend/handlers/model_catalog_test.go
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  src/semantic-router/pkg/config/canonical_catalog_capabilities_test.go
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
