Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

fix: require a restart for tracing configuration changes
  src/semantic-router/pkg/apiserver/route_router_config_tracing_test.go
  src/semantic-router/pkg/apiserver/route_router_config_update.go
  website/docs/api/apiserver.md
Due: go-fmt, md-fmt

fix: classify diagnostic input limits as client errors
  src/semantic-router/pkg/apiserver/route_classify.go
  src/semantic-router/pkg/apiserver/route_diagnostic_input_limit_test.go
  src/semantic-router/pkg/apiserver/route_embeddings.go
  website/docs/api/apiserver.md
Due: go-fmt, md-fmt

fix: reconcile local tracing with minimal stack lifecycle
  src/vllm-sr/cli/commands/runtime_observability.py
  src/vllm-sr/cli/commands/runtime_paths.py
  src/vllm-sr/cli/commands/runtime_serve_config.py
  src/vllm-sr/tests/test_runtime_observability.py
Due: none

fix: preserve package integrity and recover tracing projections
  src/vllm-sr/cli/commands/runtime_observability.py
  src/vllm-sr/cli/commands/runtime_paths.py
  src/vllm-sr/cli/commands/runtime_serve_config.py
  src/vllm-sr/tests/test_runtime_observability.py
Due: none

fix: bound Vault context probes by the triage input budget
  config/recipes/built-in/latest/catalog.yaml
  config/recipes/built-in/latest/mom-v1/README.md
  config/recipes/built-in/latest/mom-v1/probes.yaml
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  tools/dev/router-calibration/router_calibration_fixture_test.py
  website/docs/overview/mom-model-family.md
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Perf] Apply native math thread tuning to all deployments
  src/semantic-router/cmd/main.go
  src/semantic-router/cmd/runtime_tuning_test.go
Due: go-fmt

fix: stop owned observability services when switching to minimal
  src/vllm-sr/cli/core.py
  src/vllm-sr/tests/test_runtime_observability.py
  src/vllm-sr/tests/test_runtime_stack_naming.py
  src/vllm-sr/tests/test_split_runtime_backend_provisioning.py
  src/vllm-sr/tests/test_split_runtime_stack.py
Due: none

fix: open selected runtime model details from dashboard
  dashboard/frontend/e2e/model-inventory.spec.ts
  dashboard/frontend/src/components/RouterModelInventory.tsx
  dashboard/frontend/src/pages/DashboardPage.tsx
Due: none

fix: preserve optional catalog metadata in dashboard responses
  dashboard/backend/handlers/model_catalog_roundtrip_test.go
  dashboard/frontend/src/utils/modelCatalogApi.test.ts
  src/semantic-router/pkg/catalog/types.go
Due: go-fmt

fix: omit model card HTML from runtime descriptions
  dashboard/frontend/e2e/model-inventory.spec.ts
  dashboard/frontend/src/components/RouterModelInventory.tsx
Due: none

fix(looper): harden workflow state claim, resume, and store fencing
  src/semantic-router/pkg/extproc/req_filter_looper.go
  src/semantic-router/pkg/extproc/router_service_generation_test.go
  src/semantic-router/pkg/extproc/server.go
  src/semantic-router/pkg/extproc/server_workflow_lifecycle_test.go
  src/semantic-router/pkg/looper/looper.go
  src/semantic-router/pkg/looper/workflows.go
  src/semantic-router/pkg/looper/workflows_state_store.go
  src/semantic-router/pkg/looper/workflows_state_store_test.go
  src/semantic-router/pkg/looper/workflows_tool_resume.go
  src/semantic-router/pkg/looper/workflows_tool_state.go
  src/semantic-router/pkg/modelruntime/native/runtime.go
Due: go-fmt

chore: gofmt router_build after main merge
  src/semantic-router/pkg/extproc/router_build.go
Due: go-fmt

Support ModernBERT in generic classifier bindings
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/generic_classifier.rs
  candle-binding/src/ffi/init.rs
  candle-binding/src/ffi/instances/tests.rs
  candle-binding/src/ffi/instances/tests/generic_classifier_tests.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/model_architectures/traditional/bert.rs
  candle-binding/tests/generic_classifier_cpu.rs
  src/semantic-router/pkg/classification/generic_classifier_local_test.go
  website/docs/tutorials/signal/learned/classifier.md
Due: go-fmt, md-fmt, cargo-fmt, cargo-check

Fix error shadowing in the local classifier regression
  src/semantic-router/pkg/classification/generic_classifier_local_test.go
Due: go-fmt

feat: add per-backend circuit breaker for remote classifiers
  config/config.yaml
  src/semantic-router/pkg/classification/circuit_breaker.go
  src/semantic-router/pkg/classification/circuit_breaker_logging.go
  src/semantic-router/pkg/classification/circuit_breaker_metrics.go
  src/semantic-router/pkg/classification/circuit_breaker_test.go
  src/semantic-router/pkg/classification/classifier_option_backends.go
  src/semantic-router/pkg/config/classifier_backend.go
  src/semantic-router/pkg/config/classifier_backend_test.go
  src/semantic-router/pkg/config/model_config_types.go
Due: go-fmt, yaml-and-yml-fmt

fix: address reviewer inline comments on circuit breaker
  src/semantic-router/pkg/classification/circuit_breaker.go
  src/semantic-router/pkg/classification/circuit_breaker_test.go
  src/semantic-router/pkg/config/classifier_backend.go
Due: go-fmt

fix: address all 5 reviewer feedback items on circuit breaker
  src/semantic-router/pkg/classification/circuit_breaker.go
  src/semantic-router/pkg/classification/circuit_breaker_logging.go
  src/semantic-router/pkg/classification/circuit_breaker_metrics.go
  src/semantic-router/pkg/classification/circuit_breaker_test.go
  src/semantic-router/pkg/config/classifier_backend.go
  src/semantic-router/pkg/config/validator_prompt_guard.go
  src/semantic-router/pkg/config/validator_prompt_guard_test.go
Due: go-fmt

fix: address remaining state-machine blockers (stale generation, classifier timeout)
  src/semantic-router/pkg/classification/circuit_breaker.go
  src/semantic-router/pkg/classification/circuit_breaker_test.go
Due: go-fmt

fix: gci import grouping in circuit_breaker_test.go
  src/semantic-router/pkg/classification/circuit_breaker_test.go
Due: go-fmt

restore .github to fork main state
  .github/workflows/dashboard-test.yml
  .github/workflows/docker-validate.yml
  .github/workflows/integration-test-k8s.yml
  .github/workflows/integration-test-vllm-sr-cli.yml
  .github/workflows/main.yml
  .github/workflows/operator-ci.yml
  .github/workflows/pr.yml
  .github/workflows/pre-commit.yml
  .github/workflows/precommit-publish.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/test-and-build.yml
Due: yaml-and-yml-fmt

commit 4 of 5
  src/semantic-router/pkg/classification/circuit_breaker.go
  src/semantic-router/pkg/classification/circuit_breaker_logging.go
  src/semantic-router/pkg/classification/circuit_breaker_metrics.go
  src/semantic-router/pkg/classification/circuit_breaker_test.go
  src/semantic-router/pkg/config/classifier_backend.go
  src/semantic-router/pkg/config/validator_prompt_guard.go
  src/semantic-router/pkg/config/validator_prompt_guard_test.go
Due: go-fmt

commit 5 of 5
  src/semantic-router/pkg/classification/circuit_breaker.go
  src/semantic-router/pkg/classification/circuit_breaker_test.go
Due: go-fmt

commit 2 of 5
  config/config.yaml
  src/semantic-router/pkg/classification/circuit_breaker.go
  src/semantic-router/pkg/classification/circuit_breaker_logging.go
  src/semantic-router/pkg/classification/circuit_breaker_metrics.go
  src/semantic-router/pkg/classification/circuit_breaker_test.go
  src/semantic-router/pkg/classification/classifier_option_backends.go
  src/semantic-router/pkg/config/classifier_backend.go
  src/semantic-router/pkg/config/classifier_backend_test.go
  src/semantic-router/pkg/config/model_config_types.go
Due: go-fmt, yaml-and-yml-fmt

commit 1 of 5: feat: add per-backend circuit breaker
  src/semantic-router/pkg/classification/classifier_option_backends.go
  src/semantic-router/pkg/config/validator_prompt_guard_test.go
Due: go-fmt

[Bug] Open selected runtime model details from Dashboard (#3834)
  dashboard/frontend/e2e/model-inventory.spec.ts
  dashboard/frontend/src/components/RouterModelInventory.tsx
  dashboard/frontend/src/pages/DashboardPage.tsx
Due: none

Validate global config before Kubernetes startup
  src/semantic-router/cmd/runtime_config_validation_test.go
  src/semantic-router/pkg/config/classifier_backend_complexity.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_dispatch.go
  src/semantic-router/pkg/config/validator_dispatch_test.go
  src/semantic-router/pkg/config/validator_test.go
  src/semantic-router/pkg/k8s/reconciler.go
  src/semantic-router/pkg/k8s/reconciler_embedding_modality_test.go
  website/docs/installation/configuration-contract.md
Due: go-fmt, md-fmt

Add deployed single-shadow failure-isolation coverage
  deploy/kubernetes/router-replay/mock-vllm.yaml
  e2e/README.md
  e2e/profiles/router-replay/profile.go
  e2e/profiles/router-replay/values.yaml
  e2e/testcases/shadow_dispatch_capture.go
  e2e/testcases/shadow_dispatch_failure_isolation.go
  e2e/testcases/shadow_dispatch_fixture.go
  e2e/testcases/shadow_dispatch_fixture_test.go
  tools/agent/domains.yaml
  tools/mock-vllm/Dockerfile
  tools/mock-vllm/README.md
  tools/mock-vllm/app.py
  tools/mock-vllm/shadow_control.py
  tools/mock-vllm/tests/test_shadow_control.py
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix(protocolcodec): report stream usage omissions
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_provider_extensions_test.go
  src/semantic-router/pkg/protocolcodec/codec_openai_chat_response.go
  src/semantic-router/pkg/protocolcodec/stream_chat.go
Due: go-fmt

[Bug] Require explicit catalog bindings for CLI reasoning validation
  src/vllm-sr/cli/validator_reasoning.py
  src/vllm-sr/tests/test_reasoning_controls.py
Due: none

[Bug] Load ModernBERT in generic classifier bindings (#3837)
  candle-binding/src/ffi/classify.rs
  candle-binding/src/ffi/generic_classifier.rs
  candle-binding/src/ffi/init.rs
  candle-binding/src/ffi/instances/tests.rs
  candle-binding/src/ffi/instances/tests/generic_classifier_tests.rs
  candle-binding/src/ffi/mod.rs
  candle-binding/src/model_architectures/traditional/bert.rs
  candle-binding/tests/generic_classifier_cpu.rs
  src/semantic-router/pkg/classification/generic_classifier_local_test.go
  website/docs/tutorials/signal/learned/classifier.md
Due: go-fmt, md-fmt, cargo-fmt, cargo-check

Validate deployment definitions before compiling routing bindings
  src/semantic-router/cmd/runtime_bootstrap_test.go
  src/semantic-router/cmd/runtime_config_validation_test.go
  src/semantic-router/pkg/config/classifier_backend.go
  src/semantic-router/pkg/config/classifier_backend_complexity.go
  src/semantic-router/pkg/config/model_deployments.go
  src/semantic-router/pkg/config/safety_signal.go
  src/semantic-router/pkg/config/validator.go
  src/semantic-router/pkg/config/validator_dispatch.go
  src/semantic-router/pkg/config/validator_dispatch_test.go
  src/semantic-router/pkg/config/validator_pii_backend.go
  src/semantic-router/pkg/config/validator_prompt_guard.go
  src/semantic-router/pkg/k8s/reconciler_embedding_modality_test.go
  website/docs/installation/configuration-contract.md
Due: go-fmt, md-fmt

Add three dated Together serverless model mappings
  config/catalog/resources/providers/together.yaml
  config/recipes/built-in/latest/catalog.yaml
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  tools/catalog/tests/test_generate_model_catalog.py
  website/static/model-catalog/catalog.json
Due: go-fmt, yaml-and-yml-fmt

fix: bound Vault context probes by the triage input budget (#3830)
  config/recipes/built-in/latest/catalog.yaml
  config/recipes/built-in/latest/mom-v1/README.md
  config/recipes/built-in/latest/mom-v1/probes.yaml
  src/semantic-router/pkg/catalog/zz_generated_catalog.go
  tools/dev/router-calibration/router_calibration_fixture_test.py
  website/docs/overview/mom-model-family.md
  website/static/model-catalog/catalog.json
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix: preserve custom classifier model input policies
  src/semantic-router/pkg/classification/classifier_jailbreak_window_default.go
  src/semantic-router/pkg/classification/classifier_jailbreak_window_default_test.go
  src/semantic-router/pkg/classification/classifier_model_runtime.go
  src/semantic-router/pkg/classification/classifier_pii_window_default.go
  src/semantic-router/pkg/classification/classifier_pii_window_test.go
  src/vllm-sr/tests/test_vela_runtime_model_policy.py
Due: go-fmt

fix: require a restart for tracing configuration changes (#3827)
  src/semantic-router/pkg/apiserver/route_router_config_tracing_test.go
  src/semantic-router/pkg/apiserver/route_router_config_update.go
  website/docs/api/apiserver.md
Due: go-fmt, md-fmt

fix: classify diagnostic input limits as client errors (#3828)
  src/semantic-router/pkg/apiserver/route_classify.go
  src/semantic-router/pkg/apiserver/route_diagnostic_input_limit_test.go
  src/semantic-router/pkg/apiserver/route_embeddings.go
  website/docs/api/apiserver.md
Due: go-fmt, md-fmt

[Bug] Report active prepared model bindings in the inventory (#3825)
  dashboard/frontend/e2e/model-inventory.spec.ts
  dashboard/frontend/src/components/RouterModelInventory.tsx
  dashboard/frontend/src/components/routerModelInventorySupport.test.ts
  dashboard/frontend/src/components/routerModelInventorySupport.ts
  dashboard/frontend/src/pages/DashboardPage.tsx
  dashboard/frontend/src/utils/routerRuntime.ts
  src/semantic-router/pkg/apiserver/route_model_info.go
  src/semantic-router/pkg/apiserver/route_model_info_prepared.go
  src/semantic-router/pkg/apiserver/route_model_info_prepared_test.go
  src/semantic-router/pkg/apiserver/route_model_info_runtime.go
  src/semantic-router/pkg/classification/classifier_inventory.go
  src/semantic-router/pkg/classification/remote_task_binding.go
  src/semantic-router/pkg/modelinventory/types.go
  src/semantic-router/pkg/modelruntime/binding/inventory.go
  src/semantic-router/pkg/modelruntime/binding/inventory_test.go
  src/semantic-router/pkg/modelruntime/binding/resource.go
  src/semantic-router/pkg/modelruntime/binding/task.go
  src/semantic-router/pkg/modelruntime/native/inventory_test.go
  src/semantic-router/pkg/modelruntime/native/runtime.go
  src/semantic-router/pkg/services/classification_inventory.go
  website/docs/api/apiserver.md
Due: go-fmt, md-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
