Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

md-fmt:
  name: md fmt
  entry: bash -c "make markdown-lint"
  language: system

yaml-and-yml-fmt:
  name: yaml/yml fmt
  entry: bash -c "make markdown-lint"
  language: system

js-lint:
  name: js lint
  entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: bash -c 'cd candle-binding && cargo check'
  language: system
  pass_filenames: false

fix: reduce projectionOutputBandCenter cyclomatic complexity
  src/semantic-router/pkg/classification/classifier_projections.go
Due: go-fmt

feat: enable voice support feature in the playground (#1810)
  dashboard/frontend/src/components/ChatComponent.module.css
  dashboard/frontend/src/components/ChatComponent.tsx
  dashboard/frontend/src/components/ChatComponentInputBar.tsx
  dashboard/frontend/src/hooks/useSpeechDictation.ts
Due: none

docs(i18n): update zh-Hans
  website/docs/overview/collective-intelligence.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/collective-intelligence.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/goals.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/semantic-router-overview.md
Due: md-fmt

docs(i18n): update zh-Hans (#1821)
  website/docs/overview/collective-intelligence.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/collective-intelligence.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/goals.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/semantic-router-overview.md
Due: md-fmt

fix(cache): replace timestamp-based fake randomness with math/rand/v2 in HNSW
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/hybrid_cache_hnsw.go
  src/semantic-router/pkg/cache/inmemory_cache.go
Due: go-fmt

fix(cache): replace timestamp-based fake randomness with math/rand/v2 in HNSW (#1822)
  src/semantic-router/pkg/cache/cache_test.go
  src/semantic-router/pkg/cache/hybrid_cache_hnsw.go
  src/semantic-router/pkg/cache/inmemory_cache.go
Due: go-fmt

[Bugfix](valkey): Pre-check search module version before FT.CREATE
  src/semantic-router/pkg/cache/valkey_cache.go
  src/semantic-router/pkg/memory/valkey_store.go
  src/semantic-router/pkg/utils/valkey/version.go
  src/semantic-router/pkg/utils/valkey/version_test.go
  src/semantic-router/pkg/vectorstore/valkey_backend.go
Due: go-fmt

ctx chain
  src/semantic-router/pkg/memory/valkey_store.go
Due: go-fmt

fix intergration test with valkey
  src/semantic-router/pkg/cache/valkey_cache_integration_edge_test.go
  src/semantic-router/pkg/cache/valkey_cache_integration_test.go
Due: go-fmt

fix lint
  src/semantic-router/pkg/cache/valkey_cache.go
  src/semantic-router/pkg/memory/valkey_store.go
Due: go-fmt

feat: support session-backed and lookup-backed signals in the routing DSL
  config/config.yaml
  config/signal/session-metric/cost-pressure.yaml
  config/signal/session-metric/handoff-penalty.yaml
  src/semantic-router/pkg/classification/classifier_projections.go
  src/semantic-router/pkg/classification/classifier_signal_context.go
  src/semantic-router/pkg/classification/classifier_signal_eval.go
  src/semantic-router/pkg/classification/reask_classifier_test.go
  src/semantic-router/pkg/classification/session_lookup_runtime.go
  src/semantic-router/pkg/classification/session_lookup_runtime_test.go
  src/semantic-router/pkg/config/canonical_config.go
  src/semantic-router/pkg/config/canonical_export.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/docs_contract_signal_test.go
  src/semantic-router/pkg/config/reference_config_public_surface_test.go
  src/semantic-router/pkg/config/reference_config_routing_surface_test.go
  src/semantic-router/pkg/config/routing_surface_catalog.go
  src/semantic-router/pkg/config/signal_config.go
  src/semantic-router/pkg/config/validator_projection.go
  src/semantic-router/pkg/decision/engine.go
  src/semantic-router/pkg/dsl/compiler.go
  src/semantic-router/pkg/dsl/compiler_signal_dispatch.go
  src/semantic-router/pkg/dsl/decompiler.go
  src/semantic-router/pkg/dsl/routing_contract.go
  src/semantic-router/pkg/dsl/session_lookup_signals_test.go
  src/semantic-router/pkg/dsl/validator.go
  src/semantic-router/pkg/dsl/validator_conflicts.go
  src/semantic-router/pkg/dsl/validator_session_lookup.go
  src/semantic-router/pkg/services/classification.go
  src/semantic-router/pkg/services/classification_signal_contract.go
  website/docs/tutorials/signal/heuristic/session-metric.md
  website/sidebars.ts
Due: go-fmt, md-fmt, yaml-and-yml-fmt

fix: FULL_DUPLEX_STREAMED + streamed immediate response
  src/semantic-router/pkg/looper/base.go
  src/semantic-router/pkg/looper/confidence.go
  src/semantic-router/pkg/looper/ratings.go
  src/semantic-router/pkg/looper/remom.go
  src/semantic-router/pkg/looper/rl_driven.go
Due: go-fmt

fix CI issue
  src/semantic-router/pkg/looper/remom.go
Due: go-fmt

feat: split operator config contract across schema, validation, and canonical translation
  deploy/operator/api/v1alpha1/AGENTS.md
  deploy/operator/api/v1alpha1/semanticrouter_types.go
  deploy/operator/api/v1alpha1/semanticrouter_types_config_cache_family.go
  deploy/operator/api/v1alpha1/semanticrouter_types_config_embeddings_family.go
  deploy/operator/api/v1alpha1/semanticrouter_types_config_modules_family.go
  deploy/operator/api/v1alpha1/semanticrouter_types_config_routing_family.go
  deploy/operator/api/v1alpha1/semanticrouter_types_config_services_family.go
  deploy/operator/api/v1alpha1/semanticrouter_types_config_spec.go
  deploy/operator/api/v1alpha1/semanticrouter_webhook.go
  deploy/operator/api/v1alpha1/semanticrouter_webhook_validation.go
  deploy/operator/api/v1alpha1/zz_generated.deepcopy.go
  deploy/operator/controllers/AGENTS.md
  deploy/operator/controllers/canonical_config_builder.go
  deploy/operator/controllers/canonical_operator_config_translate.go
Due: go-fmt, md-fmt

fix
  deploy/operator/controllers/semanticrouter_controller.go
Due: go-fmt

config: lazy-validate default knowledge bases (#1829)
  src/semantic-router/pkg/config/taxonomy_config_test.go
  src/semantic-router/pkg/config/validator_projection.go
  src/semantic-router/pkg/config/validator_taxonomy.go
Due: go-fmt

feat: add anthropic thinking - add looping selected model header
  src/semantic-router/pkg/extproc/req_filter_looper_internal.go
  src/semantic-router/pkg/extproc/req_filter_looper_test.go
Due: go-fmt

feat: add anthropic thinking - add looping code path
  src/semantic-router/pkg/extproc/req_filter_looper_internal.go
Due: go-fmt

fix
  .github/workflows/operator-ci.yml
Due: yaml-and-yml-fmt

feat: implement hybrid history-aware retriever strategy
  config/config.yaml
  src/semantic-router/pkg/config/model_config_types.go
  src/semantic-router/pkg/config/reference_config_global_test.go
  src/semantic-router/pkg/config/tool_retrieval.go
  src/semantic-router/pkg/config/validator_tool_filtering.go
  src/semantic-router/pkg/extproc/req_filter_tools.go
  src/semantic-router/pkg/extproc/request_signal_history.go
  src/semantic-router/pkg/extproc/request_signal_history_test.go
  src/semantic-router/pkg/tools/hybrid_history.go
  src/semantic-router/pkg/tools/hybrid_history_test.go
  src/semantic-router/pkg/tools/relevance.go
Due: go-fmt, yaml-and-yml-fmt

🐠 fix model failover, move lua functions 🐠
  src/semantic-router/pkg/anthropic/client.go
  src/semantic-router/pkg/anthropic/client_test.go
Due: go-fmt

🐠 fix model failover, move lua functions 🐠
  src/semantic-router/pkg/anthropic/client.go
Due: go-fmt

fix(extproc): wrap background goroutines with panic recovery (#1843)
  src/semantic-router/pkg/extproc/processor_res_memory.go
  src/semantic-router/pkg/extproc/req_filter_modality.go
  src/semantic-router/pkg/extproc/router_selection.go
  src/semantic-router/pkg/extproc/safego.go
  src/semantic-router/pkg/extproc/safego_test.go
  src/semantic-router/pkg/extproc/server.go
Due: go-fmt

fix(binding): handle long prompt without oom
  candle-binding/semantic-router_test.go
  candle-binding/src/model_architectures/traditional/modernbert.rs
  candle-binding/src/model_architectures/traditional/modernbert_test.rs
  candle-binding/test_data/long_prompt_fixtures.json
  onnx-binding/src/model_architectures/classification/mmbert_classifier.rs
  onnx-binding/test_data/long_prompt_fixtures.json
  src/semantic-router/pkg/extproc/processor_core.go
  src/semantic-router/pkg/extproc/processor_core_panic_test.go
  src/semantic-router/pkg/extproc/processor_res_memory.go
  src/semantic-router/pkg/extproc/req_filter_modality.go
  src/semantic-router/pkg/extproc/router_selection.go
  src/semantic-router/pkg/extproc/server.go
Due: go-fmt, cargo-fmt, cargo-check

lint
  src/semantic-router/pkg/extproc/processor_core_panic_test.go
Due: go-fmt

feat: support hierarchical projection composition and dependency ordering (#1758)
  dashboard/frontend/src/pages/ConfigPageProjectionsSection.tsx
  src/semantic-router/pkg/classification/classifier_projections.go
  src/semantic-router/pkg/classification/classifier_projections_test.go
  src/semantic-router/pkg/classification/classifier_signal_eval.go
  src/semantic-router/pkg/config/validator_projection.go
  src/semantic-router/pkg/config/validator_projection_test.go
  src/semantic-router/pkg/dsl/validator_conflicts.go
  src/semantic-router/pkg/dsl/validator_projection_deps.go
  src/vllm-sr/cli/models.py
  src/vllm-sr/cli/validator.py
  website/docs/tutorials/projection/scores.md
Due: go-fmt, md-fmt

upd
  src/semantic-router/pkg/extproc/request_signal_history_test.go
  src/semantic-router/pkg/tools/hybrid_history.go
Due: go-fmt

feature: wire dynamic retriever into extproc tool selection flow
  src/semantic-router/pkg/config/tools_plugin.go
  src/semantic-router/pkg/extproc/req_filter_tools.go
  src/semantic-router/pkg/extproc/req_filter_tools_observability_test.go
  src/semantic-router/pkg/extproc/req_filter_tools_retriever_e2e_test.go
  src/semantic-router/pkg/extproc/router.go
  src/semantic-router/pkg/headers/headers.go
  src/semantic-router/pkg/observability/metrics/metrics.go
  src/semantic-router/pkg/tools/embedding_retriever.go
  src/semantic-router/pkg/tools/retriever.go
  src/semantic-router/pkg/tools/retriever_test.go
Due: go-fmt

fix: bound tool-trace step count to prevent router OOM (#1835)
  config/config.yaml
  config/plugin/router-replay/debug.yaml
  src/semantic-router/pkg/config/plugin_config.go
  src/semantic-router/pkg/config/plugin_router_replay_support.go
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/routerreplay/recorder.go
  src/semantic-router/pkg/routerreplay/recorder_test.go
  src/semantic-router/pkg/routerreplay/store/store.go
Due: go-fmt, yaml-and-yml-fmt

lint
  candle-binding/semantic-router_test.go
Due: go-fmt

Path conditions:
  go-fmt: any of: \.go$
  md-fmt: any of: \.md$, but not: ^(\node_modules/|CLAUDE\.md)
  yaml-and-yml-fmt: any of: \.(yaml|yml)$, but not: ^(\node_modules/)
  js-lint: any of: \.js$, but not: ^(\node_modules/)
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
