Repository vllm-project/semantic-router: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, md-fmt, yaml-and-yml-fmt, js-lint, cargo-fmt, cargo-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
# Basic hooks for Go, Rust, Python And JavaScript files only
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    files: \.(go|rs|py|js)$
  - id: end-of-file-fixer
    files: \.(go|rs|py|js)$
  - id: check-added-large-files
    args: ['--maxkb=500']
    files: \.(go|rs|py|js)$

# Go specific hooks
- repo: local
  hooks:
  - id: go-fmt
    name: go fmt
    entry: gofmt -w
    language: system
    files: \.go$

# Markdown specific hooks
- repo: local
  hooks:
  - id: md-fmt
    name: md fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.md$
    exclude: ^(\node_modules/|CLAUDE\.md)

# Yaml specific hooks
- repo: local
  hooks:
  - id: yaml-and-yml-fmt
    name: yaml/yml fmt
    entry: bash -c "make markdown-lint"
    language: system
    files: \.(yaml|yml)$
    exclude: ^(\node_modules/)

# JavaScript specific hooks
- repo: local
  hooks:
  - id: js-lint
    name: js lint
    entry: bash -c 'cd website && npm install 2>/dev/null || true && npm run lint'
    language: system
    files: \.js$
    exclude: ^(\node_modules/)
    pass_filenames: false

# Rust specific hooks
- repo: local
  hooks:
  - id: cargo-fmt
    name: cargo fmt
    entry: bash -c 'cd candle-binding && rustup component add rustfmt 2>/dev/null || true && cargo fmt'
    language: system
    files: \.rs$
    pass_filenames: false
  - id: cargo-check
    name: cargo check
    entry: bash -c 'cd candle-binding && cargo check'
    language: system
    files: \.rs$
    pass_filenames: false

# Python specific hooks
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black
    language_version: python3
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
  - id: isort
    args: ["--profile", "black"]
    files: \.py$
    exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

# Commented out flake8 - only reports issues, doesn't auto-fix
# -   repo: https://github.com/PyCQA/flake8
#     rev: 7.3.0
#     hooks:
#     -   id: flake8
#         args: ['--max-line-length=88', '--extend-ignore=E203,W503']
#         files: \.py$
#         exclude: ^(\.venv/|venv/|env/|__pycache__/|\.git/|site/)

[Router] preserve YAML-only policy across DSL delivery
  src/semantic-router/pkg/dsl/emitter_yaml.go
  src/semantic-router/pkg/dsl/merge_policy_preservation.go
  src/semantic-router/pkg/dsl/recipe_delivery_contract_test.go
Due: go-fmt

[Dashboard] present routing metadata as readable labels
  dashboard/frontend/src/components/HeaderDisplay.tsx
  dashboard/frontend/src/components/HeaderMetadata.test.tsx
  dashboard/frontend/src/components/HeaderReveal.tsx
  dashboard/frontend/src/components/routingMetadataDisplay.test.ts
  dashboard/frontend/src/components/routingMetadataDisplay.ts
  dashboard/frontend/src/pages/ConfigPageEntrypointsRecipesSection.tsx
  dashboard/frontend/src/pages/ConfigPageMoMTopologyDialog.tsx
  dashboard/frontend/src/pages/ConfigPageSignalsSection.tsx
  dashboard/frontend/src/pages/InsightsPage.tsx
  dashboard/frontend/src/pages/builderPageDashboardViews.tsx
  dashboard/frontend/src/pages/builderPageVisualShell.tsx
  dashboard/frontend/src/pages/configPageDecisionTable.tsx
  dashboard/frontend/src/pages/insightsPageSupport.tsx
  dashboard/frontend/src/pages/topology/components/CustomNodes/DecisionNode.tsx
  dashboard/frontend/src/pages/topology/utils/ruleTree.ts
Due: none

[Docs] record complete looper and recipe acceptance
  website/blog/2026-08-05-multi-objective-mom-on-amd-developer-cloud.md
Due: md-fmt

[Router] validate all maintained recipe boundaries
  config/recipes/README.md
  config/recipes/accuracy/README.md
  config/recipes/accuracy/config.yaml
  config/recipes/accuracy/probes.yaml
  config/recipes/accuracy/recipe.dsl
  config/recipes/agent/README.md
  config/recipes/agent/config.yaml
  config/recipes/agent/probes.yaml
  config/recipes/balance/README.md
  config/recipes/balance/config.yaml
  config/recipes/balance/probes.yaml
  config/recipes/balance/recipe.dsl
  config/recipes/feedback/README.md
  config/recipes/feedback/config.yaml
  config/recipes/feedback/probes.yaml
  config/recipes/knowledge/README.md
  config/recipes/knowledge/config.yaml
  config/recipes/knowledge/probes.yaml
  config/recipes/multi-objective/probes.yaml
  config/recipes/privacy/README.md
  config/recipes/privacy/config.yaml
  config/recipes/privacy/probes.yaml
  config/recipes/privacy/recipe.dsl
  src/semantic-router/pkg/config/maintained_asset_contract_test.go
  src/semantic-router/pkg/config/maintained_recipe_probe_contract_test.go
  src/semantic-router/pkg/config/maintained_recipe_runtime_contract_test.go
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[CLI] format rebased runtime support coverage
  src/vllm-sr/tests/test_runtime_support.py
Due: none

[Router] make recipe boundaries deterministic under stress
  config/recipes/multi-objective/README.md
  config/recipes/multi-objective/config.yaml
  config/recipes/multi-objective/probes.yaml
  config/recipes/multi-objective/recipe.dsl
Due: md-fmt, yaml-and-yml-fmt

[Router] reconcile replay recipe schema after rebase
  src/semantic-router/pkg/routerreplay/store/postgres.go
  src/semantic-router/pkg/routerreplay/store/postgres_recipe_column_test.go
  src/semantic-router/pkg/routerreplay/store/postgres_record_row.go
Due: go-fmt

[Dashboard] fix unreadable dropdown options in the user dialog (#2827)
  dashboard/frontend/src/app/graphiteThemeContract.test.ts
  dashboard/frontend/src/pages/UsersPageUserDialog.module.css
Due: none

[CLI] split dashboard bootstrap runtime tests
  src/vllm-sr/tests/test_runtime_dashboard_bootstrap.py
  src/vllm-sr/tests/test_runtime_support.py
Due: none

Download aliased model paths to the directory the runtime loads
  src/semantic-router/pkg/modeldownload/config_parser.go
  src/semantic-router/pkg/modeldownload/feature_gates.go
  src/semantic-router/pkg/modeldownload/model_path_alias_test.go
Due: go-fmt

test(looper): harden state store assertions and fix OpenVINO lint
  src/semantic-router/pkg/classification/category_kb_embeddings.go
  src/semantic-router/pkg/classification/classifier_category_init.go
  src/semantic-router/pkg/classification/classifier_option_rules.go
  src/semantic-router/pkg/classification/embedding_classifier_backend.go
  src/semantic-router/pkg/looper/workflows_state_store_test.go
Due: go-fmt

test(e2e): allow valid semantic cache reuse
  e2e/testcases/testdata/plugin_config_cases.json
Due: none

fix(cache): honor canonical store in local runtime
  src/vllm-sr/cli/service_defaults.py
  src/vllm-sr/tests/test_storage_backends.py
  website/docusaurus.config.ts
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/api/crd-reference.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/community/translation-guide.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/configuration.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/dynamo.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/operator.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/collective-intelligence.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/overview/semantic-router-overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/proposals/unified-config-contract-v0-3.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/global/overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/global/stores-and-tools.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/plugin/overview.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/plugin/response-cache.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/plugin/semantic-cache.md
Due: md-fmt

Retire the dashboard security policy surface
  .github/workflows/ci-changes.yml
  dashboard/README.md
  dashboard/backend/auth/middleware.go
  dashboard/backend/auth/middleware_test.go
  dashboard/backend/auth/permission_store.go
  dashboard/backend/auth/schema.go
  dashboard/backend/auth/schema_test.go
  dashboard/backend/auth/store.go
  dashboard/backend/auth/store_test.go
  dashboard/backend/handlers/deploy_merge_edge_test.go
  dashboard/backend/handlers/deploy_merge_test.go
  dashboard/backend/handlers/security_policy.go
  dashboard/backend/handlers/security_policy_apply.go
  dashboard/backend/handlers/security_policy_canonical_test.go
  dashboard/backend/handlers/security_policy_config_validation.go
  dashboard/backend/handlers/security_policy_config_validation_test.go
  dashboard/backend/handlers/security_policy_edge_test.go
  dashboard/backend/handlers/security_policy_test.go
  dashboard/backend/handlers/security_retired.go
  dashboard/backend/handlers/security_retired_test.go
  dashboard/backend/router/core_routes.go
  dashboard/backend/router/security_retired_routes_test.go
  dashboard/frontend/e2e/layout-nav.spec.ts
  dashboard/frontend/e2e/security-policy-responsive.spec.ts
  dashboard/frontend/e2e/support/auth.ts
  dashboard/frontend/src/app/AuthenticatedAppRoutes.tsx
  dashboard/frontend/src/app/routeLoaders.ts
  dashboard/frontend/src/app/routeManifest.ts
  dashboard/frontend/src/components/LayoutMobileNavigation.test.tsx
  dashboard/frontend/src/components/LayoutNavSupport.ts
  dashboard/frontend/src/pages/SecurityPolicyPage.module.css
  dashboard/frontend/src/pages/SecurityPolicyPage.tsx
  dashboard/frontend/src/pages/enterprisePermissionSurfaces.test.tsx
  dashboard/frontend/src/utils/accessControl.test.ts
  dashboard/frontend/src/utils/accessControl.ts
  e2e/pkg/testmatrix/testcases.go
  e2e/testcases/security_policy_apply.go
  tools/agent/e2e-profile-map.yaml
  website/docs/installation/security-hardening.md
Due: go-fmt, md-fmt, yaml-and-yml-fmt

[Docs][CI/Build] Sync zh-Hans translation staleness status (#2637)
  .github/workflows/check-translation-staleness.yml
  .github/workflows/security-scan.yml
  tools/make/docs.mk
  tools/security/ast_security_scanner.py
  tools/security/test_ast_security_scanner.py
  website/README.md
  website/i18n/README.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/decision/composite.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/global/overview.md
  website/scripts/check-translation-sync.sh
  website/scripts/check-translation-sync.test.sh
Due: md-fmt, yaml-and-yml-fmt

[CI/Build] Fix supply-chain security scan for fork PRs under checkout v4.4.0 (#2630)
  .github/workflows/security-scan.yml
Due: yaml-and-yml-fmt

[Router] vectorstore: thread context into Embedder interface (#2535)
  config/config.yaml
  deploy/helm/semantic-router/values.yaml
  e2e/profiles/rag-hybrid-search/values.yaml
  src/semantic-router/pkg/apiserver/route_vectorstore_search.go
  src/semantic-router/pkg/apiserver/runtime_globals_test.go
  src/semantic-router/pkg/config/vectorstore.go
  src/semantic-router/pkg/extproc/req_filter_rag_vectorstore.go
  src/semantic-router/pkg/extproc/router_runtime_services_test.go
  src/semantic-router/pkg/routerruntime/vectorstore_runtime.go
  src/semantic-router/pkg/vectorstore/candle_embedder.go
  src/semantic-router/pkg/vectorstore/integration_test.go
  src/semantic-router/pkg/vectorstore/pipeline.go
  src/semantic-router/pkg/vectorstore/pipeline_embedder_ctx_test.go
  src/semantic-router/pkg/vectorstore/pipeline_lifecycle_test.go
  src/semantic-router/pkg/vectorstore/pipeline_test.go
Due: go-fmt, yaml-and-yml-fmt

[CI/Build] align Mergify queue_conditions with merge_conditions for in-place checks (#2626)
  .mergify.yml
Due: yaml-and-yml-fmt

[Docs] remove Star History section from README (#2643)
  README.md
Due: md-fmt

[Router] add entrypoints and multi-recipe routing config contract (#2612)
  config/README.md
  config/config.yaml
  docs/agent/plans/README.md
  docs/agent/plans/pl-0038-entrypoints-recipes.md
  src/semantic-router/pkg/config/canonical_config.go
  src/semantic-router/pkg/config/canonical_export.go
  src/semantic-router/pkg/config/canonical_recipes.go
  src/semantic-router/pkg/config/canonical_recipes_test.go
  src/semantic-router/pkg/config/config.go
  src/semantic-router/pkg/config/docs_contract_recipes_test.go
  src/semantic-router/pkg/config/recipes.go
  src/semantic-router/pkg/config/reference_config_contract_test.go
  src/semantic-router/pkg/config/reference_config_public_surface_test.go
  tools/agent/repo-manifest.yaml
  website/docs/installation/configuration.md
  website/docs/proposals/unified-config-contract-v0-3.md
  website/docs/tutorials/global/entrypoints-and-recipes.md
  website/sidebars.ts
Due: go-fmt, md-fmt, yaml-and-yml-fmt

chore(website): refresh contributor leaderboard data (#2635)
  website/src/data/contributorRank.generated.ts
Due: none

refactor: remove title from navbar configuration (#2622)
  website/i18n/zh-Hans/docusaurus-theme-classic/navbar.json
Due: none

style: add padding-top to viewport for improved layout (#2624)
  website/src/components/TestimonialsRail/index.module.css
Due: none

[Docs] fix markdownlint violations in SECURITY.md (#2657)
  SECURITY.md
Due: md-fmt

[CI/Build] convert operator-ci to tiered profile and require its checks in merge gate (#2633)
  .github/workflows/ci-changes.yml
  .github/workflows/operator-ci.yml
  .mergify.yml
Due: yaml-and-yml-fmt

[Router] persist HaluGate NLI span detail in Router Replay (#2609)
  src/semantic-router/pkg/extproc/recorder.go
  src/semantic-router/pkg/routerreplay/recorder.go
  src/semantic-router/pkg/routerreplay/recorder_test.go
  src/semantic-router/pkg/routerreplay/store/memory.go
  src/semantic-router/pkg/routerreplay/store/milvus.go
  src/semantic-router/pkg/routerreplay/store/postgres.go
  src/semantic-router/pkg/routerreplay/store/postgres_record_row.go
  src/semantic-router/pkg/routerreplay/store/qdrant.go
  src/semantic-router/pkg/routerreplay/store/redis.go
  src/semantic-router/pkg/routerreplay/store/store.go
Due: go-fmt

Merge pull request #2651 from arijitroy003/fix/add-security-md
  SECURITY.md
Due: md-fmt

[Router] close management API Phase 2 redaction gaps (#2463) (#2661)
  config/config.yaml
  src/semantic-router/pkg/apiserver/config_redact.go
  src/semantic-router/pkg/apiserver/config_redact_test.go
  src/semantic-router/pkg/apiserver/middleware.go
  src/semantic-router/pkg/apiserver/server.go
  src/semantic-router/pkg/config/management_api.go
  src/semantic-router/pkg/config/reference_config_global_test.go
  src/semantic-router/pkg/k8s/testdata/output/01-basic.yaml
  src/semantic-router/pkg/k8s/testdata/output/02-keyword-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/03-embedding-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/04-domain-only.yaml
  src/semantic-router/pkg/k8s/testdata/output/05-keyword-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/06-keyword-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/07-domain-embedding.yaml
  src/semantic-router/pkg/k8s/testdata/output/08-keyword-embedding-domain.yaml
  src/semantic-router/pkg/k8s/testdata/output/09-keyword-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/10-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/11-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/12-keyword-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/13-keyword-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/14-domain-embedding-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/15-keyword-embedding-domain-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/16-keyword-embedding-domain-no-plugin.yaml
  src/semantic-router/pkg/k8s/testdata/output/17-embedding-multimodal.yaml
Due: go-fmt, yaml-and-yml-fmt

[Docs] add Benchmarking guide mapping every suite (#2677)
  README.md
  bench/README.md
  perf/README.md
  website/docs/benchmarking/overview.md
  website/sidebars.ts
Due: md-fmt

[Docs] enhance theme-doc-version-badge styling for improved visibility (#2660)
  website/src/css/docs.css
Due: none

[Docs] Sync stale zh-Hans installation and projection documentation (#2663)
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/agentgateway.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/ai-gateway.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/gateway-api-inference-extension.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/operator.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/installation/k8s/streamed-extproc.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/projection/scores.md
Due: md-fmt

[Docs] Add Chinese translations for experience, request parameters, tool selection, projection traces, and reask signal tutorials (#2701)
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/learning/experience.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/plugin/request-params.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/plugin/tool-selection.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/projection/traces.md
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/tutorials/signal/learned/reask.md
Due: md-fmt

[Website] Simplify primary nav and densify Community / Research pages (#2698)
  website/docusaurus.config.ts
  website/src/components/community/CommunityLayout/index.tsx
  website/src/components/community/CommunityLayout/styles.module.css
  website/src/components/community/CommunityMemberCard/index.tsx
  website/src/components/community/CommunityMemberCard/styles.module.css
  website/src/components/research/ResearchLayout/index.tsx
  website/src/components/research/ResearchLayout/styles.module.css
  website/src/components/site/WebsiteMegaNav/index.module.css
  website/src/components/site/WebsiteMegaNav/index.tsx
  website/src/components/site/WebsiteMegaNav/navigation.ts
  website/src/data/contributorRank.generated.ts
  website/src/pages/community/code-of-conduct.tsx
  website/src/pages/community/community-page.module.css
  website/src/pages/community/contributing.tsx
  website/src/pages/community/contributors.module.css
  website/src/pages/community/contributors.tsx
  website/src/pages/community/governance.module.css
  website/src/pages/community/governance.tsx
  website/src/pages/community/steering-committee.module.css
  website/src/pages/community/steering-committee.tsx
  website/src/pages/community/team.module.css
  website/src/pages/community/team.tsx
  website/src/pages/community/work-groups.module.css
  website/src/pages/community/work-groups.tsx
  website/src/pages/publications.js
  website/src/pages/publications.module.css
Due: js-lint

[Docs][CI/Build] fix silently zeroed leaderboard review stats + refresh data (#2702)
  website/scripts/generate-contributor-rank.mjs
  website/src/data/contributorRank.generated.ts
Due: none
